<div class="profile_topbar">

    <div class="container">
        <div class="section__group row">
            <div class="col-md-2 profile_topbar__image">
                <img src="http://placehold.it/160x160"/>
            </div>

            <div class="col-md-10 profile_topbar__column">
                <div class="context-nav group-context-nav field-group-context_nav"><span
                        class="context-nav__label">Department</span>
                    <div class="context-nav__items">
                        <span class="context-nav__item"><a href="#">Trade</a></span>
                        <span class="context-nav__item"><a href="#">European Anti-Fraud Office</a></span>
                    </div>
                </div>

                <button class="btn btn-collapse" data-target="#collapse" data-toggle="collapse">
                    <span class="toggling-text">Show</span>
                    <span class="icon icon--blue-dark icon--down"></span>
                </button>
            </div>
        </div>
    </div>

    <div id="collapse" class="profile_topbar__expander">
        <div class="container">
            Expander content
        </div>
    </div>
</div>
