{% apply spaceless %}

{#
  Parameters:
  - "variant" (string) (default: 'info'): could be 'info, 'success', 'warning' or 'error'
  - "icon" (object of type "icon") (default: {})
  - "sr_icon" (string) (default: ''): additional label for the icon; for screen readers
  - "title" (string) (default: '')
  - "description" (string) (default: '')
  - "links" (array): An array of ECL links objects
  - "close" (object of type "button") (default: {}): close button (optional)
  - "extra_classes" (optional) (string) (default: '') Extra classes (space separated) for the select
  - "extra_attributes" (optional) (array) (default: []) Extra attributes for select
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (optional) (string) Attribute value, eg: 'data-test-1'

  Blocks:
  - "description": content of the notification
#}

{# Internal properties #}

{% set _variant = variant|default('info') %}
{% set _icon = icon|default({}) %}
{% set _sr_icon = sr_icon|default('') %}
{% set _title = title|default('') %}
{% set _close = close|default({}) %}
{% set _links = links|default([]) %}
{% set _description = description|default('') %}
{% set _css_class = 'ecl-notification' %}
{% set _extra_attributes = 'data-ecl-auto-init="Notification"' %}

{# Internal logic - Process properties #}

{% if _variant is not empty %}
  {% set _css_class = _css_class ~ ' ecl-notification--' ~ _variant %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div
  class="{{ _css_class }}"
  data-ecl-notification
  role="alert"
  {{ _extra_attributes|raw }}
>
{% if _variant == 'warning' and _icon is not empty and _icon.name is defined and _icon.name == 'warning' %}
  <span class="ecl-notification__icon-background"></span>
{% endif %}
  {% include '@ecl/icon/icon.html.twig' with {
    icon: _icon,
    as_image: true,
    extra_accessibility: not _sr_icon ? {} : {
      title: _sr_icon,
    },
    extra_classes: 'ecl-notification__icon',
  } only %}
  <div class="ecl-notification__content">
  {% if _close is not empty %}
    {% include '@ecl/button/button.html.twig' with _close|merge({
      type: 'button',
      variant: 'tertiary',
      extra_classes: 'ecl-notification__close',
      extra_attributes: [{
        name: 'data-ecl-notification-close',
      }],
    }) only %}
  {% endif %}
  {% if _title is not empty %}
    <div class="ecl-notification__title">{{ _title }}</div>
  {% endif %}
  {% if _description is not empty %}
    <div class="ecl-notification__description">{{ _description }}</div>
  {% endif %}  
  {% if _links is not empty and _links is iterable %}
    {% for _link in _links %}
    <div class="ecl-notification__link">
      {% include '@ecl/link/link.html.twig' with _link only %}
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>

{% endapply %}
