<form class="search-form">
  <div class="input-group">
    <label class="search-form__textfield-wrapper">
      <span class="sr-only">Search this website</span>
      <input type="search" class="search-form__textfield form-control" size="60" maxlength="128" title="Search">
    </label>
    <span class="search-form__btn-wrapper input-group-btn">
      <button class="search-form__btn btn btn-primary btn-search" value="Search" type="submit">Search</button>
    </span>
  </div>
</form>
