<form class="ecl-search-form">
  <div class="ecl-input-group">
    <label class="ecl-search-form__textfield-wrapper">
      <span class="ecl-sr-only">Search this website</span>
      <input type="search" class="ecl-search-form__textfield ecl-form-control" size="60" maxlength="128" title="Search">
    </label>
    <span class="ecl-search-form__btn-wrapper ecl-input-group-btn">
      <button class="ecl-search-form__btn btn btn-primary btn-search" value="Search" type="submit">Search</button>
    </span>
  </div>
</form>
