/**
 * Colorize utilities
 *
 * Deprecated
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-utility-colorize() {
  @each $key, $value in $ecl-colors {
    // Filter out yellow colors (text should not be yellow)
    /* stylelint-disable */
    @if not str-index($key, 'yellow-') {
      .ecl-u-color-#{$key} {
        color: $value;
        fill: $value;
      }
    }
    /* stylelint-enable */
  }

  .ecl-u-color-primary {
    color: $ecl-color-primary;
    fill: $ecl-color-primary;
  }

  .ecl-u-color-secondary {
    color: $ecl-color-secondary;
    fill: $ecl-color-secondary;
  }

  .ecl-u-color-shade {
    color: $ecl-color-text;
    fill: $ecl-color-text;
  }

  .ecl-u-color-info {
    color: $ecl-color-info;
    fill: $ecl-color-info;
  }

  .ecl-u-color-warning {
    color: $ecl-color-warning;
    fill: $ecl-color-warning;
  }

  .ecl-u-color-success {
    color: $ecl-color-success;
    fill: $ecl-color-success;
  }

  .ecl-u-color-error {
    color: $ecl-color-error;
    fill: $ecl-color-error;
  }

  .ecl-u-color-white {
    color: #fff;
    fill: #fff;
  }
}

// Use mixin
@include exports('ec-utility-colorize') {
  @include ecl-utility-colorize;
}
