<div class="section-styleguide-random">This is a random element preceding the section component, the margin below is given by the section</div>
<div class="section section-styleguide">
  <div class="section__group section__group-styleguide">
    <p>First child section__group element</p>
  </div>
  <div class="section__group section__group-styleguide">
    <p>Section__group element</p>
  </div>
  <div class="section__group section__group-styleguide">
    <p>Last child section__group element</p>
  </div>
</div>
<div class="section section-styleguide">
  <div class="section__group section__group-styleguide">
    <p>Single child section__group element</p>
  </div>
</div>
<div class="section-styleguide-random">This is a random element following the section component, the upper margin is given by the section</div>
