@use "sass:map";
@use '@ecl/ec-theme-default/maps/color';
@use '@ecl/ec-theme-default/maps/spacing';
@use '@ecl/ec-theme-default/maps/typography';
@use '@ecl/ec-theme-default/maps/layout';

$_header-bg-color: map.get(color.$ecl-color, 'grey-10');
$_header-tabs-border-width: 4px;
$_border-color: map.get(color.$ecl-color, 'grey-100');
$_border-width: 1px;
$_border-color-hover: map.get(color.$ecl-color, 'blue-100');
$_border-color-focus: map.get(color.$ecl-color, 'yellow-100');
$_border-width-focus: 3px;
$_arrow-width: 2.75rem;

.header {
  background-color: $_header-bg-color;
  margin: 0;
  padding-top: map.get(spacing.$ecl-spacing, '2xl');
}

.header__page-title {
  color: map.get(color.$ecl-color, 'grey-100');
  font: map.get(typography.$ecl-font, '5xl');
  margin: 0;
  padding-bottom: map.get(spacing.$ecl-spacing, '2xl');
}

.header__section-header {
  color: map.get(color.$ecl-color, 'grey-100');
  font: map.get(typography.$ecl-font, 'm');
  margin: 0 0 map.get(spacing.$ecl-spacing, 'xs');
  padding: 0;
}

.header__tabs {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;

  :global(.no-js) & {
    display: flex;
  }
}

.header__tabs-item {
  border-bottom: $_header-tabs-border-width solid transparent;
  color: #000;
  display: flex;
  font: map.get(typography.$ecl-font, 'm');
  font-weight: map.get(typography.$ecl-font-weight, 'bold');
  margin-right: map.get(spacing.$ecl-spacing, 'xl');
  padding-bottom: map.get(spacing.$ecl-spacing, 'xs');
  text-decoration: none;
}

.header__tabs-item:hover,
.header__tabs-item:focus {
  background-color: map.get(color.$ecl-color, 'grey-15');
}

.header__tabs-item--active {
  border-bottom: $_header-tabs-border-width solid
    map.get(color.$ecl-color, 'yellow-100');
}

.header__tabs-icon {
  width: 1em;
  height: 1em;
  margin-left: map.get(spacing.$ecl-spacing, 'xs');
}

.select__container {
  background-color: map.get(color.$ecl-color, 'white-100');
  display: inline-flex;
  margin-bottom: map.get(spacing.$ecl-spacing, 's');
  position: relative;
  width: 100%;

  :global(.no-js) & {
    display: none;
  }
}

.select {
  appearance: none;
  background-color: transparent;
  border: $_border-width solid $_border-color;
  border-radius: 0;
  box-sizing: border-box;
  color: map.get(color.$ecl-color, 'grey-100');
  display: block;
  font: map.get(typography.$ecl-font, 'm');
  margin: 0;
  width: 100%;
  padding: calc(#{map.get(spacing.$ecl-spacing, 's')} - #{$_border-width})
    calc(
      #{map.get(spacing.$ecl-spacing, 's')} + #{$_arrow-width} - #{$_border-width}
    )
    calc(#{map.get(spacing.$ecl-spacing, 's')} - #{$_border-width})
    calc(#{map.get(spacing.$ecl-spacing, 's')} - #{$_border-width});
  z-index: 1;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    border-color: $_border-color-hover;
  }

  &:focus {
    border-color: $_border-color-focus;
    border-width: $_border-width-focus;
    outline: none;
    padding: calc(
        #{map.get(spacing.$ecl-spacing, 's')} - #{$_border-width-focus}
      )
      calc(
        #{map.get(spacing.$ecl-spacing, 's')} + #{$_arrow-width} - #{$_border-width-focus}
      )
      calc(#{map.get(spacing.$ecl-spacing, 's')} - #{$_border-width-focus})
      calc(#{map.get(spacing.$ecl-spacing, 's')} - #{$_border-width-focus});
  }
}

.select__icon {
  align-items: center;
  background-color: $_border-color;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: $_arrow-width;
  z-index: 0;
}

.select:hover + .icon {
  background-color: $_border-color-hover;
}
.select:focus + .icon {
  background-color: $_border-color;
}

.select__icon-shape {
  fill: map.get(color.$ecl-color, 'white-100');
  height: 1.25rem;
  transform: rotate(180deg);
  width: 1.25rem;
}

@media screen and (min-width: map.get(layout.$ecl-breakpoint, 'm')) {
  .select__container {
    display: none;
  }

  .header__tabs {
    display: flex;
  }
}
