@import '@ecl/ec-theme-default/index';

$header-bg-color: $ecl-color-grey-10;
$header-tabs-border-width: 4px;

.header {
  background-color: $header-bg-color;
  margin: 0;
  padding-top: $ecl-spacing-xl;
}

.header__page-title {
  color: $ecl-color-grey-100;
  font: $ecl-font-5-xl;
  margin: 0;
  padding-bottom: $ecl-spacing-2-xl;
}

.header__section-header {
  color: $ecl-color-grey-100;
  font: $ecl-font-m;
  margin: 0 0 $ecl-spacing-xs;
  padding: 0;
}

.header__tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__tabs-item {
  border-bottom: $header-tabs-border-width solid transparent;
  color: #000;
  display: block;
  font: $ecl-font-m;
  font-weight: $ecl-font-weight-bold;
  margin-right: $ecl-spacing-xl;
  padding-bottom: $ecl-spacing-xs;
  text-decoration: none;
}

.header__tabs-item:hover,
.header__tabs-item:focus {
  background-color: $ecl-color-grey-15;
}

.header__tabs-item--active {
  border-bottom: $header-tabs-border-width solid $ecl-color-yellow-100;
}
