/**
 * Tag print
 * @define tag
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;

.ecl-tag {
  appearance: none;
  background: none;
  border-width: 0;
  color: var(--cm-on-surface-brand, var(--c-d));
  font: map.get($theme, 'font-print', 's');
  padding: 0;
  text-decoration: none;
}

.ecl-tag__icon {
  display: none;
}

// Tag set
.ecl-tag-set {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  gap: map.get($theme, 'spacing-print', 'xs');
  margin: 0;
  padding: 0;

  .ecl-tag-set__item {
    padding: 0;
  }
}
