<div class="palette-color">
  <div class="palette-color__square" style="background-color: {{ color }}"></div>
</div>
<div class="palette-color__content">
  <h1 class="palette-color__name">${{ name }}</h1>
  <span class="palette-color__code">{{ code }}</span>
</div>
