/*
Splash Page
*/

// Local variables
$table-border: 1px solid #245898;
$padding-splash-xl: 2em; // 52px

.splash-page {
  &__site-header {
    background-color: $white;

    .ecl-logo {
      float: none;
      margin: 16px auto 40px;
      background: url("../images/svg/logo.svg") center center no-repeat;
      background-origin: content-box;

      .no-svg & {
        background: url("../images/png/logo--big.png") center center no-repeat;
      }
    }

    @include media-breakpoint-up(xs) {
      .ecl-logo {
        width: 290px;
        height: 153px;
      }
    }
  }

  &__container {
    position: relative;
  }

  &__content {
    padding-top: 3em;

    h2 {
      display: none;
      padding-top: $padding-splash-xl;
      padding-bottom: $padding-splash-xl;
      font-size: map-get($font-size, 'l');
      color: $white;
      clear: both;
    }
  }

  &__helper-text {
    margin-top: $padding-splash-xl;
    color: $white;
    font-size: map-get($font-size, 's');
    clear: both;

    p {
      max-width: 100%;
    }
  }

  &__btn-language {
    width: 100%;
    margin-bottom: 4px;
    background-color: $white;
    text-align: left; // overriding bootstrap btn class

    &:hover {
      color: $black;
      background-color: $yellow-light;
    }

    &.ecl-icon--check::before {
      display: none;
    }
  }

  &__btn-close {
    display: none;
    position: absolute;
    top: -15px;
    right: 0;
    padding: 0.5em 0 0.5em 1em;
    font-size: map-get($font-size, 's');
    font-weight: normal;
    color: $white;

    &:hover {
      color: $white;
    }

    &::after {
      content: "X";
      float: right;
      display: inline-block;
      width: 1.6em;
      height: 1.6em;
      margin-left: 0.5em;
      border: 1px solid $white;
      border-radius: 1.1em;
      text-align: center;
    }
  }

  &--overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 68, 148, 0.95);
    text-align: left;
    overflow-x: auto;
    z-index: 1000;

    h2 {
      display: block;
    }

    .splash-page__btn-language {
      &.is-active {
        background-color: $yellow-light;
        color: $black;
        box-shadow: none;
      }

      &.ecl-icon--check::before {
        float: right;
        display: block;
      }
    }

    .splash-page__btn-close {
      display: block;
    }
  }
}

// Drupal-specific hacks
// specific to a case of having a page
body {
  &.disablescroll {
    overflow: hidden;
  }
}

.page-splash {
  background-color: rgba(0, 68, 148, 1);
}

.splash-page {
  &__helper-text {
    table {
      width: 100%;
    }

    tbody {
      border-bottom: $table-border;

      tr {
        border-top: $table-border;
        clear: both;

        th {
          min-width: 6em;
          padding-top: 0.6em;
          font-weight: bold;
          vertical-align: top;
        }

        td,
        th {
          padding: 0.6em 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .splash-page__btn-language {
    &:hover {
      color: $black;
      background-color: $yellow-light;
    }
  }
}
