<div class="page-splash">
  <section class="main-content splash-page">
    <a id="main-content" tabindex="-1"></a>
    <header class="site-header splash-page__site-header" role="banner">
      <div class="container">
        <a href="/index_en" class="logo site-header__logo" title="Home - European Commission Beta"></a>
      </div>
    </header>
    <div class="page-content splash-page__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <nav class="splash-page__container">
              <h2 lang="en"><span class="icon icon--generic-lang"></span>Select your language</h2>
              <div class="row">
                <div class="col-sm-6">
                  <a href="#" lang="bg" hreflang="bg" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">български</a>
                  <a href="#" lang="cs" hreflang="cs" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">čeština</a>
                  <a href="#" lang="da" hreflang="da" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">dansk</a>
                  <a href="#" lang="de" hreflang="de" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">Deutsch</a>
                  <a href="#" lang="et" hreflang="et" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">eesti</a>
                  <a href="#" lang="el" hreflang="el" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">ελληνικά</a>
                  <a href="#" lang="en" hreflang="en" rel="alternate" class="btn splash-page__btn-language is-active icon icon--check" data-languagespecific="true">English<span class="sr-only"> (Current language)</span></a>
                  <a href="#" lang="es" hreflang="es" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">español</a>
                  <a href="#" lang="fr" hreflang="fr" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">français</a>
                  <a href="#" lang="ga" hreflang="ga" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">Gaeilge</a>
                  <a href="#" lang="hr" hreflang="hr" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">hrvatski</a>
                  <a href="#" lang="it" hreflang="it" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">Italiano</a>
                </div>
                <div class="col-sm-6">
                  <a href="#" lang="lv" hreflang="lv" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">latviešu</a>
                  <a href="#" lang="lt" hreflang="lt" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">lietuvių</a>
                  <a href="#" lang="hu" hreflang="hu" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">magyar</a>
                  <a href="#" lang="mt" hreflang="mt" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">Malti</a>
                  <a href="#" lang="nl" hreflang="nl" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">Nederlands</a>
                  <a href="#" lang="pl" hreflang="pl" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">polski</a>
                  <a href="#" lang="pt-pt" hreflang="pt" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">português</a>
                  <a href="#" lang="ro" hreflang="ro" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">română</a>
                  <a href="#" lang="sk" hreflang="sk" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">slovenčina</a>
                  <a href="#" lang="sl" hreflang="sl" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">slovenščina</a>
                  <a href="#" lang="fi" hreflang="fi" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">suomi</a>
                  <a href="#" lang="sv" hreflang="sv" rel="alternate" class="btn splash-page__btn-language" data-languagespecific="true">svenska</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
