$ecl-breakpoint: (
  'xs': 0,
  's': 480px,
  'm': 768px,
  'l': 996px,
  'xl': 1140px,
) !default;

$ecl-container: (
  's': 480px,
  'm': 768px,
  'l': 996px,
  'xl': 1140px,
) !default;

$ecl-grid: (
  'gutter': 2rem,
  'columns': 12,
) !default;

$ecl-grid-gutter-width: (
  'xs': map-get($ecl-grid, 'gutter'),
  's': map-get($ecl-grid, 'gutter'),
  'm': map-get($ecl-grid, 'gutter'),
  'lg': map-get($ecl-grid, 'gutter'),
  'xl': map-get($ecl-grid, 'gutter'),
) !default;
