/**
 * Buttons component
 * @define form-label
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-form-label() {
  .ecl-form-label {
    color: $ecl-color-shade;
    display: block;
    font: $ecl-font-s;
    margin: 0;
    padding: 0;
  }

  .ecl-form-label--invalid {
    color: $ecl-color-error;
  }
}
