/**
 * Unordered List component
 * @define unordered-list
 */

@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;

$_text-color: ecl-color('grey-100');

.ecl-unordered-list {
  color: $_text-color;
  font: ecl-font-prolonged('m');
  margin: 0;
}

.ecl-unordered-list__item {
  margin-top: ecl-spacing-print('s');

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-unordered-list--no-bullet,
.ecl-unordered-list--divider {
  list-style: none;
  padding-left: 0;
}

.ecl-unordered-list .ecl-unordered-list {
  margin-top: ecl-spacing-print('s');
}
