/**
 * Unordered list
 * @define unordered-list
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$list: null !default;

.ecl-unordered-list,
%ecl-unordered-list {
  color: map.get($list, 'text-color');
  font: var(--f-m);
  list-style-position: outside;
  list-style-type: map.get($list, 'unordered', 'marker');
  margin: 0;
  padding-inline-start: var(--s-3xl);
}

.ecl-unordered-list__item,
%ecl-unordered-list__item {
  margin-inline-start: var(--s-m);
  margin-top: var(--s-m);
  max-width: var(--max-w);
  padding-inline-start: var(--s-xs);

  &:first-of-type {
    margin-top: var(--s-xs);
  }

  &:last-of-type {
    margin-bottom: var(--s-xs);
  }
}

.ecl-unordered-list .ecl-unordered-list,
.ecl-unordered-list .ecl-ordered-list,
%ecl-unordered-list--nested {
  list-style-type: map.get($list, 'unordered', 'sublist-marker');
  margin-top: var(--s-xs);
  padding-inline-start: calc(var(--s-3xl) - var(--s-m) - var(--s-xs));

  .ecl-unordered-list__item {
    padding-inline-start: 0;
  }
}

// No marker
.ecl-unordered-list--no-marker {
  list-style: none;
  padding-inline-start: 0;

  .ecl-unordered-list {
    list-style-type: none;
    padding-inline-start: var(--s-m);

    .ecl-unordered-list__item {
      padding-inline-start: var(--s-xs);
    }
  }

  // stylelint-disable-next-line no-descending-specificity
  > .ecl-unordered-list__item {
    margin-inline-start: 0;
    padding-inline-start: 0;
  }
}

// Dividers
.ecl-unordered-list--divider {
  list-style: none;
  padding-inline-start: 0;

  // stylelint-disable-next-line no-descending-specificity
  > .ecl-unordered-list__item {
    border-bottom: 1px solid map.get($list, 'divider-color');
    margin-bottom: var(--s-m);
    margin-inline-start: 0;
    padding-bottom: var(--s-m);
    padding-inline-start: 0;

    .ecl-link {
      padding: 0;
    }
  }

  .ecl-unordered-list {
    padding-inline-start: var(--s-m);

    .ecl-unordered-list__item {
      list-style-type: none;
      padding-inline-start: var(--s-xs);
    }
  }
}

.ecl-unordered-list
  .ecl-unordered-list
  .ecl-unordered-list__item:first-of-type {
  margin-top: var(--s-m);
}

.ecl-unordered-list .ecl-unordered-list .ecl-unordered-list__item:last-of-type {
  margin-bottom: 0;
}
