/**
 * Dialog
 * @define dialog
 */

.ecl-dialog {
  background-color: #fff;
  height: auto;
  left: 3%;
  margin: 0;
  overflow-y: auto;
  padding: map-get($ecl-spacing, 'm');
  position: absolute;
  text-align: center;
  width: auto;
  z-index: map-get($ecl-z-index, 'modal');
}

.ecl-dialog__overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: map-get($ecl-z-index, 'highlight');
}

/* Variant */

.ecl-dialog--dark {
  background-color: map-get($ecl-colors, 'grey-100');
}
