/**
 * Dialog
 * @define dialog
 */

.ecl-dialog {
  background-color: #fff;
  display: flex;
  height: 100%;
  left: 0;
  margin: 0;
  padding: map-get($ecl-spacing, 'l');
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: map-get($ecl-z-index, 'modal');
}

.ecl-dialog--transparent {
  background-color: transparent;
}

.ecl-dialog[aria-hidden='true'] {
  display: none;
}

.ecl-dialog__body {
  max-height: 100%;
  overflow: auto;
}

.ecl-dialog__overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: map-get($ecl-z-index, 'highlight');
}

.ecl-dialog__overlay--blue {
  background-color: rgba($ecl-color-primary, 0.95);
}

.ecl-dialog--wide .ecl-dialog__body {
  overflow: initial;
  width: 100%;
}

.ecl-dialog__title {
  clear: both;
  color: #fff;
  font-size: map-get($ecl-font-size, 'l');
  margin: 0;
  padding: 2em 0;
}

@include ecl-media-breakpoint-up('sm') {
  .ecl-dialog {
    height: auto;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .ecl-dialog--wide {
    height: 100%;
    left: 0;
    overflow: auto;
    right: 0;
    top: 0;
    transform: none;
  }
}
