/*
 * Social media follow
 * @define social-media-follow
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-social-media-follow-print() {
  .ecl-social-media-follow {
    margin: 0;
  }

  .ecl-social-media-follow__icon-hover {
    display: none;
  }

  .ecl-social-media-follow__description {
    color: $ecl-color-black;
    font: $ecl-font-prolonged-print-m;
    font-weight: $ecl-font-weight-print-bold;
    margin: 0;
  }

  .ecl-social-media-follow__list {
    list-style: none;
    margin-top: $ecl-spacing-print-l;
    padding-left: 0;
  }

  .ecl-social-media-follow__item {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-m;
    margin-top: $ecl-spacing-print-s;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type a:not(.ecl-link--icon) {
      display: none;
    }
  }

  .ecl-social-media-follow__link {
    align-items: center;
    display: flex;
  }

  .ecl-social-media-follow__icon {
    display: block;
    margin-right: $ecl-spacing-print-s;
  }
}

// Use mixin
@include exports('ec-component-social-media-follow-print') {
  @include ecl-social-media-follow-print();
}
