<div class="facet-tag facet-tag--close">
  <span class="facet-tag__label">Type</span>
  <a class="facet-tag__value" href="#">Item 1.</a>
  <span class="facet-tag__label">Department</span>
  <a class="facet-tag__value" href="#">Item 2.</a>
</div>
