<div class="tags">
  <span class="tags__label">Tags:</span>
  <div class="tags__items">
    <a class="tags__item" href="#">Boot</a>
    <a class="tags__item" href="#">Strap</a>
    <a class="tags__item" href="#">Apple</a>
  </div>
</div>

<!-- Or -->

<div class="tags">
  <span class="tags__label">Tags:</span>
  <div class="tags__items">
    <span class="tags__item">
      <a href="#">Boot</a>
    </span>
    <span class="tags__item">
      <a href="#">Strap</a>
    </span>
    <span class="tags__item">
      <a href="#">Apple</a>
    </span>
  </div>
</div>
