/*
Site switcher

Helps the user choose between political and informational websites.

Markup: html/site-switcher.html

.site-switcher--header - Header modifier
.site-switcher--footer - Footer modifier

Style guide: siteswitcher
*/

.site-switcher {
  @extend %hidden-print;

  display: block;
  background-color: $grey-lightest;
  font-size: map-get($font-size, 's');
}

.site-switcher__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-switcher__option {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  vertical-align: middle;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  & > a {
    display: block;
    width: 100%;
    padding: 0.5em 1.667em;
    line-height: 1.3;
    font-weight: bold;

    &::after,
    &.is-external::after {
      content: none !important;
    }
  }

  &.is-selected {
    background-color: $blue-dark;
    border-left: none;

    & > a {
      color: $white;
    }
  }
}

.site-switcher--header {
  .site-switcher__list {
    &:first-child {
      border-left: 1px solid $grey;
    }
  }

  .site-switcher__option {
    position: relative;

    &.is-selected::after {
      content: " " !important;
      position: absolute;
      top: 95%;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -10px;
      border: 10px solid rgba(0, 68, 148, 0);
      border-top-color: $blue-dark;
      pointer-events: none;
    }
  }
}

.site-switcher--footer {
  border-bottom: 1px solid $grey-lightest;

  .site-switcher__list {
    &:first-child {
      border-left: none;
    }
  }

  .site-switcher__option {
    position: relative;

    &.is-selected::after {
      content: " " !important;
      position: absolute;
      left: 50%;
      bottom: 95%;
      width: 0;
      height: 0;
      margin-left: -10px;
      border: 10px solid rgba(0, 68, 148, 0);
      border-bottom-color: $blue-dark;
      pointer-events: none;
    }
  }
}

@include media-breakpoint-up(md) {
  .site-switcher__option {
    width: auto;
  }

  .site-switcher--footer {
    .site-switcher__list {
      float: right;
    }
  }
}
