{#
  - modifier: can be '','header','footer' (default: '')
  - political: label (default: '')
  - info: label (default: '')
#}

<div class="ecl-site-switcher {{modifier}}">
  <ul class="ecl-site-switcher__list">
      <li class="ecl-site-switcher__option"><a class="ecl-site-switcher__link" href="#">{{ political }}</a></li>
      <li class="ecl-site-switcher__option ecl-site-switcher__option--is-selected"><a class="ecl-site-switcher__link" href="#">{{ info }}</a></li>
  </ul>
</div>
