/*
Site user menu
*/

.site-user-menu__list {
  @extend .reset-lists !optional;

  float: right;
  font-weight: 600;
}

.site-user-menu__option {
  display: inline-block;
  padding: 0.685em 1.333em;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &:last-child {
    padding-right: 0;
  }
}
