/**
* Typography styles
* @define type
*/

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-typography() {
  /*
   * Paragraph
   */
  .ecl-type--paragraph {
    font: $ecl-font-m;
    max-width: 80ch;
  }

  .ecl-type--paragraph-lead {
    font: $ecl-font-l;
    max-width: 80ch;

    @include ecl-media-breakpoint-up('md') {
      font: $ecl-font-xl;
    }
  }
}

// Use mixin
@include exports('ec-style-typography') {
  @include ecl-typography();
}
