{# Internal properties #}

{% set _css_class = 'ecl-form-group' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes%}
{% endif %}

<div class="ecl-form-group">
  {% block form_group content %}
</div>
