/**
 * Page header EC
 * @define page-header
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$page-header: null !default;

.ecl-page-header {
  margin: 0;
}

.ecl-page-header__info {
  margin-bottom: var(--s-m);
  margin-top: calc(var(--s-m) + var(--s-s));
}

.ecl-page-header__breadcrumb {
  padding-top: var(--s-xs);

  + .ecl-page-header__info {
    margin-top: var(--s-l);
  }
}

.ecl-page-header__meta {
  color: var(--c-d);
  display: inline-block;
  font: var(--f-ui-m);
  list-style: none;
  margin: 0;
  padding: 0;
}

.ecl-page-header__meta-item {
  border-inline-end: 1px solid var(--c-p);
  display: inline;
  margin-inline-end: var(--s-xs);
  padding-inline-end: var(--s-xs);
  unicode-bidi: isolate;

  &:first-of-type {
    text-transform: uppercase;
  }

  &:last-child {
    border-inline-end-width: 0;
    margin-inline-end: 0;
    padding-inline-end: 0;
  }
}

.ecl-page-header__title {
  color: map.get($page-header, 'title-color');
  font: map.get($page-header, 'title-font');
  margin-bottom: 0;
}

.ecl-page-header__meta + .ecl-page-header__title {
  margin-top: var(--s-xs);
}

.ecl-page-header__description-container {
  align-items: flex-start;
  display: flex;
  margin-top: var(--s-s);
}

.ecl-page-header__description-thumbnail {
  margin-inline-end: var(--s-m);
  max-width: 120px;
}

.ecl-page-header__description {
  color: map.get($page-header, 'description-color');
  font: map.get($page-header, 'description-font');
  margin-bottom: 0;
  margin-top: 0;
  max-width: 80ch;
}

/*
 * background image variant
 */
.ecl-page-header--image {
  .ecl-page-header__background-container {
    position: relative;
  }

  .ecl-page-header__background {
    display: block;
    height: 10.875rem;
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
  }
}

// DEPRECATED
.ecl-page-header--overlay-dark {
  .ecl-page-header__background-container::before {
    background-color: rgba(map.get($theme, 'color', 'black'), 0.5);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.ecl-page-header--overlay-light {
  .ecl-page-header__background-container::before {
    background-color: rgba(map.get($theme, 'color', 'black'), 0.3);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
