/**
 * Editor button styles
 */

// Import base
@use "sass:map";
@use '@ecl/ec-base/ec-base';
@use "@ecl/ec-theme-default/maps/spacing";
@use "@ecl/ec-theme-default/maps/color";
@use "@ecl/ec-theme-default/maps/typography";

@mixin ecl-editor-button(
  $_border-width: 2px,
  $_outline-width: 3px,
  $_padding-horizontal: map.get(spacing.$ecl-spacing, 'm'),
  $_padding-vertical: map.get(spacing.$ecl-spacing, 's')
) {
  /* stylelint-disable selector-no-qualifying-type */
  .ecl-editor button,
  .ecl-editor input[type='button'],
  .ecl-editor input[type='submit'] {
    appearance: none;
    background: none;
    background-color: map.get(color.$ecl-color, 'blue-100');
    border-width: 0;
    box-sizing: border-box;
    color: map.get(color.$ecl-color, 'white-100');
    display: inline-block;
    font: map.get(typography.$ecl-font, 'm');
    font-weight: map.get(typography.$ecl-font-weight, 'bold');
    margin: 0;
    padding: $_padding-vertical $_padding-horizontal;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      background-color: map.get(color.$ecl-color, 'blue-130');
      text-decoration: none;
    }

    &:focus {
      outline: $_outline-width solid map.get(color.$ecl-color, 'secondary');
      outline-offset: -($_outline-width);
    }
  }
}
