/**
 * Logos
 * @define logo
 */

// Import base and generic
@import '@ecl/ec-base/ec-base';

@mixin ecl-logo() {
  .ecl-logo {
    display: block;
    margin: 0;
  }

  .ecl-logo--horizontal {
    height: 3rem;
    width: 11.25rem;
  }

  .ecl-logo--mute {
    height: 3.75rem;
    width: 7.5rem;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(sm) {
    .ecl-logo--horizontal {
      height: 4.5rem;
      width: 17rem;
    }

    .ecl-logo--mute {
      height: 5.5rem;
      width: 11.25rem;
    }
  }
}

// Use mixin
@include exports('ec-component-logo') {
  @include ecl-logo();
}
