/**
 * Logos
 * @define logo
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-logo() {
  .ecl-logo {
    display: block;
    height: 3rem;
    margin: 0;
    width: 11.25rem;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(sm) {
    .ecl-logo {
      height: 4.5rem;
      width: 17rem;
    }
  }
}

// Use mixin
@include exports('ec-component-logo') {
  @include ecl-logo();
}
