/**
 * Social icons
 * @define icon-social
 */

// Brings in the long list for $ecl-social-icons.
@import './icons-list';

$img-path: '../images/social/';

// Social icons image.
@mixin generate-icon($selector, $img-path, $image, $img-hover, $extra: null, $extra_hover: null) {
  // Ignoring next 2 selectors since the dynamic selector is problematic for the linter.

  /* postcss-bem-linter: ignore */
  #{$selector}::before {
    background: url($img-path + $image) no-repeat $extra;
  }

  /* postcss-bem-linter: ignore */
  #{$selector}:hover::before {
    background-image: url($img-path + $img-hover) $extra_hover;
  }
}

.ecl-icon-social {
  align-items: center;
  display: flex;
  margin: 0;
}

.ecl-icon-social::before {
  content: '';
  display: block;
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.ecl-icon-social--smaller {
  min-height: 1.5rem;

  &::before {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@each $icon, $extra in $ecl-social-icons {
  @include generate-icon('.ecl-icon-social--' + $icon, $img-path, $icon + '.svg', $icon + '_hover.svg', #{$extra});
}
