/**
 * ECL Dropdowns
 * @define dropdowns
 */

.ecl-dropdowns {
  position: relative;

  // collapsed/open part of the dropdown
  &__body {
    background: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    list-style: none;
    margin: 2px 0 0;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
  }
}
