/**
 * ECL Dropdowns
 * @define dropdown
 */

.ecl-dropdown {
  margin: 0;
  position: relative;
}

// BEM mix b/n dropdown and link-block
.ecl-dropdown__link-blocks {
  padding-left: map-get($ecl-spacing, 'xxs') !important;
}

// collapsed/open part of the dropdown
.ecl-dropdown__body {
  background: #fff;
  border: 1px solid #ccc rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  list-style: none;
  padding: map-get($ecl-spacing, 'xxxs') 0;
  position: absolute;
  text-align: left;
  z-index: 1000;
}
