<!-- Button dropdown -->

<div class="ecl-dropdown">
  {% include '@ec-europa/ecl-buttons' with {
    'label': 'Create',
    'extraClass': 'ecl-expandable__button',
    'extraAttributes': [
      { 'name': 'aria-controls', 'value': 'example-button-dropdown'},
      { 'name': 'aria-expanded', 'value': 'false'},
      { 'name': 'id', 'value': 'example-expandable-button' },
      { 'name': 'type', 'value': 'button'},
    ]
  } %}
  {% include '@ec-europa/ecl-link-blocks' with {
    'skipWrapper': true,
    'extraClassLinks': 'ecl-dropdown__body ecl-dropdown__link-blocks',
    'extraAttributesLinks': [
      { 'name': 'id', 'value': 'example-button-dropdown'},
      { 'name': 'aria-labelledby', 'value': 'example-expandable-button'},
      { 'name': 'aria-hidden', 'value': 'true'},
    ]
  } %}
</div>
