/* stylelint-disable no-descending-specificity */

/**
 * Rating field
 * @define rating-field
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_outline-width: null !default;
$_outline-color: null !default;

.ecl-rating-field {
  display: inline-flex;
  flex-direction: row-reverse;

  .ecl-rating-field__input:checked
    ~ .ecl-rating-field__label
    .ecl-rating-field__icon-filled,
  & > .ecl-rating-field__label:hover .ecl-rating-field__icon-filled,
  &
    > .ecl-rating-field__label:hover
    ~ .ecl-rating-field__label
    .ecl-rating-field__icon-filled {
    display: inline-block;
  }

  .ecl-rating-field__input:checked
    ~ .ecl-rating-field__label
    .ecl-rating-field__icon-outline,
  & > .ecl-rating-field__label:hover .ecl-rating-field__icon-outline,
  &
    > .ecl-rating-field__label:hover
    ~ .ecl-rating-field__label
    .ecl-rating-field__icon-outline {
    display: none;
  }
}

.ecl-rating-field__input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Focus, active state
.ecl-rating-field__input:focus,
.ecl-rating-field__input:active {
  + .ecl-rating-field__label {
    outline: $_outline-width solid $_outline-color;
  }
}

.ecl-rating-field__label {
  cursor: pointer;
  margin-right: map.get(theme.$spacing, 'xs');
}

.ecl-rating-field__icon-filled {
  display: none;
  fill: map.get(theme.$color, 'yellow-100');
}

.ecl-rating-field__icon-outline {
  fill: map.get(theme.$color, 'grey-75');
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('s') {
  .ecl-rating-field__label {
    margin-right: map.get(theme.$spacing, '2xs');
  }
}
