/**
 * Radio component
 * @define radio
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-radio(
  $label-color: $ecl-color-grey-100,
  $label-color-disabled: $ecl-color-grey-50,
  $box-size: 1.25rem,
  $box-border-width: 2px,
  $box-border-width-checked: 7px,
  $box-border-color: $ecl-color-grey-50,
  $box-border-color-disabled: $ecl-color-grey-50,
  $box-border-color-checked: $ecl-color-blue-100,
  $box-background: $ecl-color-white-100,
  $box-background-disabled: $ecl-color-grey-5,
  $outline-width: 3px,
  $outline-color: $ecl-color-yellow-100
) {
  .ecl-radio {
    box-sizing: border-box;
    margin: 0;
  }

  .ecl-radio__input {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .ecl-radio__label {
    align-items: center;
    color: $label-color;
    display: inline-flex;
    font: $ecl-font-m;
  }

  .ecl-radio__box {
    background-color: $box-background;
    border: $box-border-width solid $box-border-color;
    border-radius: 50%;
    display: block;
    height: calc(#{$box-size} - (#{$box-border-width} * 2));
    margin-right: $ecl-spacing-s;
    position: relative;
    width: calc(#{$box-size} - (#{$box-border-width} * 2));
  }

  .ecl-radio__help {
    margin-top: $ecl-spacing-xs;
  }

  // Disabled
  .ecl-radio__label--disabled,
  .ecl-radio__label--readonly,
  .ecl-radio__label[disabled],
  .ecl-radio__label[readonly] {
    color: $label-color-disabled;
    cursor: not-allowed;

    .ecl-radio__box {
      background-color: $box-background-disabled;
      border-color: $box-border-color-disabled;
    }
  }

  // Checked
  .ecl-radio__input:checked + .ecl-radio__label {
    .ecl-radio__box {
      border-color: $box-border-color-checked;
      border-width: $box-border-width-checked;
      height: calc(#{$box-size} - (#{$box-border-width-checked} * 2));
      width: calc(#{$box-size} - (#{$box-border-width-checked} * 2));
    }
  }

  // Focus
  .ecl-radio__input:focus + .ecl-radio__label {
    .ecl-radio__box::before {
      // We can't use outline as this is a rounded box
      border: $outline-width solid $outline-color;
      border-radius: 100%;
      content: '';
      display: block;
      height: calc(#{$box-size} - (#{$outline-width} * 2));
      left: -#{$box-border-width};
      position: absolute;
      top: -#{$box-border-width};
      width: calc(#{$box-size} - (#{$outline-width} * 2));
    }
  }

  .ecl-radio__input:checked:focus + .ecl-radio__label {
    .ecl-radio__box::before {
      left: -#{$box-border-width-checked};
      top: -#{$box-border-width-checked};
    }
  }
}

// Use mixin
@include exports('ec-component-form-radio') {
  @include ecl-radio();
}
