/**
 * Logos
 * @define logo
 */

// Import base and generic
@import '@ecl/eu-base/eu-base';

@mixin ecl-logo() {
  // Default EU logo.
  .ecl-logo {
    background: url($ecl-assets-path+'images/logo.svg') no-repeat;
    background-size: contain;
    display: block;
    height: 41px;
    width: 62px;
  }

  .ecl-logo--big {
    height: 80px;
    width: 118px;
  }

  // EU logotype
  //
  // EU logo with text.

  // Sets language-specific background image on .ecl-logo--logotype element nested
  // in {{modifier_class}} modifier.
  /* stylelint-disable-next-line order/order */
  @include logo-background-languages(
    $ecl-assets-path + 'images/logo/logo--',
    '.svg'
  );

  .ecl-logo--logotype {
    height: 41px;
    width: 234px;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(sm) {
    .ecl-logo--logotype {
      width: 290px;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    .ecl-logo {
      height: 52px;
      width: 78px;
    }

    .ecl-logo--big {
      height: 112px;
      width: 166px;
    }

    .ecl-logo--logotype {
      height: 56px;
      width: 325px;
    }
  }
}

/**
 * EU logo
 */

// Language generator.
@mixin logo-background-languages(
  $file_path,
  $file_extension,
  $logo_class: ecl-logo--logotype
) {
  @each $item in $ecl-languages {
    /* stylelint-disable */
    .language-#{$item} {
      .#{$logo_class} {
        background-image: url('#{$file_path}#{$item}#{$file_extension}');
      }

      @media print {
        .#{$logo_class}::before {
          content: url('#{$file_path}#{$item}#{$file_extension}');
        }
      }
    }
    /* stylelint-enable */
  }
}

// Use mixin
@include exports('eu-component-logo') {
  @include ecl-logo();
}
