<div class="page-header {{modifier_class}}">
  <div class="container-fluid page-header__hero-title">
    <p>The <strong>European Commission</strong> is the European Union’s executive body. It represents the interests of the European Union as a whole.</p>
  </div>
</div>
