.ecl-p {
  line-height: 1.66;
  max-width: 32em;
}

.ecl-p--l {
  font-size: map-get($font-size, 'l');
}

.ecl-p--m {
  font-size: map-get($font-size, 'm');
}

.ecl-p--s {
  font-size: map-get($font-size, 's');
}

.ecl-p--xs {
  font-size: map-get($font-size, 'xs');
}

.ecl-p--xxs {
  font-size: map-get($font-size, 'xxs');
}

.text-small {
  font-size: map-get($font-size, 'xs');
}
