html {
  direction: rtl;
}

// Carousel
.ecl-carousel__next {
  left: 0;
  right: auto;
}

.ecl-carousel__prev {
  left: auto;
  right: 0;
}

// Gallery
.ecl-gallery__image-icon {
  left: 0;
  right: auto;
}

// Hero banner
.ecl-hero-banner--full-width {
  left: auto;
  right: 50%;
}

// Icons
.ecl-icon--rotate-90 {
  transform: rotate(270deg);
}

.ecl-icon--rotate-270 {
  transform: rotate(90deg);
}

// Media container
.ecl-media-container--full-width {
  left: auto;
  right: 50%;
}

// Page banner
.ecl-page-banner--full-width {
  left: auto;
  right: 50%;
}
