@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'tag' with
  (
    $_background-color: map.get(theme.$color, 'blue-100'),
    $_background-color-hover: map.get(theme.$color, 'blue-80'),
    $_border-color-focus: map.get(theme.$color, 'accent-blue-100'),
    $_border-size-focus: 2px
  );
