/**
 * Tag print
 * @define tag
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;

.ecl-tag {
  appearance: none;
  background: none;
  border-width: 0;
  color: var(--c-d);
  font: map.get($theme, 'font-print', 's');
  padding: 0;
  text-decoration: none;
}

.ecl-tag__icon {
  display: none;
}
