/**
 * Icon component
 * @define icon
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/icon';
@use '@ecl/theme-dev/maps/color';

.ecl-icon {
  fill: currentColor;
  margin: 0;
  transform: scaleX(1) scaleY(1) rotateZ(0deg);
}

.ecl-icon--2xs {
  height: map.get(icon.$icon-print, '2xs');
  width: map.get(icon.$icon-print, '2xs');
}

.ecl-icon--xs {
  height: map.get(icon.$icon-print, 'xs');
  width: map.get(icon.$icon-print, 'xs');
}

.ecl-icon--s {
  height: map.get(icon.$icon-print, 's');
  width: map.get(icon.$icon-print, 's');
}

.ecl-icon--m {
  height: map.get(icon.$icon-print, 'm');
  width: map.get(icon.$icon-print, 'm');
}

.ecl-icon--l {
  height: map.get(icon.$icon-print, 'l');
  width: map.get(icon.$icon-print, 'l');
}

.ecl-icon--xl {
  height: map.get(icon.$icon-print, 'xl');
  width: map.get(icon.$icon-print, 'xl');
}

.ecl-icon--2xl {
  height: map.get(icon.$icon-print, '2xl');
  width: map.get(icon.$icon-print, '2xl');
}

.ecl-icon--fluid {
  height: map.get(icon.$icon-print, 'fluid');
  width: map.get(icon.$icon-print, 'fluid');
}

.ecl-icon--primary {
  fill: map.get(color.$color, 'primary');
}

.ecl-icon--inverted {
  fill: map.get(color.$color, 'white-100');
}

.ecl-icon--rotate-90 {
  transform: rotateZ(90deg);
}

.ecl-icon--rotate-180 {
  transform: rotateZ(180deg);
}

.ecl-icon--rotate-270 {
  transform: rotateZ(270deg);
}

.ecl-icon--flip-horizontal {
  transform: scaleX(-1);
}

.ecl-icon--flip-vertical {
  transform: scaleY(-1);
}
