/**
 * Icon component
 * @define icon
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;

.ecl-icon {
  fill: currentcolor;
  margin: 0;
  transform: scaleX(1) scaleY(1) rotateZ(0deg);
}

.ecl-icon--2xs {
  height: map.get($theme, 'icon-print', '2xs');
  width: map.get($theme, 'icon-print', '2xs');
}

.ecl-icon--xs {
  height: map.get($theme, 'icon-print', 'xs');
  width: map.get($theme, 'icon-print', 'xs');
}

.ecl-icon--s {
  height: map.get($theme, 'icon-print', 's');
  width: map.get($theme, 'icon-print', 's');
}

.ecl-icon--m {
  height: map.get($theme, 'icon-print', 'm');
  width: map.get($theme, 'icon-print', 'm');
}

.ecl-icon--l {
  height: map.get($theme, 'icon-print', 'l');
  width: map.get($theme, 'icon-print', 'l');
}

.ecl-icon--xl {
  height: map.get($theme, 'icon-print', 'xl');
  width: map.get($theme, 'icon-print', 'xl');
}

.ecl-icon--2xl {
  height: map.get($theme, 'icon-print', '2xl');
  width: map.get($theme, 'icon-print', '2xl');
}

.ecl-icon--fluid {
  height: map.get($theme, 'icon-print', 'fluid');
  width: map.get($theme, 'icon-print', 'fluid');
}

.ecl-icon--primary {
  fill: var(--c-p);
}

.ecl-icon--inverted {
  fill: map.get($theme, 'color', 'white');
}

.ecl-icon--rotate-90 {
  transform: rotateZ(90deg);
}

.ecl-icon--rotate-180 {
  transform: rotateZ(180deg);
}

.ecl-icon--rotate-270 {
  transform: rotateZ(270deg);
}

.ecl-icon--flip-horizontal {
  transform: scaleX(-1);
}

.ecl-icon--flip-vertical {
  transform: scaleY(-1);
}
