<div class="ecl-footers__site-identity">
  <div class="ecl-container">
    <div class="section__body">
      <div class="ecl-row">
        <div class="ecl-col-sm">
          <h4 class="ecl-h4"><a href="#">Digital single market</a></h4>
        </div>
        <div class="ecl-col-sm">
          <h4 class="ecl-h4">Follow us:</h4>
          <ul class="">
            <li class="">
              <a href="#" class="ecl-icon ecl-icon--facebook" target="_blank">Facebook</a>
            </li>
            <li class="">
              <a href="#" class="ecl-icon ecl-icon--twitter">Twitter</a>
            </li>
            <li class="">
              <a href="#" class="ecl-icon ecl-icon--external">Other social media</a>
            </li>
          </ul>
        </div>
        <div class="ecl-col-sm">
          <ul class="">
            <li class="">
              <a href="#">Contact</a>
            </li>
            <li class="">
              <a href="#">Site map</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
