// Link
$link-color: null !default;
$link-color-hover: null !default;
$link-color-visited: null !default;
$link-color-active: null !default;
$link-outline-color: null !default;
$link-outline-width: null !default;
$link-outline-radius: null !default;
$link-inverted-color: null !default;
$link-inverted-color-hover: null !default;
$link-inverted-color-visited: null !default;
$link-inverted-color-active: null !default;
$link-inverted-outline-color: null !default;
