@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$language-switcher: null !default;
$language-list: null !default;

.ecl-site-header__language {
  margin: 0;
  position: static;
}

@mixin arrow-up {
  background-color: map.get($theme, 'color', 'white');
  border: map.get($language-switcher, 'arrow-border');
  box-shadow: map.get($language-switcher, 'arrow-shadow');
  clip-path: polygon(
    -#{map.get($language-switcher, 'shadow-size')} -#{map.get(
        $language-switcher,
        'shadow-size'
      )},
    calc(100% + #{map.get($language-switcher, 'shadow-size')}) -#{map.get(
        $language-switcher,
        'shadow-size'
      )},
    calc(100% + #{map.get($language-switcher, 'shadow-size')})
      calc(100% + #{map.get($language-switcher, 'shadow-size')})
  );
  content: '';
  height: map.get($language-switcher, 'arrow-size');
  left: 50%;
  margin-left: calc(-#{map.get($language-switcher, 'arrow-size')} / 2);
  position: absolute;
  top: map.get($language-switcher, 'arrow-top');
  transform: translate(0%, -50%) rotate(-45deg);
  width: map.get($language-switcher, 'arrow-size');
}

.ecl-site-header__language-container {
  background-color: map.get($theme, 'color', 'white');
  box-shadow: map.get($language-switcher, 'shadow');
  color: map.get($language-list, 'color');
  font: var(--f-m);
  left: 0;
  height: auto;
  margin-top: var(--s-s);
  padding: map.get($language-list, 'container-padding');
  position: absolute;
  right: 0;
  width: auto;
  z-index: map.get($theme, 'z-index', 'overlay');

  // arrow with border shadow
  &::before {
    @include arrow-up;
  }
}

.ecl-site-header__language-container--push-right::before,
.ecl-site-header__language-container--full::before {
  left: auto;
  right: var(--ecl-language-arrow-position);
}

.ecl-site-header__language-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ecl-site-header__language-title {
  font: map.get($language-list, 'header-font-mobile');
}

.ecl-site-header__language-close {
  position: absolute;
  right: map.get($language-switcher, 'close-right');
  top: map.get($language-switcher, 'close-top');
}

.ecl-site-header__language-content {
  display: flex;
  flex-direction: column;
}

.ecl-site-header__language-category-title {
  font: map.get($language-list, 'category-title-font');
  font-weight: map.get($language-list, 'category-title-font-weight');
  padding: map.get($language-list, 'category-title-padding');
}

.ecl-site-header__language-category:nth-child(2) {
  border-top: map.get($language-list, 'category-separator');
  margin-top: map.get($language-list, 'category-stack-margin');
}

.ecl-site-header__language-list {
  list-style: none;
  margin: map.get($language-list, 'list-margin');
  padding: 0;
}

.ecl-site-header__language-link {
  align-items: baseline;
  display: flex;
  padding: map.get($language-list, 'item-padding');

  &:focus-visible {
    outline-offset: -2px;
  }

  &:hover {
    text-decoration: none;
  }
}

.ecl-site-header__language-link-code {
  color: map.get($language-list, 'code-color');
  font: var(--f-m);
  font-weight: map.get($language-list, 'code-font-weight');
  display: inline-block;
  margin-inline-end: var(--s-2xs);
  text-transform: uppercase;
  width: map.get($language-list, 'code-width');
}

.ecl-site-header__language-link:hover .ecl-site-header__language-link-label,
.ecl-site-header__language-link:focus-visible
  .ecl-site-header__language-link-label {
  text-decoration: underline;
}

.ecl-site-header__language-link--active {
  background-color: map.get($language-list, 'item-active-background');
  box-shadow: map.get($language-list, 'item-active-shadow');
  color: map.get($language-list, 'item-active-color');

  .ecl-site-header__language-link-code {
    font-weight: map.get($language-list, 'code-active-font-weight');
  }
}

.ecl-site-header__language-link:hover.ecl-site-header__language-link--active {
  color: map.get($language-list, 'item-active-color');

  .ecl-site-header__language-link-label {
    text-decoration: none;
  }
}

@include breakpoints.up('m') {
  .ecl-site-header__language {
    position: relative;
  }

  .ecl-site-header__language-container {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  .ecl-site-header__language-title {
    font: map.get($language-list, 'header-font-desktop');
  }

  // Horizontal position
  .ecl-site-header__language-container--push-right {
    left: auto;
    right: 0;
    transform: none;
  }

  // Horizontal sections
  .ecl-site-header__language-content:not(
      .ecl-site-header__language-content--stack
    ) {
    flex-direction: row;
    margin-top: map.get($language-list, 'content-margin-desktop');

    .ecl-site-header__language-category {
      margin-top: 0;
    }

    .ecl-site-header__language-category:nth-child(2) {
      border-top: none;
      border-inline-start: map.get($language-list, 'category-separator');
      margin-inline-start: map.get($language-list, 'column-spacing-before');
      padding-inline-start: map.get($language-list, 'column-spacing-after');
    }

    .ecl-site-header__language-category-title {
      padding-top: 0;
    }
  }

  // Columns display
  .ecl-site-header__language-list {
    column-gap: 0;
  }

  .ecl-site-header__language-category--3-col .ecl-site-header__language-list {
    column-count: 3;
  }

  .ecl-site-header__language-category--2-col .ecl-site-header__language-list {
    column-count: 2;
  }

  .ecl-site-header__language-link {
    width: calc(#{map.get($language-list, 'item-width')} - (2 * var(--s-s)));
  }
}
