/**
 * Site Header
 * @define site-header; weak
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';
@use '@ecl/vanilla-utility-screen-reader/screen-reader';

// Exposed variables
$theme: null !default;
$site-header: null !default;

@use 'site-header-language-switcher' with (
  $theme: $theme,
  $language-switcher: map.get($site-header, 'language-switcher')
);

.ecl-site-header {
  box-shadow: map.get($theme, 'shadow', '6');
  margin: 0;
  position: relative;
  z-index: map.get($theme, 'z-index', 'modal');

  .ecl-site-header__background {
    background-color: map.get($site-header, 'background-color');
    background-image: url('data:image/svg+xml;base64,' + map.get(
        $site-header,
        'background-image'
      ));
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .ecl-menu {
    background: transparent;
    bottom: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }

  .ecl-menu__open {
    margin-bottom: 5px;
  }

  .ecl-site-header__cta {
    margin-top: var(--ecl-spacing-s);
    position: relative;
    width: max-content;
    z-index: 1;
  }

  .ecl-site-header__cta:only-child {
    margin-top: 0;
  }
}

.ecl-site-header__container {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--ecl-spacing-xs);
  padding-top: var(--ecl-spacing-xs);
  position: static;
}

.ecl-site-header__top {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.ecl-site-header__logo-image {
  display: block;
  height: map.get($site-header, 'logo-height-xs');
}

.ecl-site-header__action {
  display: flex;
}

.ecl-site-header__login-toggle,
.ecl-site-header__search-toggle {
  align-items: center;
  color: map.get($site-header, 'toggle-color');
  display: flex;
  flex-direction: column;
  margin-inline-start: var(--ecl-spacing-m);
  position: relative;
  text-align: center;
  z-index: map.get($theme, 'z-index', 'modal') + 2;

  .ecl-site-header__login-arrow {
    display: none;
  }

  &:focus-visible {
    color: map.get($site-header, 'toggle-color');
  }

  &:active,
  &[aria-expanded='true'] {
    background-color: var(--ecl-color-neutral);
  }
}

.ecl-site-header__language-selector {
  color: map.get($site-header, 'toggle-color');
  margin-inline-start: var(--ecl-spacing-m);
  text-align: center;
  text-transform: uppercase;

  &:focus-visible {
    color: map.get($site-header, 'toggle-color');
  }

  &:active,
  &[aria-expanded='true'] {
    background-color: var(--ecl-color-neutral);
  }
}

.ecl-site-header__login-box,
.ecl-site-header__search {
  background-color: map.get($theme, 'color', 'white');
  box-shadow: map.get($theme, 'shadow', '12');
  box-sizing: content-box;
  color: var(--ecl-color-dark-100);
  display: none;
  font: var(--ecl-font-m);
  left: 0;
  margin-top: calc(var(--ecl-spacing-m) - 1px);
  padding: var(--ecl-spacing-3xl) var(--ecl-spacing-m);
  position: absolute;
  width: calc(100% - var(--ecl-spacing-m) - var(--ecl-spacing-m));
  z-index: map.get($theme, 'z-index', 'modal') + 1;
}

.ecl-site-header__login-box {
  border-radius: map.get($theme, 'border-radius', 's');
  box-sizing: border-box;
  left: 0;
  width: 100%;

  &::before {
    @include site-header-language-switcher.arrow-up;

    left: auto;
    right: var(--ecl-login-arrow-position);
  }

  &.ecl-site-header__login-box--active {
    display: block;
  }
}

.ecl-site-header__login-description {
  margin: 0;
  max-width: 80ch;
}

.ecl-site-header__login-separator {
  background-color: var(--ecl-color-neutral-100);
  border-width: 0;
  height: 1px;
  margin-bottom: var(--ecl-spacing-m);
  margin-top: var(--ecl-spacing-m);
}

.ecl-site-header__language-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.ecl-site-header__search--active {
  display: flex;

  &::before {
    @include site-header-language-switcher.arrow-up;

    left: auto;
    right: var(--ecl-search-arrow-position);
  }
}

.ecl-search-form__button {
  color: map.get($site-header, 'toggle-color');

  &:hover {
    border-left: none;
    color: var(--ecl-color-dark);
  }

  &:focus-visible {
    color: var(--ecl-color-dark);
  }

  &:active {
    background-color: var(--ecl-color-neutral);
  }
}

.ecl-site-header__notification {
  display: flex;

  .ecl-notification {
    margin-bottom: var(--ecl-spacing-xs);
  }
}

.ecl-site-header__banner-top {
  background: map.get($site-header, 'background-color');
  border-top: 1px solid map.get($theme, 'color', 'neutral-40');
  font: var(--ecl-font-m);
  padding: var(--ecl-spacing-xs) 0;
}

.ecl-site-header__banner {
  background-color: map.get($site-header, 'banner-background');
  color: map.get($site-header, 'banner-text-color');
  display: block;
  font: var(--ecl-font-l);
  min-height: 1.75rem;
  padding: var(--ecl-spacing-s) 0;

  .ecl-container {
    display: flex;
    flex-direction: column;
  }
}

.ecl-site-header__site-name {
  margin-inline-end: var(--ecl-spacing-3xl);
}

@include breakpoints.down('m') {
  .ecl-site-header__login-toggle,
  .ecl-site-header__search-toggle,
  .ecl-site-header__language-selector {
    background: map.get($site-header, 'background-color');
    font-size: 0;
    line-height: 0;
    padding: var(--ecl-spacing-xs);

    &:hover {
      padding: calc(var(--ecl-spacing-xs) + 1px);
    }

    .ecl-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@include breakpoints.up('m') {
  .ecl-site-header__logo-link {
    margin-top: 0;
  }
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  .ecl-site-header .ecl-search-form {
    max-width: 100%;
  }
}

@include breakpoints.up('l') {
  .ecl-site-header {
    z-index: 2;

    .ecl-site-header__cta {
      align-self: center;
      margin: 0;

      &:only-child {
        margin: var(--ecl-spacing-xs) 0;
      }
    }

    .ecl-menu {
      position: static;
      width: 100%;
    }
  }

  .ecl-site-header__container {
    align-items: flex-end;
    flex-direction: row;
    padding-bottom: var(--ecl-spacing-xl);
    padding-top: var(--ecl-spacing-xl);
  }

  .ecl-site-header__site-name {
    align-self: center;
    flex-grow: 1;
    margin-inline-end: 0;
    padding: var(--ecl-spacing-s) 0;
  }

  .ecl-site-header__top {
    align-items: flex-end;
  }

  .ecl-site-header__action {
    align-items: center;
  }

  .ecl-site-header__logo-link {
    margin-bottom: 0;
  }

  .ecl-site-header__search--active::before {
    display: none;
  }

  .ecl-site-header__logo-image {
    height: map.get($site-header, 'logo-height-lg');
  }

  .ecl-site-header__login-container {
    position: relative;
  }

  .ecl-site-header__login-box {
    left: 50%;
    margin-top: var(--ecl-spacing-s);
    min-width: 22rem;
    padding: var(--ecl-spacing-3xl);
    transform: translateX(-50%);
    width: auto;

    &::before {
      left: 50%;
    }
  }

  .ecl-site-header__login-toggle,
  .ecl-site-header__language-selector {
    align-items: center;
    display: flex;
    flex-direction: row;
    font: var(--ecl-font-m);
  }

  .ecl-site-header__login-toggle,
  .ecl-site-header__language-icon {
    .ecl-site-header__icon {
      height: 1rem;
      margin-inline-end: var(--ecl-spacing-xs);
      width: 1rem;
    }
  }

  .ecl-site-header__search-toggle {
    display: none;

    &[aria-expanded='true'],
    &[aria-expanded='true']:focus-visible {
      margin-bottom: calc(-1 * var(--ecl-spacing-l));
      padding: calc(var(--ecl-spacing-s) - 1px) calc(var(--ecl-spacing-m) - 1px);
      padding-bottom: calc(var(--ecl-spacing-s) + var(--ecl-spacing-l));
    }
  }

  .ecl-site-header__language-code {
    font: var(--ecl-font-xs);
    margin-inline-end: var(--ecl-spacing-xs);
    transform: translateX(-50%) translateX(-0.22rem) translateY(-50%)
      translateY(-0.08rem);
  }

  .ecl-site-header__search-container {
    flex-grow: 1;
    margin-inline-start: var(--ecl-spacing-3xl);

    .ecl-search-form__button {
      color: map.get($site-header, 'toggle-color');
    }
  }

  .ecl-site-header__search {
    background-color: map.get($theme, 'color', 'white');
    border-width: 0;
    box-shadow: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: map.get($site-header, 'search-width-l');
  }

  .ecl-site-header__notification .ecl-notification {
    margin-bottom: var(--ecl-spacing-xl);
  }

  .ecl-site-header__banner {
    font: var(--ecl-font-l);
    min-height: 0;
    padding: 0;

    .ecl-container {
      flex-direction: row;
    }
  }
}

@include breakpoints.up('xl') {
  .ecl-site-header__search {
    width: map.get($site-header, 'search-width-xl');
  }
}
