.ecl-list {
  line-height: 1.66;
  max-width: 32em;
}

.ecl-list--alpha {
  list-style-type: lower-latin;
}

.ecl-list--unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.ecl-list-inline {
  @include list-unstyled;
}

.ecl-list-inline__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $ecl-list-inline-margin;
  }
}
