{% spaceless %}

{#
  Parameters:
    - "variant" (string) (default: ''): Variant of the content item (can be 'image-right' or 'event')
    - "image" (associative array) (default: {}): 
      - "src" (string) (default: ''): Path to the image
      - "size" (string) (default: 'm'): Size of the image (can be 's' or 'l')
    - "date" (associative array) (default: {}): Predefined structure compatible with Date block component
    - "labels" (array) (default: []): List of labels compatible with EC Label component structure
    - "meta" (array) (default: []): Meta's for the Content item
    - "title" (associative array) (default: {}): Predefined structure compatible with Link component
    - "description" (string) (default: ''): Description of the Content item
    - "infos" (array) (default: []): format: [
        {
          "label" (string) (default: ''): Label of info item
          "icon" (associative array) (default: {}) A predefined structure compatible with Icon component
        },
        ...
      ]
    - "lists" (array) (default: []) Array of objects of type "description list". Used for taxonomy
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
#}

{# Internal properties #}

{% set _variant = variant|default('') %}
{% set _image = image|default({
  src: '',
  size: 'l'
}) %}
{% set _date = date|default({}) %}
{% set _labels = labels|default([]) %}
{% set _meta = meta|default([]) %}
{% set _title = title|default({}) %}
{% set _description = description|default('') %}
{% set _infos = infos|default([]) %}
{% set _lists = lists|default([]) %}
{% set _css_class = 'ecl-content-item' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% set _card = {
  card: {
    labels: _labels,
    meta: _meta,
    title: _title,
    description: _description,
    infos: _infos,
  },
} %}

{% if _variant is not empty %}
  {% set _css_class = _css_class ~ ' ecl-content-item--' ~ _variant %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}
<div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <div class="ecl-content-item__container">
    {% if _image is defined and _image.src is not empty %}
      {% set _image_class = _image.size is not empty ? 'ecl-content-item__image' ~ ' ecl-content-item__image--' ~ _image.size : 'ecl-content-item__image' %}
      <div class="{{_image_class}}" style="background-image:url({{ _image.src }})"></div>
    {% endif %}
    {% if _date is not empty %}
      {% include '@ecl/date-block/date-block.html.twig' with _date|merge({
        extra_classes: 'ecl-content-item__date'
      }) only %}
    {% endif %}
    {% include '@ecl/card/card.html.twig' with _card|merge({
      extra_classes: 'ecl-content-item__card'
    }) only %}
  </div>
  <div class="ecl-content-item__taxonomy">
    {% for _list in _lists %}
      {% include '@ecl/description-list/description-list.html.twig' with _list only %}
    {% endfor %}
  </div>
</div>

{% endspaceless %}
