{#
  Accepts:
    - "body" (string) (default: '')
    - "author" (string) (optional)
    - "extra_classes" (string) (default: ''): additional classes to add to the component
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ])
#}

{# Internal properties #}

{% set _css_class = 'ecl-blockquote' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}

<blockquote class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <p class="ecl-paragraph ecl-blockquote__body">{{ body }}</p>
  {% if author is defined and author is not empty %}
  <footer class="ecl-blockquote__author">―&thinsp;<cite>{{ author }}</cite></footer>
  {% endif %}
</blockquote>
