// Local helpers.
$ten: 0.556em;
$fifteen: 0.833em;
$twenty: 1.111em;
$twenty-five: 1.389em;

.comment__form-wrapper {
  @include make-md-column(6);

  padding-left: 0;
  padding-right: 0;
}

.comments__count {
  padding: $twenty-five $ten;
}

.comment__image {
  display: none;

  img {
    border: 1px solid $yellow-light;
    max-width: 6.944em;
    padding: 1px;
  }
}

.comment__meta {
  color: $grey-dark;
  font-size: $font-size-little;
  padding-bottom: $fifteen;
  text-transform: uppercase;

  a {
    color: $grey-dark;
  }
}

.comment__body {
  background-color: $white;
  font-size: $font-size-little;
  padding: $twenty $twenty-five;
  position: relative;
}

.comment__title {
  border-top: 1px solid $yellow-light;
  color: $grey-base;
  display: block;
  font-size: $font-size-medium;
  font-weight: bold;
  padding: $fifteen 0;

  &:focus {
    outline-offset: 0;
  }
}

.comment__author {
  display: inline-block;
  margin-right: $ten;
}

.comment__date {
  display: inline-block;
  margin-left: 0 $ten;
}

.comment__btn-add-wrap {
  padding-left: 0;
}

.comment__btn-add {
  margin-top: $fifteen;
}

.comment {
  margin-bottom: 1em;

  // Drupal-specific rule.
  .list-inline {
    padding-left: 0;

    li {
      padding-left: 0;
    }
  }
}

@include breakpoint(screen-md-min) {
  .comment__image {
    display: block;
    float: left;
    width: 16.6667%;
  }

  .comment__body {
    float: left;
    width: 50%;

    &::before {
      border: $ten solid rgba(255, 255, 255, 0);
      border-right-color: $white;
      content: ' ';
      height: 0;
      margin-top: -$ten;
      pointer-events: none;
      position: absolute;
      right: 100%;
      top: 15%;
      width: 0;
    }
  }
}
