@import '@ecl/ec-base/ec-base';
@import 'mixins';

@mixin ecl-editor-link(
  $link-color: $ecl-color-primary,
  $link-color-hover: $ecl-color-black-100,
  $link-color-focus: $ecl-color-secondary
) {
  .ecl-editor a {
    @include link($link-color, $link-color-hover, $link-color-focus);
  }
}

@include exports('ec-component-link--editor') {
  @include ecl-editor-link();
}
