/**
 * Blockquotes
 * @define rss-links
 */

.ecl-rss-links {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: map-get($ecl-spacing, 'xs');
}

.ecl-rss-links__label {
  color: $ecl-color-shade;
  font-size: map-get($ecl-font-size, 's');
  font-weight: bold;
  margin: 0 map-get($ecl-font-size, 'xxs') 0 0;
}

.ecl-rss-links__link {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.ecl-rss-links__link:hover {
  .ecl-rss-links__text {
    text-decoration: underline;
  }
}

// Correcting .ecl-icon-social adding 5px on top.
.ecl-rss-links__icon {
  padding-top: 0;
}

.ecl-rss-links__text {
  font-size: map-get($ecl-font-size, 'xs');
  text-decoration: none;
}
