<div class="ecl-rss-links">
  <span class="ecl-rss-links__label">Get updates:</span>
  {% include '@ec-europa/ecl-social-icons' with {
    link: {
      href: '#',
      variant: 'rss',
      extra_classes: 'ecl-rss-links__link',
      label: 'RSS'
    }
  } %}
</div>
