<div class="ecl-rss-links">
  <span class="ecl-rss-links__label">Get updates:</span>
  <a class="ecl-rss-links__link" href="#">
    <span class="ecl-rss-links__icon ecl-icon-social ecl-icon-social--rss"></span>
    <span class="ecl-rss-links__text">RSS</span>
  </a>
</div>
