.skip-link,
#skip-link {
  @extend %hidden-print;

  position: fixed;
  top: 1.5em;
  left: 1.5em;
  z-index: 999;

  a {
    padding: 8px;
    background-color: $blue;
    color: $white;
    outline: 4px solid $yellow-light;
    outline-offset: 0;
  }
}
