/*
 * File
 * @define file
 */

@use 'sass:map';
@use '@ecl/mixins-typography/mixins';

// Exposed variables
$theme: null !default;
$file: null !default;

.ecl-file {
  background-color: map.get($file, 'background-color');
  border-radius: map.get($file, 'border-radius');
  box-shadow: map.get($file, 'shadow');
  color: map.get($file, 'color');
  container-name: ecl-file;
  container-type: inline-size;
  max-width: 823px;
  position: relative;

  @include mixins.responsive-font(map.get($file, 'font'));
}

.ecl-file--open {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.ecl-file__container {
  padding: map.get($file, 'container-padding-mobile');
}

.ecl-file__content > *:first-child {
  margin-block-start: 0;
}

.ecl-file__info {
  display: flex;
  flex-direction: column;
  gap: var(--s-m);
}

.ecl-file__icon-box {
  align-items: center;
  align-self: flex-start;
  background-color: map.get($file, 'icon', 'background-color');
  border-radius: map.get($file, 'icon', 'border-radius');
  display: flex;
  justify-content: center;
  padding: map.get($file, 'icon', 'padding');
}

.ecl-file__icon {
  color: map.get($file, 'icon', 'color');
}

.ecl-file__picture {
  flex-shrink: 0;
  width: 13.125rem;
}

.ecl-file__image {
  width: 100%;
}

.ecl-file__labels {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-xs);
}

.ecl-file__title {
  margin-block-start: map.get($file, 'title', 'margin-mobile');
  max-width: var(--max-w);
  font-weight: map.get($file, 'title', 'font-weight');
}

.ecl-file__description {
  margin-block-start: map.get($file, 'description-margin');
  max-width: var(--max-w);
}

.ecl-file__primary-meta {
  color: map.get($file, 'primary-meta', 'color');
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-block-start: map.get($file, 'primary-meta', 'margin');
  padding: 0;
}

.ecl-file__primary-meta-item {
  &:not(:last-child) {
    border-inline-end: 1px solid map.get($file, 'primary-meta', 'color');
    margin-inline-end: map.get($file, 'primary-meta', 'gap');
    padding-inline-end: map.get($file, 'primary-meta', 'gap');
  }
}

.ecl-file__lists {
  margin-block-start: map.get($file, 'list-margin');
}

.ecl-file__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: map.get($file, 'footer', 'gap');
  justify-content: space-between;
  margin-block-start: map.get($file, 'footer', 'margin');
  row-gap: var(--s-xs);
}

.ecl-file__action {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: map.get($file, 'footer', 'action-gap-mobile');
  row-gap: var(--s-xs);
}

.ecl-file--open .ecl-file__translation-toggle {
  background-color: map.get($file, 'toggle', 'open-background-color');
  border-color: map.get($file, 'toggle', 'open-border-color');

  .ecl-button__icon {
    transform: rotate(180deg);
  }
}

// Translations
.ecl-file__translation-list {
  background-color: map.get($file, 'translation', 'background-color');
  border-radius: 0 0 map.get($file, 'border-radius')
    map.get($file, 'border-radius');
  box-shadow: map.get($file, 'shadow');
  list-style: none;
  margin: 0;
  max-height: 368px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: map.get($theme, 'z-index', 'overlay');
}

.ecl-file__translation-item {
  border-block-start: 1px solid map.get($file, 'translation', 'separator');
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: map.get($file, 'translation', 'item-padding-mobile');

  &:first-child {
    border-block-start: none;
  }
}

.ecl-file__translation-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ecl-file__translation-title {
  font-weight: map.get($file, 'translation', 'title-font-weight');
}

.ecl-file__translation-action {
  align-items: center;
  color: map.get($file, 'translation', 'action-color');
  column-gap: map.get($file, 'footer', 'action-gap-mobile');
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-block-start: map.get($file, 'translation', 'action-margin');
  row-gap: var(--s-xs);
}

@container ecl-file (width >= #{map.get($theme, 'breakpoint', 'm')}) {
  .ecl-file__container {
    padding: map.get($file, 'container-padding-desktop');
  }

  .ecl-file__info {
    flex-direction: row;
  }

  .ecl-file__title {
    margin-block-start: map.get($file, 'title', 'margin-desktop');
  }

  .ecl-file__footer {
    column-gap: map.get($file, 'footer', 'separator-margin');
    justify-content: flex-end;
  }

  .ecl-file__action {
    column-gap: 0;
    margin-inline-end: var(--s-m);

    > * + * {
      margin-inline-start: map.get($file, 'footer', 'action-gap-desktop');
    }

    &::before {
      background-color: currentcolor;
      content: '';
      display: block;
      height: 1lh;
      margin-inline-end: map.get($file, 'footer', 'separator-margin');
      width: 1px;
    }
  }

  .ecl-file__translation-item {
    flex-direction: row;
    justify-content: space-between;
    padding: map.get($file, 'translation', 'item-padding-desktop');
  }

  .ecl-file__translation-action {
    column-gap: map.get($file, 'footer', 'action-gap-desktop');
    margin-block-start: 0;
    margin-inline-end: var(--s-m);
  }
}
