/*
 * File print
 * @define file
 */

@use 'sass:map';
@use '@ecl/mixins-typography/mixins';

// Exposed variables
$theme: null !default;
$file: null !default;

.ecl-file {
  color: map.get($file, 'color');
  container-name: ecl-file;
  container-type: inline-size;

  @include mixins.responsive-font(map.get($file, 'font'));
}

.ecl-file__container {
  padding: map.get($file, 'container-padding-mobile');
}

.ecl-file__content > *:first-child {
  margin-block-start: 0;
}

.ecl-file__info {
  display: flex;
  flex-direction: column;
  gap: var(--s-m);
}

.ecl-file__icon-box {
  align-items: center;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  padding: map.get($file, 'icon', 'padding');
}

.ecl-file__icon {
  color: map.get($file, 'icon', 'color');
}

.ecl-file__picture {
  flex-shrink: 0;
  width: 13.125rem;
}

.ecl-file__image {
  width: 100%;
}

.ecl-file__labels {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-xs);
}

.ecl-file__title {
  margin-block-start: map.get($file, 'title', 'margin-mobile');
  max-width: var(--max-w);
  font-weight: map.get($file, 'title', 'font-weight');
}

.ecl-file__description {
  margin-block-start: map.get($file, 'description-margin');
  max-width: var(--max-w);
}

.ecl-file__primary-meta {
  color: map.get($file, 'primary-meta', 'color');
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-block-start: map.get($file, 'primary-meta', 'margin');
  padding: 0;
}

.ecl-file__primary-meta-item {
  &:not(:last-child) {
    border-inline-end: 1px solid map.get($file, 'primary-meta', 'color');
    margin-inline-end: map.get($file, 'primary-meta', 'gap');
    padding-inline-end: map.get($file, 'primary-meta', 'gap');
  }
}

.ecl-file__lists {
  margin-block-start: map.get($file, 'list-margin');
}

.ecl-file__footer {
  display: none;
}

@container ecl-file (width >= #{map.get($theme, 'breakpoint', 'm')}) {
  .ecl-file__container {
    padding: map.get($file, 'container-padding-desktop');
  }

  .ecl-file__info {
    flex-direction: row;
  }

  .ecl-file__title {
    margin-block-start: map.get($file, 'title', 'margin-desktop');
  }
}
