<div class="palette-color" style="background-color: {{ code }}"></div>
<div class="palette-color__content">
  <div class="palette-color__name">${{ name }}</div>
  <div class="palette-color__code">{{ code }}</div>
</div>
