<div>Lorem ipsum, <a href="#" class="ecl-link">in-line link</a> consectetur adipiscing elit</div>
<div>Lorem ipsum, <a href="#" class="ecl-link ecl-link--external">external link</a> consectetur adipiscing elit</div>
<div><a href="#" class="ecl-link ecl-link--standalone">Stand-alone link</a></div>
<div><a href="#" class="ecl-link ecl-link--inverted ecl-u-bg-shade">Inverted link</a></div>
<div><a href="#" class="ecl-link ecl-link--expand">Expandable link</a></div>
<div class="ecl-clearfix" style="width: 50%"><a href="#" class="ecl-link ecl-link--all">'View all' link</a></div>
