/**
 * Editor typography styles
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-editor-typography() {
  /*
   * Headings
   */
  .ecl-editor h1 {
    font: $ecl-font-3-xl;
    font-weight: $ecl-font-weight-bold;

    @include ecl-media-breakpoint-up('md') {
      font: $ecl-font-4-xl;
      font-weight: $ecl-font-weight-bold;
    }
  }

  .ecl-editor h2 {
    font: $ecl-font-2-xl;
    font-weight: $ecl-font-weight-bold;

    @include ecl-media-breakpoint-up('md') {
      font: $ecl-font-3-xl;
      font-weight: $ecl-font-weight-bold;
    }
  }

  .ecl-editor h3 {
    font: $ecl-font-xl;
    font-weight: $ecl-font-weight-bold;

    @include ecl-media-breakpoint-up('md') {
      font: $ecl-font-2-xl;
      font-weight: $ecl-font-weight-bold;
    }
  }

  .ecl-editor h4 {
    font: $ecl-font-prolonged-l;
    font-weight: $ecl-font-weight-bold;

    @include ecl-media-breakpoint-up('md') {
      font: $ecl-font-prolonged-xl;
      font-weight: $ecl-font-weight-bold;
    }
  }

  .ecl-editor h5 {
    font: $ecl-font-prolonged-m;
    font-weight: $ecl-font-weight-bold;
  }

  /*
   * Paragraph
   */
  .ecl-editor p {
    color: $ecl-color-grey-100;
    font: $ecl-font-prolonged-m;
    max-width: 80ch;
  }
}
