/**
 * Editor button styles
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-editor-button(
  $border-width: 2px,
  $outline-width: 3px,
  $padding-horizontal: $ecl-spacing-s,
  $padding-vertical: $ecl-spacing-m
) {
  /* stylelint-disable selector-no-qualifying-type */
  .ecl-editor button,
  .ecl-editor input[type='button'],
  .ecl-editor input[type='submit'] {
    appearance: none;
    background: none;
    background-color: $ecl-color-blue-100;
    border-width: 0;
    box-sizing: border-box;
    color: $ecl-color-white-100;
    display: inline-block;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    margin: 0;
    padding: $padding-horizontal $padding-vertical;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      background-color: $ecl-color-blue-130;
      text-decoration: none;
    }

    &:focus {
      outline: $outline-width solid $ecl-color-secondary;
      outline-offset: -($outline-width);
    }
  }
}

.ecl-editor .ecl-file__translation-toggle {
  background-color: transparent;
  color: $ecl-color-blue-100;
  font-weight: normal;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $ecl-color-blue-130;
  }
}
