/**
 * Footer Standardised component
 * @define footer-standardised
 */

// Import base
@import '@ecl/eu-base/eu-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('eu-layout-grid', 'eu-component-link'));

@mixin ecl-footer-standardised(
  $bg-color: $ecl-color-blue-5,
  $separator-color: $ecl-color-grey-25,
  $text-color: $ecl-color-grey,
  $column-gap: $ecl-grid-gutter-width
) {
  /*
   * Global rules
   */
  .ecl-footer-standardised {
    background-color: $bg-color;
    color: $text-color;
    margin: 0;
    padding-bottom: $ecl-spacing-xl;
  }

  .ecl-footer-standardised__container {
    display: flex;
    flex-direction: column;
  }

  .ecl-footer-standardised__section {
    font: $ecl-font-m;
    margin-top: $ecl-spacing-l;

    > :first-child {
      margin-top: 0;
    }

    &:empty {
      margin-top: 0;
    }
  }

  .ecl-footer-standardised__section--separator {
    border-bottom: 1px solid $separator-color;
    padding-bottom: $ecl-spacing-l;
  }

  .ecl-footer-standardised__title,
  .ecl-footer-standardised__title:hover,
  .ecl-footer-standardised__title:focus,
  .ecl-footer-standardised__title:active {
    color: $text-color;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
  }

  .ecl-footer-standardised__title--separator {
    border-bottom: 1px solid $separator-color;
    padding-bottom: $ecl-spacing-xs;
  }

  .ecl-footer-standardised__description {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-s;
    margin-top: $ecl-spacing-xs;
  }

  .ecl-footer-standardised__content {
    font: $ecl-font-s;
    margin-top: $ecl-spacing-xs;
  }

  .ecl-footer-standardised__list {
    list-style: none;
    margin-bottom: 0;
    margin-top: $ecl-spacing-xs;
    padding-left: 0;
  }

  .ecl-footer-standardised__list-item {
    margin-top: $ecl-spacing-m;

    .ecl-footer-standardised__list--condensed & {
      margin-top: $ecl-spacing-xs;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  .ecl-footer-standardised__list--inline {
    display: inline-flex;
    flex-wrap: wrap;

    .ecl-footer-standardised__list-item {
      margin-right: $ecl-spacing-l;
      margin-top: 0;

      /* stylelint-disable-next-line max-nesting-depth */
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .ecl-footer-standardised__link {
    font: $ecl-font-s;
  }

  .ecl-footer-standardised__logo-link {
    display: inline-block;
    margin-bottom: $ecl-spacing-xs;
  }

  .ecl-footer-standardised__logo-image-desktop {
    display: none;
  }

  .ecl-footer-standardised__logo-image-mobile {
    display: block;
    height: 2.5rem;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-footer-standardised__section {
      margin-top: $ecl-spacing-xl;

      &:empty {
        margin-top: 0;
      }
    }

    .ecl-footer-standardised__section--separator {
      padding-bottom: $ecl-spacing-xl;
    }

    .ecl-footer-standardised__title,
    .ecl-footer-standardised__title:hover,
    .ecl-footer-standardised__title:focus,
    .ecl-footer-standardised__title:active {
      font: $ecl-font-prolonged-m;
      font-weight: $ecl-font-weight-bold;
    }

    .ecl-footer-standardised__description {
      margin-top: $ecl-spacing-xl;
    }

    .ecl-footer-standardised__list--columns {
      column-count: 2;
      column-gap: $column-gap;
    }

    .ecl-footer-standardised__link {
      font: $ecl-font-prolonged-s;
    }

    .ecl-footer-standardised__logo-link {
      margin-bottom: $ecl-spacing-m;
    }

    .ecl-footer-standardised__logo-image-desktop {
      display: block;
      height: 2.75rem;
    }

    .ecl-footer-standardised__logo-image-mobile {
      display: none;
    }
  }

  /*
   * Section related rules
   */
  .ecl-footer-standardised__section1 {
    .ecl-footer-standardised__description {
      margin-top: $ecl-spacing-xs;
    }
  }

  .ecl-footer-standardised__section1,
  .ecl-footer-standardised__section2 {
    order: 1;
  }

  .ecl-footer-standardised__section3 {
    order: 3;
  }

  .ecl-footer-standardised__section4 {
    order: 2;
  }

  .ecl-footer-standardised__section5,
  .ecl-footer-standardised__section6,
  .ecl-footer-standardised__section7,
  .ecl-footer-standardised__section8,
  .ecl-footer-standardised__section9 {
    order: 4;
  }

  .ecl-footer-standardised__section6 {
    border-bottom: 1px solid $separator-color;
    padding-top: $ecl-spacing-l;

    /* stylelint-disable-next-line max-nesting-depth */
    &:empty {
      border-top-width: 0;
    }
  }

  .ecl-footer-standardised__section7 {
    .ecl-footer-standardised__description {
      margin-top: 0;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-footer-standardised__section1 .ecl-footer-standardised__description {
      margin-top: $ecl-spacing-m;
    }

    /* Grid layout */
    .ecl-footer-standardised__container {
      column-gap: $column-gap;
      display: grid;
      grid-gap: 0 $column-gap;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, minmax(min-content, max-content));
      row-gap: 0;
    }

    .ecl-footer-standardised__section1 {
      grid-area: 1 / 1 / 3 / 2;
    }

    .ecl-footer-standardised__section2 {
      grid-area: 1 / 2 / 2 / 3;
    }

    .ecl-footer-standardised__section3 {
      grid-area: 1 / 3 / 2 / 4;
    }

    .ecl-footer-standardised__section4 {
      grid-area: 2 / 2 / 3 / 3;
    }

    .ecl-footer-standardised__section5 {
      grid-area: 2 / 3 / 3 / 4;
    }

    .ecl-footer-standardised__section6 {
      grid-area: 3 / 1 / 4 / 4;

      &:empty {
        border-top-width: 0;
      }
    }

    .ecl-footer-standardised__section7 {
      grid-area: 4 / 1 / 5 / 2;
    }

    .ecl-footer-standardised__section8 {
      grid-area: 4 / 2 / 5 / 3;
      margin-top: $ecl-spacing-xl;
    }

    .ecl-footer-standardised__section9 {
      grid-area: 4 / 3 / 5 / 4;
      margin-top: $ecl-spacing-xl;
    }
  }
}

// Use mixin
@include exports('eu-component-footer-standardised') {
  @include ecl-footer-standardised();
}
