/**
 * Text input component
 * @define file-upload
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin browse-button() {
  appearance: none;
  background: none;
  background-color: $ecl-color-blue-100;
  border-radius: 0;
  border-width: 0;
  box-shadow: 0;
  box-sizing: border-box;
  color: $ecl-color-white-100;
  display: inline-block;
  font: $ecl-font-m;
  font-weight: $ecl-font-weight-bold;
  margin: 0;
  padding: $ecl-spacing-s $ecl-spacing-m;
  text-decoration: none;

  // stylelint-disable plugin/selector-bem-pattern
  &:hover,
  &:active {
    background-color: $ecl-color-blue-130;
    text-decoration: none;
  }

  &:focus {
    outline: 3px solid $ecl-color-yellow;
    outline-offset: -(3px);
    text-decoration: none;
  }
  // stylelint-enable plugin/selector-bem-pattern
}

@mixin browse-button-disabled() {
  background-color: $ecl-color-blue-25;
  color: $ecl-color-white-100;
  cursor: not-allowed;
  text-decoration: none;
}

@mixin ecl-file-upload() {
  .ecl-file-upload {
    display: none;
    margin: 0;

    .no-js & {
      color: $ecl-color-grey;
      display: block;
      font: $ecl-font-m;
      margin: 0;

      // stylelint-disable max-nesting-depth
      &:active,
      &:focus {
        outline: 3px solid $ecl-color-yellow;
        outline-offset: -3px;
      }
      // stylelint-enable max-nesting-depth
    }
  }

  /*
   * Extra fields for js version
   */
  .ecl-file-upload__button-container {
    .no-js & {
      display: none;
    }
  }

  .ecl-file-upload__list {
    color: $ecl-color-grey;
    font: $ecl-font-m;
    list-style: none;
    margin-top: $ecl-spacing-m;
    max-width: 538px; // 6 columns; provided by designers
    padding-left: 0;
    width: 100%;

    .no-js & {
      display: none;
    }
  }

  .ecl-file-upload__item {
    border-top: 1px solid $ecl-color-grey-50;
    padding-bottom: $ecl-spacing-m;
    padding-top: $ecl-spacing-m;

    .ecl-file-upload__item-name {
      font-weight: $ecl-font-weight-bold;
    }

    .ecl-file-upload__item-meta {
      display: block;
      padding-top: $ecl-spacing-2-xs;
    }
  }

  /* 
   * Standard input styling
   */
  // stylelint-disable-next-line no-descending-specificity
  .ecl-file-upload::-webkit-file-upload-button {
    @include browse-button;
  }

  .ecl-file-upload::-ms-browse {
    @include browse-button;
  }

  .ecl-file-upload[disabled] {
    color: $ecl-color-grey-50;

    &::-webkit-file-upload-button,
    &::-webkit-file-upload-button:hover {
      @include browse-button-disabled;
    }

    &::-ms-browse,
    &::-ms-browse:hover {
      @include browse-button-disabled;
    }
  }

  .ecl-file-upload::-ms-value {
    background-color: $ecl-color-grey-5;
    border-width: 0;
  }
}

// Use mixin
@include exports('ec-component-form-file-upload') {
  @include ecl-file-upload;
}
