<div class="ecl-page-header {{modifier_class}}" {{style}}>
  <div class="ecl-page-header__body">
    <!-- Page introduction (mandatory) -->
    <div class="ecl-page-header__intro {{intro_class}}">
      <p>EU economy, finance and the euro, and practical information for EU businesses and entrepreneurs on product safety, environmental regulations, trade with non-EU countries and competition rules.</p>
    </div>
  </div>
</div>
