body {
  background-color: #fafafa;
}

/**
 * Add the correct display in IE 9-.
 * Was removed from normalize.css...
 */
article,
aside,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

main:focus {
  outline: none;
}

.ecl-list {
  margin: 0;
}
