/**
 * Labels component
 * @define label
 */

$label_text_color_light: $white;

.label {
  display: inline-block;
  padding: 0.475em 0.5em 0.5em;
  font-size: map-get($font-size, 'xs');
  font-weight: normal;
  letter-spacing: 0.12em;
  color: $grey-base;
  border-radius: 0;
}

.label--default {
  @extend .label-default !optional;

  color: $label_text_color_light;
}

.label--primary {
  @extend .label-primary !optional;

  color: $label_text_color_light;
}

.label--success {
  @extend .label-success !optional;

  color: $label_text_color_light;
}

.label--info {
  @extend .label-info !optional;

  color: $label_text_color_light;
}

.label--warning {
  @extend .label-warning !optional;

  color: $label_text_color_light;
}

.label--next {
  background-color: $yellow-lighter;
}

.label--danger {
  @extend .label-danger !optional;

  color: $label_text_color_light;
}

.label--upper {
  text-align: left;
  text-transform: uppercase;
}

.label--highlight {
  background-color: $yellow-light;
  color: $grey-base;

  /* postcss-bem-linter: ignore */
  &.label--meta::after {
    content: '';
    margin: 0;
  }
}

.label--status {
  background-color: $grey-lighter;
  color: $grey-base;
}

.label--block {
  display: inline-block;
  margin-bottom: 0.833em;
}

.label--high {
  min-height: 2.75em;
  padding: 0.3em 1em;
  line-height: 2.75em;
  font-size: map-get($font-size, 'xs');
}

.label--no-padding-left {
  padding-left: 0;
}

.label--meta {
  @extend .meta__item;

  margin: 0.25em 1.3em 0.3em 0;
}

.label--meta-medium {
  @extend .label--meta;

  margin: 0.35em 0.5em 0.45em 0;
  font-size: 75%;
}
