/**
 * Dropdown Legacy
 * @define dropdown-legacy; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-dropdown-legacy() {
  .ecl-dropdown-legacy {
    margin: 0;
    position: relative;
  }

  .ecl-dropdown-legacy__toggle[aria-expanded='true'] .ecl-icon {
    transform: rotate(0deg);
  }

  .ecl-dropdown-legacy__content {
    background-color: $ecl-color-grey-5;
    border: 1px solid $ecl-color-grey-25;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    position: absolute;

    .ecl-dropdown-legacy--padded & {
      padding: $ecl-spacing-s $ecl-spacing-m;
    }
  }

  .no-js .ecl-dropdown-legacy__content {
    display: block;
  }
}

// Use mixin
@include exports('eu-component-dropdown-legacy') {
  @include ecl-dropdown-legacy;
}
