/*
 * Breadcrumbs
 * @define breadcrumb
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-breadcrumb() {
  .ecl-breadcrumb {
    @include ecl-hidden-print();

    font-size: map-get($ecl-font-size, 's');
  }

  .ecl-breadcrumb__segments-wrapper {
    border-bottom: 1px solid #fff;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ecl-breadcrumb__segment {
    display: inline-block;
    margin: map-get($ecl-spacing, 's') 0 map-get($ecl-spacing, 'xxs');
  }

  .ecl-breadcrumb__link {
    display: inline-block;
    font-weight: bold;
    margin-right: map-get($ecl-spacing, 'xxxs');

    // Add the ">" icon
    &::after {
      @include ecl-icon--after();

      @include ecl-icon('right');
    }

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }
}
