<div class="listing__wrapper">
  <ul class="listing listing--agenda listing--column-left [modifier class]">
    <li class="listing__item">
      <div class="listing__column-second">
        <div class="date-block">
          <span class="date-block__day-text">Mon</span>
          <span class="date-block__day">12</span>
          <span class="date-block__month">Oct</span>
        </div>
      </div>
      <div class="listing__column-main">
        <div class="meta">
          <span class="meta__item meta__item--type">college meeting</span>
        </div>
        <h3 class="listing__title">Meeting of the College of Commissioners</h3>
        <div class="listing__author">Jean-Claude Juncker</div>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__column-second">
        <div class="date-block">
          <span class="date-block__day-text">Mon</span>
          <span class="date-block__day">12</span>
          <span class="date-block__month">Oct</span>
        </div>
      </div>
      <div class="listing__column-main">
        <div class="meta">
          <span class="meta__item meta__item--type">meeting</span>
        </div>
        <h3 class="listing__title">Meeting of the College of Commissioners</h3>
        <div class="listing__author">Jean-Claude Juncker, Federica Mogherini</div>
      </div>
    </li>
  </ul>
</div>
