<div class="listing__wrapper">
  <ul class="listing {{modifier_class}}">
    <li class="listing__item">
      <a href="#" class="listing__item-link">
        <div class="listing__column-second">
          <img src="http://placehold.it/300x200">
        </div>
        <div class="listing__column-main">
          <div class="meta">
            <span class="meta__item meta__item--type">press release</span>
            <span class="meta__item">Tuesday, 21 April, 2015 - 12:01</span>
          </div>
          <h3 class="listing__title">EU continues its strong support for the victims of Syria's crisis</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </a>
    </li>
    <li class="listing__item">
      <a href="#" class="listing__item-link">
        <div class="listing__column-second">
          <img src="http://placehold.it/300x200">
        </div>
        <div class="listing__column-main">
          <div class="meta">
            <span class="meta__item meta__item--type">press release</span>
            <span class="meta__item">Tuesday, 21 April, 2015 - 12:01</span>
          </div>
          <h3 class="listing__title">EU continues its strong support for the victims of Syria's crisis</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </a>
    </li>
    <a href="#" class="listing__read-more">More on Topic</a>
  </ul>
</div>
