/*
Label

Markup: html/label.html

Style guide form.label
*/

label,
form .label {
  @extend .form_label;
}

.form_label {
  display: block;
  margin-bottom: 0.556em;
  padding: 0;
  font-size: map-get($ecl-font-size, 's');
  color: $ecl-color-shade;
  text-align: left;

  &.is-disabled {
    color: map-get($ecl-colors, 'grey-50');
  }
}
