@mixin link() {
  color: $ecl-color-primary;
  margin: 0;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $ecl-color-shade;
  }
}

@mixin link-external {
  &::after {
    @extend %ecl-icon--after;

    @include ecl-icon('external');

    font-size: 75%;
    margin-left: 0.4em;
    margin-right: 0.2em;
  }
}
