<header class="site-header" role="banner">
  <div class="container-fluid site-header__container">
    {% include '@logos' with { 'to': 'https://ec.europa.eu', 'title': 'Home - European Commission', 'type': 'right', 'externalClass': 'site-header__logo' } %}
    <section class="top-bar" aria-label="Site tools">
      <div class="top-bar__wrapper">
        {% include '@lang-select-sites' %}
        <section class="block-nexteuropa-europa-search clearfix">
          <div class="block__content">
            {% include '@search-forms' %}
          </div>
        </section>
        <section class="site-menu__toggle">
          {% include '@buttons-buttons' with { 'label': 'Menu', 'modifier': 'menu' } %}
        </section>
      </div>
    </section>
  </div>
</header>
