<header class="site-header " role="banner">
  <div class="container-fluid">
    {% include '@logos' with { 'to': 'https://ec.europa.eu', 'title': 'Home - European Commission', 'type': 'right', 'externalClass': 'site-header__logo' } %}
    <section class="top-bar" aria-label="Site tools">
      <div class="top-bar__wrapper">
        {% include '@lang-select-sites' %}
        <section class="ecl-block-nexteuropa-europa-search">
          {% include '@search-forms' %}
        </section>
      </div>
    </section>
  </div>
</header>
