<footer class="ecl-footer-standardised">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-md-4">
        <h2 class="ecl-footer-standardised__title">
          <a
            class="ecl-link ecl-link--standalone ecl-link--inverted"
            href="../../example.html#"
          >
            Site name
          </a>
        </h2>
        <p class="ecl-footer-standardised__description ecl-u-mt-xxs ecl-u-mt-md-l">
          This site is managed by the Directorate-General for "DG
          Identification"
        </p>
      </div>
      <div class="ecl-col-md-4 ecl-u-mt-m ecl-u-mt-md-none">
        <h3
          class="ecl-footer-standardised__title ecl-footer-standardised__title--bordered"
        >
          Contact us
        </h3>
        <p
          class="ecl-footer-standardised__description"
        >
          <a
            class="ecl-link ecl-link--standalone ecl-link--inverted"
            href="../../example.html#"
          >
            Contact information of the DG
          </a>
        </p>
        <h3
          class="ecl-footer-standardised__title ecl-footer-standardised__title--bordered ecl-u-mt-m ecl-u-mt-md-l"
        >
          Follow us on
        </h3>
        <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-u-ma-none">
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              <span class="ecl-icon ecl-icon--facebook"></span
              ><span>Facebook</span>
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              <span class="ecl-icon ecl-icon--twitter"></span
              ><span>Twitter</span>
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              <span class="ecl-icon ecl-icon--linkedin"></span
              ><span>Linkedin</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="ecl-col-md-4 ecl-u-mt-m ecl-u-mt-md-none">
        <h3
          class="ecl-footer-standardised__title ecl-footer-standardised__title--bordered"
        >
          About us
        </h3>
        <p
          class="ecl-footer-standardised__description"
        >
          <a
            class="ecl-link ecl-link--standalone ecl-link--inverted"
            href="../../example.html#"
          >
            Information about the DG
          </a>
        </p>
        <h3
          class="ecl-footer-standardised__title ecl-footer-standardised__title--bordered ecl-u-mt-m ecl-u-mt-md-l"
        >
          Related sites
        </h3>
        <ul
          class="ecl-list ecl-list--unstyled ecl-u-ma-none ecl-footer-standardised__list-vertical"
        >
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Related links
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Related links
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Related links
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Related links
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Related links
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="ecl-row ecl-footer-standardised__bordered-row ecl-u-mt-l">
      <div class="ecl-col-md">
        <p
          class="ecl-footer-standardised__description"
        >
          More information on:
        </p>
        <ul
          class="ecl-list ecl-list--unstyled ecl-u-mh-none ecl-u-mt-xxs ecl-u-mb-none ecl-footer-standardised__list-vertical--compact"
        >
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Class name 1
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Class name 2
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="ecl-row ecl-u-mt-l">
      <div class="ecl-col-md-4">
        <h2 class="ecl-footer-standardised__title">
          European Commission
        </h2>
      </div>
      <div class="ecl-col-md-4 ecl-u-mt-s ecl-u-mt-md-none">
        <ul
          class="ecl-list ecl-list--unstyled ecl-u-ma-none ecl-footer-standardised__list-vertical"
        >
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Contact the European Commission
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--external"
              href="../../example.html#"
            >
              Follow the European Commission on social media
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Resources for partners
            </a>
          </li>
        </ul>
      </div>
      <div class="ecl-col-md-4 ecl-u-mt-s ecl-u-mt-md-none">
        <ul
          class="ecl-list ecl-list--unstyled ecl-u-ma-none ecl-footer-standardised__list-vertical"
        >
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Language policy
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Cookies
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Privacy policy
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Legal notice
            </a>
          </li>
          <li class="ecl-footer-standardised__list-item">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted"
              href="../../example.html#"
            >
              Brexit content disclaimer
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
