/**
 * Navigation list
 * @define navigation-list; weak
 */

@use 'sass:math';
@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$navigation-list: null !default;

.ecl-navigation-list {
  margin: 0;
}

.ecl-navigation-list--col-2,
.ecl-navigation-list--col-3 {
  display: grid;
  grid-auto-rows: auto;
  grid-column-gap: map.get($theme, 'grid', 'gutter');
  grid-row-gap: var(--s-2xl);
  width: 100%;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-navigation-list--col-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: var(--s-3xl);
  }

  .ecl-navigation-list--col-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: var(--s-3xl);
  }
}

// Navigation list items

.ecl-navigation-list__item {
  background-color: map.get($theme, 'color', 'white');
  border: map.get($navigation-list, 'border');
  border-radius: map.get($navigation-list, 'border-radius');
  box-shadow: map.get($navigation-list, 'shadow');
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.ecl-navigation-list__image {
  aspect-ratio: 4 / 1;
  border-bottom: 1px solid map.get($navigation-list, 'image-border-color');
  display: block;
  object-fit: cover;
  width: 100%;
}

.ecl-navigation-list__content-block {
  padding: map.get($navigation-list, 'content_block_padding');
  position: relative;
}

// No border
.ecl-navigation-list__item--no-border {
  border-radius: 0;
  border-width: 0;
  box-shadow: none;

  .ecl-navigation-list__image {
    border: 1px solid map.get($navigation-list, 'image-border-color');
  }

  .ecl-navigation-list__content-block {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

.ecl-navigation-list__item--illustration .ecl-navigation-list__picture {
  position: absolute;
  border-radius: 100px 0 100px 100px;
  top: var(--s-xs);
  right: var(--s-xs);
  background: var(--c-n-60, #e0e5f5);
  height: 60px;
  width: 60px;

  .ecl-navigation-list__image {
    border: none;
    object-fit: contain;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  + .ecl-navigation-list__content-block .ecl-content-block__title {
    margin-right: 3.25rem;

    + .ecl-content-block__description {
      margin-right: var(--s-m);
    }
  }
}

@if map-has-key($navigation-list, 'yellow-bar') {
  .ecl-navigation-list__item:not(.ecl-navigation-list__item--no-border) {
    .ecl-navigation-list__content-block {
      &::before {
        background-color: var(--c-s);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        content: '';
        height: 4px;
        left: var(--s-l);
        position: absolute;
        top: 0;
        width: 32px;
      }
    }
  }
}
