/**
 * Navigation list
 * @define navigation-list; weak
 */

@use 'sass:math';
@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$navigation-list: null !default;

.ecl-navigation-list {
  margin: 0;
}

.ecl-navigation-list--col-2,
.ecl-navigation-list--col-3 {
  display: grid;
  grid-auto-rows: auto;
  grid-column-gap: map.get($theme, 'grid', 'gutter');
  grid-row-gap: map.get($theme, 'spacing', '2xl');
  width: 100%;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-navigation-list--col-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: map.get($theme, 'spacing', '3xl');
  }

  .ecl-navigation-list--col-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: map.get($theme, 'spacing', '3xl');
  }
}

// Navigation list items

.ecl-navigation-list__item {
  background-color: map.get($theme, 'color', 'white');
  border: map.get($navigation-list, 'border');
  border-radius: map.get($navigation-list, 'border-radius');
  box-shadow: map.get($navigation-list, 'shadow');
  box-sizing: border-box;
  overflow: hidden;
}

.ecl-navigation-list__image {
  aspect-ratio: 4 / 1;
  border-bottom: 1px solid map.get($navigation-list, 'image-border-color');
  display: block;
  object-fit: cover;
  width: 100%;
}

.ecl-navigation-list__content-block {
  padding: map.get($navigation-list, 'content_block_padding');
  position: relative;
}

// No border

.ecl-navigation-list__item--no-border {
  border-radius: 0;
  border-width: 0;
  box-shadow: none;

  .ecl-navigation-list__image {
    border: 1px solid map.get($navigation-list, 'image-border-color');
  }

  .ecl-navigation-list__content-block {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}
