/**
 * Navigation list
 * @define navigation-list; weak
 */

@use 'sass:math';
@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_image-margin: null !default;
$_content_block_margin: null !default;
$_border-radius: null !default;
$_shadow: null !default;
$_border: null !default;

// Navigation list

.ecl-navigation-list {
  margin: 0;
}

.ecl-navigation-list--col-2,
.ecl-navigation-list--col-3 {
  display: grid;
  grid-auto-rows: auto;
  grid-column-gap: map.get(theme.$grid, 'gutter');
  grid-row-gap: map.get(theme.$spacing, 'xl');
  width: 100%;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-navigation-list--col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .ecl-navigation-list--col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Navigation list items

.ecl-navigation-list__item {
  background-color: map.get(theme.$color, 'white');
  border: $_border;
  border-radius: $_border-radius;
  box-shadow: $_shadow;
  box-sizing: border-box;
  overflow: hidden;
}

.ecl-navigation-list__image {
  background-position: center;
  background-size: cover;
  display: block;
  height: auto;

  // manage ratio 4:1
  &::before {
    content: '';
    display: block;
    padding-top: math.div(1, 4) * 100%;
    width: 100%;
  }
}

.ecl-navigation-list__content-block {
  padding: $_content_block_margin;
  position: relative;
}

// No border

.ecl-navigation-list__item--no-border {
  border-radius: 0;
  border-width: 0;
  box-shadow: none;

  .ecl-navigation-list__content-block {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}
