# > 0.5% usage in Europe (StatCounter GlobalStats)
> 0.5% in alt-eu

# Minimum browser versions requested by the IPG (9 August 2019) - https://wikis.ec.europa.eu/pages/viewpage.action?spaceKey=WEBGUIDE&title=04.+Browser+support
Chrome >= 62
ChromeAndroid >= 55
Firefox >= 50
IE >= 11
Edge >= 16
Safari >= 10
Opera >= 52

# Support the latest Firefox ESR
Firefox ESR

# Not dead browsers ("dead" meaning "browsers without official support or updates for 24 months")
not dead
