dist
node_modules

# this is only for prettier (atom extension doesn't support .prettierignore)
package.json

# Theme has its own lint sub-system
packages/theme

packages/styleguides/ec/static/scripts
packages/styleguides/eu/static/scripts
