# Temporary files
.tmp

# Ignore some folders
.changelog
node_modules
dist
build
exports
/src/systems/*/implementations/vanilla/packages/_imports
**/errorShots
**/screenshots/captured
**/screenshots/diff

# Logs
logs
*.log

.env
