# Temporary files
.tmp

# Ignore some folders
.cache
.changelog
node_modules
dist
build
_imports
/src/website/public/playground
/src/website/src/pages/ec/_jsdoc
visual-regressions-report

# Logs
logs
*.log

# Editors
.vscode

# Misc
.env
