.tmp
.drone.yml
_imports
build
dist
node_modules
package.json
src/website/public/playground
src/website/src/pages/ec/_jsdoc
src/website/src/pages/eu/_jsdoc
yarn.lock

# The usage.md files are run through prettier on save in the cms.
usage.md
index.md

# Temporarily ignore files until prettier fixes the issue or we find a solution

# General styling is broken
src/website/src/pages/ec/components/navigation/link/docs/code.mdx

# SyntaxError: Void elements do not have end tags
src/website/src/pages/ec/components/index.mdx
