.tmp
.drone.yml
_imports
build
dist
node_modules
package.json
src/website/public/playground
src/website/src/pages/ec/_jsdoc
yarn.lock

# The usage.md files are run through prettier on save in the cms.
usage.md
index.md

# Temporarily ignore files until prettier fixes the issue or we find a solution

# General styling is broken
src/website/src/pages/ec/components/list/docs/usage.mdx
src/website/src/pages/ec/components/navigation/breadcrumb/docs/usage.mdx
src/website/src/pages/ec/components/navigation/link/docs/code.mdx
src/website/src/pages/ec/compositions/content-item/docs/usage.mdx
src/website/src/pages/ec/compositions/navigation-lists/docs/usage.mdx
src/website/src/pages/ec/harmonised-templates/docs/group1.mdx
src/website/src/pages/ec/harmonised-templates/docs/group2.mdx
src/website/src/pages/ec/utilities/grid/index.mdx
src/website/src/pages/ec/utilities/stacks/docs/code.mdx
src/website/src/pages/eu/about/vision/index.mdx

# SyntaxError: Void elements do not have end tags
src/website/src/pages/ec/components/index.mdx
src/website/src/pages/ec/components/message/docs/code.mdx
