{
  "printWidth": 80,
  "proseWrap": "preserve",
  "singleQuote": true,
  "plugins": ["@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "usage.md",
      "options": {
        "singleQuote": false,
      }
    },
  ]
}
