<p class="ecl-paragraph">
  <strong>.ecl-u-text-capitalize</strong><br />
  <span class="ecl-u-text-capitalize">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-lowercase</strong><br />
  <span class="ecl-u-text-lowercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-uppercase</strong><br />
  <span class="ecl-u-text-uppercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-overline</strong><br />
  <span class="ecl-u-text-overline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-underline</strong><br />
  <span class="ecl-u-text-underline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-strike</strong><br />
  <span class="ecl-u-text-strike">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-none</strong><br />
  <span class="ecl-u-text-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>
