@use 'sass:list';
@use 'sass:map';

$theme: null !default;

/* Breakpoint viewport sizes and media queries. */

@function next(
  $name,
  $breakpoints: map.get($theme, 'breakpoint'),
  $breakpoint-names: map.keys($breakpoints)
) {
  $n: list.index($breakpoint-names, $name);

  @if $n < list.length($breakpoint-names) {
    @return list.nth($breakpoint-names, $n + 1);
  }

  @return null;
}

/* Minimum breakpoint width. Null for the smallest breakpoint. */
@function ecl-min($name, $breakpoints: map.get($theme, 'breakpoint')) {
  $min: map.get($breakpoints, $name);

  @if $min != 0 {
    @return $min;
  }

  @return null;
}

/* Maximum breakpoint width. Null for the largest breakpoint. */
@function ecl-max($name, $breakpoints: map.get($theme, 'breakpoint')) {
  $next: next($name, $breakpoints);

  @if $next {
    @return ecl-min($next, $breakpoints) - 1px;
  }

  @return null;
}

/* Returns "" for smallest breakpoint, otherwise "-name". */
@function infix($name, $breakpoints: map.get($theme, 'breakpoint')) {
  @if ecl-min($name, $breakpoints) {
    @return '-#{$name}';
  } @else {
    @return '';
  }
}

// Media of at least the minimum breakpoint width.
@mixin up($name, $breakpoints: map.get($theme, 'breakpoint')) {
  @if map.has-key($breakpoints, $name) {
    $min: ecl-min($name, $breakpoints);

    @if $min {
      // stylelint-disable-next-line media-query-no-invalid
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width.
@mixin down($name, $breakpoints: map.get($theme, 'breakpoint')) {
  @if map.has-key($breakpoints, $name) {
    $max: ecl-max($name, $breakpoints);

    @if $max {
      // stylelint-disable-next-line media-query-no-invalid
      @media (max-width: $max) {
        @content;
      }
    } @else {
      @content;
    }
  } @else {
    @content;
  }
}

// Media that spans multiple breakpoint widths.
@mixin between($lower, $upper, $breakpoints: map.get($theme, 'breakpoint')) {
  @include up($lower, $breakpoints) {
    @include down($upper, $breakpoints) {
      @content;
    }
  }
}

// Media only for a single breakpoint.
@mixin only($name, $breakpoints: map.get($theme, 'breakpoint')) {
  @include between($name, $name, $breakpoints) {
    @content;
  }
}
