








  






  <div class="ecl-banner ecl-banner--video">
    <div class="ecl-row">
      <div class="ecl-col-lg-6">
        <div class="ecl-banner__video">
          








  




      <section class="ecl-file ecl-file--video">
                    <div  class="ecl-u-ratio-16-9" >
        <iframe class="ecl-file__video" src="https://ec.europa.eu/avservices/play.cfm?ref=I101631" allowfullscreen="allowfullscreen" scrolling="no"></iframe>
      </div>
                    <div class="ecl-file__caption">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
    </section>
          </div>
      </div>
      <div class="ecl-col-lg-6">
        
    <p class="ecl-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p class="ecl-paragraph">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p class="ecl-paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

