










  




<div class="ecl-site-switcher ecl-site-switcher--header">
  <div class="ecl-container">
    <ul class="ecl-site-switcher__list">
      <li class="ecl-site-switcher__option">
        







  



<a class="ecl-link ecl-site-switcher__link" href="../../example.html#">Commission and its priorities</a>
      </li>
      <li class="ecl-site-switcher__option ecl-site-switcher__option--is-selected">
        







  



<a class="ecl-link ecl-site-switcher__link" href="../../example.html#">Policies, information and services</a>
      </li>
    </ul>
  </div>
</div>

