


      <!-- Start: @ec-component-field--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default
</h3>

      <div class="ecl-field">
    <div class="ecl-field__label">Name</div>
    <div class="ecl-field__body">John Doe</div>
</div>

      <!-- End: @ec-component-field--default -->

    

      <!-- Start: @ec-component-field--aligned -->

      <h3 class="ecl-heading ecl-heading--h3">Aligned
</h3>

      <div class="ecl-field  ecl-field--aligned">
    <div class="ecl-field__body">Text without label</div>
</div>

      <!-- End: @ec-component-field--aligned -->

    
