


      <!-- Start: @ec-component-form-select--default -->

      <label for="example-select-id-1">Default select list
</label>

      <select
  class="ecl-select"
  id="example-select-id-1"
  name="default-name"
  
><option value="1">Delhi</option><option value="2">Hong Kong</option><option value="3">Mumbai</option><option value="4">Tokyo</option><option value="5">Amsterdam</option></select>

      <!-- End: @ec-component-form-select--default -->

    

      <!-- Start: @ec-component-form-select--disabled -->

      <label for="example-selectid-2">Disabled select list
</label>

      <select
  class="ecl-select"
  id="example-selectid-2"
  name="default-name"
   disabled
><option value="1">Delhi</option><option value="2">Hong Kong</option><option value="3">Mumbai</option><option value="4">Tokyo</option><option value="5">Amsterdam</option></select>

      <!-- End: @ec-component-form-select--disabled -->

    

      <!-- Start: @ec-component-form-select--with-error -->

      <label for="example-select-id-3">Select list with error
</label>

      <select
  class="ecl-select ecl-select--has-error"
  id="example-select-id-3"
  name="default-name"
  
><option value="1">Delhi</option><option value="2">Hong Kong</option><option value="3">Mumbai</option><option value="4">Tokyo</option><option value="5">Amsterdam</option></select>

      <!-- End: @ec-component-form-select--with-error -->

    
