










  




<div class="ecl-social-media-link ecl-social-media-link--horizontal">
    <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled ecl-list--inline">
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="See Jean-Claude Junker on Facebook">Jean-Claude Junker</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="See European Commission on Facebook">European Commission</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--twitter ecl-social-media-link__link" href="../../example.html#" title="See European Commission on Twitter">European Commission</a>
      </li>
        <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="" title="Other social networks">Other social networks</a>
    </li>
  </ul>
</div>

