


      <!-- Start: @ec-component-form-feedback-message--default -->

      <div class="ecl-u-mb-s">

        <div class="ecl-feedback-message" role="alert">
  <div class="ecl-feedback-message__title" role="heading" aria-level="4">Some feedback message</div>
  <p class="ecl-feedback-message__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quam urna, elementum eget ultrices non, efficitur quis lectus. Donec mollis felis ac felis tempus mattis</p>
</div>

      </div>

      <!-- End: @ec-component-form-feedback-message--default -->

    

      <!-- Start: @ec-component-form-feedback-message--error -->

      <div class="ecl-u-mb-s">

        <div class="ecl-feedback-message ecl-feedback-message--error" role="alert">
  <div class="ecl-feedback-message__title" role="heading" aria-level="4">Some feedback message</div>
  <p class="ecl-feedback-message__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quam urna, elementum eget ultrices non, efficitur quis lectus. Donec mollis felis ac felis tempus mattis</p>
</div>

      </div>

      <!-- End: @ec-component-form-feedback-message--error -->

    
