













<li class="ecl-list-item">
  <a href="../../example.html#list-item-3" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
          <div class="ecl-list-item__primary">
                  









  



<img
  class="ecl-image ecl-image--fluid"  alt="Director-General John Doe"
  src="../../assets/demo_images/default_profile_image.png"
   />

              </div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













  <div class="ecl-meta" >
          <span class="ecl-meta__item">Director-General</span>
      </div>
                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">John Doe</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>

