

<!-- Start: @ec-component-form-help-block--default -->
<p class="ecl-help-block">This is some placeholder help text.</p>
<!-- End: @ec-component-form-help-block--default -->

<!-- Start: @ec-component-form-help-block--disabled -->
<p class="ecl-help-block ecl-help-block--disabled">Disabled: This is some placeholder help text.</p>
<!-- End: @ec-component-form-help-block--disabled -->

<!-- Start: @ec-component-form-help-block--error -->
<p class="ecl-help-block ecl-help-block--has-error">On error: This is some placeholder help text.</p>
<!-- End: @ec-component-form-help-block--error -->

