















<div class="ecl-social-media-link">
      <p class="ecl-paragraph">View European Commission on:</p>
    <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled">
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="Facebook">Facebook</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--twitter ecl-social-media-link__link" href="../../example.html#" title="Twitter">Twitter</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--instagram ecl-social-media-link__link" href="../../example.html#" title="Instagram">Instagram</a>
      </li>
        <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="" title="Other social networks">Other social networks</a>
    </li>
  </ul>
</div>

