


      <!-- Start: @ec-component-form-textarea--default -->

      <div class="ecl-form-group">
        <label for="example-textarea-id-1" class="ecl-form-label">
          Default
        </label>

        <textarea
  name="default-name"
  id="example-textarea-id-1"
  rows="4"
  class="ecl-textarea"
  role="textbox"
  aria-multiline="true"
   placeholder="Some placeholder text."
>
</textarea>

      </div>
      <!-- End: @ec-component-form-textarea--default -->

    

      <!-- Start: @ec-component-form-textarea--is-disabled -->

      <div class="ecl-form-group">
        <label for="example-textarea-id-2" class="ecl-form-label">
          Is Disabled
        </label>

        <textarea
  name="default-name"
  id="example-textarea-id-2"
  rows="4"
  class="ecl-textarea"
  role="textbox"
  aria-multiline="true"
   disabled placeholder="Some placeholder text."
>
</textarea>

      </div>
      <!-- End: @ec-component-form-textarea--is-disabled -->

    

      <!-- Start: @ec-component-form-textarea--has-error -->

      <div class="ecl-form-group">
        <label for="example-textarea-id-3" class="ecl-form-label">
          Has Error
        </label>

        <textarea
  name="default-name"
  id="example-textarea-id-3"
  rows="4"
  class="ecl-textarea ecl-textarea--has-error"
  role="textbox"
  aria-multiline="true"
   placeholder="Some placeholder text."
>
</textarea>

      </div>
      <!-- End: @ec-component-form-textarea--has-error -->

    
