














<table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" ></th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

