














<section class="ecl-timeline">
      <ul class="ecl-timeline__list">
              <li class="ecl-timeline__item">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2013</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2014</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2015</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          The Commission will convene the first energy infrastructure forum to discuss and find solutions to issues that are common to all regions across Europe.
        </p>
        <p class="ecl-paragraph">
          The Commission will convene the first energy infrastructure forum to discuss and find solutions to issues that are common to all regions across Europe.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item ecl-timeline__item--over-limit">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2016</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item ecl-timeline__item--over-limit">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2017</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item ecl-timeline__item--over-limit">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2018</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
          </ul>
        









  
  



  <button type="submit" class="ecl-button ecl-button--call ecl-button--caret-down ecl-timeline__button">Show all timeline</button>
  </section>

