


        <!-- Start: @ec-component-table--default -->

        <h3 class="ecl-heading ecl-heading--h3">Default table
</h3>

        <table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" >Name</th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @ec-component-table--default -->

      

        <!-- Start: @ec-component-table--default-enhanced -->

        <h3 class="ecl-heading ecl-heading--h3">Default table - enhanced
</h3>

        <table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" >Name</th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @ec-component-table--default-enhanced -->

      

        <!-- Start: @ec-component-table--empty -->

        <h3 class="ecl-heading ecl-heading--h3">Table with empty heading
</h3>

        <table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" ></th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @ec-component-table--empty -->

      

        <!-- Start: @ec-component-table--empty-enhanced -->

        <h3 class="ecl-heading ecl-heading--h3">Table with empty heading - enhanced
</h3>

        <table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" ></th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @ec-component-table--empty-enhanced -->

      

        <!-- Start: @ec-component-table--colspan -->

        <h3 class="ecl-heading ecl-heading--h3">Table with colspan
</h3>

        <table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2">Name</th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @ec-component-table--colspan -->

      

        <!-- Start: @ec-component-table--colspan-enhanced -->

        <h3 class="ecl-heading ecl-heading--h3">Table with colspan - enhanced
</h3>

        <table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2">Name</th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @ec-component-table--colspan-enhanced -->

      

        <!-- Start: @ec-component-table--colspan-empty -->

        <h3 class="ecl-heading ecl-heading--h3">Table with colspan and empty heading
</h3>

        <table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2"></th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @ec-component-table--colspan-empty -->

      

        <!-- Start: @ec-component-table--colspan-empty-enhanced -->

        <h3 class="ecl-heading ecl-heading--h3">Table with colspan and empty heading - enhanced
</h3>

        <table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2"></th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @ec-component-table--colspan-empty-enhanced -->

      
