








  




<li class="ecl-list-item ecl-list-item--block">
  <a href="../../example.html#block-item-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EU law</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Dolore duis elit in id voluptate nisi commodo quis.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>

