










  




      <section class="ecl-file ecl-file--link">
                        <div class="ecl-file__link-container">
            <a
              href="../../example.html#"
              class="ecl-link ecl-file__link ">
              <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
              <span class="ecl-file__title">Generic file link</span>
                          </a>
          </div>
                  <div class="ecl-file__link-container">
            <a
              href="../../example.html#"
              class="ecl-link ecl-file__link ecl-link--external">
              <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
              <span class="ecl-file__title">Generic external file link</span>
                          </a>
          </div>
                  <div class="ecl-file__link-container">
            <a
              href="../../example.html#"
              class="ecl-link ecl-file__link ">
              <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
              <span class="ecl-file__title">Link to a .pdf file</span>
                            <span class="ecl-file__type">pdf</span>
                          </a>
          </div>
                  <div class="ecl-file__link-container">
            <a
              href="../../example.html#"
              class="ecl-link ecl-file__link ">
              <span class="ecl-icon ecl-icon--slides ecl-file__icon"></span>
              <span class="ecl-file__title">Link to a presentation .ppt file</span>
                            <span class="ecl-file__type">ppt</span>
                          </a>
          </div>
                  <div class="ecl-file__link-container">
            <a
              href="../../example.html#"
              class="ecl-link ecl-file__link ">
              <span class="ecl-icon ecl-icon--image ecl-file__icon"></span>
              <span class="ecl-file__title">Link to an image .jpg file</span>
                            <span class="ecl-file__type">jpg</span>
                          </a>
          </div>
                  </section>
  
