














<div class="ecl-row ecl-comment">
    <div class="ecl-comment__image-wrapper">
    <img class="ecl-image ecl-image--fluid ecl-comment__image" src="https://unsplash.it/300/400?image=1005" alt="Martin's photo">
  </div>
    <div class="ecl-comment__body">
    <div class="ecl-comment__meta">
      <span class="ecl-comment__author">Martin (Not verified)</span> |
      <span class="ecl-comment__date">26 March 2015</span>
    </div>
    







  



<a class="ecl-link ecl-heading ecl-heading--h3 ecl-comment__title" href="../../example.html#">Nice article</a>
    <p class="ecl-paragraph ecl-comment__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem eius enim eos error esse fugiat incidunt iste laudantium nemo, numquam quam quasi repudiandae sapiente soluta sunt tempore ullam voluptatem.</p>
        <ul class="ecl-list ecl-list--inline ecl-comment__operations">
              <li>
          







  



<a class="ecl-link ecl-comment__reply" href="../../example.html#">Reply</a>
        </li>
                    <li>
          







  



<a class="ecl-link ecl-comment__edit" href="../../example.html#">Edit</a>
        </li>
                    <li>
          







  



<a class="ecl-link ecl-comment__delete" href="../../example.html#">Delete</a>
        </li>
          </ul>
      </div>
</div>

