

<!-- Start: @ec-style-typography-heading--h1 -->
<h1 class="ecl-heading ecl-heading--h1" style="">Heading &lt;h1&gt; with class ecl-heading ecl-heading--h1</h1>
<!-- End: @ec-style-typography-heading--h1 -->

<!-- Start: @ec-style-typography-heading--h2 -->
<h2 class="ecl-heading ecl-heading--h2" style="">Heading &lt;h2&gt; with class ecl-heading ecl-heading--h2</h2>
<!-- End: @ec-style-typography-heading--h2 -->

<!-- Start: @ec-style-typography-heading--h3 -->
<h3 class="ecl-heading ecl-heading--h3" style="">Heading &lt;h3&gt; with class ecl-heading ecl-heading--h3</h3>
<!-- End: @ec-style-typography-heading--h3 -->

<!-- Start: @ec-style-typography-heading--h4 -->
<h4 class="ecl-heading ecl-heading--h4" style="">Heading &lt;h4&gt; with class ecl-heading ecl-heading--h4</h4>
<!-- End: @ec-style-typography-heading--h4 -->

<!-- Start: @ec-style-typography-heading--h5 -->
<h5 class="ecl-heading ecl-heading--h5" style="">Heading &lt;h5&gt; with class ecl-heading ecl-heading--h5</h5>
<!-- End: @ec-style-typography-heading--h5 -->

<!-- Start: @ec-style-typography-heading--headline -->
<div class="ecl-heading ecl-heading--headline" style="background-color: #004494">Headline with class ecl-heading ecl-heading--headline and background</div>
<!-- End: @ec-style-typography-heading--headline -->

