


      <!-- Start: @ec-style-image--img -->

      <h3 class="ecl-heading ecl-heading--h3">Using &lt;img&gt; tag
</h3>

      <img
  class="ecl-image ecl-image--fluid"  alt="This is a test image"
  src="../../assets/demo_images/nature-demo-1.jpg"
   />

      <!-- End: @ec-style-image--img -->

    

      <!-- Start: @ec-style-image--picture -->

      <h3 class="ecl-heading ecl-heading--h3">Using &lt;picture&gt; tag
</h3>

      <picture
    >

    <source media="(min-width: 1200px)" srcset="../../assets/demo_images/1280x960.png">
    
      <source media="(min-width: 992px)" srcset="../../assets/demo_images/1024x768.png">
  
    <source media="(min-width: 768px)" srcset="../../assets/demo_images/800x600.png">
    
    <source media="(min-width: 480px)" srcset="../../assets/demo_images/640x480.png">
  
    <source media="(max-width: 479px)" srcset="../../assets/demo_images/400x300.png">
  
  <img src="../../assets/demo_images/1280x960.png" alt="This is a test image" class="ecl-image ecl-image--fluid">
</picture>

      <!-- End: @ec-style-image--picture -->

    
