














<form class="ecl-form">
      










<fieldset class="ecl-fieldset">
          







  

<legend class="ecl-form-legend ecl-form-legend--level-1">Personal information</legend>        










<div class="ecl-form-group">
              










<label class="ecl-form-label" for="field-ID-1">First name</label>
            











        


<input
  type="text"
  class="ecl-text-input"
  id="field-ID-1"
  name="field-name-1"
   placeholder="Some placeholder text."
/>
          </div>
        










<div class="ecl-form-group">
              










<label class="ecl-form-label" for="field-ID-2">Last name</label>
            











        


<input
  type="text"
  class="ecl-text-input"
  id="field-ID-2"
  name="field-name-2"
   placeholder="Some placeholder text."
/>
          </div>
      </fieldset>
    










<fieldset class="ecl-fieldset">
          







  

<legend class="ecl-form-legend ecl-form-legend--level-1">Group</legend>        










<fieldset class="ecl-fieldset">
              







  

<legend class="ecl-form-legend ecl-form-legend--level-2">Subgroup 1</legend>            










<div class="ecl-form-group">
                  










<label class="ecl-form-label" for="field-ID-3">Text Input - disabled</label>
                







  




<p class="ecl-help-block ecl-help-block--disabled">This is some placeholder help text</p>
                









  

        


<input
  type="text"
  class="ecl-text-input"
  id="field-ID-3"
  name="field-name-3"
   disabled placeholder="Some placeholder text."
/>
              </div>
            










<div class="ecl-form-group">
                  










<label class="ecl-form-label" for="field-ID-4">Text Input - error on a field</label>
                






  





<p class="ecl-help-block ecl-help-block--has-error">This is some placeholder help text</p>
                








  


        


<input
  type="text"
  class="ecl-text-input ecl-text-input--has-error"
  id="field-ID-4"
  name="field-name-4"
   placeholder="Some placeholder text."
/>
                








  




<div class="ecl-feedback-message ecl-feedback-message--error" role="alert">
  <div class="ecl-feedback-message__title" role="heading" aria-level="4">Some feedback message</div>
  <p class="ecl-feedback-message__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quam urna, elementum eget ultrices non, efficitur quis lectus. Donec mollis felis ac felis tempus mattis</p>
</div>
              </div>
          </fieldset>
        










<fieldset class="ecl-fieldset">
              







  

<legend class="ecl-form-legend ecl-form-legend--level-2">Subgroup 2</legend>            










<div class="ecl-form-group">
                  










<label class="ecl-form-label" for="field-ID-5">Text Input - disabled</label>
                







  




<p class="ecl-help-block ecl-help-block--disabled">This is some placeholder help text</p>
                









  

        


<input
  type="text"
  class="ecl-text-input"
  id="field-ID-5"
  name="field-name-5"
   disabled placeholder="Some placeholder text."
/>
              </div>
          </fieldset>
      </fieldset>
  </form>

