












<nav class="ecl-pager" aria-label="Pagination navigation">
  <ul class="ecl-pager__list">
                        <li class="ecl-pager__item ecl-pager__item--current" aria-current="true">
      <span class="ecl-pager__item-text" >Page</span> 1
    </li>
                      <li class="ecl-pager__item ecl-pager__item--last">
        <a class="ecl-pager__link" title="Go to page 0" href="/page=0">
          <span class="ecl-u-sr-only" >Page </span>0
        </a>
      </li>
              <li class="ecl-pager__item ecl-pager__item--next">
        <a class="ecl-pager__link" title="Go to next page" href="/page=2">Next ›</a>
      </li>
      </ul>
</nav>

