/**
 * Headings
 * @define heading
 */

// Import base
@import '@ecl/generic-base/generic-base';

@import 'mixins';

@mixin ecl-typography-heading() {
  .ecl-heading {
    @include heading();
  }

  .ecl-heading--h1 {
    @include heading-1();
  }

  .ecl-heading--h2 {
    @include heading-2();
  }

  .ecl-heading--h3 {
    @include heading-3();
  }

  .ecl-heading--h4 {
    @include heading-4();
  }

  .ecl-heading--h5 {
    @include heading-5();
  }

  .ecl-heading--headline {
    color: #fff;
    font-size: map-get($ecl-font-size, 'm');
    font-weight: 600;
    line-height: 2.2;
  }

  // Spacing
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  * + .ecl-heading--h1 {
    margin-top: map-get($ecl-spacing, 'xxl');
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  * + .ecl-heading--h2 {
    margin-top: map-get($ecl-spacing, 'xl');
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  * + .ecl-heading--h3 {
    margin-top: map-get($ecl-spacing, 'l');
  }
}
