@import 'mixins';

@mixin ecl-editor-typography-heading() {
  .ecl-editor h1 {
    @include heading();
    @include heading-1();
  }

  .ecl-editor h2 {
    @include heading();
    @include heading-2();
  }

  .ecl-editor h3 {
    @include heading();
    @include heading-3();
  }

  .ecl-editor h4 {
    @include heading();
    @include heading-4();
  }

  .ecl-editor h5 {
    @include heading();
    @include heading-5();
  }

  .ecl-editor {
    * + h1 {
      margin-top: map-get($ecl-spacing, 'xxl');
    }

    * + h2 {
      margin-top: map-get($ecl-spacing, 'xl');
    }

    * + h3 {
      margin-top: map-get($ecl-spacing, 'l');
    }
  }
}
