/**
 * ECL Dropdowns
 * @define dropdown
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-dropdown() {
  .ecl-dropdown {
    margin: 0;
    position: relative;
  }

  // collapsed/open part of the dropdown
  .ecl-dropdown__body {
    background-color: map-get($ecl-colors, 'grey-5');
    border: 1px solid #ccc rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    list-style: none;
    position: absolute;
    z-index: map-get($ecl-z-index, 'dropdown');
  }

  .ecl-dropdown__body[aria-hidden='true'] {
    display: none;
  }
}
