/**
 * ECL Link blocks
 * @define link-block ; weak
 */

.ecl-link-block {
  background-color: map-get($ecl-colors, 'grey-5');
  margin: 0;
  padding: map-get($ecl-spacing, 's');
}

.ecl-link-block__links {
  font-size: map-get($ecl-font-size, 's');
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: map-get($ecl-spacing, 'xxs');
    white-space: nowrap;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.ecl-link-block__title {
  color: map-get($ecl-colors, 'blue-110');
  font-size: map-get($ecl-font-size, 's');
  font-weight: 600;
  line-height: map-get($ecl-spacing, 'm');
  margin-bottom: map-get($ecl-spacing, 'xxs');
  padding: 0;
}
