/**
 * Page header
 * @define page-header; weak
 */

// Import base
@import '@ecl/ec-base/ec-base';

@include check-imports(('ec-component-breadcrumb', 'ec-layout-grid'));

@mixin ecl-page-header() {
  .ecl-page-header {
    background-color: $ecl-color-primary;
    color: $ecl-color-white-100;
    margin: 0;
    padding-bottom: $ecl-spacing-xl;

    .ecl-container > :first-child:not(.ecl-page-header__breadcrumb) {
      margin-top: 0;
      padding-top: $ecl-spacing-xl;
    }
  }

  .ecl-page-header__breadcrumb {
    margin-bottom: $ecl-spacing-xl;
  }

  .ecl-page-header__meta-list {
    font: $ecl-font-m;
    text-transform: uppercase;
  }

  .ecl-page-header__title {
    font: $ecl-font-3-xl;
    font-weight: $ecl-font-weight-bold;
    margin: $ecl-spacing-m 0 0;

    @include ecl-media-breakpoint-up('lg') {
      font: $ecl-font-4-xl;
      font-weight: $ecl-font-weight-bold;
    }
  }

  .ecl-page-header__description {
    font: $ecl-font-prolonged-l;
    margin: $ecl-spacing-m 0 0;
    max-width: 80ch;

    @include ecl-media-breakpoint-up('lg') {
      font: $ecl-font-prolonged-xl;
    }
  }

  .ecl-page-header__info-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: $ecl-spacing-xl 0 0;
    padding: 0;

    @include ecl-media-breakpoint-up('lg') {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .ecl-page-header__info-item {
    align-items: center;
    display: flex;
    font: $ecl-font-m;
  }

  .ecl-page-header__info-item + .ecl-page-header__info-item {
    margin-top: $ecl-spacing-m;

    @include ecl-media-breakpoint-up('lg') {
      margin-left: $ecl-spacing-xl;
      margin-top: 0;
    }
  }

  .ecl-page-header__info-icon {
    margin-right: $ecl-spacing-xs;
  }

  /*
   * Background image
   */
  .ecl-page-header--background-image {
    background-position: 0 0;
    background-size: cover;
    display: block;
    height: auto;
    position: relative;
    width: 100%;

    &::before {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .ecl-page-header__breadcrumb {
      background-color: transparent;
    }
  }
}

// Use mixin
@include exports('ec-component-page-header') {
  @include ecl-page-header();
}
