.skip-link,
#skip-link {
  @include ecl-hidden-print();

  position: fixed;
  top: 1.5em;
  left: 1.5em;
  z-index: 999;

  a {
    padding: 8px;
    background-color: map-get($ecl-colors, 'blue-75');
    color: #fff;
    outline: 4px solid map-get($ecl-colors, 'yellow-100');
    outline-offset: 0;
  }
}
