/**
 * Pagination
 * @define pagination
 */

// Import base
@import '@ecl/eu-base/eu-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('eu-component-link'));

@mixin ecl-pagination(
  $text-color: $ecl-color-blue-100,
  $border-color: $ecl-color-black-100,
  $current-text-color: $ecl-color-black-100,
  $current-border-color: $ecl-color-black-100
) {
  .ecl-pagination {
    border-top: 2px solid $border-color;
    color: $text-color;
    font: $ecl-font-m;
    margin: 0;
    padding-bottom: $ecl-spacing-m;
    padding-top: $ecl-spacing-m;
  }

  .ecl-pagination__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .ecl-pagination__item {
    display: none;
  }

  .ecl-pagination__item--previous,
  .ecl-pagination__item--next {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    font-weight: $ecl-font-weight-bold;
  }

  .ecl-pagination__item--next {
    justify-content: flex-end;
  }

  .ecl-pagination__item--current {
    color: $current-text-color;
    display: flex;
    font-weight: bold;
  }

  .ecl-pagination__text--summary {
    display: none;
  }

  .ecl-pagination__text--full {
    display: block;
  }

  .ecl-pagination__link,
  .ecl-pagination__text {
    padding: $ecl-spacing-2-xs;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-pagination__list {
      justify-content: center;
    }

    .ecl-pagination__item {
      display: flex;
      flex-grow: 0;
      margin-right: $ecl-spacing-l;

      &:last-child {
        margin-right: 0;
      }
    }

    .ecl-pagination__item--previous,
    .ecl-pagination__item--next {
      flex-basis: auto;
    }

    .ecl-pagination__item--current {
      border: 2px solid $current-border-color;
      border-radius: 10rem; // High value to force circular corners, but not fully circular shape
      justify-content: center;
      min-width: 1.75rem;
    }

    .ecl-pagination__text--summary {
      display: block;
    }

    .ecl-pagination__text--full {
      display: none;
    }
  }
}

// Use  mixin
@include exports('eu-component-pagination') {
  @include ecl-pagination;
}
