/**
 * Buttons component
 * @define form-label
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-form-label() {
  .ecl-form-label {
    box-sizing: border-box;
    color: $ecl-color-text;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    margin: 0;
    padding: 0;
  }

  .ecl-form-label--disabled {
    color: $ecl-color-grey-50;
  }

  // DEPRECATED
  .ecl-form-label--hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: visible;
    white-space: nowrap;
    width: 1px;
  }

  .ecl-form-label__required {
    color: $ecl-color-red;
    font: $ecl-font-xl;
    font-weight: $ecl-font-weight-bold;
  }

  .ecl-form-label__optional {
    font: $ecl-font-s;
    font-weight: $ecl-font-weight-regular;
  }
}

// Use mixin
@include exports('ec-component-form-label') {
  @include ecl-form-label;
}
