@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'typography-print' with (
  $_heading1: map.get(theme.$font-print, '4xl'),
  $_heading2: map.get(theme.$font-print, '3xl'),
  $_heading3: map.get(theme.$font-print, '2xl'),
  $_heading4: map.get(theme.$font-prolonged-print, 'xl'),
  $_heading5: map.get(theme.$font-prolonged-print, 'm'),
  $_heading6: map.get(theme.$font-prolonged-print, 'm')
);
