@use 'sass:map';
@use '@ecl/theme-ec/theme';
@use 'typography' with (
  $_heading-color: map.get(theme.$color, 'dark'),
  $_text-color: map.get(theme.$color, 'dark'),
  $_heading1: (
    'mobile': var(--ecl-font-3xl),
    'desktop': var(--ecl-font-4xl),
    'font-weight': map.get(theme.$font-weight, 'regular'),
  ),
  $_heading2: (
    'mobile': var(--ecl-font-2xl),
    'desktop': var(--ecl-font-3xl),
    'font-weight': map.get(theme.$font-weight, 'regular'),
  ),
  $_heading3: (
    'mobile': var(--ecl-font-xl),
    'desktop': var(--ecl-font-2xl),
    'font-weight': map.get(theme.$font-weight, 'regular'),
  ),
  $_heading4: (
    'mobile': var(--ecl-font-l),
    'desktop': var(--ecl-font-xl),
    'font-weight': map.get(theme.$font-weight, 'regular'),
  ),
  $_heading5: (
    'mobile': var(--ecl-font-l),
    'desktop': var(--ecl-font-l),
    'font-weight': map.get(theme.$font-weight, 'regular'),
  ),
  $_heading6: (
    'mobile': var(--ecl-font-m),
    'desktop': var(--ecl-font-m),
    'font-weight': map.get(theme.$font-weight, 'bold'),
  ),
  $_paragraph: (
    'xs': var(--ecl-font-xs),
    's': var(--ecl-font-s),
    'm': var(--ecl-font-m),
    'l': (
      'mobile': var(--ecl-font-l),
      'desktop': var(--ecl-font-l),
    ),
  )
);
