@use "sass:map";
@use "@ecl/theme-dev/maps/typography";
@use "@ecl/theme-dev/maps/color";
@use "@ecl/theme-dev/maps/layout";
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

/*
   * Headings
   */
.ecl-u-type-heading-1 {
  font: map.get(typography.$font, '3xl') !important;
  font-weight: map.get(typography.$font-weight, 'bold') !important;

  @include breakpoints.up('m') {
    font: map.get(typography.$font, '4xl') !important;
    font-weight: map.get(typography.$font-weight, 'bold') !important;
  }
}

.ecl-u-type-heading-2 {
  font: map.get(typography.$font, '2xl') !important;
  font-weight: map.get(typography.$font-weight, 'bold') !important;

  @include breakpoints.up('m') {
    font: map.get(typography.$font, '3xl') !important;
    font-weight: map.get(typography.$font-weight, 'bold') !important;
  }
}

.ecl-u-type-heading-3 {
  font: map.get(typography.$font, 'xl') !important;
  font-weight: map.get(typography.$font-weight, 'bold') !important;

  @include breakpoints.up('m') {
    font: map.get(typography.$font, '2xl') !important;
    font-weight: map.get(typography.$font-weight, 'bold') !important;
  }
}

.ecl-u-type-heading-4 {
  font: map.get(typography.$font-prolonged, 'l') !important;
  font-weight: map.get(typography.$font-weight, 'bold') !important;

  @include breakpoints.up('m') {
    font: map.get(typography.$font-prolonged, 'xl') !important;
    font-weight: map.get(typography.$font-weight, 'bold') !important;
  }
}

.ecl-u-type-heading-5 {
  font: map.get(typography.$font-prolonged, 'm') !important;
  font-weight: map.get(typography.$font-weight, 'bold') !important;
}

/*
   * Paragraph
   */
.ecl-u-type-paragraph,
.ecl-u-type-paragraph-m {
  font: map.get(typography.$font-prolonged, 'm') !important;
  max-width: 80ch !important;
}

.ecl-u-type-paragraph-lead {
  font: map.get(typography.$font-prolonged, 'l') !important;
  max-width: 80ch !important;

  @include breakpoints.up('m') {
    font: map.get(typography.$font-prolonged, 'xl') !important;
  }
}

.ecl-u-type-paragraph-s {
  font: map.get(typography.$font-prolonged, 's') !important;
  max-width: 80ch !important;
}

.ecl-u-type-paragraph-xs {
  font: map.get(typography.$font-prolonged, 'xs') !important;
  max-width: 80ch !important;
}

/*
   * Font size
   */
.ecl-u-type-xs {
  font: map.get(typography.$font, 'xs') !important;
}
.ecl-u-type-s {
  font: map.get(typography.$font, 's') !important;
}
.ecl-u-type-m {
  font: map.get(typography.$font, 'm') !important;
}
.ecl-u-type-l {
  font: map.get(typography.$font, 'l') !important;
}
.ecl-u-type-xl {
  font: map.get(typography.$font, 'xl') !important;
}
.ecl-u-type-2xl {
  font: map.get(typography.$font, '4xl') !important;
}
.ecl-u-type-3xl {
  font: map.get(typography.$font, '3xl') !important;
}
.ecl-u-type-4xl {
  font: map.get(typography.$font, '4xl') !important;
}
.ecl-u-type-5xl {
  font: map.get(typography.$font, '5xl') !important;
}
.ecl-u-type-6xl {
  font: map.get(typography.$font, '6xl') !important;
}
.ecl-u-type-prolonged-xs {
  font: map.get(typography.$font-prolonged, 'xs') !important;
}
.ecl-u-type-prolonged-s {
  font: map.get(typography.$font-prolonged, 's') !important;
}
.ecl-u-type-prolonged-m {
  font: map.get(typography.$font-prolonged, 'm') !important;
}
.ecl-u-type-prolonged-l {
  font: map.get(typography.$font-prolonged, 'l') !important;
}
.ecl-u-type-prolonged-xl {
  font: map.get(typography.$font-prolonged, 'xl') !important;
}

/*
   * Font colour
   */
@each $key, $value in color.$color {
  // Filter out yellow colours (text should not be yellow)
  @if not str-index($key, 'yellow-') {
    .ecl-u-type-color-#{$key} {
      color: $value !important;
    }
  }
}

/*
   * Font style
   */
.ecl-u-type-regular {
  font-weight: map.get(typography.$font-weight, 'regular') !important;
}
.ecl-u-type-bold {
  font-weight: map.get(typography.$font-weight, 'bold') !important;
}
.ecl-u-type-capitalize {
  text-transform: capitalize !important;
}
.ecl-u-type-lowercase {
  text-transform: lowercase !important;
}
.ecl-u-type-uppercase {
  text-transform: uppercase !important;
}
.ecl-u-type-overline {
  text-decoration: overline !important;
}
.ecl-u-type-underline {
  text-decoration: underline !important;
}
.ecl-u-type-strike {
  text-decoration: line-through !important;
}
.ecl-u-type-none {
  text-decoration: none !important;
}
