/**
 * Table component
 * @define table
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-table-print() {
  .ecl-table {
    color: $ecl-color-grey;
    font: $ecl-font-print-m;
    margin: 0;
  }
}

// Use mixin
@include exports('eu-component-table-print') {
  @include ecl-table-print();
}
