<nav class="ecl-breadcrumbs {{extraClass}}" aria-label="breadcrumbs">
  <span class="ecl-u-sr-only">You are here:</span>
  <ol class="ecl-breadcrumbs__segments-wrapper">
    {% for segment in segments %}
    <li class="ecl-breadcrumbs__segment{{ loop.first ? " ecl-breadcrumbs__segment--first" : "" }}{{ loop.last ? " ecl-breadcrumbs__segment--last" : "" }}">
      {% include '@ecl/generic-links' with {
        'extra_classes': 'ecl-breadcrumbs__link',
        'variant': ['inverted', 'standalone'],
        }|merge(segment|default({}))
      %}
    </li>
    {% endfor %}
  </ol>
</nav>
