/*
 * Feedback message
 * @define feedback-message
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-feedback-message-print() {
  .ecl-feedback-message {
    color: $ecl-color-error;
    font: $ecl-font-prolonged-print-m;
    margin: 0;
  }
}

// Use mixin
@include exports('eu-component-feedback-message-print') {
  @include ecl-feedback-message-print();
}
