{% set id = id|default('default-id') %}
{% set name = name|default('default-name') %}

{# Internal properties #}

{% set _css_class = 'ecl-select' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if has_error is defined and has_error == true %}
  {% set _css_class = _css_class ~ ' ecl-select--has-error' %}
{% endif %}

{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{% if is_disabled is defined and is_disabled == true %}
  {% set _extra_attributes = _extra_attributes ~ ' disabled' %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~'"' %}
  {% endfor %}
{% endif %}

{# Print the result  #}

{% spaceless %}
<select
  class="{{ _css_class }}"
  id="{{ id }}"
  name="{{ name }}"
  {{ _extra_attributes }}
>
{% block options %}
  <optgroup label="Asia">
    <option value="3">Delhi</option>
    <option value="4">Hong Kong</option>
    <option value="8">Mumbai</option>
    <option value="11">Tokyo</option>
  </optgroup>
  <optgroup label="Europe">
    <option value="1">Amsterdam</option>
    <option value="5">London</option>
    <option value="7">Moscow</option>
  </optgroup>
  <optgroup label="North America">
    <option value="6">Los Angeles</option>
    <option value="9">New York</option>
  </optgroup>
  <optgroup label="South America">
    <option value="2">Buenos Aires</option>
    <option value="10">Sao Paulo</option>
  </optgroup>
{% endblock %}
</select>
{% endspaceless %}
