/**
 * Button
 * @define button
 */

@use 'sass:map';
@use '@ecl/utility-screen-reader/screen-reader';
@use '@ecl/mixins-typography/mixins';

// Exposed variables
$theme: null !default;
$button: null !default;

.ecl-button,
%ecl-button {
  --ecl-button-bg-color: none;
  --ecl-button-border-width: 0px;
  --ecl-button-border-color: transparent;
  --ecl-button-color: transparent;
  --ecl-button-padding-horizontal: #{map.get(
      $button,
      'large',
      'padding-horizontal'
    )};
  --ecl-button-padding-vertical: #{map.get(
      $button,
      'large',
      'padding-vertical'
    )};
  --ecl-button-min-size: #{map.get($button, 'large', 'size')};

  appearance: none;
  background: var(--ecl-button-bg-color);
  border: var(--ecl-button-border-width) solid var(--ecl-button-border-color);
  border-radius: map.get($button, 'radius');
  box-sizing: border-box;
  color: var(--ecl-button-color);
  cursor: pointer;
  display: inline-block;
  margin: 0;
  min-height: var(--ecl-button-min-size);
  min-width: var(--ecl-button-min-size);
  padding-block: calc(
    var(--ecl-button-padding-vertical) - var(--ecl-button-border-width)
  );
  padding-inline: calc(
    var(--ecl-button-padding-horizontal) - var(--ecl-button-border-width)
  );
  text-decoration: none;

  @include mixins.responsive-font(map.get($button, 'large', 'font'));

  &:hover {
    box-shadow: map.get($button, 'shadow');
    text-decoration: none;
  }

  &:focus-visible {
    outline: var(--ecl-focus-outline-width) solid var(--ecl-focus-outline-color);
    outline-offset: var(--ecl-focus-outline-offset);
    text-decoration: none;
  }

  &:active {
    outline-width: 0;
  }

  &.ecl-button--s {
    --ecl-button-padding-horizontal: #{map.get(
        $button,
        'small',
        'padding-horizontal'
      )};
    --ecl-button-padding-vertical: #{map.get(
        $button,
        'small',
        'padding-vertical'
      )};
    --ecl-button-min-size: #{map.get($button, 'small', 'size')};

    @include mixins.responsive-font(map.get($button, 'small', 'font'));
  }

  &.ecl-button--m {
    --ecl-button-padding-horizontal: #{map.get(
        $button,
        'medium',
        'padding-horizontal'
      )};
    --ecl-button-padding-vertical: #{map.get(
        $button,
        'medium',
        'padding-vertical'
      )};
    --ecl-button-min-size: #{map.get($button, 'medium', 'size')};

    @include mixins.responsive-font(map.get($button, 'medium', 'font'));
  }
}

.ecl-button__container {
  align-items: center;
  display: flex;
}

.ecl-button__icon {
  --ecl-button-icon-size: #{map.get($button, 'large', 'icon-size')};

  flex-shrink: 0;
  height: var(--ecl-button-icon-size);
  width: var(--ecl-button-icon-size);

  .ecl-button--s & {
    --ecl-button-icon-size: #{map.get($button, 'small', 'icon-size')};
  }

  .ecl-button--m & {
    --ecl-button-icon-size: #{map.get($button, 'medium', 'icon-size')};
  }
}

.ecl-button__icon-container {
  display: flex;
  position: relative;
}

.ecl-button__indicator {
  display: none;
}

// Icon only
.ecl-button--icon-only {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 !important;

  .ecl-button__label {
    @include screen-reader.sr-only;
  }

  .ecl-button__icon {
    --ecl-button-icon-only-size: #{map.get($button, 'large', 'icon-only-size')};

    height: var(--ecl-button-icon-only-size);
    width: var(--ecl-button-icon-only-size);
  }

  &.ecl-button--s .ecl-button__icon {
    --ecl-button-icon-only-size: #{map.get($button, 'small', 'icon-only-size')};
  }

  &.ecl-button--m .ecl-button__icon {
    --ecl-button-icon-only-size: #{map.get($button, 'medium', 'icon-only-size')};
  }
}

.ecl-button:not(.ecl-button--icon-only) {
  --ecl-button-icon-spacing: #{map.get($button, 'large', 'icon-spacing')};

  .ecl-button__icon ~ .ecl-button__label,
  .ecl-button__icon-container ~ .ecl-button__label,
  .ecl-button__label ~ .ecl-button__icon,
  .ecl-button__label ~ .ecl-button__icon-container {
    margin-inline-start: var(--ecl-button-icon-spacing);
  }

  &.ecl-button--s {
    --ecl-button-icon-spacing: #{map.get($button, 'small', 'icon-spacing')};
  }

  &.ecl-button--m {
    --ecl-button-icon-spacing: #{map.get($button, 'medium', 'icon-spacing')};
  }
}

// Button styles
// stylelint-disable nesting-selector-no-missing-scoping-root
@mixin button($variant: null) {
  --ecl-button-bg-color: #{map.get($button, #{$variant}, 'background')};
  --ecl-button-border-width: #{map.get($button, #{$variant}, 'border-width')};
  --ecl-button-border-color: #{map.get($button, #{$variant}, 'border-color')};
  --ecl-button-color: #{map.get($button, #{$variant}, 'color')};

  @if map.has-key($button, #{$variant}, 'border-width-small') {
    &.ecl-button--s {
      --ecl-button-border-width: #{map.get(
          $button,
          #{$variant},
          'border-width-small'
        )};
    }
  }

  @if map.has-key($button, #{$variant}, 'border-width-medium') {
    &.ecl-button--m {
      --ecl-button-border-width: #{map.get(
          $button,
          #{$variant},
          'border-width-medium'
        )};
    }
  }

  &:hover {
    --ecl-button-bg-color: #{map.get($button, #{$variant}, 'background-hover')};
    --ecl-button-border-color: #{map.get(
        $button,
        #{$variant},
        'border-color-hover'
      )};
    --ecl-button-color: #{map.get($button, #{$variant}, 'color-hover')};
  }

  &:focus-visible {
    --ecl-button-bg-color: #{map.get($button, #{$variant}, 'background-focus')};
    --ecl-button-border-color: #{map.get(
        $button,
        #{$variant},
        'border-color-focus'
      )};
    --ecl-button-color: #{map.get($button, #{$variant}, 'color-focus')};
    --ecl-focus-outline-width: #{map.get($button, #{$variant}, 'outline-width')};
    --ecl-focus-outline-color: #{map.get($button, #{$variant}, 'outline-color')};
    --ecl-focus-outline-offset: #{map.get(
        $button,
        #{$variant},
        'outline-offset'
      )};

    @if map.has-key($button, #{$variant}, 'shadow-focus') {
      box-shadow: map.get($button, #{$variant}, 'shadow-focus');
    }
  }

  @if map.has-key($button, #{$variant}, 'border-width-focus') {
    &:focus-visible {
      --ecl-button-border-width: #{map.get(
          $button,
          #{$variant},
          'border-width-focus'
        )};
    }

    &.ecl-button--s:focus-visible {
      --ecl-button-border-width: #{map.get(
          $button,
          #{$variant},
          'border-width-focus'
        )};
    }

    &.ecl-button--m:focus-visible {
      --ecl-button-border-width: #{map.get(
          $button,
          #{$variant},
          'border-width-focus'
        )};
    }
  }

  &:active {
    --ecl-button-bg-color: #{map.get($button, #{$variant}, 'background-active')};
    --ecl-button-border-color: #{map.get(
        $button,
        #{$variant},
        'border-color-active'
      )};
    --ecl-button-color: #{map.get($button, #{$variant}, 'color-active')};
  }

  &[disabled],
  &[disabled]:hover {
    --ecl-button-bg-color: #{map.get(
        $button,
        #{$variant},
        'background-disabled'
      )};
    --ecl-button-border-color: #{map.get(
        $button,
        #{$variant},
        'border-color-disabled'
      )};
    --ecl-button-color: #{map.get($button, #{$variant}, 'color-disabled')};

    cursor: not-allowed;
    opacity: map.get($button, #{$variant}, 'opacity-disabled');
  }
}
// stylelint-enable nesting-selector-no-missing-scoping-root

// Primary
.ecl-button--primary {
  @include button(primary);

  &.ecl-button--highlight {
    @include button(primary-highlight);
  }

  &.ecl-button--neutral {
    @include button(primary-neutral);
  }

  &.ecl-button--inverted {
    @include button(primary-inverted);
  }

  &.ecl-button--highlight-inverted {
    @include button(primary-highlight-inverted);
  }
}

.ecl-button--secondary,
%ecl-button {
  @include button(secondary);
}

.ecl-button--secondary.ecl-button--neutral {
  @include button(secondary-neutral);
}

.ecl-button--secondary.ecl-button--inverted {
  @include button(secondary-inverted);
}

.ecl-button--tertiary {
  @include button(tertiary);

  &.ecl-button--neutral {
    @include button(tertiary-neutral);
  }

  &.ecl-button--inverted {
    @include button(tertiary-inverted);
  }
}
