/*
Textarea

Markup: html/textarea.html

Style guide form.textarea
*/

textarea {
  &.error {
    border-color: $ec-red-n;
  }
}

.form-group .messages.error {
  background-color: $ec-grey10;
  border: none;

  h3 {
    font-size: inherit;
  }

  p {
    font-size: map-get($font-size, 's');
  }
}
