/**
 * Fields component
 * @define field
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-field() {
  .ecl-field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .ecl-field__label {
    font-size: map-get($ecl-font-size, 'xs');
    font-weight: 600;
    margin-bottom: map-get($ecl-spacing, 'xxxs');
  }

  .ecl-field + .ecl-field {
    margin-top: map-get($ecl-spacing, 'xxs');
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    .ecl-field {
      align-items: center;
      flex-direction: row;
    }

    .ecl-field__label {
      margin-bottom: 0;
      width: 20%;
    }

    .ecl-field--aligned .ecl-field__body {
      margin-left: 20%;
    }
  }
}
