/**
 * Fields component
 * @define field
 */

$ecl-field-label-width: 10rem !default;
$ecl-field-gutter: 1.25rem !default;

@mixin ecl-field() {
  .ecl-field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .ecl-field__label {
    color: $ecl-color-shade;
    font-size: map-get($ecl-font-size, 's');
    font-weight: 600;
    line-height: 1.25;
    width: $ecl-field-label-width;
  }

  .ecl-field__body {
    color: $ecl-color-shade;
    font-size: map-get($ecl-font-size, 's');
    line-height: 1.25;
    max-width: 32em;
  }

  .ecl-field__label + .ecl-field__body {
    margin-top: map-get($ecl-spacing, 'xxxs');
  }

  .ecl-field + .ecl-field {
    margin-top: map-get($ecl-spacing, 'xs');
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    .ecl-field {
      align-items: center;
      flex-direction: row;
    }

    .ecl-field__label {
      margin-bottom: 0;
    }

    .ecl-field__body {
      margin-left: $ecl-field-gutter;
    }

    .ecl-field__label + .ecl-field__body {
      margin-top: 0;
    }

    .ecl-field--aligned .ecl-field__body {
      margin-left: $ecl-field-label-width + $ecl-field-gutter;
    }
  }
}
