@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';

.splash-page {
  background-color: map.get(color.$ecl-color, 'grey-5');
  box-sizing: border-box;
  min-height: 100vh;
  padding: map.get(spacing.$ecl-spacing, '4xl') 0
    map.get(spacing.$ecl-spacing, 'xl');
}

.splash-page-actions-row {
  margin-top: map.get(spacing.$ecl-spacing, 'xl');

  @media screen and (min-width: 768px) {
    margin-top: map.get(spacing.$ecl-spacing, '4xl');
  }
}

.splash-page-actions-row .splash-page-actions-col + .splash-page-actions-col {
  margin-top: map.get(spacing.$ecl-spacing, 'm');

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
