@import '@ecl/ec-theme-default/index';

.splash-page {
  background-color: $ecl-color-grey-5;
  box-sizing: border-box;
  min-height: 100vh;
  padding: $ecl-spacing-4-xl 0 $ecl-spacing-xl;
}

.splash-page-actions-row {
  margin-top: $ecl-spacing-xl;

  @media screen and (min-width: 768px) {
    margin-top: $ecl-spacing-4-xl;
  }
}

.splash-page-actions-row .splash-page-actions-col + .splash-page-actions-col {
  margin-top: $ecl-spacing-m;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

/* Some specific overrides */
.splash-page-editor {
  * {
    color: $ecl-color-grey-75;
  }

  h1 {
    color: $ecl-color-grey-100;
  }

  * + p,
  * + ul,
  * + ol {
    margin-top: $ecl-spacing-s !important;
  }

  h1 + p {
    margin-top: $ecl-spacing-m !important;
  }
}
