// Original: https://github.com/wilsonpage/sass-import-once

$ecl-import-once-warn: false !default;
$ecl-check-imports-warn: false !default;
$imported-modules: () !default;

/// Module export mixin
/// This mixin helps making sure a module is imported once and only once.
/// @access public
/// @param {String} $name - Name of exported module
/// @param {Bool} $warn [true] - Warn when module has been already imported
/// @require $imported-modules
@mixin exports($name, $warn: $ecl-import-once-warn) {
  @if (index($imported-modules, $name) == null) {
    $imported-modules: append($imported-modules, $name) !global;
    @content;
  } @else if $warn == true {
    @warn 'Module `#{$name}` has already been imported.';
  }
}

// Warn if external dependencies have not been imported yet
@mixin check-imports($dependencies, $warn: $ecl-check-imports-warn) {
  @if $warn == true {
    @each $dep in $dependencies {
      /* stylelint-disable-next-line */
      @if (index($imported-modules, $dep) == null) {
        @warn 'Module `#{$dep}` has not been imported yet.';
      }
    }
  }
}
