<!DOCTYPE html>
{% set bodyClass = 'ecl-typography' %}
{% if _target.context is defined and _target.context.global is defined %}
  {% set global = _target.context.global %}
  {% if global.svg is defined %}
    {% set bodyClass = bodyClass ~ ' no-svg' %}
  {% endif %}
  {% if global.language is defined %}
    {% set bodyClass = bodyClass ~ ' language-' ~ global.language %}
  {% endif %}
{% endif %}
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Preview Layout</title>
  <script>document.documentElement.classList.remove('no-js');</script>
  <link media="all" rel="stylesheet" href="{{ '/ec-preset-website/styles/europa.css' | path }}">
  <style>
    body {
      background-color: #004494;
    }
  </style>
</head>
<body class="{{ bodyClass }}">
  {{ yield }}
  <script src="{{ '/ec-preset-website/scripts/europa.js' | path }}"></script>
</body>
</html>
