<div class="ecl-rss-link">
  <span class="ecl-rss-link__label">Get updates:</span>
  {% include '@ecl/eu-component-social-icon' with {
    'variant': 'rss',
    'link': {
      'href': '../../example.html#',
      'extra_classes': 'ecl-rss-link__link',
      'label': 'RSS'
    }
  } %}
</div>
