<div class="ecl-rss-link">
  <span class="ecl-rss-link__label">Get updates:</span>
  {% include '@ecl/eu-component-social-icon' with {
    link: {
      href: '../../example.html#',
      variant: 'rss',
      extra_classes: 'ecl-rss-link__link',
      label: 'RSS'
    }
  } %}
</div>
