/**
 * Hero Banner component
 * @define hero-banner
 */

// Import base
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-component-button', 'ec-layout-grid'));

@mixin ecl-hero-banner(
  $background-color-default: $ecl-color-grey-5,
  $title-color-default: $ecl-color-black-100,
  $description-color-default: $ecl-color-grey-100,
  $background-color-primary: $ecl-color-primary,
  $title-color-primary: $ecl-color-white-100,
  $description-color-primary: $ecl-color-white-100,
  $background-color-image: $ecl-color-white-100,
  $title-color-image: $ecl-color-black-100,
  $description-color-image: $ecl-color-grey-100,
  $border-color-image: $ecl-color-yellow-100,
  $background-color-image-shade: rgba(0, 0, 0, 0.7),
  $title-color-image-shade: $ecl-color-white-100,
  $description-color-image-shade: $ecl-color-white-100,
  $content-width: 42.5rem
) {
  .ecl-hero-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    position: relative;
  }

  .ecl-hero-banner__container {
    display: flex;
    width: 100%;
  }

  .ecl-hero-banner__content {
    display: block;
    padding: $ecl-spacing-l;
  }

  .ecl-hero-banner__image {
    background-size: cover;
    height: (1/3) * 100vw;
    width: 100%;
  }

  .ecl-hero-banner__title {
    font: $ecl-font-2-xl;
    margin-bottom: $ecl-spacing-m;
  }

  .ecl-hero-banner__description {
    font: $ecl-font-prolonged-m;
    margin-bottom: $ecl-spacing-m;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('lg') {
    .ecl-hero-banner {
      // manage ratio 3:1
      height: 1px; // IE11 fix, see https://github.com/philipwalton/flexbugs/issues/231
      min-height: (1/3) * 100vw;
    }

    .ecl-hero-banner__container {
      padding: $ecl-spacing-l;
    }

    .ecl-hero-banner__content {
      max-width: $content-width;
    }

    .ecl-hero-banner__image {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }

    .ecl-hero-banner__title {
      font: $ecl-font-4-xl;
      margin-bottom: $ecl-spacing-m;
    }

    .ecl-hero-banner__description {
      font: $ecl-font-prolonged-l;
      margin-bottom: $ecl-spacing-l;
    }
  }

  /*
   * centered
   */
  .ecl-hero-banner--centered {
    .ecl-hero-banner__container {
      justify-content: center;
    }

    .ecl-hero-banner__content {
      text-align: center;
    }
  }

  /*
   * variant: default
   */
  .ecl-hero-banner--default {
    background-color: $background-color-default;

    .ecl-hero-banner__title {
      color: $title-color-default;
    }

    .ecl-hero-banner__description {
      color: $description-color-default;
    }
  }

  /*
   * variant: primary
   */
  .ecl-hero-banner--primary {
    background-color: $background-color-primary;

    .ecl-hero-banner__title {
      color: $title-color-primary;
    }

    .ecl-hero-banner__description {
      color: $description-color-primary;
    }
  }

  /*
   * variant: image
   */
  .ecl-hero-banner--image {
    .ecl-hero-banner__container {
      border-top: 4px solid $border-color-image;
    }

    .ecl-hero-banner__content {
      padding-top: calc(#{$ecl-spacing-l} - 4px);
    }

    .ecl-hero-banner__title {
      color: $title-color-image;
    }

    .ecl-hero-banner__description {
      color: $description-color-image;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('lg') {
    .ecl-hero-banner--image {
      .ecl-hero-banner__container {
        border-top-width: 0;
      }

      .ecl-hero-banner__content {
        background-color: $background-color-image;
        border-bottom: 4px solid $border-color-image;
        border-top-width: 0;
        padding: $ecl-spacing-xl calc(#{$ecl-spacing-xl} - 4px) $ecl-spacing-xl
          $ecl-spacing-xl;
      }
    }
  }

  /*
   * variant: image-shade
   */
  .ecl-hero-banner--image-shade {
    .ecl-hero-banner__title {
      color: $title-color-default;
    }

    .ecl-hero-banner__description {
      color: $description-color-default;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('lg') {
    .ecl-hero-banner--image-shade {
      .ecl-hero-banner__image::before {
        background-color: $background-color-image-shade;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .ecl-hero-banner__title {
        color: $title-color-image-shade;
      }

      .ecl-hero-banner__description {
        color: $description-color-image-shade;
      }
    }
  }
}

// Use  mixin
@include exports('ec-component-hero-banner') {
  @include ecl-hero-banner();
}
