/**
 * Gallery
 * @define gallery; weak
*/

@use "sass:map";
@use "@ecl/theme-dev/maps/color";
@use "@ecl/theme-dev/maps/icon";
@use "@ecl/theme-dev/maps/spacing";
@use "@ecl/theme-dev/maps/typography";
@use "@ecl/theme-dev/maps/z-index";
@use "@ecl/vanilla-layout-grid/mixins/breakpoints";
@use "@ecl/vanilla-utility-media/media";

$_image-height: 185px;
$_description-background: map.get(color.$color, 'grey-100');
$_description-color: map.get(color.$color, 'white-100');

.ecl-gallery {
  margin: 0;
}

.ecl-gallery__list {
  display: block;
  list-style: none;
  margin-bottom: map.get(spacing.$spacing, 'm');
  margin-top: -#{map.get(spacing.$spacing, 'xs')};
  padding-left: 0;
}

.ecl-gallery__item {
  display: block;
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-gallery__item--hidden {
  display: none;
}

.ecl-gallery__item-link {
  text-decoration: none;
}

.ecl-gallery__image-container {
  background-color: map.get(color.$color, 'black-100');
  flex-grow: 1;
  margin: 0;
}

.ecl-gallery__item-link:focus {
  outline: none;

  .ecl-gallery__image-container {
    outline: 3px solid map.get(color.$color, 'yellow-100');
    outline-offset: -3px;
  }
}

@supports (object-fit: cover) {
  .ecl-gallery__image-container {
    background-color: $_description-background;
  }
}

.ecl-gallery__image {
  display: block;
  flex-grow: 0;
  width: 100%;
}

@supports (object-fit: cover) {
  .ecl-gallery__image {
    flex-grow: 1;
    object-fit: cover;
  }
}

.ecl-gallery__image-icon {
  display: none;
}

.ecl-gallery__description {
  background-color: $_description-background;
  color: $_description-color;
  display: flex;
  font: map.get(typography.$font, 'm');
  justify-content: space-between;
  padding: map.get(spacing.$spacing, 's');
  text-decoration: none;
  width: calc(100% - (#{map.get(spacing.$spacing, 's')} * 2));
}

.ecl-gallery__description-icon {
  flex-shrink: 0;
}

.ecl-gallery__meta {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.ecl-gallery__info {
  background-color: map.get(color.$color, 'grey-10');
  float: right;
  font: map.get(typography.$font, 'xs');
  padding: map.get(spacing.$spacing, 'xs') map.get(spacing.$spacing, 's');
}

.ecl-gallery__footer {
  border-top: 1px solid map.get(color.$color, 'grey-10');
  margin-top: map.get(spacing.$spacing, 'xs');
  padding-top: map.get(spacing.$spacing, 'm');
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -#{map.get(spacing.$spacing, 'xs')};
  }

  .ecl-gallery__item {
    flex-grow: 1;
    height: $_image-height;
    margin-left: map.get(spacing.$spacing, 'xs');
    min-width: $_image-height;
    position: relative;
  }

  .ecl-gallery__image-container {
    display: flex;
    position: relative;
  }

  .ecl-gallery__image {
    height: $_image-height;
    margin: 0 auto;
    width: auto;
  }

  .ecl-gallery__image-icon {
    background-color: $_description-background;
    bottom: 0;
    display: block;
    fill: $_description-color;
    padding: map.get(spacing.$spacing, 's');
    position: absolute;
    right: 0;
  }

  .ecl-gallery__description {
    bottom: 0;
    display: none;
    left: 0;
    max-height: $_image-height;
    padding: map.get(spacing.$spacing, 'xs');
    position: absolute;
    width: calc(100% - (#{map.get(spacing.$spacing, 'xs')} * 2));
  }

  .ecl-gallery__description-icon {
    height: map-get(icon.$icon, 'm');
    width: map-get(icon.$icon, 'm');
  }

  .ecl-gallery__item:hover {
    .ecl-gallery__description {
      display: flex;
    }

    .ecl-gallery__image-icon {
      display: none;
    }
  }
}

/*
 * Overlay
*/
$_overlay-background: map.get(color.$color, 'black-100');
$_overlay-z-index: map.get(z-index.$z-index, 'modal');
$_detail-background: map.get(color.$color, 'grey-100');
$_detail-color: map.get(color.$color, 'white-100');

.ecl-gallery__overlay {
  background-color: $_overlay-background;
  border-width: 0;
  display: none;
  flex-direction: column;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $_overlay-z-index;
}

.ecl-gallery__overlay[open] {
  display: flex;
  overflow: auto;
}

.ecl-gallery__close {
  background-color: $_detail-background;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
}

.ecl-gallery__close-button {
  color: $_detail-color;
  font-weight: map.get(typography.$font-weight, 'regular');

  &:hover,
  &:focus {
    color: $_detail-color;
  }
}

.ecl-gallery__slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.ecl-gallery__slider-media-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.ecl-gallery__slider-image,
.ecl-gallery__slider-video {
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  margin: 0;
  max-width: 100%;
  object-fit: contain;
}

.ecl-gallery__slider-embed {
  @include media.aspect-ratio(16, 9);

  width: 100%;
}

.ecl-gallery__slider-previous {
  align-self: flex-start;
  color: $_detail-color;
  flex-shrink: 0;

  &:hover,
  &:focus {
    color: $_detail-color;
  }
}

.ecl-gallery__slider-next {
  align-self: flex-end;
  bottom: 0;
  color: $_detail-color;
  flex-shrink: 0;
  position: absolute;
  right: 0;

  &:hover,
  &:focus {
    color: $_detail-color;
  }
}

.ecl-gallery__detail {
  background-color: $_detail-background;
  color: $_detail-color;
  flex-shrink: 0;
  padding: map.get(spacing.$spacing, 'm');
}

.ecl-gallery__detail-counter {
  font: map.get(typography.$font, 's');
}

.ecl-gallery__detail-actions {
  font: map.get(typography.$font, 's');
  margin-top: map.get(spacing.$spacing, 'm');
}
.ecl-gallery__share {
  margin-left: map.get(spacing.$spacing, 's');
}
.ecl-gallery__download,
.ecl-gallery__share {
  color: $_detail-color;

  &:hover,
  &:focus {
    color: $_detail-color;
  }

  &[hidden] {
    display: none;
  }
}

.ecl-gallery__detail-description {
  font: map.get(typography.$font, 'm');
  margin-top: map.get(spacing.$spacing, 's');
}
.ecl-gallery__overlay .ecl-gallery__description-icon {
  display: none;
}

.ecl-gallery__detail-meta {
  font: map.get(typography.$font, 's');
  margin-top: map.get(spacing.$spacing, 'm');
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-gallery__slider {
    flex-direction: row;
    justify-content: space-between;
  }

  .ecl-gallery__slider-previous {
    align-self: initial;
    margin-left: map.get(spacing.$spacing, 'xl') -
      map.get(spacing.$spacing, 's');
    order: -1;
  }
  .ecl-gallery__slider-previous .ecl-button__label {
    display: none;
  }
  .ecl-gallery__slider-previous .ecl-button__icon {
    margin-right: 0;
  }

  .ecl-gallery__slider-next {
    align-self: initial;
    bottom: auto;
    margin-right: map.get(spacing.$spacing, 'xl') -
      map.get(spacing.$spacing, 's');
    position: relative;
    right: auto;
  }
  .ecl-gallery__slider-next .ecl-button__label {
    display: none;
  }
  .ecl-gallery__slider-next .ecl-button__icon {
    margin-left: 0;
  }
}
