/*
 * Breadcrumbs
 * @define breadcrumb
 */

// Import base
@import '@ecl/eu-base/eu-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('eu-component-link', 'eu-component-icon'));

@mixin ecl-breadcrumb(
  $background-color-hover: $ecl-color-blue-120,
  $link-color: $ecl-color-white-100,
  $last-link-color: $ecl-color-blue-25,
  $border-color: $ecl-color-white-100
) {
  .ecl-breadcrumb {
    margin: 0;
  }

  .ecl-breadcrumb__container {
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0 calc(#{$ecl-spacing-m} - 1px);

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .ecl-breadcrumb__segment {
    display: inline-flex;
    font: $ecl-font-s;
    margin-top: $ecl-spacing-m;
    max-width: 100%;

    &[aria-hidden='true'] {
      position: absolute;
      visibility: hidden;

      /* Force display if JS is disabled */
      /* stylelint-disable-next-line max-nesting-depth */
      .no-js & {
        position: static;
        visibility: visible;
      }
    }
  }

  .ecl-breadcrumb__segment--ellipsis {
    &[aria-hidden='false'] {
      /* Force hide if JS is disabled */
      /* stylelint-disable-next-line max-nesting-depth */
      .no-js & {
        display: none;
      }
    }
  }

  .ecl-breadcrumb__ellipsis {
    background-color: transparent;
    border-width: 0;
    box-sizing: border-box;
    color: $link-color;
    font-weight: $ecl-font-weight-bold;
    margin: 0;
    padding: 0;

    &:hover {
      background-color: $background-color-hover;
    }

    &:focus {
      outline: 3px solid $ecl-color-yellow-100;
      outline-offset: 2px;
    }
  }

  .ecl-breadcrumb__link {
    color: $link-color;
    font-weight: $ecl-font-weight-bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $link-color;
    }
  }

  .ecl-breadcrumb__icon {
    fill: $link-color;
    flex-shrink: 0;
    margin-left: $ecl-spacing-xs;
    margin-right: $ecl-spacing-xs;
    vertical-align: text-bottom;
  }

  .ecl-breadcrumb__current-page {
    color: $last-link-color;
    font-weight: $ecl-font-weight-bold;
  }
}

// Use mixin
@include exports('eu-component-breadcrumb') {
  @include ecl-breadcrumb;
}
