/**
 * Labels component
 * @define label
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-label() {
  .ecl-label {
    color: $ecl-color-shade;
    display: inline-block;
    font-size: map-get($ecl-font-size, 'xs');
    font-weight: 600;
    letter-spacing: 0.12em;
    margin: 0;
    padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxs');
  }

  .ecl-label--upcoming {
    background-color: map-get($ecl-colors, 'yellow-25');
  }

  .ecl-label--open {
    background-color: map-get($ecl-colors, 'yellow-100');
  }

  .ecl-label--close {
    background-color: map-get($ecl-colors, 'grey-15');
  }
}
