<div class="section">
  <div class="section__group section--row-three section--navigation">

    <!-- Title with additional text, links, and grandchilds section item. -->
    <div class="section__item">
      <div class="listing listing--navigation">
        <a href="#" class="listing__item-link">
          <h2 class="listing__section-title">Title with additional text, links and grandchilds</h2>
          <p class="listing__description">
            This is the description.
            EU strategy, its role in setting priorities, and its implementation through EU policy.
          </p>
        </a>
        <div class="listing__item">
          <a href="http://europa.eu/eu-law/index_en.htm" class="listing__title">Introduction to EU law</a>
        </div>
        <div class="listing__item">
          <a href="http://eur-lex.europa.eu/homepage.html" class="listing__title">Find EU legislation (EUR-Lex)</a>
        </div>
        <div class="listing__item">
          <a href="http://eur-lex.europa.eu/collection/eu-law/eu-case-law.html" class="listing__title">EU case law (EUR-Lex)</a>
        </div>
        <div class="listing__item">
          <a href="http://eur-lex.europa.eu/browse/summaries.html" class="listing__title">Summaries of EU legislation</a>
        </div>
        <hr class="listing__separator">
        <div class="listing__item">
          <a href="#" class="listing__title">Related Item 1.</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title">Related Item 2.</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title">Related Item 3.</a>
        </div>
      </div>
    </div>

    <!-- Title with additional text section item. -->
    <div class="section__item">
      <div class="listing listing--navigation">
        <a class="listing__item-link" href="http://ec.europa.eu/budget/annual/index_en.cfm">
          <h2 class="listing__section-title">Title with additional text</h2>
          <p class="listing__description">Information on the annual budget life-cycle.</p>
        </a>
      </div>
    </div>

    <!-- Title with additional text, links, without any grandchild section item. -->
    <div class="section__item">
      <div class="listing listing--navigation">
        <a href="#" class="listing__item-link">
          <h2 class="listing__section-title">Title with additional text, links and grandchilds</h2>
        </a>
        <div class="listing__item">
          <a href="http://europa.eu/eu-law/index_en.htm" class="listing__title">Introduction to EU law</a>
        </div>
        <div class="listing__item">
          <a href="http://eur-lex.europa.eu/homepage.html" class="listing__title">Find EU legislation (EUR-Lex)</a>
        </div>
        <div class="listing__item">
          <a href="http://eur-lex.europa.eu/collection/eu-law/eu-case-law.html" class="listing__title">EU case law (EUR-Lex)</a>
        </div>
        <div class="listing__item">
          <a href="http://eur-lex.europa.eu/browse/summaries.html" class="listing__title">Summaries of EU legislation</a>
        </div>
      </div>
    </div>

  </div>
</div>

