<div class="btn-group {{modifier_class}}">
  {% include '@buttons-links' with { 'label': 'Button primary', 'modifier': 'primary', 'to': '#' } %}
  {% include '@buttons-links' with { 'label': 'Call to action', 'modifier': 'ctn', 'to': '#' } %}
  {% include '@buttons-links' with { 'label': 'Button default', 'modifier': 'default', 'to': '#' } %}
  {% include '@buttons-links' with { 'label': 'Button primary', 'modifier': 'primary', 'to': '#' } %}
</div>
