/*
 * Language list
 * @define language-list
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-language-list-print($logo-height: 2.31cm, $logo-width: 4.725cm) {
  .ecl-language-list {
    margin: 0;
  }

  .ecl-language-list__logo {
    height: $logo-height;
    width: $logo-width;
  }

  .ecl-language-list__category {
    font: $ecl-font-print-m;
    font-weight: $ecl-font-weight-bold;
    margin-bottom: $ecl-spacing-print-m;
    margin-top: $ecl-spacing-print-l;
  }

  .ecl-language-list__list {
    margin-bottom: 0;
    margin-top: 0;
  }

  .ecl-language-list__item--is-active {
    font-weight: $ecl-font-weight-print-bold;
  }

  .ecl-language-list__item {
    margin-top: $ecl-spacing-xs;
  }

  .ecl-language-list--overlay {
    display: none;
  }
}

// Use mixin
@include exports('ec-component-language-list-print') {
  @include ecl-language-list-print;
}
