// ECL Reset
@mixin reset() {
  body {
    font-family: $ecl-font-family-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }
}
