/**
 * Blockquotes
 * @define blockquote
 */

$small-quote-size: 1em;
$small-quote-width: 0.5em;

.ecl-blockquote {
  border-left: 0.5rem solid $yellow-light;
  clear: both;
  font-size: map-get($font-size, 'l');
  font-style: italic;
  line-height: 1.5;
  margin: 0;
  max-width: 24em;
  overflow: hidden;
  padding: map-get($spacing, 's') 0 map-get($spacing, 's') map-get($spacing, 'm');
  position: relative;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  p {
    display: inline;
  }

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.ecl-blockquote--small {
  color: $text-color;
  font-family: $font-family-base;
  font-size: map-get($font-size, 's');
  font-style: normal;
  margin-bottom: 0;
  padding-left: 0;
}
