$ec: (
  'blue': rgb(0, 68, 148),
  'yellow': rgb(255, 214, 23),
  'grey': rgb(64, 64, 64),
  'black': rgb(0, 0, 0),
  'white': rgb(255, 255, 255),
  'blue-130': rgb(0, 47, 103),
  'blue-120': rgb(0, 55, 118),
  'blue-110': rgb(0, 61, 132),
  'blue-100': rgb(0, 68, 148),
  'blue-75': rgb(64, 115, 175),
  'blue-50': rgb(127, 161, 201),
  'blue-25': rgb(191, 208, 228),
  'blue-5': rgb(242, 245, 249),
  'yellow-120': rgb(248, 174, 33),
  'yellow-110': rgb(251, 193, 29),
  'yellow-100': rgb(255, 214, 23),
  'yellow-75': rgb(255, 222, 57),
  'yellow-50': rgb(255, 232, 121),
  'yellow-25': rgb(255, 244, 187),
  'grey-100': rgb(64, 64, 64),
  'grey-75': rgb(112, 112, 112),
  'grey-50': rgb(159, 159, 159),
  'grey-25': rgb(207, 207, 207),
  'grey-20': rgb(217, 217, 217),
  'grey-15': rgb(227, 227, 227),
  'grey-10': rgb(235, 235, 235),
  'grey-5': rgb(245, 245, 245),
  'blue-n': rgb(0, 111, 180),
  'orange': rgb(242, 149, 39),
  'green': rgb(70, 122, 57),
  'red-130': rgb(152, 23, 34),
  'red': rgb(218, 33, 49),
  'primary': rgb(0, 68, 148),
  'secondary': rgb(255, 214, 23),
  'tertiary': rgb(227, 227, 227),
  'text': rgb(64, 64, 64),
  'white-100': rgb(255, 255, 255),
  'black-100': rgb(0, 0, 0),
  'error': rgb(218, 33, 49),
  'info': rgb(0, 111, 180),
  'success': rgb(70, 122, 57),
  'warning': rgb(242, 149, 39),
  'orange-100': rgb(242, 149, 39),
  'green-100': rgb(70, 122, 57),
  'red-100': rgb(218, 33, 49),
) !default;

$eu: (
  'blue-5': #f3f6fc,
  'blue-10': #e7edfa,
  'blue-20': #cfdaf5,
  'blue-40': #9fb5ea,
  'blue-60': #6e91e0,
  'blue-80': #3e6cd5,
  'blue-100': #0e47cb,
  'blue-110': #0d40b7,
  'blue-120': #0b39a2,
  'blue-130': #0a328e,
  'blue-140': #082b7a,
  'yellow-10': #fffae6,
  'yellow-20': #fff5cc,
  'yellow-40': #ffeb99,
  'yellow-60': #ffe066,
  'yellow-80': #ffd633,
  'yellow-100': #fc0,
  'yellow-110': #e6b800,
  'yellow-120': #cca300,
  'yellow-130': #b38f00,
  'yellow-140': #b38f00,
  'grey-5': #f4f5f5,
  'grey-10': #e9eaeb,
  'grey-20': #d4d5d7,
  'grey-40': #a8aaaf,
  'grey-60': #7d8088,
  'grey-80': #515560,
  'grey-100': #262b38,
  'grey-110': #222732,
  'grey-120': #1e222d,
  'grey-130': #1b1e27,
  'grey-140': #171a22,
  'purple-100': #510dcd,
) !default;

$bg-ec: (
  'blue': rgb(0, 68, 148),
  'yellow': rgb(255, 214, 23),
  'grey': rgb(64, 64, 64),
  'black': rgb(0, 0, 0),
  'white': rgb(255, 255, 255),
  'blue-130': rgb(0, 47, 103),
  'blue-120': rgb(0, 55, 118),
  'blue-110': rgb(0, 61, 132),
  'blue-100': rgb(0, 68, 148),
  'blue-75': rgb(64, 115, 175),
  'blue-50': rgb(127, 161, 201),
  'blue-25': rgb(191, 208, 228),
  'blue-5': rgb(242, 245, 249),
  'yellow-120': rgb(248, 174, 33),
  'yellow-110': rgb(251, 193, 29),
  'yellow-100': rgb(255, 214, 23),
  'yellow-75': rgb(255, 222, 57),
  'yellow-50': rgb(255, 232, 121),
  'yellow-25': rgb(255, 244, 187),
  'grey-100': rgb(64, 64, 64),
  'grey-75': rgb(112, 112, 112),
  'grey-50': rgb(159, 159, 159),
  'grey-25': rgb(207, 207, 207),
  'grey-20': rgb(217, 217, 217),
  'grey-15': rgb(227, 227, 227),
  'grey-10': rgb(235, 235, 235),
  'grey-5': rgb(245, 245, 245),
  'blue-n': rgb(0, 111, 180),
  'orange': rgb(242, 149, 39),
  'green': rgb(70, 122, 57),
  'red': rgb(218, 33, 49),
  'default': rgb(255, 255, 255),
  'primary': rgb(0, 68, 148),
  'secondary': rgb(255, 214, 23),
  'shade': rgb(64, 64, 64),
) !default;

$bg-eu: (
  'blue-5': #f3f6fc,
  'blue-10': #e7edfa,
  'blue-20': #cfdaf5,
  'blue-40': #9fb5ea,
  'blue-60': #6e91e0,
  'blue-80': #3e6cd5,
  'blue-100': #0e47cb,
  'blue-110': #0d40b7,
  'blue-120': #0b39a2,
  'blue-130': #0a328e,
  'blue-140': #082b7a,
  'yellow-10': #fffae6,
  'yellow-20': #fff5cc,
  'yellow-40': #ffeb99,
  'yellow-60': #ffe066,
  'yellow-80': #ffd633,
  'yellow-100': #fc0,
  'yellow-110': #e6b800,
  'yellow-120': #cca300,
  'yellow-130': #b38f00,
  'yellow-140': #b38f00,
  'grey-5': #f4f5f5,
  'grey-10': #e9eaeb,
  'grey-20': #d4d5d7,
  'grey-40': #a8aaaf,
  'grey-60': #7d8088,
  'grey-80': #515560,
  'grey-100': #262b38,
  'grey-110': #222732,
  'grey-120': #1e222d,
  'grey-130': #1b1e27,
  'grey-140': #171a22,
  'purple-100': #510dcd,
) !default;
