<table class="ecl-table">
  <thead>
    <tr>
      <th rowspan="2" scope="col">Name</th>
      <th rowspan="2" scope="col">Registration date</th>
      <th colspan="3" scope="col">Language</th>
    </tr>
    <tr>
      <th scope="col">English</th>
      <th scope="col">French</th>
      <th scope="col">German</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>September, 14 2013</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <td>John</td>
      <td>September, 14 2013</td>
      <td>No</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>John</td>
      <td>September, 14 2013</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
    </tr>
  </tbody>
</table>

<table class="ecl-table">
  <thead>
    <tr>
      <th colspan="2" scope="col">Name</th>
      <th rowspan="2" scope="col">Registration date</th>
      <th rowspan="2" scope="col">Country</th>
      <th rowspan="2" scope="col">Telephone</th>
    </tr>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Paolo</td>
      <td>Ferrari</td>
      <td>13 September 2015</td>
      <td>Italy</td>
      <td>063298234234</td>
    </tr>
    <tr>
      <td>Marco</td>
      <td>Ciauscolo</td>
      <td>12 October 2013</td>
      <td>Switzerland</td>
      <td>235245662346</td>
    </tr>
  </tbody>
</table>

<table class="ecl-table">
  <thead>
    <tr>
      <th rowspan="2" scope="col">Name</th>
      <th colspan="2" scope="col">Location</th>
      <th rowspan="2" scope="col">Profession</th>
      <th rowspan="2" scope="col">Telephone</th>
    </tr>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>England</td>
      <td>London</td>
      <td>Student</td>
      <td>2342345346</td>
    </tr>
    <tr>
      <td>Jim</td>
      <td>Ireland</td>
      <td>Dublin</td>
      <td>Mechanic</td>
      <td>23523629365</td>
    </tr>
    <tr>
      <td>Franco</td>
      <td>Italy</td>
      <td>Bari</td>
      <td>Plumber</td>
      <td>239238602936</td>
    </tr>
  </tbody>
</table>
