<table class="ecl-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Registration date</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>September, 14, 2010</td>
      <td><a href="mailto:ciccio@baciccio.com">ciccio@baciccio.com</a></td>
    </tr>
    <tr>
      <td>John</td>
      <td>September, 14, 2010</td>
      <td><a href="mailto:ciccio@baciccio.com">ciccio@baciccio.com</a></td>
    </tr>
    <tr>
      <td>John</td>
      <td>September, 14, 2010</td>
      <td><a href="mailto:ciccio@baciccio.com">ciccio@baciccio.com</a></td>
    </tr>
  </tbody>
</table>
