<table class="ecl-table">
  <thead>
    <tr>
      <th rowspan="2" scope="col"></th>
      <th rowspan="2" scope="col">Registration date</th>
      <th colspan="3" scope="col">Language</th>
    </tr>
    <tr>
      <th scope="col">English</th>
      <th scope="col">French</th>
      <th scope="col">German</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>September, 14 2013</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Mike</td>
      <td>December, 02 2011</td>
      <td>No</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Lea</td>
      <td>September, 23 2011</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
    </tr>
  </tbody>
</table>
