/**
 * Typography List
 * @define list
 */

@mixin ecl-list() {
  .ecl-list {
    line-height: 1.66;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  // Add space before nested lists
  .ecl-list--nested {
    padding-left: map-get($ecl-spacing, 'm');
  }

  // For better readability
  .ecl-list--optimal-length {
    max-width: 32em;
  }

  // List-item marker
  .ecl-list--alpha {
    list-style-type: lower-latin;
  }

  .ecl-list--circle {
    list-style-type: circle;
  }

  .ecl-list--decimal {
    list-style-type: decimal;
  }

  .ecl-list--disc {
    list-style-type: disc;
  }

  .ecl-list--square {
    list-style-type: square;
  }

  // Inline list
  .ecl-list--inline {
    .ecl-list__item {
      display: inline-block;
      margin-right: map-get($ecl-spacing, 'xxs');
    }

    .ecl-list__item:last-child {
      margin-right: 0;
    }
  }
}
