/**
 * Description List component
 * @define description-list
 */

// Import base
@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;

// Vertical description list
$_text-color: ecl-color('grey-100');

.ecl-description-list {
  margin: 0;
}

.ecl-description-list__term {
  color: $_text-color;
  font: ecl-font-prolonged('xl');
  font-family: #{ecl-font-family-print('alt')};
  font-weight: ecl-font-weight-print('bold');
}

.ecl-description-list__definition {
  color: $_text-color;
  font: ecl-font-prolonged('m');
}

// Horizontal description list
$_term-width: 32%;
$_definition-width: 68%;

.ecl-description-list--horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(499px + #{ecl-spacing-print('xl')});
}

.ecl-description-list--horizontal .ecl-description-list__term {
  font: ecl-font-print('m');
  font-weight: ecl-font-weight-print('bold');
  margin-top: ecl-spacing-print('m');
  width: $_term-width;

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-description-list--horizontal .ecl-description-list__definition {
  font: ecl-font-print('m');
  margin-left: ecl-spacing-print('xl');
  margin-top: ecl-spacing-print('m');
  overflow-wrap: break-word;
  padding-left: 0;
  width: calc(#{$_definition-width} - #{ecl-spacing('xl')});

  &:first-of-type {
    margin-top: 0;
  }
}
