@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'description-list' with (
  $_term-color: map.get(theme.$color, 'grey-140'),
  $_term-font: map.get(theme.$font-prolonged, 'l'),
  $_definition-color: map.get(theme.$color, 'grey-140'),
  $_taxonomy-color: map.get(theme.$color, 'grey-80')
);
