/**
 * Description List component
 * @define description-list
 */

@use "sass:map";
@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;
@use '@ecl/layout-grid/mixins/breakpoints';

// Vertical description list
$_text-color: ecl-color('grey-100');

.ecl-description-list {
  margin: 0;
}

.ecl-description-list__term {
  color: $_text-color;
  font: ecl-font-prolonged('xl');
  font-weight: ecl-font-weight('bold');
  margin-top: ecl-spacing('l');
  max-width: calc(80ch - #{ecl-spacing('2xl')});

  &:first-child {
    margin-top: 0;
  }
}

.ecl-description-list__term + .ecl-description-list__term {
  margin-top: ecl-spacing('2xs');
}

.ecl-description-list__definition {
  color: $_text-color;
  font: ecl-font-prolonged('m');
  margin-left: 0;
  margin-top: ecl-spacing('m');
  max-width: calc(80ch - #{ecl-spacing('2xl')});
  padding-left: ecl-spacing('s');
}

.ecl-description-list__definition + .ecl-description-list__definition {
  margin-top: ecl-spacing('xs');
}

// Horizontal description list
$_term-width: 32%;
$_definition-width: 68%;

.ecl-description-list--horizontal {
  display: flex;
  flex-direction: column;
}

.ecl-description-list--horizontal .ecl-description-list__term {
  font: ecl-font('m');
  font-weight: ecl-font-weight('bold');
  margin-top: ecl-spacing('m');

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-description-list--horizontal .ecl-description-list__definition {
  font: ecl-font('m');
  margin-top: ecl-spacing('2xs');
  padding-left: 0;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.media-breakpoint-up('lg') {
  .ecl-description-list--horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(499px + #{ecl-spacing('xl')});
  }

  .ecl-description-list--horizontal .ecl-description-list__term {
    width: $_term-width;
  }

  .ecl-description-list--horizontal .ecl-description-list__definition {
    margin-left: ecl-spacing('xl');
    margin-top: ecl-spacing('m');
    overflow-wrap: break-word;
    width: calc(#{$_definition-width} - #{ecl-spacing('xl')});
  }

  .ecl-description-list--horizontal
    .ecl-description-list__definition:first-of-type {
    margin-top: 0;
  }
}
