/**
 * Social media follow print
 * @define social-media-follow
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$social-media-follow: null !default;
$social-media-follow-print: null !default;

.ecl-social-media-follow {
  margin: 0;
}

.ecl-social-media-follow__icon-hover {
  display: none;
}

.ecl-social-media-follow__description {
  color: map.get($social-media-follow, 'description', 'color');
  font: map.get($social-media-follow-print, 'description', 'font');
  font-weight: map.get($theme, 'font-weight-print', 'bold');
  margin: 0;
}

.ecl-social-media-follow__list {
  list-style: none;
  margin-top: map.get($theme, 'spacing-print', 'xs');
  padding-left: 0;
}

.ecl-social-media-follow__item {
  color: var(--c-d);
  font: map.get($social-media-follow-print, 'item', 'font');
  margin-top: map.get($theme, 'spacing-print', 's');

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type a:not(.ecl-link--icon) {
    display: none;
  }
}

.ecl-social-media-follow__link {
  align-items: center;
  display: flex;
}

.ecl-social-media-follow__icon {
  display: block;
  margin-right: map.get($theme, 'spacing-print', 's');
}
