/**
 * Social media follow 
 * @define social-media-follow
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$social-media-follow: null !default;

.ecl-social-media-follow {
  background-color: map.get($social-media-follow, 'background-color');
  border-radius: map.get($social-media-follow, 'border-radius');
  margin: 0;
  padding: map.get($social-media-follow, 'padding');
}

.ecl-social-media-follow__description {
  color: map.get($social-media-follow, 'description', 'color');
  font: map.get($social-media-follow, 'description', 'font');
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin-bottom: map.get(
    $social-media-follow,
    'description',
    'margin-horizontal'
  );
  margin-top: 0;
}

.ecl-social-media-follow__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  margin-top: calc(-1 * var(--s-xs));
  padding-inline-start: 0;
}

.ecl-social-media-follow__item {
  display: flex;
  margin-inline-end: map.get($social-media-follow, 'item', 'margin');
  margin-top: var(--s-xs);

  &:last-child {
    margin-inline-end: 0;
  }
}

.ecl-social-media-follow__link {
  align-items: center;
  display: flex;
  font: map.get($social-media-follow, 'item', 'font');
  overflow: hidden; /* Improve rendering on IE */
}

// Icon
.ecl-social-media-follow__icon {
  color: var(--c-d);
  flex-shrink: 0;
  top: 0 !important;
}

@mixin ecl-social-media-follow-vertical {
  .ecl-social-media-follow__description {
    margin-bottom: map.get(
      $social-media-follow,
      'description',
      'margin-vertical'
    );
  }

  .ecl-social-media-follow__list {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
  }

  .ecl-social-media-follow__item {
    margin-bottom: var(--s-xs);
    margin-inline-end: 0;

    &:last-child {
      margin-bottom: 0;
      margin-inline-end: 0;
    }
  }
}

// Vertical
.ecl-social-media-follow--vertical {
  @include ecl-social-media-follow-vertical;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.down('s') {
  @include ecl-social-media-follow-vertical;
}
