/**
 * Background utilities
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;

@each $key, $value in map.get($theme, 'color') {
  @if $key == 'white' or $key == 'black' {
    .ecl-u-bg-#{$key} {
      background-color: map.get($theme, 'color', $key) !important;
    }
  } @else {
    .ecl-u-bg-#{$key} {
      background-color: var(--ecl-color-#{$key}) !important;
    }
  }
}

.ecl-u-bg-transparent {
  background-color: transparent !important;
}
