{#
  This is an example and should not be used as it is.
#}

<div class="ecl-row">
  <aside class="ecl-col-lg-3" role="complementary">
      <h3 class="ecl-heading ecl-heading--h3">Filter by</h3>
      <form action="#" method="get" id="form-filter">
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-labels' with { 'label': 'Keyword', 'for_attribute': 'filter-keywords' } %}
          {% include '@ec-europa/ecl-forms-text-inputs' with {
            'type': 'text',
            'name': 'keywords',
            'id': 'filter-keywords',
            'extraAttributes': [
              { 'value': '', 'size': '30', 'maxlength': '128' }
            ]
          } %}
        </div>
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-labels' with { 'label': 'Topic', 'for_attribute': 'filter-topic' } %}
          {% embed '@ec-europa/ecl-forms-selects' with { 'name': 'topic', 'id': 'filter-topic' } %}
            {% block options %}
              <option value="0">Any topic</option>
              <option value="354">Banking and financial services</option>
              <option value="369">Environment</option>
              <option value="382">Research and innovation</option>
            {% endblock %}
          {% endembed %}
        </div>
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-labels' with { 'label': 'Location', 'for_attribute': 'filter-location' } %}
          {% embed '@ec-europa/ecl-forms-selects' with { 'name': 'location', 'id': 'filter-location' } %}
            {% block options %}
            <option value="0">Any country</option>
            <option value="BE">Belgium</option>
            <option value="ES">Spain</option>
            <option value="RO">Romania</option>
            <option value="IT">Italy</option>
            <option value="PT">Portugal</option>
            <option value="HR">Croatia</option>
            <option value="FI">Finland</option>
            <option value="DE">Germany</option>
            <option value="IE">Ireland</option>
            <option value="PL">Poland</option>
            <option value="BG">Bulgaria</option>
            <option value="GR">Greece</option>
            <option value="NL">Netherlands</option>
            <option value="SK">Slovakia</option>
            <option value="SE">Sweden</option>
            <option value="EE">Estonia</option>
            <option value="AT">Austria</option>
            <option value="CY">Cyprus</option>
            <option value="DK">Denmark</option>
            <option value="FR">France</option>
            <option value="HU">Hungary</option>
            <option value="LV">Latvia</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MT">Malta</option>
            {% endblock %}
          {% endembed %}
        </div>
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'name': 'event_is_online',
            'id': 'event_is_online',
            'label': 'Online only events'
          } %}
        </div>
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'name': 'event_is_live_streaming',
            'id': 'event_is_live_streaming',
            'label': 'Events with live streaming available',
            'checked': true
          } %}
        </div>
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-labels' with { 'label': 'Organiser', 'for_attribute': 'filter-organiser' } %}
          {% embed '@ec-europa/ecl-forms-selects' with { 'name': 'organiser', 'id': 'filter-organiser' } %}
            {% block options %}
              <option value="0">Any organiser</option>
              <option value="881">Financial Stability, Financial Services and Capital Markets Union</option>
              <option value="932">Translation</option>
              <option value="189">Internal Audit Service</option>
              <option value="746">Interpretation</option>
            {% endblock %}
          {% endembed %}
        </div>
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-labels' with { 'label': 'After', 'for_attribute': 'filter-after' } %}
          {% include '@ec-europa/ecl-datepickers' with { 'id': 'filter-after' } %}
        </div>
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-labels' with { 'label': 'Before', 'for_attribute': 'filter-before' } %}
          {% include '@ec-europa/ecl-datepickers' with { 'id': 'filter-before' } %}
        </div>
        <div class="ecl-form-group">
          {% include '@ec-europa/ecl-forms-labels' with { 'label': 'Collection', 'for_attribute': 'filter-collection' } %}
          {% embed '@ec-europa/ecl-forms-selects' with { 'name': 'collection', 'id': 'filter-collection' } %}
            {% block options %}
              <option value="0">Any collection</option>
              <option value="2065">Citizens' Dialogues</option>
              <option value="48422">Cities events</option>
              <option value="35343">FISMA Events collectoin</option>
              <option value="54309">Sustainable Development Goals</option>
            {% endblock %}
          {% endembed %}
        </div>
        {% include '@ec-europa/ecl-buttons' with {
          'modifier': 'primary',
          'label': 'Refine results',
          'isBlock': true,
          'extraClass': 'ecl-u-mb-xs',
          'extraAttributes': [
            { 'name': 'value', 'value': 'Refine results'},
            { 'name': 'type', 'value': 'submit'}
          ]
        } %}
        {% include '@ec-europa/ecl-buttons' with {
          'modifier': 'default',
          'label': 'Clear filters',
          'isBlock': true,
          'extraAttributes': [
            { 'name': 'value', 'value': 'Clear filters'},
            { 'name': 'type', 'value': 'reset'}
          ]
        } %}
      </form>
  </aside>
  <section class="ecl-col-lg-9">
    <div class="ecl-heading ecl-heading--h2 ecl-u-mb-m">Events (90)</div>

    {% include '@ec-europa/ecl-tags' with {
      'modifier': 'facet-close',
      'label': 'Live streaming available',
      'tags': [{ 'value': 'Yes'}]
    } %}

    <section class="ecl-u-mv-m">CONTENT HERE</section>

    {% include '@ec-europa/ecl-pagers' with {
      'current_page': 1,
      'max_page': 20
    } %}
  </section>
</div>
