<div class="pager__wrapper">
    <ul class="pager">
        <li class="pager__item pager__item--previous">
            <a title="Go to previous page" href="/page=9">‹ Previous</a>
        </li>
        <li class="pager__item pager__item--first">
            <a title="Go to page 1" href="/">1</a>
        </li>
        <li class="pager__item pager__item--ellipsis">…</li>
        <li class="pager__item">
            <a title="Go to page 9" href="/page=8">9</a>
        </li>
        <li class="pager__item">
            <a title="Go to page 10" href="/page=9">10</a>
        </li>
        <li class="pager__item pager__item--current">
            <span class="pager__item__text">Page</span> 11
        </li>
        <li class="pager__item">
            <a title="Go to page 12" href="/page=11">12</a>
        </li>
        <li class="pager__item">
            <a title="Go to page 13" href="/page=12">13</a>
        </li>
        <li class="pager__item pager__item--ellipsis">…</li>
        <li class="pager__item pager__item--last">
            <a title="Go to page 22" href="/page=21">22</a>
        </li>
        <li class="pager__item pager__item--next">
            <a title="Go to next page" href="/page=11">Next ›</a>
        </li>
    </ul>
</div>

<div class="pager__wrapper">
    <ul class="pager">
        <li class="pager__item pager__item--previous">
            <a title="Go to previous page" href="/page=229">‹ Previous</a>
        </li>
        <li class="pager__item pager__item--first">
            <a title="Go to page 1" href="/">1</a>
        </li>
        <li class="pager__item pager__item--ellipsis">…</li>
        <li class="pager__item">
            <a title="Go to page 209" href="/page=208">209</a>
        </li>
        <li class="pager__item">
            <a title="Go to page 210" href="/page=209">210</a>
        </li>
        <li class="pager__item pager__item--current pager__item--padding">
            <span class="pager__item__text">Page </span>211
        </li>
        <li class="pager__item">
            <a title="Go to page 212" href="/page=211">212</a>
        </li>
        <li class="pager__item">
            <a title="Go to page 213" href="/page=212">213</a>
        </li>
        <li class="pager__item pager__item--ellipsis">…</li>
        <li class="pager__item pager__item--last">
            <a title="Go to page 222" href="/page=221">222</a>
        </li>
        <li class="pager__item pager__item--next">
            <a title="Go to next page" href="/page=211">Next ›</a>
        </li>
    </ul>
</div>
