// Fractal variables

$font-family-monospace: Hack, Consolas, Monaco, 'Andale Mono', monospace !default;
$font-family-sans-serif: $ecl-font-family-base;

$color-link: $ecl-color-secondary !default;
$color-text: $ecl-color-shade !default;
$color-heading: $ecl-color-shade !default;

$color-background: #fff !default;
$color-background-offset: map-get($ecl-colors, 'grey-5') !default;

$color-ui-hover: rgba($color-text, 0.05) !default;
$color-ui-active: rgba($color-text, 0.075) !default;

$color-header-background: $ecl-color-primary !default;
$color-header-content: #fff !default;

$color-frame-border: rgba($color-text, 0.25) !default;

$color-sidebar-heading: rgba($color-text, 0.75) !default;

$highlight-theme: 'github' !default;
