// Headers
.ecl-h1,
.ecl-h2,
.ecl-h3,
.ecl-h4,
.ecl-h5,
.ecl-h6 {
  margin: 0;
  padding: 0.5em 0;
}

.ecl-h1 {
  color: $black;
  font-size: map-get($font-size, 'xxl');
  font-weight: 600;
}

.ecl-h2 {
  color: $black;
  font-size: map-get($font-size, 'xl');
  font-weight: 600;
}

.ecl-h3 {
  color: $grey-base;
  font-size: map-get($font-size, 'l');
  font-weight: 600;
}

.ecl-h4 {
  color: $grey-base;
  font-size: map-get($font-size, 'm');
  font-weight: 600;
}

.ecl-h5 {
  color: $grey-base;
  font-size: map-get($font-size, 's');
  text-transform: uppercase;
}

.ecl-h6 {
  color: $grey-base;
  font-size: map-get($font-size, 'xs');
  text-transform: uppercase;
}
