/*
 * Date block
 * @define date-block
 */

// Import base
@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;

$_circle-width: 0.6rem;

.ecl-date-block {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 6.3rem;

  &::before {
    background-color: ecl-color('white');
    border: 1px solid ecl-color('black');
    border-radius: 50%;
    box-sizing: content-box;
    content: '';
    display: block;
    height: $_circle-width;
    left: ecl-spacing('s');
    position: absolute;
    top: -#{$_circle-width / 2};
    width: $_circle-width;
  }

  &::after {
    background-color: ecl-color('white');
    border: 1px solid ecl-color('black');
    border-radius: 50%;
    box-sizing: content-box;
    content: '';
    display: block;
    height: $_circle-width;
    position: absolute;
    right: ecl-spacing('s');
    top: -#{$_circle-width / 2};
    width: $_circle-width;
  }
}

.ecl-date-block__day {
  border-left: 1px solid ecl-color('black');
  border-right: 1px solid ecl-color('black');
  border-top: 1px solid ecl-color('black');
  color: ecl-color('black');
  display: block;
  font: ecl-font-print('2xl');
  font-weight: ecl-font-weight('bold');
  padding-left: ecl-spacing-print('2xs');
  padding-right: ecl-spacing-print('2xs');
  padding-top: ecl-spacing-print('xs');
}

.ecl-date-block__month {
  border-left: 1px solid ecl-color('black');
  border-right: 1px solid ecl-color('black');
  color: ecl-color('black');
  display: block;
  font: ecl-font-print('m');
  padding-bottom: ecl-spacing-print('xs');
  padding-left: ecl-spacing-print('2xs');
  padding-right: ecl-spacing-print('2xs');
  text-decoration: none !important;
  text-transform: uppercase;
}

.ecl-date-block__year {
  border: 1px solid ecl-color('black');
  color: ecl-color('black');
  display: block;
  font: ecl-font-print('s');
  padding: ecl-spacing-print('xs') ecl-spacing-print('2xs');
}
