@use "sass:map";
@use '@ecl/theme-dev/theme';
@use 'date-block' with (
  $_padding-day-mobile: map.get(theme.$spacing, 'xs') map.get(theme.$spacing, '2xs') 0 map.get(theme.$spacing, 'xs'),
  $_padding-day-desktop: map.get(theme.$spacing, 'xs') map.get(theme.$spacing, '2xs') 0 map.get(theme.$spacing, '2xs'),
  $_padding-month-mobile: 0 map.get(theme.$spacing, '2xs') map.get(theme.$spacing, '2xs') map.get(theme.$spacing, '2xs'),
  $_padding-month-desktop: 0 map.get(theme.$spacing, '2xs') map.get(theme.$spacing, 'xs') map.get(theme.$spacing, '2xs'),
  $_padding-year-mobile: map.get(theme.$spacing, '2xs'),
  $_padding-year-desktop: map.get(theme.$spacing, 'xs') map.get(theme.$spacing, '2xs'),
  $_text-color: map.get(theme.$color, 'grey-140'),
  $_separator-color: transparent,
  $_separator-color-past: map.get(theme.$color, 'blue-20'),
  $_border-color-past: transparent,
  $_background-color-cancelled: map.get(theme.$color, 'grey-20'),
  $_background-color-year: map.get(theme.$color, 'white-100'),
  $_shadow: 0 0 6px rgba(14, 71, 203, 0.2),
  $_border-radius: 8px,
);
