/**
 * News ticker component
 * @define news-ticker
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_controls-background: none !default;
$_border-radius: none !default;
$_border-width: none !default;
$_counter-color: none !default;
$_outline-color: none !default;
$_outline-width: none !default;

.ecl-news-ticker {
  align-items: center;
  background: map.get(theme.$color, 'white');
  border-color: $_controls-background;
  border-radius: $_border-radius;
  border-style: solid;
  border-width: $_border-width;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
}

.ecl-news-ticker__icon {
  fill: map.get(theme.$color, 'blue-100');
  flex-shrink: 0;
  margin: map.get(theme.$spacing, 's');
}

.ecl-news-ticker__container {
  align-items: center;
  display: flex;
  width: 100%;
}

.ecl-news-ticker__content {
  height: 0;
  margin: map.get(theme.$spacing, 'xs') 0;
  padding: 0;
  overflow: hidden;
  transition-duration: 0.3s;
  width: 100%;
}

.ecl-news-ticker__slides {
  color: $_controls-background;
  font: map.get(theme.$font-prolonged, 'm');
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translate3d(0, 0, 0);
  transition-duration: 0s;
}

.ecl-news-ticker__slide {
  align-items: center;
  display: flex;
  padding: 5px 0;
  padding-inline-end: map.get(theme.$spacing, 's');
}

.ecl-news-ticker__slide,
.ecl-news-ticker__slide-text {
  // stylelint-disable-next-line value-no-vendor-prefix
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ecl-news-ticker__controls {
  align-items: center;
  align-self: stretch;
  background-color: $_controls-background;
  display: flex;
  order: 2;
  padding: calc(#{map.get(theme.$spacing, '2xs')} - 1px);
  padding-top: calc(#{map.get(theme.$spacing, '2xs')} + 1px);
  width: 100%;
}

.ecl-news-ticker__counter {
  color: map.get(theme.$color, 'white');
  align-items: center;
  align-self: stretch;
  display: flex;
  font: map.get(theme.$font, 'm');
  font-weight: bold;
  margin-inline-start: auto;
  margin-inline-end: auto;
  order: 3;
  text-align: end;
  white-space: pre;
}

.ecl-news-ticker__icon-default {
  display: block;
}

.ecl-news-ticker__icon-active {
  display: none;
}

.ecl-news-ticker__play,
.ecl-news-ticker__pause {
  margin-inline-end: map.get(theme.$spacing, 'xs');
  order: 1;

  &:active,
  &:hover,
  &:focus-visible {
    .ecl-news-ticker__icon-default {
      display: none;
    }

    .ecl-news-ticker__icon-active {
      display: block;
    }
  }
}

.ecl-news-ticker__prev,
.ecl-news-ticker__next {
  margin-inline-start: map.get(theme.$spacing, 'xs');
  order: 4;

  &:active,
  &:hover {
    background-color: map.get(theme.$color, 'white-100');

    .ecl-news-ticker__icon-default {
      fill: $_controls-background;
    }
  }
}

// stylelint-disable no-descending-specificity
.ecl-news-ticker__prev,
.ecl-news-ticker__next,
.ecl-news-ticker__play,
.ecl-news-ticker__pause {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: map.get(theme.$spacing, 'xs');

  &:focus-visible {
    outline: $_outline-width solid $_outline-color;
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-news-ticker {
    flex-flow: initial;
    justify-content: initial;
  }

  .ecl-news-ticker__controls {
    padding: 0;
    width: auto;
  }

  .ecl-news-ticker__counter {
    background-color: map.get(theme.$color, 'white');
    color: $_counter-color;
    flex-shrink: 0;
    text-align: initial;
    padding-inline-start: map.get(theme.$spacing, 's');
    padding-inline-end: map.get(theme.$spacing, 's');
    order: 1;
  }

  .ecl-news-ticker__prev {
    order: 2;
  }

  .ecl-news-ticker__play,
  .ecl-news-ticker__pause {
    margin-inline-start: map.get(theme.$spacing, 'xs');
    order: 3;
  }

  .ecl-news-ticker__next {
    margin-inline-start: 0;
    margin-inline-end: map.get(theme.$spacing, 'xs');
    order: 4;
  }
}
