/**
 * News ticker
 * @define news-ticker
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$news-ticker: null !default;

.ecl-news-ticker {
  align-items: center;
  background: map.get($theme, 'color', 'white');
  border: map.get($news-ticker, 'border');
  border-radius: map.get($news-ticker, 'border-radius');
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
}

.ecl-news-ticker__icon {
  fill: var(--c-p);
  flex-shrink: 0;
  margin-inline-start: map.get($news-ticker, 'padding-horizontal');
}

.ecl-news-ticker__container {
  align-items: center;
  display: flex;
  height: map.get($news-ticker, 'height');
  width: 100%;
}

.ecl-news-ticker__content {
  height: 0;
  overflow: hidden;
  transition-duration: 0.3s;
  width: 100%;
}

.ecl-news-ticker__slides {
  color: var(--c-d);
  font: map.get($news-ticker, 'font');
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translate3d(0, 0, 0);
  transition-duration: 0s;
}

.ecl-news-ticker__slide {
  align-items: center;
  display: flex;
  padding: var(--s-2xs) var(--s-xs);
}

// stylelint-disable value-no-vendor-prefix
.ecl-news-ticker__slide,
.ecl-news-ticker__slide-text {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  // stylelint-disable-next-line property-no-unknown
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

// stylelint-enable value-no-vendor-prefix
.ecl-news-ticker__controls {
  align-items: center;
  align-self: stretch;
  background-color: map.get($news-ticker, 'controls-background');
  display: flex;
  order: 2;
  width: 100%;
}

.ecl-news-ticker__counter {
  background-color: map.get($news-ticker, 'counter', 'background-mobile');
  color: map.get($news-ticker, 'counter', 'color-mobile');
  align-items: center;
  align-self: stretch;
  display: flex;
  font: map.get($news-ticker, 'counter', 'font');
  font-weight: map.get($news-ticker, 'counter', 'font-weight');
  flex-grow: 1;
  justify-content: center;
  order: 1;
  padding: 0 var(--s-xl);
  text-align: end;
  white-space: pre;
}

.ecl-news-ticker__play,
.ecl-news-ticker__pause {
  order: 3;
}

.ecl-news-ticker__prev {
  order: 2;
  margin-inline-start: var(--s-xs);
}

.ecl-news-ticker__next {
  order: 4;
  margin-inline-end: var(--s-xs);
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-news-ticker {
    flex-flow: initial;
    justify-content: initial;
  }

  .ecl-news-ticker__controls {
    width: auto;
  }

  .ecl-news-ticker__counter {
    background-color: map.get($news-ticker, 'counter', 'background-desktop');
    color: map.get($news-ticker, 'counter', 'color-desktop');
    flex-shrink: 0;
    text-align: initial;
  }
}
