@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'news-ticker' with (
  $_controls-background: map.get(theme.$color, 'blue-130'),
  $_border-radius: 0,
  $_border-width: 2px,
  $_counter-color: map.get(theme.$color, 'grey')
);
