/**
* Link component
* @define link
*/

// Import base
@import '@ecl/eu-base/eu-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('eu-component-icon'));

@mixin ecl-link(
  $link-color: $ecl-color-blue,
  $link-color-hover: $ecl-color-black,
  $link-color-focus: $ecl-color-yellow
) {
  .ecl-link {
    color: $link-color;
    margin: 0;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $link-color-hover;
    }

    &:focus {
      outline: 3px solid $link-color-focus;
      outline-offset: 2px;
    }
  }

  .ecl-link--icon-before,
  .ecl-link--icon-after {
    display: inline-block;
  }

  .ecl-link--icon {
    text-decoration: none;

    .ecl-link__icon {
      fill: currentColor;
      position: relative;
      top: -1px;
      vertical-align: middle;
    }

    &:not(.ecl-link--standalone) .ecl-link__label {
      text-decoration: underline;
    }
  }

  .ecl-link--standalone {
    font-family: $ecl-font-family;
    text-decoration: none;

    /* stylelint-disable */
    &:not(.ecl-link--icon) {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &.ecl-link--icon {
      &:hover .ecl-link__label,
      &:focus .ecl-link__label {
        text-decoration: underline;
      }
    }
    /* stylelint-enable */
  }

  .ecl-link--cta {
    background-color: $ecl-color-yellow-100;
    box-sizing: border-box;
    color: $ecl-color-black-100;
    display: inline-block;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    padding: $ecl-spacing-s $ecl-spacing-m;

    &:hover,
    &:active {
      border: 2px solid $ecl-color-black-100;
      padding: calc(#{$ecl-spacing-s} - 2px) calc(#{$ecl-spacing-m} - 2px);
    }

    &:focus {
      outline-color: $ecl-color-black-100;
      outline-offset: -3px;
    }
  }
}

// Use mixin
@include exports('eu-component-link') {
  @include ecl-link;
}
