/**
 * Tags
 * @define tag
 */

// Import base
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-component-icon'));

@mixin ecl-tag() {
  .ecl-tag {
    align-items: center;
    background-color: $ecl-color-grey-15;
    border-radius: (2 * $ecl-spacing-xs + $ecl-line-height-s) / 2;
    border-width: 0;
    box-sizing: border-box;
    color: $ecl-color-grey;
    display: inline-flex;
    font: $ecl-font-s;
    padding: $ecl-spacing-xs $ecl-spacing-s;
    text-decoration: underline;
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $ecl-color-yellow;
      outline: none;
    }
  }

  .ecl-tag--display {
    text-decoration: none;
  }

  .ecl-tag--removable {
    pointer-events: none;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $ecl-color-grey;
      color: $ecl-color-white;
    }
  }

  .ecl-tag__icon {
    appearance: none;
    background: none;
    border-width: 0;
    height: $ecl-icon-xs;
    margin-left: $ecl-spacing-xs;
    padding: 0;
    pointer-events: auto;
    position: relative;
    width: $ecl-icon-xs;

    &:focus {
      outline: 3px solid $ecl-color-yellow;
    }
  }

  .ecl-tag__icon-close {
    fill: $ecl-color-grey;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
  }

  .ecl-tag__icon-close-filled {
    fill: $ecl-color-white;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  .ecl-tag:hover,
  .ecl-tag:focus {
    .ecl-tag__icon-close {
      opacity: 0;
    }

    .ecl-tag__icon-close-filled {
      opacity: 1;
    }
  }
}

// Use mixin
@include exports('ec-component-tag') {
  @include ecl-tag;
}
