/**
 * Tags
 * @define tag
 */

// Import base and generic
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-component-icon'));

@mixin ecl-tag() {
  .ecl-tag {
    align-items: center;
    background-color: map-get($ecl-colors, 'grey-15');
    border-radius: (2 * $ecl-spacing-xs + $ecl-font-size-s * $ecl-line-height-s) /
      2;
    border-width: 0;
    box-sizing: border-box;
    color: $ecl-color-text;
    display: inline-flex;
    font: $ecl-font-s;
    padding: $ecl-spacing-xs $ecl-spacing-s;
    text-decoration: underline;
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      box-shadow: inset 0 0 0 3px map-get($ecl-colors, 'yellow-100');
      outline: none;
    }
  }

  .ecl-tag--removable {
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $ecl-color-text;
      color: #fff;
    }
  }

  .ecl-tag__icon {
    fill: currentColor;
    height: $ecl-icon-xs;
    margin-left: $ecl-spacing-xs;
    position: relative;
    width: $ecl-icon-xs;
  }

  .ecl-tag__icon-close {
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
  }

  .ecl-tag__icon-close-filled {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  .ecl-tag:hover,
  .ecl-tag:focus {
    .ecl-tag__icon-close {
      opacity: 0;
    }

    .ecl-tag__icon-close-filled {
      opacity: 1;
    }
  }
}

// Use mixin
@include exports('ec-component-tag') {
  @include ecl-tag();
}
