/**
 * Tags
 * @define tag
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-tag-print() {
  .ecl-tag {
    appearance: none;
    background: none;
    border-width: 0;
    color: $ecl-color-grey;
    font: $ecl-font-print-s;
    padding: 0;
    text-decoration: none;
  }

  .ecl-tag__icon {
    display: none;
  }
}

// Use mixin
@include exports('ec-component-tag-print') {
  @include ecl-tag-print;
}
