<style>
  .example {
    border: 2px solid #000;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    margin-top: -1.2rem;
    padding: 2rem;
    position: relative;
    width: 60%;
  }
  .example:first-child {
    margin-top: 0;
  }
  .example:nth-child(even) {
    background-color: #404040;
    color: #fff;
    float: left;
    margin-left: 10%;
    text-align: right;
  }
  .example:nth-child(odd) {
    background-color: #ebebeb;
    color: #404040;
    float: right;
    margin-right: 10%;
    text-align: left;
  }
</style>

<div>
  <div class="example ecl-u-z-auto">ecl-u-z-auto</div>
  <div class="example ecl-u-z-zero">ecl-u-z-zero</div>
  <div class="example ecl-u-z-highlight">ecl-u-z-highlight</div>
  <div class="example ecl-u-z-navigation">ecl-u-z-navigation</div>
  <div class="example ecl-u-z-dropdown">ecl-u-z-dropdown</div>
  <div class="example ecl-u-z-modal">ecl-u-z-modal</div>
  <div class="example ecl-u-z-max">ecl-u-z-max</div>
</div>
