/**
 * Form Group
 * @define form-group; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-form-group() {
  .ecl-form-group {
    align-items: flex-start;
    border-width: 0;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;

    > *:not(.ecl-form-label--hidden) + * {
      margin-top: $ecl-spacing-xs;
    }

    > *:not(.ecl-form-label--hidden) + .ecl-checkbox {
      margin-top: $ecl-spacing-s;
    }

    > *:not(.ecl-form-label--hidden) + .ecl-text-input {
      margin-top: $ecl-spacing-s;
    }

    > *:not(.ecl-form-label--hidden) + .ecl-text-area {
      margin-top: $ecl-spacing-s;
    }

    > *:not(.ecl-form-label--hidden) + .ecl-select__container,
    > *:not(.ecl-form-label--hidden) + .ecl-select__multiple {
      margin-top: $ecl-spacing-s;
    }

    > *:not(.ecl-form-label--hidden) + .ecl-radio {
      margin-top: $ecl-spacing-s;
    }

    > *:not(.ecl-form-label--hidden) + .ecl-file-upload,
    > *:not(.ecl-form-label--hidden) + .ecl-file-upload__button-container {
      margin-top: $ecl-spacing-s;
    }

    > *:not(.ecl-form-label--hidden) + .ecl-file-upload__list {
      margin-top: $ecl-spacing-m;
    }

    > .ecl-feedback-message + .ecl-help-block {
      margin-top: 0;
    }
  }
}

// Use mixin
@include exports('eu-component-form-form-group') {
  @include ecl-form-group();
}
