/**
 * EC logo
 */

%logo {
  background: url('../images/svg/logo.svg') no-repeat;
  display: block;
  float: left;
  height: 72px;
  width: 140px;
}

/**
 * @define logo
 */

// Default EC logo.
.logo {
  @extend %logo;

  // EC logo no-svg
  //
  // Default EC logo with no-svg.

  /* postcss-bem-linter: ignore */
  .no-svg & {
    background-image: url('../images/png/logo.png');
  }
}

// EC logotype
//
// EC logo with text.

// Sets language-specific background image on .logo--logotype element nested
// in {{modifier_class}} modifier.
@include logo-background-languages('../images/svg/logo/logo--', '.svg');

.logo--logotype {
  @extend %logo;

  width: 190px;
}

.no-svg {
  @include logo-background-languages('../images/png/logo/logo--', '.png');

  /* postcss-bem-linter: ignore */
  .logo--logotype {
    width: 190px;
  }
}

// EC logotype with text below the logo
//
// EC logo with text below.

// Sets language-specific background image on .logo--logotypebelow element nested
// in {{modifier_class}} modifier.
@include logo-background-languages('../images/svg/logo/logotypebelow--', '.svg', 'logo--logotypebelow');

.no-svg {
  @include logo-background-languages('../images/png/logo/logotypebelow--', '.png', 'logo--logotypebelow');
}

.logo--logotypebelow {
  @extend %logo;

  height: 72px;
  width: 198px;
}

@include media-breakpoint-up(xs) {
  .logo--logotype {
    width: 290px;
  }

  .logo--logotypebelow {
    height: 118px;
    width: 324px;
  }
}
