@use 'sass:map';
@use '@ecl/theme-eu/theme';
@use 'social-media-share' with (
  $_background-color: map.get(theme.$color, 'white'),
  $_border-radius: 4px,
  $_main-border: 0,
  $_title-color: map.get(theme.$color, 'grey-140')
);
