/**
 * Icons
 */

%icon {
  &::before {
    display: inline-block;
    font-family: 'EuropaIcons';
    // Better Font Rendering
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 4px;
    speak: none;
    text-decoration: none;
    text-transform: none;
  }
}

// Should be used only with @extend.
%icon--after {
  display: inline-block;
  font-family: 'EuropaIcons';
  // Better Font Rendering
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 4px;
  speak: none;
  text-decoration: underline;
  text-transform: none;
}

// Remove the underline from a::after
// There is a bug in IE8-11, so using display:inline-block; alone won't
// work. The solution is by explicitly setting text-decoration:underline;
// for the ::after-content and then overwrite this rule again with
// text-decoration:none;
%icon--after {
  text-decoration: none;
}

%icon--blue-dark {
  color: #004494;
}

%icon--tag-close-hover {
  content: '\e82d';

  &::before {
    @extend %icon--tag-close-hover;
  }
}

@font-face {
  font-family: 'EuropaIcons';
  src: url('../fonts/europa-icons/europa-icons.eot');
  src:
    url('../fonts/europa-icons/europa-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/europa-icons/europa-icons.woff') format('woff'),
    url('../fonts/europa-icons/europa-icons.ttf') format('truetype'),
    url('../fonts/europa-icons/icomoon.svg#icomoon') format('svg');
}

/**
 * Icon classes
 * @define icon
 */

.ecl-icon {
  @extend %icon;
}

.ecl-icon--after {
  @extend %icon--after;
}

// Icon component and modifiers.
@each $modifier, $char in $icons {
  %icon--#{$modifier},
  .ecl-icon--#{$modifier} {
    @include icon($modifier);
  }
}

.ecl-icon--blue-dark {
  @extend %icon--blue-dark;
}

.ecl-icon--tag-close-hover {
  @extend %icon--tag-close-hover;
}

.ecl-icon--yellowbg {
  background-color: $yellow-light;
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;

  &::before {
    line-height: inherit;
    margin-right: 0;
  }
}

.ecl-icon--text-small {
  font-size: map-get($font-size, 'xs');
}

.ecl-icon--margin-right {
  margin-right: 1.5em;
}
