/**
 * Unordered List component
 * @define unordered-list
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-unordered-list-print($text-color: $ecl-color-grey-100) {
  .ecl-unordered-list {
    color: $text-color;
    font: $ecl-font-prolonged-print-m;
    margin: 0;
  }

  .ecl-unordered-list__item {
    margin-top: $ecl-spacing-print-s;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .ecl-unordered-list--no-bullet,
  .ecl-unordered-list--divider {
    list-style: none;
    padding-left: 0;
  }

  .ecl-unordered-list .ecl-unordered-list {
    margin-top: $ecl-spacing-print-s;
  }
}

// Use mixin
@include exports('eu-component-unordered-list-print') {
  @include ecl-unordered-list-print;
}
