@import '@ecl/ec-theme-default/index';

* + .dodont {
  margin-top: $ecl-spacing-l;
}
.dont {
  margin-top: $ecl-spacing-m;
}

.image {
  align-items: center;
  background-color: $ecl-color-grey-5;
  border-left: 8px solid transparent;
  display: flex;
  justify-content: center;
}
.do .image {
  border-left-color: $ecl-color-success;
}
.dont .image {
  border-left-color: $ecl-color-error;
}

.container {
  border: 1px solid $ecl-color-grey-15;
  padding: $ecl-spacing-m $ecl-spacing-l;
}

.title {
  display: flex;
  font: $ecl-font-prolonged-m;
  font-weight: $ecl-font-weight-bold;
}
.do .title {
  color: $ecl-color-success;
}
.dont .title {
  color: $ecl-color-error;
}

.title__icon {
  fill: currentColor;
  height: $ecl-icon-s;
  margin-right: $ecl-spacing-s;
  width: $ecl-icon-s;
}

.description {
  color: $ecl-color-grey-100;
  font: $ecl-font-prolonged-m;
  margin-top: $ecl-spacing-xs;
}

@media screen and (min-width: $ecl-breakpoint-sm) {
  .dont {
    margin-top: $ecl-spacing-l;
  }
}
