

<!-- Start: @atom-buttons-buttons--default -->
<button class="btn btn-default">Button element</button>
<!-- End: @atom-buttons-buttons--default -->

<!-- Start: @atom-buttons-buttons--primary -->
<button class="btn btn-primary">Button element</button>
<!-- End: @atom-buttons-buttons--primary -->

<!-- Start: @atom-buttons-buttons--secondary -->
<button class="btn btn-secondary">Button element</button>
<!-- End: @atom-buttons-buttons--secondary -->

<!-- Start: @atom-buttons-buttons--ctn -->
<button class="btn btn-ctn">Button element</button>
<!-- End: @atom-buttons-buttons--ctn -->

<!-- Start: @atom-buttons-buttons--ctn--border -->
<button class="btn btn-ctn--border">Button element</button>
<!-- End: @atom-buttons-buttons--ctn--border -->

<!-- Start: @atom-buttons-buttons--menu -->
<button class="btn btn-menu">Button element</button>
<!-- End: @atom-buttons-buttons--menu -->

