

<!-- Start: @atom-buttons-inputs--ctn -->
<input type="button" class="btn btn-ctn" value="input[type='button']">
<!-- End: @atom-buttons-inputs--ctn -->

<!-- Start: @atom-buttons-inputs--ctn--border -->
<input type="button" class="btn btn-ctn--border" value="input[type='button']">
<!-- End: @atom-buttons-inputs--ctn--border -->

<!-- Start: @atom-buttons-inputs--default -->
<input type="button" class="btn btn-default" value="input[type='button']">
<!-- End: @atom-buttons-inputs--default -->

<!-- Start: @atom-buttons-inputs--menu -->
<input type="button" class="btn btn-menu" value="input[type='button']">
<!-- End: @atom-buttons-inputs--menu -->

<!-- Start: @atom-buttons-inputs--primary -->
<input type="button" class="btn btn-primary" value="input[type='button']">
<!-- End: @atom-buttons-inputs--primary -->

<!-- Start: @atom-buttons-inputs--secondary -->
<input type="button" class="btn btn-secondary" value="input[type='button']">
<!-- End: @atom-buttons-inputs--secondary -->

