


      <!-- Start: @ecl-icons--external -->

      <p>

        <span class="ecl-icon ecl-icon--external"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--external"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--external"></span>

        <code>ecl-icon--external</code>

      </p>

      <!-- End: @ecl-icons--external -->

    

      <!-- Start: @ecl-icons--arrow-up -->

      <p>

        <span class="ecl-icon ecl-icon--arrow-up"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--arrow-up"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--arrow-up"></span>

        <code>ecl-icon--arrow-up</code>

      </p>

      <!-- End: @ecl-icons--arrow-up -->

    

      <!-- Start: @ecl-icons--arrow-down -->

      <p>

        <span class="ecl-icon ecl-icon--arrow-down"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--arrow-down"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--arrow-down"></span>

        <code>ecl-icon--arrow-down</code>

      </p>

      <!-- End: @ecl-icons--arrow-down -->

    

      <!-- Start: @ecl-icons--feedback -->

      <p>

        <span class="ecl-icon ecl-icon--feedback"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--feedback"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--feedback"></span>

        <code>ecl-icon--feedback</code>

      </p>

      <!-- End: @ecl-icons--feedback -->

    

      <!-- Start: @ecl-icons--spinner -->

      <p>

        <span class="ecl-icon ecl-icon--spinner"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--spinner"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--spinner"></span>

        <code>ecl-icon--spinner</code>

      </p>

      <!-- End: @ecl-icons--spinner -->

    

      <!-- Start: @ecl-icons--search -->

      <p>

        <span class="ecl-icon ecl-icon--search"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--search"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--search"></span>

        <code>ecl-icon--search</code>

      </p>

      <!-- End: @ecl-icons--search -->

    

      <!-- Start: @ecl-icons--language -->

      <p>

        <span class="ecl-icon ecl-icon--language"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--language"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--language"></span>

        <code>ecl-icon--language</code>

      </p>

      <!-- End: @ecl-icons--language -->

    

      <!-- Start: @ecl-icons--facebook -->

      <p>

        <span class="ecl-icon ecl-icon--facebook"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--facebook"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--facebook"></span>

        <code>ecl-icon--facebook</code>

      </p>

      <!-- End: @ecl-icons--facebook -->

    

      <!-- Start: @ecl-icons--twitter -->

      <p>

        <span class="ecl-icon ecl-icon--twitter"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--twitter"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--twitter"></span>

        <code>ecl-icon--twitter</code>

      </p>

      <!-- End: @ecl-icons--twitter -->

    

      <!-- Start: @ecl-icons--googleplus -->

      <p>

        <span class="ecl-icon ecl-icon--googleplus"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--googleplus"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--googleplus"></span>

        <code>ecl-icon--googleplus</code>

      </p>

      <!-- End: @ecl-icons--googleplus -->

    

      <!-- Start: @ecl-icons--linkedin -->

      <p>

        <span class="ecl-icon ecl-icon--linkedin"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--linkedin"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--linkedin"></span>

        <code>ecl-icon--linkedin</code>

      </p>

      <!-- End: @ecl-icons--linkedin -->

    

      <!-- Start: @ecl-icons--rss -->

      <p>

        <span class="ecl-icon ecl-icon--rss"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--rss"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--rss"></span>

        <code>ecl-icon--rss</code>

      </p>

      <!-- End: @ecl-icons--rss -->

    

      <!-- Start: @ecl-icons--up -->

      <p>

        <span class="ecl-icon ecl-icon--up"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--up"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--up"></span>

        <code>ecl-icon--up</code>

      </p>

      <!-- End: @ecl-icons--up -->

    

      <!-- Start: @ecl-icons--right -->

      <p>

        <span class="ecl-icon ecl-icon--right"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--right"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--right"></span>

        <code>ecl-icon--right</code>

      </p>

      <!-- End: @ecl-icons--right -->

    

      <!-- Start: @ecl-icons--down -->

      <p>

        <span class="ecl-icon ecl-icon--down"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--down"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--down"></span>

        <code>ecl-icon--down</code>

      </p>

      <!-- End: @ecl-icons--down -->

    

      <!-- Start: @ecl-icons--left -->

      <p>

        <span class="ecl-icon ecl-icon--left"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--left"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--left"></span>

        <code>ecl-icon--left</code>

      </p>

      <!-- End: @ecl-icons--left -->

    

      <!-- Start: @ecl-icons--file -->

      <p>

        <span class="ecl-icon ecl-icon--file"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--file"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--file"></span>

        <code>ecl-icon--file</code>

      </p>

      <!-- End: @ecl-icons--file -->

    

      <!-- Start: @ecl-icons--audio -->

      <p>

        <span class="ecl-icon ecl-icon--audio"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--audio"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--audio"></span>

        <code>ecl-icon--audio</code>

      </p>

      <!-- End: @ecl-icons--audio -->

    

      <!-- Start: @ecl-icons--brochure -->

      <p>

        <span class="ecl-icon ecl-icon--brochure"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--brochure"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--brochure"></span>

        <code>ecl-icon--brochure</code>

      </p>

      <!-- End: @ecl-icons--brochure -->

    

      <!-- Start: @ecl-icons--edit -->

      <p>

        <span class="ecl-icon ecl-icon--edit"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--edit"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--edit"></span>

        <code>ecl-icon--edit</code>

      </p>

      <!-- End: @ecl-icons--edit -->

    

      <!-- Start: @ecl-icons--image -->

      <p>

        <span class="ecl-icon ecl-icon--image"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--image"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--image"></span>

        <code>ecl-icon--image</code>

      </p>

      <!-- End: @ecl-icons--image -->

    

      <!-- Start: @ecl-icons--download -->

      <p>

        <span class="ecl-icon ecl-icon--download"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--download"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--download"></span>

        <code>ecl-icon--download</code>

      </p>

      <!-- End: @ecl-icons--download -->

    

      <!-- Start: @ecl-icons--infographic -->

      <p>

        <span class="ecl-icon ecl-icon--infographic"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--infographic"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--infographic"></span>

        <code>ecl-icon--infographic</code>

      </p>

      <!-- End: @ecl-icons--infographic -->

    

      <!-- Start: @ecl-icons--multiple-files -->

      <p>

        <span class="ecl-icon ecl-icon--multiple-files"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--multiple-files"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--multiple-files"></span>

        <code>ecl-icon--multiple-files</code>

      </p>

      <!-- End: @ecl-icons--multiple-files -->

    

      <!-- Start: @ecl-icons--organigram -->

      <p>

        <span class="ecl-icon ecl-icon--organigram"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--organigram"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--organigram"></span>

        <code>ecl-icon--organigram</code>

      </p>

      <!-- End: @ecl-icons--organigram -->

    

      <!-- Start: @ecl-icons--package -->

      <p>

        <span class="ecl-icon ecl-icon--package"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--package"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--package"></span>

        <code>ecl-icon--package</code>

      </p>

      <!-- End: @ecl-icons--package -->

    

      <!-- Start: @ecl-icons--slides -->

      <p>

        <span class="ecl-icon ecl-icon--slides"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--slides"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--slides"></span>

        <code>ecl-icon--slides</code>

      </p>

      <!-- End: @ecl-icons--slides -->

    

      <!-- Start: @ecl-icons--video -->

      <p>

        <span class="ecl-icon ecl-icon--video"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--video"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--video"></span>

        <code>ecl-icon--video</code>

      </p>

      <!-- End: @ecl-icons--video -->

    

      <!-- Start: @ecl-icons--error -->

      <p>

        <span class="ecl-icon ecl-icon--error"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--error"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--error"></span>

        <code>ecl-icon--error</code>

      </p>

      <!-- End: @ecl-icons--error -->

    

      <!-- Start: @ecl-icons--success -->

      <p>

        <span class="ecl-icon ecl-icon--success"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--success"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--success"></span>

        <code>ecl-icon--success</code>

      </p>

      <!-- End: @ecl-icons--success -->

    

      <!-- Start: @ecl-icons--warning -->

      <p>

        <span class="ecl-icon ecl-icon--warning"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--warning"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--warning"></span>

        <code>ecl-icon--warning</code>

      </p>

      <!-- End: @ecl-icons--warning -->

    

      <!-- Start: @ecl-icons--check -->

      <p>

        <span class="ecl-icon ecl-icon--check"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--check"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--check"></span>

        <code>ecl-icon--check</code>

      </p>

      <!-- End: @ecl-icons--check -->

    

      <!-- Start: @ecl-icons--generic-lang -->

      <p>

        <span class="ecl-icon ecl-icon--generic-lang"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--generic-lang"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--generic-lang"></span>

        <code>ecl-icon--generic-lang</code>

      </p>

      <!-- End: @ecl-icons--generic-lang -->

    

      <!-- Start: @ecl-icons--budget -->

      <p>

        <span class="ecl-icon ecl-icon--budget"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--budget"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--budget"></span>

        <code>ecl-icon--budget</code>

      </p>

      <!-- End: @ecl-icons--budget -->

    

      <!-- Start: @ecl-icons--digital -->

      <p>

        <span class="ecl-icon ecl-icon--digital"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--digital"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--digital"></span>

        <code>ecl-icon--digital</code>

      </p>

      <!-- End: @ecl-icons--digital -->

    

      <!-- Start: @ecl-icons--energy -->

      <p>

        <span class="ecl-icon ecl-icon--energy"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--energy"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--energy"></span>

        <code>ecl-icon--energy</code>

      </p>

      <!-- End: @ecl-icons--energy -->

    

      <!-- Start: @ecl-icons--euro -->

      <p>

        <span class="ecl-icon ecl-icon--euro"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--euro"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--euro"></span>

        <code>ecl-icon--euro</code>

      </p>

      <!-- End: @ecl-icons--euro -->

    

      <!-- Start: @ecl-icons--global -->

      <p>

        <span class="ecl-icon ecl-icon--global"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--global"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--global"></span>

        <code>ecl-icon--global</code>

      </p>

      <!-- End: @ecl-icons--global -->

    

      <!-- Start: @ecl-icons--growth -->

      <p>

        <span class="ecl-icon ecl-icon--growth"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--growth"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--growth"></span>

        <code>ecl-icon--growth</code>

      </p>

      <!-- End: @ecl-icons--growth -->

    

      <!-- Start: @ecl-icons--regulation -->

      <p>

        <span class="ecl-icon ecl-icon--regulation"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--regulation"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--regulation"></span>

        <code>ecl-icon--regulation</code>

      </p>

      <!-- End: @ecl-icons--regulation -->

    

      <!-- Start: @ecl-icons--tag-close -->

      <p>

        <span class="ecl-icon ecl-icon--tag-close"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--tag-close"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--tag-close"></span>

        <code>ecl-icon--tag-close</code>

      </p>

      <!-- End: @ecl-icons--tag-close -->

    

      <!-- Start: @ecl-icons--calendar -->

      <p>

        <span class="ecl-icon ecl-icon--calendar"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--calendar"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--calendar"></span>

        <code>ecl-icon--calendar</code>

      </p>

      <!-- End: @ecl-icons--calendar -->

    

      <!-- Start: @ecl-icons--location -->

      <p>

        <span class="ecl-icon ecl-icon--location"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--location"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--location"></span>

        <code>ecl-icon--location</code>

      </p>

      <!-- End: @ecl-icons--location -->

    

      <!-- Start: @ecl-icons--livestreaming -->

      <p>

        <span class="ecl-icon ecl-icon--livestreaming"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--livestreaming"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--livestreaming"></span>

        <code>ecl-icon--livestreaming</code>

      </p>

      <!-- End: @ecl-icons--livestreaming -->

    

      <!-- Start: @ecl-icons--camera -->

      <p>

        <span class="ecl-icon ecl-icon--camera"></span>

        <span class="ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--camera"></span>

        <span class="ecl-icon ecl-u-color-primary ecl-icon--camera"></span>

        <code>ecl-icon--camera</code>

      </p>

      <!-- End: @ecl-icons--camera -->

    
