

<nav class="ecl-breadcrumbs " aria-label="breadcrumbs">
  <span class="ecl-sr-only">You are here:</span>
  <ol class="ecl-breadcrumbs__segments-wrapper">
        <li class="ecl-breadcrumbs__segment ecl-breadcrumbs__segment--first">
      <a href="#" class="ecl-breadcrumbs__link">European Commission</a>
    </li>
        <li class="ecl-breadcrumbs__segment">
      <a href="#" class="ecl-breadcrumbs__link">Priorities</a>
    </li>
        <li class="ecl-breadcrumbs__segment ecl-breadcrumbs__segment--last">
      <a href="#" class="ecl-breadcrumbs__link">Jobs, Growth and Investment</a>
    </li>
      </ol>
</nav>

