

<div class="ecl-message  ecl-message--warning " role="alert">
  <span class="ecl-u-sr-only">Warning message</span>

    <button type="button" class="ecl-message__dismiss" aria-label="Dismiss this alert">&times;</button>
  
    <div class="ecl-message__title">Some warning title</div>
  
    <ul class="ecl-message__body ecl-list">
          <li>Lorem ipsum lor sit amet, consectetur adipi</li>
          <li>Lorem ipsum lor sit amet, consectetur adipi</li>
          <li>Lorem ipsum lor sit amet, consectetur adipi</li>
      </ul>
  </div>

