

<!-- Start: @ecl-button-groups--default -->
<h2>Default
</h2>
<div class="btn-group ">
  <a href="#" class="btn btn-primary">Button primary</a>
  <a href="#" class="btn btn-ctn">Call to action</a>
  <a href="#" class="btn btn-default">Button default</a>
  <a href="#" class="btn btn-primary">Button primary</a>
</div>
<!-- End: @ecl-button-groups--default -->

<!-- Start: @ecl-button-groups--two-cols -->
<h2>Two column button block
</h2>
<div class="btn-group btn-group-row-two">
  <a href="#" class="btn btn-primary">Button primary</a>
  <a href="#" class="btn btn-ctn">Call to action</a>
  <a href="#" class="btn btn-default">Button default</a>
  <a href="#" class="btn btn-primary">Button primary</a>
</div>
<!-- End: @ecl-button-groups--two-cols -->

