











<div class="ecl-site-switcher ecl-site-switcher--header">
  <ul class="ecl-site-switcher__list ecl-container">
    <li class="ecl-site-switcher__option">
      







  


<a class="ecl-link ecl-site-switcher__link" href="#">Commission and its priorities</a>
    </li>
    <li class="ecl-site-switcher__option ecl-site-switcher__option--is-selected">
      







  


<a class="ecl-link ecl-site-switcher__link" href="#">Policies, information and services</a>
    </li>
  </ul>
</div>

