








  




<div class="ecl-social-media-link ecl-social-media-link--horizontal" >
      <p class="ecl-paragraph">View European Commission on:</p>
    
  <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled ecl-list--inline">
      <li class="ecl-social-media-link__item">
      






  
  
  
        









        
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--facebook ecl-icon-social--horizontal ecl-social-media-link__link" href="#">Facebook</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  
  
  
        









        
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--twitter ecl-icon-social--horizontal ecl-social-media-link__link" href="#">Twitter</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  
  
  
        









        
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--instagram ecl-icon-social--horizontal ecl-social-media-link__link" href="#">Instagram</a>
    </li>
  
    <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="">Other social networks</a>
    </li>
  </ul>
</div>

