









  





<div class="ecl-file-upload ecl-file-upload--has-error" >
  <div class="ecl-file-upload__value" tabindex="0">No file selected.</div>
  <label class="ecl-file-upload__browse" for="example-input-id-3" tabindex="0">Browse</label>
    







  
                <button
    class="ecl-button ecl-button--primary ecl-file-upload__upload ecl-u-ml-xxxs"
     tabindex="0" type="submit">Upload</button>    <input class="ecl-file-upload__input" name="example-input-name-3" type="file" id="example-input-id-3" >
</div>

