


<nav class="ecl-navigation-wrapper">
  <h2 class="ecl-sr-only">Default Navigation Menu</h2>
  <ul class="ecl-navigation ecl-navigation--default">
                <li class="ecl-navigation__item">
        <a class="ecl-navigation__link ecl-link" href="#">Home</a>
      </li>
                <li class="ecl-navigation__item">
        <a class="ecl-navigation__link ecl-navigation__link--active ecl-link" href="#">About Us</a>
      </li>
                <li class="ecl-navigation__item">
        <a class="ecl-navigation__link ecl-link" href="#">More Information</a>
      </li>
                <li class="ecl-navigation__item">
        <a class="ecl-navigation__link ecl-link" href="#">Contact Us</a>
      </li>
      </ul>
</nav>

