












<nav class="ecl-navigation-list-wrapper" >
  <h2 class="ecl-sr-only">Tabs Navigation Menu</h2>
  <ul class="ecl-navigation-list ecl-navigation-list--tabs">
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Home</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-navigation-list__link--active ecl-link" href="#">About Us</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">More Information</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Contact Us</a>
      </li>
      </ul>
</nav>

