


      <!-- Start: @ecl-buttons--default -->

      <h4>Default
</h4>

      <button
    class="ecl-button ecl-button--default"
    >Default</button>

      <!-- End: @ecl-buttons--default -->

    

      <!-- Start: @ecl-buttons--primary -->

      <h4>Primary
</h4>

      <button
    class="ecl-button ecl-button--primary"
    >Primary</button>

      <!-- End: @ecl-buttons--primary -->

    

      <!-- Start: @ecl-buttons--secondary -->

      <h4>Secondary
</h4>

      <button
    class="ecl-button ecl-button--secondary"
    >Secondary</button>

      <!-- End: @ecl-buttons--secondary -->

    

      <!-- Start: @ecl-buttons--call -->

      <h4>Call
</h4>

      <button
    class="ecl-button ecl-button--call"
    >Call to action</button>

      <!-- End: @ecl-buttons--call -->

    

      <!-- Start: @ecl-buttons--form -->

      <h4>Form
</h4>

      <button
    class="ecl-button ecl-button--form"
    >Form</button>

      <!-- End: @ecl-buttons--form -->

    

      <!-- Start: @ecl-buttons--form-primary -->

      <h4>Form Primary
</h4>

      <button
    class="ecl-button ecl-button--form-primary"
    >Form primary</button>

      <!-- End: @ecl-buttons--form-primary -->

    

      <!-- Start: @ecl-buttons--light -->

      <h4>Light
</h4>

      <button
    class="ecl-button ecl-button--light"
    >Light</button>

      <!-- End: @ecl-buttons--light -->

    

      <!-- Start: @ecl-buttons--arrow-up -->

      <h4>Arrow Up
</h4>

      <button
    class="ecl-button ecl-button--default ecl-button--arrow-up"
    >Icon: Arrow up</button>

      <!-- End: @ecl-buttons--arrow-up -->

    

      <!-- Start: @ecl-buttons--arrow-down -->

      <h4>Arrow Down
</h4>

      <button
    class="ecl-button ecl-button--default ecl-button--arrow-down"
    >Icon: Arrow down</button>

      <!-- End: @ecl-buttons--arrow-down -->

    

      <!-- Start: @ecl-buttons--caret-up -->

      <h4>Caret Up
</h4>

      <button
    class="ecl-button ecl-button--default ecl-button--caret-up"
    >Icon: Caret up</button>

      <!-- End: @ecl-buttons--caret-up -->

    

      <!-- Start: @ecl-buttons--caret-right -->

      <h4>Caret Right
</h4>

      <button
    class="ecl-button ecl-button--default ecl-button--caret-right"
    >Icon: Caret right</button>

      <!-- End: @ecl-buttons--caret-right -->

    

      <!-- Start: @ecl-buttons--caret-down -->

      <h4>Caret Down
</h4>

      <button
    class="ecl-button ecl-button--default ecl-button--caret-down"
    >Icon: Caret down</button>

      <!-- End: @ecl-buttons--caret-down -->

    

      <!-- Start: @ecl-buttons--caret-left -->

      <h4>Caret Left
</h4>

      <button
    class="ecl-button ecl-button--default ecl-button--caret-left"
    >Icon: Caret left</button>

      <!-- End: @ecl-buttons--caret-left -->

    

      <!-- Start: @ecl-buttons--complex-example -->

      <h4>Primary button, block-wide, with arrow-down
</h4>

      <button
    class="ecl-button ecl-button--primary ecl-button--block ecl-button--arrow-down"
    >Primary button, block-wide, with arrow-down</button>

      <!-- End: @ecl-buttons--complex-example -->

    
