

<!-- Start: @ecl-forms-radios--default -->
<label for=opt-1 class="ecl-radio"><input class="ecl-radio__input ecl-sr-only" type="radio" id="opt-1" value="opt-1" name="opt-1" /><span class="ecl-radio__label">Default</span></label>
<!-- End: @ecl-forms-radios--default -->

<!-- Start: @ecl-forms-radios--checked -->
<label for=opt-2 class="ecl-radio"><input class="ecl-radio__input ecl-sr-only" type="radio" id="opt-2" value="opt-2" name="opt-2" checked /><span class="ecl-radio__label">Checked option</span></label>
<!-- End: @ecl-forms-radios--checked -->

<!-- Start: @ecl-forms-radios--disabled -->
<label for=opt-3 class="ecl-radio ecl-radio--is-disabled"><input class="ecl-radio__input ecl-sr-only" type="radio" id="opt-3" value="opt-3" name="opt-3" disabled /><span class="ecl-radio__label">Disabled option</span></label>
<!-- End: @ecl-forms-radios--disabled -->

<!-- Start: @ecl-forms-radios--error -->
<label for=opt-4 class="ecl-radio ecl-radio--has-error"><input class="ecl-radio__input ecl-sr-only" type="radio" id="opt-4" value="opt-4" name="opt-4" /><span class="ecl-radio__label">Option with error</span></label>
<!-- End: @ecl-forms-radios--error -->

