


      <!-- Start: @ecl-links--default -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--"  href="#">in-line link</a> consectetur adipiscing elit</div>

      <!-- End: @ecl-links--default -->

    

      <!-- Start: @ecl-links--external -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--external"  href="#">external link</a> consectetur adipiscing elit</div>

      <!-- End: @ecl-links--external -->

    

      <!-- Start: @ecl-links--standalone -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--standalone"  href="#">standalone link</a> consectetur adipiscing elit</div>

      <!-- End: @ecl-links--standalone -->

    

      <!-- Start: @ecl-links--inverted -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--inverted ecl-u-bg-shade"  href="#">inverted link</a> consectetur adipiscing elit</div>

      <!-- End: @ecl-links--inverted -->

    

      <!-- Start: @ecl-links--all -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--all"  href="#">all link</a> consectetur adipiscing elit</div>

      <!-- End: @ecl-links--all -->

    

      <!-- Start: @ecl-links--more -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--more"  href="#">more link</a> consectetur adipiscing elit</div>

      <!-- End: @ecl-links--more -->

    
