


      <!-- Start: @ecl-forms-textareas--default -->

      <div class="ecl-form-group">

      <label for="example-textarea-id-1" id="example-textarea-id-1_label" aria-label="example-textarea-id-1">Normal textarea</label>
<textarea
  name="default-name"
  id="example-textarea-id-1"
  rows="4"
  class="ecl-textarea"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="example-textarea-id-1_label"
   placeholder="Some placeholder text."
>
</textarea>

      </div>

      <!-- End: @ecl-forms-textareas--default -->

    

      <!-- Start: @ecl-forms-textareas--is-disabled -->

      <div class="ecl-form-group">

      <label for="example-textarea-id-2" id="example-textarea-id-2_label" aria-label="example-textarea-id-2">Disabled textarea</label>
<textarea
  name="default-name"
  id="example-textarea-id-2"
  rows="4"
  class="ecl-textarea"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="example-textarea-id-2_label"
   disabled placeholder="Some placeholder text."
>
</textarea>

      </div>

      <!-- End: @ecl-forms-textareas--is-disabled -->

    

      <!-- Start: @ecl-forms-textareas--has-error -->

      <div class="ecl-form-group">

      <label for="example-textarea-id-3" id="example-textarea-id-3_label" aria-label="example-textarea-id-3">Textarea with error</label>
<textarea
  name="default-name"
  id="example-textarea-id-3"
  rows="4"
  class="ecl-textarea ecl-textarea--has-error"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="example-textarea-id-3_label"
   placeholder="Some placeholder text."
>
</textarea>

      </div>

      <!-- End: @ecl-forms-textareas--has-error -->

    
