

<!-- Start: @ecl-buttons-buttons--default -->
<h2>Default
</h2>
<button class="btn btn-default">Button element</button>
<!-- End: @ecl-buttons-buttons--default -->

<!-- Start: @ecl-buttons-buttons--primary -->
<h2>Primary
</h2>
<button class="btn btn-primary">Button element</button>
<!-- End: @ecl-buttons-buttons--primary -->

<!-- Start: @ecl-buttons-buttons--secondary -->
<h2>Secondary
</h2>
<button class="btn btn-secondary">Button element</button>
<!-- End: @ecl-buttons-buttons--secondary -->

<!-- Start: @ecl-buttons-buttons--ctn -->
<h2>Call to action
</h2>
<button class="btn btn-ctn">Button element</button>
<!-- End: @ecl-buttons-buttons--ctn -->

<!-- Start: @ecl-buttons-buttons--ctn--border -->
<h2>Call to action with border
</h2>
<button class="btn btn-ctn--border">Button element</button>
<!-- End: @ecl-buttons-buttons--ctn--border -->

<!-- Start: @ecl-buttons-buttons--menu -->
<h2>Menu
</h2>
<button class="btn btn-menu">Button element</button>
<!-- End: @ecl-buttons-buttons--menu -->

