


      <!-- Start: @ecl-buttons--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default
</h3>

      <button class="ecl-button ecl-button--default">Default</button>

      <!-- End: @ecl-buttons--default -->

    

      <!-- Start: @ecl-buttons--primary -->

      <h3 class="ecl-heading ecl-heading--h3">Primary
</h3>

      <button class="ecl-button ecl-button--primary">Primary</button>

      <!-- End: @ecl-buttons--primary -->

    

      <!-- Start: @ecl-buttons--secondary -->

      <h3 class="ecl-heading ecl-heading--h3">Secondary
</h3>

      <button class="ecl-button ecl-button--secondary">Secondary</button>

      <!-- End: @ecl-buttons--secondary -->

    

      <!-- Start: @ecl-buttons--call -->

      <h3 class="ecl-heading ecl-heading--h3">Call-to-action
</h3>

      <button class="ecl-button ecl-button--call ecl-button--caret-right">Call-to-action</button>

      <!-- End: @ecl-buttons--call -->

    
