




<div class="ecl-page-header">
  <div class="ecl-container">

    <nav class="ecl-breadcrumbs " aria-label="breadcrumbs">
  <span class="ecl-u-sr-only">You are here:</span>
  <ol class="ecl-breadcrumbs__segments-wrapper">
        <li class="ecl-breadcrumbs__segment ecl-breadcrumbs__segment--first">
      






                            
  


<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumbs__link" href="#">European Commission</a>
    </li>
        <li class="ecl-breadcrumbs__segment ecl-breadcrumbs__segment--last">
      






                            
  


<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumbs__link" href="#">Announcements</a>
    </li>
      </ol>
</nav>

    <div class="ecl-page-header__body">

            <div class="ecl-page-header__identity">
        Digital single market
      </div>
      
      
      
      
    </div>
  </div>
</div>

