

<!-- Button dropdown -->

<div class="ecl-dropdown">
  








  
                          


  <button class="ecl-button ecl-button--default ecl-expandable__button" aria-controls="example-button-dropdown" aria-expanded="false" id="example-expandable-button" type="button">Create</button>
  







  
                    
<div class="ecl-link-block ecl-dropdown__body"  id="example-button-dropdown" aria-labelledby="example-expandable-button" aria-hidden="true">
  
  <ul class="ecl-link-block__list">
        <li class="ecl-link-block__item">
      






        
  
                    

<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#" id="example-button-dropdown" aria-labelledby="example-expandable-button" aria-hidden="true">European Commission</a>
    </li>
        <li class="ecl-link-block__item">
      






        
  
                    

<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#" id="example-button-dropdown" aria-labelledby="example-expandable-button" aria-hidden="true">Priorities</a>
    </li>
        <li class="ecl-link-block__item">
      






        
  
                    

<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#" id="example-button-dropdown" aria-labelledby="example-expandable-button" aria-hidden="true">Jobs, Growth and Investment</a>
    </li>
      </ul>
</div>
</div>

