

<!-- Start: @ecl-typography-headings--h1 -->
<h1 class="ecl-h1">Heading &lt;h1&gt; with class .ecl-h1</h1>
<!-- End: @ecl-typography-headings--h1 -->

<!-- Start: @ecl-typography-headings--h2 -->
<h2 class="ecl-h2">Heading &lt;h2&gt; with class .ecl-h2</h2>
<!-- End: @ecl-typography-headings--h2 -->

<!-- Start: @ecl-typography-headings--h3 -->
<h3 class="ecl-h3">Heading &lt;h3&gt; with class .ecl-h3</h3>
<!-- End: @ecl-typography-headings--h3 -->

<!-- Start: @ecl-typography-headings--h4 -->
<h4 class="ecl-h4">Heading &lt;h4&gt; with class .ecl-h4</h4>
<!-- End: @ecl-typography-headings--h4 -->

<!-- Start: @ecl-typography-headings--h5 -->
<h5 class="ecl-h5">Heading &lt;h5&gt; with class .ecl-h5</h5>
<!-- End: @ecl-typography-headings--h5 -->

<!-- Start: @ecl-typography-headings--h6 -->
<h6 class="ecl-h6">Heading &lt;h6&gt; with class .ecl-h6</h6>
<!-- End: @ecl-typography-headings--h6 -->

