

<!-- Start: @ecl-buttons-links--default -->
<a href="#" class="btn btn-default">Link button</a>
<!-- End: @ecl-buttons-links--default -->

<!-- Start: @ecl-buttons-links--default -->
<a href="http://example.com" class="btn btn-default">External link button</a>
<!-- End: @ecl-buttons-links--default -->

<!-- Start: @ecl-buttons-links--primary -->
<a href="#" class="btn btn-primary">Link button</a>
<!-- End: @ecl-buttons-links--primary -->

<!-- Start: @ecl-buttons-links--primary -->
<a href="http://example.com" class="btn btn-primary">External link button</a>
<!-- End: @ecl-buttons-links--primary -->

<!-- Start: @ecl-buttons-links--secondary -->
<a href="#" class="btn btn-secondary">Link button</a>
<!-- End: @ecl-buttons-links--secondary -->

<!-- Start: @ecl-buttons-links--secondary -->
<a href="http://example.com" class="btn btn-secondary">External link button</a>
<!-- End: @ecl-buttons-links--secondary -->

<!-- Start: @ecl-buttons-links--ctn -->
<a href="#" class="btn btn-ctn">Link button</a>
<!-- End: @ecl-buttons-links--ctn -->

<!-- Start: @ecl-buttons-links--ctn -->
<a href="http://example.com" class="btn btn-ctn">External link button</a>
<!-- End: @ecl-buttons-links--ctn -->

<!-- Start: @ecl-buttons-links--ctn--border -->
<a href="#" class="btn btn-ctn--border">Link button</a>
<!-- End: @ecl-buttons-links--ctn--border -->

<!-- Start: @ecl-buttons-links--ctn--border -->
<a href="http://example.com" class="btn btn-ctn--border">External link button</a>
<!-- End: @ecl-buttons-links--ctn--border -->

<!-- Start: @ecl-buttons-links--menu -->
<a href="#" class="btn btn-menu">Link button</a>
<!-- End: @ecl-buttons-links--menu -->

<!-- Start: @ecl-buttons-links--menu -->
<a href="http://example.com" class="btn btn-menu">External link button</a>
<!-- End: @ecl-buttons-links--menu -->

