

<div class="ecl-banner ecl-banner--background">

      
  <div class="ecl-banner__image" style="background-image: url('http://lorempixel.com/1600/370/abstract/8')"></div>
  <div class="ecl-banner__body">
    <a class="ecl-banner__title" href="#">White Paper on the future of Europe</a>
    <p class="ecl-paragraph ecl-banner__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  </div>

      </div>

