

<div class="ecl-page-header">
  <nav class="ecl-breadcrumbs ecl-u-mh-xxs" aria-label="breadcrumbs">
  <span class="ecl-sr-only">You are here:</span>
  <ol class="ecl-breadcrumbs__segments-wrapper">
        <li class="ecl-breadcrumbs__segment ecl-breadcrumbs__segment--first">
      <a href="#" class="ecl-breadcrumbs__link">European Commission</a>
    </li>
        <li class="ecl-breadcrumbs__segment ecl-breadcrumbs__segment--last">
      <a href="#" class="ecl-breadcrumbs__link">Announcements</a>
    </li>
      </ol>
</nav>

  <div class="ecl-page-header__body">

        <div class="ecl-page-header__identity">
      Digital single market
    </div>
    
    
    
    
  </div>
</div>

