













<div class="ecl-social-media-link" >
      <p class="ecl-paragraph">View European Commission on:</p>
    
  <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled">
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--facebook ecl-social-media-link__link" href="#">Facebook</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--twitter ecl-social-media-link__link" href="#">Twitter</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--instagram ecl-social-media-link__link" href="#">Instagram</a>
    </li>
  
    <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="">Other social networks</a>
    </li>
  </ul>
</div>

