












<nav class="ecl-navigation-inpage" >
  <div class="ecl-navigation-inpage__title">Page Contents</div>

  <div class="ecl-navigation-inpage__body">
    <div class="ecl-navigation-inpage__trigger" aria-controls="ecl-navigation-inpage-list" aria-expanded="false" id="ecl-navigation-inpage-trigger">&nbsp;</div>

    <ul class="ecl-navigation-inpage__list" aria-hidden="true" aria-labelledby="ecl-navigation-inpage-trigger" id="ecl-navigation-inpage-list">
            <li class="ecl-navigation-inpage__item">
        <a class="ecl-navigation-inpage__link ecl-link ecl-link--standalone" href="#inline-nav-1">Heading 1</a>
      </li>
            <li class="ecl-navigation-inpage__item">
        <a class="ecl-navigation-inpage__link ecl-link ecl-link--standalone" href="#inline-nav-2">Heading 2</a>
      </li>
            <li class="ecl-navigation-inpage__item">
        <a class="ecl-navigation-inpage__link ecl-link ecl-link--standalone" href="#inline-nav-3">Heading 3</a>
      </li>
          </ul>
  </div>
</nav>

