









  




<li class="ecl-list-item ecl-list-item--highlight" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Highlighted image"
  src="../../assets/demo_images/nature-demo-1.jpg"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--highlight" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">State of European Union 2017</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

