

<!-- Start: @icons--external -->
<p>
<span class="icon icon--external"></span>
<span class="icon icon--yellowbg icon--external"></span>
<span class="icon icon--blue-dark icon--external"></span> <code>icon--external</code>
</p>
<!-- End: @icons--external -->

<!-- Start: @icons--arrow-up -->
<p>
<span class="icon icon--arrow-up"></span>
<span class="icon icon--yellowbg icon--arrow-up"></span>
<span class="icon icon--blue-dark icon--arrow-up"></span> <code>icon--arrow-up</code>
</p>
<!-- End: @icons--arrow-up -->

<!-- Start: @icons--arrow-down -->
<p>
<span class="icon icon--arrow-down"></span>
<span class="icon icon--yellowbg icon--arrow-down"></span>
<span class="icon icon--blue-dark icon--arrow-down"></span> <code>icon--arrow-down</code>
</p>
<!-- End: @icons--arrow-down -->

<!-- Start: @icons--feedback -->
<p>
<span class="icon icon--feedback"></span>
<span class="icon icon--yellowbg icon--feedback"></span>
<span class="icon icon--blue-dark icon--feedback"></span> <code>icon--feedback</code>
</p>
<!-- End: @icons--feedback -->

<!-- Start: @icons--spinner -->
<p>
<span class="icon icon--spinner"></span>
<span class="icon icon--yellowbg icon--spinner"></span>
<span class="icon icon--blue-dark icon--spinner"></span> <code>icon--spinner</code>
</p>
<!-- End: @icons--spinner -->

<!-- Start: @icons--search -->
<p>
<span class="icon icon--search"></span>
<span class="icon icon--yellowbg icon--search"></span>
<span class="icon icon--blue-dark icon--search"></span> <code>icon--search</code>
</p>
<!-- End: @icons--search -->

<!-- Start: @icons--language -->
<p>
<span class="icon icon--language"></span>
<span class="icon icon--yellowbg icon--language"></span>
<span class="icon icon--blue-dark icon--language"></span> <code>icon--language</code>
</p>
<!-- End: @icons--language -->

<!-- Start: @icons--facebook -->
<p>
<span class="icon icon--facebook"></span>
<span class="icon icon--yellowbg icon--facebook"></span>
<span class="icon icon--blue-dark icon--facebook"></span> <code>icon--facebook</code>
</p>
<!-- End: @icons--facebook -->

<!-- Start: @icons--twitter -->
<p>
<span class="icon icon--twitter"></span>
<span class="icon icon--yellowbg icon--twitter"></span>
<span class="icon icon--blue-dark icon--twitter"></span> <code>icon--twitter</code>
</p>
<!-- End: @icons--twitter -->

<!-- Start: @icons--googleplus -->
<p>
<span class="icon icon--googleplus"></span>
<span class="icon icon--yellowbg icon--googleplus"></span>
<span class="icon icon--blue-dark icon--googleplus"></span> <code>icon--googleplus</code>
</p>
<!-- End: @icons--googleplus -->

<!-- Start: @icons--linkedin -->
<p>
<span class="icon icon--linkedin"></span>
<span class="icon icon--yellowbg icon--linkedin"></span>
<span class="icon icon--blue-dark icon--linkedin"></span> <code>icon--linkedin</code>
</p>
<!-- End: @icons--linkedin -->

<!-- Start: @icons--rss -->
<p>
<span class="icon icon--rss"></span>
<span class="icon icon--yellowbg icon--rss"></span>
<span class="icon icon--blue-dark icon--rss"></span> <code>icon--rss</code>
</p>
<!-- End: @icons--rss -->

<!-- Start: @icons--up -->
<p>
<span class="icon icon--up"></span>
<span class="icon icon--yellowbg icon--up"></span>
<span class="icon icon--blue-dark icon--up"></span> <code>icon--up</code>
</p>
<!-- End: @icons--up -->

<!-- Start: @icons--right -->
<p>
<span class="icon icon--right"></span>
<span class="icon icon--yellowbg icon--right"></span>
<span class="icon icon--blue-dark icon--right"></span> <code>icon--right</code>
</p>
<!-- End: @icons--right -->

<!-- Start: @icons--down -->
<p>
<span class="icon icon--down"></span>
<span class="icon icon--yellowbg icon--down"></span>
<span class="icon icon--blue-dark icon--down"></span> <code>icon--down</code>
</p>
<!-- End: @icons--down -->

<!-- Start: @icons--left -->
<p>
<span class="icon icon--left"></span>
<span class="icon icon--yellowbg icon--left"></span>
<span class="icon icon--blue-dark icon--left"></span> <code>icon--left</code>
</p>
<!-- End: @icons--left -->

<!-- Start: @icons--file -->
<p>
<span class="icon icon--file"></span>
<span class="icon icon--yellowbg icon--file"></span>
<span class="icon icon--blue-dark icon--file"></span> <code>icon--file</code>
</p>
<!-- End: @icons--file -->

<!-- Start: @icons--audio -->
<p>
<span class="icon icon--audio"></span>
<span class="icon icon--yellowbg icon--audio"></span>
<span class="icon icon--blue-dark icon--audio"></span> <code>icon--audio</code>
</p>
<!-- End: @icons--audio -->

<!-- Start: @icons--brochure -->
<p>
<span class="icon icon--brochure"></span>
<span class="icon icon--yellowbg icon--brochure"></span>
<span class="icon icon--blue-dark icon--brochure"></span> <code>icon--brochure</code>
</p>
<!-- End: @icons--brochure -->

<!-- Start: @icons--edit -->
<p>
<span class="icon icon--edit"></span>
<span class="icon icon--yellowbg icon--edit"></span>
<span class="icon icon--blue-dark icon--edit"></span> <code>icon--edit</code>
</p>
<!-- End: @icons--edit -->

<!-- Start: @icons--image -->
<p>
<span class="icon icon--image"></span>
<span class="icon icon--yellowbg icon--image"></span>
<span class="icon icon--blue-dark icon--image"></span> <code>icon--image</code>
</p>
<!-- End: @icons--image -->

<!-- Start: @icons--download -->
<p>
<span class="icon icon--download"></span>
<span class="icon icon--yellowbg icon--download"></span>
<span class="icon icon--blue-dark icon--download"></span> <code>icon--download</code>
</p>
<!-- End: @icons--download -->

<!-- Start: @icons--infographic -->
<p>
<span class="icon icon--infographic"></span>
<span class="icon icon--yellowbg icon--infographic"></span>
<span class="icon icon--blue-dark icon--infographic"></span> <code>icon--infographic</code>
</p>
<!-- End: @icons--infographic -->

<!-- Start: @icons--multiple-files -->
<p>
<span class="icon icon--multiple-files"></span>
<span class="icon icon--yellowbg icon--multiple-files"></span>
<span class="icon icon--blue-dark icon--multiple-files"></span> <code>icon--multiple-files</code>
</p>
<!-- End: @icons--multiple-files -->

<!-- Start: @icons--organigram -->
<p>
<span class="icon icon--organigram"></span>
<span class="icon icon--yellowbg icon--organigram"></span>
<span class="icon icon--blue-dark icon--organigram"></span> <code>icon--organigram</code>
</p>
<!-- End: @icons--organigram -->

<!-- Start: @icons--package -->
<p>
<span class="icon icon--package"></span>
<span class="icon icon--yellowbg icon--package"></span>
<span class="icon icon--blue-dark icon--package"></span> <code>icon--package</code>
</p>
<!-- End: @icons--package -->

<!-- Start: @icons--slides -->
<p>
<span class="icon icon--slides"></span>
<span class="icon icon--yellowbg icon--slides"></span>
<span class="icon icon--blue-dark icon--slides"></span> <code>icon--slides</code>
</p>
<!-- End: @icons--slides -->

<!-- Start: @icons--video -->
<p>
<span class="icon icon--video"></span>
<span class="icon icon--yellowbg icon--video"></span>
<span class="icon icon--blue-dark icon--video"></span> <code>icon--video</code>
</p>
<!-- End: @icons--video -->

<!-- Start: @icons--error -->
<p>
<span class="icon icon--error"></span>
<span class="icon icon--yellowbg icon--error"></span>
<span class="icon icon--blue-dark icon--error"></span> <code>icon--error</code>
</p>
<!-- End: @icons--error -->

<!-- Start: @icons--success -->
<p>
<span class="icon icon--success"></span>
<span class="icon icon--yellowbg icon--success"></span>
<span class="icon icon--blue-dark icon--success"></span> <code>icon--success</code>
</p>
<!-- End: @icons--success -->

<!-- Start: @icons--warning -->
<p>
<span class="icon icon--warning"></span>
<span class="icon icon--yellowbg icon--warning"></span>
<span class="icon icon--blue-dark icon--warning"></span> <code>icon--warning</code>
</p>
<!-- End: @icons--warning -->

<!-- Start: @icons--check -->
<p>
<span class="icon icon--check"></span>
<span class="icon icon--yellowbg icon--check"></span>
<span class="icon icon--blue-dark icon--check"></span> <code>icon--check</code>
</p>
<!-- End: @icons--check -->

<!-- Start: @icons--generic-lang -->
<p>
<span class="icon icon--generic-lang"></span>
<span class="icon icon--yellowbg icon--generic-lang"></span>
<span class="icon icon--blue-dark icon--generic-lang"></span> <code>icon--generic-lang</code>
</p>
<!-- End: @icons--generic-lang -->

<!-- Start: @icons--budget -->
<p>
<span class="icon icon--budget"></span>
<span class="icon icon--yellowbg icon--budget"></span>
<span class="icon icon--blue-dark icon--budget"></span> <code>icon--budget</code>
</p>
<!-- End: @icons--budget -->

<!-- Start: @icons--digital -->
<p>
<span class="icon icon--digital"></span>
<span class="icon icon--yellowbg icon--digital"></span>
<span class="icon icon--blue-dark icon--digital"></span> <code>icon--digital</code>
</p>
<!-- End: @icons--digital -->

<!-- Start: @icons--energy -->
<p>
<span class="icon icon--energy"></span>
<span class="icon icon--yellowbg icon--energy"></span>
<span class="icon icon--blue-dark icon--energy"></span> <code>icon--energy</code>
</p>
<!-- End: @icons--energy -->

<!-- Start: @icons--euro -->
<p>
<span class="icon icon--euro"></span>
<span class="icon icon--yellowbg icon--euro"></span>
<span class="icon icon--blue-dark icon--euro"></span> <code>icon--euro</code>
</p>
<!-- End: @icons--euro -->

<!-- Start: @icons--global -->
<p>
<span class="icon icon--global"></span>
<span class="icon icon--yellowbg icon--global"></span>
<span class="icon icon--blue-dark icon--global"></span> <code>icon--global</code>
</p>
<!-- End: @icons--global -->

<!-- Start: @icons--growth -->
<p>
<span class="icon icon--growth"></span>
<span class="icon icon--yellowbg icon--growth"></span>
<span class="icon icon--blue-dark icon--growth"></span> <code>icon--growth</code>
</p>
<!-- End: @icons--growth -->

<!-- Start: @icons--regulation -->
<p>
<span class="icon icon--regulation"></span>
<span class="icon icon--yellowbg icon--regulation"></span>
<span class="icon icon--blue-dark icon--regulation"></span> <code>icon--regulation</code>
</p>
<!-- End: @icons--regulation -->

<!-- Start: @icons--tag-close -->
<p>
<span class="icon icon--tag-close"></span>
<span class="icon icon--yellowbg icon--tag-close"></span>
<span class="icon icon--blue-dark icon--tag-close"></span> <code>icon--tag-close</code>
</p>
<!-- End: @icons--tag-close -->

<!-- Start: @icons--tag-close-hover -->
<p>
<span class="icon icon--tag-close-hover"></span>
<span class="icon icon--yellowbg icon--tag-close-hover"></span>
<span class="icon icon--blue-dark icon--tag-close-hover"></span> <code>icon--tag-close-hover</code>
</p>
<!-- End: @icons--tag-close-hover -->

<!-- Start: @icons--calendar -->
<p>
<span class="icon icon--calendar"></span>
<span class="icon icon--yellowbg icon--calendar"></span>
<span class="icon icon--blue-dark icon--calendar"></span> <code>icon--calendar</code>
</p>
<!-- End: @icons--calendar -->

<!-- Start: @icons--location -->
<p>
<span class="icon icon--location"></span>
<span class="icon icon--yellowbg icon--location"></span>
<span class="icon icon--blue-dark icon--location"></span> <code>icon--location</code>
</p>
<!-- End: @icons--location -->

<!-- Start: @icons--livestreaming -->
<p>
<span class="icon icon--livestreaming"></span>
<span class="icon icon--yellowbg icon--livestreaming"></span>
<span class="icon icon--blue-dark icon--livestreaming"></span> <code>icon--livestreaming</code>
</p>
<!-- End: @icons--livestreaming -->

<!-- Start: @icons--camera -->
<p>
<span class="icon icon--camera"></span>
<span class="icon icon--yellowbg icon--camera"></span>
<span class="icon icon--blue-dark icon--camera"></span> <code>icon--camera</code>
</p>
<!-- End: @icons--camera -->

