

<!-- Start: @messages--info -->
<div class="messages alert ">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h3><span class="ecl-sr-only">Informative message:</span>Some info title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @messages--info -->

<!-- Start: @messages--warning -->
<div class="messages alert warning">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h3><span class="ecl-sr-only">Warning message:</span>Some warning title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @messages--warning -->

<!-- Start: @messages--status -->
<div class="messages alert status">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h3><span class="ecl-sr-only">Success message:</span>Some status title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @messages--status -->

<!-- Start: @messages--error -->
<div class="messages alert error">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h3><span class="ecl-sr-only">Error message:</span>Some error title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @messages--error -->

<!-- Start: @messages--livestream -->
<div class="messages alert live">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h3><span class="ecl-sr-only">Livestream message:</span>Some livestream title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @messages--livestream -->

