


<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">

  <span class="sr-only">You are here:</span>
  <ol class="breadcrumb__segments-wrapper">
    <li class="breadcrumb__segment breadcrumb__segment--first">
      <a href="#" class="breadcrumb__link is-internal">
        <span class="breadcrumb__text">European Commission</span>
      </a>
    </li>
    <li class="breadcrumb__segment">
      <a href="#" class="breadcrumb__link">
        <span class="breadcrumb__text">Priorities</span>
      </a>
    </li>
    <li class="easy-breadcrumb_segment easy-breadcrumb_segment-2 breadcrumb__segment breadcrumb__segment--last">
      <a href="#" class="breadcrumb__link">
        <span class="breadcrumb__text">Jobs, Growth and Investment</span>
      </a>
    </li>
  </ol>
  <span class="breadcrumb__btn-separator" style="display: none;">...</span>
</nav>

