<div class="ecl-page-header ecl-page-header--highlight">
  <div class="ecl-page-header__body">
    <!-- Page highlight (mandatory) -->
    <div class="ecl-page-header__label">Highlight</div>
    <div class="ecl-page-header__highlight">
      Maecenas at mi <strong>molestie nulla</strong> tempor interdum sed sit amet ipsum.
    </div>
  </div>
</div>
