/**
 * Message component
 * @define message
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_title-color: map.get(theme.$color, 'black-100');
$_description-color: map.get(theme.$color, 'grey-100');
$_close-color: map.get(theme.$color, 'black-100');

.ecl-message {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: map.get(theme.$spacing, 'l') map.get(theme.$spacing, 'm')
    map.get(theme.$spacing, 'm') map.get(theme.$spacing, 'l');
  position: relative;
}

.ecl-message__icon {
  flex-shrink: 0;
  margin-right: map.get(theme.$spacing, 'm');
}

.ecl-message__content {
  width: 100%;
}

.ecl-message__title {
  color: $_title-color;
  font: map.get(theme.$font-prolonged, 'm');
  font-weight: bold;
  margin-bottom: map.get(theme.$spacing, 'xs');
  max-width: 80ch;
}

.ecl-message__description {
  color: $_description-color;
  font: map.get(theme.$font, 'xs');
  margin: 0;
  max-width: 80ch;
  padding-bottom: map.get(theme.$spacing, 'xl'); // Extra spacing for IE
}

.ecl-message__close {
  bottom: map.get(theme.$spacing, 'm') - map.get(theme.$spacing, 's');
  color: $_close-color;
  font: map.get(theme.$font, 's');
  position: absolute;
  right: 0;

  .no-js & {
    display: none;
  }
}

@supports (display: grid) {
  .ecl-message__content {
    display: grid;
  }

  .ecl-message__title {
    grid-column-start: 1;
  }

  .ecl-message__description {
    grid-column-start: 1;
    padding-bottom: 0;
  }

  .ecl-message__close {
    align-self: self-end;
    bottom: auto;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    justify-self: end;
    margin-bottom: -(map.get(theme.$spacing, 's'));
    position: relative;
    right: auto;
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-message {
    padding-bottom: map.get(theme.$spacing, 'l');
  }

  .ecl-message__description {
    font: map.get(theme.$font-prolonged, 's');
    padding-bottom: 0;
  }

  .ecl-message__close {
    bottom: auto;
    font: map.get(theme.$font, 'm');
    top: map.get(theme.$spacing, 'l') - map.get(theme.$spacing, 's');
  }

  @supports (display: grid) {
    .ecl-message__content {
      grid-template-columns: auto max-content;
    }

    .ecl-message__close {
      align-self: self-start;
      grid-column-start: 2;
      grid-row-end: span 2;
      grid-row-start: 1;
      margin-bottom: 0;
      margin-top: -(map.get(theme.$spacing, 's'));
      position: relative;
      right: auto;
      top: auto;
    }
  }
}

// information
.ecl-message--info {
  border: 2px solid map.get(theme.$color, 'info');

  .ecl-message__icon {
    fill: map.get(theme.$color, 'info');
  }
}

// success
.ecl-message--success {
  border: 2px solid map.get(theme.$color, 'success');

  .ecl-message__icon {
    fill: map.get(theme.$color, 'success');
  }
}

// warning
.ecl-message--warning {
  border: 2px solid map.get(theme.$color, 'warning');

  .ecl-message__icon {
    fill: map.get(theme.$color, 'warning');
  }
}

// error
.ecl-message--error {
  border: 2px solid map.get(theme.$color, 'error');

  .ecl-message__icon {
    fill: map.get(theme.$color, 'error');
  }
}
