{#
  This is an example and should not be used as it is.
#}

{% include '@ecl/eu-component-skip-link' with {
    'href': '#main-content',
    'label': 'Skip to main content'
} %}

{% include '@ecl/eu-component-site-header' %}

{% include '@ecl/eu-component-page-header' with { variant: 'basic' }|merge(page_header|default({})) %}
{% if menu is defined and menu is not empty %}
  {% include '@ecl/eu-component-navigation-menu' with menu %}
{% endif %}

<main id="main-content">
  <div class="ecl-container ecl-u-mv-l">
    <h1 class="ecl-heading ecl-heading--h1">Listings example</h1>

    <h3 class="ecl-heading ecl-heading--h3">Default listing (one column)</h3>

    {% include '@ecl/eu-component-listing' with {
      items: [
        {
          metas: ['Service department', 'PMO'],
          href: '../../example.html#listing-default-1',
          title: 'Administration and Payment of Individual Entitlements',
        },
        {
          metas: ['Directorate-General', 'AGRI'],
          href: '../../example.html#listing-default-2',
          title: 'Agriculture and Rural Development',
        },
        {
          metas: ['Directorate-General', 'BUDG'],
          href: '../../example.html#listing-default-3',
          title: 'Budget',
        },
        {
          metas: ['Directorate-General', 'CLIMA'],
          href: '../../example.html#listing-default-4',
          title: 'Climate Action',
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Default listing (two columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'two-columns',
      items: [
        {
          title: 'Business, Economy, Euro',
          href: '../../example.html#listing-default-two-1',
          detail: 'EU economy, the euro, and practical information for EU businesses and entrepreneurs.'
        },
        {
          title: 'About the European Union',
          href: '../../example.html#listing-default-two-2',
          detail: 'The EU and its institutions, how to visit and work at the EU.'
        },
        {
          title: 'Live, Work, Travel in EU',
          href: '../../example.html#listing-default-two-3',
          detail: 'Advice on living, working or travelling in the EU, on visas and immigration for non-EU citizens, European culture.'
        },
        {
          title: 'Funding, Tenders',
          href: '../../example.html#listing-default-two-4',
          detail: 'EU funding, grants, tenders, and how to apply.'
        },
        {
          title: 'Law',
          href: '../../example.html#listing-default-two-5',
          detail: 'EU law and judgments, how EU law is applied, public consultations, data protection, infringements, fraud, serious crime.'
        },
        {
          title: 'Research and innovation',
          href: '../../example.html#listing-default-two-6',
          detail: 'Research funding, partners, results, and EU action to promote innovation.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Default listing (three columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          title: 'Business, Economy, Euro',
          href: '../../example.html#listing-default-three-1',
          detail: 'EU economy, the euro, and practical information for EU businesses and entrepreneurs.'
        },
        {
          title: 'About the European Union',
          href: '../../example.html#listing-default-three-2',
          detail: 'The EU and its institutions, how to visit and work at the EU.'
        },
        {
          title: 'Live, Work, Travel in EU',
          href: '../../example.html#listing-default-three-3',
          detail: 'Advice on living, working or travelling in the EU, on visas and immigration for non-EU citizens, European culture.'
        },
        {
          title: 'Funding, Tenders',
          href: '../../example.html#listing-default-three-4',
          detail: 'EU funding, grants, tenders, and how to apply.'
        },
        {
          title: 'Law',
          href: '../../example.html#listing-default-three-5',
          detail: 'EU law and judgments, how EU law is applied, public consultations, data protection, infringements, fraud, serious crime.'
        },
        {
          title: 'Research and innovation',
          href: '../../example.html#listing-default-three-6',
          detail: 'Research funding, partners, results, and EU action to promote innovation.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Date listing (one column)</h3>

    {% include '@ecl/eu-component-listing' with {
      items: [
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '07',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-1',
          title:
            "Citizens' Dialogue in Bucharest with Commissioner Corina Crețu and the President of the European Committee of the Regions Karl-Heinz Lambertz",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Bucharest, Romania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '08',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-2',
          title: "Citizens' Dialogue in Kraków with Commissioner Elżbieta Bieńkowska",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Kraków, Poland</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '14',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-3',
          title:
            "Citizens' Dialogue in Tallin with Vice-President Jyrki Katainen",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Tallin, Estonia</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '19',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-4',
          title: "Citizens' Dialogue in Kaunas with Commissioner Vytenis Andriukaitis",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Kaunas, Lithuania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Date listing (two columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'two-columns',
      items: [
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '07',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-two-1',
          title:
            "Citizens' Dialogue in Bucharest with Commissioner Corina Crețu and the President of the European Committee of the Regions Karl-Heinz Lambertz",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Bucharest, Romania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '08',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-two-2',
          title: "Citizens' Dialogue in Kraków with Commissioner Elżbieta Bieńkowska",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Kraków, Poland</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '14',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-two-3',
          title:
            "Citizens' Dialogue in Tallin with Vice-President Jyrki Katainen",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Tallin, Estonia</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '19',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-two-4',
          title: "Citizens' Dialogue in Kaunas with Commissioner Vytenis Andriukaitis",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Kaunas, Lithuania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Thumbnail listing (one column)</h3>

    {% include '@ecl/eu-component-listing' with {
      items: [
        {
          metas: ['Director-General'],
          title: 'John Doe',
          href: '../../example.html#listing-thumbnail-one-1',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Director-General John Doe',
          },
        },
        {
          metas: ['Deputy Director-General'],
          title: 'Jane Doe',
          href: '../../example.html#listing-thumbnail-one-2',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Deputy Director-General Jane Doe',
          },
        },
        {
          metas: ['Acting Deputy Director-General'],
          title: 'Jack Doe',
          href: '../../example.html#listing-thumbnail-one-3',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Acting Deputy Director-General Jack Doe',
          },
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Thumbnail listing (two columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'two-columns',
      items: [
        {
          metas: ['Director-General'],
          title: 'John Doe',
          href: '../../example.html#listing-thumbnail-two-1',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Director-General John Doe',
          },
        },
        {
          metas: ['Deputy Director-General'],
          title: 'Jane Doe',
          href: '../../example.html#listing-thumbnail-two-2',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Deputy Director-General Jane Doe',
          },
        },
        {
          metas: ['Acting Deputy Director-General'],
          title: 'Jack Doe',
          href: '../../example.html#listing-thumbnail-two-3',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Acting Deputy Director-General Jack Doe',
          },
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Highlight listing (three columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'highlight',
          title: 'State of the European Union 2017',
          primary_image: {
            src: '../../assets/demo_images/nature-demo-1.jpg',
            alt: 'State of the European Union 2017',
          },
        },
        {
          variant: 'highlight',
          title: 'White paper on the future of Europe',
          primary_image: {
            src: '../../assets/demo_images/nature-demo-2.jpg',
            alt: 'White paper on the future of Europe',
          },
        },
        {
          variant: 'highlight',
          title: 'EU solidarity',
          primary_image: {
            src: '../../assets/demo_images/nature-demo-3.jpg',
            alt: 'EU solidarity',
          },
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Navigation listing (one column)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'navigation',
          title: 'Jobs, growth and investment',
          detail: 'Mollit et cupidatat fugiat consequat exercitation irure est enim in incididunt.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Navigation listing (two columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'two-columns',
      items: [
        {
          variant: 'navigation',
          title: 'A stronger global actor',
          detail: 'Proident enim excepteur voluptate cillum officia. Nisi ad mollit minim excepteur sunt officia exercitation dolore eiusmod est officia do laborum.'
        },
        {
          variant: 'navigation',
          title: 'Democratic change',
          detail: 'Amet tempor laboris amet sit deserunt cupidatat esse officia. Anim commodo laborum ea quis ullamco velit enim velit nisi commodo reprehenderit.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Navigation listing (three columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'navigation',
          title: 'Jobs, growth and investment',
          detail: 'Mollit et cupidatat fugiat consequat exercitation irure est enim in incididunt.'
        },
        {
          variant: 'navigation',
          title: 'Energy union and climate',
          detail: 'Ad cillum qui anim amet ea dolore excepteur amet esse sunt duis labore ullamco enim.'
        },
        {
          variant: 'navigation',
          title: 'A stronger global actor',
          detail: 'Proident enim excepteur voluptate cillum officia. Nisi ad mollit minim excepteur sunt officia exercitation dolore eiusmod est officia do laborum.'
        },
        {
          variant: 'navigation',
          title: 'Democratic change',
          detail: 'Amet tempor laboris amet sit deserunt cupidatat esse officia. Anim commodo laborum ea quis ullamco velit enim velit nisi commodo reprehenderit.'
        },
        {
          variant: 'navigation',
          title: 'Justice and fundamental rights',
          detail: 'Duis pariatur do nostrud consectetur nisi anim.'
        },
        {
          variant: 'navigation',
          title: 'The 2018 Work Programme',
          detail: 'Elit amet in non adipisicing irure in cupidatat enim aliqua proident laborum.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Block listing (one column)</h3>

     {% include '@ecl/eu-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'block',
          title: 'Contact the EU',
          detail:
            'Consectetur sint eiusmod ut Lorem consequat quis laboris sit irure est ad dolore ad.',
        },
      ]
     } %}

    <h3 class="ecl-heading ecl-heading--h3">Block listing (two columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'block',
          title: 'EU by topic',
          detail:
            'Anim irure ipsum dolore anim est Lorem cupidatat occaecat est consectetur.',
        },
        {
          variant: 'block',
          title: 'Doing business',
          detail:
            'Ipsum cupidatat amet qui labore aliquip dolor. Pariatur amet esse excepteur exercitation magna do enim amet.',
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Block listing (three columns)</h3>

    {% include '@ecl/eu-component-listing' with {
      variant: 'three-columns',
      items: [{
        variant: 'block',
        title: 'Climate action',
        detail:
          'In eu consectetur aute incididunt quis quis do labore in ut consectetur.',
      },
      {
        variant: 'block',
        title: 'EU by topic',
        detail:
          'Anim irure ipsum dolore anim est Lorem cupidatat occaecat est consectetur.',
      },
      {
        variant: 'block',
        title: 'Doing business',
        detail:
          'Ipsum cupidatat amet qui labore aliquip dolor. Pariatur amet esse excepteur exercitation magna do enim amet.',
      },
      {
        variant: 'block',
        title: 'About the EU',
        detail:
          'Ut laborum ullamco tempor duis veniam elit duis exercitation id excepteur.',
      },
      {
        variant: 'block',
        title: 'The Questions Corner',
        detail:
          'Do in cupidatat ea duis id. In sunt irure minim aliquip. Mollit eu aliqua et quis velit do.',
      },
      {
        variant: 'block',
        title: 'Contact the EU',
        detail:
          'Consectetur sint eiusmod ut Lorem consequat quis laboris sit irure est ad dolore ad.',
      },
    ]
  } %}
  </div>
</main>

{% include '@ecl/eu-component-footer' with {
  custom_footer: {
    identity: 'Site identification',
    social_links: {
      label: 'Follow us:',
      links: [
        {
          type: 'social-network',
          icon: 'facebook',
          link: {
            href: '../../example.html#facebook',
            label: 'Facebook',
          },
        },
        {
          type: 'social-network',
          icon: 'twitter',
          link: {
            href: '../../example.html#twitter',
            label: 'Twitter',
          },
        },
      ],
    },
    other_links: {
      links: [
        {
          link: {
            href: '../../example.html#contact',
            label: 'Contact',
          },
        },
        {
          link: {
            href: '../../example.html#sitemap',
            label: 'Site map',
          },
        },
        {
          link: {
            href: '../../example.html#loremipsum1',
            label: 'Lorem ipsum',
          },
        },
        {
          link: {
            href: '../../example.html#loremipsum2',
            label: 'Lorem ipsum',
          },
        },
        {
          link: {
            href: '../../example.html#loremipsum3',
            label: 'Lorem ipsum',
          },
        },
      ],
    },
  },
  corporate_footer: {
    contact_eu: {
      title: 'Contact the EU',
      items: [
        {
          html:
            'Call us <a href="../../example.html#call" class="ecl-link ecl-link--standalone">00 800 6 7 8 9 10 11</a> or use other <a href="../../example.html#call" class="ecl-link ecl-link--standalone">telephone options</a>',
        },
        {
          html:
            'E-mail us via our <a href="../../example.html#call" class="ecl-link ecl-link--standalone">contact form</a>',
        },
        {
          html:
            'Visit our <a href="../../example.html#call" class="ecl-link ecl-link--standalone">contact points</a> in your country',
        },
      ],
    },
    social_media: {
      title: 'Find an EU social media account',
      items: [
        {
          html:
            'Search for <a href="../../example.html#call" class="ecl-link ecl-link--standalone">EU social media channels</a>',
        },
      ],
    },
    find_institution: {
      title: 'Find a European institution',
      items: [
        {
          href: '../../example.html#',
          label: 'European Parliament',
        },
        {
          href: '../../example.html#',
          label: 'European Council',
        },

        {
          href: '../../example.html#',
          label: 'Council of the European Union',
        },
        {
          href: '../../example.html#',
          label: 'European Commission',
        },
        {
          href: '../../example.html#',
          label: 'Court of Justice of the European Union',
        },
        {
          href: '../../example.html#',
          label: 'European Central Bank',
        },
        {
          href: '../../example.html#',
          label: 'European Court of Auditors',
        },
        {
          href: '../../example.html#',
          label: 'European External Action Service',
        },
        {
          href: '../../example.html#',
          label: 'European Economic and Social Committee',
        },
        {
          href: '../../example.html#',
          label: 'European Committee of the Regions',
        },
        {
          href: '../../example.html#',
          label: 'European Investment Bank',
        },
        {
          href: '../../example.html#',
          label: 'European Ombudsman',
        },
        {
          href: '../../example.html#',
          label: 'European Data Protection Supervisor',
        },
        {
          href: '../../example.html#',
          label: 'European Personnel Selection Office',
        },
        {
          href: '../../example.html#',
          label: 'Publications Office of the European Union',
        },
        {
          href: '../../example.html#',
          label: 'Agencies',
        },
      ],
    },
    bottom_links: [
      {
        href: '../../example.html#',
        label: 'Language policy',
      },
      {
        href: '../../example.html#',
        label: 'Privacy policy',
      },
      {
        href: '../../example.html#',
        label: 'Legal notice',
      },
      {
        href: '../../example.html#',
        label: 'Cookies',
      },
      {
        href: '../../example.html#',
        label: 'Web accessibility',
      },
    ],
    published_date: 'Last published 26/06/2018'
  }
} %}
