<div class="top-image">
  <picture title="Picture title">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="http://placehold.it/480x167 1x" media="(max-width:479px)">
    <source srcset="http://placehold.it/1280x445 1x" media="(min-width:960px)">
    <source srcset="http://placehold.it/960x334 1x" media="(min-width:480px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://placehold.it/1280x450 1280w" alt="Picture title" title="Picture title">
  </picture>
</div>
