/**
 * Table component
 * @define table
 */

// Import base
@use '@ecl/theme-dev/functions/colorfn';
@use '@ecl/theme-dev/functions/spacingfn';
@use '@ecl/theme-dev/functions/typographyfn';

.ecl-table {
  border-collapse: collapse;
  color: colorfn.color('grey-100');
  font: typographyfn.font-print('m');
  margin: 0;
  page-break-inside: avoid;
  width: 100%;
}

.ecl-table__header {
  padding: spacingfn.spacing-print('s') spacingfn.spacing-print('xl')
    spacingfn.spacing-print('s') spacingfn.spacing-print('m');
  text-align: left;
  vertical-align: baseline;
}

.ecl-table__row {
  border-bottom: 1px solid colorfn.color('grey-50');
}

.ecl-table__head .ecl-table__row:first-child {
  border-bottom: 2px solid colorfn.color('grey-100');
}

.ecl-table__cell {
  padding: spacingfn.spacing-print('s') spacingfn.spacing-print('xl')
    spacingfn.spacing-print('s') spacingfn.spacing-print('m');
}
