/**
 * Table component
 * @define table
 */

// Import base
@use '@ecl/theme-dev/functions/colorfn';
@use '@ecl/theme-dev/functions/iconfn';
@use '@ecl/theme-dev/functions/spacingfn';
@use '@ecl/theme-dev/functions/typographyfn';
@use '@ecl/layout-grid/mixins/breakpoints';

.ecl-table {
  border-collapse: collapse;
  color: colorfn.color('grey-100');
  font: typographyfn.font('m');
  margin: 0;
  width: 100%;
}

.ecl-table__head {
  display: none;
}

.ecl-table__cell {
  border-top: 1px solid colorfn.color('grey-25');
  display: flex;
  padding: spacingfn.spacing('s');

  &::before {
    background-color: colorfn.color('blue-5');
    border-right: 2px solid colorfn.color('grey-50');
    content: attr(data-ecl-table-header);
    display: block;
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: typographyfn.font-weight('bold');
    margin-bottom: -#{spacingfn.spacing('s')};
    margin-left: -#{spacingfn.spacing('s')};
    margin-right: spacingfn.spacing('s');
    margin-top: -#{spacingfn.spacing('s')};
    padding-bottom: spacingfn.spacing('s');
    padding-left: spacingfn.spacing('s');
    padding-right: spacingfn.spacing('m');
    padding-top: spacingfn.spacing('s');
  }

  &:last-of-type {
    border-bottom: 1px solid colorfn.color('grey-25');
    margin-bottom: spacingfn.spacing('l');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.media-breakpoint-up(lg) {
  .ecl-table__head {
    background-color: colorfn.color('blue-5');
    display: table-header-group;
  }

  .ecl-table__header {
    font-weight: typographyfn.font-weight('bold');
    padding: spacingfn.spacing('s') spacingfn.spacing('m');
    text-align: left;
    vertical-align: bottom;
  }

  .ecl-table__row {
    border-bottom: 1px solid colorfn.color('grey-25');
    border-top-width: 0;
  }

  .ecl-table__head .ecl-table__row:first-child {
    border-bottom: 2px solid colorfn.color('grey-50');
  }

  .ecl-table__cell {
    border-width: 0;
    display: table-cell;
    padding: spacingfn.spacing('s') spacingfn.spacing('m');

    &::before {
      display: none;
    }
  }
}

// Zebra
.ecl-table--zebra {
  .ecl-table__cell:nth-of-type(even) {
    background-color: colorfn.color('grey-5');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.media-breakpoint-up(lg) {
  .ecl-table--zebra {
    .ecl-table__body .ecl-table__row:nth-of-type(even) {
      background-color: colorfn.color('grey-5');
    }

    .ecl-table__cell:nth-of-type(even) {
      background-color: transparent;
    }
  }
}

// Multi
.ecl-table__cell[data-ecl-table-header-group] {
  // padding-top + line-height + padding-bottom + border + cell padding-top
  padding-top: calc(
    #{spacingfn.spacing('s')} + #{typographyfn.line-height('m')} + #{spacingfn.spacing(
        's'
      )} + 1px + #{spacingfn.spacing('s')}
  );
  position: relative;

  &::after {
    background-color: colorfn.color('blue-5');
    border-bottom: 1px solid colorfn.color('grey-25');
    content: attr(data-ecl-table-header-group);
    display: block;
    font-weight: typographyfn.font-weight('bold');
    left: 0;
    padding-bottom: spacingfn.spacing('s');
    padding-left: spacingfn.spacing('s');
    padding-top: spacingfn.spacing('s');
    position: absolute;
    top: 0;
    width: calc(100% - #{spacingfn.spacing('s')});
  }
}

.ecl-table__cell--group {
  &::before {
    background-color: colorfn.color('white-100');
    border-right-color: colorfn.color('white-100');
    margin-left: -#{spacingfn.spacing('s')};
    margin-right: 0;
    padding-left: spacingfn.spacing('l');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.media-breakpoint-up(lg) {
  .ecl-table__head .ecl-table__row:not(:first-child) {
    background-color: colorfn.color('white-100');
    border-bottom-width: 0;
  }

  .ecl-table__head
    .ecl-table__row:not(:first-child)
    .ecl-table__header:not(:empty) {
    background-color: colorfn.color('blue-5');
  }

  .ecl-table__cell[data-ecl-table-header-group]::after {
    display: none;
  }

  .ecl-table__cell--group {
    padding-left: spacingfn.spacing('s');
  }

  .ecl-table__cell[data-ecl-table-header-group] {
    padding-top: spacingfn.spacing('s');
  }
}

// SortTable
.ecl-table__header[data-ecl-table-sort-toggle] {
  cursor: pointer;
  padding-left: calc(
    #{spacingfn.spacing('m')} + #{iconfn.icon('2xs')} + #{spacingfn.spacing(
        'xs'
      )}
  );
  position: relative;
}

.ecl-table__arrow {
  left: spacingfn.spacing('m');
  position: absolute;
}

.ecl-table__icon {
  left: 0;
  position: absolute;
}

.ecl-table__icon-up {
  fill: colorfn.color('grey-50');
  top: 0;
}

.ecl-table__icon-down {
  fill: colorfn.color('grey-50');
  top: iconfn.icon('2xs');
  transform: rotate(180deg);
}

.ecl-table__header[aria-sort='ascending'] {
  .ecl-table__icon-down {
    fill: colorfn.color('grey-100');
  }
}

.ecl-table__header[aria-sort='descending'] {
  .ecl-table__icon-up {
    fill: colorfn.color('grey-100');
  }
}
