/**
 * Table component
 * @define table
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/icon';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';
@use '@ecl/layout-grid/mixins/breakpoints';

.ecl-table {
  border-collapse: collapse;
  color: map.get(color.$color, 'grey-100');
  font: map.get(typography.$font, 'm');
  margin: 0;
  width: 100%;
}

.ecl-table__head {
  display: none;
}

.ecl-table__cell {
  border-top: 1px solid map.get(color.$color, 'grey-25');
  display: flex;
  padding: map.get(spacing.$spacing, 's');

  &::before {
    background-color: map.get(color.$color, 'blue-5');
    border-right: 2px solid map.get(color.$color, 'grey-50');
    content: attr(data-ecl-table-header);
    display: block;
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: map.get(typography.$font-weight, 'bold');
    margin-bottom: -#{map.get(spacing.$spacing, 's')};
    margin-left: -#{map.get(spacing.$spacing, 's')};
    margin-right: map.get(spacing.$spacing, 's');
    margin-top: -#{map.get(spacing.$spacing, 's')};
    padding-bottom: map.get(spacing.$spacing, 's');
    padding-left: map.get(spacing.$spacing, 's');
    padding-right: map.get(spacing.$spacing, 'm');
    padding-top: map.get(spacing.$spacing, 's');
  }

  &:last-of-type {
    border-bottom: 1px solid map.get(color.$color, 'grey-25');
    margin-bottom: map.get(spacing.$spacing, 'l');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.media-breakpoint-up(lg) {
  .ecl-table__head {
    background-color: map.get(color.$color, 'blue-5');
    display: table-header-group;
  }

  .ecl-table__header {
    font-weight: map.get(typography.$font-weight, 'bold');
    padding: map.get(spacing.$spacing, 's') map.get(spacing.$spacing, 'm');
    text-align: left;
    vertical-align: bottom;
  }

  .ecl-table__row {
    border-bottom: 1px solid map.get(color.$color, 'grey-25');
    border-top-width: 0;
  }

  .ecl-table__head .ecl-table__row:first-child {
    border-bottom: 2px solid map.get(color.$color, 'grey-50');
  }

  .ecl-table__cell {
    border-width: 0;
    display: table-cell;
    padding: map.get(spacing.$spacing, 's') map.get(spacing.$spacing, 'm');

    &::before {
      display: none;
    }
  }
}

// Zebra
.ecl-table--zebra {
  .ecl-table__cell:nth-of-type(even) {
    background-color: map.get(color.$color, 'grey-5');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.media-breakpoint-up(lg) {
  .ecl-table--zebra {
    .ecl-table__body .ecl-table__row:nth-of-type(even) {
      background-color: map.get(color.$color, 'grey-5');
    }

    .ecl-table__cell:nth-of-type(even) {
      background-color: transparent;
    }
  }
}

// Multi
.ecl-table__cell[data-ecl-table-header-group] {
  // padding-top + line-height + padding-bottom + border + cell padding-top
  padding-top: calc(
    #{map.get(spacing.$spacing, 's')} + #{map.get(typography.$line-height, 'm')} +
      #{map.get(spacing.$spacing, 's')} + 1px + #{map.get(
        spacing.$spacing,
        's'
      )}
  );
  position: relative;

  &::after {
    background-color: map.get(color.$color, 'blue-5');
    border-bottom: 1px solid map.get(color.$color, 'grey-25');
    content: attr(data-ecl-table-header-group);
    display: block;
    font-weight: map.get(typography.$font-weight, 'bold');
    left: 0;
    padding-bottom: map.get(spacing.$spacing, 's');
    padding-left: map.get(spacing.$spacing, 's');
    padding-top: map.get(spacing.$spacing, 's');
    position: absolute;
    top: 0;
    width: calc(100% - #{map.get(spacing.$spacing, 's')});
  }
}

.ecl-table__cell--group {
  &::before {
    background-color: map.get(color.$color, 'white-100');
    border-right-color: map.get(color.$color, 'white-100');
    margin-left: -#{map.get(spacing.$spacing, 's')};
    margin-right: 0;
    padding-left: map.get(spacing.$spacing, 'l');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.media-breakpoint-up(lg) {
  .ecl-table__head .ecl-table__row:not(:first-child) {
    background-color: map.get(color.$color, 'white-100');
    border-bottom-width: 0;
  }

  .ecl-table__head
    .ecl-table__row:not(:first-child)
    .ecl-table__header:not(:empty) {
    background-color: map.get(color.$color, 'blue-5');
  }

  .ecl-table__cell[data-ecl-table-header-group]::after {
    display: none;
  }

  .ecl-table__cell--group {
    padding-left: map.get(spacing.$spacing, 's');
  }

  .ecl-table__cell[data-ecl-table-header-group] {
    padding-top: map.get(spacing.$spacing, 's');
  }
}

// SortTable
.ecl-table__header[data-ecl-table-sort-toggle] {
  cursor: pointer;
  padding-left: calc(
    #{map.get(spacing.$spacing, 'm')} + #{map.get(icon.$icon, '2xs')} + #{map.get(
        spacing.$spacing,
        'xs'
      )}
  );
  position: relative;
}

.ecl-table__arrow {
  left: map.get(spacing.$spacing, 'm');
  position: absolute;
}

.ecl-table__icon {
  left: 0;
  position: absolute;
}

.ecl-table__icon-up {
  fill: map.get(color.$color, 'grey-50');
  top: 0;
}

.ecl-table__icon-down {
  fill: map.get(color.$color, 'grey-50');
  top: map.get(icon.$icon, '2xs');
  transform: rotate(180deg);
}

.ecl-table__header[aria-sort='ascending'] {
  .ecl-table__icon-down {
    fill: map.get(color.$color, 'grey-100');
  }
}

.ecl-table__header[aria-sort='descending'] {
  .ecl-table__icon-up {
    fill: map.get(color.$color, 'grey-100');
  }
}
