@use 'sass:map';

@mixin form-width($variant: null, $theme: null) {
  width: map.get(map.get($theme, 'form-width'), #{$variant}, 'breakpoint-xs');

  @container ecl-form-element (width >= #{map.get($theme, 'breakpoint', 's')}) {
    width: map.get(map.get($theme, 'form-width'), #{$variant}, 'breakpoint-s');
  }

  @container ecl-form-element (width >= #{map.get($theme, 'breakpoint', 'm')}) {
    width: map.get(map.get($theme, 'form-width'), #{$variant}, 'breakpoint-m');
  }

  @container ecl-form-element (width >= #{map.get($theme, 'breakpoint', 'l')}) {
    width: map.get(map.get($theme, 'form-width'), #{$variant}, 'breakpoint-l');
  }

  @container ecl-form-element (width >= #{map.get($theme, 'breakpoint', 'xl')}) {
    width: map.get(map.get($theme, 'form-width'), #{$variant}, 'breakpoint-xl');
  }
}
