/**
 * ECL Navigation inpage
 * @define inpage-navigation
 */

// Import base
@import '@ecl/generic-base/generic-base';
@import '@ecl/generic-style-icon/variables';
@import '@ecl/generic-style-icon/mixins';

// Trigger
$ecl-inpage-navigation-trigger-font-size: map-get($ecl-font-size, 'm');
$ecl-inpage-navigation-trigger-line-height: 1;
$ecl-inpage-navigation-trigger-padding-horizontal: map-get($ecl-spacing, 's');
$ecl-inpage-navigation-trigger-padding-vertical: map-get($ecl-spacing, 's');
$ecl-inpage-navigation-trigger-caret-width: $ecl-inpage-navigation-trigger-padding-vertical *
  2 + $ecl-inpage-navigation-trigger-line-height *
  $ecl-inpage-navigation-trigger-font-size;

// Link
$ecl-inpage-navigation-link-font-size: map-get($ecl-font-size, 's');
$ecl-inpage-navigation-link-line-height: 1.625;
$ecl-inpage-navigation-link-height: 2.5rem;
$ecl-inpage-navigation-link-padding-vertical: (
    $ecl-inpage-navigation-link-height - $ecl-inpage-navigation-link-line-height *
      $ecl-inpage-navigation-link-font-size
  ) / 2;

@mixin ecl-inpage-navigation() {
  .ecl-inpage-navigation {
    margin: 0;
  }

  .ecl-inpage-navigation__trigger {
    background-color: map-get($ecl-colors, 'blue-100');
    border: 0;
    color: #fff;
    display: none;
    font-size: $ecl-inpage-navigation-trigger-font-size;
    font-weight: 700;
    line-height: $ecl-inpage-navigation-trigger-line-height;
    overflow: hidden;
    padding-bottom: $ecl-inpage-navigation-trigger-padding-vertical;
    padding-left: $ecl-inpage-navigation-trigger-padding-horizontal;
    padding-right: $ecl-inpage-navigation-trigger-caret-width +
      $ecl-inpage-navigation-trigger-padding-horizontal;
    padding-top: $ecl-inpage-navigation-trigger-padding-vertical;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &::after {
      @include ecl-icon--after();
      @include ecl-icon('arrow-down');

      align-items: center;
      background-color: map-get($ecl-colors, 'blue-110');
      display: flex;
      font-size: map-get($ecl-font-size, 'xxxs');
      height: 100%;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: $ecl-inpage-navigation-trigger-caret-width;
    }
  }

  .ecl-inpage-navigation__title {
    color: $ecl-color-shade;
    display: none;
    padding-bottom: map-get($ecl-spacing, 'xs');
    padding-left: 0.5rem;
    padding-top: map-get($ecl-spacing, 'xxs');
    text-transform: uppercase;
  }

  .ecl-inpage-navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .ecl-inpage-navigation__list[aria-hidden='true'] {
    display: none;
  }

  .ecl-inpage-navigation__link {
    font-size: $ecl-inpage-navigation-link-font-size;
    line-height: $ecl-inpage-navigation-link-line-height;
    padding: $ecl-inpage-navigation-link-padding-vertical 0;
  }

  .ecl-inpage-navigation--visible {
    .ecl-inpage-navigation__trigger {
      display: block;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-down('sm') {
    .ecl-inpage-navigation--visible {
      .ecl-inpage-navigation__body {
        background-color: $ecl-color-primary;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
      }

      .ecl-inpage-navigation__link {
        border-top: 1px solid map-get($ecl-colors, 'blue-110');
        color: #fff;
        display: block;
        padding: map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'xs');
        text-decoration: underline;
      }

      .ecl-inpage-navigation__link:visited {
        color: #fff;
      }
    }
  }

  @include ecl-media-breakpoint-up('md') {
    .ecl-inpage-navigation {
      position: sticky;
      top: 0;
    }

    .ecl-inpage-navigation__title {
      display: block;
    }

    .ecl-inpage-navigation__list[aria-hidden] {
      display: block;
    }

    .ecl-inpage-navigation__link {
      border-left: 3px solid transparent;
      color: #000;
      display: block;
      font-weight: 700;
      padding-left: map-get($ecl-spacing, 'xxxs');

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        background-color: map-get($ecl-colors, 'yellow-100');
        outline: none;
        text-decoration: underline;
      }
    }

    .ecl-inpage-navigation__link--is-active {
      background-color: map-get($ecl-colors, 'grey-10');
      border-left-color: $ecl-color-primary;
    }

    .ecl-inpage-navigation--visible {
      .ecl-inpage-navigation__trigger {
        display: none;
      }
    }
  }
}
