/**
 * Media container print
 * @define media-container
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$media-container: null !default;
$media-container-print: null !default;

.ecl-media-container,
.ecl-media-container__figure {
  margin: 0;
}

.ecl-media-container__media iframe {
  display: none;
}

.ecl-media-container__media {
  max-width: 100%;
}

.ecl-media-container__caption {
  color: map.get($media-container, 'caption-color');
  font: map.get($media-container-print, 'caption-font');
  margin-top: map.get($theme, 'spacing-print', '2xs');
  max-width: var(--max-w);
}

.ecl-media-container__media-audio {
  display: none;
}
