/**
 * Expandable
 * @define expandable; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-expandable() {
  .ecl-expandable {
    margin: 0;
  }

  .ecl-expandable__toggle[aria-expanded='true'] .ecl-icon {
    transform: rotate(0deg);
  }

  .no-js .ecl-expandable__content {
    display: block;
  }
}

// Use mixin
@include exports('eu-component-expandable') {
  @include ecl-expandable;
}
