/**
 * Site header search bar
 * @define header-search-bar ; weak
 */

.ecl-header-search-bar {
  background-color: $ecl-color-primary;
  margin: 38px 0 0;
  padding: 9px 0;

  .ecl-search-form {
    border: none;
    float: right;
    margin-bottom: 0;
  }

  .ecl-search-form__textfield-wrapper,
  .ecl-search-form__button-wrapper {
    float: none;
  }

  .ecl-search-form__textfield-wrapper {
    background-color: #fff;
  }

  @include ecl-media-breakpoint-up(s) {
    .ecl-search-form {
      width: 320px;
    }
  }
}
