/**
 * Site header search bar
 * @define header-search-bar ; weak
 */

.ecl-header-search-bar {
  background-color: $ecl-color-primary;
  padding: 0.5rem 0;

  .ecl-search-form {
    border-width: 0;
    float: right;
    margin-bottom: 0;
  }

  .ecl-search-form__textfield-wrapper {
    background-color: #fff;
  }

  @include ecl-media-breakpoint-up(s) {
    /* stylelint-disable-next-line */
    .ecl-search-form {
      width: 18rem; // 324px if the root font-size is 18px
    }
  }
}
