/*
File upload

Markup: html/file-upload.html

Style guide: form.file-upload
*/

.file-upload {
  .file-upload__input {
    display: table;
    table-layout: fixed;
    margin: 0;
    white-space: nowrap;

    &:focus {
      border-color: map-get($ecl-colors, 'yellow-100');

      @include ecl-focus-outline-border(3px, map-get($ecl-colors, 'yellow-100'), 0, none);
    }
  }

  .file-upload__message {
    display: table-cell;
    overflow: hidden;
    line-height: 1.8;
    color: #999;
    text-overflow: ellipsis;
  }

  .input-group-btn {
    font-size: inherit;
  }

  .input-group {
    width: 100%;

    .file + .input-group-btn {
      display: block;
    }
  }

  .file-upload__label {
    display: inline-block;
    max-width: none;
    background-color: $ecl-color-shade;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 2px solid $ecl-color-shade;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: map-get($ecl-colors, 'yellow-100');
    }
  }

  .has-error & {
    .file-upload__label {
      border-color: $ecl-color-error;
      background-color: $ecl-color-error;
    }
  }

  input[type="file"] {
    display: none;
  }

  .no-js & {
    .file-upload__input,
    .file-upload__label {
      display: none;
    }

    input[type="file"] {
      display: block;
    }
  }

  @include ecl-media-breakpoint-up(xs) {
    .file-upload__message {
      line-height: 1.9;
    }
  }
}
