@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

.group {
  color: var(--ws-c-br);
  display: block;
  font: var(--ws-f-m);
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin: 0;
  padding: var(--ws-s-xs) var(--ws-s-m) var(--ws-s-xs) var(--ws-s-xl);
}
