@use "sass:map";
@use '@ecl/theme-ec-core';
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';

.group {
  color: map.get(color.$color, 'grey-75');
  display: block;
  font: map.get(typography.$font, 'm');
  font-weight: map.get(typography.$font-weight, 'bold');
  margin: 0;
  padding: map.get(spacing.$spacing, 's') map.get(spacing.$spacing, 'm')
    map.get(spacing.$spacing, 's') map.get(spacing.$spacing, 'xl');
}
