@import '@ecl/theme-default/index';

.group {
  color: map-get($ecl-color, 'grey-75');
  display: block;
  font: map-get($ecl-font, 'm');
  font-weight: map-get($ecl-font-weight, 'bold');
  margin: 0;
  padding: map-get($ecl-spacing, 's') map-get($ecl-spacing, 'm')
    map-get($ecl-spacing, 's') map-get($ecl-spacing, 'xl');
}
