@import '@ecl/theme-default/index';

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &[aria-hidden='true'] {
    display: none;

    :global(.no-js) & {
      display: block;
    }
  }
}
