@use 'sass:map';

// Screen
$font-family: (
  'default': (
    arial,
    sans-serif,
  ),
) !default;
$font-weight: (
  'regular': 400,
  'bold': 700,
) !default;
$font-size: (
  // DEPRECATED
  '2xs': 0.625rem,
  'xs': 0.75rem,
  's': 0.875rem,
  'm': 1rem,
  'l': 1.25rem,
  'xl': 1.5rem,
  '2xl': 1.75rem,
  '3xl': 2rem,
  '4xl': 2.25rem,
  '5xl': 2.625rem,
  // DEPRECATED
  '6xl': 2.625rem
) !default;
$line-height: (
  // DEPRECATED
  '2xs': 1rem,
  'xs': 1.25rem,
  's': 1.25rem,
  'm': 1.5rem,
  'l': 1.75rem,
  'xl': 1.75rem,
  '2xl': 2rem,
  '3xl': 2.5rem,
  '4xl': 2.75rem,
  '5xl': 3.25rem,
  // DEPRECATED
  '6xl': 3.25rem
) !default;
$font-size-ui: (
  's': 0.875rem,
  'm': 1rem,
) !default;
$line-height-ui: (
  'xs': 1.375rem,
  's': 1.5rem,
  'm': 1.75rem,
) !default;
$font: (
  // DEPRECATED
  '2xs': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      '2xs'
    ) + '/' + map.get($line-height, '2xs')} #{map.get($font-family, 'default')},
  'xs': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      'xs'
    ) + '/' + map.get($line-height, 'xs')} #{map.get($font-family, 'default')},
  's': normal normal map.get($font-weight, 'regular') #{map.get($font-size, 's') +
    '/' + map.get($line-height, 's')} #{map.get($font-family, 'default')},
  'm': normal normal map.get($font-weight, 'regular') #{map.get($font-size, 'm') +
    '/' + map.get($line-height, 'm')} #{map.get($font-family, 'default')},
  'l': normal normal map.get($font-weight, 'regular') #{map.get($font-size, 'l') +
    '/' + map.get($line-height, 'l')} #{map.get($font-family, 'default')},
  'xl': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      'xl'
    ) + '/' + map.get($line-height, 'xl')} #{map.get($font-family, 'default')},
  '2xl': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      '2xl'
    ) + '/' + map.get($line-height, '2xl')} #{map.get($font-family, 'default')},
  '3xl': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      '3xl'
    ) + '/' + map.get($line-height, '3xl')} #{map.get($font-family, 'default')},
  '4xl': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      '4xl'
    ) + '/' + map.get($line-height, '4xl')} #{map.get($font-family, 'default')},
  '5xl': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      '5xl'
    ) + '/' + map.get($line-height, '5xl')} #{map.get($font-family, 'default')},
  // DEPRECATED
  '6xl': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      '6xl'
    ) + '/' + map.get($line-height, '6xl')} #{map.get($font-family, 'default')}
) !default;
$font-ui: (
  's': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size-ui,
      's'
    ) + '/' + map.get($line-height-ui, 's')} #{map.get($font-family, 'default')},
  'm': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size-ui,
      'm'
    ) + '/' + map.get($line-height-ui, 'm')} #{map.get($font-family, 'default')},
) !default;

// Print
$font-family-print: (
  'default': (
    verdana,
    sans-serif,
  ),
  'alt': (
    arial,
    sans-serif,
  ),
) !default;
$font-weight-print: (
  'regular': 400,
  'bold': 600,
) !default;
$font-size-print: (
  // DEPRECATED
  '2xs': 6pt,
  'xs': 7.5pt,
  's': 9pt,
  'm': 10.5pt,
  'l': 12pt,
  'xl': 13.5pt,
  '2xl': 15pt,
  '3xl': 18pt,
  '4xl': 21pt,
  '5xl': 24pt,
  // DEPRECATED
  '6xl': 27pt
) !default;
$line-height-print: (
  '2xs': 10pt,
  // DEPRECATED
  'xs': 12pt,
  's': 12pt,
  'm': 12pt,
  'l': 15pt,
  'xl': 18pt,
  '2xl': 18pt,
  '3xl': 21pt,
  '4xl': 24pt,
  '5xl': 30pt,
  '6xl': 33pt,
  // DEPRECATED
) !default;
$font-size-ui-print: (
  's': 9pt,
  'm': 10.5pt,
) !default;
$line-height-ui-print: (
  'xs': 14.5pt,
  's': 15.75pt,
  'm': 18.5pt,
) !default;
$font-print: (
  // DEPRECATED
  '2xs': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      '2xs'
    ) + '/' + map.get($line-height-print, '2xs')} #{map.get(
      $font-family-print,
      'default'
    )},
  'xs': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      'xs'
    ) + '/' + map.get($line-height-print, 'xs')} #{map.get(
      $font-family-print,
      'default'
    )},
  's': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      's'
    ) + '/' + map.get($line-height-print, 's')} #{map.get(
      $font-family-print,
      'default'
    )},
  'm': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      'm'
    ) + '/' + map.get($line-height-print, 'm')} #{map.get(
      $font-family-print,
      'default'
    )},
  'l': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      'l'
    ) + '/' + map.get($line-height-print, 'l')} #{map.get(
      $font-family-print,
      'default'
    )},
  'xl': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      'xl'
    ) + '/' + map.get($line-height-print, 'xl')} #{map.get(
      $font-family-print,
      'default'
    )},
  '2xl': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      '2xl'
    ) + '/' + map.get($line-height-print, '2xl')} #{map.get(
      $font-family-print,
      'default'
    )},
  '3xl': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      '3xl'
    ) + '/' + map.get($line-height-print, '3xl')} #{map.get(
      $font-family-print,
      'default'
    )},
  '4xl': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      '4xl'
    ) + '/' + map.get($line-height-print, '4xl')} #{map.get(
      $font-family-print,
      'default'
    )},
  '5xl': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      '5xl'
    ) + '/' + map.get($line-height-print, '5xl')} #{map.get(
      $font-family-print,
      'default'
    )},
  // DEPRECATED
  '6xl': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      '6xl'
    ) + '/' + map.get($line-height-print, '6xl')} #{map.get(
      $font-family-print,
      'default'
    )}
) !default;
$font-ui-print: (
  's': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-ui-print,
      's'
    ) + '/' + map.get($line-height-ui-print, 's')} #{map.get(
      $font-family-print,
      'default'
    )},
  'm': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-ui-print,
      'm'
    ) + '/' + map.get($line-height-ui-print, 'm')} #{map.get(
      $font-family-print,
      'default'
    )},
) !default;

// DEPRECATED
$line-height-prolonged: (
  'xs': 1.25rem,
  's': 1.25rem,
  'm': 1.5rem,
  'l': 1.75rem,
  'xl': 1.75rem,
) !default;
$font-prolonged: (
  'xs': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      'xs'
    ) + '/' + map.get($line-height-prolonged, 'xs')} #{map.get(
      $font-family,
      'default'
    )},
  's': normal normal map.get($font-weight, 'regular') #{map.get($font-size, 's') +
    '/' + map.get($line-height-prolonged, 's')} #{map.get(
      $font-family,
      'default'
    )},
  'm': normal normal map.get($font-weight, 'regular') #{map.get($font-size, 'm') +
    '/' + map.get($line-height-prolonged, 'm')} #{map.get(
      $font-family,
      'default'
    )},
  'l': normal normal map.get($font-weight, 'regular') #{map.get($font-size, 'l') +
    '/' + map.get($line-height-prolonged, 'l')} #{map.get(
      $font-family,
      'default'
    )},
  'xl': normal normal map.get($font-weight, 'regular') #{map.get(
      $font-size,
      'xl'
    ) + '/' + map.get($line-height-prolonged, 'xl')} #{map.get(
      $font-family,
      'default'
    )},
) !default;
$line-height-prolonged-print: (
  'xs': 15pt,
  's': 15pt,
  'm': 15pt,
  'l': 18pt,
  'xl': 21pt,
) !default;
$font-prolonged-print: (
  'xs': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      'xs'
    ) + '/' + map.get($line-height-prolonged-print, 'xs')} #{map.get(
      $font-family,
      'default'
    )},
  's': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      's'
    ) + '/' + map.get($line-height-prolonged-print, 's')} #{map.get(
      $font-family,
      'default'
    )},
  'm': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      'm'
    ) + '/' + map.get($line-height-prolonged-print, 'm')} #{map.get(
      $font-family,
      'default'
    )},
  'l': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      'l'
    ) + '/' + map.get($line-height-prolonged-print, 'l')} #{map.get(
      $font-family,
      'default'
    )},
  'xl': normal normal map.get($font-weight-print, 'regular') #{map.get(
      $font-size-print,
      'xl'
    ) + '/' + map.get($line-height-prolonged-print, 'xl')} #{map.get(
      $font-family,
      'default'
    )},
) !default;
