/*
* Datepicker styles based on Pikaday.
* @define datepicker
*/

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-datepicker(
  $color-select: #4f4f4f,
  $color-select-separator: #9f9f9f,
  $text-color: #333,
  $title-bg: #404040,
  $title-color: #404040,
  $arrow-size: 50px,
  $picker-bg: #eaeaea,
  $day-bg: #f5f5f5,
  $day-selected-bg: #ffd617,
  $day-disabled-color: #999,
  $week-color: #999
) {
  // Positioning the calendar icon.
  .ecl-datepicker {
    margin: 0;
    position: relative;

    &__icon {
      color: map-get($ecl-colors, 'grey-50');
      // For the icon does not interfere with the clickable area.
      pointer-events: none;
      position: absolute;
      right: 0.7em;
      top: 0.6em;
    }
  }

  /* Spacing */

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  * + .ecl-datepicker {
    margin-top: map-get($ecl-spacing, 'xs');
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-datepicker-pika(
    $color-select,
    $color-select-separator,
    $text-color,
    $title-bg,
    $title-color,
    $arrow-size,
    $picker-bg,
    $day-bg,
    $day-selected-bg,
    $day-disabled-color,
    $week-color
  );
}

/*
 * @define pika-theme ; weak
 */
@mixin ecl-datepicker-pika(
  $color-select,
  $color-select-separator,
  $text-color,
  $title-bg,
  $title-color,
  $arrow-size,
  $picker-bg,
  $day-bg,
  $day-selected-bg,
  $day-disabled-color,
  $week-color
) {
  /* stylelint-disable max-nesting-depth */
  .ecl-pika-theme {
    background: $picker-bg;
    color: $text-color;
    display: block;
    position: relative;
    z-index: map-get($ecl-z-index, 'modal');
    zoom: 1;

    /* postcss-bem-linter: ignore */
    &.is-hidden {
      display: none;
    }

    /* postcss-bem-linter: ignore */
    &.is-bound {
      position: absolute;
    }

    // clear child float (pika-lendar), using the famous micro clearfix hack
    // http://nicolasgallagher.com/micro-clearfix-hack/
    &::before,
    &::after {
      content: ' ';
      display: table;
    }

    &::after {
      clear: both;
    }

    .pika-title {
      background-color: $title-bg;
      display: flex;
      height: 2.5rem;
      line-height: 2.5rem;
      position: relative;
      text-align: center;
    }

    .pika-label {
      background-color: $title-bg;
      color: $title-color;
      display: inline-block;
      flex-grow: 1;
      position: relative;
    }

    .pika-label select {
      @include ecl-form-control();
      @include ecl-focus-outline-border(
        3px,
        map-get($ecl-colors, 'yellow-100'),
        -3px,
        none
      );

      appearance: none;
      background-color: $color-select;
      border: 0;
      color: #fff;
      cursor: pointer;
      float: none;
      height: 100%;
      margin: 0;
      min-height: auto;
      padding: 0 1em;
      position: absolute;
      text-indent: 0.01px;
      text-overflow: '';
      width: 100%;
      z-index: map-get($ecl-z-index, 'modal') - 1;

      // Fix for IE 10+.
      &::-ms-expand {
        display: none;
      }

      &:focus {
        z-index: map-get($ecl-z-index, 'highlight');
      }

      &:hover,
      &:active,
      &:focus {
        border-color: $ecl-color-primary;
        color: #fff;
      }
    }

    // The left select to the left.
    .pika-label:nth-child(1) select {
      border-right: 2px solid $color-select-separator;
      left: 0;
    }

    // The right select to the right.
    .pika-label:nth-child(2) select {
      right: 0;
    }

    .pika-prev,
    .pika-next {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 75% 75%;
      border: 0;
      color: $title-bg; // hide text
      cursor: pointer;
      display: block;
      height: 100%;
      outline: none;
      overflow: hidden;
      padding: 0;
      position: relative;
      top: 0;
      white-space: nowrap;
      width: $arrow-size;
    }

    .pika-prev {
      float: left;
      left: 0;
      order: -1;

      &::after {
        @include ecl-icon--after();
        @include ecl-icon('right');

        color: #fff;
        left: 15px;
        position: absolute;
        top: 15px;
        transform: rotate(180deg);
      }
    }

    .pika-next {
      float: right;
      right: 0;

      &::after {
        @include ecl-icon--after();
        @include ecl-icon('right');

        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
      }
    }

    .pika-prev:hover,
    .pika-next:hover {
      opacity: 1;
    }

    .pika-prev.is-disabled,
    .pika-next.is-disabled {
      cursor: default;
    }

    .is-rtl .pika-prev {
      float: right;
      right: 0;

      &::after {
        @include ecl-icon--after();
        @include ecl-icon('right');

        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
      }
    }

    .is-rtl .pika-next {
      float: left;
      left: 0;
      order: -1;

      &::after {
        @include ecl-icon--after();
        @include ecl-icon('right');

        color: #fff;
        left: 15px;
        position: absolute;
        top: 15px;
        transform: rotate(180deg);
      }
    }

    .pika-select {
      display: inline-block;
    }

    .pika-table {
      background-color: map-get($ecl-colors, 'grey-15');
      border-bottom: map-get($ecl-spacing, 'xxs') solid transparent;
      border-collapse: collapse;
      border-left: map-get($ecl-spacing, 'xxs') solid transparent;
      border-right: map-get($ecl-spacing, 'xxs') solid transparent;
      border-spacing: 0;
      width: 100%;

      th,
      td {
        padding: 1px;
      }

      th {
        padding: map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'xxxs');
        text-align: center;
      }

      abbr {
        border-bottom: 0;
        cursor: help;
        font-weight: normal;
        text-decoration: none;
      }
    }

    .pika-button {
      background: $day-bg;
      border: 0;
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      font-size: map-get($ecl-font-size, 'm');
      margin: 1px;
      outline: none;
      padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxs');
      text-align: center;
      width: 100%;

      .is-selection-disabled {
        cursor: default;
        pointer-events: none;
      }
    }

    .is-today .pika-button {
      background: $day-selected-bg;
    }

    .is-selected .pika-button {
      background: $day-selected-bg;
    }

    .is-disabled .pika-button,
    .is-outside-current-month .pika-button {
      color: $day-disabled-color;
      opacity: 0.3;
    }

    .is-disabled .pika-button {
      cursor: default;
      pointer-events: none;
    }

    .pika-week {
      color: $week-color;
    }

    .is-inrange .pika-button {
      background: #fff;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(xs) {
    .ecl-pika-theme {
      .pika-lendar,
      .pika-single,
      .pika-table {
        width: auto;
      }
    }
  }
}
