/**
 * List component
 */

// Import base
@import '@ecl/eu-base/eu-base';

/**
 * @define ordered-list
 */
@mixin ecl-ordered-list-print($text-color: $ecl-color-grey-100) {
  .ecl-ordered-list {
    color: $text-color;
    font: $ecl-font-prolonged-print-m;
    margin: 0;
  }
}

/**
 * @define unordered-list
 */
@mixin ecl-unordered-list-print($text-color: $ecl-color-grey-100) {
  .ecl-unordered-list {
    color: $text-color;
    font: $ecl-font-prolonged-print-m;
    margin: 0;
  }

  .ecl-unordered-list--no-bullet,
  .ecl-unordered-list--divider {
    list-style: none;
    padding-left: 0;
  }
}

/**
 * @define description-list
 */
@mixin ecl-description-list-print($text-color: $ecl-color-grey-100) {
  .ecl-description-list {
    margin: 0;
  }

  .ecl-description-list__term {
    color: $text-color;
    font: $ecl-font-prolonged-print-xl;
    font-weight: $ecl-font-weight-print-bold;
  }

  .ecl-description-list__definition {
    color: $text-color;
    font: $ecl-font-prolonged-print-m;
  }
}

// Use mixin
@include exports('eu-component-list-print') {
  @include ecl-ordered-list-print;
  @include ecl-unordered-list-print;
  @include ecl-description-list-print;
}
