{#
  This is an example and should not be used as it is.
#}

{# Internal properties #}

{% set _comments = comments %}

{# Print result #}

<ul class="ecl-listing">
  {% for comment in _comments %}
    <li class="ecl-list-item ecl-u-pv-s">
      {% include '@ecl/ec-comment' with comment %}
    </li>
  {% endfor %}

  {% embed '@ecl/ec-forms-form' %}
    {% block form %}
      {% embed '@ecl/ec-forms-fieldset' %}
        {% block fieldset %}
          {% include '@ecl/ec-forms-legends' with { 'extra_clas': 'ecl-form-legend--level-1', 'content': 'New Comment' } %}
          {% embed '@ecl/ec-forms-form-group' %}
            {% block form_group %}
              {% include '@ecl/ec-forms-label' with { 'for_attribute': 'field-ID-1', 'label': 'Title' } %}
              {% include '@ecl/ec-forms-text-input' with {
                'id' : 'field-ID-1',
                'name': 'field-name-1',
                'type': 'text',
                'extraAttributes': [
                  { 'name': 'placeholder', 'value': 'Your title' }
                ]
              } %}
            {% endblock %}
          {% endembed %}
          {% embed '@ecl/ec-forms-form-group' %}
            {% block form_group %}
              {% include '@ecl/ec-forms-label' with { 'for_attribute': 'field-ID-2', 'label': 'Comment' } %}
              {% include '@ecl/ec-forms-textarea' with {
                'id' : 'field-ID-2',
                'name': 'field-name-2',
                'type': 'textarea',
                'extraAttributes': [
                  { 'name': 'placeholder', 'value': 'Your comment' }
                ]
              } %}
            {% endblock %}
          {% endembed %}
          {% include '@ecl/ec-button' with {
            'modifier': 'primary',
            'label': 'Send',
            'extra_classes': 'ecl-u-mt-s',
            'extra_attributes': [
              { 'name': 'value', 'value': 'send'},
              { 'name': 'type', 'value': 'submit'}
            ]
          } %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}
</ul>
