/**
 * Site Footer EU
 * @define site-footer
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$site-footer: null !default;

/*
 * Global rules
 */
.ecl-site-footer {
  background-color: map.get($site-footer, 'background');
  box-shadow: map.get($site-footer, 'shadow');
  color: map.get($site-footer, 'color');
  display: flex;
  font: var(--f-p-m);
  margin: 0;
}

.ecl-site-footer__container {
  padding: var(--s-3xl) var(--s-m);
}

.ecl-site-footer__row {
  border-bottom: 2px solid map.get($site-footer, 'separator-color');
  padding-bottom: var(--s-xl);
  padding-top: var(--s-xl);
  /* stylelint-disable-next-line max-nesting-depth */
  &:first-child {
    padding-top: 0;
  }
  /* stylelint-disable-next-line max-nesting-depth */
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.ecl-site-footer__column {
  padding-top: var(--s-l);

  /* stylelint-disable-next-line max-nesting-depth */
  &:first-child {
    padding-top: 0;
  }
}

.ecl-site-footer__section {
  padding-top: var(--s-l);

  /* stylelint-disable-next-line max-nesting-depth */
  &:first-child {
    padding-top: 0;
  }
}

.ecl-site-footer__section--desktop {
  display: none;
}

.ecl-site-footer__section--mobile {
  padding-top: 0;
}

.ecl-site-footer__title {
  color: map.get($site-footer, 'color');
  font: var(--f-2xl);
  margin: 0;
}

.ecl-site-footer__title-link,
.ecl-site-footer__title-link:hover,
.ecl-site-footer__title-link:focus,
.ecl-site-footer__title-link:visited {
  color: map.get($site-footer, 'color');
}

.ecl-site-footer__title--separator {
  border-bottom: 1px solid map.get($site-footer, 'separator-color');
  padding-bottom: var(--s-s);
}

.ecl-site-footer__description {
  margin-bottom: var(--s-xs);
  margin-top: var(--s-m);
}

.ecl-site-footer__list {
  list-style: none;
  margin-bottom: 0;
  margin-top: var(--s-s);
  padding-inline-start: 0;
}

.ecl-site-footer__list-item {
  margin-top: var(--s-xs);

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-site-footer__logo-link {
  display: inline-block;
  vertical-align: bottom; // Fix to prevent extra vertical spacing
}

.ecl-site-footer__logo-image {
  display: block;
  height: 2.75rem;
}

.ecl-site-footer__section--site-info {
  .ecl-site-footer__list {
    margin-top: var(--s-m);
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-site-footer {
    padding-top: 0;
  }

  .ecl-site-footer__container {
    padding: var(--s-4xl) var(--s-m);
  }

  .ecl-site-footer__row {
    column-gap: map.get($site-footer, 'column-gap');
    display: grid;
    grid-gap: 0 map.get($site-footer, 'column-gap');
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: var(--s-3xl);
    padding-top: var(--s-3xl);
  }

  .ecl-site-footer__column {
    padding-top: 0;
  }

  .ecl-site-footer__section {
    padding-top: var(--s-l);
  }

  .ecl-site-footer__section--desktop {
    display: block;
  }

  .ecl-site-footer__section--mobile {
    display: none;
  }

  .ecl-site-footer__title,
  .ecl-site-footer__title:hover,
  .ecl-site-footer__title:focus,
  .ecl-site-footer__title:visited {
    color: map.get($site-footer, 'color');
    font: var(--f-3xl);
  }

  .ecl-site-footer__logo-image {
    display: block;
    height: 2.75rem;
  }
}
