@use 'sass:map';
@use 'index' as *;

// Link
$link-color: map.get($color, 'primary');
$link-color-hover: map.get($color, 'primary20');
$link-color-visited: map.get($color, 'dark');
$link-color-active: map.get($color, 'dark');
$link-outline-color: map.get($color, 'primary');
$link-outline-width: 2px;
$link-outline-radius: 1px;
$link-inverted-color: map.get($color, 'white');
$link-inverted-color-hover: map.get($color, 'primary-30');
$link-inverted-color-visited: map.get($color, 'secondary-10');
$link-inverted-color-active: map.get($color, 'secondary-20');
$link-inverted-outline-color: map.get($color, 'white');
$link-button-radius: 2px;
$link-button-shadow: none;
$link-button-border-width: 2px;
$link-button-outline-width: 1px;
$link-button-padding-horizontal: map.get($spacing, 'm');
$link-button-padding-vertical: map.get($spacing, 'xs');
$link-primary-background: map.get($color, 'primary');
$link-primary-color: map.get($color, 'white');
$link-primary-background-hover: map.get($color, 'primary20');
$link-primary-color-hover: map.get($color, 'white');
$link-primary-background-active: map.get($color, 'primary30');
$link-primary-color-active: map.get($color, 'white');
$link-primary-background-focus: map.get($color, 'primary');
$link-primary-color-focus: map.get($color, 'white');
$link-primary-border-color: map.get($color, 'primary');
$link-primary-border-color-hover: map.get($color, 'primary20');
$link-primary-border-color-active: map.get($color, 'primary30');
$link-primary-border-color-focus: map.get($color, 'primary');
$link-primary-outline-color: map.get($color, 'white');
$link-secondary-background: map.get($color, 'white');
$link-secondary-color: map.get($color, 'primary');
$link-secondary-background-hover: map.get($color, 'primary20');
$link-secondary-color-hover: map.get($color, 'white');
$link-secondary-background-active: map.get($color, 'primary30');
$link-secondary-color-active: map.get($color, 'white');
$link-secondary-background-focus: map.get($color, 'primary30');
$link-secondary-color-focus: map.get($color, 'white');
$link-secondary-border-color: map.get($color, 'primary');
$link-secondary-border-color-hover: map.get($color, 'primary20');
$link-secondary-border-color-active: map.get($color, 'primary30');
$link-secondary-border-color-focus: map.get($color, 'primary30');
$link-secondary-outline-color: map.get($color, 'white');
$link-cta-background: map.get($color, 'secondary-10');
$link-cta-color: map.get($color, 'dark');
$link-cta-background-hover: map.get($color, 'secondary10');
$link-cta-border-color: map.get($color, 'secondary-10');
$link-cta-color-hover: map.get($color, 'dark');
$link-cta-border-color-hover: map.get($color, 'secondary10');
$link-cta-background-active: map.get($color, 'secondary20');
$link-cta-color-active: map.get($color, 'dark');
$link-cta-border-color-active: map.get($color, 'secondary20');
$link-cta-background-focus: map.get($color, 'secondary-10');
$link-cta-color-focus: map.get($color, 'dark');
$link-cta-border-color-focus: map.get($color, 'secondary-10');
$link-cta-outline-color: map.get($color, 'dark');
