{% apply spaceless %}

{#
  Parameters:
    - "items" (array) (default: []): array of list_illustration_item
    - "column" (number) (default: 2): number of columns (2 or 3)
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
#}

{# Internal properties #}

{% set _items = items|default([]) %}
{% set _column = column|default(2) %}
{% set _css_class = 'ecl-navigation-list' %}
{% set _border = border ?? true %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if _column and _column > 1 and _column < 4 %}
  {% set _css_class = _css_class ~ ' ' ~ 'ecl-navigation-list--col-' ~ _column %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

{% if _items is not empty and _items is iterable %}
  <div
    class="{{ _css_class }}"
    {{ _extra_attributes|raw }}
  >
    {%- for _item in _items %}
      {% include '@ecl/navigation-list/navigation-list-item.html.twig' with _item|merge({ border: _border }) only %}
    {% endfor -%}
  </div>
{% endif %}

{% endapply %}
