/**
 * Form elements
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$form-group: null !default;

.ecl-form-group {
  align-items: flex-start;
  border-width: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;

  > *:not(.ecl-u-sr-only) + * {
    margin-top: map.get($theme, 'spacing', 'xs');
  }

  > *:not(.ecl-u-sr-only) + .ecl-feedback-message {
    margin-top: map.get($form-group, 'margin-invalid');
  }

  > *:not(.ecl-u-sr-only) + .ecl-help-block {
    margin-top: map.get($form-group, 'margin-help');
  }

  > *:not(.ecl-u-sr-only) + .ecl-checkbox,
  > *:not(.ecl-u-sr-only) + .ecl-radio {
    margin-top: map.get($form-group, 'margin-first-element');
    /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
    ~ .ecl-checkbox,
    ~ .ecl-radio {
      margin-top: map.get($theme, 'spacing', 'l');
    }
  }

  > *:not(.ecl-u-sr-only) + .ecl-radio--binary {
    margin-top: map.get($theme, 'spacing', 'm');

    ~ .ecl-radio--binary {
      margin-top: map.get($theme, 'spacing', 'm');
    }
  }
  /* stylelint-enable max-nesting-depth, selector-max-compound-selectors */
  > .ecl-checkbox:first-child + .ecl-checkbox,
  > .ecl-radio:first-child + .ecl-radio:not(.ecl-radio--binary) {
    margin-top: map.get($theme, 'spacing', 'l');
  }

  > .ecl-radio--binary:first-child + .ecl-radio--binary {
    margin-top: 0;
  }

  > *:not(.ecl-u-sr-only) + .ecl-file-upload__list {
    margin-top: map.get($theme, 'spacing', 'm');
  }

  > .ecl-feedback-message + .ecl-help-block {
    margin-top: 0;
  }
}

// stylelint-disable no-descending-specificity
.ecl-feedback-message {
  align-items: center;
  box-sizing: border-box;
  color: map.get($form-group, 'color-invalid');
  display: flex;
  font: map.get($form-group, 'font-invalid');
  margin: 0;
  padding: 0;
}

.ecl-feedback-message__icon {
  margin-inline-end: map.get($form-group, 'margin-icon');
}

.ecl-help-block {
  box-sizing: border-box;
  color: map.get($form-group, 'color-help');
  display: block;
  font: map.get($form-group, 'font-help');
  margin: 0;
  padding: 0;
}

.ecl-form-label {
  box-sizing: border-box;
  color: map.get($form-group, 'color-label');
  display: inline-flex;
  font: map.get($form-group, 'font-label');
  font-weight: map.get($form-group, 'font-weight-label');
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.ecl-form-label__required {
  color: map.get($form-group, 'color-required');
  font: map.get($theme, 'font', 'm');
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin-inline-start: map.get($theme, 'spacing', '2xs');
}

.ecl-form-label__optional {
  align-self: center;
  color: map.get($form-group, 'color-optional');
  font: map.get($form-group, 'font-optional');
  font-style: map.get($form-group, 'font-style-optional');
}
