@use "sass:map";
@use '@ecl/theme-dev/theme';
@use 'form' with (
  $_margin-text-input: map.get(theme.$spacing, 's'),
  $_margin-invalid: map.get(theme.$spacing, 'xs'),
  $_color-invalid: map.get(theme.$color, 'red-100'),
  $_color-label: map.get(theme.$color, 'grey-100'),
  $_color-help: map.get(theme.$color, 'grey-100'),
  $_color-required: map.get(theme.$color, 'red-100'),
  $_color-optional: map.get(theme.$color, 'grey-100'),
  $_font-optional:  map.get(theme.$font, 's'),
  $_font-invalid: map.get(theme.$font-prolonged, 's'),
  $_font-help: map.get(theme.$font-prolonged, 's'),
);
