@use "sass:map";
@use '@ecl/theme-dev/theme';
@use 'form' with (
  $_margin-text-input: map.get(theme.$spacing, 'xs'),
  $_margin-invalid: map.get(theme.$spacing, '2xs'),
  $_color-invalid: map.get(theme.$color, 'red-120'),
  $_color-label: map.get(theme.$color, 'grey-140'),
  $_color-help: map.get(theme.$color, 'grey-80'),
  $_color-required: map.get(theme.$color, 'red-120'),
  $_color-optional: map.get(theme.$color, 'grey-80'),
  $_font-size_optional:  map.get(theme.$font, 's'),
  $_font-invalid: map.get(theme.$font, 'm'),
  $_font-help: map.get(theme.$font, 'm'),
);
