/**
 * EC logo
 */

%logo {
  background: url('../images/svg/logo.svg') no-repeat;
  display: block;
  height: 72px;
  width: 140px;
}

// Language generator.
@mixin logo-background-languages($file_path, $file_extension, $logo_class: ecl-logo--logotype) {
  @each $item in $ecl-languages {
    /* stylelint-disable max-nesting-depth */
    .language-#{$item} {
      .#{$logo_class} {
        background-image: url('#{$file_path}#{$item}#{$file_extension}');
      }

      @media print {
        .#{$logo_class}::before {
          content: url('#{$file_path}#{$item}#{$file_extension}');
        }
      }
    }
    /* stylelint-enable */
  }
}

/**
 * Logos
 * @define logo
 */

// Default EC logo.
.ecl-logo {
  @extend %logo;
}

.ecl-logo--big {
  height: 153px;
  width: 290px;
}

// EC logotype
//
// EC logo with text.

// Sets language-specific background image on .ecl-logo--logotype element nested
// in {{modifier_class}} modifier.
@include logo-background-languages('../images/svg/logo/logo--', '.svg');

.ecl-logo--logotype {
  width: 190px;
}

// EC logotype with text below the logo
//
// EC logo with text below.

// Sets language-specific background image on .ecl-logo--logotypebelow element nested
// in {{modifier_class}} modifier.
@include logo-background-languages('../images/svg/logo/logotypebelow--', '.svg', 'ecl-logo--logotypebelow');

.ecl-logo--logotypebelow {
  height: 72px;
  width: 198px;
}

@include ecl-media-breakpoint-up(sm) {
  .ecl-logo--logotype {
    width: 290px;
  }

  .ecl-logo--logotypebelow {
    height: 118px;
    width: 324px;
  }
}
