<style>
  .example {
    background-color: black;
    color: white;
    display: inline-block;
    margin-bottom: 1em;
  }
</style>

<h1>Padding all</h1>
<div><div class="example ecl-pa-none" style="">ecl-pa-none</div></div>
<div><div class="example ecl-pa-xs" style="">ecl-pa-xs</div></div>
<div><div class="example ecl-pa-s" style="">ecl-pa-s</div></div>
<div><div class="example ecl-pa-m" style="">ecl-pa-m</div></div>
<div><div class="example ecl-pa-l" style="">ecl-pa-l</div></div>
<div><div class="example ecl-pa-xl" style="">ecl-pa-xl</div></div>
<div><div class="example ecl-pa-xxl" style="">ecl-pa-xxl</div></div>
<div><div class="example ecl-pa-xxxl" style="">ecl-pa-xxxl</div></div>

<h1>Padding horizontal</h1>
<div><div class="example ecl-ph-none" style="">ecl-ph-none</div></div>
<div><div class="example ecl-ph-xs" style="">ecl-ph-xs</div></div>
<div><div class="example ecl-ph-s" style="">ecl-ph-s</div></div>
<div><div class="example ecl-ph-m" style="">ecl-ph-m</div></div>
<div><div class="example ecl-ph-l" style="">ecl-ph-l</div></div>
<div><div class="example ecl-ph-xl" style="">ecl-ph-xl</div></div>
<div><div class="example ecl-ph-xxl" style="">ecl-ph-xxl</div></div>
<div><div class="example ecl-ph-xxxl" style="">ecl-ph-xxxl</div></div>

<h1>Padding vertical</h1>
<div><div class="example ecl-pv-none" style="">ecl-pv-none</div></div>
<div><div class="example ecl-pv-xs" style="">ecl-pv-xs</div></div>
<div><div class="example ecl-pv-s" style="">ecl-pv-s</div></div>
<div><div class="example ecl-pv-m" style="">ecl-pv-m</div></div>
<div><div class="example ecl-pv-l" style="">ecl-pv-l</div></div>
<div><div class="example ecl-pv-xl" style="">ecl-pv-xl</div></div>
<div><div class="example ecl-pv-xxl" style="">ecl-pv-xxl</div></div>
<div><div class="example ecl-pv-xxxl" style="">ecl-pv-xxxl</div></div>

<h1>Padding top</h1>
<div><div class="example ecl-pt-none" style="">ecl-pt-none</div></div>
<div><div class="example ecl-pt-xs" style="">ecl-pt-xs</div></div>
<div><div class="example ecl-pt-s" style="">ecl-pt-s</div></div>
<div><div class="example ecl-pt-m" style="">ecl-pt-m</div></div>
<div><div class="example ecl-pt-l" style="">ecl-pt-l</div></div>
<div><div class="example ecl-pt-xl" style="">ecl-pt-xl</div></div>
<div><div class="example ecl-pt-xxl" style="">ecl-pt-xxl</div></div>
<div><div class="example ecl-pt-xxxl" style="">ecl-pt-xxxl</div></div>


<h1>Padding right</h1>
<div><div class="example ecl-pr-none" style="">ecl-pr-none</div></div>
<div><div class="example ecl-pr-xs" style="">ecl-pr-xs</div></div>
<div><div class="example ecl-pr-s" style="">ecl-pr-s</div></div>
<div><div class="example ecl-pr-m" style="">ecl-pr-m</div></div>
<div><div class="example ecl-pr-l" style="">ecl-pr-l</div></div>
<div><div class="example ecl-pr-xl" style="">ecl-pr-xl</div></div>
<div><div class="example ecl-pr-xxl" style="">ecl-pr-xxl</div></div>
<div><div class="example ecl-pr-xxxl" style="">ecl-pr-xxxl</div></div>

<h1>Padding bottom</h1>
<div><div class="example ecl-pb-none" style="">ecl-pb-none</div></div>
<div><div class="example ecl-pb-xs" style="">ecl-pb-xs</div></div>
<div><div class="example ecl-pb-s" style="">ecl-pb-s</div></div>
<div><div class="example ecl-pb-m" style="">ecl-pb-m</div></div>
<div><div class="example ecl-pb-l" style="">ecl-pb-l</div></div>
<div><div class="example ecl-pb-xl" style="">ecl-pb-xl</div></div>
<div><div class="example ecl-pb-xxl" style="">ecl-pb-xxl</div></div>
<div><div class="example ecl-pb-xxxl" style="">ecl-pb-xxxl</div></div>

<h1>Padding left</h1>
<div><div class="example ecl-pl-none" style="">ecl-pl-none</div></div>
<div><div class="example ecl-pl-xs" style="">ecl-pl-xs</div></div>
<div><div class="example ecl-pl-s" style="">ecl-pl-s</div></div>
<div><div class="example ecl-pl-m" style="">ecl-pl-m</div></div>
<div><div class="example ecl-pl-l" style="">ecl-pl-l</div></div>
<div><div class="example ecl-pl-xl" style="">ecl-pl-xl</div></div>
<div><div class="example ecl-pl-xxl" style="">ecl-pl-xxl</div></div>
<div><div class="example ecl-pl-xxxl" style="">ecl-pl-xxxl</div></div>
