/**
 * ECL Side menus
 * @define side-navigation
 */

@import '@ecl/generic-component-side-navigation/generic-component-side-navigation';

@include side-navigation(
  $bg: map-get($ecl-colors, 'grey-10'),
  $group-bg: map-get($ecl-colors, 'grey-5'),
  $toggle-btn-bg: map-get($ecl-colors, 'blue-75'),
  $toggle-btn-color: #fff,
  $separator: map-get($ecl-colors, 'grey-50'),
  $group-separator: map-get($ecl-colors, 'grey-25'),
  $link-color: map-get($ecl-colors, 'grey-100'),
  $link-active-color: map-get($ecl-colors, 'blue-100')
);
