/**
 * Media container component
 * @define media-container
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-media-container() {
  .ecl-media-container {
    background-color: $ecl-color-grey-10;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .ecl-media-container__media {
    display: block;
    height: auto;
    min-height: 1px; // IE 11 fix
    object-fit: cover;
    width: 100%;
  }

  .ecl-media-container__caption {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-m;
    padding: $ecl-spacing-s;
  }
}

// Use mixin
@include exports('eu-component-media-container') {
  @include ecl-media-container();
}
