/**
 * Media container component
 * @define media-container
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-media-container-print() {
  .ecl-media-container {
    margin: 0;
  }

  .ecl-media-container__media {
    display: none;
  }

  .ecl-media-container__caption {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-print-m;
  }
}

// Use mixin
@include exports('eu-component-media-container-print') {
  @include ecl-media-container-print;
}
