<div class="listing__wrapper">
  <ul class="listing listing--column-left">
    <li class="listing__item">
      <a href="#" class="listing__item-link">
        <div class="listing__column-second">
          <img src="http://placehold.it/80x80">
        </div>
        <div class="listing__column-main">
          <div class="meta">
            <span class="meta__item meta__item--type">press release</span>
            <span class="meta__item">Tuesday, 21 April, 2015 - 12:01</span>
          </div>
          <h3 class="listing__title">EU continues its strong support for the victims of Syria's crisis</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </a>
    </li>
    <li class="listing__item">
      <a href="#" class="listing__item-link">
        <div class="listing__column-second {{modifier}}">
          <img src="http://placehold.it/80x80">
        </div>
        <div class="listing__column-main">
          <div class="meta">
            <span class="meta__item meta__item--type">press release</span>
            <span class="meta__item">Tuesday, 21 April, 2015 - 12:01</span>
          </div>
          <h3 class="listing__title"><span>Two Word</span><span>Sentence</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </a>
    </li>
    <li class="listing__item">
      <div class="listing__item-link">
        <div class="listing__column-second {{modifier}}">
          <img src="http://placehold.it/80x80">
        </div>
        <div class="listing__column-main">
          <h3 class="listing__title"><a href="#">Dialogue with Commissioner Pierre Moscovici in Paris</a></h3>
          <div class="listing__status-container listing__status-container--inline">
            <span class="icon icon--location icon--text-small icon--margin-right">Online only</span>
            <span class="icon icon--livestreaming icon--text-small">live streaming available</span>
          </div>
          <a href="#" class="btn btn-ctn btn--no-margin-bottom listing__btn">Watch live streaming</a>
        </div>
      </div>
    </li>
  </ul>
</div>
