/**
* Gallery
* @define gallery ; weak
*/

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-gallery() {
  .ecl-gallery {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .ecl-gallery__item {
    overflow: hidden;
  }

  .ecl-gallery .ecl-gallery__item {
    padding: map-get($ecl-spacing, 'xxxs') / 2;
  }

  .ecl-gallery__item-container {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .ecl-gallery__image {
    display: block;
    left: 50%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    // top: 50%;
    transform: translateX(-50%);
    width: auto;
  }

  .ecl-gallery__caption {
    background-color: $ecl-color-shade;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: map-get($ecl-font-size, 'xxs');
    height: 4em;
    left: 0;
    overflow: hidden;
    // The line is ignored because prettier wants first line to stay.
    // Whereas the linter wants the rules to go a new line directly.
    /* stylelint-disable-next-line */
    padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxs')
      map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxxs');
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
  }

  .ecl-gallery__icon-wrapper {
    background-color: $ecl-color-shade;
    bottom: 0;
    color: #fff;
    height: 2.667em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 2.667em;

    // Camera icon needs to be smaller in this context.
    .ecl-icon--camera {
      font-size: map-get($ecl-font-size, 'xxs');
      line-height: 4em;
    }
  }

  .ecl-gallery__icon {
    font-size: map-get($ecl-font-size, 'm');
    line-height: 2.667em;

    &::before {
      margin-right: 0;
    }
  }

  // That's how we show the caption on hover
  .ecl-gallery__item:hover {
    .ecl-gallery__caption {
      display: block;
    }
  }
}
