/**
 * List with illustration component
 * @define list-illustration
 */

@use 'sass:math';
@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_title-color: null !default;
$_description-color: null !default;
$_background-color: null !default;
$_value-font-mobile: null !default;
$_value-font-weight-mobile: null !default;
$_value-font-desktop: null !default;
$_value-font-weight-desktop: null !default;
$_icon_color: null !default;

.ecl-list-illustration {
  margin: 0;
}

.ecl-list-illustration__item {
  display: flex;
  flex-direction: row;
  padding: map.get(theme.$spacing-print, 'm');
}

.ecl-list-illustration__image {
  margin-inline-end: map.get(theme.$spacing-print, 'm');
  object-fit: cover;

  &:not(.ecl-list-illustration__image--square) {
    width: 15.875rem;
  }
}

// manage ratio 1:1
.ecl-list-illustration__image--square {
  aspect-ratio: 1/1;
  width: 100px;

  &.ecl-list-illustration__image--s {
    width: 48px;
  }

  &.ecl-list-illustration__image--l {
    width: 150px;
  }
}

.ecl-list-illustration__title-container {
  display: flex;
  flex-direction: column;
}

.ecl-list-illustration__icon {
  color: $_icon-color;
  margin-bottom: map.get(theme.$spacing-print, 'm');
}

.ecl-list-illustration__value {
  color: $_title-color;
  font: $_value-font-mobile;
  font-weight: $_value-font-weight-mobile;
  margin-bottom: map.get(theme.$spacing-print, 'xs');
}

.ecl-list-illustration__title {
  color: $_title-color;
  font: map.get(theme.$font-prolonged-print, 'xl');
}

.ecl-list-illustration__description {
  color: $_description-color;
  font: map.get(theme.$font-prolonged-print, 'm');
  margin-top: map.get(theme.$spacing-print, 'xs');
}

// Zebra
.ecl-list-illustration--zebra {
  .ecl-list-illustration__item:nth-child(even) {
    background-color: $_background-color;
  }
}
