/**
 * List with illustration component
 * @define list-illustration
 */

@use 'sass:math';
@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_title-color: null !default;
$_description-color: null !default;
$_background-color: null !default;

.ecl-list-illustration {
  margin: 0;
}

.ecl-list-illustration__item {
  display: flex;
  flex-direction: column;
}

.ecl-list-illustration__image {
  display: none;
}

.ecl-list-illustration__title-container {
  align-items: center;
  color: $_title-color;
  display: flex;
  flex-direction: row;
  font: map.get(theme.$font-prolonged-print, 'xl');
  margin-top: map.get(theme.$spacing-print, 'm');
}

.ecl-list-illustration__description {
  color: $_description-color;
  font: map.get(theme.$font-prolonged-print, 'm');
  margin-top: map.get(theme.$spacing-print, 'xs');
}

.ecl-list-illustration__icon {
  margin-right: map.get(theme.$spacing-print, 's');
}

// Vertical list
.ecl-list-illustration--vertical {
  .ecl-list-illustration__item {
    flex-direction: row;
    padding: map.get(theme.$spacing-print, 'm');
  }

  .ecl-list-illustration__icon {
    margin-right: map.get(theme.$spacing-print, 'xl');
  }

  .ecl-list-illustration__title-container {
    margin-top: 0;
  }

  .ecl-list-illustration__description {
    margin-top: map.get(theme.$spacing-print, 's');
  }
}

// Zebra
.ecl-list-illustration--zebra {
  .ecl-list-illustration__item:nth-child(even) {
    background-color: $_background-color;
  }
}
