@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'list-illustration-print' with (
  $_title-color: map.get(theme.$color, 'grey-100'),
  $_description-color: map.get(theme.$color, 'grey-100'),
  $_background-color: map.get(theme.$color, 'grey-5')
);
