@use 'sass:map';
@use 'index' as *;

// Link
$link-color: map.get($color, 'blue-100');
$link-color-hover: map.get($color, 'blue-140');
$link-color-visited: map.get($color, 'purple-100');
$link-color-active: map.get($color, 'blue-100');
$link-outline-color: map.get($color, 'blue-100');
$link-outline-width: 2px;
$link-outline-radius: 2px;
$link-inverted-color: map.get($color, 'accent-blue-100');
$link-inverted-color-hover: map.get($color, 'accent-blue-30');
$link-inverted-color-visited: map.get($color, 'purple-40');
$link-inverted-color-active: map.get($color, 'accent-blue-100');
$link-inverted-outline-color: map.get($color, 'accent-blue-100');
$link-button-radius: 4px;
$link-button-shadow: map.get($shadow, '1');
$link-button-border-width: 2px;
$link-button-outline-width: 2px;
$link-button-padding-horizontal: map.get($spacing, 'm');
$link-button-padding-vertical: map.get($spacing, 's');
$link-primary-background: map.get($color, 'blue-100');
$link-primary-color: map.get($color, 'white');
$link-primary-background-hover: map.get($color, 'blue-80');
$link-primary-color-hover: map.get($color, 'white');
$link-primary-background-active: map.get($color, 'blue-100');
$link-primary-color-active: map.get($color, 'white');
$link-primary-background-focus: map.get($color, 'blue-100');
$link-primary-color-focus: map.get($color, 'white');
$link-primary-border-color: map.get($color, 'blue-100');
$link-primary-border-color-hover: map.get($color, 'blue-80');
$link-primary-border-color-active: map.get($color, 'blue-100');
$link-primary-border-color-focus: map.get($color, 'blue-100');
$link-primary-outline-color: map.get($color, 'white');
$link-secondary-background: map.get($color, 'white');
$link-secondary-color: map.get($color, 'blue-100');
$link-secondary-background-hover: map.get($color, 'white');
$link-secondary-color-hover: map.get($color, 'blue-100');
$link-secondary-background-active: map.get($color, 'white');
$link-secondary-color-active: map.get($color, 'blue-100');
$link-secondary-background-focus: map.get($color, 'white');
$link-secondary-color-focus: map.get($color, 'blue-100');
$link-secondary-border-color: map.get($color, 'blue-100');
$link-secondary-border-color-hover: map.get($color, 'blue-130');
$link-secondary-border-color-active: map.get($color, 'blue-100');
$link-secondary-border-color-focus: map.get($color, 'blue-100');
$link-secondary-outline-color: map.get($color, 'white');
