@use 'sass:map';
@use 'index' as *;

// Use this file to assign default values to component variables
// Note: if you override css variables it will take over on these values

// Breadcrumb
// stylelint-disable length-zero-no-unit
$breadcrumb: (
  padding-vertical: map.get($spacing, 'm'),
  font-mobile: map.get($font-prolonged, 'm'),
  font-desktop: map.get($font-prolonged, 'm'),
  line-height: map.get($line-height-prolonged, 'm'),
  last-link-color: map.get($color, 'grey-80'),
  icon-color: map.get($color, 'grey-80'),
  icon-spacing: map.get($spacing, 'xs'),
  icon-transform-mobile: rotateZ(90deg),
  icon-transform-desktop: rotateZ(90deg),
  ellipsis: (
    background: map.get($color, 'blue-5'),
    background-hover: map.get($color, 'blue-10'),
    color: map.get($color, 'blue-100'),
    font-weight: map.get($font-weight, 'bold'),
    offset-vertical: 0px,
    offset-horizontal: 0px,
  ),
);

// Button
$button: (
  radius: 4px,
  shadow: map.get($shadow, '1'),
  border-width: 2px,
  outline-width: 2px,
  padding-horizontal: map.get($spacing, 'm'),
  padding-vertical: map.get($spacing, 's'),
  primary: (
    background: map.get($color, 'blue-100'),
    color: map.get($color, 'white'),
    border-color: map.get($color, 'blue-100'),
    background-hover: map.get($color, 'blue-80'),
    color-hover: map.get($color, 'white'),
    border-color-hover: map.get($color, 'blue-80'),
    background-active: map.get($color, 'blue-100'),
    color-active: map.get($color, 'white'),
    border-color-active: map.get($color, 'blue-100'),
    background-focus: map.get($color, 'blue-100'),
    color-focus: map.get($color, 'white'),
    border-color-focus: map.get($color, 'blue-100'),
    outline-color: map.get($color, 'white'),
  ),
  secondary: (
    background: map.get($color, 'white'),
    color: map.get($color, 'blue-100'),
    border-color: map.get($color, 'blue-100'),
    background-hover: map.get($color, 'white'),
    color-hover: map.get($color, 'blue-100'),
    border-color-hover: map.get($color, 'blue-100'),
    background-active: map.get($color, 'white'),
    color-active: map.get($color, 'blue-100'),
    border-color-active: map.get($color, 'blue-100'),
    background-focus: map.get($color, 'white'),
    color-focus: map.get($color, 'blue-100'),
    border-color-focus: map.get($color, 'blue-100'),
    outline-color: map.get($color, 'white'),
  ),
  cta: (
    background: map.get($color, 'yellow-100'),
    color: map.get($color, 'grey-140'),
    border-color: map.get($color, 'yellow-100'),
    background-hover: map.get($color, 'yellow-100'),
    color-hover: map.get($color, 'grey-140'),
    border-color-hover: map.get($color, 'yellow-100'),
    background-active: map.get($color, 'yellow-100'),
    color-active: map.get($color, 'grey-140'),
    border-color-active: map.get($color, 'yellow-100'),
    background-focus: map.get($color, 'yellow-100'),
    color-focus: map.get($color, 'grey-140'),
    border-color-focus: map.get($color, 'yellow-100'),
    outline-color: map.get($color, 'grey-140'),
  ),
  ghost: (
    background: transparent,
    color: map.get($color, 'primary'),
    border-color: transparent,
    background-hover: transparent,
    color-hover: map.get($color, 'primary'),
    border-color-hover: transparent,
    background-active: transparent,
    color-active: map.get($color, 'primary'),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: map.get($color, 'primary'),
    border-color-focus: transparent,
    outline-color: map.get($color, 'primary'),
  ),
);
$button-print: (
  padding-horizontal: map.get($spacing-print, 'm'),
  padding-vertical: map.get($spacing-print, 's'),
);

// Label
$label: (
  radius: 4px,
  border-width: 0px,
  padding-horizontal: map.get($spacing, 's'),
  padding-vertical: map.get($spacing, 'xs'),
  highlight: (
    background: map.get($color, 'blue-100'),
    color: map.get($color, 'white'),
    border-color: transparent,
  ),
  high: (
    background: map.get($color, 'yellow-100'),
    color: map.get($color, 'grey-140'),
    border-color: transparent,
  ),
  medium: (
    background: map.get($color, 'yellow-10'),
    color: map.get($color, 'grey-140'),
    border-color: transparent,
  ),
  low: (
    background: map.get($color, 'blue-10'),
    color: map.get($color, 'grey-140'),
    border-color: map.get($color, 'primary'),
  ),
);
$label-print: (
  padding-horizontal: map.get($spacing-print, 's'),
  padding-vertical: map.get($spacing-print, 'xs'),
);

// Link
$link: (
  color: map.get($color, 'blue-100'),
  color-hover: map.get($color, 'blue-140'),
  color-visited: map.get($color, 'purple-100'),
  color-active: map.get($color, 'blue-100'),
  outline-color: map.get($color, 'blue-100'),
  outline-width: 2px,
  outline-radius: 2px,
  inverted: (
    color: map.get($color, 'accent-blue-100'),
    color-hover: map.get($color, 'accent-blue-30'),
    color-visited: map.get($color, 'purple-40'),
    color-active: map.get($color, 'accent-blue-100'),
    outline-color: map.get($color, 'accent-blue-100'),
  ),
  button: (
    radius: 4px,
    shadow: map.get($shadow, '1'),
    border-width: 2px,
    outline-width: 2px,
    padding-horizontal: map.get($spacing, 'm'),
    padding-vertical: map.get($spacing, 's'),
  ),
  primary: (
    background: map.get($color, 'blue-100'),
    color: map.get($color, 'white'),
    border-color: map.get($color, 'blue-100'),
    background-hover: map.get($color, 'blue-80'),
    color-hover: map.get($color, 'white'),
    border-color-hover: map.get($color, 'blue-80'),
    background-active: map.get($color, 'blue-100'),
    color-active: map.get($color, 'white'),
    border-color-active: map.get($color, 'blue-100'),
    background-focus: map.get($color, 'blue-100'),
    color-focus: map.get($color, 'white'),
    border-color-focus: map.get($color, 'blue-100'),
    outline-color: map.get($color, 'white'),
  ),
  secondary: (
    background: map.get($color, 'white'),
    color: map.get($color, 'blue-100'),
    border-color: map.get($color, 'blue-100'),
    background-hover: map.get($color, 'white'),
    color-hover: map.get($color, 'blue-100'),
    border-color-hover: map.get($color, 'blue-130'),
    background-active: map.get($color, 'white'),
    color-active: map.get($color, 'blue-100'),
    border-color-active: map.get($color, 'blue-100'),
    background-focus: map.get($color, 'white'),
    color-focus: map.get($color, 'blue-100'),
    border-color-focus: map.get($color, 'blue-100'),
    outline-color: map.get($color, 'white'),
  ),
  cta: (
    background: map.get($color, 'yellow-100'),
    color: map.get($color, 'grey-140'),
    border-color: map.get($color, 'yellow-100'),
    background-hover: map.get($color, 'yellow-100'),
    color-hover: map.get($color, 'grey-140'),
    border-color-hover: map.get($color, 'yellow-100'),
    background-active: map.get($color, 'yellow-100'),
    color-active: map.get($color, 'grey-140'),
    border-color-active: map.get($color, 'yellow-100'),
    background-focus: map.get($color, 'yellow-100'),
    color-focus: map.get($color, 'grey-140'),
    border-color-focus: map.get($color, 'yellow-100'),
    outline-color: map.get($color, 'grey-140'),
  ),
);

// Form
$form-group: (
  color-label: map.get($color, 'grey-140'),
  color-help: map.get($color, 'grey-80'),
  color-invalid: map.get($color, 'red-120'),
  color-optional: map.get($color, 'grey-80'),
  color-required: map.get($color, 'red-120'),
  font-label: map.get($font-prolonged, 'm'),
  font-weight-label: map.get($font-weight, 'bold'),
  font-help: map.get($font-prolonged, 'm'),
  font-invalid: map.get($font-prolonged, 'm'),
  font-optional: map.get($font, 'm'),
  font-style-optional: 'italic',
  margin-first-element: map.get($spacing, 'm'),
  margin-help: map.get($spacing, 'xs'),
  margin-invalid: map.get($spacing, '2xs'),
  margin-icon: map.get($spacing, 'xs'),
);

// Search
$search-form: (
  button-border-color: map.get($color, 'grey-80'),
  separator-color: transparent,
);

// Text input
$text-input: (
  radius: 4px,
  border-color: map.get($color, 'grey-80'),
  border-color-hover: map.get($color, 'grey-80'),
  border-color-focus: map.get($color, 'blue-100'),
  border-color-invalid: map.get($color, 'red-120'),
  border-color-invalid-hover: map.get($color, 'red-100'),
  border-color-invalid-focus: map.get($color, 'red-100'),
  color-input: map.get($color, 'grey-140'),
  color-placeholder: map.get($color, 'grey-40'),
  shadow: map.get($shadow, '1'),
  shadow-hover: map.get($shadow, '2'),
  padding-vertical: map.get($spacing, 's'),
  padding-horizontal: map.get($spacing, 'm'),
);

// Site footer
$site-footer: (
  background: map.get($color, 'blue-5'),
  color: map.get($color, 'grey-140'),
  shadow: map.get($shadow, '2'),
  separator-color: map.get($color, 'blue-20'),
  column-gap: map.get($grid-gutter-width, 'xl'),
);

// Spinner
$spinner: (
  stroke-color: map.get($color, 'blue-80'),
  stroke-linecap: round,
  text-color: map.get($color, 'dark-100'),
);
