/**
 * Form Fieldset
 * @define fieldset
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-fieldset() {
  .ecl-fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /* Spacing */

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  * + .ecl-fieldset {
    margin-top: map-get($ecl-spacing, 'm');
  }

  /* Top-level fieldsets */
  .ecl-fieldset + .ecl-fieldset {
    margin-top: map-get($ecl-spacing, 'xl');
  }

  /* Nested fieldsets */
  .ecl-fieldset .ecl-fieldset + .ecl-fieldset {
    margin-top: map-get($ecl-spacing, 'l');
  }
}
