/**
 * ECL Navigation
 * @define navigation
 */

$ecl-navigation-border-width: $ecl-navigation-border-width;

.ecl-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  padding: 0;
}

.ecl-navigation--tabs {
  border-bottom: $ecl-navigation-border-width solid map-get($ecl-colors, 'grey-50');
}

.ecl-navigation__item {
  flex-shrink: 0;

  .ecl-navigation--tabs & {
    margin-bottom: -$ecl-navigation-border-width;
  }
}

.ecl-navigation__item-link {
  border-bottom: $ecl-navigation-border-width solid transparent;
  display: block;
  font-weight: bold;
  padding: map-get($ecl-spacing, 'xs') map-get($ecl-spacing, 's');
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  /* stylelint-disable-next-line */
  &:focus {
    background-color: $ecl-color-secondary;
    border-bottom-color: $ecl-color-secondary;
  }
}

.ecl-navigation__item-link--active {
  color: $ecl-color-shade;

  &:hover {
    text-decoration: none;
  }

  .ecl-navigation--tabs & {
    border: $ecl-navigation-border-width solid map-get($ecl-colors, 'grey-50');
    border-bottom-color: #fff;
    text-decoration: none;

    /* stylelint-disable-next-line */
    &:focus {
      background-color: $ecl-color-secondary;
      border-bottom-color: transparent;
    }
  }
}
