/**
 * Search form
 * @define search-form; weak
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_form-width-desktop: 31.25rem;
$_border-color: map.get(theme.$color, 'grey-50');
$_button-background-color: null !default;
$_button-background-color-hover: null !default;
$_button-color: null !default;

.ecl-search-form {
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
}

.ecl-search-form .ecl-text-input__wrapper {
  flex-grow: 1;
}

.ecl-search-form .ecl-form-group {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
}

.ecl-search-form__label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: visible;
  white-space: nowrap;
  width: 1px;
}

.ecl-search-form__text-input {
  flex-grow: 1;
  margin-top: 0 !important;
  width: 100%;
}

.ecl-search-form__text-input:not(.ecl-text-input--invalid) {
  border-bottom-color: $_border-color;
  border-left-color: $_border-color;
  border-right-width: 0;
  border-top-color: $_border-color;
}

.ecl-search-form__button {
  background-color: $_button-background-color;
  border-bottom: 1px solid $_border-color;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  border-right: 1px solid $_border-color;
  border-top: 1px solid $_border-color;
  border-top-left-radius: 0;
  color: $_button-color;
  padding: calc(#{map.get(theme.$spacing, 's')} - 1px);

  &:hover,
  &:active {
    background-color: $_button-background-color-hover;
  }
}

.ecl-search-form__button .ecl-button__label {
  display: none;
}

.ecl-search-form__button .ecl-button__icon {
  display: block;
  fill: currentColor;
  margin: 0;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-search-form {
    max-width: $_form-width-desktop;
  }

  .ecl-search-form__button {
    padding-left: calc(#{map.get(theme.$spacing, 'm')} - 1px);
    padding-right: calc(#{map.get(theme.$spacing, 'm')} - 1px);
  }

  .ecl-search-form__button .ecl-button__label {
    display: block;
  }

  .ecl-search-form__button .ecl-button__icon {
    display: none;
  }
}
