/**
* Gallery
* @define gallery ; weak
*/

.ecl-gallery {
  margin: 0;
  padding-left: map-get($ecl-spacing, 'xs');
  padding-right: map-get($ecl-spacing, 'xs');
}

.ecl-gallery__item {
  overflow: hidden;
  padding: 0;
}

// That's how we show the caption on hover
.ecl-gallery__item:hover {
  .ecl-gallery__caption {
    display: block;
  }
}

.ecl-gallery__item-container {
  margin: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxxs') 0;
  width: 100%;

  /**
  * General for 2 reasons:
  *  - ensure consistency
  *  - allow easy integration
  */
  img {
    display: block;
    width: 100%;
  }
}

.ecl-gallery__caption {
  background-color: $ecl-color-shade;
  bottom: 0;
  color: #fff;
  display: none;
  font-size: map-get($ecl-font-size, 'xxs');
  height: 4em;
  overflow: hidden;
  // The line is ignored because prettier wants first line to stay.
  // Whereas the linter wants the rules to go a new line directly.
  /* stylelint-disable-next-line */
  padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxs')
    map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxxs');
  position: absolute;
  text-overflow: ellipsis;
  width: 100%;
}

.ecl-gallery__icon {
  background-color: $ecl-color-shade;
  bottom: 0;
  color: #fff;
  height: 2.667em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 2.667em;
}

// The following specifics are valid only for the icons in gallery context.
.ecl-gallery__icon .ecl-icon {
  font-size: map-get($ecl-font-size, 'm');
  line-height: 2.667em;

  &::before {
    margin-right: 0;
  }
}

// The camera icon also needs tweaks to work in the gallery context.
.ecl-gallery__icon .ecl-icon--camera {
  font-size: map-get($ecl-font-size, xxs);
  line-height: 4em;
}

@media (max-width: map-get($ecl-grid-breakpoints, 'xs')) {
  .ecl-gallery__item-container {
    margin-left: 0 !important;
  }
}

@media (min-width: map-get($ecl-grid-breakpoints, 'xs')) and (max-width: ecl-breakpoint-max(xs)) {
  .ecl-gallery__item {
    float: left;
    width: 50%;
  }

  .ecl-gallery__item:nth-of-type(3) .ecl-gallery__item-container {
    margin-left: 0;
  }
}

@media (max-width: ecl-breakpoint-max(sm)) {
  .ecl-gallery {
    .row {
      margin-left: -20px;
    }
  }

  .ecl-gallery__item {
    height: auto;
  }
}
