{#
  Accepts:
    - "data" is the root namespace containing rows of gallery items

  Structure of gallery item:
    - "classes" (string): CSS classes to add (mandatory)
    - "image" (@ecl-images): Image to add in the gallery (mandatory)
    - "caption" (string): Textual caption for an image
    - "icon" (string): An icon class building an icon in the item
#}

<div class="ecl-gallery">
  {% if data.rows is defined and data.rows is iterable %}
  {% for row in data.rows %}
  <div class="ecl-row">
    {% if row is iterable %}
    {% for gallery_item in row %}
    <div class="{{ gallery_item.classes }} ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        {% include '@ec-europa/ecl-images' with gallery_item.image %}
        {% if gallery_item.caption is defined %}
        <span class="ecl-gallery__caption">{{ gallery_item.caption }}</span>
        {% endif %}
        {% if gallery_item.icon is defined %}
        <span class="ecl-gallery__icon-wrapper">
          <span class="ecl-gallery__icon ecl-icon {{ gallery_item.icon }}"></span>
        </span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
</div>
