<div class="ecl-mediagallery">
  <div class="ecl-row">
    <div class="ecl-col-md-4 ecl-mediagallery__item has-icon">
      <div class="ecl-mediagallery__item-container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/380x185" width="380" height="185" alt="">
        <span class="ecl-mediagallery__caption">Dummy image 1 Dummy image</span>
        <span class="ecl-mediagallery__icon">
          <span class="ecl-icon ecl-icon--camera"></span>
        </span>
      </div>
    </div>
    <div class="ecl-col-md-3 ecl-mediagallery__item has-icon">
      <div class="ecl-mediagallery__item-container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/285x185" width="285" height="185" alt="">
        <span class="ecl-mediagallery__icon">
          <span class="ecl-icon ecl-icon--audio"></span>
        </span>
      </div>
    </div>
    <div class="ecl-col-md-2 ecl-mediagallery__item has-icon">
      <div class="ecl-mediagallery__item-container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/190x185" width="190" height="185" alt="">
        <span class="ecl-mediagallery__caption">Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1</span>
        <span class="ecl-mediagallery__icon">
          <span class="ecl-icon ecl-icon--camera"></span>
        </span>
      </div>
    </div>
    <div class="ecl-col-md-3 ecl-mediagallery__item">
      <div class="ecl-mediagallery__item-container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/285x185" width="285" height="185" alt="">
      </div>
    </div>
  </div>
  <div class="ecl-row">
    <div class="ecl-col-md-2 ecl-mediagallery__item">
      <div class="ecl-mediagallery__item-container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/190x185" width="190" height="185" alt="">
        <span class="ecl-mediagallery__caption">Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1</span>
      </div>
    </div>
    <div class="ecl-col-md-3 ecl-mediagallery__item">
      <div class="ecl-mediagallery__item-container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/285x185" width="285" height="185" alt="">
      </div>
    </div>
    <div class="ecl-col-md-3 ecl-mediagallery__item">
      <div class="ecl-mediagallery__item-container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/285x185" width="285" height="185" alt="">
      </div>
    </div>
    <div class="ecl-col-md-4 ecl-mediagallery__item">
      <div class="ecl-mediagallery__item-container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/380x185" width="380" height="185" alt="">
        <span class="ecl-mediagallery__caption">Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1</span>
      </div>
    </div>
  </div>
</div>
