<div class="messages alert {{messages_type}}">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h3><span class="ecl-sr-only">{{messages_sr_only}}:</span>{{messages_title}}</h3>
  <p>{{messages_data}}</p>
</div>
