@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

$_outline-width: 2px;

.button {
  background: none;
  border-width: 0;
  box-sizing: border-box;
  color: var(--c-p);
  font: var(--f-m);
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin: 0;
  padding: var(--s-s) var(--s-m);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: $_outline-width solid var(--c-s);
    outline-offset: -($_outline-width);
  }
}
