@import '@ecl/ec-themes/ec/index';

$outline-width: 3px;

.button {
  background: none;
  border-width: 0;
  box-sizing: border-box;
  color: $ecl-color-primary;
  font: $ecl-font-m;
  font-weight: $ecl-font-weight-bold;
  margin: 0;
  padding: $ecl-spacing-s $ecl-spacing-m;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: $outline-width solid $ecl-color-secondary;
    outline-offset: -($outline-width);
  }
}
