/**
 * Form Group
 * @define form-group; weak
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-form-group() {
  .ecl-form-group {
    box-sizing: border-box;
    margin: 0;
    > * + * {
      margin-top: $ecl-spacing-s;
    }
  }
}
