/**
 * Icons
 */

// Get re-usable variables and mixins from /generic/content/ecl-icons
@import '@ecl/generic-style-icon/index';

// DEPRECATED: you should use @include ecl-icon('icon') when you want to include an icon
/* stylelint-disable */
@each $modifier, $char in $ecl-icons {
  %ecl-icon--#{$modifier} {
    &::before {
      @include ecl-icon($modifier);
    }
  }
}
/* stylelint-enable */

/**
 * Icon classes
 * @define icon
 */

.ecl-icon {
  @extend %ecl-icon;
}

.ecl-icon--after {
  @extend %ecl-icon--after;
}

// Icon component and modifiers.
/* stylelint-disable plugin/selector-bem-pattern */
@each $modifier, $char in $ecl-icons {
  .ecl-icon--#{$modifier} {
    &::before {
      @include ecl-icon($modifier);
    }
  }
}

.ecl-icon--rounded {
  border-radius: 50%;
  display: inline-block;
  font-size: map-get($ecl-font-size, 'xs');
  height: map-get($ecl-spacing, 'l');
  line-height: map-get($ecl-spacing, 'l');
  text-align: center;
  width: map-get($ecl-spacing, 'l');

  &::before {
    line-height: inherit;
    margin-right: 0;
  }
}
/* stylelint-enable */
