<div class="ecl-rss-links">
  <span class="ecl-rss-links__label">Get updates:</span>
  {% include '@ecl/ec-component-social-icon' with {
    link: {
      href: 'https://example.com/',
      variant: 'rss',
      extra_classes: 'ecl-rss-links__link',
      label: 'RSS'
    }
  } %}
</div>
