<div class="section">
  <div class="section__group section--row-three">
    <div class="section__item">
      <div class="listing__wrapper listing__wrapper--default listing--line-left listing--teaser__wrapper">
        <div class="listing listing--teaser">
          <div class="listing__item">
            <a class="listing__item-link" href="http://ec.europa.eu/budget/explained/index_en.cfm">
              <div class="listing__column-main column-main ">
                <h3 class="listing__title">EU budget explained</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__item">
      <div class="listing__wrapper listing__wrapper--default listing--line-left listing--teaser__wrapper">
        <div class="listing listing--teaser">
          <div class="listing__item">
            <a class="listing__item-link" href="http://ec.europa.eu/budget/annual/index_en.cfm">
              <div class="listing__column-main column-main ">
                <h3 class="listing__title">Data and figures about the EU budget</h3>
                <p>Information on the annual budget life-cycle.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__item">
      <div class="listing__wrapper listing__wrapper--default listing--line-left listing--teaser__wrapper">
        <div class="listing listing--teaser">
          <div class="listing__item">
            <a class="listing__item-link" href="http://ec.europa.eu/budget/figures/interactive/index_en.cfm">
              <div class="listing__column-main column-main ">
                <h3 class="listing__title">EU expenditure and revenue 2014-2020</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__item">
      <div class="listing__wrapper listing__wrapper--default listing--line-left listing--teaser__wrapper">
        <div class="listing listing--teaser">
          <div class="listing__item">
            <a class="listing__item-link" href="http://ec.europa.eu/budget/funding/index_en">
              <div class="listing__column-main column-main ">
                <h3 class="listing__title">Guide to receiving EU funding</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__item">
      <div class="listing__wrapper listing__wrapper--default listing--line-left listing--teaser__wrapper">
        <div class="listing listing--teaser">
          <div class="listing__item">
            <a class="listing__item-link" href="http://ec.europa.eu/budget/explained/index_en.cfm">
              <div class="listing__column-main column-main ">
                <h3 class="listing__title">EU budget explained</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__item">
      <div class="listing__wrapper listing__wrapper--default listing--line-left listing--teaser__wrapper">
        <div class="listing listing--teaser">
          <div class="listing__item">
            <a class="listing__item-link" href="http://ec.europa.eu/budget/euprojects/">
              <div class="listing__column-main column-main ">
                <h3 class="listing__title">EU budget for results web app</h3>
                <p>A selection of EU-funded projects.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__item">
      <div class="listing__wrapper listing__wrapper--default listing--line-left listing--teaser__wrapper">
        <div class="listing listing--teaser">
          <div class="listing__item">
            <a class="listing__item-link" href="http://ec.europa.eu/budget/mff/introduction/index_en.cfm">
              <div class="listing__column-main column-main ">
                <h3 class="listing__title">Multiannual Financial Framework 2014-2020</h3>
                <p>Explanation of the EU long-term spending plan.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
