/**
 * Listings
 * @define listing; weak
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-listing() {
  .ecl-listing {
    margin: 0;
    padding-left: 0;
  }

  // Two columns
  .ecl-listing--two-columns {
    display: flex;
    flex-wrap: wrap;

    .ecl-list-item {
      border-width: 0;
      flex-grow: 1;
      width: 100%;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(lg) {
    .ecl-listing--two-columns {
      .ecl-list-item {
        width: 50%;
      }

      // First column
      .ecl-list-item:nth-child(odd) .ecl-list-item__link {
        padding-left: 0;
        padding-right: map-get($ecl-spacing, 's');
      }
      // Last column
      .ecl-list-item:nth-child(even) .ecl-list-item__link {
        padding-left: map-get($ecl-spacing, 's');
        padding-right: 0;
      }
    }
  }

  // Three columns
  .ecl-listing--three-columns {
    display: flex;
    flex-wrap: wrap;

    .ecl-list-item {
      border-width: 0;
      flex-grow: 1;
      width: 100%;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(lg) {
    .ecl-listing--three-columns {
      .ecl-list-item {
        width: 33%;
      }

      // First column
      .ecl-list-item:nth-child(3n + 1) .ecl-list-item__link {
        padding-left: 0;
        padding-right: map-get($ecl-spacing, 's');
      }
      // Middle column
      .ecl-list-item:nth-child(3n + 2) .ecl-list-item__link {
        padding-left: map-get($ecl-spacing, 's') / 2;
        padding-right: map-get($ecl-spacing, 's') / 2;
      }
      // Last column
      .ecl-list-item:nth-child(3n + 0) .ecl-list-item__link {
        padding-left: map-get($ecl-spacing, 's');
        padding-right: 0;
      }
    }
  }
}
