<p>
  <span class="ecl-fs-xxxl">ecl-fs-xxxl</span><br/>
  <span class="ecl-fs-xxl">ecl-fs-xxl</span><br/>
  <span class="ecl-fs-xl">ecl-fs-xl</span><br/>
  <span class="ecl-fs-l">ecl-fs-l</span><br/>
  <span class="ecl-fs-m">ecl-fs-m</span><br/>
  <span class="ecl-fs-s">ecl-fs-s</span><br/>
  <span class="ecl-fs-xs">ecl-fs-xs</span>
</p>
