/**
 * Social icons
 * @define social-icon
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-social-icon() {
  .ecl-social-icon {
    align-items: center;
    display: inline-flex;
    margin: 0;
  }

  .ecl-social-icon__icon--hover {
    display: none;
  }

  .ecl-social-icon__icon {
    margin-right: map-get($ecl-spacing, 's');
  }

  .ecl-social-icon:hover .ecl-social-icon__icon--hover {
    display: block;
  }

  .ecl-social-icon:hover .ecl-social-icon__icon--default {
    display: none;
  }
}
