/**
 * Margin utilities
 */

/*
   Base:
    m = margin
  Modifiers:
    a = all
    h = horizontal
    v = vertical
    t = top
    r = right
    b = bottom
    l = left
*/

@mixin ecl-utility-margin() {
  /* stylelint-disable max-nesting-depth */
  @each $breakpoint in map-keys($ecl-grid-breakpoints) {
    @include ecl-media-breakpoint-up($breakpoint) {
      $infix: ecl-breakpoint-infix($breakpoint, $ecl-grid-breakpoints);

      @each $key, $value in $ecl-spacing {
        .ecl-u-ma#{$infix}-#{$key} {
          margin: $value !important;
        }

        .ecl-u-mh#{$infix}-#{$key} {
          margin-left: $value !important;
          margin-right: $value !important;
        }

        .ecl-u-mv#{$infix}-#{$key} {
          margin-bottom: $value !important;
          margin-top: $value !important;
        }

        .ecl-u-mt#{$infix}-#{$key} {
          margin-top: $value !important;
        }

        .ecl-u-mr#{$infix}-#{$key} {
          margin-right: $value !important;
        }

        .ecl-u-mb#{$infix}-#{$key} {
          margin-bottom: $value !important;
        }

        .ecl-u-ml#{$infix}-#{$key} {
          margin-left: $value !important;
        }
      }

      /*
        ECL Margin auto
        ===============
        Base:
          m = margin
        Modifiers:
          a = all
          h = horizontal
          r = right
          l = left
      */

      .ecl-u-ma#{$infix}-auto {
        margin: auto !important;
      }

      .ecl-u-mh#{$infix}-auto {
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .ecl-u-mr#{$infix}-auto {
        margin-right: auto !important;
      }

      .ecl-u-ml#{$infix}-auto {
        margin-left: auto !important;
      }
    }
  }
}
