.ecl-site-footer {
  --footer-background: black;
}

.ecl-link {
  --link-inverted-color: aqua;
  --link-inverted-color-hover: antiquewhite;
}

.ecl-button {
  --button-border-radius: 20px;
}

.ecl-text-input {
  --text-input-border-radius: 20px;
}

.ecl-fact-figures {
  --fact-figures-background: black;
  --fact-figures-icon-color: yellow;
  --fact-figures-color: white;
  --fact-figures-border-radius: 20px;
}
