/**
 * Featured item
 * @define featured-item
 */

@use 'sass:map';
@use '@ecl/grid/mixins/breakpoints';
@use '@ecl/link/link' as link-component;
@use '@ecl/mixins-typography/mixins';

// Exposed variables
$theme: null !default;
$featured-item: null !default;

.ecl-featured-item__container {
  border-radius: map.get($featured-item, 'border-radius');
  display: flex;
  flex-direction: column-reverse;
}

.ecl-featured-item__item {
  box-sizing: border-box;
  flex-basis: 50%;
  flex-grow: 1;

  &:first-child {
    margin-block-start: map.get($featured-item, 'gap-vertical');
    padding-bottom: map.get($featured-item, 'padding');
  }
}

.ecl-featured-item__micro-title {
  color: map.get($featured-item, 'micro-title', 'color');
  letter-spacing: map.get($featured-item, 'micro-title', 'letter-spacing');
  text-transform: uppercase;

  @include mixins.responsive-font(
    map.get($featured-item, 'micro-title', 'font'),
    $font-weight: map.get($featured-item, 'micro-title', 'font-weight')
  );
}

.ecl-featured-item__title {
  color: map.get($featured-item, 'title', 'color');
  max-width: map.get($featured-item, 'max-width');

  @include mixins.responsive-font(
    map.get($featured-item, 'title', 'typography')
  );

  .ecl-featured-item__micro-title + & {
    margin-block-start: map.get($featured-item, 'title', 'spacing-mobile');
  }
}

.ecl-featured-item__description {
  color: map.get($featured-item, 'description', 'color');
  font: map.get($featured-item, 'description', 'font');
  max-width: map.get($featured-item, 'max-width');

  .ecl-featured-item__title + & {
    margin-block-start: map.get($featured-item, 'description', 'spacing');
  }

  &:first-child,
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.ecl-featured-item__link {
  align-self: flex-start;
  font: map.get($featured-item, 'link', 'font');
  max-width: map.get($featured-item, 'max-width');

  .ecl-featured-item__info + & {
    margin-block-start: map.get($featured-item, 'link', 'spacing');
  }

  &:dir(rtl) .ecl-icon {
    transform: scaleX(1);
  }
}

// Content alignment
.ecl-featured-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ecl-featured-item__link {
    align-self: flex-start;
  }

  .ecl-featured-item--hcenter & {
    align-items: center;
    text-align: center;

    .ecl-featured-item__link {
      align-self: auto;
    }
  }

  .ecl-featured-item--vcenter & {
    justify-content: center;
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-featured-item__container {
    flex-direction: row-reverse;
  }

  .ecl-featured-item__micro-title + .ecl-featured-item__title {
    margin-block-start: map.get($featured-item, 'title', 'spacing-tablet');
  }

  .ecl-featured-item__item:first-child {
    margin-block-start: 0;
    padding-inline: map.get($featured-item, 'gap-horizontal') 0;
  }

  .ecl-featured-item__container--right {
    flex-direction: row;

    .ecl-featured-item__item:first-child {
      padding-inline: 0 map.get($featured-item, 'gap-horizontal');
    }
  }

  .ecl-featured-item:not(.ecl-featured-item--highlight) {
    .ecl-featured-item__item:only-child {
      padding-inline-start: 0;
    }
  }

  // Dynamic height image
  .ecl-featured-item--dynamic {
    .ecl-featured-item__media_container,
    .ecl-media-container__figure,
    .ecl-media-container__picture,
    .ecl-media-container__media {
      height: 100%;
    }
  }
}

/**
* Highlight
*/
.ecl-featured-item--highlight {
  .ecl-featured-item__container {
    background-color: map.get(
      $featured-item,
      'highlight',
      'container',
      'background-color'
    );
    border-inline-start: map.get($featured-item, 'highlight', 'border-size')
      solid map.get($featured-item, 'highlight', 'border-color');
    padding-block: map.get(
      $featured-item,
      'highlight',
      'container',
      'padding-block-mobile'
    );
    padding-inline: map.get(
      $featured-item,
      'highlight',
      'container',
      'padding-inline-mobile'
    );
  }

  .ecl-featured-item__item:first-child {
    background-color: map.get(
      $featured-item,
      'highlight',
      'item',
      'background-color'
    );
    display: flex;
    flex-direction: column;
    padding-block: map.get(
      $featured-item,
      'highlight',
      'item',
      'padding-block-mobile'
    );
    padding-inline: map.get(
      $featured-item,
      'highlight',
      'item',
      'padding-inline-mobile'
    );
  }

  .ecl-featured-item__micro-title {
    color: map.get($featured-item, 'highlight', 'micro-title', 'color');
  }

  .ecl-featured-item__title {
    color: map.get($featured-item, 'highlight', 'title', 'color');
  }

  .ecl-featured-item__description {
    color: map.get($featured-item, 'highlight', 'description', 'color');

    .ecl *,
    .ecl a:hover,
    .ecl a:focus-visible,
    .ecl a:visited,
    .ecl a:active {
      color: map.get($featured-item, 'highlight', 'description', 'color');
    }
  }

  .ecl-featured-item__info + .ecl-featured-item__link {
    margin-block-start: map.get($featured-item, 'highlight', 'link', 'spacing');
  }

  .ecl-featured-item__link:not(
    .ecl-link--primary-neutral,
    .ecl-link--secondary-inverted,
    .ecl-link--standalone
  ) {
    --ecl-link-color: #{map.get($featured-item, 'highlight', 'link', 'color')};
    --ecl-link-color-hover: #{map.get(
        $featured-item,
        'highlight',
        'link',
        'color'
      )};
    --ecl-link-color-active: #{map.get(
        $featured-item,
        'highlight',
        'link',
        'color'
      )};
    --ecl-focus-outline-color: #{map.get(
        $featured-item,
        'highlight',
        'link',
        'color'
      )};

    text-align: start;
    text-decoration: underline;
  }

  @if map.has-key($featured-item, 'highlight', 'button-dark') {
    .ecl-featured-item__link.ecl-link--secondary-inverted {
      @include link-component.link-button(primary-neutral);
    }
  }

  // Highlighted link
  &.ecl-featured-item--link-highlighted {
    .ecl-featured-item__info {
      flex-grow: 1;
    }

    &.ecl-featured-item--hcenter .ecl-featured-item__link {
      align-self: flex-start;
    }

    &.ecl-featured-item--vcenter .ecl-featured-item__info {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    // stylelint-disable-next-line no-descending-specificity
    .ecl-featured-item__link {
      --ecl-link-color: #{map.get(
          $featured-item,
          'highlight',
          'link',
          'color-highlighted'
        )};
      --ecl-link-color-hover: #{map.get(
          $featured-item,
          'highlight',
          'link',
          'color-highlighted'
        )};
      --ecl-link-color-active: #{map.get(
          $featured-item,
          'highlight',
          'link',
          'color-highlighted'
        )};
      --ecl-focus-outline-color: #{map.get(
          $featured-item,
          'highlight',
          'link',
          'color-highlighted'
        )};

      background-color: map.get(
        $featured-item,
        'highlight',
        'link',
        'background-color'
      );
      display: block;
      margin-block-end: calc(
        -1 *
          #{map.get(
            $featured-item,
            'highlight',
            'item',
            'padding-block-mobile'
          )}
      );
      margin-inline-end: 0;
      margin-inline-start: calc(
        -1 *
          #{map.get(
            $featured-item,
            'highlight',
            'item',
            'padding-inline-mobile'
          )}
      );
      width: clamp(
        1px,
        #{map.get($featured-item, 'highlight', 'link', 'max-width')},
        100%
      );
      padding: map.get($featured-item, 'highlight', 'link', 'padding-mobile');
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }

      &:focus-visible {
        outline-offset: -4px;
      }

      .ecl-link__icon {
        display: block;
        margin-block: var(--s-s) 0;
        margin-inline: 0;
      }
    }

    .ecl-featured-item__info + .ecl-featured-item__link {
      margin-block-start: map.get(
        $featured-item,
        'highlight',
        'link',
        'spacing-highlighted'
      );
    }
  }

  @include breakpoints.up('m') {
    .ecl-featured-item__container {
      padding-block: map.get(
        $featured-item,
        'highlight',
        'container',
        'padding-block-desktop'
      );
      padding-inline: map.get(
        $featured-item,
        'highlight',
        'container',
        'padding-inline-desktop'
      );
    }

    .ecl-featured-item__item:first-child {
      margin-block-start: 0;
      padding-block: map.get(
        $featured-item,
        'highlight',
        'item',
        'padding-block-desktop'
      );
      padding-inline: map.get(
        $featured-item,
        'highlight',
        'item',
        'padding-inline-desktop'
      );
      position: relative;
    }

    // Highlighted link
    &.ecl-featured-item--link-highlighted {
      .ecl-featured-item__link {
        margin-block-end: calc(
          -1 *
            #{map.get(
              $featured-item,
              'highlight',
              'item',
              'padding-block-desktop'
            )}
        );
        margin-inline-end: calc(
          -1 *
            #{map.get(
              $featured-item,
              'highlight',
              'item',
              'padding-inline-desktop'
            )}
        );
        margin-inline-start: auto;
        padding: map.get(
          $featured-item,
          'highlight',
          'link',
          'padding-desktop'
        );
      }

      .ecl-featured-item__container--right .ecl-featured-item__link,
      .ecl-featured-item__item:first-child:only-child .ecl-featured-item__link {
        margin-inline-end: 0;
        margin-inline-start: calc(
          -1 *
            #{map.get(
              $featured-item,
              'highlight',
              'item',
              'padding-inline-desktop'
            )}
        );
      }
    }
  }
}
