@mixin table() {
  border-collapse: collapse;
  border-width: 0;
  color: $ecl-color-shade;
  font-size: map-get($ecl-font-size, 's');
  margin: 0;
  table-layout: auto;
  width: 100%;

  th {
    background-color: transparent;
    font-weight: bold;
    text-align: left;
  }

  td,
  th {
    display: table-cell;
    padding: map-get($ecl-spacing, 'xs');
    vertical-align: middle;
  }
}

@mixin table-max-width-md() {
  thead {
    display: none;
  }

  tr {
    border-bottom: 1px solid map-get($ecl-colors, 'grey-50');
  }

  tr:nth-of-type(2n) {
    background-color: inherit;
  }

  td {
    display: block;
    padding: map-get($ecl-spacing, 'xxs');
    position: relative;
  }

  /* stylelint-disable-next-line selector-no-qualifying-type */
  td[data-th-group] {
    margin-top: map-get($ecl-spacing, 'l');
    padding-left: map-get($ecl-spacing, 'm');
  }

  td::before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
  }
}

@mixin table-min-width-md() {
  /* Zebra striping */
  tr:nth-of-type(even) {
    background-color: map-get($ecl-colors, 'grey-5');
  }

  tbody {
    /* Hover */
    /* stylelint-disable-next-line max-nesting-depth */
    tr:hover {
      background-color: map-get($ecl-colors, 'grey-10');
    }
  }

  thead {
    display: table-header-group;

    /* stylelint-disable-next-line max-nesting-depth, selector-max-compound-selectors */
    tr:first-child th {
      border-bottom: 1px solid $ecl-color-shade;
      vertical-align: top;
    }

    /* stylelint-disable-next-line max-nesting-depth */
    tr:last-child:not(:first-child) {
      border-bottom: 3px solid $ecl-color-shade;
    }
  }
}
