/* stylelint-disable no-descending-specificity */

/**
 * Footer Core component
 * @define footer-core
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_bg-color: map.get(theme.$color, 'blue');
$_separator-color: map.get(theme.$color, 'blue-50');
$_text-color: map.get(theme.$color, 'white');
$_column-gap: map.get(theme.$grid-gutter-width, 'm');

/*
  * Global rules
  */
.ecl-footer-core {
  background-color: $_bg-color;
  color: $_text-color;
  display: flex;
  margin: 0;
  padding-bottom: map.get(theme.$spacing, 'xl');
  padding-top: map.get(theme.$spacing, 'xs');
}

.ecl-footer-core__row {
  border-bottom: 1px solid $_separator-color;
  font: map.get(theme.$font, 'm');
  padding-bottom: map.get(theme.$spacing, 'l');

  /* stylelint-disable-next-line max-nesting-depth */
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.ecl-footer-core__section {
  padding-top: map.get(theme.$spacing, 'l');

  /* stylelint-disable-next-line max-nesting-depth */
  > :first-child {
    margin-top: 0;
  }
}

.ecl-footer-core__section--separator {
  border-bottom: 1px solid $_separator-color;
  padding-bottom: map.get(theme.$spacing, 'l');
}

.ecl-footer-core__list-item {
  margin-top: map.get(theme.$spacing, 'm');

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-footer-core__title {
  color: $_text-color;
  font: map.get(theme.$font, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin: 0;
}

.ecl-footer-core__title-link,
.ecl-footer-core__title-link:hover,
.ecl-footer-core__title-link:focus,
.ecl-footer-core__title-link:active {
  color: $_text-color;
}

.ecl-footer-core__description {
  color: map.get(theme.$color, 'blue-25');
  font: map.get(theme.$font-prolonged, 's');
  margin-top: map.get(theme.$spacing, 'xs');
}

.ecl-footer-core__list {
  list-style: none;
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing, 'xs');
  padding-left: 0;
}

.ecl-footer-core__link {
  font: map.get(theme.$font, 's');
}

.ecl-footer-core__link,
.ecl-footer-core__link:hover,
.ecl-footer-core__link:active,
.ecl-footer-core__link:focus {
  color: $_text-color;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-footer-core {
    padding-top: 0;
  }

  .ecl-footer-core__row {
    border-bottom-width: 2px;
    column-gap: $_column-gap;
    display: grid;
    grid-gap: 0 $_column-gap;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: map.get(theme.$spacing, 'xl');
  }

  .ecl-footer-core__column {
    &:last-child {
      display: grid;
      grid-column-end: 4;
      grid-column-start: 2;
      grid-gap: 0 $_column-gap;
      grid-template-columns: repeat(2, 1fr);

      > .ecl-footer-core__section:first-child {
        grid-column-end: 3;
        grid-column-start: 1;
      }
    }
  }

  .ecl-footer-core__section {
    padding-top: map.get(theme.$spacing, 'xl');
  }

  .ecl-footer-core__section--separator {
    border-bottom-width: 2px;
    padding-bottom: map.get(theme.$spacing, 'xl');
  }

  .ecl-footer-core__title,
  .ecl-footer-core__title:hover,
  .ecl-footer-core__title:focus,
  .ecl-footer-core__title:active {
    font: map.get(theme.$font-prolonged, 'm');
    font-weight: map.get(theme.$font-weight, 'bold');
  }

  .ecl-footer-core__content {
    font: map.get(theme.$font-prolonged, 's');
  }

  .ecl-footer-core__description {
    margin-top: map.get(theme.$spacing, 'xl');
  }

  .ecl-footer-core__list--columns {
    column-count: 2;
    column-gap: $_column-gap;
  }

  .ecl-footer-core__link {
    font: map.get(theme.$font-prolonged, 's');
  }
}
