/**
 * Footer Core component
 * @define footer-core
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';
@use "@ecl/theme-dev/maps/layout";
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_bg-color: map.get(color.$color, 'blue');
$_separator-color: map.get(color.$color, 'blue-50');
$_text-color: map.get(color.$color, 'white');
$_column-gap: map.get(layout.$grid-gutter-width, 'white');

/*
 * Global rules
 */
.ecl-footer-core {
  background-color: $_bg-color;
  color: $_text-color;
  margin: 0;
  padding-bottom: map.get(spacing.$spacing, 'xl');
}

.ecl-footer-core__container {
  display: flex;
  flex-direction: column;
}

.ecl-footer-core__section {
  font: map.get(typography.$font, 'm');
  margin-top: map.get(spacing.$spacing, 'l');

  &:first-of-type {
    margin-top: map.get(spacing.$spacing, 'xl');
  }

  > :first-child {
    margin-top: 0;
  }
}

.ecl-footer-core__section--separator {
  border-bottom: 1px solid $_separator-color;
  padding-bottom: map.get(spacing.$spacing, 'l');
}

.ecl-footer-core__title,
.ecl-footer-core__title:hover,
.ecl-footer-core__title:focus,
.ecl-footer-core__title:active {
  color: $_text-color;
  font: map.get(typography.$font, 'm');
  font-weight: map.get(typography.$font-weight, 'bold');
}

.ecl-footer-core__title--separator {
  border-bottom: 1px solid $_separator-color;
  padding-bottom: map.get(spacing.$spacing, 'xs');
}

.ecl-footer-core__description {
  color: map.get(color.$color, 'blue-25');
  font: map.get(typography.$font-prolonged, 's');
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-footer-core__content {
  font: map.get(typography.$font, 's');
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-footer-core__list {
  list-style: none;
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing, 'xs');
  padding-left: 0;
}

.ecl-footer-core__list-item {
  margin-top: map.get(spacing.$spacing, 'm');

  .ecl-footer-core__list--condensed & {
    margin-top: map.get(spacing.$spacing, 'xs');
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-footer-core__list--inline {
  display: inline-flex;
  flex-wrap: wrap;

  .ecl-footer-core__list-item {
    margin-right: map.get(spacing.$spacing, 'l');
    margin-top: 0;

    /* stylelint-disable-next-line max-nesting-depth */
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.ecl-footer-core__link {
  font: map.get(typography.$font, 's');
}

.ecl-footer-core__link,
.ecl-footer-core__link:hover,
.ecl-footer-core__link:active,
.ecl-footer-core__link:focus {
  color: $_text-color;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-footer-core__section {
    margin-top: map.get(spacing.$spacing, 'xl');
  }

  .ecl-footer-core__section--separator {
    border-bottom-width: 2px;
    padding-bottom: map.get(spacing.$spacing, 'xl');
  }

  .ecl-footer-core__title,
  .ecl-footer-core__title:hover,
  .ecl-footer-core__title:focus,
  .ecl-footer-core__title:active {
    font: map.get(typography.$font-prolonged, 'm');
    font-weight: map.get(typography.$font-weight, 'bold');
  }

  .ecl-footer-core__title--separator {
    border-bottom-width: 2px;
  }

  .ecl-footer-core__description {
    margin-top: map.get(spacing.$spacing, 'xl');
  }

  .ecl-footer-core__list--columns {
    column-count: 2;
    column-gap: $_column-gap;
  }

  .ecl-footer-core__link {
    font: map.get(typography.$font-prolonged, 's');
  }
}

/*
 * Section related rules
 */
.ecl-footer-core__section4 {
  margin-top: map.get(spacing.$spacing, 'm');
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  /* Grid layout */
  .ecl-footer-core__container {
    column-gap: $_column-gap;
    display: grid;
    grid-gap: 0 $_column-gap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    row-gap: 0;
  }

  .ecl-footer-core__section1 {
    grid-area: 1 / 1 / 3 / 2;
  }

  .ecl-footer-core__section2 {
    grid-area: 1 / 2 / 2 / 4;
  }

  .ecl-footer-core__section3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .ecl-footer-core__section4 {
    grid-area: 2 / 3 / 3 / 4;
    margin-top: map.get(spacing.$spacing, 'xl');
  }
}
