/**
 * Label
 * @define label
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';

$_border-radius: null !default;
$_text-color: null !default;
$_border-width: null !default;
$_border-color: null !default;
$_background-color: null !default;

.ecl-label {
  border-radius: $_border-radius;
  color: $_text-color;
  display: inline-block;
  font: map.get(theme.$font-print, 'xs');
  font-family: #{map.get(theme.$font-family-print, 'alt')};
  margin: 0;
  text-transform: uppercase;
}

.ecl-label--low {
  background-color: map.get($_background-color, 'low');
  border: map.get($_border-width, 'low') solid map.get($_border-color, 'low');
  padding: calc(
      #{map.get(theme.$spacing-print, 'xs')} - #{map.get($_border-width, 'low')}
    )
    calc(
      #{map.get(theme.$spacing-print, 's')} - #{map.get($_border-width, 'low')}
    );
}

.ecl-label--medium {
  background-color: map.get($_background-color, 'medium');
  border: map.get($_border-width, 'medium') solid
    map.get($_border-color, 'medium');
  padding: calc(
      #{map.get(theme.$spacing-print, 'xs')} - #{map.get(
          $_border-width,
          'medium'
        )}
    )
    calc(
      #{map.get(theme.$spacing-print, 's')} - #{map.get(
          $_border-width,
          'medium'
        )}
    );
}

.ecl-label--high {
  background-color: map.get($_background-color, 'high');
  border: map.get($_border-width, 'high') solid map.get($_border-color, 'high');
  padding: calc(
      #{map.get(theme.$spacing-print, 'xs')} - #{map.get(
          $_border-width,
          'high'
        )}
    )
    calc(
      #{map.get(theme.$spacing-print, 's')} - #{map.get($_border-width, 'high')}
    );
}

.ecl-label--highlight {
  background-color: map.get($_background-color, 'highlight');
  border: map.get($_border-width, 'highlight') solid
    map.get($_border-color, 'highlight');
  color: map.get(theme.$color, 'white-100');
  padding: calc(
      #{map.get(theme.$spacing-print, 'xs')} - #{map.get(
          $_border-width,
          'highlight'
        )}
    )
    calc(
      #{map.get(theme.$spacing-print, 's')} - #{map.get(
          $_border-width,
          'highlight'
        )}
    );
}
