/**
 * Label
 * @define label
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/typography';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/color';

.ecl-label {
  background-color: map.get(color.$color, 'grey-15');
  display: inline-block;
  font: map.get(typography.$font-print, 'xs');
  font-family: map.get(typography.$font-family-print, 'alt');
  margin: 0;
  padding: map.get(spacing.$spacing-print, '2xs')
    map.get(spacing.$spacing-print, 'm');
  text-transform: uppercase;
}

.ecl-label--low {
  background-color: map.get(color.$color, 'grey-15');
}

.ecl-label--medium {
  background-color: map.get(color.$color, 'yellow-25');
}

.ecl-label--high {
  background-color: map.get(color.$color, 'yellow');
}

.ecl-label--highlight {
  background-color: map.get(color.$color, 'blue');
  color: map.get(color.$color, 'white');
}
