/**
 * Label
 * @define label
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

.ecl-label {
  background-color: map.get(theme.$color, 'grey-15');
  display: inline-block;
  font: map.get(theme.$font, 'xs');
  margin: 0;
  padding: map.get(theme.$spacing, '2xs') map.get(theme.$spacing, 'm');
  text-transform: uppercase;
}

.ecl-label--low {
  background-color: map.get(theme.$color, 'grey-15');
}

.ecl-label--medium {
  background-color: map.get(theme.$color, 'yellow-25');
}

.ecl-label--high {
  background-color: map.get(theme.$color, 'yellow');
}

.ecl-label--highlight {
  background-color: map.get(theme.$color, 'blue');
  color: map.get(theme.$color, 'white');
}
