// ECL page header

.ecl-page-header {
  background-color: $ecl-color-primary;
  color: #fff;

  &__body {
    padding: 0 map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'xxs');
  }

  &__meta {
    margin-top: map-get($ecl-spacing, 's');
  }

  &__title {
    margin-top: map-get($ecl-spacing, 'm');
  }

  &__identity {
    color: map-get($ecl-colors, 'blue-25');
    font-size: map-get($ecl-font-size, 'l');
    margin-top: map-get($ecl-spacing, 'xxs');
  }
}

.ecl-page-header--image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
