/**
 * Button component
 * @define button
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-button-print(
  $border-width: 1.5pt,
  $padding-horizontal: $ecl-spacing-print-s,
  $padding-vertical: $ecl-spacing-print-m
) {
  .ecl-button {
    appearance: none;
    background: none;
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    font: $ecl-font-print-m;
    font-family: $ecl-font-family-print-alt;
    font-weight: $ecl-font-weight-print-bold;
    margin: 0;
    padding: $padding-horizontal $padding-vertical;
    text-decoration: none;

    &[disabled] {
      text-decoration: none;
    }
  }

  .ecl-button__container {
    align-items: center;
    display: flex;
  }

  .ecl-button__label {
    text-align: left;
  }

  .ecl-button__icon {
    flex-shrink: 0;
  }

  .ecl-button__icon--before,
  .ecl-button__icon + .ecl-button__label {
    margin-right: $ecl-spacing-print-xs;
  }

  .ecl-button__icon--after,
  .ecl-button__label + .ecl-button__icon {
    margin-left: $ecl-spacing-print-xs;
  }

  /*
   * Primary
   */
  .ecl-button--primary {
    background-color: $ecl-color-blue-100;
    color: $ecl-color-white-100;

    &[disabled] {
      background-color: $ecl-color-blue-25;
      border-color: $ecl-color-blue-25;
      color: $ecl-color-white-100;
    }
  }

  /*
   * Secondary
   */
  .ecl-button--secondary {
    background-color: $ecl-color-white-100;
    border: $border-width solid $ecl-color-blue-100;
    color: $ecl-color-blue-100;
    padding: calc(#{$padding-horizontal} - #{$border-width})
      calc(#{$padding-vertical} - #{$border-width});

    &[disabled] {
      background-color: $ecl-color-white-100;
      border-color: $ecl-color-blue-25;
      border-width: $border-width;
      color: $ecl-color-blue-25;
      padding: calc(#{$padding-horizontal} - #{$border-width})
        calc(#{$padding-vertical} - #{$border-width});
    }
  }

  /*
   * Ghost
   */
  .ecl-button--ghost {
    color: $ecl-color-blue-100;

    &[disabled] {
      color: $ecl-color-blue-25;
    }
  }

  /*
   * Call to action
   */
  .ecl-button--call {
    background-color: $ecl-color-yellow-100;
    color: $ecl-color-black-100;

    &[disabled] {
      background-color: $ecl-color-yellow-25;
      border-color: $ecl-color-yellow-25;
      color: $ecl-color-grey-50;
    }
  }

  /*
   * Search
   */
  .ecl-button--search {
    background-color: $ecl-color-grey-10;
    color: $ecl-color-blue-100;

    &[disabled] {
      background-color: $ecl-color-grey-5;
      color: $ecl-color-grey-50;
    }
  }
}

// Use mixin
@include exports('ec-component-button-print') {
  @include ecl-button-print;
}
