/*
File upload

Markup: html/file-upload.html

Style guide: form.file-upload
*/

.file-upload {
  .file-upload__input {
    display: table;
    table-layout: fixed;
    margin: 0;
    white-space: nowrap;

    &:focus {
      border-color: $ec-yellow;

      @include focus-outline-border(3px, $ec-yellow, 0, none);
    }
  }

  .file-upload__message {
    display: table-cell;
    overflow: hidden;
    line-height: 1.8;
    color: $ec-grey75;
    text-overflow: ellipsis;
  }

  .input-group-btn {
    font-size: inherit;
  }

  .input-group {
    width: 100%;

    .file + .input-group-btn {
      display: block;
    }
  }

  .file-upload__label {
    display: inline-block;
    max-width: none;
    background-color: $ec-grey;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 2px solid $ec-grey;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: $ec-yellow;
    }
  }

  .has-error & {
    .file-upload__label {
      border-color: $ec-red-n;
      background-color: $ec-red-n;
    }
  }

  input[type="file"] {
    display: none;
  }

  .no-js & {
    .file-upload__input,
    .file-upload__label {
      display: none;
    }

    input[type="file"] {
      display: block;
    }
  }

  @include media-breakpoint-up(xs) {
    .file-upload__message {
      line-height: 1.9;
    }
  }
}
