/**
 * Timeline
 * @define timeline
 */

$ecl-timeline-bullet-size: 14px !default;
$ecl-timeline-border-width: 4px !default;

.ecl-timeline {
  border-left: $ecl-timeline-border-width solid map-get($ecl-colors, 'yellow-100');
  margin: 0;
  padding: 0;
}

.ecl-timeline__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.ecl-timeline__item--over-limit {
  display: none;
}

.no-js {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  .ecl-timeline__item--over-limit {
    display: list-item;
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  .ecl-timeline__button {
    display: none;
  }
}

.ecl-timeline__title {
  font-weight: bold;
  position: relative;

  &::before {
    background-color: #fff;
    border: 3px solid map-get($ecl-colors, 'grey-100');
    border-radius: 50%;
    content: '';
    height: $ecl-timeline-bullet-size;
    left: -(($ecl-timeline-bullet-size + $ecl-timeline-border-width) / 2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $ecl-timeline-bullet-size;
  }
}

.ecl-timeline__body {
  color: $ecl-color-shade;
}
