{#
  Accepts:
    - "items" (array): array of objects containing
      - "title" (string): entry's title
      - "body" (string): entry's body text (HTML)
#}

{# Internal properties #}

{% set _css_class = 'ecl-timeline' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

<ul class="{{ _css_class }}" {{ _extra_attributes }}>
  {% for item in items %}
  <li class="ecl-timeline__item">
    <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">{{ item.title }}</div>
    <div class="ecl-timeline__body">{{ item.body }}</div>
  </li>
  {% endfor %}
</ul>
