/**
 * Page header core
 * @define page-header-core; weak
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

.ecl-page-header-core {
  background-color: map.get(theme.$color, 'blue-100');
  margin: 0;
  padding-bottom: map.get(theme.$spacing, 'xl');

  .ecl-container > :first-child:not(.ecl-page-header-core__breadcrumb) {
    margin-top: 0;
    padding-top: map.get(theme.$spacing, 'xl');
  }
}

.ecl-page-header-core__breadcrumb {
  margin-bottom: map.get(theme.$spacing, 'xl');
}

.ecl-page-header-core__meta {
  color: map.get(theme.$color, 'white-100');
  font: map.get(theme.$font, 'm');
}

.ecl-page-header-core__meta-item {
  border-right: 1px solid map.get(theme.$color, 'white-100');
  margin-right: map.get(theme.$spacing, 'm');
  padding-right: map.get(theme.$spacing, 'm');

  &:first-of-type {
    text-transform: uppercase;
  }

  &:last-of-type {
    border-right-width: 0;
    margin-right: 0;
    padding-right: 0;
  }
}

.ecl-page-header-core__title {
  color: map.get(theme.$color, 'white-100');
  font: map.get(theme.$font, '3xl');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing, 'm');
}

.ecl-page-header-core__description-container {
  align-items: flex-start;
  display: flex;
  margin-top: map.get(theme.$spacing, 'm');
}

.ecl-page-header-core__description-thumbnail {
  border: 1px solid map.get(theme.$color, 'blue-5');
  margin-right: map.get(theme.$spacing, 'm');
  max-width: 120px;
}

.ecl-page-header-core__description {
  color: map.get(theme.$color, 'white-100');
  font: map.get(theme.$font-prolonged, 'xl');
  margin-bottom: 0;
  margin-top: 0;
  max-width: 80ch;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-page-header-core__title {
    font: map.get(theme.$font, '4xl');
    font-weight: map.get(theme.$font-weight, 'bold');
  }
}

/*
 * background image variant
 */
.ecl-page-header-core--image {
  position: relative;

  .ecl-page-header-core__breadcrumb {
    background-color: transparent;
  }

  .ecl-page-header-core__background {
    background-position: 0 0;
    background-size: cover;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.ecl-page-header-core--overlay-dark {
  .ecl-page-header-core__background::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.ecl-page-header-core--overlay-light {
  .ecl-page-header-core__background::before {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
