/**
 * Page header core
 * @define page-header-core
 */

@use "sass:map";
@use '@ecl/tokens/maps/color';
@use '@ecl/tokens/maps/spacing';
@use '@ecl/tokens/maps/typography';

.ecl-page-header-core {
  padding-bottom: map.get(spacing.$spacing-print, 'xl');
  padding-top: map.get(spacing.$spacing-print, 'xl');
}

.ecl-page-header-core__meta {
  color: map.get(color.$color, 'grey');
  font: map.get(typography.$font-print, 'm');
  font-family: map.get(typography.$font-family-print, 'alt');
}

.ecl-page-header-core__title {
  color: map.get(color.$color, 'grey');
  font: map.get(typography.$font-print, '4xl');
  font-family: map.get(typography.$font-family-print, 'alt');
  font-weight: map.get(typography.$font-weight-print, 'bold');
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing-print, 'm');
}

.ecl-page-header-core__description {
  font: map.get(spacing.$spacing-print, 'xl');
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing-print, 'm');
}

.ecl-page-header-core--image {
  background-image: none !important;
}
