/**
 * Page header core
 * @define page-header-core
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

.ecl-page-header-core {
  padding-bottom: map.get(theme.$spacing-print, 'xl');
  padding-top: map.get(theme.$spacing-print, 'xl');
}

.ecl-page-header-core__meta {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-print, 'm');
  font-family: map.get(theme.$font-family-print, 'alt');
}

.ecl-page-header-core__meta-item {
  border-right: 1px solid map.get(theme.$color, 'grey-100');
  margin-right: map.get(theme.$spacing-print, 'm');
  padding-right: map.get(theme.$spacing-print, 'm');

  &:first-of-type {
    text-transform: uppercase;
  }

  &:last-of-type {
    border-right-width: 0;
    margin-right: 0;
    padding-right: 0;
  }
}

.ecl-page-header-core__title {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-print, '4xl');
  font-family: map.get(theme.$font-family-print, 'alt');
  font-weight: map.get(theme.$font-weight-print, 'bold');
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'm');
}

.ecl-page-header-core__description {
  font: map.get(theme.$spacing-print, 'xl');
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'm');
}

.ecl-page-header-core--image {
  background-image: none !important;
}
