/**
 * Page header core
 * @define page-header-core
 */

@use "sass:map";
@use '@ecl/tokens/maps/color';
@use '@ecl/tokens/maps/spacing';
@use '@ecl/tokens/maps/typography';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

.ecl-page-header-core {
  background-color: map.get(color.$color, 'blue');
  margin: 0;
  padding-bottom: map.get(spacing.$spacing, 'xl');
}

.ecl-page-header-core__breadcrumb {
  margin-bottom: map.get(spacing.$spacing, 'xl');
}

.ecl-page-header-core__meta {
  color: map.get(color.$color, 'white');
  font: map.get(typography.$font, 'm');
  text-transform: uppercase;
}

.ecl-page-header-core__title {
  color: map.get(color.$color, 'white');
  font: map.get(typography.$font, '3xl');
  font-weight: map.get(typography.$font-weight, 'bold');
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing, 'm');
}

.ecl-page-header-core__description {
  color: map.get(color.$color, 'white');
  font: map.get(typography.$font-prolonged, 'l');
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing, 'm');
  max-width: 80ch;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-page-header-core__title {
    font: map.get(typography.$font, '4xl');
    font-weight: map.get(typography.$font-weight, 'bold');
  }

  .ecl-page-header-core__description {
    font: map.get(typography.$font-prolonged, 'xl');
  }
}

/*
 * background image variant
 */
.ecl-page-header-core--image {
  background-position: 0 0;
  background-size: cover;
  position: relative;

  &::before {
    background-image: linear-gradient(
      90deg,
      rgba(0, 68, 148, 1) 0%,
      rgba(0, 68, 148, 0.7) 100%
    );
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .ecl-page-header-core__breadcrumb {
    background-color: transparent;
  }
}
