/**
 * ECL Link blocks
 * @define link-block
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-link-block() {
  .ecl-link-block {
    background-color: map-get($ecl-colors, 'grey-5');
    margin: 0;
    padding: map-get($ecl-spacing, 'xxxs') 0;
  }

  .ecl-link-block__title {
    color: map-get($ecl-colors, 'blue-110');
    font-size: map-get($ecl-font-size, 's');
    font-weight: 600;
    padding: map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 's')
      map-get($ecl-spacing, 'xxs');
  }

  .ecl-link-block__list {
    font-size: map-get($ecl-font-size, 's');
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .ecl-link-block__item {
    white-space: nowrap;
  }

  .ecl-link-block__link {
    display: block;
    line-height: 2;
    padding: 0 map-get($ecl-spacing, 's');
  }
}
