/**
 * Select component
 * @define select; weak;
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-select(
  $border-color: $ecl-color-grey-100,
  $border-width: 1px,
  $border-color-hover: $ecl-color-blue-100,
  $border-color-focus: $ecl-color-yellow-100,
  $border-width-focus: 3px,
  $arrow-width: 2.75rem
) {
  .ecl-select {
    appearance: none;
    background-color: transparent;
    border: $border-width solid $border-color;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: $ecl-color-text;
    display: block;
    font: $ecl-font-m;
    margin: 0;
    padding: calc(#{$ecl-spacing-s} - #{$border-width})
      calc(#{$ecl-spacing-s} + #{$arrow-width} - #{$border-width})
      calc(#{$ecl-spacing-s} - #{$border-width})
      calc(#{$ecl-spacing-s} - #{$border-width});
    width: 100%;
    z-index: 1;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      border-color: $border-color-hover;
    }

    &:focus {
      outline: $border-width-focus solid $border-color-focus;
      outline-offset: -3px;
    }
  }

  .ecl-select__container {
    background-color: $ecl-color-white-100;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
  }

  .ecl-select__container--s {
    width: 50%;

    @include ecl-media-breakpoint-up('md') {
      width: 30%;
    }

    @include ecl-media-breakpoint-up('lg') {
      width: $ecl-width-form-s;
    }
  }

  .ecl-select__container--m {
    width: 100%;

    @include ecl-media-breakpoint-up('md') {
      width: 50%;
    }

    @include ecl-media-breakpoint-up('lg') {
      width: $ecl-width-form-m;
    }
  }

  .ecl-select__container--l {
    width: 100%;

    @include ecl-media-breakpoint-up('lg') {
      width: $ecl-width-form-l;
    }
  }

  .ecl-select__container--hidden {
    margin-top: 0 !important;

    .ecl-select {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute !important;
      width: 1px;
    }
  }

  .ecl-select__icon {
    align-items: center;
    background-color: $border-color;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: $arrow-width;
    z-index: 0;
  }

  .ecl-select:hover + .ecl-select__icon {
    background-color: $border-color-hover;
  }

  .ecl-select:focus + .ecl-select__icon {
    background-color: $border-color;
  }

  .ecl-select__icon-shape {
    fill: $ecl-color-white-100;
  }

  /*
   * Disabled
   */
  .ecl-select__container--disabled {
    background-color: $ecl-color-grey-5;

    /* stylelint-disable-next-line no-descending-specificity */
    .ecl-select__icon,
    .ecl-select:hover + .ecl-select__icon,
    .ecl-select:focus + .ecl-select__icon {
      background-color: $ecl-color-grey-50;
    }

    .ecl-select__icon-shape {
      fill: $ecl-color-grey-5;
    }

    .ecl-select {
      border-color: $ecl-color-grey-50;
      color: $ecl-color-grey-50;
      cursor: not-allowed;
    }
  }

  // DEPRECATED
  .ecl-select[disabled],
  .ecl-select[readonly] {
    border-color: $ecl-color-grey-50;
    color: $ecl-color-grey-50;
    cursor: not-allowed;
  }

  /*
   * Invalid
   */
  .ecl-select__container--invalid {
    /* stylelint-disable-next-line no-descending-specificity */
    .ecl-select__icon {
      background-color: $ecl-color-error;
    }

    .ecl-select:hover + .ecl-select__icon,
    .ecl-select:focus + .ecl-select__icon {
      background-color: $ecl-color-red-130;
    }

    .ecl-select {
      border-color: $ecl-color-error;
      box-shadow: none;
    }

    .ecl-select:hover,
    .ecl-select:focus {
      border-color: $ecl-color-red-130;
    }
  }

  // DEPRECATED
  .ecl-select--invalid {
    border-color: $ecl-color-error;
    box-shadow: none;

    /* stylelint-disable-next-line no-descending-specificity */
    + .ecl-select__icon {
      background-color: $ecl-color-error;
    }

    &:hover {
      border-color: $ecl-color-red-130;

      /* stylelint-disable-next-line */
      + .ecl-select__icon {
        background-color: $ecl-color-red-130;
      }
    }
  }

  /*
   * Multiple
   */
  // stylelint-disable-next-line no-descending-specificity
  .ecl-select[multiple] + .ecl-select__icon {
    display: none;
  }

  .ecl-select__multiple {
    position: relative;

    .ecl-select__multiple-toggle[readonly] {
      border-color: $ecl-color-grey;
      color: $ecl-color-grey;
      cursor: default;
    }

    .ecl-select__multiple-dropdown {
      background-color: $ecl-color-grey-5;
      border: 1px solid $ecl-color-grey-15;
      box-sizing: border-box;
      margin-top: $ecl-spacing-xs;
      position: absolute;
      z-index: $ecl-z-index-dropdown;
    }

    .ecl-text-input {
      width: 100%;
    }

    .ecl-select__multiple-all {
      border-bottom: 1px solid $ecl-color-grey-25;
      margin-bottom: $ecl-spacing-xs;
    }

    .ecl-checkbox:last-of-type {
      margin-bottom: $ecl-spacing-xs;
    }

    .ecl-checkbox__label {
      padding-bottom: $ecl-spacing-xs;
      padding-left: $ecl-spacing-m;
      padding-right: $ecl-spacing-m;
      padding-top: $ecl-spacing-xs;
      width: calc(100% - #{$ecl-spacing-m} - #{$ecl-spacing-m});
    }

    .ecl-checkbox__label:hover,
    .ecl-checkbox__label:focus {
      background-color: $ecl-color-grey-15;
    }

    .ecl-select__multiple-all .ecl-checkbox__label {
      margin-bottom: $ecl-spacing-xs;
    }

    .ecl-checkbox:first-of-type .ecl-checkbox__label {
      margin-top: $ecl-spacing-xs;
    }
  }
}

// Use mixin
@include exports('eu-component-form-select') {
  @include ecl-select;
}
