/*
 * Date block
 * @define date-block
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-date-block(
  $background-default: $ecl-color-blue,
  $text-color-default: $ecl-color-white,
  $separator-color-default: $ecl-color-grey-25,
  $year-background-default: $ecl-color-grey-10,
  $year-text-color-default: $ecl-color-grey,
  $background-ongoing: $ecl-color-yellow,
  $text-color-ongoing: $ecl-color-grey,
  $separator-color-ongoing: $ecl-color-grey-25,
  $year-background-ongoing: $ecl-color-grey-10,
  $year-text-color-ongoing: $ecl-color-grey,
  $background-canceled: $ecl-color-grey-10,
  $text-color-canceled: $ecl-color-grey,
  $separator-color-canceled: $ecl-color-grey-25,
  $year-background-canceled: $ecl-color-grey-10,
  $year-text-color-canceled: $ecl-color-grey,
  $background-past: $ecl-color-white,
  $text-color-past: $ecl-color-grey,
  $separator-color-past: $ecl-color-grey-50,
  $year-background-past: $ecl-color-white,
  $year-text-color-past: $ecl-color-grey,
  $width-mobile: 5rem,
  $width-desktop: 6.3rem,
  $circle-width: 0.6rem
) {
  .ecl-date-block {
    background-color: $background-default;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: $width-mobile;

    &::before {
      background-color: $ecl-color-white;
      border-radius: 50%;
      box-sizing: content-box;
      content: '';
      display: block;
      height: $circle-width;
      left: $ecl-spacing-s;
      position: absolute;
      top: -#{$circle-width / 2};
      width: $circle-width;
    }

    &::after {
      background-color: $ecl-color-white;
      border-radius: 50%;
      box-sizing: content-box;
      content: '';
      display: block;
      height: $circle-width;
      position: absolute;
      right: $ecl-spacing-s;
      top: -#{$circle-width / 2};
      width: $circle-width;
    }
  }

  .ecl-date-block__day {
    color: $text-color-default;
    font: $ecl-font-2-xl;
    font-weight: $ecl-font-weight-bold;
    padding-left: $ecl-spacing-2-xs;
    padding-right: $ecl-spacing-2-xs;
    padding-top: $ecl-spacing-xs;
  }

  .ecl-date-block__month {
    color: $text-color-default;
    font: $ecl-font-m;
    padding-bottom: $ecl-spacing-2-xs;
    padding-left: $ecl-spacing-2-xs;
    padding-right: $ecl-spacing-2-xs;
    text-decoration: none !important;
    text-transform: uppercase;
  }

  .ecl-date-block__year {
    background-color: $year-background-default;
    border-top: 1px solid $separator-color-default;
    color: $year-text-color-default;
    font: $ecl-font-s;
    padding: $ecl-spacing-2-xs;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('lg') {
    .ecl-date-block {
      width: $width-desktop;
    }

    .ecl-date-block__month {
      padding-bottom: $ecl-spacing-xs;
    }

    .ecl-date-block__year {
      padding-bottom: $ecl-spacing-xs;
      padding-top: $ecl-spacing-xs;
    }
  }

  // ongoing
  .ecl-date-block--ongoing {
    background-color: $background-ongoing;

    .ecl-date-block__day,
    .ecl-date-block__month {
      color: $text-color-ongoing;
    }

    .ecl-date-block__year {
      background-color: $year-background-ongoing;
      border-top-color: $separator-color-ongoing;
      color: $year-text-color-ongoing;
    }
  }

  // canceled
  .ecl-date-block--canceled {
    background-color: $background-canceled;

    .ecl-date-block__day,
    .ecl-date-block__month {
      color: $text-color-canceled;
    }

    .ecl-date-block__year {
      background-color: $year-background-canceled;
      border-top-color: $separator-color-canceled;
      color: $year-text-color-canceled;
    }
  }

  // past
  .ecl-date-block--past {
    background-color: $background-past;
    border-top-color: $separator-color-past;
    outline: 1px solid $separator-color-past;
    outline-offset: -1px;

    &::before,
    &::after {
      border: 1px solid $separator-color-past;
    }

    .ecl-date-block__day,
    .ecl-date-block__month {
      color: $text-color-past;
    }

    .ecl-date-block__year {
      background-color: $year-background-past;
      color: $year-text-color-past;
    }
  }
}

// Use mixin
@include exports('eu-component-date-block') {
  @include ecl-date-block;
}
