/*
 * Date block
 * @define date-block
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-date-block-print($circle-width: 0.6rem) {
  .ecl-date-block {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 6.3rem;

    &::before {
      background-color: $ecl-color-white;
      border: 1px solid $ecl-color-black;
      border-radius: 50%;
      box-sizing: content-box;
      content: '';
      display: block;
      height: $circle-width;
      left: $ecl-spacing-s;
      position: absolute;
      top: -#{$circle-width / 2};
      width: $circle-width;
    }

    &::after {
      background-color: $ecl-color-white;
      border: 1px solid $ecl-color-black;
      border-radius: 50%;
      box-sizing: content-box;
      content: '';
      display: block;
      height: $circle-width;
      position: absolute;
      right: $ecl-spacing-s;
      top: -#{$circle-width / 2};
      width: $circle-width;
    }
  }

  .ecl-date-block__day {
    border-left: 1px solid $ecl-color-black;
    border-right: 1px solid $ecl-color-black;
    border-top: 1px solid $ecl-color-black;
    color: $ecl-color-black;
    display: block;
    font: $ecl-font-print-2-xl;
    font-weight: $ecl-font-weight-bold;
    padding-left: $ecl-spacing-print-2-xs;
    padding-right: $ecl-spacing-print-2-xs;
    padding-top: $ecl-spacing-print-xs;
  }

  .ecl-date-block__month {
    border-left: 1px solid $ecl-color-black;
    border-right: 1px solid $ecl-color-black;
    color: $ecl-color-black;
    display: block;
    font: $ecl-font-print-m;
    padding-bottom: $ecl-spacing-print-xs;
    padding-left: $ecl-spacing-print-2-xs;
    padding-right: $ecl-spacing-print-2-xs;
    text-decoration: none !important;
    text-transform: uppercase;
  }

  .ecl-date-block__year {
    border: 1px solid $ecl-color-black;
    color: $ecl-color-black;
    display: block;
    font: $ecl-font-print-s;
    padding: $ecl-spacing-print-xs $ecl-spacing-print-2-xs;
  }
}

// Use mixin
@include exports('eu-component-date-block-print') {
  @include ecl-date-block-print;
}
