/*
 * Expandable print
 * @define expandable
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;

.ecl-expandable {
  margin: 0;
}

.ecl-expandable__toggle {
  display: none;
}

.ecl-expandable__content {
  display: block;
  font-family: #{map.get($theme, 'font-family-print', 'default')};
}
