/**
 * Dialog
 * @define dialog
 */

.ecl-dialog {
  background-color: #fff;
  left: 50%;
  margin: 0;
  padding: map-get($ecl-spacing, m);
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: map-get($ecl-z-index, 'modal');
}

.ecl-dialog__overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: map-get($ecl-z-index, 'highlight');
}
