{#
  Parameters:
    - "variant" (string, "call", "primary", "secondary", "ghost", "search") (default: "primary")
    - "type_attribute" (string) (default: "submit")
    - "icon" (object) (default: {}): object of type ecl-icon
    - "label" (string) (default: "")
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
    - "system" (string) (default: "generic")
  Blocks:
    - "label_block": block label of the button
#}

{# Internal properties #}

{% set _css_class = 'ecl-button' %}
{% set _variant = variant|default('primary') %}
{% set _type_attribute = type_attribute|default('submit') %}
{% set _icon = icon|default({}) %}
{% set _label = label|default('') %}
{% set _extra_attributes = '' %}
{% set _system = system|default('generic') %}

{# Internal logic - Process properties #}

{% if _variant != '' %}
  {% set _css_class = _css_class ~ ' ecl-button--' ~ _variant %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

<button type="{{ _type_attribute }}" class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <span class="ecl-button__container">
    <span class="ecl-button__label">
    {% block label_block _label|raw %}
    </span>

    {% if _icon is not empty %}
    <span class="ecl-button__icon">
    {% include '@ecl/' ~ _system ~ '-twig-style-icon' with _icon only %}
    </span>
    {% endif %}
  </span>
</button>
