/**
 * Site Header Standardised
 * @define site-header-standardised; weak
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_logo-height-xs: 1.75rem;
$_logo-width-xs: 7rem;
$_logo-height-sm: 3rem;
$_logo-width-sm: 12.1rem;
$_logo-height-lg: 3.75rem;
$_logo-width-lg: 15.1rem;
$_logo-height-xl: 4.5rem;
$_logo-width-xl: 18.1rem;
$_search-width-l: 25rem;
$_search-width-xl: 31.5rem;

.ecl-site-header-standardised {
  background-color: map.get(theme.$color, 'white-100');
  margin: 0;
}

.ecl-site-header-standardised__container {
  display: flex;
  flex-direction: column;
  padding-bottom: map.get(theme.$spacing, 'xs');
  padding-top: map.get(theme.$spacing, 'xs');
}

.ecl-site-header-standardised__top {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.ecl-site-header-standardised__logo-link {
  flex-grow: 1;
}

.ecl-site-header-standardised__logo-image {
  display: block;
  max-height: $_logo-height-xs;
  max-width: $_logo-width-xs; // hack to allow logo to be resized dynamically
}

.ecl-site-header-standardised__action {
  display: flex;
}

.ecl-site-header-standardised__login-toggle,
.ecl-site-header-standardised__search-toggle {
  align-items: center;
  display: flex;
  flex-direction: column;
  font: map.get(theme.$font, 'xs');
  position: relative;
  text-align: center;
  z-index: map.get(theme.$z-index, 'modal') + 2;
}

.ecl-site-header-standardised__login-toggle {
  .ecl-site-header-standardised__login-arrow {
    display: none;
  }
}

.ecl-site-header-standardised__language-selector {
  font: map.get(theme.$font, 'xs');
  text-align: center;
}

.ecl-site-header-standardised__login-toggle,
.ecl-site-header-standardised__language-selector,
.ecl-site-header-standardised__search-toggle {
  padding: map.get(theme.$spacing, 'xs');

  &:focus {
    padding: calc(#{map.get(theme.$spacing, 'xs')} - 3px)
      calc(#{map.get(theme.$spacing, 'xs')} - 3px);
  }

  &[aria-expanded='true'],
  &[aria-expanded='true']:focus {
    background-color: map.get(theme.$color, 'blue-5');
    border-color: map.get(theme.$color, 'blue-25');
    border-style: solid;
    /* stylelint-disable-next-line shorthand-property-no-redundant-values */
    border-width: 1px 1px 0 1px;
    margin-bottom: 0;
    margin-bottom: -#{map.get(theme.$spacing, 'xs')};
    padding: calc(#{map.get(theme.$spacing, 'xs')} - 1px)
      calc(#{map.get(theme.$spacing, 'xs')} - 1px);
    padding-bottom: calc(
      #{map.get(theme.$spacing, 's')} + #{map.get(theme.$spacing, 'xs')} - 4px
    );
  }
}

.ecl-site-header-standardised__login-box,
.ecl-site-header-standardised__search {
  background-color: map.get(theme.$color, 'blue-5');
  border: 1px solid map.get(theme.$color, 'blue-25');
  box-shadow: 0 2px 5px 0 rgba(0, 47, 103, 0.2);
  box-sizing: content-box;
  color: map.get(theme.$color, 'grey');
  display: none;
  font: map.get(theme.$font-prolonged, 's');
  left: 0;
  margin-top: calc(#{map.get(theme.$spacing, 'xs')} - 1px);
  padding: calc(#{map.get(theme.$spacing, 'm')} - 1px);
  position: absolute;
  width: calc(
    100% - #{map.get(theme.$spacing, 'm')} - #{map.get(theme.$spacing, 'm')}
  );
  z-index: map.get(theme.$z-index, 'modal') + 1;
}

.ecl-site-header-standardised__login-box--active {
  display: block;
}

.ecl-site-header-standardised__login-description {
  margin: 0;
  max-width: 80ch;
}

.ecl-site-header-standardised__login-separator {
  background-color: map.get(theme.$color, 'blue-25');
  border-width: 0;
  height: 1px;
  margin-bottom: map.get(theme.$spacing, 'm');
  margin-top: map.get(theme.$spacing, 'm');
}

.ecl-site-header-standardised__language-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.ecl-site-header-standardised__language-code {
  color: map.get(theme.$color, 'white');
  font: map.get(theme.$font, '2xs');
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  // position top and left has to be set like this because IE...
  // also ugly magic numbers to center the text on the icon
  top: 50%;
  transform: translateX(-50%) translateX(0) translateY(-50%)
    translateY(-0.05rem);
}

.ecl-site-header-standardised__search--active {
  display: flex;
}

.ecl-site-header-standardised__banner-top {
  background-color: map.get(theme.$color, 'blue-5');
  font: map.get(theme.$font-prolonged, 's');
  padding: map.get(theme.$spacing, 'xs') 0;
}

.ecl-site-header-standardised__banner {
  display: none;
}

// stylelint-disable plugin/selector-bem-pattern
.ecl-search-form__button .ecl-button__label {
  display: none;
}

.ecl-search-form__button .ecl-button__icon {
  display: block;
}
// stylelint-enable plugin/selector-bem-pattern

/* stylelint-disable-next-line order/order */
@include breakpoints.up('s') {
  .ecl-site-header-standardised__logo-link {
    flex-grow: 0;
  }
  .ecl-site-header-standardised__container {
    padding-bottom: map.get(theme.$spacing, 's');
    padding-top: map.get(theme.$spacing, 's');
  }
  .ecl-site-header-standardised__logo-image {
    height: $_logo-height-sm;
    max-height: 100%;
    max-width: 100%;
    width: $_logo-width-sm;
  }
}

@include breakpoints.up('m') {
  .ecl-site-header-standardised__logo-link {
    margin-top: 0;
  }
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  .ecl-search-form {
    max-width: 100%;
  }
}

@include breakpoints.up('l') {
  .ecl-site-header-standardised__container {
    align-items: flex-end;
    flex-direction: row;
    padding-bottom: map.get(theme.$spacing, 'l');
    padding-top: map.get(theme.$spacing, 'l');
  }

  .ecl-site-header-standardised__banner {
    background-color: map.get(theme.$color, 'blue-100');
    color: map.get(theme.$color, 'white-100');
    display: block;
    font: map.get(theme.$font, '3xl');
    padding: map.get(theme.$spacing, 'l') 0;

    .ecl-container {
      display: flex;
    }
  }

  .ecl-site-header-standardised__site-name {
    align-self: center;
    flex-grow: 1;
  }

  .ecl-site-header-standardised__top {
    align-items: flex-end;
  }

  .ecl-site-header-standardised__action {
    align-items: center;
  }

  .ecl-site-header-standardised__logo-link {
    margin-bottom: 0;
  }

  .ecl-site-header-standardised__logo-image {
    height: $_logo-height-lg;
    width: $_logo-width-lg;
  }

  .ecl-site-header-standardised__login-box {
    left: auto;
    margin-top: calc(#{map.get(theme.$spacing, 'l')} - 1px);
    width: auto;
  }

  .ecl-site-header-standardised__login-toggle,
  .ecl-site-header-standardised__language-selector {
    align-items: center;
    display: flex;
    flex-direction: row;
    font: map.get(theme.$font, 'm');
  }

  .ecl-site-header-standardised__login-toggle,
  .ecl-site-header-standardised__language-icon {
    .ecl-site-header-standardised__icon {
      height: map.get(theme.$icon, 'm');
      margin-right: map.get(theme.$spacing, 'xs');
      width: map.get(theme.$icon, 'm');
    }
  }

  .ecl-site-header-standardised__login-toggle {
    .ecl-site-header-standardised__login-arrow {
      display: block;
      height: map.get(theme.$icon, 'xs');
      margin-left: map.get(theme.$spacing, 'xs');
      transform: rotate(0);
      width: map.get(theme.$icon, 'xs');
    }
    &[aria-expanded='false'] {
      .ecl-site-header-standardised__login-arrow {
        transform: rotate(180deg);
      }
    }
  }

  .ecl-site-header-standardised__search-toggle {
    display: none;
  }

  .ecl-site-header-standardised__login-toggle,
  .ecl-site-header-standardised__language-selector,
  .ecl-site-header-standardised__search-toggle {
    padding: map.get(theme.$spacing, 's') map.get(theme.$spacing, 'm');

    &:focus {
      padding: calc(#{map.get(theme.$spacing, 's')} - 3px)
        calc(#{map.get(theme.$spacing, 'm')} - 3px);
    }

    &[aria-expanded='true'],
    &[aria-expanded='true']:focus {
      margin-bottom: -#{map.get(theme.$spacing, 'l')};
      padding: calc(#{map.get(theme.$spacing, 's')} - 1px)
        calc(#{map.get(theme.$spacing, 'm')} - 1px);
      padding-bottom: calc(
        #{map.get(theme.$spacing, 's')} + #{map.get(theme.$spacing, 'l')}
      );
    }
  }

  .ecl-site-header-standardised__language-code {
    font: map.get(theme.$font, 'xs');
    margin-right: map.get(theme.$spacing, 'xs');
    transform: translateX(-50%) translateX(-0.22rem) translateY(-50%)
      translateY(-0.08rem);
  }

  .ecl-site-header-standardised__search-container {
    flex-grow: 1;
    margin-left: map.get(theme.$spacing, 's');
  }

  // stylelint-disable plugin/selector-bem-pattern
  .ecl-search-form__button .ecl-button__label {
    display: block;
  }

  .ecl-search-form__button .ecl-button__icon {
    display: none;
  }
  // stylelint-enable plugin/selector-bem-pattern

  .ecl-site-header-standardised__search {
    background-color: map.get(theme.$color, 'white');
    border-width: 0;
    box-shadow: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: $_search-width-l;
  }

  .ecl-site-header-standardised__banner-top {
    font: map.get(theme.$font-prolonged, 'm');
  }
}

@include breakpoints.up('xl') {
  .ecl-site-header-standardised__logo-image {
    height: $_logo-height-xl;
    width: $_logo-width-xl;
  }

  .ecl-site-header-standardised__search {
    width: $_search-width-xl;
  }
}
