/*
 * Select
 * @define select
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-form-select-print() {
  .ecl-select {
    color: $ecl-color-black-100;
    font: $ecl-font-print-m;
    margin: 0;
  }
}

// Use mixin
@include exports('ec-component-form-select-print') {
  @include ecl-form-select-print();
}
