/**
 * File-upload component
 * @define file-upload
 */

@use 'sass:map';
@use '@ecl/vanilla-utility-screen-reader/screen-reader';

// Exposed variables
$theme: null !default;
$file-upload: null !default;

.ecl-file-upload:not(.no-js .ecl-file-upload) {
  @include screen-reader.sr-only;
}

.ecl-file-upload__button-container {
  display: block;
  margin-top: var(--ecl-spacing-xs);

  .no-js & {
    display: none;
  }
}

.ecl-file-upload__list {
  color: var(--ecl-color-dark);
  font: var(--ecl-font-m);
  list-style: none;
  margin-top: var(--ecl-spacing-m);
  max-width: 538px; // 6 columns; provided by designers
  padding-inline-start: 0;
  width: 100%;

  .no-js & {
    display: none;
  }
}

.ecl-file-upload__item {
  border-top: 1px solid map.get($file-upload, 'separator-color');
  padding-bottom: var(--ecl-spacing-s);
  padding-top: var(--ecl-spacing-s);

  .ecl-file-upload__item-name {
    font-weight: map.get($file-upload, 'title-font-weight');
  }

  .ecl-file-upload__item-meta {
    color: var(--ecl-color-dark-80);
    display: map.get($file-upload, 'meta-display');
    padding-top: map.get($file-upload, 'meta-padding');
  }
}
