/*
Unorderded and ordered lists
*/

ul {
  list-style-type: disc;
}

ul,
ol {
  max-width: 32em;
  padding-left: 1em;
}

li > ul,
li > ol {
  font-size: map-get($font-size, 's');
  line-height: 1.625;
  margin-bottom: 5px;
  margin-left: 5px;
}

.ul-list-inline {
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  li:first-child {
    padding-left: 0;
  }
}

