<div class="ecl-tabs">
  <ul role="tablist" class="ecl-tabs__tablist ecl-navigation-list ecl-navigation-list--tabs">
    <li role="tab" aria-selected="false" aria-controls="nils-tab" id="nils" tabindex="-1" class="ecl-navigation-list__item ecl-navigation-list__link">Nils Frahm</li>
    <li role="tab" aria-selected="false" aria-controls="helios-tab" id="helios" tabindex="-1" class="ecl-navigation-list__item ecl-navigation-list__link">Helios</li>
    <li role="tab" aria-selected="true" aria-controls="complexcomplex" id="complex" tabindex="0" class="ecl-navigation-list__item ecl-navigation-list__link">Joke</li>
  </ul>

  <section role="tabpanel" id="nils-tab" aria-labelledby="nils" aria-hidden="true" class="ecl-tabs__tabpanel" tabindex="0">
    <p>Nils Frahm is a German musician, composer and record producer based in Berlin. He is known for combining classical and electronic music and for an unconventional approach to the piano in which he mixes a grand piano, upright piano, Roland Juno-60, Rhodes piano, drum machine, and Moog Taurus.</p>
  </section>

  <section role="tabpanel" id="helios-tab" aria-labelledby="helios" aria-hidden="true" class="ecl-tabs__tabpanel" tabindex="0">
    <p>Helios (Keith Kenniff) is an American composer, multi-instrumentalist, and electronic music producer. He composes ambient/electronic music under the moniker Helios and post-classical piano music under Goldmund. He is also one half of the indie band Mint Julep, and ambient project "A Pale Fire". Keith is also a composer for film, television, dance and performance art. In 2010 he created the record label Unseen.</p>
  </section>

  <section role="tabpanel" id="complexcomplex" aria-labelledby="complex" aria-hidden="false" class="ecl-tabs__tabpanel" tabindex="0">
    <p>Fear of complicated buildings:</p>
    <p>A complex complex complex.</p>
  </section>
</div>
