/**
 * Page header standardised
 * @define page-header-standardised
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

.ecl-page-header-standardised {
  padding-bottom: map.get(theme.$spacing-print, 'xl');
  padding-top: map.get(theme.$spacing-print, 'xl');
}

.ecl-page-header-standardised__meta {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-print, 'm');
  font-family: map.get(theme.$font-family-print, 'alt');
}

.ecl-page-header-standardised__title {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-print, '4xl');
  font-family: map.get(theme.$font-family-print, 'alt');
  font-weight: map.get(theme.$font-weight-print, 'bold');
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'm');
}

.ecl-page-header-standardised__description {
  font: map.get(theme.$font-prolonged-print, 'xl');
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'm');
}
