/**
 * Page header standardised
 * @define page-header-standardised
 */

@use "sass:map";
@use '@ecl/tokens/maps/color';
@use '@ecl/tokens/maps/spacing';
@use '@ecl/tokens/maps/typography';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

.ecl-page-header-standardised {
  margin: 0;
  padding-bottom: map.get(spacing.$spacing, 'xl');
}

.ecl-page-header-standardised__breadcrumb {
  margin-bottom: map.get(spacing.$spacing, 'xl');
}

.ecl-page-header-standardised__meta {
  color: map.get(color.$color, 'grey-75');
  font: map.get(typography.$font, 'm');
  text-transform: uppercase;
}

.ecl-page-header-standardised__title {
  color: map.get(color.$color, 'grey');
  font: map.get(typography.$font, '3xl');
  font-weight: map.get(typography.$font-weight, 'bold');
  margin: 0;
}

.ecl-page-header-standardised__meta + .ecl-page-header-standardised__title {
  margin-top: map.get(spacing.$spacing, 'm');
}

.ecl-page-header-standardised__description {
  color: map.get(color.$color, 'grey');
  font: map.get(typography.$font-prolonged, 'l');
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing, 'm');
  max-width: 80ch;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-page-header-standardised__title {
    font: map.get(typography.$font, '4xl');
    font-weight: map.get(typography.$font-weight, 'bold');
  }

  .ecl-page-header-standardised__description {
    font: map.get(typography.$font-prolonged, 'xl');
  }
}
