/**
 * Form group print
 */

.ecl-feedback-message,
.ecl-feedback-message--hidden {
  display: none;
}

.ecl-form-group {
  display: none;
}

.ecl-help-block,
.ecl-help-block--hidden {
  display: none;
}

.ecl-form-label {
  display: none;
}
