.ecl-icon-video:before {
  content: '\e800';
} /* '' */
.ecl-icon-audio:before {
  content: '\e801';
} /* '' */
.ecl-icon-brochure:before {
  content: '\e802';
} /* '' */
.ecl-icon-euro:before {
  content: '\e803';
} /* '' */
.ecl-icon-warning:before {
  content: '\e804';
} /* '' */
.ecl-icon-spinner:before {
  content: '\e805';
} /* '' */
.ecl-icon-download:before {
  content: '\e806';
} /* '' */
.ecl-icon-edit:before {
  content: '\e807';
} /* '' */
.ecl-icon-digital-big:before {
  content: '\e808';
} /* '' */
.ecl-icon-facebook:before {
  content: '\e809';
} /* '' */
.ecl-icon-file:before {
  content: '\e80a';
} /* '' */
.ecl-icon-digital:before {
  content: '\e80b';
} /* '' */
.ecl-icon-googleplus:before {
  content: '\e80c';
} /* '' */
.ecl-icon-image:before {
  content: '\e80d';
} /* '' */
.ecl-icon-package:before {
  content: '\e80e';
} /* '' */
.ecl-icon-infographic:before {
  content: '\e80f';
} /* '' */
.ecl-icon-linkedin:before {
  content: '\e810';
} /* '' */
.ecl-icon-organigram:before {
  content: '\e811';
} /* '' */
.ecl-icon-slides:before {
  content: '\e812';
} /* '' */
.ecl-icon-rss:before {
  content: '\e813';
} /* '' */
.ecl-icon-success:before {
  content: '\e814';
} /* '' */
.ecl-icon-info:before {
  content: '\e815';
} /* '' */
.ecl-icon-check:before {
  content: '\e816';
} /* '' */
.ecl-icon-twitter:before {
  content: '\e817';
} /* '' */
.ecl-icon-energy:before {
  content: '\e818';
} /* '' */
.ecl-icon-budget:before {
  content: '\e81a';
} /* '' */
.ecl-icon-location:before {
  content: '\e81b';
} /* '' */
.ecl-icon-livestreaming:before {
  content: '\e81c';
} /* '' */
.ecl-icon-icon-calendar:before {
  content: '\e81d';
} /* '' */
.ecl-icon-languages:before {
  content: '\e81e';
} /* '' */
.ecl-icon-down:before {
  content: '\e81f';
} /* '' */
.ecl-icon-copy:before {
  content: '\e820';
} /* '' */
.ecl-icon-arrow-up:before {
  content: '\e821';
} /* '' */
.ecl-icon-arrow-down:before {
  content: '\e822';
} /* '' */
.ecl-icon-search:before {
  content: '\e823';
} /* '' */
.ecl-icon-language:before {
  content: '\e824';
} /* '' */
.ecl-icon-external:before {
  content: '\e825';
} /* '' */
.ecl-icon-left:before {
  content: '\e826';
} /* '' */
.ecl-icon-up:before {
  content: '\e827';
} /* '' */
.ecl-icon-right:before {
  content: '\e828';
} /* '' */
.ecl-icon-global:before {
  content: '\e829';
} /* '' */
.ecl-icon-growth:before {
  content: '\e82a';
} /* '' */
.ecl-icon-regulation:before {
  content: '\e82b';
} /* '' */
.ecl-icon-close:before {
  content: '\e82c';
} /* '' */
.ecl-icon-close-dark:before {
  content: '\e82d';
} /* '' */
.ecl-icon-conversation-speech-bubbles-:before {
  content: '\e82e';
} /* '' */
.ecl-icon-error:before {
  content: '\e82f';
} /* '' */
.ecl-icon-camera:before {
  content: '\e900';
} /* '' */
