/**
 * Footers component
 * @define footer ; weak
 */

.ecl-footer {
  @include ecl-hidden-print();

  margin: 0;

  .ecl-link {
    color: inherit;
  }

  a[#{$ecl-external-link-pattern}]:not(.is-internal):not(#{$ecl-link-patterns})::after {
    line-height: 2.2;
    position: absolute;
  }
}

@mixin footers() {
  .ecl-footer__social-icon::before {
    margin-right: 8px !important;
  }

  .ecl-footer__social-links li:last-child {
    margin-left: 0;
  }

  .ecl-footer__label {
    display: inline;
    font-weight: bold;

    /* Any adjusent unordered list to be inlined */
    + ul {
      display: inline;
    }
  }

  .ecl-footer__column {
    padding-top: map-get($ecl-spacing, 'm');
  }

  .ecl-footer__column:last-child {
    padding-bottom: map-get($ecl-spacing, 'm');
  }
}
