<div style="width:1000px; margin-top: 50px; margin-bottom:10px">
  {% include '@buttons-button-blocks' with { 'label': 'Button block - Default', 'modifier': 'default' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-button-blocks' with { 'label': 'Button block - Primary', 'modifier': 'primary' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-button-blocks' with { 'label': 'Button block - Secondary', 'modifier': 'secondary' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-button-blocks' with { 'label': 'Button block - Call to action', 'modifier': 'call' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-button-blocks' with { 'label': 'Button block - Call to action with border', 'modifier': 'call-border' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-button-blocks' with { 'label': 'Button block - Form', 'modifier': 'form' } %}
</div>
<div style="width:1000px; margin-bottom:50px">
  {% include '@buttons-button-blocks' with { 'label': 'Button block - Light', 'modifier': 'light' } %}
</div>
<div style="width:1000px; margin-bottom:50px">
  {% include '@buttons-icons' with { 'label': 'Arrow down', 'icon': 'arrow-down', 'modifier': 'default' } %}
  {% include '@buttons-icons' with { 'label': 'Arrow up', 'icon': 'arrow-up', 'modifier': 'default' } %}
  {% include '@buttons-icons' with { 'label': 'Caret down', 'icon': 'caret-down', 'modifier': 'default' } %}
  {% include '@buttons-icons' with { 'label': 'Caret left', 'icon': 'caret-left', 'modifier': 'default' } %}
  {% include '@buttons-icons' with { 'label': 'Caret right', 'icon': 'caret-right', 'modifier': 'default' } %}
  {% include '@buttons-icons' with { 'label': 'Caret up', 'icon': 'caret-up', 'modifier': 'default' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-buttons' with { 'label': 'Button - Default', 'modifier': 'default' } %}
  {% include '@buttons-buttons' with { 'label': 'Button - Primary', 'modifier': 'primary' } %}
  {% include '@buttons-buttons' with { 'label': 'Button - Secondary', 'modifier': 'secondary' } %}
  {% include '@buttons-buttons' with { 'label': 'Button - Call to action', 'modifier': 'call' } %}
</div>
<div style="width:1000px; margin-bottom:50px">
  {% include '@buttons-buttons' with { 'label': 'Button - Call to action with border', 'modifier': 'call-border' } %}
  {% include '@buttons-buttons' with { 'label': 'Button - Form', 'modifier': 'form' } %}
  {% include '@buttons-buttons' with { 'label': 'Button - Light', 'modifier': 'light' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-inputs' with { 'label': 'Input - Default', 'modifier': 'default' } %}
  {% include '@buttons-inputs' with { 'label': 'Input - Primary', 'modifier': 'primary' } %}
  {% include '@buttons-inputs' with { 'label': 'Input - Secondary', 'modifier': 'secondary' } %}
  {% include '@buttons-inputs' with { 'label': 'Input - Call to action', 'modifier': 'call' } %}
</div>
<div style="width:1000px; margin-bottom:50px">
  {% include '@buttons-inputs' with { 'label': 'Input - Call to action with border', 'modifier': 'call-border' } %}
  {% include '@buttons-inputs' with { 'label': 'Input - Form', 'modifier': 'form' } %}
  {% include '@buttons-inputs' with { 'label': 'Input - Light', 'modifier': 'light' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-links' with { 'label': 'Link - Default', 'modifier': 'default', 'to': '#' } %}
  {% include '@buttons-links' with { 'label': 'Link - Primary', 'modifier': 'primary', 'to': '#' } %}
  {% include '@buttons-links' with { 'label': 'Link - Secondary', 'modifier': 'secondary', 'to': '#' } %}
  {% include '@buttons-links' with { 'label': 'Link - Call to action', 'modifier': 'call', 'to': '#' } %}
</div>
<div style="width:1000px; margin-bottom:50px">
  {% include '@buttons-links' with { 'label': 'Link - Call to action with border', 'modifier': 'call-border', 'to': '#' } %}
  {% include '@buttons-links' with { 'label': 'Link - Form', 'modifier': 'form', 'to': '#' } %}
  {% include '@buttons-links' with { 'label': 'Link - Light', 'modifier': 'light', 'to': '#' } %}
</div>
<div style="width:1000px; margin-bottom:10px">
  {% include '@buttons-links' with { 'label': 'External link - Default', 'modifier': 'default', 'to': 'http://example.com' } %}
  {% include '@buttons-links' with { 'label': 'External link - Primary', 'modifier': 'primary', 'to': 'http://example.com' } %}
  {% include '@buttons-links' with { 'label': 'External link - Secondary', 'modifier': 'secondary', 'to': 'http://example.com' } %}
  {% include '@buttons-links' with { 'label': 'External link - Call to action', 'modifier': 'call', 'to': 'http://example.com' } %}
</div>
<div style="width:1000px; margin-bottom:50px">
  {% include '@buttons-links' with { 'label': 'External link - Call to action with border', 'modifier': 'call-border', 'to': 'http://example.com' } %}
  {% include '@buttons-links' with { 'label': 'External link - Form', 'modifier': 'form', 'to': 'http://example.com' } %}
  {% include '@buttons-links' with { 'label': 'External link - Light', 'modifier': 'light', 'to': 'http://example.com' } %}
</div>
