@mixin ecl-button--default() {
  border-color: $brand-primary;
  color: $brand-primary;

  &:hover,
  &:focus,
  &:active {
    background-color: $brand-primary;
    color: #fff;
  }
}

@mixin ecl-button--call() {
  background-color: $yellow-light;
  border-color: $yellow-light;
  color: #000;

  &:hover,
  &:focus,
  &:active {
    border-color: #000;
  }

  &:focus {
    outline-color: #000;
  }
}

@mixin ecl-button--arrow() {
  font-size: 0.45em;
  margin-left: 1em;
  position: relative;
  top: -2px;

  @include transition(rotate 0.3s ease 0s);
}

@mixin ecl-button--caret() {
  font-size: 0.8em;
  margin-left: 0.8em;

  @include transition(rotate 0.3s ease 0s);
}
