/**
 * Buttons component
 * @define button
 */

@import 'buttons-mixins';

.ecl-button {
  background: none;
  border: 2px solid transparent;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid $yellow-light;
    outline-offset: 0;
  }
}

.ecl-button:link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ecl-button--default {
  border-color: $brand-primary;
  color: $brand-primary;

  &:hover,
  &:focus,
  &:active {
    background-color: $brand-primary;
    color: #fff;
  }
}

.ecl-button--primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    color: $brand-primary;
  }
}

.ecl-button--secondary {
  background-color: #fff;
  border-color: #fff;
  color: $brand-primary;
}

.ecl-button--call {
  background-color: $yellow-light;
  border-color: $yellow-light;
  color: #000;

  &:hover,
  &:focus,
  &:active {
    border-color: #000;
  }

  &:focus {
    outline-color: #000;
  }
}

.ecl-button--call-border {
  @include ecl-button--call();

  border-color: #000;

  &:focus {
    outline-width: 2px;
  }
}

.ecl-button--form {
  background-color: $grey-light;
  border-color: $grey-light;

  &:hover,
  &:focus,
  &:active {
    color: $grey-base;
  }
}

.ecl-button--light {
  @include ecl-button--default();

  font-weight: 500;
}

.ecl-button--block {
  display: block;
  width: 100%;
}

.ecl-button--arrow-up {
  &::after {
    @extend %icon--after;
    @extend %icon--arrow-up;

    @include ecl-button--arrow();
  }
}

.ecl-button--arrow-down {
  &::after {
    @extend %icon--after;
    @extend %icon--arrow-down;

    @include ecl-button--arrow();
  }
}

.ecl-button--caret-up {
  &::after {
    @extend %icon--after;
    @extend %icon--up;

    @include ecl-button--caret();
  }
}

.ecl-button--caret-right {
  &::after {
    @extend %icon--after;
    @extend %icon--right;

    @include ecl-button--caret();
  }
}

.ecl-button--caret-down {
  &::after {
    @extend %icon--after;
    @extend %icon--down;

    @include ecl-button--caret();
  }
}

.ecl-button--caret-left {
  &::after {
    @extend %icon--after;
    @extend %icon--left;

    @include ecl-button--caret();
  }
}
