@import '@ecl/theme-default/index';

.ul {
  box-sizing: border-box;
  color: map-get($ecl-color, 'grey-75');
  font: map-get($ecl-font-prolonged, 'm');
  margin-bottom: 0;
  margin-top: map-get($ecl-spacing, 's');
  max-width: 38em;
  text-transform: lowercase;
}
