/*
 * File upload
 * @define file-upload
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-file-upload() {
  .ecl-file-upload {
    display: inline-flex;
    margin: 0;
    width: 100%;
  }

  .ecl-file-upload__value {
    background-color: #fff;
    background-image: none;
    border: 1px solid $ecl-color-shade;
    color: $ecl-color-shade;
    display: block;
    flex-grow: 1;
    font-family: $ecl-font-family-sans-serif;
    font-size: map-get($ecl-font-size, 's');
    line-height: 1.6;
    margin: 0;
    overflow: hidden;
    padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxs');
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      border-color: map-get($ecl-colors, 'yellow-110');
      outline: 3px solid map-get($ecl-colors, 'yellow-110');
      outline-offset: 0;
      text-decoration: none;
    }
  }

  .ecl-file-upload__browse {
    background-color: $ecl-color-shade;
    border: 2px solid transparent;
    color: #fff;
    display: inline-block;
    font-family: $ecl-font-family-sans-serif;
    font-size: map-get($ecl-font-size, 's');
    font-weight: 600;
    line-height: 1.6;
    margin: 0;
    padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xs');

    &:hover,
    &:focus,
    &:active {
      background-color: $ecl-color-primary;
      outline: 3px solid map-get($ecl-colors, 'yellow-110');
      outline-offset: -3px;
    }
  }

  .ecl-file-upload__upload {
    background-color: $ecl-color-primary;
    border: 2px solid transparent;
    color: #fff;
    display: inline-block;
    font-family: $ecl-font-family-sans-serif;
    font-size: map-get($ecl-font-size, 's');
    font-weight: 600;
    line-height: 1.6;
    margin-left: map-get($ecl-spacing, 'xxxs');
    padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xs');

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      border-color: $ecl-color-primary;
      color: $ecl-color-primary;
      text-decoration: underline;
    }

    &:focus {
      outline: 3px solid map-get($ecl-colors, 'yellow-110');
      outline-offset: -3px;
    }
  }

  .ecl-file-upload__input {
    display: none;
  }

  // disabled
  .ecl-file-upload--is-disabled {
    .ecl-file-upload__value {
      background-color: #eee;
      cursor: not-allowed;
    }

    .ecl-file-upload__browse {
      cursor: not-allowed;
    }
  }

  // error
  .ecl-file-upload--has-error {
    .ecl-file-upload__value {
      border-color: $ecl-color-error;
      border-width: 2px;
    }

    .ecl-file-upload__browse {
      background-color: $ecl-color-error;
    }
  }
}
