<div class="site-ec">
  <div class="ecl-container">
    <div class="section__body">
      <div class="ecl-row">
        <div class="ecl-col-sm">
          <ul class="">
            <li class="">
              <a href="#" class="">About the Commission's new web presence</a>
            </li>
            <li class="">
              <a href="#" class="">Resources for partners</a>
            </li>
            <li class="">
              <a href="#" class="">Cookies</a>
            </li>
            <li class="">
              <a href="#" class="">Legal notice</a>
            </li>
            <li class="">
              <a href="#" class="">Contact</a>
            </li>
            <li class="">
              <a href="#" class="">Europa Analytics</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
