/**
 * Blockquotes
 * @define blockquote
 */

@import 'blockquotes-mixins';

.ecl-blockquote {
  @include blockquotes();
}

.ecl-blockquote__quote {
  margin: 0;

  &::before {
    @include blockquotes-before();
  }

  &::after {
    @include blockquotes-after();
  }
}

.ecl-blockquote__body {
  display: inline;
  line-height: inherit;
}

.ecl-blockquote__author {
  font-size: map-get($ecl-font-size, 's');
  font-weight: 600;
  padding-top: 0.6em;

  &::before {
    content: ' - ';
  }
}

.ecl-blockquote--small {
  font-size: map-get($ecl-font-size, 'm');

  .ecl-blockquote__author {
    font-size: map-get($ecl-font-size, 'xs');
  }
}
