/**
 * Blockquotes
 * @define blockquote
 */

.ecl-blockquote {
  border-left: 0.417em solid $ecl-color-secondary;
  clear: both;
  display: inline-block;
  font-size: map-get($ecl-font-size, 'l');
  font-style: italic;
  line-height: 1.5;
  margin: 0;
  max-width: 24em;
  padding: 0.6em 0 0.6em 1.2em;
}

.ecl-blockquote__quote {
  margin: 0;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.ecl-blockquote__body {
  display: inline;
  line-height: inherit;
}

.ecl-blockquote__author {
  font-size: map-get($ecl-font-size, 's');
  font-weight: 600;
  padding-top: 0.6em;

  &::before {
    content: ' - ';
  }
}

.ecl-blockquote--small {
  font-size: map-get($ecl-font-size, 'm');

  .ecl-blockquote__author {
    font-size: map-get($ecl-font-size, 'xs');
  }
}
