/*
Help Block
*/

// Help block.
$form-group-help-block-text-color: $grey-dark;
$form-group-help-block-text-color-disabled: $form-control-color-disabled;
$form-group-help-block-text-color-has-error: $form-group-help-block-text-color;

.help-block {
  @extend %hidden-print;

  margin-top: 0;
  margin-bottom: 0.556em;
  font-family: $font-family-sans-serif;
  font-size: map-get($font-size, 'xs');
  color: $form-group-help-block-text-color;

  .disabled & {
    color: $form-control-color-disabled;
  }

  .has-error & {
    // Disable settings of base Bootstrap.
    color: $form-group-help-block-text-color-has-error;
  }
}
