/**
 * Tags
 * @define tag
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-tag() {
  .ecl-tag {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .ecl-tag__label {
    font-size: map-get($ecl-font-size, 'xs');
    margin-bottom: map-get($ecl-spacing, '2xs');
    margin-right: map-get($ecl-spacing, 'xs');
    text-transform: uppercase;
  }

  .ecl-tag__item {
    background-color: map-get($ecl-colors, 'grey-15');
    border-radius: (2 * $ecl-spacing-xs + $ecl-font-size-s * $ecl-line-height-s) /
      2;
    border-width: 0;
    box-sizing: border-box;
    color: $ecl-color-text;
    display: flex;
    font: $ecl-font-s;
    margin-bottom: map-get($ecl-spacing, '2xs');
    margin-right: map-get($ecl-spacing, 's');
    padding: $ecl-spacing-xs $ecl-spacing-s;
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      box-shadow: inset 0 0 0 3px map-get($ecl-colors, 'yellow-100');
      outline: none;
    }
  }

  .ecl-tag--facet-close {
    .ecl-tag__item {
      text-decoration: none;
    }

    .ecl-tag__item:hover {
      background-color: $ecl-color-text;
      color: #fff;
    }
  }

  .ecl-tag__icon {
    fill: currentColor;
    margin-left: map-get($ecl-spacing, '2xs');
  }
}
