/**
 * Site header
 * @define site-header-standardised ; weak
 */

// Import base and generic
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(
  (
    'ec-component-logo',
    'ec-component-language-list',
    'ec-component-search-form'
  )
);

@mixin ecl-site-header-standardised() {
  .ecl-site-header-standardised {
    background-color: #fff;
    margin: 0;
    width: 100%;
  }

  .ecl-site-header-standardised__banner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: map-get($ecl-spacing, 's');
    padding-top: map-get($ecl-spacing, 's');
  }

  .ecl-site-header-standardised__banner > * {
    margin-top: map-get($ecl-spacing, 's');
  }

  .ecl-site-header-standardised__classname {
    background-color: map-get($ecl-colors, 'blue-5');
    padding: map-get($ecl-spacing, 'xxs') 0;
  }

  .ecl-site-header-standardised__classname-title {
    color: map-get($ecl-colors, 'blue-100');
    font-size: map-get($ecl-font-size, 'xs');
    font-weight: 400;
    line-height: 1.43; // 20 / 14
    margin: 0;

    @include ecl-media-breakpoint-up(lg) {
      font-size: map-get($ecl-font-size, 's');
      line-height: 1.5; // 24 / 16
    }
  }

  .ecl-site-header-standardised__sitenav {
    background-color: map-get($ecl-colors, 'blue-100');
    padding: 0;
  }

  .ecl-site-header-standardised__sitenav-title {
    color: #fff;
    font-size: map-get($ecl-font-size, 'l');
    font-weight: 400;
    line-height: 1.27; // 1.75 / 1.375
    margin: 0;
    padding: map-get($ecl-spacing, 's') 0;

    @include ecl-media-breakpoint-up(lg) {
      font-size: map-get($ecl-font-size, 'xl');
      line-height: 1.07; // 2 / 1.875
      padding: map-get($ecl-spacing, 'm') 0;
    }
  }

  // If the logo is linking to an external page do not show the external icon.
  .ecl-site-header-standardised__logo {
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.75rem;
    width: 8rem;

    @include ecl-media-breakpoint-up(sm) {
      height: 3rem;
      width: 13rem;
    }

    @include ecl-media-breakpoint-up(md) {
      height: 3.75rem;
      width: 16rem;
    }
  }

  .ecl-site-header-standardised__language-list {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  .ecl-site-header-standardised__search {
    flex-grow: 1;
  }

  .ecl-site-header-standardised__user-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .ecl-site-header-standardised__menu {
    background-color: transparent;
  }

  .ecl-site-header-standardised__menu .ecl-navigation-menu__item {
    background-color: transparent;
  }

  .ecl-site-header-standardised__menu .ecl-navigation-menu__item--active {
    background-color: map-get($ecl-colors, 'blue-110');
  }

  /* stylelint-disable-next-line selector-max-compound-selectors */
  .ecl-site-header-standardised__menu
    .ecl-navigation-menu__root
    > .ecl-navigation-menu__item
    > .ecl-navigation-menu__link {
    @include ecl-media-breakpoint-up(md) {
      color: #fff;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      &[aria-expanded='true'] {
        color: map-get($ecl-colors, 'blue-120');
      }
    }
  }

  .ecl-site-header-standardised__menu .ecl-navigation-menu__toggle {
    background-color: transparent;
    width: auto;
  }

  .ecl-site-header-standardised__menu .ecl-navigation-menu__root {
    left: 0;
    position: absolute;
    right: 0;
    top: auto;

    @include ecl-media-breakpoint-up(md) {
      position: static;
    }
  }

  .ecl-site-header-standardised__menu-container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include ecl-media-breakpoint-up(md) {
      display: block;
    }
  }

  .ecl-site-header-standardised .ecl-lang-select-sites__link {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 map-get($ecl-spacing, 'xxxs');

    @include ecl-media-breakpoint-up(md) {
      flex-direction: row;
      padding: map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'xs');
    }
  }

  .ecl-site-header-standardised .ecl-lang-select-sites__code {
    height: 1.4rem;
    margin: map-get($ecl-spacing, 'xxxs') 0;
  }

  .ecl-site-header-standardised .ecl-lang-select-sites__label {
    font-size: map-get($ecl-font-size, 'xxs');
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;

    @include ecl-media-breakpoint-up(md) {
      font-size: map-get($ecl-font-size, 's');
      margin-left: map-get($ecl-spacing, 'xxxs');
    }
  }

  .ecl-site-header-standardised .ecl-lang-select-sites__code-text {
    font-size: 0.625rem;
    font-weight: 400;
    left: 1px;
    top: 1px;

    @include ecl-media-breakpoint-up(md) {
      font-size: map-get($ecl-font-size, 'xxs');
      left: -1px;
      top: 0;
    }
  }

  .ecl-site-header-standardised .ecl-lang-select-sites__icon {
    font-size: 1.1rem;
    left: 3px;
    top: 3px;

    @include ecl-media-breakpoint-up(md) {
      font-size: 1.2rem;
      left: 0;
      top: 1px;
    }
  }

  .ecl-site-header-standardised .ecl-lang-select-sites {
    text-decoration: none;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(lg) {
    .ecl-site-header-standardised__user-menu {
      display: block;
      width: auto;
    }
  }
}

// Use generic mixin
@include exports('ec-component-site-header-standardised') {
  @include ecl-site-header-standardised();
}
