/**
 * Page header
 * @define page-header
 */

// Import base
@import '@ecl/eu-base/eu-base';

@include check-imports(('eu-component-breadcrumb', 'eu-layout-grid'));

@mixin ecl-page-header() {
  .ecl-page-header {
    background-color: $ecl-color-primary;
    color: $ecl-color-white-100;
    margin: 0;
    overflow: auto;
  }

  .ecl-page-header--image {
    background-size: cover;
    position: relative;

    &::before {
      background: linear-gradient(
        to right,
        rgba($ecl-color-primary, 0.75) 0%,
        rgba($ecl-color-primary, 0.2) 100%
      );
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .ecl-page-header__title-wrapper {
    margin: $ecl-spacing-l;

    @include ecl-media-breakpoint-up('lg') {
      margin: $ecl-spacing-l 0;
    }

    .ecl-page-header--branded-homepage &,
    .ecl-page-header--homepage & {
      margin: $ecl-spacing-xl $ecl-spacing-l;

      @include ecl-media-breakpoint-up('lg') {
        margin: $ecl-spacing-4-xl 0;
      }
    }
  }

  .ecl-page-header__title {
    font: $ecl-font-2-xl;
    margin: 0;

    @include ecl-media-breakpoint-up('lg') {
      font: $ecl-font-3-xl;
    }

    .ecl-page-header--branded-homepage & {
      font: $ecl-font-5-xl;

      @include ecl-media-breakpoint-up('lg') {
        font: $ecl-font-6-xl;
      }
    }

    .ecl-page-header--homepage & {
      font: $ecl-font-5-xl;
      font-weight: $ecl-font-weight-bold;

      @include ecl-media-breakpoint-up('lg') {
        font: $ecl-font-6-xl;
        font-weight: $ecl-font-weight-bold;
      }
    }
  }

  .ecl-page-header__slogan {
    margin: 0;

    .ecl-page-header--branded-homepage & {
      font: $ecl-font-2-xl;

      @include ecl-media-breakpoint-up('lg') {
        font: $ecl-font-3-xl;
      }
    }

    .ecl-page-header--homepage & {
      font: $ecl-font-2-xl;
      font-weight: $ecl-font-weight-bold;

      @include ecl-media-breakpoint-up('lg') {
        font: $ecl-font-3-xl;
        font-weight: $ecl-font-weight-bold;
      }
    }
  }
}

// Use mixin
@include exports('eu-component-page-header') {
  @include ecl-page-header();
}
