<style>
  .exampleContainer {
    background-color: #888;
    margin-bottom: 1em;
    display: inline-block;
  }
  .example {
    background-color: black;
    color: white;
    display: inline-block;
  }
</style>

<h1>Margin all</h1>
<div class="exampleContainer"><div class="example ecl-ma-none" style="">ecl-ma-none</div></div>
<div class="exampleContainer"><div class="example ecl-ma-xs" style="">ecl-ma-xs</div></div>
<div class="exampleContainer"><div class="example ecl-ma-s" style="">ecl-ma-s</div></div>
<div class="exampleContainer"><div class="example ecl-ma-m" style="">ecl-ma-m</div></div>
<div class="exampleContainer"><div class="example ecl-ma-l" style="">ecl-ma-l</div></div>
<div class="exampleContainer"><div class="example ecl-ma-xl" style="">ecl-ma-xl</div></div>
<div class="exampleContainer"><div class="example ecl-ma-xxl" style="">ecl-ma-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-ma-xxxl" style="">ecl-ma-xxxl</div></div>

<h1>Margin horizontal</h1>
<div class="exampleContainer"><div class="example ecl-mh-none" style="">ecl-mh-none</div></div>
<div class="exampleContainer"><div class="example ecl-mh-xs" style="">ecl-mh-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mh-s" style="">ecl-mh-s</div></div>
<div class="exampleContainer"><div class="example ecl-mh-m" style="">ecl-mh-m</div></div>
<div class="exampleContainer"><div class="example ecl-mh-l" style="">ecl-mh-l</div></div>
<div class="exampleContainer"><div class="example ecl-mh-xl" style="">ecl-mh-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mh-xxl" style="">ecl-mh-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mh-xxxl" style="">ecl-mh-xxxl</div></div>

<h1>Margin vertical</h1>
<div class="exampleContainer"><div class="example ecl-mv-none" style="">ecl-mv-none</div></div>
<div class="exampleContainer"><div class="example ecl-mv-xs" style="">ecl-mv-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mv-s" style="">ecl-mv-s</div></div>
<div class="exampleContainer"><div class="example ecl-mv-m" style="">ecl-mv-m</div></div>
<div class="exampleContainer"><div class="example ecl-mv-l" style="">ecl-mv-l</div></div>
<div class="exampleContainer"><div class="example ecl-mv-xl" style="">ecl-mv-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mv-xxl" style="">ecl-mv-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mv-xxxl" style="">ecl-mv-xxxl</div></div>

<h1>Margin top</h1>
<div class="exampleContainer"><div class="example ecl-mt-none" style="">ecl-mt-none</div></div>
<div class="exampleContainer"><div class="example ecl-mt-xs" style="">ecl-mt-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mt-s" style="">ecl-mt-s</div></div>
<div class="exampleContainer"><div class="example ecl-mt-m" style="">ecl-mt-m</div></div>
<div class="exampleContainer"><div class="example ecl-mt-l" style="">ecl-mt-l</div></div>
<div class="exampleContainer"><div class="example ecl-mt-xl" style="">ecl-mt-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mt-xxl" style="">ecl-mt-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mt-xxxl" style="">ecl-mt-xxxl</div></div>


<h1>Margin right</h1>
<div class="exampleContainer"><div class="example ecl-mr-none" style="">ecl-mr-none</div></div>
<div class="exampleContainer"><div class="example ecl-mr-xs" style="">ecl-mr-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mr-s" style="">ecl-mr-s</div></div>
<div class="exampleContainer"><div class="example ecl-mr-m" style="">ecl-mr-m</div></div>
<div class="exampleContainer"><div class="example ecl-mr-l" style="">ecl-mr-l</div></div>
<div class="exampleContainer"><div class="example ecl-mr-xl" style="">ecl-mr-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mr-xxl" style="">ecl-mr-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mr-xxxl" style="">ecl-mr-xxxl</div></div>

<h1>Margin bottom</h1>
<div class="exampleContainer"><div class="example ecl-mb-none" style="">ecl-mb-none</div></div>
<div class="exampleContainer"><div class="example ecl-mb-xs" style="">ecl-mb-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mb-s" style="">ecl-mb-s</div></div>
<div class="exampleContainer"><div class="example ecl-mb-m" style="">ecl-mb-m</div></div>
<div class="exampleContainer"><div class="example ecl-mb-l" style="">ecl-mb-l</div></div>
<div class="exampleContainer"><div class="example ecl-mb-xl" style="">ecl-mb-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mb-xxl" style="">ecl-mb-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mb-xxxl" style="">ecl-mb-xxxl</div></div>

<h1>Margin left</h1>
<div class="exampleContainer"><div class="example ecl-ml-none" style="">ecl-ml-none</div></div>
<div class="exampleContainer"><div class="example ecl-ml-xs" style="">ecl-ml-xs</div></div>
<div class="exampleContainer"><div class="example ecl-ml-s" style="">ecl-ml-s</div></div>
<div class="exampleContainer"><div class="example ecl-ml-m" style="">ecl-ml-m</div></div>
<div class="exampleContainer"><div class="example ecl-ml-l" style="">ecl-ml-l</div></div>
<div class="exampleContainer"><div class="example ecl-ml-xl" style="">ecl-ml-xl</div></div>
<div class="exampleContainer"><div class="example ecl-ml-xxl" style="">ecl-ml-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-ml-xxxl" style="">ecl-ml-xxxl</div></div>
