<style>
  .exampleContainer {
    background-color: #888;
    margin-bottom: 1em;
    display: inline-block;
  }
  .exampleContainerAuto {
    background-color: #888;
    margin-bottom: 1em;
    display: inline-block;
    width: 225px;
    height: 100px;
  }
  .example {
    background-color: black;
    color: white;
    display: inline-block;
  }
  .exampleAuto {
    background-color: black;
    color: white;
    display: block;
    width: 150px;
    height: 100%;
  }
</style>

<h1>Margin all</h1>
<div class="exampleContainer"><div class="example ecl-ma-none">ecl-ma-none</div></div>
<div class="exampleContainer"><div class="example ecl-ma-xs">ecl-ma-xs</div></div>
<div class="exampleContainer"><div class="example ecl-ma-s">ecl-ma-s</div></div>
<div class="exampleContainer"><div class="example ecl-ma-m">ecl-ma-m</div></div>
<div class="exampleContainer"><div class="example ecl-ma-l">ecl-ma-l</div></div>
<div class="exampleContainer"><div class="example ecl-ma-xl">ecl-ma-xl</div></div>
<div class="exampleContainer"><div class="example ecl-ma-xxl">ecl-ma-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-ma-xxxl">ecl-ma-xxxl</div></div>

<h1>Margin horizontal</h1>
<div class="exampleContainer"><div class="example ecl-mh-none">ecl-mh-none</div></div>
<div class="exampleContainer"><div class="example ecl-mh-xs">ecl-mh-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mh-s">ecl-mh-s</div></div>
<div class="exampleContainer"><div class="example ecl-mh-m">ecl-mh-m</div></div>
<div class="exampleContainer"><div class="example ecl-mh-l">ecl-mh-l</div></div>
<div class="exampleContainer"><div class="example ecl-mh-xl">ecl-mh-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mh-xxl">ecl-mh-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mh-xxxl">ecl-mh-xxxl</div></div>

<h1>Margin vertical</h1>
<div class="exampleContainer"><div class="example ecl-mv-none">ecl-mv-none</div></div>
<div class="exampleContainer"><div class="example ecl-mv-xs">ecl-mv-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mv-s">ecl-mv-s</div></div>
<div class="exampleContainer"><div class="example ecl-mv-m">ecl-mv-m</div></div>
<div class="exampleContainer"><div class="example ecl-mv-l">ecl-mv-l</div></div>
<div class="exampleContainer"><div class="example ecl-mv-xl">ecl-mv-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mv-xxl">ecl-mv-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mv-xxxl">ecl-mv-xxxl</div></div>

<h1>Margin top</h1>
<div class="exampleContainer"><div class="example ecl-mt-none">ecl-mt-none</div></div>
<div class="exampleContainer"><div class="example ecl-mt-xs">ecl-mt-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mt-s">ecl-mt-s</div></div>
<div class="exampleContainer"><div class="example ecl-mt-m">ecl-mt-m</div></div>
<div class="exampleContainer"><div class="example ecl-mt-l">ecl-mt-l</div></div>
<div class="exampleContainer"><div class="example ecl-mt-xl">ecl-mt-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mt-xxl">ecl-mt-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mt-xxxl">ecl-mt-xxxl</div></div>


<h1>Margin right</h1>
<div class="exampleContainer"><div class="example ecl-mr-none">ecl-mr-none</div></div>
<div class="exampleContainer"><div class="example ecl-mr-xs">ecl-mr-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mr-s">ecl-mr-s</div></div>
<div class="exampleContainer"><div class="example ecl-mr-m">ecl-mr-m</div></div>
<div class="exampleContainer"><div class="example ecl-mr-l">ecl-mr-l</div></div>
<div class="exampleContainer"><div class="example ecl-mr-xl">ecl-mr-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mr-xxl">ecl-mr-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mr-xxxl">ecl-mr-xxxl</div></div>

<h1>Margin bottom</h1>
<div class="exampleContainer"><div class="example ecl-mb-none">ecl-mb-none</div></div>
<div class="exampleContainer"><div class="example ecl-mb-xs">ecl-mb-xs</div></div>
<div class="exampleContainer"><div class="example ecl-mb-s">ecl-mb-s</div></div>
<div class="exampleContainer"><div class="example ecl-mb-m">ecl-mb-m</div></div>
<div class="exampleContainer"><div class="example ecl-mb-l">ecl-mb-l</div></div>
<div class="exampleContainer"><div class="example ecl-mb-xl">ecl-mb-xl</div></div>
<div class="exampleContainer"><div class="example ecl-mb-xxl">ecl-mb-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-mb-xxxl">ecl-mb-xxxl</div></div>

<h1>Margin left</h1>
<div class="exampleContainer"><div class="example ecl-ml-none">ecl-ml-none</div></div>
<div class="exampleContainer"><div class="example ecl-ml-xs">ecl-ml-xs</div></div>
<div class="exampleContainer"><div class="example ecl-ml-s">ecl-ml-s</div></div>
<div class="exampleContainer"><div class="example ecl-ml-m">ecl-ml-m</div></div>
<div class="exampleContainer"><div class="example ecl-ml-l">ecl-ml-l</div></div>
<div class="exampleContainer"><div class="example ecl-ml-xl">ecl-ml-xl</div></div>
<div class="exampleContainer"><div class="example ecl-ml-xxl">ecl-ml-xxl</div></div>
<div class="exampleContainer"><div class="example ecl-ml-xxxl">ecl-ml-xxxl</div></div>

<h1>Margin auto</h1>
<div class="exampleContainerAuto"><div class="exampleAuto ecl-ma-auto">ecl-ma-auto</div></div>
<div class="exampleContainerAuto"><div class="exampleAuto ecl-mh-auto">ecl-mh-auto</div></div>
<div class="exampleContainerAuto"><div class="exampleAuto ecl-mr-auto">ecl-mr-auto</div></div>
<div class="exampleContainerAuto"><div class="exampleAuto ecl-ml-auto">ecl-ml-auto</div></div>
