{#
  - modifier: the variant. Can be 'splash' or 'overlay' (default: 'splash')
  - logo: display or not the European Commission logo. Can be true|false (default: false)
#}

{% set modifier = variant|default('splash') %}
{% set logo = logo|default(false) %}
{% set _css_class = 'ecl-language-list ecl-language-list--' ~ modifier %}
{% set _extra_attributes = '' %}
{% set _extra_classes = extra_classes|default('') %}

{% set languages %}
  <section>
    <a id="main-content" tabindex="-1"></a>
    <header class="ecl-u-bg-default ecl-u-pv-l" role="banner">
      <div class="ecl-container">
        {% if logo == true %}
          {% include '@ec-europa/ecl-logos' with {
              'extra_class': 'ecl-logo--big ecl-u-mh-auto',
              'title': 'European Commission'
          } %}
        {% endif %}
      </div>
    </header>
    <div class="ecl-u-bg-primary ecl-u-pv-xl">
      <div class="ecl-container">
        <div class="ecl-row">
          <div class="ecl-col-lg-8 ecl-offset-lg-2">
            <div class="ecl-row">
              <div class="ecl-col-md-6">
                {% for lang in languages %}
                  {% if loop.index0 == loop.length // 2 %}
                </div><div class="ecl-col-md-6">
                  {% endif %}
                  {% include '@ec-europa/ecl-buttons' with {
                    'type': 'link',
                    'modifier': 'splash-page',
                    'label': lang.label,
                    'href': lang.href,
                    'is_block': true,
                    'extra_classes': 'ecl-button--splash-page ecl-u-mb-xxxs',
                    'extra_attributes': [
                      { 'name': 'lang', 'value': lang.lang },
                      { 'name': 'hreflang', 'value': lang.hreflang },
                      { 'name': 'rel', 'value': 'alternate'}
                    ]
                  } %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endset %}

{# Print result #}
<div class="{{ _css_class }}"{{ _extra_attributes }}>
  {% if modifier == 'overlay' %}
    {% include '@ec-europa/ecl-lang-select-sites' with {
      'extra_attributes': [{name: 'data-ecl-dialog', value: 'ecl-dialog'}, {name: 'id', value: 'ecl-lang-select-sites__overlay'}],
      'extra_class': 'ecl-link'
    } %}

    {% embed '@ec-europa/ecl-dialogs' with { 'variant': 'wide' } %}
      {% block dialog_body %}
        {{ languages }}
      {% endblock %}
    {% endembed %}

  {% elseif modifier == 'splash' %}
    {% include '@ec-europa/ecl-skip-links' with {
      'href': '#main-content',
      'label': 'Skip to main content'
    } %}

    {{ languages }}
  {% endif %}
</div>
<div id="ecl-overlay-language-list" class="ecl-dialog__overlay ecl-dialog_overlay--blue" aria-hidden="true"></div>



