/*
 * Page banner
 * @define page-banner; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-page-banner-print() {
  .ecl-page-banner {
    margin: 0;
    padding-bottom: $ecl-spacing-print-l;
    padding-top: $ecl-spacing-print-l;
  }

  .ecl-page-banner__title {
    color: $ecl-color-black-100;
    font: $ecl-font-print-4-xl;
    font-family: $ecl-font-family-print-alt;
    margin-bottom: 0;
    margin-top: 0;
  }

  .ecl-page-banner__description {
    color: $ecl-color-black-100;
    font: $ecl-font-prolonged-print-l;
    margin-bottom: 0;
    margin-top: $ecl-spacing-print-xs;
  }

  .ecl-page-banner__description + .ecl-link {
    margin-top: $ecl-spacing-print-m;
  }
}

// Use mixin
@include exports('eu-component-page-banner-print') {
  @include ecl-page-banner-print;
}
