@use "sass:map";
@use '@ecl/ec-theme-default/maps/color';
@use '@ecl/ec-theme-default/maps/typography';

.link {
  color: map.get(color.$ecl-color, 'primary');
  display: inline-block;
  fill: currentColor;
  font-family: map.get(typography.$ecl-font-family, 'default');
  text-decoration: underline;

  &:hover,
  &:focus {
    color: map.get(color.$ecl-color, 'black-100');
  }

  &:focus {
    outline: 3px solid map.get(color.$ecl-color, 'secondary');
    outline-offset: 2px;
  }
}

.standalone {
  text-decoration: none;
}

.icon {
  height: 1em;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1em;
}
