@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;

.link {
  color: ecl-color('primary');
  display: inline-block;
  fill: currentColor;
  font-family: ecl-font-family('default');
  text-decoration: underline;

  &:hover,
  &:focus {
    color: ecl-color('black-100');
  }

  &:focus {
    outline: 3px solid ecl-color('secondary');
    outline-offset: 2px;
  }
}

.standalone {
  text-decoration: none;
}

.icon {
  height: 1em;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1em;
}
