// Media caption.

@mixin ecl-media-caption() {
  background-color: map-get($ecl-colors, 'grey-10');
  display: block;
  font-size: map-get($ecl-font-size, 'xs');
  line-height: 1.5715;
  padding: 0.715em 1em;
}
