/*
Footer

Site-wide footer component

Markup: html/footer.html

Style guide footer

*/

.footer__improved,
.footer__top,
.footer__bottom {
  @extend %hidden-print;
}

/*
Footer for improved websites
Markup: html/footer-improved.html
Style guide footer.footer-improved
*/

// Footer improved.
.footer__improved {
  background-color: $ec-blue25;
  color: $ec-blue120;

  .footer__column {
    padding-top: 0.8em;

    &:last-child {
      padding-top: 0;
      padding-bottom: 0.8em;
    }
  }

  .footer__menu {
    display: inline;
  }

  .footer__menu-item {
    font-size: map-get($font-size, 's');
    display: inline-block;
  }

  a {
    color: $ec-blue120;
  }

  h4 {
    padding: .4em 0;

    a {
      text-decoration: none;
    }
  }

  // Footer improved desktop styles.
  @include media-breakpoint-up(md) {
    .footer__menu-item {
      font-size: map-get($font-size, 's');
    }

    .footer__column {
      padding-bottom: 1em;

      &:last-child {
        padding-top: 1em;

        .footer__menu-item {
          display: block;
        }
      }
    }
  }
}

// Footer top.
.footer__top {
  background-color: $ec-blue75;
  color: #fff;

  a {
    color: #fff;
  }

  .footer__menu-item {
    font-size: map-get($font-size, 's');
  }
}

// Footer bottom.
.footer__bottom {
  background-color: $brand-primary;
  padding: 0.9em 0;
  color: #fff;

  .footer__menu-item {
    font-size: map-get($font-size, 's');
  }

  a {
    color: #fff;
  }
}

.footer__title {
  color: #fff;
  border-bottom: 2px solid $ec-blue50;
  margin-bottom: 0.2em;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.1em;
    // Make titles same height on mobile breakpoint.
    min-height: 3.2em;
  }

  // Make titles height auto on large screens.
  @media (min-width: 1291px) {
    min-height: auto;
  }
}

.footer__label {
  display: inline;
  font-weight: bold;
  margin-bottom: 0;
}

// Menus.
.footer__menu {
  margin: 0;
  padding-left: 0;
  max-width: none;
  list-style: none;

  .footer__menu-item {
    margin-right: 15px;
    padding-left: 0;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      .footer__top & {
        margin-bottom: 0.4em;
      }
    }

    a {
      padding: 0;

      &:hover,
      &:active,
      &:focus {
        background: none;
        text-decoration: none;
      }
    }
  }

  &.ul-list-inline .footer__menu-item {
    line-height: 0.75em;
  }
}

// Icons.
.footer__icon--social {
  &::before {
    margin-right: 8px !important;
  }

  &::after {
    content: none !important;
    display: none !important;
  }
}

// Footer columns.
.footer__column {
  padding-top: 1.6em;

  &:last-child {
    padding-bottom: 1.6em;
  }

  @include media-breakpoint-up(md) {
    padding-top: 2em;
    padding-bottom: 2em;

    &:last-child {
      padding-bottom: 2em;
    }
  }
}

// External link specific adjustments.
@mixin _footer_external_link_mixin() {
  &::after {
    position: absolute;
    line-height: 2.2;
  }
}

.footer {
  a {
    &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
      &:not(#{$ec_url_patterns}) {
        @include _footer_external_link_mixin();
      }
    }
  }

  a.footer__site-switcher {
    padding-right: 30px !important;
  }
}
