<section class="ecl-footer-bottom">
  <div class="container-fluid">
    <div class="ecl-row">
      <div class="ecl-col-sm-12">
        <ul class="ecl-footer__menu ecl-menu nav ecl-list-inline">
          <li class="ecl-footer__menu-item">
            <a href="http://ec.europa.eu/info/about-commissions-new-web-presence_en">About the Commission's new web presence</a>
          </li>
          <li class="ecl-footer__menu-item">
            <a href="#">Resources for partners</a>
          </li>
          <li class="ecl-footer__menu-item">
            <a href="http://ec.europa.eu/info/cookies_en">Cookies</a>
          </li>
          <li class="ecl-footer__menu-item">
            <a href="http://ec.europa.eu/info/legal-notice_en">Legal notice</a>
          </li>
          <li class="ecl-footer__menu-item">
            <a href="http://ec.europa.eu/info/contact_en">Contact</a>
          </li>
          <li class="ecl-footer__menu-item">
            <a href="http://ec.europa.eu/info/europa-analytics_en">Europa Analytics</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
