/**
 * Featured item component
 * @define featured-item
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$featured-item: null !default;

.ecl-featured-item__container {
  border: map.get($featured-item, 'border');
  border-radius: map.get($featured-item, 'border-radius');
  box-shadow: map.get($featured-item, 'shadow');
}

.ecl-featured-item__item {
  box-sizing: border-box;
  flex-basis: 50%;
  flex-grow: 1;

  &:last-child {
    padding-bottom: map.get($featured-item, 'padding');
  }
}

.ecl-featured-item__media_container {
  padding: map.get($featured-item, 'padding');
  padding-bottom: map.get($featured-item, 'media-padding');
}

.ecl-featured-item__title {
  color: map.get($featured-item, 'title-color');
  font: map.get($featured-item, 'title-font');
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin: 0;
  padding: map.get($featured-item, 'title-padding');
}

.ecl-featured-item__description {
  color: map.get($featured-item, 'description-color');
  font: map.get($featured-item, 'description-font');
  margin: 0;
  padding: map.get($featured-item, 'description-padding');

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.ecl-featured-item__link {
  display: inline-block;
  padding: map.get($featured-item, 'link-padding');
}

/**
* Highlight
*/
.ecl-featured-item--highlight {
  .ecl-featured-item__container {
    background-color: map.get($featured-item, 'highlight-background');
    border-inline-start: map.get($featured-item, 'highlight-border-size') solid
      map.get($featured-item, 'highlight-border-color');
    border-radius: map.get($featured-item, 'highlight-border-radius');
    overflow: hidden;
    padding-bottom: map.get($theme, 'spacing', 'm');
    padding-inline-start: map.get($theme, 'spacing', 'xs');
    padding-inline-end: map.get($theme, 'spacing', 'm');
    padding-top: map.get($theme, 'spacing', 'm');
  }

  .ecl-featured-item__heading {
    padding-inline-start: calc(
      #{map.get($theme, 'spacing', 'xs')} + #{map.get(
          $featured-item,
          'highlight-border-size'
        )}
    );
    padding-inline-end: map.get($theme, 'spacing', 'm');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('s') {
  .ecl-featured-item__container {
    display: flex;
    flex-wrap: wrap;
  }

  .ecl-featured-item__item {
    box-sizing: border-box;
    flex-basis: 50%;

    &:first-child {
      padding-bottom: 0;
      padding-inline-end: map.get($theme, 'spacing', 'm');
    }
  }

  .ecl-featured-item__container--right {
    flex-direction: row-reverse;

    .ecl-featured-item__item {
      &:first-child {
        padding-inline-end: 0;
      }

      &:last-child {
        padding-bottom: 0;
        padding-inline-end: map.get($theme, 'spacing', 'm');
      }
    }
  }

  .ecl-featured-item__link {
    margin-bottom: 0;
  }

  /**
  * Highlight
  */
  .ecl-featured-item--highlight {
    .ecl-featured-item__container {
      padding-bottom: map.get($featured-item, 'highlight-padding-bottom');
      padding-inline-start: map.get($featured-item, 'highlight-padding-left');
      padding-inline-end: map.get($theme, 'spacing', 'm');
      padding-top: map.get($featured-item, 'highlight-padding-top');
    }

    .ecl-featured-item__heading {
      padding-inline-start: calc(
        #{map.get($featured-item, 'highlight-padding-left')} + #{map.get(
            $featured-item,
            'highlight-border-size'
          )}
      );
    }
  }
}
