/**
 * Featured item component
 * @define featured-item
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$featured-item: null !default;

.ecl-featured-item__container {
  display: flex;
  flex-wrap: wrap;
}

.ecl-featured-item__heading {
  color: map.get($featured-item, 'text-color');
  font: map.get($featured-item, 'heading-mobile-font');
  font-weight: map.get($theme, 'font-weight-print', 'bold');
  margin-bottom: map.get($featured-item, 'heading-mobile-margin-bottom');
  margin-top: 0;
}

.ecl-featured-item__col-2 {
  padding: 0;
}

.ecl-featured-item__title {
  color: map.get($featured-item, 'text-color');
  font: map.get($theme, 'font-prolonged', 'l');
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin-bottom: map.get($featured-item, 'title-margin-bottom');
  margin-top: map.get($theme, 'spacing', 'm');
}

.ecl-featured-item__description {
  color: map.get($featured-item, 'text-color');
  font: map.get($theme, 'font-prolonged', 'm');
  font-weight: map.get($theme, 'font-weight-print', 'bold');
  margin-bottom: map.get($featured-item, 'description-margin-bottom');
  margin-top: 0;
  max-width: 80ch;
}

.ecl-featured-item__link {
  margin-bottom: map.get($theme, 'spacing-print', 'm');
}

/**
* Highlight
*/
.ecl-featured-item--highlight {
  .ecl-featured-item__container {
    background-color: map.get($featured-item, 'highlight-background');
    border-inline-start: map.get($featured-item, 'highlight-mobile-border-size')
      solid map.get($featured-item, 'highlight-border-color');
    border-radius: map.get($featured-item, 'highlight-border-radius');
    overflow: hidden;
    padding-bottom: map.get($theme, 'spacing-print', 'm');
    padding-inline-start: map.get($theme, 'spacing-print', 'xs');
    padding-inline-end: map.get($theme, 'spacing-print', 'm');
    padding-top: map.get($theme, 'spacing-print', 'm');
  }

  .ecl-featured-item__heading {
    padding-inline-start: calc(
      #{map.get($theme, 'spacing-print', 'xs')} + #{map.get(
          $featured-item,
          'highlight-mobile-border-size'
        )}
    );
    padding-inline-end: map.get($theme, 'spacing-print', 'm');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('s') {
  .ecl-featured-item__heading {
    font: map.get($featured-item, 'heading-font');
    font-weight: map.get($theme, 'font-weight-print', 'bold');
    margin-bottom: map.get($theme, 'spacing-print', 'm');
  }

  .ecl-featured-item__col-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .ecl-featured-item__item {
    box-sizing: border-box;
    flex-basis: 15cm;

    &:first-child {
      padding-bottom: 0;
      padding-inline-end: map.get($theme, 'spacing-print', 'm');
    }

    &:last-child {
      flex-grow: 1;
    }
  }

  .ecl-featured-item__link {
    margin-bottom: 0;
  }

  /**
  * Highlight
  */
  .ecl-featured-item--highlight {
    .ecl-featured-item__container {
      padding-bottom: map.get($featured-item, 'highlight-padding-bottom');
      padding-inline-start: map.get($featured-item, 'highlight-padding-left');
      padding-inline-end: map.get($theme, 'spacing-print', 'm');
      padding-top: map.get($featured-item, 'highlight-padding-top');
    }

    .ecl-featured-item__heading {
      padding-inline-start: calc(
        #{map.get($featured-item, 'highlight-padding-left')} + #{map.get(
            $featured-item,
            'highlight-border-size'
          )}
      );
      padding-inline-end: map.get($theme, 'spacing-print', 'm');
    }
  }
}
