/*
Notification
*/

.notification {
  @include ecl-hidden-print();

  padding: 10px 0 6px;
  background-color: map-get($ecl-colors, 'yellow-100');
  font-size: 14px;

  a {
    color: #000;

    @include ecl-focus-outline-border(3px, #000, 2px);

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.notification__label {
  display: inline-block;
  margin-right: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.notification__content {
  display: block;

  .notification__text {
    float: left;
    width: 100%;
    margin-bottom: 6px;
    margin-right: 8px;
  }

  .notification__btn {
    float: left;
    margin-bottom: 6px;
    font-weight: bold;

    &::after {
      @extend %ecl-icon--after;
      @extend %ecl-icon--right;

      font-size: 12px;
    }
  }

  p {
    max-width: none;
    margin: 0;
  }
}

.notification__content__more {
  font-weight: 600;

  & .ecl-icon {
    position: relative;
    top: 2px;
  }
}

@include ecl-media-breakpoint-up(sm) {
  .notification__content {
    .notification__text {
      width: 75%;
    }

    .notification__btn {
      float: right;
    }
  }
}

@include ecl-media-breakpoint-up(lg) {
  .notification__content__more {
    float: right;
  }
}

// External link specific adjustments
@mixin _notification_external_link_mixin() {
  padding-right: 1.1em;

  &::after {
    position: absolute;
    line-height: 2.2;
  }
}

.notification {
  a {
    &#{"[" + $ecl-external-link-pattern + "]"}:not(.is-internal) {
      &:not(#{$ecl-ec-link-patterns}) {
        @include _notification_external_link_mixin();
      }
    }
  }
}
