@import '@ecl/ec-theme-default/index';

.list {
  color: $ecl-color-grey-100;
  display: inline-flex;
  flex-wrap: wrap;
  font: $ecl-font-prolonged-m;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  margin-left: $ecl-spacing-m;

  &:first-of-type {
    margin-left: 0;
  }
}
