/**
 * Menu (Legacy) component
 * @define menu-legacy
 */

// Import base
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-component-link', 'ec-component-button'));

@mixin ecl-menu-legacy(
  $menu-background-mobile: $ecl-color-blue-25,
  $menu-background-desktop: $ecl-color-blue-25,
  $toggle-background: $ecl-color-blue-75,
  $toggle-color: $ecl-color-white,
  $toggle-color-hover: $ecl-color-white,
  $item-background-mobile: $ecl-color-blue-25,
  $item-background-desktop: $ecl-color-blue,
  $item-color-mobile: $ecl-color-blue-120,
  $item-color-hover-mobile: $ecl-color-blue-120,
  $item-color-desktop: $ecl-color-blue-120,
  $item-color-hover-desktop: $ecl-color-blue-120,
  $item-border: $ecl-color-blue-50,
  $item-selected-background-mobile: $ecl-color-blue-25,
  $item-selected-background-desktop: $ecl-color-grey-5,
  $item-selected-color-mobile: $ecl-color-blue-120,
  $item-selected-color-desktop: $ecl-color-blue,
  $item-current-background-mobile: $ecl-color-blue-75,
  $item-current-background-desktop: $ecl-color-blue-75,
  $item-current-color-mobile: $ecl-color-white,
  $item-current-color-desktop: $ecl-color-white,
  $separator-color: $ecl-color-grey,
  $subitem-background-mobile: $ecl-color-grey-5,
  $subitem-background-desktop: $ecl-color-grey-5,
  $subitem-color-mobile: $ecl-color-grey-75,
  $subitem-color-hover-mobile: $ecl-color-blue,
  $subitem-color-desktop: $ecl-color-blue,
  $subitem-color-hover-desktop: $ecl-color-grey
) {
  .ecl-menu-legacy {
    background-color: $menu-background-mobile;
    margin: 0;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-menu-legacy {
      background-color: $menu-background-desktop;
    }
  }

  /*
   * Menu toggle
   */
  .ecl-menu-legacy__toggle {
    color: $toggle-color;
    cursor: pointer;
    display: block;
    padding: $ecl-spacing-m 0;
    position: relative;
    width: 100%;

    &::before {
      background-color: $toggle-background;
      box-sizing: border-box;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
    }

    &:hover,
    &:focus,
    &:active {
      color: $toggle-color-hover;
    }
  }

  .ecl-menu-legacy__toggle-container {
    align-items: center;
    display: flex;
    position: relative;
  }

  // Hamburger button
  .ecl-menu-legacy__hamburger {
    cursor: pointer;
    display: inline-block;
    margin-right: $ecl-spacing-m;
  }

  .ecl-menu-legacy__hamburger--bar1,
  .ecl-menu-legacy__hamburger--bar2,
  .ecl-menu-legacy__hamburger--bar3 {
    background-color: $toggle-color;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    width: 35px;
  }

  .ecl-menu-legacy[aria-expanded='true'] .ecl-menu-legacy__hamburger--bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .ecl-menu-legacy[aria-expanded='true'] .ecl-menu-legacy__hamburger--bar2 {
    opacity: 0;
  }

  .ecl-menu-legacy[aria-expanded='true'] .ecl-menu-legacy__hamburger--bar3 {
    transform: rotate(45deg) translate(-9px, -8px);
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-menu-legacy__toggle {
      display: none;
    }
  }

  /*
   * First level
   */
  .ecl-menu-legacy__list {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
    margin: 0;
    padding: 0;
    position: relative;

    /* Force display if JS is disabled */
    .no-js & {
      display: flex;
    }
  }

  .ecl-menu-legacy[aria-expanded='true'] .ecl-menu-legacy__list {
    display: flex;
  }

  .ecl-menu-legacy__item {
    position: relative;

    &::before {
      background-color: $item-background-mobile;
      border-bottom: 1px solid $item-background-mobile;
      box-sizing: border-box;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
    }
  }

  .ecl-menu-legacy__link {
    border-bottom: 1px solid $item-border;
    color: $item-color-mobile;
    display: flex;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    padding-bottom: $ecl-spacing-m;
    padding-top: $ecl-spacing-m;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      color: $item-color-hover-mobile;
    }
  }

  .ecl-menu-legacy__link:last-child {
    border-bottom-width: 0;
  }

  .ecl-menu-legacy__item[aria-expanded='true'] {
    .ecl-menu-legacy__link {
      background-color: $item-selected-background-mobile;
      color: $item-selected-color-mobile;
    }
  }

  .ecl-menu-legacy__item--current,
  .ecl-menu-legacy__item--current[aria-expanded='true'] {
    &::before {
      background-color: $item-current-background-mobile;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .ecl-menu-legacy__link {
      background-color: $item-current-background-mobile;
      color: $item-current-color-mobile;
    }
  }

  .ecl-menu-legacy__link-icon {
    transition: none;
  }

  .ecl-menu-legacy__item[aria-expanded='true'] .ecl-menu-legacy__link-icon {
    transform: rotate(0);
  }

  .ecl-menu-legacy__link--current {
    font-weight: $ecl-font-weight-bold;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-menu-legacy__list {
      display: flex;
      flex-direction: row;
    }

    .ecl-menu-legacy__item {
      position: initial;

      &::before {
        display: none;
      }
    }

    .ecl-menu-legacy__link {
      border-bottom-width: 0;
      color: $item-color-desktop;
      padding: $ecl-spacing-m $ecl-spacing-s;

      &:hover,
      &:active {
        color: $item-color-hover-desktop;
      }

      &:focus {
        color: $item-color-hover-desktop;
        outline-offset: -3px;
      }
    }

    .ecl-menu-legacy__item--current {
      .ecl-menu-legacy__link {
        background-color: $item-current-background-desktop;
        color: $item-current-color-desktop;
      }
    }

    .ecl-menu-legacy__item[aria-expanded='true'] .ecl-menu-legacy__link {
      background-color: $item-selected-background-desktop;
      color: $item-selected-color-desktop;
    }
  }

  /*
   * Second level
   */
  .ecl-menu-legacy__mega {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: $ecl-spacing-s;
    padding-top: $ecl-spacing-s;
    position: relative;

    &::before {
      background-color: $subitem-background-mobile;
      box-sizing: border-box;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
    }

    /* Force display if JS is disabled */
    .no-js & {
      display: flex;
    }
  }

  .ecl-menu-legacy__item[aria-expanded='true'] .ecl-menu-legacy__mega {
    display: flex;
  }

  .ecl-menu-legacy__column {
    flex-grow: 1;
  }

  .ecl-menu-legacy__separator {
    color: $separator-color;
    font: $ecl-font-l;
    margin-bottom: $ecl-spacing-xs;
    margin-top: $ecl-spacing-xs;
    position: relative;
  }

  .ecl-menu-legacy__sublist {
    list-style: none;
    list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
    margin: 0;
    padding: 0;
  }

  .ecl-menu-legacy__subitem {
    position: relative;

    &::before {
      background-color: $subitem-background-mobile;
      box-sizing: border-box;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
    }
  }

  .ecl-menu-legacy__sublink {
    color: $subitem-color-mobile;
    display: block;
    font: $ecl-font-m;
    padding-bottom: $ecl-spacing-s;
    padding-top: $ecl-spacing-s;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      color: $subitem-color-hover-mobile;
    }
  }

  .ecl-menu-legacy__sublink--current {
    font-weight: $ecl-font-weight-bold;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-menu-legacy__mega {
      flex-direction: row;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;

      &::before {
        background-color: $subitem-background-desktop;
        display: block;
      }
    }

    .ecl-menu-legacy__subitem::before {
      display: none;
    }

    .ecl-menu-legacy__subitem {
      box-sizing: border-box;
      padding-right: $ecl-spacing-m;
    }

    .ecl-menu-legacy__sublink {
      color: $subitem-color-desktop;

      &:hover,
      &:focus,
      &:active {
        color: $subitem-color-hover-desktop;
      }
    }
  }
}

@include exports('ec-component-menu-legacy') {
  @include ecl-menu-legacy;
}
