.paragraph {
  display: block;
  max-width: 32em;
  margin-bottom: 0.8em;
}

p {
  @extend .paragraph;

  &.dashed {
    position: relative;
    padding-left: 0.8em;

    &::before {
      position: absolute;
      left: 0;
      display: inline-block;
      content: '-';
    }
  }
}

.paragraph--width-auto {
  width: auto;
}

.paragraph--intro {
  font-size: map-get($font-size, 'l');
}

.paragraph--small {
  font-size: map-get($font-size, 's');
}

.text-small {
  font-size: map-get($font-size, 'xs');
}
