<form>
  <div class="form-group">
    <label for="field-ID-1">Default Field</label>
    <p class="help-block">This is some placeholder help text.</p>
    <input type="text" name="field-name-1" id="field-ID-1" class="form-control" placeholder="Some placeholder text."/>
  </div>
</form>
