{#
  This is an example and should not be used as it is.
#}

{% include '@ec-europa/ecl-skip-links' with {
    'href': '#main-content',
    'label': 'Skip to main content'
} %}

<section>
  <a id="main-content" tabindex="-1"></a>
  <header class="ecl-u-bg-default ecl-u-pv-l" role="banner">
    <div class="ecl-container">
      {% include '@ec-europa/ecl-logos' with {
          'extra_class': 'ecl-logo--big ecl-u-mh-auto',
          'title': 'European Commission'
      } %}
    </div>
  </header>
  <div class="ecl-u-bg-primary ecl-u-pv-xl">
    <div class="ecl-container">
      <div class="ecl-row">
        <div class="ecl-col-lg-8 ecl-offset-lg-2">
          <div class="ecl-row">
            <div class="ecl-col-md-6">
              {% for lang in languages %}
                {% if loop.index0 == loop.length // 2 %}
              </div><div class="ecl-col-md-6">
                {% endif %}
                {% include '@ec-europa/ecl-buttons' with {
                  'type': 'link',
                  'modifier': 'default',
                  'label': lang.label,
                  'to': lang.href,
                  'isBlock': true,
                  'extraClass': 'ecl-button--splash-page',
                  'extraAttributes': [
                    { 'name': 'lang', 'value': lang.lang },
                    { 'name': 'hreflang', 'value': lang.hreflang },
                    { 'name': 'rel', 'value': 'alternate'}
                  ]
                } %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
