/**
 * Accordions
 * @define accordion
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-accordion() {
  .ecl-accordion {
    margin: 0;
  }

  .ecl-accordion__header {
    align-items: center;
    background-color: transparent;
    border-width: 0;
    color: $ecl-color-shade;
    display: flex;
    font-size: map-get($ecl-font-size, 'm');
    font-weight: 600;
    margin: 0;
    padding: map-get($ecl-spacing, 'xs');
    text-align: left;
    width: 100%;

    @include ecl-media-breakpoint-up(md) {
      font-size: map-get($ecl-font-size, 'l');
    }
  }

  .ecl-accordion__header-icon {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: map-get($ecl-spacing, 'xs');
  }

  .ecl-accordion__header:active,
  .ecl-accordion__header:focus,
  .ecl-accordion__header:hover,
  .ecl-accordion__header[aria-expanded='true'] {
    background-color: $ecl-color-secondary;
  }

  .ecl-accordion__panel {
    background-color: map-get($ecl-colors, 'grey-5');
    font-size: map-get($ecl-font-size, 's');
    margin: 0;
    padding: map-get($ecl-spacing, 's');

    @include ecl-media-breakpoint-up(md) {
      padding-left: map-get($ecl-spacing, 'xxl');
    }
  }

  .ecl-accordion__panel[aria-hidden='true'] {
    display: none;
  }
}
