/**
 * Indicator
 * @define indicator
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;

.ecl-indicator {
  align-items: center;
  background-color: var(--cm-surface-status-error, var(--c-er));
  border-radius: 50%;
  color: #fff;
  content: '';
  display: flex;
  font: var(--f-xs);
  height: 12px;
  justify-content: center;
  position: absolute;
  right: -8px;
  top: -10px;
  width: 12px;

  &:not(:empty) {
    height: 22px;
    right: -18px;
    top: -16px;
    width: 22px;
  }
}
