/**
 * Indicator
 * @define indicator
 */

@use 'sass:map';
@use '@ecl/utility-screen-reader/screen-reader';

// Exposed variables
$theme: null !default;

.ecl-indicator {
  align-items: center;
  background-color: var(--cm-surface-status-error, var(--c-er));
  border-radius: 50%;
  color: #fff;
  content: '';
  display: flex;
  font: var(--f-xs);
  height: 22px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  inset-inline-end: -18px;
  top: -16px;
  width: 22px;

  &:not(:has(.ecl-indicator__value)) {
    height: 12px;
    inset-inline-end: -8px;
    top: -10px;
    width: 12px;
  }

  &.ecl-indicator--left {
    inset-inline-start: -18px;
    inset-inline-end: auto;
  }

  &.ecl-indicator--standalone {
    display: inline-flex;
    position: static;
    margin-inline-start: var(--s-xs);
  }

  &.ecl-indicator--success {
    background-color: var(--cm-surface-status-success, var(--c-su));
  }

  &.ecl-indicator--warning {
    background-color: var(--cm-surface-status-warning, var(--c-wa));
  }

  &.ecl-indicator--info {
    background-color: var(--cm-surface-status-info, var(--c-in));
  }

  &.ecl-indicator--oval {
    border-radius: map.get($theme, 'border-radius', 'l');
    padding-inline: var(--s-3xs, var(--s-2xs));
  }
}

.ecl-indicator__label {
  @include screen-reader.sr-only;
}
