/**
 * Indicator
 * @define indicator
 */

@use 'sass:map';
@use '@ecl/utility-screen-reader/screen-reader';

// Exposed variables
$theme: null !default;

.ecl-indicator {
  align-items: center;
  background-color: var(--cm-surface-status-error, var(--c-er));
  border-radius: 50%;
  color: #fff;
  content: '';
  display: flex;
  font: var(--f-xs);
  height: 22px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  right: -18px;
  top: -16px;
  width: 22px;

  &:not(:has(.ecl-indicator__value)) {
    height: 12px;
    right: -8px;
    top: -10px;
    width: 12px;
  }
}

.ecl-indicator__label {
  @include screen-reader.sr-only;
}
