/**
 * Carousel
 * @define carousel ; weak
 */

.ecl-carousel {
  background-color: #000;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.ecl-carousel__list {
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
}

.ecl-carousel__item {
  opacity: 0;
  z-index: map-get($ecl-z-index, 'zero');
}

.ecl-carousel__item--showing {
  opacity: 1;
  z-index: map-get($ecl-z-index, 'highlight');
}

.ecl-carousel__btn {
  background-color: #000;
  border: 0;
  bottom: 0;
  color: #fff;
  position: absolute;
  top: 0;
  width: 3em;

  @include ecl-focus-outline-border();
}

.ecl-carousel__btn--previous {
  left: 0;
}

.ecl-carousel__btn--next {
  right: 0;
}

.ecl-carousel__live-region {
  background-color: map-get($ecl-colors, 'grey-100');
  color: #fff;
  min-width: 235px;
  padding: map-get($ecl-spacing, 'l');
}

@include ecl-media-breakpoint-up(md) {
  .ecl-carousel {
    flex-direction: row;
  }
}
