<h3 class="ecl-heading ecl-heading--h3">Unordered list</h3>

<ul class="ecl-list ecl-list--spaced ecl-list--disc">
  <li class="ecl-list__item">Item 1</li>
  <li class="ecl-list__item">Item 2
    <ul class="ecl-list ecl-list--spaced ecl-list--circle">
      <li class="ecl-list__item">Item 2.1</li>
      <li class="ecl-list__item">Item 2.2</li>
      <li class="ecl-list__item">Item 2.3</li>
    </ul>
  </li>
</ul>

<h3 class="ecl-heading ecl-heading--h3">Unstyled list</h3>

<ul class="ecl-list">
  <li class="ecl-list__item">Item 1</li>
  <li class="ecl-list__item">Item 2
    <ul class="ecl-list">
      <li class="ecl-list__item">Item 2.1</li>
      <li class="ecl-list__item">Item 2.2</li>
      <li class="ecl-list__item">Item 2.3</li>
    </ul>
  </li>
</ul>

<h3 class="ecl-heading ecl-heading--h3">Inline list</h3>

<ul class="ecl-list ecl-list--inline">
  <li class="ecl-list__item">Item 1</li>
  <li class="ecl-list__item">Item 2</li>
  <li class="ecl-list__item">Item 3</li>
  <li class="ecl-list__item">Item 4</li>
  <li class="ecl-list__item">Item 5</li>
</ul>

<h3 class="ecl-heading ecl-heading--h3">Ordered list</h3>

<ol class="ecl-list ecl-list--spaced">
  <li class="ecl-list__item">Item 1</li>
  <li class="ecl-list__item">Item 2</li>
  <li class="ecl-list__item">Item 3
    <ol class="ecl-list ecl-list--spaced">
      <li class="ecl-list__item">Item 3.1</li>
      <li class="ecl-list__item">Item 3.2</li>
      <li class="ecl-list__item">Item 3.3</li>
    </ol>
  </li>
</ol>

<h3 class="ecl-heading ecl-heading--h3">Ordered list (alpha)</h3>

<ol class="ecl-list ecl-list--spaced ecl-list--alpha">
  <li class="ecl-list__item">Item 1</li>
  <li class="ecl-list__item">Item 2</li>
  <li class="ecl-list__item">Item 3
    <ol class="ecl-list ecl-list--spaced ecl-list--alpha">
      <li class="ecl-list__item">Item 3.1</li>
      <li class="ecl-list__item">Item 3.2</li>
      <li class="ecl-list__item">Item 3.3</li>
    </ol>
  </li>
</ol>
