<section class="header-top">
  <div class="container-fluid">
    <div class="region region-header-top">
      <section id="block-dt-core-dt-header-site-tab-switcher" class="block block-dt-core clearfix">
        <div class="block__content">
          {% include "@site-switchers--header" %}
        </div>
      </section>
    </div>
  </div>
</section>

{% include "@site-headers-default" %}

<section class="main-content">
  <!-- Generic sections -->
  <div class="container-fluid"></div>

  <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">

      <div class="block__content">

        <div about="/info/index_fr" typeof="sioc:Item foaf:Document" class="node node-info-homepage view-mode-homepage_informational">
          <!-- Page Header -->
          <div class="page-header">
            {% include "@page-headers-default--large-intro" %}

          </div>

          <div class="page-content">
            <div class="container-fluid">
              <div class="row ceiling">
                <a id="main-content" tabindex="-1"></a>
                <section class="section col-md-12 ">

                  <div class="section__group">
                    <h2>Domaines</h2>
                    <div class="field field-name-field-info-homepage-topic-intro field--field-info-homepage-topic-intro">
                      <div class="field__items">
                        <p>Domaines d'action de la Commission européenne</p>
                      </div>
                    </div>
                    <div class="field field-name-field-info-homepage-topic-link field--field-info-homepage-topic-link">
                      <div class="field__items">
                        <a href="/info/topics_fr" class="btn btn-default">Domaines de A à Z</a>
                      </div>
                    </div>
                  </div>

                </section>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>
  </div>

  <div class="container-fluid"></div>
</section>

<section class="footer-top">
  <div class="container-fluid">
    <div class="region region-footer-top">
      <section id="block-nexteuropa-feedback-nexteuropa-feedback" class="block block-nexteuropa-feedback feedback-form__wrapper block--full-width clearfix">

        <!-- Signaler un probleme -->

      </section>
      <section id="block-dt-core-dt-footer-site-tab-switcher" class="block block-dt-core clearfix">
        {% include "@site-switchers--footer" %}
      </section>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <section class="col-sm-12 footer__column-main">
        <div class="region region-footer">
          {% include "@social-media-links" %}
          {% include "@footers" %}
        </div>
      </section>
    </div>
  </div>
</footer>
