<div class="js-tabs bootstrap-nav-wrapper">
  <h3>Navigation tabs title</h3>
  <ul class="js-tablist nav nav-tabs nav-tabs-right">
    <li class="js-tablist__item active">
      <a href="#bootstrap-fieldgroup-nav-item--actions2" class="js-tablist__link" data-toggle="tab">Actions</a>
    </li>
    <li class="js-tablist__item">
      <a href="#bootstrap-fieldgroup-nav-item--latest2" class="js-tablist__link" data-toggle="tab">Latest</a>
    </li>
    <li class="js-tablist__item">
      <a href="#bootstrap-fieldgroup-nav-item--details2" class="js-tablist__link" data-toggle="tab">Details</a>
    </li>
  </ul>

  <div id="bootstrap-fieldgroup-nav-item--actions2" class="js-tabcontent">
    Content of Actions tab
  </div>
  <div id="bootstrap-fieldgroup-nav-item--latest2" class="js-tabcontent">
    Content of Latest tab
  </div>
  <div id="bootstrap-fieldgroup-nav-item--details2" class="js-tabcontent">
    Content of Details tab
  </div>
</div>
