// Global

body {
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  min-width: 320px;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

@media print {
  %hidden-print {
    display: none !important;
  }
}

.no-js .collapse {
  display: block;
  visibility: visible;
}

.region-sidebar-first {
  padding: 1.667em 0;
}

.navbar-toggle {
  border-radius: 0;
  border: none;
}

.navbar-collapse,
.navbar-fixed-top,
.navbar {
  border: none;
}

.facetapi-facetapi-checkbox-links {
  list-style: none;

  input.facetapi-checkbox {
    margin-right: 0.5em;
  }

  a.facetapi-checkbox {
    text-decoration: none;
  }
}
