// Global

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  text-rendering: optimizelegibility;
}

@media print {
  %hidden-print {
    display: none !important;
  }
}

.no-js .collapse {
  display: block;
  visibility: visible;
}

.navbar-toggle {
  border-radius: 0;
  border-width: 0;
}

.navbar-collapse,
.navbar-fixed-top,
.navbar {
  border-width: 0;
}
