// Global

.no-js .collapse {
  display: block;
  visibility: visible;
}

.navbar-toggle {
  border-radius: 0;
  border-width: 0;
}

.navbar-collapse,
.navbar-fixed-top,
.navbar {
  border-width: 0;
}
