<div class="listing__wrapper listing__wrapper--two-columns">
  <ul class="listing listing--teaser">
    <li class="listing__item">
      <a href="#" class="listing__item-link">
        <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
        <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
      </a>
    </li>
    <li class="listing__item">
      <a href="#" class="listing__item-link">
        <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
        <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
      </a>
    </li>
  </ul>
   <ul class="listing listing--teaser">
    <li class="listing__item">
      <a href="#" class="listing__item-link">
        <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
        <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
      </a>
    </li>
    <li class="listing__item">
      <a href="#" class="listing__item-link">
        <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
        <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
      </a>
    </li>
  </ul>
</div>
