@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'text-input' with
  (
    $_border-radius: 4px,
    $_border-color: map.get(theme.$color, 'grey-80'),
    $_border-color-hover: map.get(theme.$color, 'grey-80'),
    $_border-color-focus: map.get(theme.$color, 'accent-blue-100'),
    $_border-color-invalid: map.get(theme.$color, 'red-120'),
    $_border-color-invalid-hover: map.get(theme.$color, 'red-100'),
    $_border-width-focus: 2px,
    $_color-input: map.get(theme.$color, 'grey-140'),
    $_color-placeholder: map.get(theme.$color, 'grey-40'),
    $_shadow: inset 0 0 6px rgba(9, 49, 142, 0.2),
    $_shadow-hover: inset 0 0 6px rgba(9, 49, 142, 0.4),
    $_padding-horizontal: map.get(theme.$spacing, 'm')
  );
