/**
 * Text input component
 * @define text-input
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/form';
@use '@ecl/theme-dev/maps/typography';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_border-color: map.get(color.$color, 'grey-75');
$_border-width: 1px;
$_border-color-focus: map.get(color.$color, 'yellow-100');
$_border-width-focus: 3px;
$_padding-vertical: map.get(spacing.$spacing, 's');
$_padding-horizontal: map.get(spacing.$spacing, 's');

.ecl-text-input {
  appearance: none;
  background-color: map.get(color.$color, 'white-100');
  border: $_border-width solid $_border-color;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: map.get(color.$color, 'text');
  display: block;
  font: map.get(typography.$font, 'm');
  margin: 0;
  max-width: 100%;
  padding: calc(#{$_padding-vertical} - #{$_border-width})
    calc(#{$_padding-horizontal} - #{$_border-width});

  &:hover {
    outline: 1px solid map.get(color.$color, 'blue-100');
    outline-offset: -1px;
  }

  &:active,
  &:focus {
    outline: $_border-width-focus solid $_border-color-focus;
    outline-offset: -3px;
  }
}

.ecl-text-input--s {
  width: 50%;

  @include breakpoints.up('m') {
    width: 30%;
  }

  @include breakpoints.up('l') {
    width: map.get(form.$form, 's');
  }
}

.ecl-text-input--m {
  width: 100%;

  @include breakpoints.up('m') {
    width: 50%;
  }

  @include breakpoints.up('l') {
    width: map.get(form.$form, 'm');
  }
}

.ecl-text-input--l {
  width: 100%;

  @include breakpoints.up('l') {
    width: map.get(form.$form, 'l');
  }
}

.ecl-text-input[disabled],
.ecl-text-input--disabled,
.ecl-text-input[readonly],
.ecl-text-input--readonly {
  background-color: map.get(color.$color, 'grey-5');
  border-color: map.get(color.$color, 'grey-50');
  cursor: not-allowed;

  &:hover {
    outline-width: 0;
  }
}

.ecl-text-input--invalid {
  border-color: map.get(color.$color, 'error');
  box-shadow: none;

  &:hover {
    outline-color: map.get(color.$color, 'red-130');
  }

  &:active,
  &:focus {
    outline-color: map.get(color.$color, 'yellow-100');
  }
}
