/**
 * Text input component
 * @define text-input
 */

@use '@ecl/theme-dev/functions/formfn' as *;
@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;
@use '@ecl/layout-grid/mixins/breakpoints';

$_border-color: ecl-color('grey-75');
$_border-width: 1px;
$_border-color-focus: ecl-color('yellow-100');
$_border-width-focus: 3px;
$_padding-vertical: ecl-spacing('s');
$_padding-horizontal: ecl-spacing('s');

.ecl-text-input {
  appearance: none;
  background-color: ecl-color('white-100');
  border: $_border-width solid $_border-color;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: ecl-color('text');
  display: block;
  font: ecl-font('m');
  margin: 0;
  max-width: 100%;
  padding: calc(#{$_padding-vertical} - #{$_border-width})
    calc(#{$_padding-horizontal} - #{$_border-width});

  &:hover {
    outline: 1px solid ecl-color('blue-100');
    outline-offset: -1px;
  }

  &:active,
  &:focus {
    outline: $_border-width-focus solid $_border-color-focus;
    outline-offset: -3px;
  }
}

.ecl-text-input--s {
  width: 50%;

  @include breakpoints.media-breakpoint-up('md') {
    width: 30%;
  }

  @include breakpoints.media-breakpoint-up('lg') {
    width: ecl-form('s');
  }
}

.ecl-text-input--m {
  width: 100%;

  @include breakpoints.media-breakpoint-up('md') {
    width: 50%;
  }

  @include breakpoints.media-breakpoint-up('lg') {
    width: ecl-form('m');
  }
}

.ecl-text-input--l {
  width: 100%;

  @include breakpoints.media-breakpoint-up('lg') {
    width: ecl-form('l');
  }
}

.ecl-text-input[disabled],
.ecl-text-input--disabled,
.ecl-text-input[readonly],
.ecl-text-input--readonly {
  background-color: ecl-color('grey-5');
  border-color: ecl-color('grey-50');
  cursor: not-allowed;

  &:hover {
    outline-width: 0;
  }
}

.ecl-text-input--invalid {
  border-color: ecl-color('error');
  box-shadow: none;

  &:hover {
    outline-color: ecl-color('red-130');
  }

  &:active,
  &:focus {
    outline-color: ecl-color('yellow-100');
  }
}
