@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'text-input' with (
  $_border-radius: 0,
  $_border-color: map.get(theme.$color, 'grey-75'),
  $_border-color-hover: map.get(theme.$color, 'blue-100'),
  $_border-color-focus: map.get(theme.$color, 'yellow-100'),
  $_border-color-invalid: map.get(theme.$color, 'red-100'),
  $_border-color-invalid-hover: map.get(theme.$color, 'red-130'),
  $_border-width-focus: 3px,
  $_color-input: map.get(theme.$color, 'grey-100'),
  $_color-placeholder: map.get(theme.$color, 'grey-75'),
  $_shadow: none,
  $_shadow-hover: none,
  $_padding-horizontal: map.get(theme.$spacing, 's'),
);
