.tmp-playground-showcase {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

.tmp-playground-showcase-resizable {
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
  max-width: calc(100% - 2rem);
  overflow: auto;
  padding: 1rem;
  resize: horizontal;
  width: 100%;
}

.tmp-playground-code-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top-width: 0;
  overflow: auto;
  padding: 0;
}

.tmp-playground-code-pre {
  margin: 0 !important;
}
