/*
 * Feedback message
 * @define feedback-message
 */

// Import base
@import '@ecl/generic-base/generic-base';
@import '@ecl/generic-style-typography-paragraph/generic-style-typography-paragraph';

@mixin ecl-feedback-message() {
  .ecl-feedback-message {
    @include ecl-hidden-print();

    background: transparent url($ecl-assets-path+'images/messages-info.svg')
      no-repeat 1.2rem 1.2rem;
    color: $ecl-color-shade;
    font-size: map-get($ecl-font-size, 's');
    margin: 0;
    min-height: map-get($ecl-spacing, 'l');
    padding: map-get($ecl-spacing, 'xs') map-get($ecl-spacing, 'l')
      map-get($ecl-spacing, 'xs') map-get($ecl-spacing, 'xxl');
  }

  .ecl-feedback-message--error {
    background-color: map-get($ecl-colors, 'grey-5');
    background-image: url($ecl-assets-path+'images/messages-error.svg');
  }

  .ecl-feedback-message__title {
    font-weight: bold;
    margin-bottom: map-get($ecl-spacing, 'xs');
  }

  .ecl-feedback-message__body {
    @include paragraph();

    font-size: map-get($ecl-font-size, 's');
    margin: 0;
  }

  /* Spacing */

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  * + .ecl-feedback-message {
    margin-top: map-get($ecl-spacing, 'xs');
  }
}
