/**
 * Padding utilities
 */

// Import base
@import '@ecl/ec-base/ec-base';

/*
  Base:
    p = padding
  Modifiers:
    a = all
    h = horizontal
    v = vertical
    t = top
    r = right
    b = bottom
    l = left
*/

@mixin ecl-utility-padding() {
  /* stylelint-disable max-nesting-depth */
  @each $breakpoint in map-keys($ecl-grid-breakpoints) {
    @include ecl-media-breakpoint-up($breakpoint) {
      $infix: ecl-breakpoint-infix($breakpoint, $ecl-grid-breakpoints);

      @each $key, $value in $ecl-spacing {
        .ecl-u-pa#{$infix}-#{$key} {
          padding: $value !important;
        }

        .ecl-u-ph#{$infix}-#{$key} {
          padding-left: $value !important;
          padding-right: $value !important;
        }

        .ecl-u-pv#{$infix}-#{$key} {
          padding-bottom: $value !important;
          padding-top: $value !important;
        }

        .ecl-u-pt#{$infix}-#{$key} {
          padding-top: $value !important;
        }

        .ecl-u-pr#{$infix}-#{$key} {
          padding-right: $value !important;
        }

        .ecl-u-pb#{$infix}-#{$key} {
          padding-bottom: $value !important;
        }

        .ecl-u-pl#{$infix}-#{$key} {
          padding-left: $value !important;
        }
      }
    }
  }
}

// Use mixin
@include exports('ec-utility-padding') {
  @include ecl-utility-padding();
}
