@use 'sass:map';
@use '../index' as *;

$accordion: (
  radius: var(--s-xs),
  shadow: var(--sh-1),
  separator: 2px solid var(--c-p-20),
  title-text-color: var(--c-d-80),
  item-padding: var(--s-l),
  item-padding-expanded: var(--s-l) var(--s-l) var(--s-m),
  item-background-hover: var(--c-p-20),
  text-color: var(--c-d),
  icon-color: var(--c-p),
  icon-margin: var(--s-m),
  yellow-bar: true,
);
$accordion-print: (
  toggle-background: transparent,
  toggle-color: var(--c-d),
  toggle-font: map.get($font-print, 'l'),
  content-color: var(--c-d),
  content-font: map.get($font-print, 'm'),
);
