@use 'sass:map';
@use '../index' as *;

$accordion: (
  radius: map.get($border-radius, 'm'),
  shadow: var(--sh-1),
  separator: 2px solid var(--c-p-20),
  title-text-color: var(--c-d-80),
  title-font-weight: map.get($font-weight, 'bold'),
  item-padding: var(--s-l),
  item-background-hover: var(--c-p-10),
  content-padding: var(--s-m) var(--s-l),
  text-color: var(--c-d),
  icon-color: var(--c-p),
  icon-margin: var(--s-m),
  icon-offset: 0,
  yellow-bar: true,
  sidebar: (
    border: 2px solid var(--c-d),
    item-padding: 1.33em 0 var(--s-s),
    title-text-color: var(--c-d),
  ),
);
$accordion-print: (
  toggle-background: transparent,
  toggle-color: var(--c-d),
  toggle-font: map.get($font-print, 'l'),
  content-color: var(--c-d),
  content-font: map.get($font-print, 'm'),
);
