@use 'sass:map';
@use '../index' as *;

$add-to-calendar: (
  info: (
    color: #fff,
    padding-mobile: var(--s-m) var(--s-s),
    padding-tablet: var(--s-m) var(--s-l),
    padding-desktop: var(--s-m) var(--s-xl),
    gap-mobile: var(--s-l),
    gap-tablet: var(--s-xl),
    gap-content: var(--s-xs),
  ),
  title: (
    font: var(--f-l),
    font-weight: map.get($font-weight, 'regular'),
  ),
  meta: (
    font: var(--f-s),
    icon-spacing: var(--s-2xs),
    item-padding: var(--s-s),
    separator-offset-inline-start: var(--s-2xs),
    gap: var(--s-xs),
  ),
);
