// stylelint-disable length-zero-no-unit

@use 'sass:map';
@use '../index' as *;

$button: (
  radius: 4px,
  shadow: var(--sh-1),
  small: (
    size: 2rem,
    padding-horizontal: 8px,
    padding-vertical: 4px,
    font: var(--f-ui-s),
    icon-only-size: map.get($icon, 's'),
  ),
  medium: (
    size: 2.5rem,
    padding-horizontal: 14px,
    padding-vertical: 6px,
    font: var(--f-ui-m),
    icon-only-size: map.get($icon, 'm'),
  ),
  large: (
    size: 2.75rem,
    padding-horizontal: 14px,
    padding-vertical: 4px,
    font: var(--f-ui-m),
    icon-only-size: map.get($icon, 'm'),
  ),
  primary: (
    background: var(--c-p),
    color: #fff,
    border-color: transparent,
    border-width: 0px,
    background-hover: var(--c-p-80),
    color-hover: #fff,
    border-color-hover: transparent,
    background-active: var(--c-p-140),
    color-active: #fff,
    border-color-active: transparent,
    background-focus: var(--c-p),
    color-focus: #fff,
    border-color-focus: transparent,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
  ),
  primary-highlight: (
    background: var(--c-s),
    color: var(--c-d),
    border-color: transparent,
    border-width: 0px,
    background-hover: var(--c-s-80),
    color-hover: var(--c-d),
    border-color-hover: transparent,
    background-active: var(--c-s-120),
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: var(--c-s),
    color-focus: var(--c-d),
    border-color-focus: transparent,
    outline-color: var(--c-d),
    outline-offset: -3px,
    outline-width: 1px,
  ),
  primary-inverted: (
    background: var(--c-p-5),
    color: var(--c-p),
    border-color: transparent,
    border-width: 0px,
    background-hover: #fff,
    color-hover: var(--p-160),
    border-color-hover: transparent,
    background-active: var(--c-p-20),
    color-active: var(--c-p-160),
    border-color-active: transparent,
    background-focus: var(--c-p-5),
    color-focus: var(--c-p),
    border-color-focus: transparent,
    outline-color: var(--c-p),
    outline-offset: -3px,
    outline-width: 1px,
  ),
  secondary: (
    background: #fff,
    color: var(--c-p),
    border-color: var(--c-p),
    border-width: 2px,
    background-hover: var(--c-p-80),
    color-hover: #fff,
    border-color-hover: transparent,
    background-active: var(--c-p-140),
    color-active: #fff,
    border-color-active: transparent,
    background-focus: var(--c-p-140),
    color-focus: #fff,
    border-color-focus: transparent,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
  ),
  secondary-neutral: (
    background: transparent,
    color: var(--c-p),
    border-color: transparent,
    border-width: 1px,
    background-hover: var(--c-p-10),
    color-hover: var(--c-d),
    border-color-hover: var(--c-d),
    background-active: var(--c-p-20),
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: var(--c-p),
    border-color-focus: transparent,
    outline-color: var(--c-p),
    outline-offset: -2px,
    outline-width: 2px,
  ),
  secondary-inverted: (
    background: transparent,
    color: #fff,
    border-color: #fff,
    border-width: 1px,
    background-hover: var(--c-p-5),
    color-hover: var(--c-p),
    border-color-hover: transparent,
    background-active: var(--c-p-20),
    color-active: var(--c-p-160),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: #fff,
    border-color-focus: transparent,
    shadow-focus: 0px 0px 0px 2px var(--c-p) inset,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
  ),
  tertiary: (
    background: transparent,
    color: var(--c-d),
    border-color: var(--c-d),
    border-width: 1px,
    background-hover: var(--c-p-10),
    color-hover: var(--c-d),
    border-color-hover: var(--c-d),
    background-active: var(--c-p-20),
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: var(--c-d),
    border-color-focus: transparent,
    outline-color: var(--c-p),
    outline-offset: -2px,
    outline-width: 2px,
  ),
  tertiary-neutral: (
    background: transparent,
    color: var(--c-d),
    border-color: transparent,
    border-width: 1px,
    background-hover: var(--c-p-10),
    color-hover: var(--c-d),
    border-color-hover: var(--c-d),
    background-active: var(--c-p-20),
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: var(--c-d),
    border-color-focus: transparent,
    outline-color: var(--c-p),
    outline-offset: -2px,
    outline-width: 2px,
  ),
  tertiary-inverted: (
    background: transparent,
    color: #fff,
    border-color: transparent,
    border-width: 1px,
    background-hover: var(--c-p-10),
    color-hover: var(--c-d),
    border-color-hover: transparent,
    background-active: var(--c-p-20),
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: #fff,
    border-color-focus: transparent,
    outline-color: var(--c-p),
    outline-offset: -2px,
    outline-width: 2px,
  ),
);
