// stylelint-disable length-zero-no-unit

@use 'sass:map';
@use '../index' as *;

$button: (
  radius: map.get($border-radius, 's'),
  shadow: var(--sh-1),
  small: (
    size: 2rem,
    padding-horizontal: var(--s-xs),
    padding-vertical: var(--s-2xs),
    font: var(--f-ui-s),
    icon-only-size: map.get($icon, 's'),
    icon-spacing: var(--s-2xs),
    icon-size: map.get($icon, '2xs'),
  ),
  medium: (
    size: 2.5rem,
    padding-horizontal: 0.875rem,
    padding-vertical: 0.375rem,
    font: var(--f-ui-m),
    icon-only-size: map.get($icon, 's'),
    icon-spacing: var(--s-xs),
    icon-size: map.get($icon, 'xs'),
  ),
  large: (
    size: 3rem,
    padding-horizontal: 14px,
    padding-vertical: 4px,
    font: var(--f-ui-m),
    icon-only-size: map.get($icon, 'm'),
    icon-spacing: var(--s-xs),
    icon-size: map.get($icon, 'xs'),
  ),
  primary: (
    background: var(--c-p),
    color: #fff,
    border-color: transparent,
    border-width: 0px,
    background-hover: var(--c-p-80),
    color-hover: #fff,
    border-color-hover: transparent,
    background-active: var(--c-p-140),
    color-active: #fff,
    border-color-active: transparent,
    background-focus: var(--c-p),
    color-focus: #fff,
    border-color-focus: transparent,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: var(--c-p-10),
    color-disabled: var(--c-d-40),
    border-color-disabled: transparent,
    opacity-disabled: 1,
  ),
  primary-highlight: (
    background: var(--c-s),
    color: var(--c-d),
    border-color: transparent,
    border-width: 0px,
    background-hover: var(--c-s-80),
    color-hover: var(--c-d),
    border-color-hover: transparent,
    background-active: var(--c-s-120),
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: var(--c-s),
    color-focus: var(--c-d),
    border-color-focus: transparent,
    outline-color: var(--c-d),
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: var(--c-s-20),
    color-disabled: var(--c-d-40),
    border-color-disabled: transparent,
    opacity-disabled: 1,
  ),
  primary-neutral: (
    background: var(--c-p-180),
    color: #fff,
    border-color: transparent,
    border-width: 0px,
    background-hover: color-mix(in srgb, var(--c-p-180) 90%, transparent),
    color-hover: #fff,
    border-color-hover: transparent,
    background-active: color-mix(in srgb, var(--c-p-180) 80%, transparent),
    color-active: #fff,
    border-color-active: transparent,
    background-focus: var(--c-p-180),
    color-focus: #fff,
    border-color-focus: transparent,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: var(--c-d-10),
    color-disabled: var(--c-d-40),
    border-color-disabled: transparent,
    opacity-disabled: 1,
  ),
  primary-inverted: (
    background: #fff,
    color: var(--c-d),
    border-color: transparent,
    border-width: 0px,
    background-hover: var(--c-d-10),
    color-hover: var(--c-d),
    border-color-hover: transparent,
    background-active: #fff,
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: #fff,
    color-focus: var(--c-d),
    border-color-focus: transparent,
    outline-color: var(--c-p),
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: var(--c-d-5),
    color-disabled: var(--c-d),
    border-color-disabled: transparent,
    opacity-disabled: 0.5,
  ),
  secondary: (
    background: #fff,
    color: var(--c-p),
    border-color: var(--c-p),
    border-width: 2px,
    background-hover: var(--c-p-80),
    color-hover: #fff,
    border-color-hover: transparent,
    background-active: var(--c-p-140),
    color-active: #fff,
    border-color-active: transparent,
    background-focus: var(--c-p-140),
    color-focus: #fff,
    border-color-focus: transparent,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: #fff,
    color-disabled: var(--c-p),
    border-color-disabled: var(--c-p),
    opacity-disabled: 0.5,
  ),
  secondary-neutral: (
    background: transparent,
    color: var(--c-d),
    border-color: var(--c-d),
    border-width: 1px,
    background-hover: var(--c-d-20),
    color-hover: var(--c-d),
    border-color-hover: var(--c-d),
    background-active: #fff,
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: var(--c-d),
    border-color-focus: var(--c-p),
    border-width-focus: 2px,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: transparent,
    color-disabled: var(--c-d),
    border-color-disabled: var(--c-d),
    opacity-disabled: 0.5,
  ),
  secondary-inverted: (
    background: transparent,
    color: #fff,
    border-color: #fff,
    border-width: 1px,
    background-hover: var(--c-d-20),
    color-hover: var(--c-d),
    border-color-hover: #fff,
    background-active: #fff,
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: #fff,
    border-color-focus: #fff,
    border-width-focus: 2px,
    outline-color: var(--c-d),
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: transparent,
    color-disabled: #fff,
    border-color-disabled: #fff,
    opacity-disabled: 0.5,
  ),
  tertiary: (
    background: transparent,
    color: var(--c-p),
    border-color: transparent,
    border-width: 1px,
    background-hover: var(--c-p-10),
    color-hover: var(--c-d),
    border-color-hover: var(--c-d),
    background-active: var(--c-p-20),
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: var(--c-p),
    border-color-focus: transparent,
    outline-color: var(--c-p),
    outline-offset: -2px,
    outline-width: 2px,
    background-disabled: transparent,
    color-disabled: color-mix(in srgb, var(--c-p) 50%, transparent),
    border-color-disabled: transparent,
    opacity-disabled: 1,
  ),
  secondary-inverted: (
    background: transparent,
    color: #fff,
    border-color: #fff,
    border-width: 2px,
    background-hover: var(--c-p-5),
    color-hover: var(--c-p),
    border-color-hover: transparent,
    background-active: var(--c-p-20),
    color-active: var(--c-p-160),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: #fff,
    border-color-focus: transparent,
    shadow-focus: 0px 0px 0px 2px var(--c-p) inset,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: transparent,
    color-disabled: var(--c-p),
    border-color-disabled: var(--c-p),
    opacity-disabled: 0.5,
  ),
  tertiary-neutral: (
    background: transparent,
    color: var(--c-d),
    border-color: transparent,
    border-width: 1px,
    background-hover: var(--c-d-20),
    color-hover: var(--c-d),
    border-color-hover: var(--c-d),
    background-active: #fff,
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: var(--c-d),
    border-color-focus: var(--c-p),
    border-width-focus: 2px,
    outline-color: #fff,
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: transparent,
    color-disabled: var(--c-d),
    border-color-disabled: transparent,
    opacity-disabled: 0.5,
  ),
  tertiary-inverted: (
    background: transparent,
    color: #fff,
    border-color: transparent,
    border-width: 0px,
    background-hover: var(--c-d-20),
    color-hover: var(--c-d),
    border-color-hover: transparent,
    background-active: #fff,
    color-active: var(--c-d),
    border-color-active: transparent,
    background-focus: transparent,
    color-focus: #fff,
    border-color-focus: #fff,
    border-width-focus: 2px,
    outline-color: var(--c-d),
    outline-offset: -3px,
    outline-width: 1px,
    background-disabled: transparent,
    color-disabled: #fff,
    border-color-disabled: transparent,
    opacity-disabled: 0.5,
  ),
);
