@use 'sass:map';
@use '../index' as *;

$card: (
  background: #fff,
  border-radius: map.get($border-radius, 'm'),
  shadow: var(--sh-1),
  border-bottom: none,
  body-padding: var(--s-l),
  yellow-bar: true,
);
