@use 'sass:map';
@use '../index' as *;

$category-filter: (
  separator: 1px solid var(--c-p-20),
  background-hover: var(--c-p-20),
  background-subitem: var(--c-p-10),
  subitem-spacing: var(--s-l),
);
