@use 'sass:map';
@use '../index' as *;

$checkbox: (
  border-color: var(--c-d-80),
  background: map.get($color, 'white'),
  box-background-checked-hover: var(--c-p),
  box-size: 1.5rem,
  box-margin-top: 0,
  help-text-color: var(--c-d),
  help-text-font: var(--f-s),
  invalid-border-color: var(--c-er),
  invalid-border-color-hover: var(--c-er-80),
  label-color: var(--c-d-140),
  box-border-color-checked: var(--c-p),
  box-background-checked: var(--c-p),
  border-width: 1px,
  border-radius: 4px,
  checkbox-fill: map.get($color, 'white'),
  hover-circle: (
    height: 2.5rem,
    width: 2.5rem,
    content: '',
    display: block,
    border-radius: 50%,
    position: absolute,
    top: 50%,
    left: 50%,
    transform: translate(-50%, -50%),
    background-color: var(--c-p-20),
    z-index: -1,
  ),
);
