@use 'sass:map';
@use '../index' as *;

$datepicker: (
  input-icon-color: var(--c-d-80),
  picker: (
    font: var(--fs-s),
    border-radius: map.get($border-radius, 's'),
    shadow: var(--sh-2),
    theme-color: var(--c-d-140),
    background-color: #fff,
    day-hover-background: map.get($color, 'white'),
    day-selected-background: var(--c-p),
  ),
);
