@use 'sass:map';
@use '../index' as *;

$description-list: (
  term-color: var(--c-d),
  term-font-weight: map.get($font-weight, 'bold'),
  term-margin-bottom: var(--s-2xs),
  term-margin-top: var(--s-l),
  definition-color: var(--c-d),
  definition-spacing: var(--s-m),
  separator-color: var(--c-p),
  taxonomy-color: var(--c-d),
  term-width: 200px,
);
$description-list-print: (
  definition-font: map.get($font-print, 'm'),
  term-width: 32%,
  definition-width: 68%,
);
