@use 'sass:map';
@use '../index' as *;

$description-list: (
  term-color: var(--c-d-140),
  term-font: var(--f-l),
  term-margin-bottom: var(--s-xs),
  term-margin-top: var(--s-m),
  definition-font: var(--f-p-m),
  definition-color: var(--c-d-140),
  separator-color: var(--c-p),
  taxonomy-color: var(--c-d-80),
  term-width: 200px,
);
$description-list-print: (
  definition-font: map.get($font-prolonged-print, 'm'),
  term-font-family: map.get($font-family-print, 'default'),
  term-width: 32%,
  definition-width: 68%,
);
