@use 'sass:map';
@use '../index' as *;

$expandable: (
  content-color: var(--c-d-80),
  content-divider: none,
  content-margin: var(--s-m),
  content-padding: var(--s-m),
  content-spacing-bottom: 0,
  toggle-background-active: transparent,
  toggle-border-active: transparent,
  toggle-color-active: var(--c-p),
  toggle-radius: 4px,
);
