@use 'sass:map';
@use '../index' as *;

$featured-item: (
  gap-horizontal: var(--s-m),
  gap-vertical: var(--s-m),
  padding: 0,
  border-radius: map.get($border-radius, 'm'),
  title: (
    color: var(--c-d-140),
    font-mobile: var(--f-p-l),
    font-desktop: var(--f-p-l),
    font-weight: map.get($font-weight, 'bold'),
  ),
  description: (
    color: var(--c-d-80),
    font: var(--f-p-m),
    spacing: var(--s-s),
  ),
  link: (
    font: var(--f-m),
    spacing: var(--s-m),
  ),
  highlight: (
    container-background: var(--c-p-10),
    title-background: transparent,
    item-background: transparent,
    link-spacing-horizontal: 0,
    link-spacing-vertical: var(--s-m) 0,
    media-padding-mobile: 0 0 var(--s-m),
    media-padding-desktop: 0,
    media-spacing-vertical-desktop: 0,
    media-spacing-horizontal-desktop: 0 var(--s-xs),
    media-padding-horizontal-right: calc(-1 * var(--s-xs)) 0,
    media-padding-vertical-right: 0,
    padding-mobile: var(--s-m) var(--s-m) var(--s-m) var(--s-xs),
    padding-horizontal-desktop: var(--s-l) var(--s-m),
    padding-vertical-desktop: var(--s-m),
    border-size: 8px,
    border-color: var(--c-p),
    text-spacing-desktop: var(--s-xs),
    text-spacing-right-desktop: 0 var(--s-l),
    title-spacing: 0,
    title-spacing-desktop: var(--s-xs) 0,
    title-spacing-right-desktop: 0 var(--s-xs),
    description-spacing-horizontal: 0,
    description-spacing-vertical: var(--s-s) 0,
    description-spacing-vertical-no-title: 0,
    description-spacing-vertical-desktop: var(--s-s) 0,
  ),
);
$featured-item-print: (
  padding: map.get($spacing-print, 'l'),
  media-padding-desktop: 0 map.get($spacing-print, 'm')
    map.get($spacing-print, 'l') 0,
  media-padding-right: 0 0 map.get($spacing-print, 'm')
    map.get($spacing-print, 'm'),
  title-font: map.get($font-print, 'l'),
  title-font-weight: map.get($font-weight-print, 'bold'),
  title-spacing-desktop-top: 0,
  title-spacing-desktop-bottom: map.get($spacing-print, 'm'),
  title-spacing-desktop-start: map.get($spacing-print, 'm'),
  title-spacing-right: 0 map.get($spacing-print, 'xl') 0 0,
  description-font: map.get($font-print, 'm'),
  description-spacing-desktop-top: map.get($spacing-print, 's'),
  description-spacing-desktop-start: map.get($spacing-print, 'm'),
  description-spacing-right: map.get($spacing-print, 's')
    map.get($spacing-print, 'xl') 0 0,
  link-spacing-desktop-top: map.get($spacing-print, 'm'),
  link-spacing-desktop-start: map.get($spacing-print, 'm'),
  link-spacing-right: map.get($spacing-print, 'm') map.get($spacing-print, 'xl')
    0 0,
  simple: (
    media-padding-desktop: 0 0 map.get($spacing-print, 'm') 0,
    padding-desktop: 0,
    link-spacing-top: map.get($spacing-print, 'm'),
    link-spacing-start: map.get($spacing-print, 'xl'),
    title-spacing: 0 map.get($spacing-print, 'xl'),
    description-spacing: map.get($spacing-print, 's')
      map.get($spacing-print, 'xl') 0,
    description-spacing-top: 0,
  ),
  highlight: (
    media-padding-desktop: 0 map.get($spacing-print, 'm') 0 0,
    item-spacing: 0 map.get($spacing-print, 'l') 0 0,
    padding-desktop: map.get($spacing-print, 'm') map.get($spacing-print, 'm')
      map.get($spacing-print, 'm') map.get($spacing-print, 'l'),
    description-spacing: map.get($spacing-print, 's') 0 0 0,
    description-spacing-top: map.get($spacing-print, 'm'),
    link-spacing-top: map.get($spacing-print, 'm'),
    link-spacing-start: 0,
  ),
);
