@use 'sass:map';
@use '../index' as *;

$file: (
  border-color: var(--c-p-20),
  border-radius: 4px,
  shadow: none,
  container-background: var(--c-p-5),
  container-border: none,
  container-spacing: var(--s-l) var(--s-l) 0 var(--s-l),
  container-spacing-last: 0,
  file-color: var(--c-d-80),
  file-container-padding-bottom: var(--s-l),
  file-description-color: var(--c-d-80),
  file-description-font: var(--f-p-m),
  file-detail-flex-direction: row-reverse,
  file-detail-margin-bottom: 0,
  file-detail-meta-color: var(--c-d-140),
  file-detail-padding-bottom: var(--s-l),
  file-download-position: relative,
  file-download-position-top: calc(var(--s-m) * -1),
  file-download-spacing-mobile: 0,
  file-download-spacing-desktop: 0,
  file-footer-border: 0,
  file-footer-flex-direction: row,
  file-footer-margin: 0,
  file-footer-padding: var(--s-2xs) var(--s-xl) var(--s-xl)
    calc(var(--s-l) + #{map.get($icon, 'l')}),
  file-icon-align-self: flex-start,
  file-image-margin-left: 0,
  file-image-margin-right: var(--s-xl),
  file-info-margin-left: var(--s-xs),
  file-label-spacing: var(--s-m),
  file-language-font: var(--f-s),
  file-meta-font: var(--f-s),
  file-meta-margin: var(--s-xs),
  file-picture-order-desktop: 0,
  file-picture-order-mobile: 1,
  file-spacing: var(--s-l),
  file-spacing-last-child: var(--s-l),
  file-taxonomy-spacing: var(--s-m) 0 0,
  file-thumbnail-border: true,
  file-thumbnail-container-padding: var(--s-m),
  file-thumbnail-download-top-position: 0,
  file-thumbnail-footer-margin: 0,
  file-thumbnail-footer-padding: var(--s-m) var(--s-l) var(--s-l),
  file-thumbnail-meta-margin: var(--s-xs),
  file-translation-background: var(--c-n-40),
  file-translation-border: 1px solid var(--c-p-10),
  file-translation-container-border: 2px solid var(--c-p-10),
  file-translation-container-padding-left: var(--s-l),
  file-translation-detail-margin-bottom: var(--s-l),
  file-translation-download-alignment: flex-start,
  file-translation-item-margin: var(--s-l),
  file-translation-item-padding-h: 0,
  file-translation-meta-font: var(--f-s),
  file-translation-meta-spacing: 0,
  file-translation-title-margin-bottom: var(--s-s),
  file-translation-toggle-border: 2px solid var(--c-p),
  file-translation-toggle-margin: var(--s-s),
  icon-color: var(--c-p),
  image-width: 13.313rem,
  title-font: var(--f-m),
  title-font-weight: map.get($font-weight, 'bold'),
  translation-border-color: var(--c-p-20),
);
