@use 'sass:map';
@use '../index' as *;

$gallery: (
  actions-margin: var(--s-m),
  detail-color: map.get($color, 'white'),
  description-background: color-mix(in srgb, var(--c-d) 65%, transparent),
  description-font: var(--f-s),
  description-font-weight: map.get($font-weight, 'regular'),
  description-text-transform: none,
  description-letter-spacing: 0,
  gallery-info-color: var(--c-d-140),
  gallery-info-font: var(--f-s),
  gallery-info-font-weight: map.get($font-weight, 'regular'),
  gallery-info-text-transform: none,
  gallery-info-letter-spacing: 0,
  footer-link-font: var(--f-m),
  overlay-background: color-mix(in srgb, var(--c-d) 90%, transparent),
  overlay-font: var(--f-m),
  overlay-shadow: var(--sh-3),
  overlay-title-font-weight: map.get($font-weight, 'bold'),
  overlay-meta-font: var(--f-m),
);
$gallery-print: (
  description-font: map.get($font-print, 's'),
);
