@use 'sass:map';
@use '../index' as *;

$gallery: (
  actions-margin: var(--s-m),
  description-background: color-mix(in srgb, var(--c-d) 65%, transparent),
  detail-color: map.get($color, 'white'),
  gallery-info-color: var(--c-d-140),
  overlay-background: color-mix(in srgb, var(--c-d) 90%, transparent),
  overlay-shadow: var(--sh-3),
);
