@use 'sass:map';
@use '../index' as *;

$language-list: (
  color: var(--c-d-140),
  container-padding-mobile: (
    block-start: var(--s-2xl),
    block-end: var(--s-2xl),
    inline-start: var(--s-l),
    inline-end: var(--s-l),
  ),
  container-padding-desktop: (
    block-start: var(--s-xl),
    block-end: var(--s-m),
    inline-start: var(--s-l),
    inline-end: var(--s-l),
  ),
  header-font-mobile: var(--f-p-l),
  header-font-desktop: var(--f-p-xl),
  content-margin-mobile: var(--s-s),
  content-margin-desktop: var(--s-s),
  title-padding-start: var(--s-s),
  category-title-font: var(--f-p-m),
  category-title-font-weight: map.get($font-weight, 'regular'),
  category-title-padding: (
    block-start: var(--s-l),
    block-end: var(--s-xs),
    inline-start: var(--s-s),
    inline-end: 0,
  ),
  category-separator: 1px solid var(--c-p-20),
  category-stack-margin: var(--s-s),
  item-padding: (
    block-start: var(--s-s),
    block-end: var(--s-s),
    inline-start: var(--s-s),
    inline-end: var(--s-s),
  ),
  code-color: var(--c-d-140),
  code-font-weight: map.get($font-weight, 'regular'),
  code-active-font-weight: map.get($font-weight, 'bold'),
  code-width: 26px,
  item-active-background: var(--c-p-10),
  item-active-color: var(--c-d-140),
  item-active-border-width: 4px,
  item-active-border-color: var(--c-p),
  item-width: 196px,
  column-spacing-before: var(--s-m),
  column-spacing-after: var(--s-m),
);
$language-list-print: (
  container-padding-desktop: (
    block-start: map.get($spacing-print, '3xl'),
    block-end: map.get($spacing-print, 'l'),
    inline-start: map.get($spacing-print, 'l'),
    inline-end: map.get($spacing-print, 'l'),
  ),
  header-font-desktop: map.get($font-print, 'xl'),
  content-margin-desktop: map.get($spacing-print, 'l'),
  category-title-font: map.get($font-print, 'm'),
  category-title-padding: (
    block-start: map.get($spacing-print, 'l'),
    block-end: map.get($spacing-print, 'xs'),
    inline-start: map.get($spacing-print, 's'),
    inline-end: 0,
  ),
  item-padding: (
    block-start: map.get($spacing-print, 's'),
    block-end: map.get($spacing-print, 's'),
    inline-start: map.get($spacing-print, 's'),
    inline-end: map.get($spacing-print, 's'),
  ),
);
