@use 'sass:map';
@use '../index' as *;

$link: (
  outline-color: var(--c-p),
  outline-width: 2px,
  outline-radius: 2px,
  standalone-line-height: map.get($line-height-ui, 'xs'),
  inverted: (
    color: map.get($color, 'white'),
    color-hover: var(--c-a-30),
    color-visited: map.get($color, 'white'),
    color-active: map.get($color, 'white'),
    outline-color: map.get($color, 'white'),
  ),
  brand: (
    color: var(--c-d),
    color-hover: var(--c-d-80),
    color-visited: var(--c-d),
    color-active: var(--c-d),
    outline-color: var(--c-d),
  ),
);
