@use 'sass:map';
@use '../index' as *;

$list: (
  unordered: (
    font: var(--f-m),
    marker: disc,
    item-margin: var(--s-l),
    item-padding: 0,
    padding-start: var(--s-xl),
    sublist-marker: circle,
    sublist-padding: 0,
    unstyled-sublist-padding: var(--s-l),
    divider-item-padding: var(--s-2xl),
  ),
  ordered: (
    divider-item-padding: var(--s-2xl),
    marker: decimal,
    item-margin: var(--s-l),
    padding-start: var(--s-2xl),
    sublist-marker: lower-latin,
    sublist-padding: 0,
    unstyled-sublist-padding: var(--s-l),
  ),
  text-color: var(--c-d),
  divider-color: var(--c-p-20),
);
$list-print: (
  unordered: (
    padding-start: map.get($spacing-print, 'xl'),
  ),
  ordered: (
    padding-start: map.get($spacing-print, 'xl'),
  ),
);
