@use 'sass:map';
@use '../index' as *;

$list: (
  unordered: (
    marker: square,
    item-margin: calc(var(--s-s) + 2px),
    item-padding: 0,
    padding-start: var(--s-2xs),
    marker-size: var(--s-2xs),
    sublist-marker: circle,
    sublist-padding: calc(var(--s-l) + 2px),
    unstyled-sublist-padding: var(--s-2xl),
  ),
  ordered: (
    marker: decimal,
    item-margin: var(--s-m),
    padding-start: var(--s-2xs),
    sublist-marker: lower-latin,
    sublist-padding: var(--s-l),
    unstyled-sublist-padding: var(--s-2xl),
  ),
  text-color: var(--c-d),
  divider-color: var(--c-p-20),
);
