@use 'sass:map';
@use '../index' as *;

$modal: (
  overlay: color-mix(in srgb, var(--c-p-140) 40%, transparent),
  border-radius: map.get($border-radius, 's'),
  shadow: var(--sh-4),
  font: var(--f-m),
  padding: var(--s-l),
  margin-inline-mobile: var(--s-m),
  margin-inline-desktop: var(--s-3xl),
  header: (
    font: var(--f-l),
    font-weight: map.get($font-weight, 'regular'),
    icon-size: map.get($icon, 'l'),
    icon-spacing: 0,
    margin-block-end: var(--s-m),
  ),
  close: (
    margin-top: -1rem,
    margin-end: -1rem,
  ),
  body: (
    scroll-margin-block-end: var(--s-xs),
    fixed-separator: none,
    fixed-margin-block-end: var(--s-m),
    fixed-padding-block-start: 0,
  ),
  footer: (
    separator: none,
    margin-block-start: var(--s-m),
    padding-block-start: 0,
  ),
);
