@use 'sass:map';
@use '../index' as *;

$modal: (
  overlay: color-mix(in srgb, var(--c-p-140) 40%, transparent),
  border-radius: map.get($border-radius, 's'),
  shadow: var(--sh-4),
  font: var(--f-m),
  icon-size: map.get($icon, 'l'),
  header: (
    font: var(--f-l),
    font-weight: map.get($font-weight, 'regular'),
    padding-mobile: var(--s-l) var(--s-l) var(--s-m),
    padding-desktop: var(--s-l) var(--s-l) var(--s-m),
  ),
  close: (
    margin-top: -1rem,
    margin-end: -1rem,
  ),
  body: (
    container-spacing-top: var(--s-3xl),
    padding-mobile: 0 var(--s-l) var(--s-m) var(--s-l),
    padding-desktop: 0 var(--s-l) var(--s-m) var(--s-l),
    padding-last-child: var(--s-l),
    margin-fixed: var(--s-xs),
  ),
  footer: (
    padding-mobile: 0 var(--s-l) var(--s-l) var(--s-l),
    padding-desktop: 0 var(--s-l) var(--s-l) var(--s-l),
  ),
);
