@use 'sass:map';
@use '../index' as *;

$news-ticker: (
  height: 4rem,
  desktop-only-height: 5.5rem,
  border: 1px solid var(--c-p-20),
  border-radius: 4px,
  box-shadow: map.get($shadow, '4'),
  padding-horizontal: var(--s-xs),
  font: var(--f-s),
  line-height: 18px,
  container-background: var(--c-in-5),
  controls-background: map.get($color, 'white'),
  counter: (
    font: var(--f-m),
    font-weight: map.get($font-weight, 'regular'),
    background: var(--c-p),
    color: map.get($color, 'white'),
  ),
);
