@use 'sass:map';
@use '../index' as *;

$notification: (
  radius: map.get($border-radius, 's'),
  padding: var(--s-l),
  padding-mobile: var(--s-m),
  padding-end: var(--s-4xl),
  padding-start: var(--s-l),
  padding-end-mobile: var(--s-4xl),
  padding-start-mobile: var(--s-s),
  border-width: 1px,
  font: var(--f-p-m),
  color: var(--c-d),
  title-font: var(--f-p-l),
  title-font-weight: map.get($font-weight, 'normal'),
  title-spacing: 0,
  icon-spacing: var(--s-m),
  icon-spacing-mobile: var(--s-xs),
  close-color: var(--c-d),
  close-offset-top: var(--s-m),
  close-offset-end: var(--s-m),
  link-color: var(--c-p),
  link-color-hover: var(--c-p-160),
  info: (
    background: var(--c-in-5),
    color: var(--c-in),
    border-color: var(--c-in),
  ),
  success: (
    background: var(--c-su-5),
    color: var(--c-su),
    border-color: var(--c-su),
  ),
  warning: (
    background: var(--c-wa-5),
    color: var(--c-wa),
    border-color: var(--c-wa),
  ),
  error: (
    background: var(--c-er-5),
    color: var(--c-er),
    border-color: var(--c-er),
  ),
);
$notification-print: (
  padding: map.get($spacing-print, 'l') map.get($spacing-print, 'xs')
    map.get($spacing-print, 'l') map.get($spacing-print, 'l'),
  font: map.get($font-prolonged-print, 'm'),
  title-font: map.get($font-prolonged-print, 'm'),
  title-spacing: map.get($spacing-print, 'xs'),
);
