@use 'sass:map';
@use '../index' as *;

$pagination: (
  border-color: var(--c-p-20),
  current-background: var(--c-p),
  current-text-color-desktop: map.get($color, 'white'),
  current-text-color-mobile: var(--c-d),
  focus-radius: 2px,
  focus-border: none,
  focus-outline: 2px solid var(--c-p),
  item-background-hover: transparent,
  item-border-hover: transparent,
  item-default-color: var(--c-d),
  item-hover-color: var(--c-d),
  item-margin-end: var(--s-2xs),
  item-padding: var(--s-2xs),
  item-size: 2.75rem,
  padding: var(--s-l) 0 0,
  prev-next-active-border: none,
  prev-next-active-background: transparent,
  prev-next-hover-background: transparent,
  prev-next-hover-border: none,
  text-color: var(--c-p),
);
