@use 'sass:map';
@use '../index' as *;

$quiz: (
  quiz: (
    background: var(--c-d-5),
    background-padding-top: var(--s-4xl),
    background-padding-bottom: var(--s-4xl),
    counter-font: var(--f-s),
    description-font: var(--f-m),
    prev-next-color: var(--c-d-80),
    prev-next-font: var(--f-s),
    prev-next-font-weight: map.get($font-weight, 'bold'),
    prev-next-spacing: var(--s-2xl),
    dot-background: var(--c-d-60),
    dot-active-background: var(--c-p),
    dot-spacing: var(--s-2xs),
    list-gap-mobile: var(--s-m),
    list-gap-tablet: var(--s-l),
    list-gap-desktop: var(--s-xl),
    list-spacing-desktop: var(--s-2xl),
    list-spacing-tablet: var(--s-xl),
    list-spacing-mobile: var(--s-l),
    outline-color: var(--c-p),
    title-font: 'heading2',
    title-font-weight: map.get($font-weight, 'bold'),
  ),
  card: (
    category-font: var(--f-s),
    category-font-weight: map.get($font-weight, 'bold'),
    color: #fff,
    description-spacing-desktop: var(--s-l),
    question-answer-font: 'heading5',
    question-answer-spacing: var(--s-2xl),
    question-answer-poll-spacing: var(--s-l),
    question-answer-font-weight: map.get($font-weight, 'bold'),
    flip-link-font: var(--f-s),
    padding: var(--s-2xl) var(--s-xl),
    poll-answer-font: var(--f-m),
    icon-background: var(--c-w-300),
    first-background: var(--c-p-180),
    second-background: var(--c-p-60),
    second-color: var(--c-d),
    third-background: var(--c-p),
    option-background: var(--c-w-200),
    second-option-background: var(--c-w-400),
    option-border: var(--c-w-400),
    second-option-border: var(--c-w-600),
    option-font: var(--f-m),
  ),
  card-back: (
    background: #fff,
    color: var(--c-d),
    border: var(--c-d-5),
    flip-link-color: var(--c-d),
    icon-color: #fff,
    option-color: var(--c-d),
    error-icon-color: var(--c-er),
    option-background: var(--c-d-5),
    option-border: var(--c-d-40),
    success-color: map.get($color, 'green-20'),
    success-icon-color: var(--c-su),
    error-color: var(--c-er-m),
  ),
);
$quiz-print: (
  question-font-weight: map.get($font-weight, 'bold'),
);
