@use 'sass:map';
@use '../index' as *;

$radio: (
  binary-margin: var(--s-l),
  border-color: var(--c-d-80),
  background: map.get($color, 'white'),
  box-size: 1.5rem,
  border-width: 1px,
  item-spacing: var(--s-s),
  label: (
    font: var(--f-m),
    color: var(--c-d-140),
  ),
  checked: (
    background-color: var(--c-p),
    border-color: var(--c-p),
    background-color-hover: var(--c-p),
    inner-display: none,
    border-width: 8px,
  ),
  help: (
    color: var(--c-d-80),
    font: var(--f-s),
  ),
  invalid: (
    background-color: var(--c-er),
    border-color: var(--c-er),
  ),
  hover-circle: (
    height: 2.5rem,
    width: 2.5rem,
    content: '',
    display: block,
    border-radius: 50%,
    position: absolute,
    top: 50%,
    left: 50%,
    transform: translate(-50%, -50%),
    background-color: var(--c-p-20),
    z-index: -1,
  ),
);
