@use 'sass:map';
@use '../index' as *;

$range: (
  bar-color: var(--c-p-20),
  disabled-color: var(--c-d-20),
  active-color: var(--c-p-80),
  invalid-color: var(--c-er-80),
  invalid-hover-color: var(--c-er),
  invalid-active-color: var(--c-er-80),
  value-color: var(--c-d-80),
  value-font: var(--f-p-m),
  range-margin-top: var(--s-m),
  range-size: 0.25rem,
  slider-size: 1rem,
  touch-area: 1.25rem,
  outline: 2px,
  outline-color: var(--c-p),
  outline-offset: 2px,
);
