@use 'sass:map';
@use '../index' as *;

$search-form: (
  button-border-color: var(--c-d-80),
  button-border-color-hover: var(--c-d-80),
  button-height: 2.875rem,
  button-width: 2.875rem,
  separator-color: transparent,
);
