@use 'sass:map';
@use '../index' as *;

$search-form: (
  button-border-color: var(--c-d-80),
  button-height: 2.875rem,
  separator-color: transparent,
  icon-size-mobile: map.get($icon, 'm'),
  icon-size-desktop: map.get($icon, 'xs'),
);
