@use 'sass:map';
@use '../index' as *;

$select: (
  arrow-width: 2.75rem,
  border-color-focus: var(--c-p),
  border-radius: 4px,
  border-color: var(--c-d-80),
  border-color-hover: var(--c-d-80),
  border-color-invalid: var(--c-er),
  border-color-invalid-hover: var(--c-er),
  border-color-disabled: var(--c-d-40),
  border-width: 1px,
  border-width-focus: 2px,
  color-input: var(--c-d-140),
  color-placeholder: var(--c-d-40),
  counter-color: map.get($color, 'white'),
  group-separator-color: var(--c-p-20),
  group-title-font: var(--f-m),
  group-title-color: var(--c-d-80),
  shadow: map.get($shadow-inner, '1'),
  shadow-hover: map.get($shadow-inner, '2'),
  arrow-background-invalid-focus: var(--c-er),
  arrow-background-color: var(--c-p-100),
  arrow-background-color-hover: var(--c-p-80),
  arrow-background-color-invalid: var(--c-er),
  arrow-background-color-invalid-hover: var(--c-er),
  icon-fill: map.get($color, 'white'),
  multiple-dropdown-background-color: map.get($color, 'white'),
  multiple-dropdown-border: none,
  multiple-dropdown-separator-color: var(--c-p-20),
  multiple-dropdown-border-radius: 4px,
  multiple-dropdown-shadow: var(--sh-1),
  multiple-dropdown-input-margin: var(--s-xs),
  multiple-dropdown-input-width: calc(100% - var(--s-xs) - var(--s-xs)),
  multiple-dropdown-container-max-height: 252px,
  multiple-dropdown-toolbar-separator-color: var(--c-p-20),
  multiple-checkbox-background-hover-color: var(--c-p-5),
  multiple-checkbox-label-vertical-padding: var(--s-s),
  multiple_counter_background: var(--c-p),
  padding-vertical: var(--s-s),
);
