@use 'sass:map';
@use '../index' as *;

$slogan-ticker: (
  font: var(--f-2xl),
  font-weight: map.get($font-weight, 'bold'),
  gap: 3.5rem,
  padding: 1.25rem 0,
  button-shadow: map.get($shadow, '4'),
);
