@use 'sass:map';
@use '../index' as *;

$social-media-follow: (
  icon-color: var(--c-d),
  item-margin: var(--s-l),
  link-font: var(--f-s),
  title-color: var(--c-d),
  title-font: var(--f-s),
  title-font-weight: map.get($font-weight, 'bold'),
  title-margin: var(--s-xs),
);
