@use 'sass:map';
@use '../index' as *;

$spotlight: (
  gradient: linear-gradient(
      180deg,
      transparent 0%,
      transparent 25%,
      color-mix(in srgb, var(--c-d-140) 25%, transparent) 50%,
      color-mix(in srgb, var(--c-d-140) 35%, transparent) 75%,
      color-mix(in srgb, var(--c-d-140) 50%, transparent) 100%
    ),
  gradient-height-mobile: 241px,
  header: (
    background: var(--c-d-140),
    color: #fff,
    height-mobile: 32px,
    height-tablet: 40px,
    height-desktop: 44px,
    padding-block: 2px,
    font: var(--f-s),
    font-weight: map.get($font-weight, 'bold'),
  ),
  credit: (
    color: #fff,
    padding-block: var(--s-3xs),
    padding-inline: var(--s-xs),
    font: var(--f-xs),
  ),
  title: (
    color: #fff,
    padding-block-mobile: 0 var(--s-xl),
    padding-block-tablet: 0 var(--s-xl),
    padding-block-desktop: 0 var(--s-2xl),
    font-l: (
      mobile-xs: var(--f-2xl),
      desktop: var(--f-5xl),
    ),
    font-m: (
      mobile-xs: var(--f-2xl),
      desktop: var(--f-4xl),
    ),
    font-weight: map.get($font-weight, 'regular'),
    letter-spacing-l: 0,
  ),
  anchor: (
    color: #fff,
    padding-block: var(--s-2xl),
    padding-inline: 0,
  ),
);
