@use 'sass:map';
@use '../index' as *;

$table: (
  row-border: 1px solid var(--c-p-40),
  zebra-background: var(--c-p-5),
  table: (
    color: var(--c-d),
    font: var(--f-m),
  ),
  head: (
    background-ungrouped: var(--c-p-10),
    border: 1px solid var(--c-p-40),
    border-top: none,
    border-inline-color: var(--c-p-40),
    background: var(--c-p-20),
  ),
  header: (
    border: 1px solid var(--c-p-40),
    separator-mobile: 2px solid var(--c-p),
    separator-desktop: 1px solid var(--c-p),
    group-separator: 1px solid var(--c-p),
    padding: var(--s-m),
    font: var(--f-m),
    font-weight: map.get($font-weight, 'bold'),
  ),
  cell: (
    border-inline-start-mobile: 1px solid var(--c-p-40),
    group-background: var(--c-p-10),
    separator: 1px solid var(--c-p-40),
    padding-mobile: var(--s-s),
    padding-desktop: var(--s-s) var(--s-m),
    margin-mobile: (
      top: calc(-1 * var(--s-s)),
      end: var(--s-s),
      bottom: calc(-1 * (var(--s-s) + 1px)),
      start: calc(-1 * var(--s-s)),
    ),
  ),
  multi-head: (
    background: var(--c-p-20),
    background-empty: map.get($color, 'white'),
    position: var(--s-s),
  ),
  sort: (
    icon-color: var(--c-d),
    icon-color-active: var(--c-d-140),
    icon-spacing: -8px,
  ),
  caption: (
    font: var(--f-p-s),
    color: var(--c-d-80),
  ),
);
