@use 'sass:map';
@use '../index' as *;

$table: (
  row-border: 1px solid var(--c-p-20),
  zebra-background: var(--c-p-5),
  table: (
    color: var(--c-d-140),
    font: var(--f-m),
  ),
  head: (
    border: none,
    background: var(--c-p-5),
  ),
  header: (
    border: 2px solid var(--c-p-60),
    separator-mobile: 2px solid var(--c-p-60),
    seprator-desktop: none,
    group-separator: 1px solid var(--c-p-20),
    padding: var(--s-m),
    font-weight: map.get($font-weight, 'bold'),
  ),
  cell: (
    separator: none,
    padding-mobile: var(--s-s),
    padding-desktop: var(--s-s) var(--s-m),
    margin-mobile: (
      top: calc(-1 * var(--s-s)),
      end: var(--s-s),
      bottom: calc(-1 * var(--s-s)),
      start: calc(-1 * var(--s-s)),
    ),
  ),
  multi-head: (
    background: var(--c-p-5),
    background-empty: map.get($color, 'white'),
    position: var(--s-s),
  ),
  sort: (
    icon-color: var(--c-p-80),
    icon-color-active: var(--c-p-140),
    icon-spacing: -12px,
    arrow-top: var(--s-xs),
    arrow-left: var(--s-xs),
  ),
  caption: (
    font: var(--f-s),
    color: var(--c-d-80),
  ),
);
