@use 'sass:map';
@use '../index' as *;

$tag: (
  font: var(--f-ui-s),
  padding: var(--s-2xs) var(--s-s),
  border-radius: calc(2 * var(--s-2xs) + #{map.get($line-height-ui, 's')}),
  color: map.get($color, 'white'),
  background-color: var(--c-p),
  color-hover: map.get($color, 'white'),
  background-color-hover: var(--c-p-80),
  color-focus: map.get($color, 'white'),
  background-color-focus: var(--c-p),
  outline-color-focus: var(--c-p),
  outline-offset-focus: 1px,
  color-active: map.get($color, 'white'),
  background-color-active: var(--c-p-140),
  outline-color-active: var(--c-p-140),
  prefilter: (
    background-color: var(--c-p),
    border-color: var(--c-p),
    background-color-hover: var(--c-p),
    background-color-focus: var(--c-p),
    background-color-current: var(--c-p-140),
    border-color-current: var(--c-p-140),
    color-current: #fff,
  ),
  set: (
    label-font: var(--f-s),
    prefilter-label-font: var(--f-m),
    prefilter-label-font-weight: map.get($font-weight, 'regular'),
  ),
);
