@use 'sass:map';
@use '../index' as *;

$timeline: (
  border-color: var(--c-p),
  border-width: 0.125rem,
  bullet-border-color: var(--c-p),
  bullet-border-width: 0.125rem,
  bullet-shadow: 0 0 0 2px map.get($color, 'white'),
  bullet-top-position: 8%,
  content-color: var(--c-d-80),
  content-big-font: var(--f-p-m),
  content-font: var(--f-p-m),
  first-item-offset: 2rem,
  first-item-height: calc(100% - var(--s-xs)),
  item-padding-top: 0,
  label-alignment: left,
  label-color: var(--c-d-140),
  label-big-font: var(--f-3xl),
  label-font: var(--f-2xl),
  label-font-weight: map.get($font-weight, 'normal'),
  label-layout: static,
  label-margin: var(--s-s),
  last-item-height: 1.5rem,
  left-spacing: 0,
  timeline-margin-left: calc(var(--s-xs) + var(--s-s) / 2),
  title-color: var(--c-d-140),
  title-font: var(--f-p-m),
  title-font-weight: map.get($font-weight, 'bold'),
  title-big-font: var(--f-p-l),
  title-margin: var(--s-s),
  toggle-bullet-border-color: var(--c-p-20),
  bullet-fill-color: map.get($color, 'white'),
  bullet-size: 0.75rem,
  toggle-bullet-border-width: 0.125rem,
  tooltip: true,
  toggle-spacing: true,
);
$timeline-print: (
  content-color: var(--c-d-80),
  content-font: map.get($font-prolonged-print, 'm'),
  label-color: var(--c-d-140),
  label-font: map.get($font-prolonged-print, 'm'),
  title-color: var(--c-d-140),
  title-font: map.get($font-prolonged-print, 'm'),
);
