@use 'sass:map';
@use '../index' as *;

$timeline: (
  border-color: var(--c-p),
  border-width: 0.125rem,
  item-padding-top-mobile: 0px,
  item-padding-top-tablet: 0px,
  tooltip: true,
  toggle-spacing: true,
  timeline-margin-left: var(--s-l),
  item-padding-left-mobile: calc(var(--s-l) + 0.125rem),
  item-padding-left-tablet: calc(var(--s-l) + 0.125rem),
  first-item-offset: 2rem,
  first-item-height: calc(100% - var(--s-xs)),
  last-item-height: 1.5rem,
  set-spacing: var(--s-2xl),
  bullet: (
    shadow: 0 0 0 2px map.get($color, 'white'),
    small: (
      border-color: var(--c-p),
      border-width: 0rem,
      fill-color: var(--c-p),
      size: 0.875rem,
      top-position: 12px,
    ),
    large: (
      border-color: var(--c-p),
      border-width: 0.125rem,
      fill-color: map.get($color, 'white'),
      size: 1rem,
      top-position: 10px,
    ),
    toggle: (
      border-color: var(--c-p-20),
      border-width: 0.125rem,
      fill-color: map.get($color, 'white'),
      size: 1rem,
    ),
  ),
  label: (
    alignment: start,
    color: var(--c-d-140),
    font: var(--f-3xl),
    font-weight: map.get($font-weight, 'regular'),
    layout: static,
    margin: var(--s-s),
    small: (
      font: var(--f-m),
      font-weight: map.get($font-weight, 'bold'),
    ),
  ),
  title: (
    color: var(--c-d-140),
    font: var(--f-l),
    font-weight: map.get($font-weight, 'regular'),
    margin: var(--s-s),
  ),
  content: (
    color: var(--c-d),
    font: var(--f-m),
  ),
  headline: (
    padding-top: 0px,
    spacing-adjustment: 0px,
    label: (
      font: var(--f-3xl),
      font-weight: map.get($font-weight, 'regular'),
    ),
    bullet-top-position: 10px,
  ),
);
$timeline-print: (
  title-font: map.get($font-print, 'l'),
  title-margin: map.get($spacing-print, 's'),
  label-font: map.get($font-print, '2xl'),
  label-small: (
    font: map.get($font-print, 'm'),
    font-weight: map.get($font-weight, 'bold'),
  ),
  label-margin: map.get($spacing-print, 's'),
  content-font: map.get($font-print, 'm'),
  headline-font: map.get($font-print, '2xl'),
  item-padding-left: map.get($spacing-print, 'm'),
  bullet-small-top-position: 12px,
  bullet-large-top-position: 10px,
  headline-bullet-top-position: 28px,
);
