@use 'sass:map';
@use '../index' as *;

$timeline: (
  border-color: var(--c-p),
  border-width: 0.125rem,
  tooltip: true,
  toggle-spacing: true,
  timeline-margin-left: var(--s-l),
  first-item-offset: 2rem,
  first-item-height: calc(100% - var(--s-xs)),
  last-item-height: 2rem,
  last-item-height-headline: 1.5rem,
  set-spacing-mobile: var(--s-xl),
  set-spacing-tablet: var(--s-xl),
  item: (
    mobile: (
      padding-top-small: 0px,
      padding-top-large: 0px,
      padding-bottom: var(--s-xl),
      padding-left: calc(var(--s-l) + 0.125rem),
    ),
    tablet: (
      padding-top-small: 0px,
      padding-top-large: 0px,
      padding-left: calc(var(--s-l) + 0.125rem),
    ),
  ),
  bullet: (
    shadow: 0 0 0 2px map.get($color, 'white'),
    small: (
      border-color: var(--c-p),
      border-width: 0rem,
      fill-color: var(--c-p),
      size: 0.875rem,
      top-position: 12px,
    ),
    large: (
      border-color: var(--c-p),
      border-width: 0.125rem,
      fill-color: map.get($color, 'white'),
      size: 0.875rem,
      top-position: 12px,
    ),
    toggle: (
      border-color: var(--c-p-20),
      border-width: 0.125rem,
      fill-color: map.get($color, 'white'),
      size: 1rem,
      top-position: 12px,
    ),
  ),
  label: (
    alignment: start,
    color: var(--c-d-140),
    font: var(--f-3xl),
    font-weight: map.get($font-weight, 'regular'),
    layout: static,
    margin: var(--s-s),
    small: (
      font: var(--f-m),
      font-weight: map.get($font-weight, 'bold'),
    ),
  ),
  title: (
    color: var(--c-d-140),
    font: var(--f-l),
    font-weight: map.get($font-weight, 'regular'),
    margin: var(--s-s),
  ),
  content: (
    color: var(--c-d),
    font: var(--f-m),
  ),
  headline: (
    padding-top-mobile: 0px,
    padding-top-tablet: 0px,
    spacing-adjustment: 0px,
    label: (
      font: var(--f-3xl),
      font-weight: map.get($font-weight, 'regular'),
    ),
    bullet-top-position-mobile: 10px,
    bullet-top-position-tablet: 10px,
  ),
);
$timeline-print: (
  title-font: map.get($font-print, 'l'),
  title-margin: map.get($spacing-print, 's'),
  label-font: map.get($font-print, '2xl'),
  label-small: (
    font: map.get($font-print, 'm'),
    font-weight: map.get($font-weight, 'bold'),
  ),
  label-margin: map.get($spacing-print, 's'),
  content-font: map.get($font-print, 'm'),
  headline-font: map.get($font-print, '4xl'),
  item-padding-left: map.get($spacing-print, 'm'),
  bullet-small-top-position: 12px,
  bullet-large-top-position: 10px,
  headline-bullet-top-position: 28px,
);
