@use 'sass:map';
@use '../index' as *;

$typography: (
  font-family: map.get($font-family, 'default'),
  heading-margin: var(--s-2xl) 0 var(--s-m),
  heading-color: var(--c-d),
  text-color: var(--c-d-80),
  heading1: (
    'mobile': (
      'size': var(--fs-4xl),
      'line-height': var(--lh-4xl),
    ),
    'tablet': (
      'size': var(--fs-4xl),
      'line-height': var(--lh-4xl),
    ),
    'desktop': (
      'size': var(--fs-5xl),
      'line-height': var(--lh-5xl),
    ),
    'font-weight': map.get($font-weight, 'regular'),
    'letter-spacing-mobile': normal,
    'letter-spacing-desktop': normal,
  ),
  heading2: (
    'mobile': (
      'size': var(--fs-3xl),
      'line-height': var(--lh-3xl),
    ),
    'tablet': (
      'size': var(--fs-3xl),
      'line-height': var(--lh-3xl),
    ),
    'desktop': (
      'size': var(--fs-4xl),
      'line-height': var(--lh-4xl),
    ),
    'font-weight': map.get($font-weight, 'regular'),
    'letter-spacing-mobile': normal,
    'letter-spacing-desktop': normal,
  ),
  heading3: (
    'mobile': (
      'size': var(--fs-2xl),
      'line-height': var(--lh-2xl),
    ),
    'tablet': (
      'size': var(--fs-2xl),
      'line-height': var(--lh-2xl),
    ),
    'desktop': (
      'size': var(--fs-3xl),
      'line-height': var(--lh-3xl),
    ),
    'font-weight': map.get($font-weight, 'regular'),
    'letter-spacing-mobile': normal,
    'letter-spacing-desktop': normal,
  ),
  heading4: (
    'mobile': (
      'size': var(--fs-xl),
      'line-height': var(--lh-xl),
    ),
    'tablet': (
      'size': var(--fs-xl),
      'line-height': var(--lh-xl),
    ),
    'desktop': (
      'size': var(--fs-2xl),
      'line-height': var(--lh-2xl),
    ),
    'font-weight': map.get($font-weight, 'regular'),
  ),
  heading5: (
    'mobile': (
      'size': var(--fs-l),
      'line-height': var(--lh-l),
    ),
    'tablet': (
      'size': var(--fs-l),
      'line-height': var(--lh-l),
    ),
    'desktop': (
      'size': var(--fs-l),
      'line-height': var(--lh-l),
    ),
    'font-weight': map.get($font-weight, 'regular'),
  ),
  heading6: (
    'mobile': (
      'size': var(--fs-m),
      'line-height': var(--lh-m),
    ),
    'tablet': (
      'size': var(--fs-m),
      'line-height': var(--lh-m),
    ),
    'desktop': (
      'size': var(--fs-m),
      'line-height': var(--lh-m),
    ),
    'font-weight': map.get($font-weight, 'regular'),
  ),
  paragraph: (
    'xs': var(--f-xs),
    's': var(--f-s),
    'm': var(--f-m),
    'l': var(--f-l),
  ),
  highlight-color: var(--c-s-20),
);
$typography-print: (
  heading-margin: map.get($spacing-print, '2xl') 0 map.get($spacing-print, 'm'),
  heading1: map.get($font-print, '4xl'),
  heading2: map.get($font-print, '3xl'),
  heading3: map.get($font-print, '2xl'),
  heading4: map.get($font-print, 'xl'),
  heading5: map.get($font-print, 'l'),
  heading6: map.get($font-print, 'm'),
);
