{% apply spaceless %}

{#
  Parameters:
    - "label" (string) (default: '')
    - "variant" (string) (default: 'primary'): can be 'primary', 'secondary', 'cta', 'ghost', 'ghost-inverted', 'tertiaty'
    - "type" (string) (default: 'submit'): can be the same type as HTML button - 'submit', 'reset', 'button'
    - "icon" (associative array) OR (array) of associative arrays : format
        {
          name: (string) (default: ''),
          ...
        }
        OR
        [
          {
            name: (string) (default: ''),
            ....
          },
          {
            name: (string) (default: ''),
            ...
          }
          ...
        ]
    - "disabled" (bool) (default: false): defined if button should be active or not (HTML disabled attribute)
    - "hide_label" (bool) (default: false): hide button label, for screen reader only. Note: requires to have an icon defined
    - "icon_position" (string) (default: after): define icon position, can be 'before' or 'after'
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        ...
      ],
  Blocks:
    - "label"
#}

{# Internal properties #}

{% set _css_class = 'ecl-button' %}
{% set _extra_attributes = '' %}
{% set _label = label|default('') %}
{% set _variant = variant|default('primary') %}
{% set _type = type|default('submit') %}
{% set _icon_position = icon_position|default('after') %}
{% set _disabled = disabled|default(false) %}
{% set _hide_label = hide_label|default(false) %}
{% set _icon = {
  name: '',
  path: '',
  size: ''
} %}

{# Internal logic - Process properties #}

{% set _css_class = _css_class ~ ' ecl-button--' ~ _variant %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if icon.name is defined and icon.name is not empty %}
  {% set _icons = [icon] %}
{% elseif icon[1] is defined and icon[1] is not empty %}
  {% set _icons = icon %}
{% endif %}

{% if _hide_label and _icon is not empty %}
  {% set _css_class = _css_class ~ ' ecl-button--icon-only' %}
{% endif %}

{# Add disabled option if defined #}

{% if _disabled %}
  {% set _extra_attributes = _extra_attributes ~ ' disabled' %}
{% endif %}

{# Print the result #}

<button class="{{ _css_class }}" type="{{ _type }}" {{ _extra_attributes|raw }}>
{%- if _icons is defined %}
  <span class="ecl-button__container">
  {% if _icon_position == 'before' %}
    {% for icon in _icons %}
      {% set _icon_extra_classes = 'ecl-button__icon' %}
      {%- if icon.extra_classes is defined and icon.extra_classes is not empty -%}
        {% set _icon_extra_classes = _icon_extra_classes ~ ' ' ~ icon.extra_classes %}
      {%- endif -%}
      {% include '@ecl/icon/icon.html.twig' with {
        icon: icon,
        extra_classes: _icon_extra_classes,
        extra_attributes: [
          { name: 'data-ecl-icon' }
        ],
      } only %}
    {% endfor %}
    {% endif %}
  {% if _label %}
    <span class="ecl-button__label" data-ecl-label="true">{% block label _label %}</span>
  {% endif %}
  {% if _icon_position == 'after' %}
    {% for icon in _icons %}
      {% set _icon_extra_classes = 'ecl-button__icon' %}
      {%- if icon.extra_classes is defined and icon.extra_classes is not empty -%}
        {% set _icon_extra_classes = _icon_extra_classes ~ ' ' ~ icon.extra_classes %}
      {%- endif -%}
      {% include '@ecl/icon/icon.html.twig' with {
        icon: icon,
        extra_classes: _icon_extra_classes,
        extra_attributes: [
          { name: 'data-ecl-icon' }
        ],
      } only %}
    {% endfor %}
  {% endif %}
  </span>
{% else %}
  {{- block('label') -}}
{% endif -%}
</button>

{% endapply %}
