/**
 * Highlighted search
 * @define highlighted-search
 */

@use 'sass:map';
@use '@ecl/mixins-typography/mixins';
@use '@ecl/mixins-color/mixins' as mixins-color;

// Exposed variables
$theme: null !default;
$highlighted-search: null !default;

.ecl-highlighted-search {
  background-color: map.get($highlighted-search, 'background-color');
  border-radius: map.get($theme, 'border-radius', 's');
  color: map.get($highlighted-search, 'color');
  padding: map.get($highlighted-search, 'padding');
}

.ecl-highlighted-search__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-inline: auto;

  &::before {
    background-color: map.get($highlighted-search, 'separator-color');
    content: '';
    display: block;
    height: 0.375rem;
    width: 4rem;
  }

  & > *:first-child {
    margin-block-start: map.get($highlighted-search, 'title', 'spacing');
  }
}

.ecl-highlighted-search__title {
  @include mixins.responsive-font(
    map.get($highlighted-search, 'title', 'font')
  );
}

.ecl-highlighted-search__description {
  margin-block-start: map.get($highlighted-search, 'description', 'spacing');

  @include mixins.responsive-font(
    map.get($highlighted-search, 'description', 'font')
  );

  & > *:first-child {
    margin-block-start: 0;
  }

  & > *:last-child {
    margin-block-end: 0;
  }
}

// Form
.ecl-highlighted-search__form {
  width: 100%;
}

.ecl-highlighted-search__form-content {
  align-items: center;
  background-color: map.get($highlighted-search, 'form', 'background-color');
  border: 1px solid map.get($highlighted-search, 'form', 'border-color');
  border-radius: map.get($theme, 'border-radius', 's');
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-block-start: map.get($highlighted-search, 'form', 'margin');
  padding: map.get($highlighted-search, 'form', 'padding');
  width: 100%;

  &:has(
    .ecl-highlighted-search__form-input:focus-visible:is(
        :placeholder-shown,
        :not([placeholder])
      )
  ) {
    box-shadow: 0 0 0 2px map.get($highlighted-search, 'form', 'shadow-focus');
    outline: 2px solid map.get($highlighted-search, 'form', 'outline-color');
    outline-offset: 2px;
  }
}

.ecl-highlighted-search__form-group {
  width: 100%;
}

.ecl-highlighted-search__form-icon {
  color: map.get($highlighted-search, 'icon-color');
  flex-shrink: 0;
}

.ecl-highlighted-search__form-button {
  flex-shrink: 0;
}

.ecl-highlighted-search__form-input {
  border: none;
  box-shadow: none;
  height: auto;
  padding: map.get($highlighted-search, 'form', 'input-padding');
  width: 100%;

  &:hover {
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
  }
}

.ecl-highlighted-search__form-helper {
  align-self: flex-start;
  margin-block-start: map.get($highlighted-search, 'helper', 'spacing');

  @include mixins.responsive-font(
    map.get($highlighted-search, 'helper', 'font')
  );
}

// Suggestion
.ecl-highlighted-search__suggestion {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--s-m);
  margin-block-start: var(--s-m);

  @include mixins.responsive-font(
    map.get($highlighted-search, 'suggestion', 'font')
  );

  @if map.has-key($highlighted-search, 'suggestion', 'focus-inverted') {
    .ecl-tag {
      @include mixins-color.focus-inverted;
    }
  }
}

.ecl-highlighted-search__suggestion-label {
  flex-shrink: 0;
  padding-block-start: map.get(
    $highlighted-search,
    'suggestion',
    'label-padding'
  );
}
