@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';

.card {
  align-items: center;
  border: 1px solid map.get(color.$color, 'grey-15');
  box-sizing: border-box;
  display: flex;
  flex-basis: 9rem;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  margin: map.get(spacing.$spacing, 's') map.get(spacing.$spacing, 's') 0 0;
  max-width: 9rem;
  padding: map.get(spacing.$spacing, 's');
}

.title {
  color: map.get(color.$color, 'text');
  font: map.get(typography.$font, 's');
  font-weight: map.get(typography.$font-weight, 'bold');
  margin: map.get(spacing.$spacing, 's') 0 0;
}
