@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

%card {
  align-items: center;
  border: 2px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-basis: 7rem;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  margin: var(--ws-s-s) var(--ws-s-s) 0 0;
  max-width: 8rem;
  padding: var(--ws-s-s);
}

.card {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %card;

  border-color: var(--ws-c-n-60);
  color: var(--ws-c-d);

  &:hover {
    background-color: var(--ws-c-d);
    border-color: map.get($theme, 'color', 'black');
    color: map.get($theme, 'color', 'white');
  }
}

.card--negative {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %card;

  background-color: var(--ws-c-d);
  border-color: var(--ws-c-n-60);
  color: map.get($theme, 'color', 'white');

  &:hover {
    border-color: map.get($theme, 'color', 'black');
  }
}

.card--light {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %card;

  border-color: var(--ws-c-n-60);
  color: var(--ws-c-d);

  &:hover {
    border-color: map.get($theme, 'color', 'black');
  }
}

.title {
  font: var(--ws-f-s);
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin: var(--ws-s-s) 0 0;
  text-align: center;
}

.icon {
  fill: currentcolor;
  height: map.get($theme, 'icon', 'l');
  width: map.get($theme, 'icon', 'l');
}
