{#
  Component interface:
    - `extraClass` - classes to add to root component
    - `extraAttributes` - additional attributes to add to root component

    - `context_nav` - data for @ec-europa/ecl-context-navs component composition

    - `profile` data contains profile-specific information
      - `image` - data for @ec-europa/ecl-images component composition
      - `expandable` - data related to the expandable part of the component
        - `button` - data for @ec-europa/ecl-buttons component composition
        - `expandable_body` - accepts `extraAttributes` for the expandable

    - body (block): content in the expandable area (default: lorem ipsum text)
#}


{# Internal properties #}

{% set _cssClass = 'ecl-profile-topbar' %}
{% set _extraAttributes = '' %}

{# Internal logic - Process properties #}

{% if extraClass is defined %}
  {% set _cssClass = _cssClass ~ ' ' ~ extraClass %}
{% endif %}

{% if extraAttributes is defined %}
  {% for attr in extraAttributes %}
    {% set _extraAttributes = _extraAttributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}

<div class="{{ _cssClass }}" {{ _extraAttributes }}>
  <div class="ecl-container">
    <div class="ecl-row ecl-profile-topbar__wrapper">
      <div class="ecl-col-md-2">
        {% include '@ec-europa/ecl-images' with profile.image %}
      </div>
      <div class="ecl-col-md-10 ecl-profile-topbar__pane">
        {% include '@ec-europa/ecl-context-navs' with context_nav %}
        {% include '@ec-europa/ecl-buttons' with profile.expandable.button %}
      </div>
    </div>
  </div>
  <div
    {% if profile.expandable.expandable_body.extraAttributes is defined %}
      {% for attr in profile.expandable.expandable_body.extraAttributes %}
        {% set attribute = attr.name ~ '="' ~ attr.value ~ '"' %}
        {{ attribute }}
      {% endfor %}
    {% endif %}
  >
  <div class="ecl-container">
    {% block body %}
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue quis est dignissim lacinia. Curabitur interdum iaculis sagittis. Maecenas sodales elit est, et suscipit nisl vulputate eget. Mauris vel pulvinar odio. Sed diam turpis, cursus vel congue vel, lobortis a ipsum. Donec vel quam nec enim tristique efficitur at eget nisl.
    </p>
    {% endblock %}
  </div>
</div>
</div>
