<div class="ecl-profile-topbar">
  <div class="ecl-container">
    <div class="ecl-row ecl-profile-topbar__wrapper">
      <div class="ecl-col-md-2">
        <img src="{{ profile.avatar }}"/>
      </div>
      <div class="ecl-col-md-10 ecl-profile-topbar__pane">
        {% include '@ec-europa/ecl-context-navs' with context_nav %}
        {% include '@ec-europa/ecl-buttons' with profile.expandable.button %}
      </div>
    </div>
  </div>
  <div
    {% if profile.expandable.expandable_body.extraAttributes is defined %}
      {% for attr in profile.expandable.expandable_body.extraAttributes %}
        {% set attribute = attr.name ~ '="' ~ attr.value ~ '"' %}
        {{ attribute }}
      {% endfor %}
    {% endif %}
  >
  <div class="ecl-container">{{ profile.details }}</div>
</div>
</div>
