@use 'sass:map';

// Exposed variables
$theme: null !default;

.ecl-u-shadow-none {
  box-shadow: none !important;
}

@each $key, $value in map.get($theme, 'color') {
  .ecl-u-shadow-#{$key} {
    box-shadow: $value !important;
  }
}
