{#
  Parameters:
    - "blockquote_body" (string) (default: '')
    - "blockquote_footer" (string) (default: '')
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
#}

{# Internal properties #}

{% set _css_class = 'ecl-blockquote' %}
{% set _extra_attributes = '' %}
{% set _blockquote_body = blockquote_body|default('') %}
{% set _blockquote_author = blockquote_author|default('') %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

<blockquote class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <p class="ecl-blockquote__body">{{ _blockquote_body }}</p>
  <footer class="ecl-blockquote__attribution"><cite class="ecl-blockquote__author">{{ _blockquote_author }}</cite></footer>
</blockquote>