/*
 * Menu Harmonised component
 * @define menu
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-menu-print() {
  .ecl-menu {
    margin: 0;
  }

  .ecl-menu__site-name {
    font: $ecl-font-print-3-xl;
    font-family: $ecl-font-family-print-alt;
    font-weight: $ecl-font-weight-print-bold;
    margin-top: $ecl-spacing-print-xs;
  }

  .ecl-menu__open,
  .ecl-menu__inner {
    display: none;
  }
}

// Use mixin
@include exports('eu-component-menu-print') {
  @include ecl-menu-print;
}
