<h3 class="ecl-heading ecl-heading--h3">Unordered list</h3>

<ul class="ecl-list">
  <li>Item 1</li>
  <li>Item 2
    <ul class="ecl-list">
      <li>Item 2.1</li>
      <li>Item 2.2</li>
      <li>Item 2.3</li>
    </ul>
  </li>
</ul>

<h3 class="ecl-heading ecl-heading--h3">Unstyled list</h3>

<ul class="ecl-list ecl-list--unstyled">
  <li>Item 1</li>
  <li>Item 2
    <ul class="ecl-list ecl-list--unstyled">
      <li>Item 2.1</li>
      <li>Item 2.2</li>
      <li>Item 2.3</li>
    </ul>
  </li>
</ul>

<h3 class="ecl-heading ecl-heading--h3">Inline list</h3>

<ul class="ecl-list ecl-list--inline">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
  <li>Item 5</li>
</ul>

<h3 class="ecl-heading ecl-heading--h3">Ordered list</h3>

<ol class="ecl-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3
    <ol class="ecl-list">
      <li>Item 3.1</li>
      <li>Item 3.2</li>
      <li>Item 3.3</li>
    </ol>
  </li>
</ol>

<h3 class="ecl-heading ecl-heading--h3">Ordered list (alpha)</h3>

<ol class="ecl-list ecl-list--alpha">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3
    <ol class="ecl-list ecl-list--alpha">
      <li>Item 3.1</li>
      <li>Item 3.2</li>
      <li>Item 3.3</li>
    </ol>
  </li>
</ol>
