@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;
@use '@ecl/theme-ec/custom-properties';

:root {
  // TODO: evaluate if we still need to keep these properties for the website only

  // color
  --ws-c-p: #3860ed;
  --ws-c-p-180: #051036;
  --ws-c-p-160: #0a1f6c;
  --ws-c-p-140: #0f2fa2;
  --ws-c-p-120: #143fd9;
  --ws-c-p-100: #3860ed;
  --ws-c-p-80: #5577f0;
  --ws-c-p-60: #89a1f4;
  --ws-c-p-40: #b1c0f8;
  --ws-c-p-20: #d8e0fb;
  --ws-c-s: #ffbe5c;
  --ws-c-s-180: #8f5600;
  --ws-c-s-160: #e08700;
  --ws-c-s-140: #ff9d0a;
  --ws-c-s-120: #ffad33;
  --ws-c-s-100: #ffbe5c;
  --ws-c-s-80: #ffcb7c;
  --ws-c-s-60: #ffd89d;
  --ws-c-s-40: #ffe5be;
  --ws-c-s-20: #fff2de;
  --ws-c-d: #26324b;
  --ws-c-d-100: #26324b;
  --ws-c-d-80: #546fa6;
  --ws-c-d-60: #9ac;
  --ws-c-in: #3860ed;
  --ws-c-su: #24a148;
  --ws-c-er: #da1e28;
  --ws-c-wa: #f39811;
  --ws-c-bg: #fcfcfc;
  --ws-c-br: #004494;
  --ws-c-st: color-mix(in srgb, var(--ws-c-p) 50%, transparent);
  --ws-c-ov-l: color-mix(in srgb, var(--ws-c-d) 70%, transparent);
  --ws-c-ov-d: color-mix(in srgb, var(--ws-c-d) 90%, transparent);
  --ws-c-n: #b9c5e9;
  --ws-c-n-180: #6c85d1;
  --ws-c-n-160: #7f95d7;
  --ws-c-n-140: #92a5dd;
  --ws-c-n-120: #a6b5e3;
  --ws-c-n-100: #b9c5e9;
  --ws-c-n-80: #cdd5ef;
  --ws-c-n-60: #e0e5f5;
  --ws-c-n-40: #f3f5fb;
  --ws-c-n-20: #f8f9fd;
  --ws-c-a: #bbb3ff;
  --ws-c-a-160: #887de8;
  --ws-c-a-140: #978cf2;
  --ws-c-a-120: #a89efa;
  --ws-c-a-100: #bbb3ff;
  --ws-c-a-80: #bfb2ff;
  --ws-c-a-60: #d1ccff;
  --ws-c-a-40: #fafaff;

  // font
  --ws-f-xs: #{map.get($font, 'xs')};
  --ws-f-s: #{map.get($font, 's')};
  --ws-f-m: #{map.get($font, 'm')};
  --ws-f-l: #{map.get($font, 'l')};
  --ws-f-xl: #{map.get($font, 'xl')};
  --ws-f-2xl: #{map.get($font, '2xl')};
  --ws-f-3xl: #{map.get($font, '3xl')};
  --ws-f-4xl: #{map.get($font, '4xl')};
  --ws-f-5xl: #{map.get($font, '5xl')};

  // spacing
  --ws-s-2xs: #{map.get($spacing, '2xs')};
  --ws-s-xs: #{map.get($spacing, 'xs')};
  --ws-s-s: #{map.get($spacing, 's')};
  --ws-s-m: #{map.get($spacing, 'm')};
  --ws-s-l: #{map.get($spacing, 'l')};
  --ws-s-xl: #{map.get($spacing, 'xl')};
  --ws-s-2xl: #{map.get($spacing, '2xl')};
  --ws-s-3xl: #{map.get($spacing, '3xl')};
  --ws-s-4xl: #{map.get($spacing, '4xl')};
  --ws-s-5xl: #{map.get($spacing, '5xl')};
  --ws-s-6xl: #{map.get($spacing, '6xl')};

  // shadow
  --ws-sh-1: #{map.get($shadow, '1')};
  --ws-sh-6: #{map.get($shadow, '6')};
  --ws-sh-12: #{map.get($shadow, '12')};
  --ws-sh-16: #{map.get($shadow, '16')};

  // width
  --ws-max-w: #{$max-width};
}
