/* stylelint-disable no-descending-specificity */

@import '@ecl/ec-theme-default/index';

:global {
  body {
    background-color: #fff;
    margin: 0;
  }

  /**
   * Add the correct display in IE 9-.
   * Was removed from normalize.css...
   */
  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section {
    display: block;
  }

  main:focus {
    outline: none;
  }
}
