/* stylelint-disable no-descending-specificity */

:global {
  body {
    background-color: #fff;
    margin: 0;
    overflow-wrap: break-word;
  }

  /**
   * Add the correct display in IE 9-.
   * Was removed from normalize.css...
   */
  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section {
    display: block;
  }

  main:focus {
    outline: none;
  }

  .demo-container {
    box-sizing: border-box;
    border: 2px solid #444;
  }

  .demo-container--small {
    width: 14rem;
  }

  .demo-container--default-height-small {
    height: 6rem;
  }

  .demo-container--default-height-long {
    height: 12rem;
  }

  .demo-container--resizable {
    max-width: 100%;
    overflow: auto;
    resize: both;
  }

  * + .demo-container {
    margin-top: 1rem;
  }

  .demo-box {
    box-sizing: border-box;
    border: 1px solid #777;
    background-color: #eee;
    padding: 0.5rem;
  }

  .demo-item {
    box-sizing: border-box;
    background-color: #eee;
    padding: 0.5rem;
  }

  .demo-item + .demo-item {
    margin-top: 1rem;
  }

  #root {
    min-height: 100vh;
    position: relative;
  }
}
