/* custom grid */

.custom-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
  position: relative;
  width: 480px;
}

@media (min-width: 768px) {
  .custom-container {
    width: 768px;
  }
}

@media (min-width: 1500px) {
  .custom-container {
    width: 1140px;
  }
}

.custom-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

[class*='custom-col'] {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  min-height: 1px;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.custom-col-1\/4 {
  flex-basis: 25%;
  max-width: 25%; /* IE10+ hack */
}
.custom-col-2\/4 {
  flex-basis: 50%;
  max-width: 50%;
}
.custom-col-3\/4 {
  flex-basis: 75%;
  max-width: 75%;
}
.custom-col-4\/4 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 1500px) {
  .custom-col-md-1\/8 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .custom-col-md-2\/8 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .custom-col-md-3\/8 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .custom-col-md-4\/8 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .custom-col-md-5\/8 {
    flex-basis: 62.5%;
    max-width: 62.5%;
  }
  .custom-col-md-6\/8 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .custom-col-md-7\/8 {
    flex-basis: 87.5%;
    max-width: 87.5%;
  }
  .custom-col-md-8\/8 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1500px) {
  .custom-col-xl-1\/12 {
    flex-basis: 8.33%;
    max-width: 8.33%;
  }
  .custom-col-xl-2\/12 {
    flex-basis: 16.67%;
    max-width: 16.67%;
  }
  .custom-col-xl-3\/12 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .custom-col-xl-4\/12 {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .custom-col-xl-5\/12 {
    flex-basis: 41.67%;
    max-width: 41.67%;
  }
  .custom-col-xl-6\/12 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .custom-col-xl-7\/12 {
    flex-basis: 58.33%;
    max-width: 58.33%;
  }
  .custom-col-xl-8\/12 {
    flex-basis: 66.67%;
    max-width: 66.67%;
  }
  .custom-col-xl-9\/12 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .custom-col-xl-10\/12 {
    flex-basis: 83.33%;
    max-width: 83.33%;
  }
  .custom-col-xl-11\/12 {
    flex-basis: 91.67%;
    max-width: 91.67%;
  }
  .custom-col-xl-12\/12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
