@use 'sass:map';
@use '@ecl/theme-dev/theme';

.h1 {
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font, '3xl');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    font: map.get(theme.$font, '4xl');
    font-weight: map.get(theme.$font-weight, 'bold');
  }
}

.h2 {
  border-bottom: 2px solid map.get(theme.$color, 'grey-75');
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font, '2xl');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin: 0;
  padding: 0 0 map.get(theme.$spacing, 'm') 0;

  @media screen and (min-width: 768px) {
    font: map.get(theme.$font, '3xl');
    font-weight: map.get(theme.$font-weight, 'bold');
  }
}

.h3 {
  border-bottom: 2px solid map.get(theme.$color, 'grey-15');
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font, 'xl');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin: 0;
  padding: 0 0 map.get(theme.$spacing, 'm') 0;

  @media screen and (min-width: 768px) {
    font: map.get(theme.$font, '2xl');
    font-weight: map.get(theme.$font-weight, 'bold');
  }
}

.h4 {
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font, 'l');
  margin: 0;
  padding: 0;
}

.p {
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font-prolonged, 'm');
  margin: 0;
  max-width: 64ch;
  padding: 0;
}

.a {
  color: map.get(theme.$color, 'primary');
  font-family: #{map.get(theme.$font-family, 'default')};
  text-decoration: underline;

  &:hover,
  &:focus {
    color: map.get(theme.$color, 'black-100');
  }

  &:focus {
    outline: 3px solid map.get(theme.$color, 'secondary');
    outline-offset: 2px;
  }
}

.details {
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font-prolonged, 'm');
  margin: 0;
  padding: 0;
}

.summary {
  cursor: pointer;
}

.img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* link around an image */
.imgA {
  display: block;
}

.ul {
  box-sizing: border-box;
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font-prolonged, 'm');
  max-width: 64ch;
  margin: 0;
}

.ol {
  box-sizing: border-box;
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font-prolonged, 'm');
  max-width: 64ch;
  margin: 0;
}

.table {
  border-collapse: collapse;
  border-width: 0;
  margin: 0;
  width: 100%;
}

.thead .tr {
  border-bottom: 2px solid map.get(theme.$color, 'grey-50');
}

.tbody .tr {
  border-bottom: 1px solid map.get(theme.$color, 'grey-50');
}

.th {
  background-color: transparent;
  font: map.get(theme.$font-prolonged, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  text-align: left;
}

.td {
  font: map.get(theme.$font-prolonged, 'm');
}

.td,
.th {
  color: map.get(theme.$color, 'grey-100');
  display: table-cell;
  padding: map.get(theme.$spacing, 's');
  vertical-align: top;
  margin: 0;
  max-width: 64ch;
}

.hr {
  border-color: map.get(theme.$color, 'grey-75');
  border-width: 1px;
  border-style: solid;
  margin: 0;
  padding: 0;
}

* + .h1 {
  margin-top: map.get(theme.$spacing, '2xl');
}

* + .h2 {
  margin-top: map.get(theme.$spacing, '2xl');

  @media screen and (min-width: 768px) {
    margin-top: map.get(theme.$spacing, '3xl');
  }
}

* + .h3 {
  margin-top: map.get(theme.$spacing, 'xl');
}

* + .h4 {
  margin-top: map.get(theme.$spacing, 'm');

  @media screen and (min-width: 768px) {
    margin-top: map.get(theme.$spacing, 'l');
  }
}

* + .p,
* + .details,
* + .img,
* + .ul,
* + .ol,
* + .table {
  margin-top: map.get(theme.$spacing, 's');
}

.h1 + .p,
.h1 + .details,
.h1 + .img,
.h1 + .ul,
.h1 + .ol,
.h1 + .table {
  margin-top: map.get(theme.$spacing, 'm');
}

.h2 + .p,
.h2 + .details,
.h2 + .img,
.h2 + .ul,
.h2 + .ol,
.h2 + .table {
  margin-top: map.get(theme.$spacing, 'm');
}

h2 + blockquote + p {
  border: 1px solid map.get(theme.$color, 'grey-15');
  max-width: 100% !important;
  text-align: center;

  &::after {
    background: url('../../public/cms-images/anatomy_legend.png') 2rem center
        no-repeat,
      map.get(theme.$color, 'grey-5');
    background-size: 15rem;
    content: '';
    display: block;
    height: 4rem;
  }
}

img[alt='anatomy'] {
  border: 1px solid map.get(theme.$color, 'grey-15');
}

div:not([class^='ecl']):first-child p:not([class^='ecl']):first-child {
  font: map.get(theme.$font-prolonged, 'l');
  max-width: 49ch;
}

* + .hr {
  margin-top: map.get(theme.$spacing, 'm');
}

* + .imgA {
  margin-top: map.get(theme.$spacing, 'm');
}
