@use "sass:map";
@use '@ecl/theme-dev/theme';

.pv-m {
  padding-bottom: map.get(theme.$spacing, 'm') !important;
  padding-top: map.get(theme.$spacing, 'm') !important;
}

.pv-l {
  padding-bottom: map.get(theme.$spacing, 'l') !important;
  padding-top: map.get(theme.$spacing, 'l') !important;
}

.pv-xl {
  padding-bottom: map.get(theme.$spacing, 'xl') !important;
  padding-top: map.get(theme.$spacing, 'xl') !important;
}

.pv-2xl {
  padding-bottom: map.get(theme.$spacing, '2xl') !important;
  padding-top: map.get(theme.$spacing, '2xl') !important;
}

.pv-3xl {
  padding-bottom: map.get(theme.$spacing, '3xl') !important;
  padding-top: map.get(theme.$spacing, '3xl') !important;
}
@media screen and (min-width: map.get(theme.$breakpoint, 'md')) {
  .pv-md-3xl {
    padding-bottom: map.get(theme.$spacing, '3xl') !important;
    padding-top: map.get(theme.$spacing, '3xl') !important;
  }
}

.pv-4xl {
  padding-bottom: map.get(theme.$spacing, '4xl') !important;
  padding-top: map.get(theme.$spacing, '4xl') !important;
}

.mt-m {
  margin-top: map.get(theme.$spacing, 'm') !important;
}

.mt-l {
  margin-top: map.get(theme.$spacing, 'l') !important;
}

.mt-xl {
  margin-top: map.get(theme.$spacing, 'xl') !important;
}

.d-flex {
  display: flex !important;
}
