@import '@ecl/ec-themes/index';

.pv-m {
  padding-bottom: $ecl-spacing-m !important;
  padding-top: $ecl-spacing-m !important;
}

.pv-l {
  padding-bottom: $ecl-spacing-l !important;
  padding-top: $ecl-spacing-l !important;
}

.pv-xl {
  padding-bottom: $ecl-spacing-xl !important;
  padding-top: $ecl-spacing-xl !important;
}

.pv-2xl {
  padding-bottom: $ecl-spacing-2-xl !important;
  padding-top: $ecl-spacing-2-xl !important;
}

.pv-3xl {
  padding-bottom: $ecl-spacing-3-xl !important;
  padding-top: $ecl-spacing-3-xl !important;
}
@media screen and (min-width: $ecl-breakpoint-md) {
  .pv-md-3xl {
    padding-bottom: $ecl-spacing-3-xl !important;
    padding-top: $ecl-spacing-3-xl !important;
  }
}

.pv-4xl {
  padding-bottom: $ecl-spacing-4-xl !important;
  padding-top: $ecl-spacing-4-xl !important;
}

.mt-m {
  margin-top: $ecl-spacing-m !important;
}

.mt-l {
  margin-top: $ecl-spacing-l !important;
}

.mt-xl {
  margin-top: $ecl-spacing-xl !important;
}

.d-flex {
  display: flex !important;
}
