@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

.pv-m {
  padding-bottom: var(--s-m) !important;
  padding-top: var(--s-m) !important;
}

.pv-l {
  padding-bottom: var(--s-l) !important;
  padding-top: var(--s-l) !important;
}

.pv-xl {
  padding-bottom: var(--s-xl) !important;
  padding-top: var(--s-xl) !important;
}

.pv-2xl {
  padding-bottom: var(--s-2xl) !important;
  padding-top: var(--s-2xl) !important;
}

.pv-3xl {
  padding-bottom: var(--s-3xl) !important;
  padding-top: var(--s-3xl) !important;
}
// stylelint-disable-next-line media-query-no-invalid
@media screen and (min-width: map.get($theme, 'breakpoint', 'm')) {
  .pv-md-3xl {
    padding-bottom: var(--s-3xl) !important;
    padding-top: var(--s-3xl) !important;
  }
}

.pv-4xl {
  padding-bottom: var(--s-4xl) !important;
  padding-top: var(--s-4xl) !important;
}

.mt-m {
  margin-top: var(--s-m) !important;
}

.mt-l {
  margin-top: var(--s-l) !important;
}

.mt-xl {
  margin-top: var(--s-xl) !important;
}

.d-flex {
  display: flex !important;
}
