/*
 * Help Block
 * @define help-block
 */

// Import base
@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/typography';
@use '@ecl/ec-base/mixins/import-once';

@mixin ecl-help-block() {
  .ecl-help-block {
    box-sizing: border-box;
    color: map.get(color.$color, 'grey-100');
    display: block;
    font: map.get(typography.$font-prolonged, 's');
    margin: 0;
    padding: 0;
  }

  .ecl-help-block--disabled {
    color: map.get(color.$color, 'grey-50');
  }
}

// Use mixin
@include import-once.exports('vanilla-component-form-help-block') {
  @include ecl-help-block();
}
