// Icon rollover.

@mixin ecl-icon-rollover($class, $event: 'hover', $spacing: $ecl-spacing-xs) {
  $selector: #{$class}__icon;
  $link: #{$class}__link;

  .#{$selector},
  .#{$selector}-#{$event} {
    flex-shrink: 0;
    margin-right: $spacing;
  }

  .#{$selector} {
    display: block;

    &-#{$event} {
      display: none;
    }
  }

  .#{$link}:#{$event} {
    .#{$selector} {
      display: none;
    }

    .#{$selector}-#{$event} {
      display: block;
    }
  }
}
