{#
  This is an example and should not be used as it is.
#}

{% include '@ecl/ec-component-skip-link' with {
  'href': '#main-content',
  'label': 'Skip to main content'
} %}

{% include '@ecl/ec-component-site-header' with {
  site_switcher: {
    political: { href: '../../example.html#', label: 'Commission and its priorities' },
    info: {
      href: '../../example.html#',
      label: 'Policies, information and services',
      is_active: true,
    },
  }
} %}

{% include '@ecl/ec-component-page-header' with {
  variant: 'basic',
  identity: 'Template community',
  breadcrumb: [
    { href: '../../example.html#', label: 'Home' },
    { href: '../../example.html#', label: 'Europa Component Library' },
    { label: 'My community' },
  ],
} %}

{% include "@ecl/ec-component-navigation-menu" with menu %}

<main id="main-content">
  <div class="ecl-container ecl-u-mv-l">
    <h1 class="ecl-heading ecl-heading--h1">My community</h1>

    <div class="ecl-row">
      <div class="ecl-col-md-3">
        {% include '@ecl/ec-component-form-label' with {
          for_attribute: 'create-content',
          label: 'Create content'
        } %}

        {% embed '@ecl/ec-component-form-select' with { 'id': 'create-content', 'name': 'create-content' }%}
          {% block options %}
            <option>Article</option>
            <option>Event</option>
            <option>News</option>
            <option>Media item</option>
          {% endblock %}
        {% endembed %}

        {% include '@ecl/ec-component-link-block' with {
          wrapper: true,
          title: 'Members list',
          links: [
            { href: '../../example.html#', label: 'John Doe' },
            { href: '../../example.html#', label: 'Jane Doe' },
            { href: '../../example.html#', label: 'Mike Doe' },
            { href: '../../example.html#', label: 'Richard Doe' }
          ],
          extra_classes: 'ecl-u-mt-m',
        } %}
      </div>

      <div class="ecl-col-md-9">
        <p class="ecl-paragraph ecl-paragraph--l">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elit nisi, scelerisque non elementum ac, placerat in eros. Integer volutpat mi eros. Nunc at nibh eros.
        </p>

        {% include '@ecl/ec-component-gallery' with {
          rows: [
            [
              {
                classes: 'ecl-col-md-4',
                image: {
                  src: 'http://placehold.it/380x185',
                  alt: 'Example alt text',
                  responsive: true,
                  extra_attributes: [
                    { name: 'typeof', value: 'foaf:Image' },
                    { name: 'width', value: '380' },
                    { name: 'height', value: '185' },
                  ],
                },
                caption: 'Example image caption',
                icon: 'ecl-icon--camera',
              },
              {
                classes: 'ecl-col-md-3',
                image: {
                  src: 'http://placehold.it/285x185',
                  alt: 'Example alt text',
                  responsive: true,
                  extra_attributes: [
                    { name: 'typeof', value: 'foaf:Image' },
                    { name: 'width', value: '285' },
                    { name: 'height', value: '185' },
                  ],
                },
                icon: 'ecl-icon--audio',
              },
              {
                classes: 'ecl-col-md-2',
                image: {
                  src: 'http://placehold.it/190x185',
                  alt: 'Example alt text',
                  responsive: true,
                  extra_attributes: [
                    { name: 'typeof', value: 'foaf:Image' },
                    { name: 'width', value: '190' },
                    { name: 'height', value: '185' },
                  ],
                },
                caption: 'Example image caption',
                icon: 'ecl-icon--camera',
              },
              {
                classes: 'ecl-col-md-3',
                image: {
                  src: 'http://placehold.it/285x185',
                  alt: 'Example alt text',
                  responsive: true,
                  extra_attributes: [
                    { name: 'typeof', value: 'foaf:Image' },
                    { name: 'width', value: '285' },
                    { name: 'height', value: '185' },
                  ],
                },
              },
            ],
            [
              {
                classes: 'ecl-col-md-2',
                image: {
                  src: 'http://placehold.it/190x185',
                  alt: 'Example alt text',
                  responsive: true,
                  extra_attributes: [
                    { name: 'typeof', value: 'foaf:Image' },
                    { name: 'width', value: '190' },
                    { name: 'height', value: '185' },
                  ],
                },
                caption: 'Example image caption',
              },
              {
                classes: 'ecl-col-md-3',
                image: {
                  src: 'http://placehold.it/285x185',
                  alt: 'Example alt text',
                  responsive: true,
                  extra_attributes: [
                    { name: 'typeof', value: 'foaf:Image' },
                    { name: 'width', value: '285' },
                    { name: 'height', value: '185' },
                  ],
                },
              },
              {
                classes: 'ecl-col-md-3',
                image: {
                  src: 'http://placehold.it/285x185',
                  alt: 'Example alt text',
                  responsive: true,
                  extra_attributes: [
                    { name: 'typeof', value: 'foaf:Image' },
                    { name: 'width', value: '285' },
                    { name: 'height', value: '185' },
                  ],
                },
              },
              {
                classes: 'ecl-col-md-4',
                image: {
                  src: 'http://placehold.it/380x185',
                  alt: 'Example alt text',
                  responsive: true,
                  extra_attributes: [
                    { name: 'typeof', value: 'foaf:Image' },
                    { name: 'width', value: '380' },
                    { name: 'height', value: '185' },
                  ],
                },
                caption: 'Example image caption',
              },
            ],
          ]
        } %}

        {% include '@ecl/ec-component-button' with {
          label: "Unsubscribe",
          modifier: "default",
          extra_classes: "ecl-u-mt-m",
        } %}
      </div>
    </div>
  </div>
</main>

{% include '@ecl/ec-component-footer' with {
  custom_footer: {
    identity: 'Europa Component Library',
    social_links: {
      label: 'Follow us:',
      links: [
        {
          type: 'social-network',
          icon: 'facebook',
          link: {
            href: '../../example.html#',
            label: 'Facebook',
          },
        },
        {
          type: 'social-network',
          icon: 'twitter',
          link: {
            href: '../../example.html#',
            label: 'Twitter',
          },
        },
        {
          type: 'external',
          link: {
            href: '../../example.html#',
            label: 'Other social media',
          },
        },
      ],
    },
    other_links: {
      links: [
        {
          link: {
            href: '../../example.html#',
            label: 'Contact',
          },
        },
        {
          link: {
            href: '../../example.html#',
            label: 'Site map',
          },
        },
      ],
    },
  },
  corporate_footer: {
    about_ec: {
      title: 'European Commission',
      items: [
        {
          href: 'https://ec.europa.eu/commission/index_en',
          label: 'Commission and its priorities',
        },
        {
          href: 'https://ec.europa.eu/info/index_en',
          label: 'Policies, information and services',
        },
      ],
    },
    social_media: {
      title: 'Follow the European Commission',
      items: [
        {
          type: 'social-network',
          icon: 'facebook',
          link: {
            href: '../../example.html#',
            label: 'Facebook',
          },
        },
        {
          type: 'social-network',
          icon: 'twitter',
          link: {
            href: '../../example.html#',
            label: 'Twitter',
          },
        },
        {
          type: 'external',
          link: {
            href: '../../example.html#',
            label: 'Other social media',
          },
        },
      ],
    },
    about_eu: {
      title: 'European Union',
      items: [
        {
          href: '../../example.html#',
          label: 'EU institutions',
        },
        {
          href: '../../example.html#',
          label: 'European Union',
        },
      ],
    },
    bottom_links: [
      {
        href:
          'http://ec.europa.eu/info/about-commissions-new-web-presence_en',
        label: "About the Commission's new web presence",
      },
      {
        href: 'http://ec.europa.eu/info/resources-partners_en',
        label: 'Resources for partners',
      },
      {
        href: 'http://ec.europa.eu/info/cookies_en',
        label: 'Cookies',
      },
      {
        href: 'http://ec.europa.eu/info/legal-notice_en',
        label: 'Legal notice',
      },
      {
        href: 'http://ec.europa.eu/info/contact_en',
        label: 'Contact',
      },
    ],
  },
} %}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    ECL.megamenu('.ecl-navigation-menu__root');
    ECL.initExpandables('.ecl-navigation-menu__toggle');
  });
</script>
