/*
 * Hero banner
 * @define hero-banner; weak
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

.ecl-hero-banner {
  margin: 0;
  padding-bottom: map.get(theme.$spacing-print, 'xl');
  padding-top: map.get(theme.$spacing-print, 'xl');
}

.ecl-hero-banner__title {
  color: map.get(theme.$color, 'black-100');
  font: map.get(theme.$font-print, '4xl');
  font-family: #{map.get(theme.$font-family-print, 'alt')};
  margin-bottom: 0;
  margin-top: 0;
}

.ecl-hero-banner__description {
  color: map.get(theme.$color, 'black-100');
  font: map.get(theme.$font-prolonged-print, 'l');
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'xs');
}

.ecl-hero-banner__description + .ecl-link {
  margin-top: map.get(theme.$spacing-print, 'm');
}
