



  



      <footer class="ecl-footer">
          <div class="ecl-footer__custom">
          
  <div class="ecl-container">
    <div class="ecl-footer__custom-title">
      Site Identification
    </div>
    <div class="ecl-row">
            <div class="ecl-col-md">
        <div class="ecl-footer__custom-label">Follow us:</div>
        <ul class="ecl-list ecl-list--inline ecl-footer__list ecl-footer__list--inline ecl-footer__social-links">
                      <li class="ecl-footer__list-item">
                              







  



<a class="ecl-link ecl-footer__link" href="../../example.html#facebook">                    <span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span><span>Facebook</span>                  </a>
                          </li>
                      <li class="ecl-footer__list-item">
                              







  



<a class="ecl-link ecl-footer__link" href="../../example.html#twitter">                    <span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span><span>Twitter</span>                  </a>
                          </li>
                      <li class="ecl-footer__list-item">
                              







  



<a class="ecl-link ecl-footer__link" href="../../example.html#instagram">                    <span class="ecl-icon ecl-icon--instagram ecl-footer__social-icon"></span><span>Instagram</span>                  </a>
                          </li>
                  </ul>
      </div>
                  <div class="ecl-col-md ecl-footer__other-links">
        <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-footer__list ecl-footer__list--inline">
                      <li class="ecl-footer__list-item">
              







  



<a class="ecl-link ecl-footer__link" href="../../example.html#loremipsum1">Lorem ipsum</a>
            </li>
                      <li class="ecl-footer__list-item">
              







  



<a class="ecl-link ecl-footer__link" href="../../example.html#loremipsum2">Lorem ipsum</a>
            </li>
                      <li class="ecl-footer__list-item">
              







  



<a class="ecl-link ecl-footer__link" href="../../example.html#loremipsum3">Lorem ipsum dolor sit</a>
            </li>
                      <li class="ecl-footer__list-item">
              







  



<a class="ecl-link ecl-footer__link" href="../../example.html#loremipsum4">Lorem ipsum dolor sit</a>
            </li>
                  </ul>
      </div>
          </div>
  </div>
  
      </div>
        <div class="ecl-footer__corporate">
      <div class="ecl-footer__corporate-top">
  <div class="ecl-container">
    <div class="ecl-row ecl-footer__row">
      <div class="ecl-footer__column ecl-col-md-4 ecl-footer__spaced-column">
                <div class="ecl-footer__column-title" id="footer-corporate-contact-eu">Contact the EU</div>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-contact-eu">
                                    <li class="ecl-footer__list-item">
                                  Call us <a href="../../example.html#call" class="ecl-link ecl-link--standalone">00 800 6 7 8 9 10 11</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  Use other <a href="../../example.html#call-other-options" class="ecl-link ecl-link--standalone">telephone options</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  Write to us via our <a href="../../example.html#contact-form" class="ecl-link ecl-link--standalone">contact form</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  Meet us at a <a href="../../example.html#local-office" class="ecl-link ecl-link--standalone">local EU office</a>
                              </li>
                              </ul>
                        <div class="ecl-footer__column-title ecl-u-mt-l" id="footer-corporate-social-media">Find a social media account</div>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-social-media">
                                    <li class="ecl-footer__list-item">
                                  <a href="../../example.html#call" class="ecl-link ecl-link--standalone">Search for EU social media channels</a>
                              </li>
                              </ul>
              </div>
            <div class="ecl-footer__column ecl-col-md-8 ecl-footer__spaced-column">
        <div class="ecl-footer__column-title" id="footer-corporate-find-institution">EU institutions</div>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list ecl-footer__list--2-col ecl-footer__list--long" aria-labelledby="footer-corporate-find-institution">
                                    <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Parliament</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Council</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Council of the European Union</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Commission</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Court of Justice of the European Union</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Central Bank</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Court of Auditors</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European External Action Service</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Economic and Social Committee</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Committee of the Regions</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Investment Bank</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Ombudsman</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Data Protection Supervisor</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Personnel Selection Office</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Publications Office of the European Union</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Agencies</a>
                              </li>
                              </ul>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list ecl-footer__list--2-col ecl-footer__list--short">
                                    <li class="ecl-footer__list-item">
                                  Search for <a href="../../example.html#call" class="ecl-link ecl-link--standalone">EU institutions</a>
                              </li>
                              </ul>
      </div>
          </div>
  </div>
</div>
<div class="ecl-footer__corporate-bottom">
  <div class="ecl-container">
    <div class="ecl-row ecl-footer__row">
      <div class="ecl-col">
                <ul class="ecl-list ecl-list--inline ecl-footer__list ecl-footer__list--inline">
                      <li class="ecl-footer__list-item ecl-footer__publication-date">Last published 26/06/2018</li>
                                              <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Work for the EU</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Sitemap</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">About this site</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Language policy</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Legal notice</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Cookies</a>
                              </li>
                              </ul>
              </div>
    </div>
  </div>
</div>

    </div>
  </footer>


