


      <!-- Start: @eu-component-date-block--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default event
</h3>

      <div class="ecl-date-block">
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
            <span class="ecl-date-block__day">12</span>
            <span class="ecl-date-block__month">Jan</span>
          </div>
</div>

      <!-- End: @eu-component-date-block--default -->

    

      <!-- Start: @eu-component-date-block--ongoing -->

      <h3 class="ecl-heading ecl-heading--h3">Ongoing event
</h3>

      <div class="ecl-date-block ecl-date-block--ongoing">
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Wed-Fri</span>
            <span class="ecl-date-block__day">31-11</span>
            <span class="ecl-date-block__month">May-Jun</span>
          </div>
</div>

      <!-- End: @eu-component-date-block--ongoing -->

    

      <!-- Start: @eu-component-date-block--cancelled -->

      <h3 class="ecl-heading ecl-heading--h3">Cancelled event
</h3>

      <div class="ecl-date-block ecl-date-block--cancelled">
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Mon</span>
            <span class="ecl-date-block__day">11</span>
            <span class="ecl-date-block__month">Jan</span>
          </div>
</div>

      <!-- End: @eu-component-date-block--cancelled -->

    

      <!-- Start: @eu-component-date-block--past -->

      <h3 class="ecl-heading ecl-heading--h3">Past event
</h3>

      <div class="ecl-date-block ecl-date-block--past">
  <div class="ecl-date-block__body">
            <span class="ecl-date-block__day">2-4</span>
            <span class="ecl-date-block__month">Feb</span>
            <span class="ecl-date-block__year">2015</span>
      </div>
</div>

      <!-- End: @eu-component-date-block--past -->

    
