


      <!-- Start: @eu-component-link--default -->

      <div>Lorem ipsum, <a class="ecl-link" href="../../example.html#">in-line link</a> consectetur adipiscing elit</div>

      <!-- End: @eu-component-link--default -->

    

      <!-- Start: @eu-component-link--external -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--external" href="../../example.html#">external link</a> consectetur adipiscing elit</div>

      <!-- End: @eu-component-link--external -->

    

      <!-- Start: @eu-component-link--standalone -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--standalone" href="../../example.html#">standalone link</a> consectetur adipiscing elit</div>

      <!-- End: @eu-component-link--standalone -->

    

      <!-- Start: @eu-component-link--inverted -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--inverted ecl-u-bg-shade" href="../../example.html#">inverted link</a> consectetur adipiscing elit</div>

      <!-- End: @eu-component-link--inverted -->

    

      <!-- Start: @eu-component-link--all -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--all" href="../../example.html#">all link</a> consectetur adipiscing elit</div>

      <!-- End: @eu-component-link--all -->

    

      <!-- Start: @eu-component-link--more -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--more" href="../../example.html#">more link</a> consectetur adipiscing elit</div>

      <!-- End: @eu-component-link--more -->

    
