

<!-- Start: @eu-component-meta--default -->
<h3 class="ecl-heading ecl-heading--h3">Default meta</h3>
<div class="ecl-meta" >
          <span class="ecl-meta__item">news article</span>
          <span class="ecl-meta__item">17 September 2014</span>
      </div>
<!-- End: @eu-component-meta--default -->

<!-- Start: @eu-component-meta--header -->
<h3 class="ecl-heading ecl-heading--h3">Header meta</h3>
<div class="ecl-meta ecl-meta--header" >
          <span class="ecl-meta__item">news article</span>
          <span class="ecl-meta__item">17 September 2014</span>
      </div>
<!-- End: @eu-component-meta--header -->

