


      <!-- Start: @eu-component-button--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default
</h3>

      <button type="submit" class="ecl-button ecl-button--default">Default</button>

      <!-- End: @eu-component-button--default -->

    

      <!-- Start: @eu-component-button--primary -->

      <h3 class="ecl-heading ecl-heading--h3">Primary
</h3>

      <button type="submit" class="ecl-button ecl-button--primary">Primary</button>

      <!-- End: @eu-component-button--primary -->

    

      <!-- Start: @eu-component-button--secondary -->

      <h3 class="ecl-heading ecl-heading--h3">Secondary
</h3>

      <button type="submit" class="ecl-button ecl-button--secondary">Secondary</button>

      <!-- End: @eu-component-button--secondary -->

    

      <!-- Start: @eu-component-button--call -->

      <h3 class="ecl-heading ecl-heading--h3">Call-to-action
</h3>

      <button type="submit" class="ecl-button ecl-button--call ecl-button--caret-right">Call-to-action</button>

      <!-- End: @eu-component-button--call -->

    
