












<div class="ecl-profile-topbar">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-md-2">
        













<img
  class="ecl-image"  alt="Example profile image"
  src="../../assets/demo_images/default_profile_image.png"
   />

      </div>
      <div class="ecl-col-md-10 ecl-profile-topbar__pane">
        












<div class="ecl-context-nav">
  <span class="ecl-context-nav__label">Department</span>
    <ul class="ecl-context-nav__list">
        <li class="ecl-context-nav__item">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#">Trade</a>
    </li>
        <li class="ecl-context-nav__item">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#"> European Anti-Fraud Office</a>
    </li>
          </ul>
  </div>
        










  
                    



  <button type="button" class="ecl-button ecl-button--default ecl-expandable__button ecl-profile-topbar__pane-button" aria-controls="ecl-profile-topbar__expandable-1" aria-expanded="false" id="ecl-profile-topbar__expandable-button-1">See details</button>
      </div>
    </div>
  </div>
  <div
                          aria-hidden="true"
                      aria-labelledby="ecl-profile-topbar__expandable-button-1"
                      id="ecl-profile-topbar__expandable-1"
                      class="ecl-profile-topbar__collapsible-area"
            >
    <div class="ecl-container">
              <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue quis est dignissim lacinia. Curabitur interdum iaculis sagittis. Maecenas sodales elit est, et suscipit nisl vulputate eget. Mauris vel pulvinar odio. Sed diam turpis, cursus vel congue vel, lobortis a ipsum. Donec vel quam nec enim tristique efficitur at eget nisl.
        </p>
          </div>
  </div>
</div>

