












  




<div class="ecl-dialog ecl-dialog--wide" id="ecl-dialog" aria-labelledby="ecl-dialog-title" aria-describedby="ecl-dialog-description" aria-hidden="true" role="dialog">
  <h3 id="ecl-dialog-title" class="ecl-heading ecl-heading--h3 ecl-u-sr-only">Dialog</h3>
  <p id="ecl-dialog-description" class="ecl-u-sr-only">Example description</p>
  <div class="ecl-dialog__body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue quis est dignissim lacinia. Curabitur interdum iaculis sagittis. Maecenas sodales elit est, et suscipit nisl vulputate eget. Mauris vel pulvinar odio. Sed diam turpis, cursus vel congue vel, lobortis a ipsum. Donec vel quam nec enim tristique efficitur at eget nisl.
      </div>
      <button type="button" class="ecl-dialog__dismiss" aria-label="Dismiss this dialog window">&times;</button>
  </div>

