


<!-- Button dropdown -->
<div class="ecl-dropdown" id="dropdown1">
  










  
                    


  <button type="button" class="ecl-button ecl-button--default ecl-expandable__button" aria-controls="example-button-dropdown1" aria-expanded="false" id="example-expandable-button1">Create</button>
  








  
                    


<div class="ecl-link-block ecl-dropdown__body" id="example-button-dropdown1" aria-labelledby="example-expandable-button1" aria-hidden="true">
        <ul class="ecl-link-block__list">
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Article</a>
        </li>
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Page</a>
        </li>
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Community</a>
        </li>
          </ul>
  </div>
</div>

