


      <!-- Start: @eu-component-tag--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default tags
</h3>

      <div class="ecl-tag">
      <span class="ecl-tag__label">tags</span>
                            <a class="ecl-tag__item" href="../../example.html#">apple</a>
                              <a class="ecl-tag__item" href="../../example.html#">orange</a>
                              <a class="ecl-tag__item" href="../../example.html#">lime</a>
                              <a class="ecl-tag__item" href="../../example.html#">strawberry</a>
            </div>

      <!-- End: @eu-component-tag--default -->

    

      <!-- Start: @eu-component-tag--facet -->

      <h3 class="ecl-heading ecl-heading--h3">Facet tags
</h3>

      <div class="ecl-tag ecl-tag--facet">
      <span class="ecl-tag__label">containing</span>
                            <span class="ecl-tag__item">Words that the facet is containing</span>
            </div>

      <!-- End: @eu-component-tag--facet -->

    

      <!-- Start: @eu-component-tag--facet-close -->

      <h3 class="ecl-heading ecl-heading--h3">Facet tag with close
</h3>

      <div class="ecl-tag ecl-tag--facet-close">
                      <span class="ecl-tag__label">type</span>
                    <span class="ecl-tag__item">atom</span>
                        <span class="ecl-tag__label">status</span>
                    <span class="ecl-tag__item">wip</span>
            </div>

      <!-- End: @eu-component-tag--facet-close -->

    
