


      <!-- Start: @eu-component-label--upcoming -->

      <h3 class="ecl-heading ecl-heading--h3">Upcoming
</h3>

      <span class="ecl-label ecl-label--upcoming">Call status: upcoming</span>

      <!-- End: @eu-component-label--upcoming -->

    

      <!-- Start: @eu-component-label--open -->

      <h3 class="ecl-heading ecl-heading--h3">Open / Highlight 
</h3>

      <span class="ecl-label ecl-label--open">Call status: open</span>

      <!-- End: @eu-component-label--open -->

    

      <!-- Start: @eu-component-label--close -->

      <h3 class="ecl-heading ecl-heading--h3">Closed
</h3>

      <span class="ecl-label ecl-label--close">Call status: closed</span>

      <!-- End: @eu-component-label--close -->

    
