










  




<ul class="ecl-listing ecl-listing--three-columns">
      











<li class="ecl-list-item">
  <a href="../../example.html#listing-three-columns-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: Business, Economy, Euro</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Business, Economy, Euro</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  EU economy, the euro, and practical information for EU businesses and entrepreneurs.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      











<li class="ecl-list-item">
  <a href="../../example.html#listing-three-columns-2" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: About the European Union</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">About the European Union</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  The EU and its institutions, how to visit and work at the EU.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      











<li class="ecl-list-item">
  <a href="../../example.html#listing-three-columns-3" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: Live, Work, Travel in EU</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Live, Work, Travel in EU</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Advice on living, working or travelling in the EU, on visas and immigration for non-EU citizens, European culture.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      











<li class="ecl-list-item">
  <a href="../../example.html#listing-three-columns-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: Funding, Tenders</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Funding, Tenders</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  EU funding, grants, tenders, and how to apply.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      











<li class="ecl-list-item">
  <a href="../../example.html#listing-three-columns-5" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: Law</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Law</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  EU law and judgments, how EU law is applied, public consultations, data protection, infringements, fraud, serious crime.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      











<li class="ecl-list-item">
  <a href="../../example.html#listing-three-columns-6" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: Research and innovation</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Research and innovation</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Research funding, partners, results, and EU action to promote innovation.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--highlight">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: State of the European Union 2017</div>
          <div class="ecl-list-item__primary">
                  









  



<img
  class="ecl-image ecl-image--fluid"  alt="State of the European Union 2017"
  src="../../assets/demo_images/nature-demo-1.jpg"
   />

              </div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">State of the European Union 2017</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--highlight">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: White paper on the future of Europe</div>
          <div class="ecl-list-item__primary">
                  









  



<img
  class="ecl-image ecl-image--fluid"  alt="White paper on the future of Europe"
  src="../../assets/demo_images/nature-demo-2.jpg"
   />

              </div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">White paper on the future of Europe</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--highlight">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: EU solidarity</div>
          <div class="ecl-list-item__primary">
                  









  



<img
  class="ecl-image ecl-image--fluid"  alt="EU solidarity"
  src="../../assets/demo_images/nature-demo-3.jpg"
   />

              </div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EU solidarity</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--navigation">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Jobs, growth and investment</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Mollit et cupidatat fugiat consequat exercitation irure est enim in incididunt.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--navigation">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Energy union and climate</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Ad cillum qui anim amet ea dolore excepteur amet esse sunt duis labore ullamco enim.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--navigation">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">A stronger global actor</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Proident enim excepteur voluptate cillum officia. Nisi ad mollit minim excepteur sunt officia exercitation dolore eiusmod est officia do laborum.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--block">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Climate action</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  In eu consectetur aute incididunt quis quis do labore in ut consectetur.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--block">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EU by topic</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Anim irure ipsum dolore anim est Lorem cupidatat occaecat est consectetur.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--block">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Doing business</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Ipsum cupidatat amet qui labore aliquip dolor. Pariatur amet esse excepteur exercitation magna do enim amet.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--block">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">About the EU</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Ut laborum ullamco tempor duis veniam elit duis exercitation id excepteur.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--block">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">The Questions Corner</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Do in cupidatat ea duis id. In sunt irure minim aliquip. Mollit eu aliqua et quis velit do.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--block">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Contact the EU</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Consectetur sint eiusmod ut Lorem consequat quis laboris sit irure est ad dolore ad.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
  </ul>

