










  



<table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2"></th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

