















<ul class="ecl-listing">
      






  




<li class="ecl-list-item ecl-list-item--date">
  <a href="../../example.html#listing-date-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">Event 07/09, Bucharest, Romania</div>
          <div class="ecl-list-item__primary">
                  













<div class="ecl-date-block">
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
            <span class="ecl-date-block__day">07</span>
            <span class="ecl-date-block__month">Sep</span>
          </div>
</div>
              </div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Citizens' Dialogue in Bucharest with Commissioner Corina Crețu and the President of the European Committee of the Regions Karl-Heinz Lambertz</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  <small><span class="ecl-icon ecl-icon--location">Bucharest, Romania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--date">
  <a href="../../example.html#listing-date-2" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">Event 08/09, Kraków, Poland</div>
          <div class="ecl-list-item__primary">
                  













<div class="ecl-date-block">
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
            <span class="ecl-date-block__day">08</span>
            <span class="ecl-date-block__month">Sep</span>
          </div>
</div>
              </div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Citizens' Dialogue in Kraków with Commissioner Elżbieta Bieńkowska</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  <small><span class="ecl-icon ecl-icon--location">Kraków, Poland</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--date">
  <a href="../../example.html#listing-date-3" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">Event 14/09, Tallin, Estonia</div>
          <div class="ecl-list-item__primary">
                  













<div class="ecl-date-block">
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
            <span class="ecl-date-block__day">14</span>
            <span class="ecl-date-block__month">Sep</span>
          </div>
</div>
              </div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Citizens' Dialogue in Tallin with Vice-President Jyrki Katainen</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  <small><span class="ecl-icon ecl-icon--location">Tallin, Estonia</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--navigation">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">A stronger global actor</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Proident enim excepteur voluptate cillum officia. Nisi ad mollit minim excepteur sunt officia exercitation dolore eiusmod est officia do laborum.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
      






  




<li class="ecl-list-item ecl-list-item--block">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Climate action</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  In eu consectetur aute incididunt quis quis do labore in ut consectetur.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>
  </ul>

