


      <!-- Start: @eu-component-social-media-link--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default list with default display
</h3>

      <div class="ecl-social-media-link">
      <p class="ecl-paragraph">View European Commission on:</p>
    <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled">
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="Facebook">Facebook</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--twitter ecl-social-media-link__link" href="../../example.html#" title="Twitter">Twitter</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--instagram ecl-social-media-link__link" href="../../example.html#" title="Instagram">Instagram</a>
      </li>
        <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="" title="Other social networks">Other social networks</a>
    </li>
  </ul>
</div>

      <!-- End: @eu-component-social-media-link--default -->

    

      <!-- Start: @eu-component-social-media-link--default-specific -->

      <h3 class="ecl-heading ecl-heading--h3">Specific list with default display
</h3>

      <div class="ecl-social-media-link">
    <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled">
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="See Jean-Claude Junker on Facebook">Jean-Claude Junker</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="See European Commission on Facebook">European Commission</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--twitter ecl-social-media-link__link" href="../../example.html#" title="See European Commission on Twitter">European Commission</a>
      </li>
        <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="" title="Other social networks">Other social networks</a>
    </li>
  </ul>
</div>

      <!-- End: @eu-component-social-media-link--default-specific -->

    

      <!-- Start: @eu-component-social-media-link---horizontal -->

      <h3 class="ecl-heading ecl-heading--h3"> Default list with horizontal display
</h3>

      <div class="ecl-social-media-link ecl-social-media-link--horizontal">
      <p class="ecl-paragraph">View European Commission on:</p>
    <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled ecl-list--inline">
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="Facebook">Facebook</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--twitter ecl-social-media-link__link" href="../../example.html#" title="Twitter">Twitter</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--instagram ecl-social-media-link__link" href="../../example.html#" title="Instagram">Instagram</a>
      </li>
        <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="" title="Other social networks">Other social networks</a>
    </li>
  </ul>
</div>

      <!-- End: @eu-component-social-media-link---horizontal -->

    

      <!-- Start: @eu-component-social-media-link--horizontal-specific -->

      <h3 class="ecl-heading ecl-heading--h3">Specific list with horizontal display
</h3>

      <div class="ecl-social-media-link ecl-social-media-link--horizontal">
    <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled ecl-list--inline">
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="See Jean-Claude Junker on Facebook">Jean-Claude Junker</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--facebook ecl-social-media-link__link" href="../../example.html#" title="See European Commission on Facebook">European Commission</a>
      </li>
          <li class="ecl-social-media-link__item">
        








  
  
        


  







  
        


<a class="ecl-link  ecl-social-icon ecl-social-icon--twitter ecl-social-media-link__link" href="../../example.html#" title="See European Commission on Twitter">European Commission</a>
      </li>
        <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="" title="Other social networks">Other social networks</a>
    </li>
  </ul>
</div>

      <!-- End: @eu-component-social-media-link--horizontal-specific -->

    
