


      <!-- Start: @eu-component-link-block--standalone -->

      <h3 class="ecl-heading ecl-heading--h3">Standalone block of links
</h3>

      <div class="ecl-link-block">
        <ul class="ecl-link-block__list">
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="../../example.html#">European Commission</a>
        </li>
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="../../example.html#">Priorities</a>
        </li>
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="../../example.html#">Jobs, Growth and Investment</a>
        </li>
          </ul>
  </div>

      <!-- End: @eu-component-link-block--standalone -->

    

      <!-- Start: @eu-component-link-block--wrapper -->

      <h3 class="ecl-heading ecl-heading--h3">Block of links with title
</h3>

      <div class="ecl-link-block">
      <div class="ecl-link-block__title">More information</div>
        <ul class="ecl-link-block__list">
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="../../example.html#">European Commission</a>
        </li>
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="../../example.html#">Priorities</a>
        </li>
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="../../example.html#">Jobs, Growth and Investment</a>
        </li>
          </ul>
  </div>

      <!-- End: @eu-component-link-block--wrapper -->

    
