













<li class="ecl-list-item">
  <a href="../../example.html#list-item-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













  <div class="ecl-meta" >
          <span class="ecl-meta__item">Service department</span>
          <span class="ecl-meta__item">PMO</span>
      </div>
                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Administration and Payment of Individual Entitlements</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>

