













        




<section class="ecl-carousel" id="ecl-carousel" aria-labelledby="ecl-carousel__heading" aria-hidden="true">
  <h3 class="ecl-headings ecl-headings--h3 ecl-u-sr-only" id="ecl-carousel__heading">Example gallery carousel</h3>
  <div class="ecl-carousel__list-wrapper">
    <ul class="ecl-carousel__list ecl-list--unstyled">
            <li class="ecl-carousel__item">
        <img src="../../assets/demo_images/business-demo-1.jpg" alt="First item" class="ecl-carousel__image" />
      </li>
            <li class="ecl-carousel__item">
        <img src="../../assets/demo_images/business-demo-2.jpg" alt="Second item" class="ecl-carousel__image" />
      </li>
            <li class="ecl-carousel__item">
        <img src="../../assets/demo_images/business-demo-3.jpg" alt="Third item" class="ecl-carousel__image" />
      </li>
          </ul>
  </div>
  <div class="ecl-carousel__live-region">
        <div class="ecl-carousel__image-information" data-image=0>
      <div class="ecl-carousel__meta">
        <span class="ecl-carousel__meta-item ecl-carousel__meta-download">
          






                            
  
                          


<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-carousel__meta-link ecl-icon ecl-icon--download" href="../../example.html#" =":" ="" =":" ="">Download</a>
        </span>
        <span class="ecl-carousel__meta-item ecl-carousel__meta-share">
          






                            
  
                          


<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-carousel__meta-link ecl-icon ecl-icon--share" href="../../example.html#" =":" ="" =":" ="">Share</a>
        </span>
      </div>
      <div class="ecl-carousel__image-description">
                  <p>Nulla consequat massa quis enim. Donec pede justo.</p>
            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Integer tincidunt. <a href="#" title="Cras dapibus">Cras dapibus</a>. Vivamus elementum semper nisi.</p>
              </div>
      <div class="ecl-carousel__image-copyright">
        © Copyright 1
      </div>
    </div>
        <div class="ecl-carousel__image-information" data-image=1>
      <div class="ecl-carousel__meta">
        <span class="ecl-carousel__meta-item ecl-carousel__meta-download">
          






                            
  
                          


<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-carousel__meta-link ecl-icon ecl-icon--download" href="../../example.html#" =":" ="" =":" ="">Download</a>
        </span>
        <span class="ecl-carousel__meta-item ecl-carousel__meta-share">
          






                            
  
                          


<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-carousel__meta-link ecl-icon ecl-icon--share" href="../../example.html#" =":" ="" =":" ="">Share</a>
        </span>
      </div>
      <div class="ecl-carousel__image-description">
                  <p>Nulla consequat massa quis enim. Donec pede justo.</p>
            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Integer tincidunt. <a href="#" title="Cras dapibus">Cras dapibus</a>. Vivamus elementum semper nisi.</p>
              </div>
      <div class="ecl-carousel__image-copyright">
        © Copyright 2
      </div>
    </div>
        <div class="ecl-carousel__image-information" data-image=2>
      <div class="ecl-carousel__meta">
        <span class="ecl-carousel__meta-item ecl-carousel__meta-download">
          






                            
  
                          


<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-carousel__meta-link ecl-icon ecl-icon--download" href="../../example.html#" =":" ="" =":" ="">Download</a>
        </span>
        <span class="ecl-carousel__meta-item ecl-carousel__meta-share">
          






                            
  
                          


<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-carousel__meta-link ecl-icon ecl-icon--share" href="../../example.html#" =":" ="" =":" ="">Share</a>
        </span>
      </div>
      <div class="ecl-carousel__image-description">
                  <p>Nulla consequat massa quis enim. Donec pede justo.</p>
            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Integer tincidunt. <a href="#" title="Cras dapibus">Cras dapibus</a>. Vivamus elementum semper nisi.</p>
              </div>
      <div class="ecl-carousel__image-copyright">
        © Copyright 3
      </div>
    </div>
      </div>
</section>

