












<nav class="ecl-side-navigation" aria-label="">
  <button class="ecl-side-navigation__toggle ecl-side-navigation__hamburger ecl-side-navigation__hamburger--squeeze" aria-controls="side-menu-expandable-root" aria-expanded="false">
    <span class="ecl-side-navigation__hamburger-box">
      <span class="ecl-side-navigation__hamburger-inner"></span>
    </span>
    <span class="ecl-side-navigation__hamburger-label"></span>
  </button>
  <ul class="ecl-side-navigation__root ecl-side-navigation--depth-1" id="side-menu-expandable-root" aria-hidden="true">
                </ul>
</nav>

