













<li class="ecl-list-item">
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      











                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3"></h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li>

