/**
 * Site Footer EC
 * @define site-footer
 */

@use 'sass:map';
@use '@ecl/grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$site-footer: null !default;

.ecl-site-footer {
  background-color: map.get($site-footer, 'background');
  color: map.get($site-footer, 'color');
  margin: 0;
  padding-block: var(--s-6xl);
}

.ecl-site-footer__row {
  display: flex;
  flex-direction: column;

  + .ecl-site-footer__row {
    border-block-start: 1px solid map.get($site-footer, 'separator-color');
    margin-block-start: var(--s-3xl);
    padding-block-start: var(--s-3xl);
  }
}

.ecl-site-footer__section {
  & + .ecl-site-footer__section {
    margin-block-start: var(--s-3xl);
  }

  & *:first-child {
    margin-block-start: 0;
  }
}

.ecl-site-footer__title {
  font: var(--f-s);
  font-weight: map.get($theme, 'font-weight', 'semi-bold');
}

.ecl-site-footer__description {
  font: var(--f-s);
  margin-block-start: var(--s-m);
}

.ecl-site-footer__social-media {
  margin-block-start: var(--s-3xl);

  .ecl-social-media-follow__description {
    color: var(--cm-on-surface-inverted);
    font: var(--f-s);
  }
}

.ecl-site-footer__list {
  font: var(--f-s);
  list-style: none;
  margin-block: var(--s-m) 0;
  padding-inline: 0;
}

.ecl-site-footer__list-item {
  margin-block-start: var(--s-m);

  &:first-of-type {
    margin-block-start: 0;
  }
}

.ecl-site-footer__section--site-info {
  background-color: brown;
}

.ecl-site-footer__section--core {
  background-color: purple;
}

.ecl-site-footer__section--contact {
  background-color: olive;
}

.ecl-site-footer__section--about {
  background-color: tomato;
}

.ecl-site-footer__section--more {
  background-color: forestgreen;
}

.ecl-site-footer__section--related {
  background-color: goldenrod;
}

.ecl-site-footer__section--common {
  background-color: darkslateblue;
}

@include breakpoints.up('l') {
  .ecl-site-footer__row {
    flex-direction: row;
  }

  .ecl-site-footer__section {
    flex-basis: 50%;
    flex-grow: 1;
    margin-block-start: 0;

    + .ecl-site-footer__section {
      margin-block-start: 0;
      margin-inline-start: map.get($site-footer, 'column-gap');
    }
  }

  .ecl-site-footer__list--inline {
    display: inline-flex;
    flex-wrap: wrap;
    margin-block-end: calc(-1 * var(--s-xs));

    .ecl-site-footer__list-item {
      border-inline-end: 1px solid map.get($site-footer, 'color');
      margin-block: 0 var(--s-xs);
      margin-inline-end: var(--s-m);
      padding-inline-end: var(--s-m);

      &:last-of-type {
        border-inline-end: none;
        margin-inline-end: 0;
        padding-inline-end: 0;
      }
    }
  }

  .ecl-site-footer__section--site-info {
    max-width: 50%;
  }

  .ecl-site-footer__section--core .ecl-site-footer__list {
    column-count: 2;
    column-gap: map.get($site-footer, 'column-gap');
  }
}
