@use 'sass:map';
@use '@ecl/theme-ec/theme';
@use 'modal' with (
  $_overlay: rgba(map.get(theme.$color, 'black-100'), 0.4),
  $_border-radius: 0,
  $_separator-color: map.get(theme.$color, 'grey-25')
);
