@import '@ecl/ec-theme-default/exports/index';

$custom-header-bg-color: #f2f5f9;
$custom-header-tabs-border-width: 4px;

.tmp-component-header {
  background-color: $custom-header-bg-color;
  margin: 0;
  padding: $ecl-spacing-m 0 0;
}

.tmp-component-header__tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tmp-component-header__tabs-item {
  border-bottom: $custom-header-tabs-border-width solid transparent;
  color: #000;
  display: block;
  font: $ecl-font-m;
  font-weight: $ecl-font-weight-bold;
  margin-right: $ecl-spacing-xl;
  padding: $ecl-spacing-xs 0;
  text-decoration: none;
}

.tmp-component-header__tabs-item:hover,
.tmp-component-header__tabs-item:focus {
  background-color: $ecl-color-grey-15;
}

.tmp-component-header__tabs-item--active {
  border-bottom: $custom-header-tabs-border-width solid $ecl-color-yellow-100;
}
