/**
 * Popover
 * @define popover
 * TODO
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$popover: null !default;

// Internal variables
$_arrow-size: 1rem;

.ecl-popover {
  display: inline-block;
  margin: 0;
  position: relative;
}

.ecl-popover__container {
  background-color: map.get($theme, 'color', 'white');
  box-shadow: map.get($popover, 'shadow');
  position: absolute;
  transform: translateX(-50%);
  z-index: map.get($theme, 'z-index', 'dropdown');

  // arrow with border shadow
  &::before {
    background-color: map.get($theme, 'color', 'white');
    box-shadow: map.get($popover, 'shadow');
    clip-path: polygon(
      -#{map.get($popover, 'shadow-size')} -#{map.get($popover, 'shadow-size')},
      calc(100% + #{map.get($popover, 'shadow-size')}) -#{map.get(
          $popover,
          'shadow-size'
        )},
      calc(100% + #{map.get($popover, 'shadow-size')})
        calc(100% + #{map.get($popover, 'shadow-size')})
    );
    content: '';
    height: $_arrow-size;
    left: 50%;
    margin-left: calc(-#{$_arrow-size} / 2);
    position: absolute;
    transform: translate(0%, -50%) rotate(-45deg);
    width: $_arrow-size;
  }
}

.ecl-popover__content {
  background-color: map.get($theme, 'color', 'white');
  font: var(--f-m);
  min-width: 250px;
  padding: var(--s-xl);
  width: auto;
  overflow-y: auto;
}

.ecl-popover--bottom .ecl-popover__container,
.ecl-popover--top .ecl-popover__container {
  left: 50%;
}

.ecl-popover--bottom .ecl-popover__container {
  margin-top: 1rem;
}

// Top Popover
.ecl-popover--top .ecl-popover__container {
  bottom: 100%;
  margin-bottom: calc(var(--s-xs) + var(--s-s));
  margin-top: 0;

  &::before {
    bottom: 0;
    top: auto;
    transform: translate(0%, 50%) rotate(135deg);
  }
}

.ecl-popover--right .ecl-popover__container {
  left: 115%;
  transform: translateY(-50%);
  top: 50%;

  &::before {
    top: var(--ecl-popover-position, 50%);
    left: 0;
    transform: translate(0%, -50%) rotate(225deg);
  }
}

.ecl-popover--left .ecl-popover__container {
  right: 115%;
  transform: translateY(-50%);
  top: 50%;

  .ecl-popover__content {
    direction: rtl;

    * {
      direction: ltr;
    }
  }

  &::before {
    top: var(--ecl-popover-position, 50%);
    left: 100%;
    margin-left: -1px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.ecl-popover--push-bottom .ecl-popover__container {
  bottom: 0;
  top: auto;
  transform: none;
}

.ecl-popover--push-top .ecl-popover__container {
  bottom: auto;
  top: 0;
  transform: none;
}

// Horizontal arrow position
.ecl-popover--push-left .ecl-popover__container {
  left: 0;
  transform: none;

  &::before {
    left: var(--ecl-popover-position);
    right: auto;
  }
}

.ecl-popover--push-right .ecl-popover__container {
  left: auto;
  right: 0;
  transform: none;

  &::before {
    right: var(--ecl-popover-position);
    left: auto;
  }
}
