/**
 * ECL Side menus
 * @define side-navigation
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-side-navigation(
  $bg: map-get($ecl-colors, 'grey-10'),
  $group-bg: map-get($ecl-colors, 'grey-5'),
  $toggle-btn-bg: map-get($ecl-colors, 'blue-75'),
  $toggle-btn-color: #fff,
  $separator: map-get($ecl-colors, 'grey-50'),
  $group-separator: map-get($ecl-colors, 'grey-25'),
  $link-color: map-get($ecl-colors, 'grey-100'),
  $link-active-color: map-get($ecl-colors, 'grey-100')
) {
  .ecl-side-navigation {
    background-color: $bg;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .ecl-side-navigation__root {
    list-style: none;
    margin: 0;
    min-width: 13rem;
    padding: 0 map-get($ecl-spacing, 's');
    position: relative;
  }

  .ecl-side-navigation__root::before {
    background-color: $bg;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
  }

  .ecl-side-navigation__root[aria-hidden='true'] {
    display: none;

    // Force display if no JS
    .no-js & {
      display: flex;
    }
  }

  .ecl-side-navigation__toggle {
    border-width: 0;
    color: $toggle-btn-color;
    font-size: map-get($ecl-font-size, 'm');
    font-weight: bold;
    padding: map-get($ecl-spacing, 'm') map-get($ecl-spacing, 's');
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
    z-index: 1;
  }

  .ecl-side-navigation__toggle::before {
    background-color: $toggle-btn-bg;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
  }

  .ecl-side-navigation__group {
    display: none;
    list-style: none;
    margin-left: -(map-get($ecl-spacing, 's'));
    margin-right: -(map-get($ecl-spacing, 's'));
    padding: 0 map-get($ecl-spacing, 's');
    position: relative;
  }

  .ecl-side-navigation__group::before {
    background-color: $group-bg;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
  }

  .ecl-side-navigation__link {
    border-bottom: 1px solid $separator;
    color: $link-color;
    display: flex;
    font-size: map-get($ecl-font-size, 'm');
    padding: map-get($ecl-spacing, 's') 0;
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &::after {
      position: absolute;
      right: 0;
      text-decoration: none;
    }

    &[aria-expanded='true'] {
      border-bottom-width: 0;
    }

    &--active {
      color: $link-active-color;
      text-decoration: underline;
    }
  }

  .ecl-side-navigation__group .ecl-side-navigation__item {
    padding-left: map-get($ecl-spacing, 's');
  }

  .ecl-side-navigation--depth-2 .ecl-side-navigation__link {
    border-bottom-color: $group-separator;
    font-weight: normal;

    &[aria-expanded='true'],
    &[aria-expanded='false'] {
      font-weight: bold;
    }

    &[aria-expanded='true'] {
      border-bottom-width: 1px;
    }
  }

  .ecl-side-navigation--depth-3 .ecl-side-navigation__link {
    border-bottom-width: 0;
    margin-left: -(map-get($ecl-spacing, 's'));
    padding-left: map-get($ecl-spacing, 's');
  }

  .ecl-side-navigation--depth-2
    .ecl-side-navigation__item:last-child
    .ecl-side-navigation__link {
    border-bottom-width: 0;
  }

  .ecl-side-navigation--depth-3
    .ecl-side-navigation__item:last-child
    .ecl-side-navigation__link {
    border-bottom-width: 1px;
  }

  /* Collapsible block display */
  .ecl-side-navigation__link[aria-expanded='true']
    ~ .ecl-side-navigation__group {
    display: block;
  }

  /* Hamburger button */
  // Based on https://github.com/jonsuh/hamburgers
  .ecl-side-navigation__hamburger-box {
    left: map-get($ecl-spacing, 's');
    position: absolute;
    top: 50%;
  }

  .ecl-side-navigation__hamburger-label {
    padding-left: map-get($ecl-spacing, 'm') + map-get($ecl-spacing, 's');
    position: relative;
  }

  .ecl-side-navigation__hamburger-inner {
    display: block;
    margin-top: -0.1em;
  }

  .ecl-side-navigation__hamburger-inner,
  .ecl-side-navigation__hamburger-inner::before,
  .ecl-side-navigation__hamburger-inner::after {
    background-color: #fff;
    border-radius: 0.1em;
    height: 0.2em;
    position: absolute;
    width: map-get($ecl-spacing, 'm');
  }

  .ecl-side-navigation__hamburger-inner::before,
  .ecl-side-navigation__hamburger-inner::after {
    content: '';
    display: block;
  }

  .ecl-side-navigation__hamburger-inner::before {
    top: -0.5em;
  }

  .ecl-side-navigation__hamburger-inner::after {
    bottom: -0.5em;
  }

  .ecl-side-navigation__hamburger--squeeze
    .ecl-side-navigation__hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .ecl-side-navigation__hamburger--squeeze
    .ecl-side-navigation__hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }

  .ecl-side-navigation__hamburger--squeeze
    .ecl-side-navigation__hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .ecl-side-navigation__hamburger--squeeze[aria-expanded='true']
    .ecl-side-navigation__hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .ecl-side-navigation__hamburger--squeeze[aria-expanded='true']
    .ecl-side-navigation__hamburger-inner::before {
    opacity: 0;
    top: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }

  .ecl-side-navigation__hamburger--squeeze[aria-expanded='true']
    .ecl-side-navigation__hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease,
      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    .ecl-side-navigation__toggle {
      display: none;
    }

    .ecl-side-navigation__root,
    .ecl-side-navigation__root[aria-hidden='true'] {
      background-color: $bg;
      display: block;
    }

    .ecl-side-navigation__root::before {
      display: none;
    }

    .ecl-side-navigation__group {
      background-color: $group-bg;
    }

    .ecl-side-navigation__group::before {
      display: none;
    }
  }
}
