/**
 * Tags
 * @define tag
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-tag() {
  .ecl-tag {
    align-items: center;
    display: flex;
    margin: 0;
  }

  .ecl-tag__label {
    font-size: map-get($ecl-font-size, 'xs');
    margin-right: map-get($ecl-spacing, 'xs');
    text-transform: uppercase;
  }

  .ecl-tag__item {
    background-color: map-get($ecl-colors, 'grey-15');
    border-radius: 5px;
    border-width: 0;
    color: $ecl-color-shade;
    font-family: $ecl-font-family-base;
    font-size: map-get($ecl-font-size, 'xs');
    font-weight: normal;
    line-height: 1;
    margin-right: map-get($ecl-spacing, 's');
    padding: map-get($ecl-spacing, 'xxxs');

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      box-shadow: 0 0 0 3px map-get($ecl-colors, 'yellow-100');
      outline: none;
    }
  }

  .ecl-tag--facet-close {
    .ecl-tag__item:hover {
      background-color: $ecl-color-shade;
      color: #fff;
    }

    .ecl-tag__item::after {
      @include ecl-icon--after();

      @include ecl-icon('tag-close');

      margin-left: 0.6em;
    }
  }
}
