/**
 * Ratio utilities
 *
 * DEPRECATED
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-aspect-ratio($width, $height) {
  position: relative !important;

  /* stylelint-disable-next-line */
  &::before {
    content: '' !important;
    display: block !important;
    padding-top: ($height / $width) * 100% !important;
    width: 100% !important;
  }

  /* stylelint-disable-next-line */
  > .content {
    bottom: 0 !important;
    left: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
  }
}

@mixin ecl-utility-ratio() {
  .ecl-u-ratio-16-9 {
    @include ecl-aspect-ratio(16, 9);
  }

  .ecl-u-ratio-4-3 {
    @include ecl-aspect-ratio(4, 3);
  }

  .ecl-u-ratio-3-2 {
    @include ecl-aspect-ratio(3, 2);
  }

  .ecl-u-ratio-1-1 {
    @include ecl-aspect-ratio(1, 1);
  }
}

// Use mixin
@include exports('ec-utility-ratio') {
  @include ecl-utility-ratio;
}
