<p>
  <span class="ecl-u-fs-xxl">ecl-u-fs-xxl</span><br/>
  <span class="ecl-u-fs-xl">ecl-u-fs-xl</span><br/>
  <span class="ecl-u-fs-l">ecl-u-fs-l</span><br/>
  <span class="ecl-u-fs-m">ecl-u-fs-m</span><br/>
  <span class="ecl-u-fs-s">ecl-u-fs-s</span><br/>
  <span class="ecl-u-fs-xs">ecl-u-fs-xs</span><br />
  <span class="ecl-u-fs-xxs">ecl-u-fs-xxs</span>
</p>

<p>
  <span class="ecl-u-f-up">ecl-u-f-up</span>
</p>
