/**
 * Ordered List component
 * @define ordered-list
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$list: null !default;

.ecl-ordered-list,
%ecl-ordered-list {
  color: map.get($list, 'text-color');
  font: var(--f-m);
  list-style-position: outside;
  list-style-type: map.get($list, 'ordered', 'marker');
  margin: 0;
  padding-inline-start: var(--s-3xl);
}

.ecl-ordered-list .ecl-ordered-list,
%ecl-ordered-list--nested {
  list-style-type: map.get($list, 'ordered', 'sublist-marker');
  margin-top: var(--s-xs);
  padding-inline-start: calc(var(--s-3xl) - var(--s-l) - var(--s-2xs));
}

.ecl-ordered-list__item,
%ecl-ordered-list__item {
  margin-inline-start: var(--s-l);
  margin-top: var(--s-m);
  max-width: var(--max-w);
  padding-inline-start: var(--s-2xs);

  &:first-of-type {
    margin-top: var(--s-xs);
  }

  &:last-of-type {
    margin-bottom: var(--s-xs);
  }
}

// No marker
.ecl-ordered-list--no-marker {
  list-style-type: none;
  padding-inline-start: 0;

  .ecl-ordered-list {
    list-style-type: none;
  }

  > .ecl-ordered-list__item {
    margin-inline-start: 0;
    padding-inline-start: 0;
  }
}

// Dividers
.ecl-ordered-list--divider {
  list-style: none;
  padding-inline-start: 0;

  > .ecl-ordered-list__item {
    border-bottom: 1px solid map.get($list, 'divider-color');
    margin-bottom: var(--s-m);
    margin-inline-start: 0;
    padding-bottom: var(--s-m);
    padding-inline-start: 0;

    .ecl-link {
      padding: 0;
    }
  }

  .ecl-ordered-list {
    .ecl-ordered-list__item {
      list-style-type: none;
    }
  }
}

.ecl-ordered-list .ecl-ordered-list .ecl-ordered-list__item:first-of-type {
  margin-top: var(--s-m);
}

.ecl-ordered-list .ecl-ordered-list .ecl-ordered-list__item:last-of-type {
  margin-bottom: 0;
}
