/**
 * Ordered List component
 * @define ordered-list
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

$_text-color: map.get(theme.$color, 'grey-100');

.ecl-ordered-list {
  color: $_text-color;
  font: map.get(theme.$font-prolonged-print, 'm');
  margin: 0;
}

.ecl-ordered-list__item {
  margin-top: map.get(theme.$spacing-print, 's');

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-ordered-list .ecl-ordered-list {
  margin-top: map.get(theme.$spacing-print, 's');
}
