/**
 * Ordered List component
 * @define ordered-list
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

$_text-color: map.get(theme.$color, 'grey-100');

.ecl-ordered-list,
%ecl-ordered-list {
  color: $_text-color;
  font: map.get(theme.$font-prolonged, 'm');
  list-style-position: outside;
  margin: 0;
  padding-left: map.get(theme.$spacing, '2xl');
}

.ecl-ordered-list .ecl-ordered-list,
%ecl-ordered-list-nested {
  margin-top: map.get(theme.$spacing, 'xs');
}

.ecl-ordered-list__item,
%ecl-ordered-list-item {
  margin-top: map.get(theme.$spacing, 'xs');
  max-width: calc(80ch - #{map.get(theme.$spacing, '2xl')});

  &:first-child {
    margin-top: 0;
  }
}
