/**
 * Ordered List component
 * @define ordered-list
 */

// Import base
@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;

$_text-color: ecl-color('grey-100');

.ecl-ordered-list {
  color: $_text-color;
  font: ecl-font-prolonged('m');
  list-style-position: outside;
  margin: 0;
  padding-left: ecl-spacing('2xl');
}

.ecl-ordered-list .ecl-ordered-list {
  margin-top: ecl-spacing('xs');
}

.ecl-ordered-list__item {
  margin-top: ecl-spacing('xs');
  max-width: calc(80ch - #{ecl-spacing('2xl')});

  &:first-child {
    margin-top: 0;
  }
}
