/*
Footer

Site-wide footer component

Markup: html/footer.html

Style guide footer
*/

.footer {
  @extend .hidden-print;

  background-color: $brand-primary;
  font-size: $font-size-little;
  color: $white;
  text-align: center;

  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.footer__column-main {
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer__label {
  display: block;
  margin-right: 20px;
}

// Menus.
.footer__menu {
  margin: 0;
  padding-left: 0;

  .footer__menu-item {
    margin-right: 15px;
    margin-bottom: 0.5em;
    padding: 0;

    &:first-child > a {
      padding-left: 0;
    }

    a {
      padding: 0 1.1em 0 0;

      @include _focus_outline_border(3px, $yellow-light, 5px);

      &:hover,
      &:active,
      &:focus {
        background: none;
        text-decoration: none;
      }
    }
  }

  .footer__menu-item-right {
    @extend .footer__menu-item;

    float: right;
  }
}

.footer__menu--separator {
  width: 100%;
  margin-top: 0.6em;
  padding-top: 1.2em;
  border-top: 1px solid #4d7cb4;
}

// Icons.
.footer__icon--social {
  &::before {
    position: relative;
    top: 4px;
    margin-right: 8px !important;
  }

  &::after {
    content: none !important;
    display: none !important;
  }
}

.footer__icon--facebook {
  &::before {
    font-size: 22px;
  }
}

.footer__icon--twitter {
  &::before {
    font-size: 18px;
  }
}

@include breakpoint(screen-sm-min) {
  .footer {
    text-align: left;
  }

  // Columns.
  .footer__column-main {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer__column-right {
    float: right;
    padding-bottom: 0;
  }

  .footer__label {
    display: inline-block;

    & ~ .footer__menu {
      display: inline-block;
    }
  }
}

// External link specific adjustments.
@mixin _footer_external_link_mixin() {
  &::after {
    position: absolute;
    line-height: 2.2;
  }
}

.footer {
  a {
    &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
      &:not(#{$ec_url_patterns}) {
        @include _footer_external_link_mixin();
      }
    }
  }

  .footer__icon--social {
    padding-right: 0 !important;
  }

  a.footer__site-switcher {
    padding-right: 30px !important;
  }
}
