{#
  Parameters:
    - "language" (string) (default: 'English'): current language
    - "code" (string) (default: 'en'): current language ISO code
    - "href" (string) (default: '#')
    - "icon" (object) (default: {}): object of type ecl-icon
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
    - "system" (string) (default: "generic")
#}

{# Internal properties #}

{% set _css_class = 'ecl-lang-select-sites' %}
{% set _extra_attributes = '' %}
{% set _language = language|default('English') %}
{% set _code = code|default('en') %}
{% set _href = href|default('#') %}
{% set _icon = icon|default({}) %}
{% set _system = system|default('generic') %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  {% embed '@ecl/generic-component-link' with { '_system': _system, '_language': _language, '_code': _code, 'href': _href, 'icon': _icon, 'variant': 'standalone', 'extra_classes': 'ecl-lang-select-sites__link' } only %}
    {% block label %}
      <span class="ecl-lang-select-sites__label">{{ _language }}</span>
      <span class="ecl-lang-select-sites__code">{{ _code }}</span>
    {% endblock %}
  {% endembed %}
</div>
