/**
 * Footers component
 * @define footers ; weak
 */

.ecl-footers__site-identity,
.ecl-footers__site-corporate,
.ecl-footers__ec {
  @include ecl-hidden-print();

  a[#{$ecl-external-link-pattern}]:not(.is-internal):not(#{$ecl-ec-link-patterns})::after {
    line-height: 2.2;
    position: absolute;
  }
}

.ecl-footers__social-icon {
  &::before {
    margin-right: 8px !important;
  }
}

.ecl-footers__title {
  border-bottom: 2px solid map-get($ecl-colors, 'blue-50');
  color: #fff;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;

  @include ecl-media-breakpoint-between(md, lg) {
    min-height: 3.2rem;
    padding-bottom: 0;
  }

  // Make titles height auto on large screens.
  @include ecl-media-breakpoint-up(xl) {
    margin-bottom: 1.1em;
    min-height: auto;
  }
}

.ecl-footers__label {
  display: inline;
  font-weight: bold;

  /* Any adjusent unordered list to be inlined */
  + ul {
    display: inline;
  }
}

.ecl-footers__menu {
  list-style: none;
  margin: 0;
  max-width: none;
  padding-left: 0;

  .ecl-footers__menu-item {
    font-size: map-get($ecl-font-size, 'xs');
    margin-bottom: 0.4rem;
  }
}

.ecl-footers__column {
  padding-top: 1.6rem;

  &:last-child {
    padding-bottom: 1.6rem;
  }
}

.ecl-footers__site-identity {
  background-color: map-get($ecl-colors, 'blue-25');
  color: map-get($ecl-colors, 'blue-120');

  a {
    color: map-get($ecl-colors, 'blue-120');
  }

  h4 a {
    text-decoration: none;
  }

  .ecl-footers__column {
    padding-bottom: 0;
    padding-top: 0.8em;
  }

  .ecl-footers__column:last-child {
    padding-bottom: 0.8em;
    padding-top: 0;
  }
}

.ecl-footers__site-corporate {
  background-color: map-get($ecl-colors, 'blue-75');
  color: #fff;

  a {
    color: #fff;
  }
}

.ecl-footers__ec {
  background-color: $ecl-color-primary;
  color: #fff;
  padding: 0.9rem 0;

  a {
    color: #fff;
  }
}

@include ecl-media-breakpoint-up(sm) {
  .ecl-footers__column {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  /* Specifics for this type of footer when non-mobile */
  .ecl-footers__site-identity {
    .ecl-footers__column {
      padding-bottom: 1rem;
    }

    .ecl-footers__column:last-child {
      padding-top: 1rem;
    }

    .ecl-footers__column:last-child .ecl-list-inline__item {
      display: block;
    }
  }

  .ecl-footers__menu .ecl-footers__menu-item a {
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      background: none;
      text-decoration: none;
    }
  }
}
