<footer class="footer">
  <div class="container-fluid">
    <div class="row">

      <section class="footer__column-main clearfix"">

        <div class="col-md-4">
          <h4 class="footer__title">European Commission</h4>
          <ul class="footer__menu footer__menu--separator menu nav">
            <li class="footer__menu-item">
              <a href="#">Commission and it's priorities</a>
            </li>
            <li class="footer__menu-item">
              <a href="#">Policies information and services</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <h4 class="footer__title">Follow the European Commission</h4>
          <ul class="footer__menu footer__menu--separator menu nav list-inline">
            <li class="footer__menu-item">
              <a href="https://www.facebook.com/EuropeanCommission"
                class="icon icon--facebook footer__icon--facebook footer__icon--social"
                target="_blank">Facebook</a>
            </li>
            <li class="footer__menu-item">
              <a href="https://twitter.com/eu_commission"
                 class="icon icon--twitter footer__icon--twitter footer__icon--social">Twitter</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="is-internal">Other social media</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <h4 class="footer__title">European Union</h4>
          <ul class="footer__menu footer__menu--separator menu nav">
            <li class="footer__menu-item">
             <a href="http://europa.eu/about-eu/institutions-bodies/index_en.htm#30?" class="is-external">EU institutions</a>
            </li>
            <li class="footer__menu-item">
              <a href="http://europa.eu/" class="is-external">European Union</a>
            </li>
          </ul>
        </div>

      </section>

    </div>
  </div>
</footer>

<section class="footer-bottom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12">

        <ul class="footer__menu menu nav list-inline">
          <li class="footer__menu-item">
            <a href="http://ec.europa.eu/info/about-commissions-new-web-presence_en">About the Commission's new web presence</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">Resources for partners</a>
          </li>
          <li class="footer__menu-item">
            <a href="http://ec.europa.eu/info/cookies_en">Cookies</a>
          </li>
          <li class="footer__menu-item">
            <a href="http://ec.europa.eu/info/legal-notice_en">Legal notice</a>
          </li>
          <li class="footer__menu-item">
            <a href="http://ec.europa.eu/info/contact_en">Contact</a>
          </li>
          <li class="footer__menu-item">
            <a href="http://ec.europa.eu/info/europa-analytics_en">Europa Analytics</a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</section>
