@use 'sass:map';
@use '../index' as *;

$accordion: (
  radius: 0,
  shadow: var(--sh-1),
  separator: 1px solid var(--cm-border-low),
  title-text-color: var(--cm-on-surface-brand),
  title-font-weight: map.get($font-weight, 'medium'),
  item-padding: var(--s-xl),
  item-padding-expanded: var(--s-xl) var(--s-xl) var(--s-l),
  item-background-hover: var(--cm-surface-lowest),
  text-color: var(--cm-on-surface-brand),
  icon-color: var(--cm-on-surface),
  icon-margin: var(--s-m),
);
$accordion-print: (
  toggle-background: transparent,
  toggle-color: var(--cm-on-surface-brand),
  toggle-font: map.get($font-print, 'l'),
  content-color: var(--cm-on-surface-brand),
  content-font: map.get($font-print, 'm'),
);
