@use 'sass:map';
@use '../index' as *;

$accordion: (
  radius: 0,
  shadow: var(--sh-1),
  separator: 1px solid var(--c-n),
  title-text-color: var(--c-d),
  item-padding: var(--s-xl),
  item-padding-expanded: var(--s-xl) var(--s-xl) var(--s-l),
  item-background-hover: var(--c-n-60),
  text-color: var(--c-d),
  icon-color: var(--c-p),
  icon-margin: var(--s-m),
);
$accordion-print: (
  toggle-background: transparent,
  toggle-color: var(--c-d),
  toggle-font: map.get($font-print, 'l'),
  content-color: var(--c-d),
  content-font: map.get($font-print, 'm'),
);
