@use 'sass:map';
@use '../index' as *;

$add-to-calendar: (
  info: (
    background-default: linear-gradient(
        90deg,
        #155dfc 0%,
        #1447e6 50%,
        #010492 100%
      ),
    background-color-mode: var(--cm-surface-0),
    color: var(--cm-on-surface-swap-0),
    padding-mobile: var(--s-l) var(--s-m),
    padding-tablet: var(--s-l) var(--s-xl),
    padding-desktop: var(--s-l) var(--s-3xl),
    gap-mobile: var(--s-l),
    gap-tablet: var(--s-xl),
    gap-content: var(--s-3xs),
  ),
  title: (
    font: 'body-l',
    font-weight: map.get($font-weight, 'semi-bold'),
  ),
  meta: (
    font: 'microcopy-s',
    icon-spacing: var(--s-3xs),
    item-padding: var(--s-s),
    separator-offset-left: var(--s-3xs),
    gap: var(--s-3xs),
  ),
);
