@use 'sass:map';
@use '../index' as *;

$blockquote: (
  background: var(--cm-surface-inverted),
  border-width: 4px,
  border-color: var(--cm-border),
  border-radius: 2px,
  shadow: var(--sh-1),
  padding: var(--s-3xl),
  quote: (
    font: var(--f-2xl),
    color: var(--cm-on-surface-dark),
  ),
  author: (
    margin: var(--s-m),
    font: var(--f-m),
    font-weight: map.get($font-weight, 'semi-bold'),
    color: var(--cm-on-surface-dark),
  ),
  image: (
    background: var(--cm-surface-lowest),
    margin-mobile: var(--s-2xl),
    margin-desktop: var(--s-3xl),
  ),
);
$blockquote-print: (
  padding: map.get($spacing-print, '3xl'),
  quote-font: map.get($font-print, 'l'),
  author-margin: map.get($spacing-print, 'm'),
  author-font: map.get($font-print, 'l'),
  image-margin: map.get($spacing-print, 'xl'),
);
