// stylelint-disable length-zero-no-unit

@use 'sass:map';
@use '../index' as *;

$button: (
  radius: map.get($border-radius, 'm'),
  font: 'body-m',
  shadow: none,
  min-height: 2.75rem,
  min-width: 2.75rem,
  padding-horizontal: var(--s-m),
  padding-vertical: var(--s-xs),
  line-height-icon: map.get($line-height, 'm'),
  primary: (
    background: var(--cm-surface-primary),
    color: var(--cm-on-surface-inverted),
    border-color: var(--cm-surface-primary),
    border-width: 0px,
    background-hover: var(--cm-surface-primary-high),
    color-hover: var(--cm-on-surface-inverted),
    border-color-hover: var(--cm-surface-primary-high),
    background-active: var(--cm-surface-primary-highest),
    color-active: var(--cm-on-surface-inverted),
    border-color-active: var(--cm-surface-primary-highest),
    background-focus: var(--cm-surface-primary),
    color-focus: var(--cm-on-surface-inverted),
    border-color-focus: var(--cm-surface-primary),
    outline-color: var(--cm-border-primary),
    outline-offset: 2px,
    outline-width: 2px,
  ),
  secondary: (
    background: var(--cm-surface-inverted),
    color: var(--cm-border-primary),
    border-color: var(--cm-border-primary),
    border-width: 2px,
    background-hover: var(--cm-surface-primary-high),
    color-hover: var(--cm-on-surface-inverted),
    border-color-hover: var(--cm-surface-primary-high),
    background-active: var(--cm-surface-primary-highest),
    color-active: var(--cm-on-surface-inverted),
    border-color-active: var(--cm-surface-primary-highest),
    background-focus: var(--cm-surface-primary-highest),
    color-focus: var(--cm-on-surface-inverted),
    border-color-focus: var(--cm-surface-primary-highest),
    outline-color: var(--cm-border-primary),
    outline-offset: 2px,
    outline-width: 2px,
    focus-shadow: none,
  ),
  tertiary: (
    background: transparent,
    color: var(--cm-on-surface-brand),
    border-color: transparent,
    border-width: 1px,
    background-hover: var(--cm-surface-neutral-lowest),
    color-hover: var(--cm-on-surface-brand),
    border-color-hover: var(--cm-border-brand),
    background-active: var(--cm-surface-neutral-low),
    color-active: var(--cm-on-surface-brand),
    border-color-active: var(--cm-surface-neutral-low),
    background-focus: var(--cm-surface-transparent-01),
    color-focus: var(--cm-on-surface-brand),
    border-color-focus: var(--cm-surface-transparent-01),
    outline-color: var(--cm-border-primary),
    outline-offset: 2px,
    outline-width: 2px,
  ),
  cta: (
    background: var(--cm-surface-secondary),
    color: var(--cm-on-surface-brand),
    border-color: var(--cm-surface-secondary),
    border-width: 0px,
    background-hover: var(--cm-surface-secondary-high),
    color-hover: var(--cm-on-surface-brand),
    border-color-hover: var(--cm-surface-secondary-high),
    background-active: var(--cm-surface-secondary-highest),
    color-active: var(--cm-on-surface-brand),
    border-color-active: var(--cm-surface-secondary-highest),
    background-focus: var(--cm-surface-secondary),
    color-focus: var(--cm-on-surface-brand),
    border-color-focus: var(--cm-surface-secondary),
    outline-color: var(--cm-border-primary),
    outline-offset: 2px,
    outline-width: 2px,
  ),
  ghost: (
    background: transparent,
    color: var(--cm-border-primary),
    border-color: transparent,
    border-width: 1px,
    background-hover: var(--cm-surface-neutral-lowest),
    color-hover: var(--cm-on-surface-brand),
    border-color-hover: var(--cm-border-brand),
    background-active: var(--cm-surface-neutral-low),
    color-active: var(--cm-on-surface-brand),
    border-color-active: var(--cm-surface-neutral-low),
    background-focus: var(--cm-surface-transparent-01),
    color-focus: var(--cm-border-primary),
    border-color-focus: var(--cm-surface-transparent-01),
    outline-color: var(--cm-border-primary),
    outline-offset: 2px,
    outline-width: 2px,
  ),
  ghost-inverted: (
    background: transparent,
    color: var(--cm-on-surface-inverted),
    border-color: var(--cm-border-inverted),
    border-width: 2px,
    background-hover: var(--cm-surface-neutral-lowest),
    color-hover: var(--cm-on-surface-brand),
    border-color-hover: var(--cm-border-brand),
    background-active: var(--cm-surface-neutral-low),
    color-active: var(--cm-on-surface-brand),
    border-color-active: var(--cm-surface-neutral-low),
    background-focus: var(--cm-surface-transparent-01),
    color-focus: var(--cm-on-surface-inverted),
    outline-color: var(--cm-border-inverted),
    outline-offset: 2px,
    outline-width: 2px,
  ),
);
