@use 'sass:map';
@use '../index' as *;

$category-filter: (
  separator: none,
  background-hover: var(--cm-surface-low-2),
  background-subitem: var(--cm-surface-low-1),
  subitem-spacing: var(--s-xl),
  item-font: 'body-s',
  current-font-weight: map.get($font-weight, 'semi-bold'),
);
