@use 'sass:map';
@use '../index' as *;

$content-item: (
  divider-color: var(--cm-border-neutral),
  padding: var(--s-xl),
  image-border-color: var(--cm-border-low),
  image-top-spacing: var(--s-xl),
);
