@use 'sass:map';
@use '../index' as *;

$content-block: (
  description-margin: var(--s-s) 0 var(--s-m),
  description-font: var(--f-m),
  label-item-spacing: 0 var(--s-xs) var(--s-xs) 0,
  label-spacing: 0 0 var(--s-m),
  link-separator-color: var(--c-n-60),
  link-font: var(--f-m),
  list-margin: var(--s-xl) 0 0,
  primary-meta-color: var(--c-d),
  primary-meta-margin: 0,
  secondary-meta-color: var(--c-d),
  secondary-meta-margin: 0 0 var(--s-xl),
  secondary-meta-icon-color: var(--c-d),
  text-color: var(--c-d),
  title-font: var(--f-l),
  title-font-weight: map.get($font-weight, 'normal'),
  title-margin: var(--s-2xs) 0 var(--s-s),
);
