@use 'sass:map';
@use '../index' as *;

$content-block: (
  description-margin-mobile: var(--s-xs),
  description-margin-tablet: var(--s-s),
  description-font: 'body-m',
  label-spacing-mobile: var(--s-m),
  label-spacing-tablet: var(--s-l),
  label-gap: var(--s-xs),
  link-separator-color: var(--cm-border-neutral),
  link-font: 'body-m',
  link-spacing: var(--s-xs),
  list-margin: var(--s-xl) 0 0,
  meta-font: 'body-s',
  primary-meta-color: var(--cm-on-surface-brand),
  primary-meta-margin-mobile: var(--s-xs),
  primary-meta-margin-tablet: var(--s-s),
  secondary-meta-color: var(--cm-on-surface-brand),
  secondary-meta-font: 'body-s',
  secondary-meta-margin: 0 0 var(--s-xl),
  secondary-meta-icon-color: var(--cm-on-surface-brand),
  secondary-meta-item-margin-block: var(--s-3xs),
  secondary-meta-separator-color: var(--cm-on-surface-brand),
  text-color: var(--cm-on-surface-brand),
  title-font: 'heading5',
  title-margin-mobile: var(--s-xs),
  title-margin-tablet: var(--s-s),
);
