@use 'sass:map';
@use '../index' as *;

$datepicker: (
  input-icon-color: var(--cm-on-surface-brand),
  picker: (
    font: 'microcopy-xs',
    font-th: 'microcopy-xs',
    border-radius: map.get($border-radius, 's'),
    shadow: var(--sh-2),
    theme-color: var(--cm-on-surface-brand),
    margin-top: var(--s-s),
    padding: var(--s-m) var(--s-s) var(--s-s),
    background-color: var(--cm-surface-inverted),
    title-padding: var(--s-2xs),
    select-border: 1px solid transparent,
    select-background-color: var(--cm-surface-inverted),
    select-shadow: none,
    select-font: 'microcopy-xs',
    table-spacing: 0 var(--s-3xs),
    thead-margin: var(--s-2xs),
    toggle-height: 42px,
    day-hover-background: var(--cm-surface-grey-low-0),
    day-hover-shadow: inset 0 0 0 1px var(--cm-border-brand),
    day-hover-weight: map.get($font-weight, 'regular'),
    day-selected-background: var(--cm-on-surface-primary),
    day-selected-weight: map.get($font-weight, 'semi-bold'),
    day-outside-color: var(--cm-on-surface-grey-medium),
    day-outside-background: var(--cm-surface-inverted),
    day-today-color: var(--cm-on-surface-primary),
    day-today-weight: map.get($font-weight, 'regular'),
  ),
);
