@use 'sass:map';
@use '../index' as *;

$date-block: (
  background-color-cancelled: var(--c-n-60),
  background-color-default: map.get($color, 'white'),
  background-color-ongoing: map.get($color, 'white'),
  background-color-past: var(--c-n-60),
  outline-color-cancelled: transparent,
  outline-color-default: var(--c-d),
  outline-color-ongoing: var(--c-d),
  outline-color-past: transparent,
  border-radius: 0,
  circle-width: 10px,
  max-height: 5.75rem,
  padding-top: calc(var(--s-xs) - 2px),
  shadow: none,
  shadow-decoration: none,
  text-color: var(--c-d),
  text-color-inverted: var(--c-d),
  text-white-space: nowrap,
  width-desktop: 5rem,
  width-mobile: 5rem,
  day: (
    padding: var(--s-s) var(--s-2xs) var(--s-2xs),
    line-height: map.get($line-height, 's'),
    font-size: map.get($font-size, 'xl'),
  ),
  month: (
    padding: 0 var(--s-2xs) var(--s-s),
    line-height: 12px,
    font-size: map.get($font-size, 's'),
  ),
  year: (
    padding: 2px var(--s-2xs) var(--s-2xs),
    background-color: var(--c-d),
    text-color: map.get($color, 'white'),
    line-height: map.get($line-height, 'xs'),
    font-size: map.get($font-size, 's'),
    font-weight: map.get($font-weight, 'bold'),
  ),
);
