@use 'sass:map';
@use '../index' as *;

$fact-figures: (
  background: var(--cm-surface-low-2),
  border-radius: map.get($border-radius, 'xs'),
  padding-mobile: var(--s-5xl),
  padding-desktop: var(--s-5xl),
  margin-vertical: var(--s-5xl),
  margin-horizontal: var(--s-5xl),
  text-color: var(--cm-on-surface-brand),
  value-font-mobile-m: var(--f-2xl),
  value-font-mobile-l: var(--f-5xl),
  value-font-desktop-m: var(--f-3xl),
  value-font-desktop-l: var(--f-6xl),
  value-font-weight: map.get($font-weight, 'regular'),
  title-font: var(--f-2xl),
  title-font-weight: map.get($font-weight, 'light'),
  title-margin: 0,
  description-font: var(--f-m),
  description-margin: var(--s-xs),
  view-all-font: var(--f-m),
  view-all-color: var(--cm-on-surface-brand),
  view-all-border-color: var(--cm-border-brand),
  view-all-margin: var(--s-5xl),
  view-all-padding-mobile: var(--s-m),
  view-all-padding-desktop: var(--s-m),
  icon-color: var(--cm-on-surface),
  icon-margin: var(--s-xs),
);
$fact-figures-print: (
  title-font: map.get($font-print, '4xl'),
  title-font-weight: map.get($font-weight, 'light'),
  value-font-m: map.get($font-print, '4xl'),
  value-font-l: map.get($font-print, '5xl'),
  value-font-weight: map.get($font-weight, 'light'),
);
