@use 'sass:map';
@use '../index' as *;

$fact-figures: (
  background: var(--cm-surface-low-2),
  border-radius: 2px,
  padding-mobile: var(--s-3xl),
  padding-desktop: var(--s-3xl),
  margin-vertical: var(--s-3xl),
  margin-horizontal: var(--s-3xl),
  text-color: var(--cm-on-surface-brand),
  value-font-mobile-m: var(--f-xl),
  value-font-mobile-l: var(--f-4xl),
  value-font-desktop-m: var(--f-3xl),
  value-font-desktop-l: var(--f-6xl),
  value-font-weight: map.get($font-weight, 'medium'),
  title-font: var(--f-2xl),
  title-font-weight: map.get($font-weight, 'light'),
  title-margin: var(--s-xs),
  description-font: var(--f-m),
  description-margin: var(--s-xs),
  view-all-font: var(--f-m),
  view-all-color: var(--cm-on-surface-brand),
  view-all-border-color: var(--cm-border-brand),
  view-all-margin: var(--s-3xl),
  view-all-padding-mobile: var(--s-m),
  view-all-padding-desktop: var(--s-m),
  icon-color: var(--cm-on-surface),
  icon-margin: var(--s-s),
);
