@use 'sass:map';
@use '../index' as *;

$featured-item: (
  gap-horizontal: var(--s-xl),
  gap-vertical: var(--s-xl),
  padding: var(--s-xl),
  border-radius: map.get($border-radius, 's'),
  title: (
    color: var(--cm-on-surface-dark),
    font-mobile: var(--f-4xl),
    font-desktop: var(--f-3xl),
    font-weight: map.get($font-weight, 'light'),
  ),
  description: (
    color: var(--cm-on-surface-dark),
    font: var(--f-m),
    spacing: var(--s-l),
  ),
  link: (
    font: var(--f-m),
    spacing: var(--s-l),
  ),
  background: (
    background-color: antiquewhite,
    padding-mobile: var(--s-xl),
    padding-desktop: var(--s-3xl),
    arrow-width: 2.75rem,
    link: (
      spacing: var(--s-3xl),
      padding-mobile: var(--s-m) var(--s-xl),
      padding-desktop: var(--s-m) var(--s-3xl),
      max-width: 13.125rem,
    ),
  ),
);
$featured-item-print: (
  padding: map.get($spacing-print, '2xl'),
  media-padding-desktop: 0 0 map.get($spacing-print, '2xl'),
  media-padding-right: 0 0 map.get($spacing-print, 'xl'),
  title-font: map.get($font-print, 'l'),
  title-font-weight: map.get($font-weight, 'regular'),
  title-spacing-desktop-top: 0,
  title-spacing-desktop-bottom: 0,
  title-spacing-desktop-start: map.get($spacing-print, 'xl'),
  title-spacing-right: 0 map.get($spacing-print, 'xl') 0 0,
  description-font: map.get($font-print, 'm'),
  description-spacing-desktop-top: map.get($spacing-print, 's'),
  description-spacing-desktop-start: map.get($spacing-print, 'xl'),
  description-spacing-right: map.get($spacing-print, 'm')
    map.get($spacing-print, 'xl') 0 0,
  link-spacing-desktop-top: map.get($spacing-print, 'm'),
  link-spacing-desktop-start: map.get($spacing-print, 'xl'),
  link-spacing-right: map.get($spacing-print, 'm') map.get($spacing-print, 'xl')
    0 0,
  simple: (
    media-padding-desktop: map.get($spacing-print, 'xl'),
    link-spacing-top: map.get($spacing-print, 'm'),
    link-spacing-start: map.get($spacing-print, 'xl'),
    padding-desktop: 0,
    title-spacing: map.get($spacing-print, 'xl') map.get($spacing-print, 'xl')
      map.get($spacing-print, 's'),
    description-spacing: 0 map.get($spacing-print, 'xl'),
    description-spacing-top: map.get($spacing-print, 'xl'),
  ),
  highlight: (
    media-padding-desktop: map.get($spacing-print, 'xl'),
    link-spacing-top: map.get($spacing-print, 'm'),
    link-spacing-start: map.get($spacing-print, 'xl'),
    item-spacing: 0 0 map.get($spacing-print, 'xl'),
    title-spacing: map.get($spacing-print, 'xl'),
    description-spacing: 0 map.get($spacing-print, 'xl') 0
      map.get($spacing-print, 'xl'),
    description-spacing-top: map.get($spacing-print, 'xl'),
  ),
);
