@use 'sass:map';
@use '../index' as *;

$file: (
  border-radius: map.get($border-radius, 's'),
  border-color: var(--c-d),
  shadow: var(--sh-1),
  container-spacing: var(--s-xl) var(--s-xl) 0,
  container-spacing-last: var(--s-xl),
  file-icon-align-self: start,
  file-info-margin-left: var(--s-xl),
  file-color: var(--c-d),
  file-detail-padding-bottom: var(--s-m),
  file-download-spacing-mobile: var(--s-xs),
  file-download-spacing-desktop: var(--s-xs),
  file-detail-meta-color: var(--c-d),
  file-detail-flex-direction: row,
  file-description-color: var(--c-d),
  file-description-font: var(--f-m),
  file-download-position: absolute,
  file-download-position-top: auto,
  file-footer-border: 1px solid var(--c-n-60),
  file-footer-flex-direction: column,
  file-footer-padding: var(--s-m) 0,
  file-footer-margin: 0 var(--s-xl) 0
    calc(var(--s-xl) * 2 + #{map.get($icon, '2xl')}),
  file-thumbnail-footer-padding: var(--s-m) 0,
  file-picture-order-desktop: 1,
  file-picture-order-mobile: 1,
  file-label-spacing: var(--s-xl),
  file-meta-font: var(--f-m),
  file-meta-margin: var(--s-2xs),
  file-spacing: var(--s-m),
  file-spacing-last-child: 0,
  file-thumbnail-container-padding: var(--s-xl),
  file-thumbnail-footer-margin: 0 var(--s-xl),
  file-thumbnail-download-top-position: auto,
  file-thumbnail-meta-margin: var(--s-2xs),
  file-taxonomy-spacing: var(--s-xl) 0 0,
  file-translation-border: none,
  file-translation-toggle-margin: var(--s-m),
  file-translation-background: var(--c-n-40),
  file-translation-detail-margin-bottom: 0,
  file-translation-item-padding-h: var(--s-xl),
  file-translation-meta-spacing: 0,
  file-translation-meta-font: var(--f-m),
  file-translation-download-alignment: flex-start,
  file-translation-title-margin-bottom: 0,
  file-translation-first-item-border: 1px,
  file-translation-first-item-padding: 1rem,
  file-translation-item-margin: 0,
  file-translation-toggle-background: transparent,
  file-translation-toggle-border: 0,
  file-image-margin-left: var(--s-xl),
  file-image-margin-right: 0,
  file-language-font: var(--f-m),
  container-background: map.get($color, 'white'),
  container-border: 1px solid var(--c-st),
  icon-color: var(--c-d),
  translation-border-color: var(--c-n-60),
  image-width: 13.125rem,
  title-font: var(--f-l),
  title-font-weight: map.get($font-weight, 'regular'),
);
