@use 'sass:map';
@use '../index' as *;

$form-group: (
  margin-icon: var(--s-3xs),
  label: (
    color: var(--cm-on-surface-brand),
    font: 'body-s',
    font-weight: map.get($font-weight, 'semi-bold'),
    margin-block: 0 var(--s-3xs),
  ),
  optional: (
    color: var(--cm-on-surface-grey),
    font: 'body-xs',
    font-weight: map.get($font-weight, 'regular'),
    margin-inline: var(--s-3xs) 0,
  ),
  required: (
    color: var(--cm-on-surface-status-error),
    font: 'body-xs',
    font-weight: map.get($font-weight, 'regular'),
    margin-inline: var(--s-3xs) 0,
  ),
  help: (
    color: var(--cm-on-surface-grey),
    font: 'microcopy-xs',
    margin-block: var(--s-3xs) 0,
  ),
  feedback: (
    color-error: var(--cm-on-surface-status-error),
    color-warning: var(--cm-on-surface-status-warning),
    color-success: var(--cm-on-surface-status-success),
    font: 'microcopy-xs',
    margin-block: var(--s-3xs) 0,
    margin-block-with-helper: var(--s-4xs) 0,
  ),
);
