@use 'sass:map';
@use '../index' as *;

$gallery: (
  actions-margin: var(--s-s),
  detail-color: map.get($color, 'white'),
  description-background: var(--c-ov-l),
  gallery-info-color: var(--c-d),
  overlay-background: var(--c-ov-d),
  overlay-shadow: none,
);
