@use 'sass:map';
@use '../index' as *;

$inpage-toggle-width: calc(var(--s-s) + var(--s-s) + var(--s-s));
$inpage-navigation: (
  align: right,
  border-radius: 0,
  shadow: none,
  title: (
    'background': transparent,
    'color': var(--cm-on-surface-brand),
    'font': var(--f-s),
    'letter-spacing': map.get($letter-spacing-extended, 's'),
    'text-transform': uppercase,
    'padding': var(--s-s) var(--s-m),
  ),
  item: (
    'background': transparent,
    'background-active': var(--cm-surface-low-2),
    'background-hover': #fff,
    'border': (
      'end': (
        'default': 4px solid var(--cm-border-neutral),
        'hover': 4px solid var(--cm-border-neutral),
        'active': 4px solid var(--cm-border),
      ),
      'start': (
        'default': (
          'l': none,
          's': 4px solid transparent,
        ),
        'active': (
          'l': none,
          's': 4px solid var(--cm-border),
        ),
        'hover': none,
      ),
    ),
    'min-height': 2.5rem,
    'padding': (
      'default': (
        's': var(--s-xs) var(--s-s),
        'l': var(--s-xs) calc(var(--s-m) - 4px) var(--s-xs) var(--s-m),
      ),
    ),
    'separator': (
      's': none,
      'l': none,
    ),
    'font-weight': (
      's': map.get($font-weight, 'regular'),
      'l': map.get($font-weight, 'regular'),
    ),
    'color': (
      's': var(--cm-on-surface-brand),
      'l': var(--cm-on-surface-brand),
    ),
    'color-active': var(--cm-on-surface-brand),
    'text-decoration-hover': underline,
  ),
  trigger: (
    'background': #fff,
    'border': 1px solid var(--cm-border-brand),
    'border-radius': 2px,
    'color': var(--cm-on-surface-brand),
    'font': var(--f-m),
    'font-weight': map.get($font-weight, 'regular'),
    'height': 2.75rem,
    'margin': 0 auto,
    'outline': 2px solid var(--cm-border-primary),
    'outline-offset': -2px,
    'padding': calc(var(--s-xs) - 1px) calc(var(--s-m) - 1px),
    'background-wrapper': #fff,
    'margin-wrapper': 0 0 calc(-1 * var(--s-xs)),
    'padding-wrapper': var(--s-s) var(--s-m),
    'shadow': var(--sh-2),
    'separator': none,
    'width': calc(100% - #{map.get($grid, 'gutter')}),
  ),
  list: (
    'background': (
      's': #fff,
      'l': transparent,
    ),
    'scrollbar': left,
    'shadow': (
      's': var(--sh-2),
      'l': none,
    ),
  ),
  outline: (
    'color': var(--cm-border-primary),
    'color-active': var(--cm-border-primary),
    'offset': -2px,
  ),
);
