@use 'sass:map';
@use '../index' as *;

$language-list: (
  color: var(--c-d),
  container-padding-mobile: (
    block-start: var(--s-3xl),
    block-end: var(--s-3xl),
    inline-start: var(--s-xl),
    inline-end: var(--s-xl),
  ),
  container-padding-desktop: (
    block-start: var(--s-3xl),
    block-end: var(--s-3xl),
    inline-start: var(--s-xl),
    inline-end: var(--s-xl),
  ),
  header-font-mobile: var(--f-l),
  header-font-desktop: var(--f-xl),
  content-margin-mobile: var(--s-s),
  content-margin-desktop: var(--s-s),
  category-title-font: var(--f-m),
  category-title-font-weight: map.get($font-weight, 'regular'),
  category-title-padding: (
    block-start: var(--s-l),
    block-end: var(--s-xs),
    inline-start: var(--s-s),
    inline-end: 0,
  ),
  category-separator: 1px solid var(--c-n),
  category-stack-margin: var(--s-s),
  item-padding: var(--s-xs) var(--s-s),
  code-color: var(--c-d),
  code-font-weight: map.get($font-weight, 'regular'),
  code-active-font-weight: map.get($font-weight, 'bold'),
  code-width: 26px,
  item-active-background: var(--c-n-80),
  item-active-color: var(--c-d),
  item-active-border-width: 4px,
  item-active-border-color: var(--c-p),
  item-width: 196px,
  column-spacing-before: var(--s-m),
  column-spacing-after: var(--s-m),
);
$language-list-print: (
  container-padding: map.get($spacing-print, '3xl'),
  header-font-desktop: map.get($font-print, 'xl'),
  content-margin-desktop: map.get($spacing-print, 's'),
  category-title-font: map.get($font-print, 'm'),
  category-title-padding: map.get($spacing-print, 'l') 0
    map.get($spacing-print, 'xs'),
  item-padding: map.get($spacing-print, 'xs') map.get($spacing-print, 's'),
);
