@use 'sass:map';
@use '../index' as *;

$layout-wrapper: (
  divider: 1px solid var(--cm-border-neutral),
  description-font: 'body-m',
  view-all: (
    margin: var(--s-xl),
    padding: var(--s-l),
    border: 1px solid var(--cm-border-neutral),
  ),
);
