@use 'sass:map';
@use '../index' as *;

$link: (
  color: var(--c-p),
  color-hover: var(--c-p-140),
  color-visited: var(--c-d),
  color-active: var(--c-d),
  outline-color: var(--c-p),
  outline-width: 2px,
  outline-radius: 1px,
  inverted: (
    color: map.get($color, 'white'),
    color-hover: var(--c-s-60),
    color-visited: var(--c-s-80),
    color-active: var(--c-s-80),
    outline-color: map.get($color, 'white'),
  ),
  button: (
    radius: 2px,
    shadow: none,
    border-width: 2px,
    outline-width: 1px,
    padding-horizontal: var(--s-m),
    padding-vertical: var(--s-xs),
  ),
  primary: (
    background: var(--c-p),
    color: map.get($color, 'white'),
    background-hover: var(--c-p-140),
    color-hover: map.get($color, 'white'),
    background-active: var(--c-p-160),
    color-active: map.get($color, 'white'),
    background-focus: var(--c-p),
    color-focus: map.get($color, 'white'),
    border-color: var(--c-p),
    border-color-hover: var(--c-p-140),
    border-color-active: var(--c-p-160),
    border-color-focus: var(--c-p),
    outline-color: map.get($color, 'white'),
  ),
  secondary: (
    background: map.get($color, 'white'),
    color: var(--c-p),
    background-hover: var(--c-p-140),
    color-hover: map.get($color, 'white'),
    background-active: var(--c-p-160),
    color-active: map.get($color, 'white'),
    background-focus: var(--c-p-160),
    color-focus: map.get($color, 'white'),
    border-color: var(--c-p),
    border-color-hover: var(--c-p-140),
    border-color-active: var(--c-p-160),
    border-color-focus: var(--c-p-160),
    outline-color: map.get($color, 'white'),
    focus-shadow: none,
  ),
  cta: (
    background: var(--c-s-80),
    color: var(--c-d),
    background-hover: var(--c-s-120),
    border-color: var(--c-s-80),
    color-hover: var(--c-d),
    border-color-hover: var(--c-s-120),
    background-active: var(--c-s-140),
    color-active: var(--c-d),
    border-color-active: var(--c-s-140),
    background-focus: var(--c-s-80),
    color-focus: var(--c-d),
    border-color-focus: var(--c-s-80),
    outline-color: var(--c-d),
  ),
);
