@use 'sass:map';
@use '../index' as *;

$list-illustration: (
  background-color: var(--cm-surface-low-1),
  icon-color: var(--cm-on-surface),
  item-padding-mobile: 0 0 var(--s-6xl),
  item-padding-desktop: 0 0 var(--s-3xl),
  item-padding-zebra-mobile: var(--s-3xl) var(--s-xl),
  item-padding-zebra-desktop: var(--s-3xl),
  item-margin-mobile: var(--s-6xl),
  value: (
    color: var(--cm-on-surface-brand),
    font-mobile-m: var(--f-xl),
    font-mobile-l: var(--f-4xl),
    font-desktop-m: var(--f-3xl),
    font-desktop-l: var(--f-6xl),
    font-weight: map.get($font-weight, 'regular'),
  ),
  title: (
    color: var(--cm-on-surface-brand),
    font: var(--f-2xl),
    font-weight: map.get($font-weight, 'light'),
    margin: var(--s-xs),
  ),
  description: (
    color: var(--cm-on-surface-brand),
    margin: var(--s-xs),
  ),
);
$list-illustration-print: (
  value: (
    font-desktop-m: map.get($font-print, '4xl'),
    font-desktop-l: map.get($font-print, '6xl'),
  ),
  title: (
    font: map.get($font-print, '2xl'),
    margin: map.get($spacing-print, 'xs'),
  ),
  description: (
    margin: map.get($spacing-print, 'xs'),
  ),
);
