@use 'sass:map';
@use '../index' as *;

$list: (
  unordered: (
    marker: disc,
    item-margin: var(--s-xl),
    item-padding: 0,
    padding-start: var(--s-xl),
    sublist-marker: circle,
    sublist-padding: 0,
    unstyled-sublist-padding: var(--s-xl),
    divider-item-padding: var(--s-xl),
  ),
  ordered: (
    divider-item-padding: var(--s-xl),
    marker: decimal,
    item-margin: var(--s-xl),
    padding-start: var(--s-xl),
    sublist-marker: lower-latin,
    sublist-padding: 0,
    unstyled-sublist-padding: var(--s-xl),
  ),
  text-color: var(--c-d),
  divider-color: var(--c-n),
);
