@use 'sass:map';
@use '../index' as *;

// stylelint-disable length-zero-no-unit
$mega-menu: (
  global: (
    border-radius: 0,
    greysh-background: var(--c-n-40),
    shadow: none,
  ),
  mobile: (
    arrow-size: var(--s-l),
    banner-shadow: var(--sh-6),
    menu-background: transparent,
    color: var(--c-d),
    content-background: transparent,
    featured-background: var(--c-n-20),
    featured-link-border: var(--c-n-80),
    overlay-background: map.get($color, 'white'),
    open-padding: var(--s-xs) 0,
    hide-header: true,
    open-background-active: var(--c-n-80),
    header-background: var(--c-n-40),
    header-background-hover: var(--c-n-60),
    header-font: var(--f-m),
    header-color: var(--c-p),
    header-color-hover: var(--c-d),
    header-border-hover: var(--c-d-80),
    header-shadow: none,
    item-color: var(--c-d),
    item-color-hover: var(--c-d),
    item-padding: var(--s-m) var(--s-m) var(--s-m) var(--s-l),
    item-active-background: var(--c-n-80),
    parent-top: -63px,
    subtitle-font: var(--f-m),
    subtitle-font-weight: map.get($font-weight, 'normal'),
    subitem-padding: var(--s-m) var(--s-m) var(--s-m) var(--s-l),
  ),
  desktop: (
    menu-background: var(--c-br),
    menu-border: none,
    item-background-focus: var(--c-br),
    item-background-hover: var(--c-n),
    item-color: map.get($color, 'white'),
    item-color-hover: var(--c-d),
    item-color-focus: map.get($color, 'white'),
    item-current-background: map.get($color, 'white'),
    item-current-color: var(--c-d),
    item-current-shadow: none,
    item-current-margin: 0px,
    link-padding: var(--s-s) var(--s-m),
    link-line-height: map.get($line-height, 'm'),
    mega-border: none,
    mega-shadow: none,
    overlay-background: var(--c-n-40),
    see-all-divider: var(--c-n-100),
    sublink-padding: calc(var(--s-xs) + 2px) var(--s-l) calc(var(--s-xs) + 2px)
      var(--s-m),
    sublink-level2-padding: calc(var(--s-xs) + 2px) var(--s-2xl)
      calc(var(--s-xs) + 2px) var(--s-s),
    sublink-current-background: var(--c-n-40),
  ),
);
// stylelint-enable length-zero-no-unit
