@use 'sass:map';
@use '../index' as *;

$menu: (
  global: (
    border-radius: 0,
    shadow: none,
    color-outline: var(--c-p),
  ),
  mobile: (
    menu-background: var(--c-n-40),
    color: var(--c-d),
    content-background: var(--c-bg),
    overlay-background: rgba(0, 0, 0, 0.5),
    open-padding: var(--s-xs),
    open-padding-hover: var(--s-xs),
    open-outline-color: transparent,
    header-background: var(--c-p),
    header-background-hover: var(--c-p-140),
    header-font: var(--f-l),
    header-color: map.get($color, 'white'),
    header-shadow: none,
    header-height: 64px,
    item-color: var(--c-d),
    item-color-hover: var(--c-d),
    item-border: 2px solid var(--c-bg),
    item-font: var(--f-m),
    item-padding: var(--s-xs) var(--s-m),
    item-active-background: var(--c-n-80),
    item-active-border: var(--c-p),
    caret-background: var(--c-n-40),
    caret-background-hover: var(--c-n-80),
    caret-active-background: var(--c-n-80),
    caret-active-background-hover: var(--c-n-160),
    caret-color: var(--c-d),
    subtitle-border: none,
    subtitle-font: var(--f-m),
    subtitle-font-weight: map.get($font-weight, 'bold'),
    subitem-padding: var(--s-xs) var(--s-m) var(--s-xs) var(--s-2xl),
  ),
  desktop: (
    menu-background: map.get($color, 'white'),
    menu-border: 1px solid var(--c-p),
    item-background-hover: transparent,
    item-background-focus: transparent,
    item-color: var(--c-d),
    item-color-hover: var(--c-d),
    item-color-focus: var(--c-p),
    item-shadow-hover: #{inset 1px 0 0 var(--c-d),
    inset #{-1px} 0 0 var(--c-d)},
    item-current-background: var(--c-n-40),
    item-current-background-focus: var(--c-n-40),
    item-current-color: var(--c-d),
    item-current-shadow: #{inset 1px 0 0 var(--c-p),
    inset #{-1px} 0 0 var(--c-p),
    inset 0 #{-4px} 0 var(--c-p)},
    item-current-margin: -1px,
    separator-color: var(--c-d-80),
    link-padding: calc(var(--s-xs) + var(--s-xs)) var(--s-2xs)
      calc(var(--s-xs) + var(--s-xs)) var(--s-xs),
    link-expanded-padding: calc(var(--s-xs) + var(--s-xs)) var(--s-2xs)
      calc(var(--s-xs) + var(--s-xs) + 1px) var(--s-xs),
    link-line-height: map.get($line-height, 'xs'),
    caret-padding: 0 var(--s-xs),
    caret-focus-outline: var(--c-p),
    overflow-border: 2px solid var(--c-p),
    overflow-border-hover: 2px solid var(--c-p-140),
    overflow-background: var(--c-p),
    overflow-background-hover: var(--c-p-140),
    overflow-color: map.get($color, 'white'),
    overflow-color-hover: map.get($color, 'white'),
    overflow-current-background-hover: var(--c-n),
    overflow-current-color-hover: var(--c-d),
    mega-border: 1px solid var(--c-d),
    mega-shadow: none,
    mega-padding: var(--s-xl),
    mega-column-gap: var(--s-2xl),
    mega-column-border: 1px solid var(--c-n),
    sublink-padding: var(--s-xs) var(--s-m),
    sublink-current-background: var(--c-n-80),
    sublink-current-shadow: none,
  ),
);
