@use 'sass:map';
@use '../index' as *;

$modal: (
  overlay: var(--cm-surface-lowest-variant),
  border-radius: map.get($border-radius, 'xs'),
  shadow: var(--sh-4),
  font: 'body-m',
  icon-size: map.get($icon, 'xl'),
  header: (
    font: 'heading4',
    font-weight: map.get($font-weight, 'regular'),
    padding-mobile: var(--s-5xl) var(--s-5xl) var(--s-xl) var(--s-5xl),
    padding-desktop: var(--s-5xl) var(--s-5xl) var(--s-xl) var(--s-5xl),
  ),
  close: (
    margin-top: -1.75rem,
    margin-end: -1.75rem,
  ),
  body: (
    container-spacing-top: var(--s-5xl),
    padding-mobile: 0 var(--s-5xl) var(--s-xl) var(--s-5xl),
    padding-desktop: 0 var(--s-5xl) var(--s-xl) var(--s-5xl),
    padding-last-child: var(--s-5xl),
    margin-fixed: var(--s-m),
  ),
  footer: (
    padding-mobile: 0 var(--s-5xl) var(--s-5xl),
    padding-desktop: 0 var(--s-5xl) var(--s-5xl),
  ),
);
