@use 'sass:map';
@use '../index' as *;

$modal: (
  overlay: var(--cm-surface-lowest-variant),
  border-radius: map.get($border-radius, 'xs'),
  shadow: var(--sh-4),
  font: var(--f-m),
  header: (
    font: var(--f-2xl),
    font-weight: map.get($font-weight, 'light'),
    padding-mobile: var(--s-5xl) var(--s-5xl) var(--s-xl) var(--s-5xl),
    padding-desktop: var(--s-5xl) var(--s-5xl) var(--s-xl) var(--s-5xl),
  ),
  close: (
    margin-top: calc(-1 * var(--s-xl)),
    margin-end: calc(-1 * var(--s-xl)),
  ),
  body: (
    container-spacing-top: var(--s-5xl),
    padding-mobile: 0 var(--s-5xl) var(--s-xl) var(--s-5xl),
    padding-desktop: 0 var(--s-5xl) var(--s-xl) var(--s-5xl),
    padding-last-child: var(--s-5xl),
    margin-fixed: var(--s-m),
  ),
  footer: (
    padding-mobile: 0 var(--s-5xl) var(--s-5xl),
    padding-desktop: 0 var(--s-5xl) var(--s-5xl),
  ),
  warning: (
    icon-background-color: var(--cm-on-surface-brand),
    icon-background-height: var(--s-m),
    icon-background-width: var(--s-xs),
    icon-background-top: calc(var(--s-5xl) + var(--s-s)),
    icon-background-left: calc(
        var(--s-5xl) + (map.get($icon, 'l') / 2) - var(--s-2xs) + 2px
      ),
  ),
);
