@use 'sass:map';
@use '../index' as *;

$news-ticker: (
  border-radius: map.get($border-radius, 's'),
  box-shadow: map.get($shadow, '1'),
  font: 'body-m',
  font-weight: map.get($font-weight, 'semi-bold'),
  icon: (
    background: var(--cm-surface-primary),
    padding-block: var(--s-s),
    padding-inline: var(--s-m) var(--s-s),
  ),
  content: (
    padding-block-mobile: var(--s-m),
    padding-inline-mobile: var(--s-l),
    padding-block-desktop: var(--s-xs),
    padding-inline-desktop: var(--s-xl) 0,
    padding-inline-single: var(--s-xl),
  ),
  counter: (
    font: 'body-s',
    font-weight: map.get($font-weight, 'regular'),
    background-mobile: var(--cm-surface-grey-low-0),
    color-mobile: var(--cm-on-surface-grey),
    background-desktop: var(--cm-surface-inverted),
    color-desktop: var(--cm-on-surface-grey),
    padding-inline-mobile: var(--s-m),
    padding-inline-desktop: var(--s-xl),
  ),
  action: (
    background: var(--cm-surface-grey-low-0),
    color: var(--cm-on-surface-grey),
  ),
);
