@use 'sass:map';
@use '../index' as *;

$notification: (
  radius: 0,
  padding: var(--s-xl),
  padding-end: var(--s-xl),
  padding-start: var(--s-3xl),
  border-width: 1px,
  border-color: var(--c-n),
  font: var(--f-m),
  color: var(--c-d),
  title-font: var(--f-l),
  title-font-weight: map.get($font-weight, 'regular'),
  title-spacing: var(--s-s),
  close-color: var(--c-d),
  close-offset: calc(var(--s-m) - var(--s-xl)),
  info: (
    background: var(--c-n-20),
    color: var(--c-in),
  ),
  success: (
    background: var(--c-n-20),
    color: var(--c-su),
  ),
  warning: (
    background: var(--c-n-20),
    color: var(--c-wa),
    icon-background-color: var(--c-d),
    icon-background-height: var(--s-m),
    icon-background-top: calc(var(--s-xl) + var(--s-s)),
    icon-background-left:
      calc(var(--s-3xl) + (map.get($icon, 'l') / 2) - var(--s-2xs)),
  ),
  error: (
    background: var(--c-n-20),
    color: var(--c-er),
  ),
);
$notification-print: (
  padding: map.get($spacing-print, '3xl') map.get($spacing-print, 'xl')
    map.get($spacing-print, '3xl') map.get($spacing-print, '3xl'),
  font: var(--f-m),
  title-font: map.get($font-print, 'l'),
  title-spacing: map.get($spacing-print, 's'),
);
