@use 'sass:map';
@use '../index' as *;

$pagination: (
  font: 'body-m',
  border-color: var(--cm-border-neutral),
  current-background: var(--cm-surface-primary),
  current-text-color-desktop: var(--cm-on-surface-inverted),
  current-text-color-mobile: var(--cm-on-surface-brand),
  focus-radius: 0,
  focus-border: 2px solid var(--cm-border-primary),
  focus-outline: none,
  item-background-hover: transparent,
  item-default-color: var(--cm-on-surface-brand),
  item-hover-color: var(--cm-on-surface-brand),
  item-margin-end: var(--s-2xs),
  item-padding: 0,
  item-border-hover: transparent,
  item-size: 2.75rem,
  padding: var(--s-xl) 0 0,
  prev-next-active-border: transparent,
  prev-next-active-background: transparent,
  prev-next-hover-color: var(--cm-on-surface-brand),
  prev-next-hover-background: transparent,
  prev-next-hover-border: 1px solid transparent,
  prev-next-hover-shadow: none,
  text-color: var(--cm-on-surface-brand),
);
