@use 'sass:map';
@use '../index' as *;

$page-header: (
  title: (
    color: var(--cm-on-surface-brand),
    font-mobile: var(--f-7xl),
    font-desktop: var(--f-8xl),
    font-weight: map.get($font-weight, 'light'),
  ),
  description: (
    color: var(--cm-on-surface-brand),
    font: var(--f-m),
  ),
  meta: (
    color: var(--cm-on-surface-brand),
    font: var(--f-m),
  ),
);
$page-header-print: (
  title: (
    font: map.get($font-print, '8xl'),
  ),
  description: (
    font: map.get($font-print, 'm'),
  ),
  meta: (
    font: map.get($font-print, 'm'),
  ),
);
