@use 'sass:map';
@use '../index' as *;

$popover: (
  close-button-top: var(--s-m),
  close-button-right: var(--s-m),
  content-line-height: map.get($line-height, 'm'),
  content-padding-end: var(--s-xl),
  padding: var(--s-3xl),
  shadow: var(--sh-6),
  shadow-size: 2px,
);
