@use 'sass:map';
@use '../index' as *;

$radio: (
  box-background: #fff,
  box-border-color-checked: var(--cm-on-surface-primary),
  box-border-color: var(--cm-border-brand),
  box-border-width: 1px,
  box-border-width-checked: 1px,
  box-inner-display: inline-block,
  box-margin-top: 0,
  box-size: 1.5rem,
  binary-margin: var(--s-xl),
  help-text-color: var(--c-d),
  help-text-font: var(--f-s),
  invalid-border-color: var(--c-er),
  invalid-border-color-hover: var(--c-er),
  label-color: var(--cm-on-surface-brand),
);
