@use 'sass:map';
@use '../index' as *;

$radio: (
  box-background: map.get($color, 'white'),
  box-border-color-checked: var(--c-p),
  box-border-color: var(--c-d-80),
  box-border-width: 1px,
  box-border-width-checked: 1px,
  box-inner-display: inline-block,
  box-margin-top: 0,
  box-size: 1.5rem,
  binary-margin: var(--s-xl),
  help-text-color: var(--c-d),
  help-text-font: var(--f-s),
  invalid-border-color: var(--c-er),
  invalid-border-color-hover: var(--c-er),
  label-color: var(--c-d),
  hover-circle: (
    height: 2.5rem,
    width: 2.5rem,
    content: '',
    display: block,
    border-radius: 50%,
    position: absolute,
    top: 50%,
    left: 50%,
    transform: translate(-50%, -50%),
    background-color: var(--c-p-20),
    z-index: -1,
  ),
);
