@use 'sass:map';
@use '../index' as *;

$rating-field: (
  checked-color: var(--cm-on-surface-brand),
  stroke-color: var(--cm-border-brand),
  hover-stroke-color: var(--cm-border-grey),
  checked-hover-color: var(--cm-on-surface-neutral-medium),
  checked-focus-stroke: var(--cm-on-surface-brand),
  focus-outline: var(--cm-on-surface-brand),
);
