@use 'sass:map';
@use '../index' as *;

$search-form: (
  button-border-color: var(--cm-on-surface-grey-medium),
  button-border-color-hover: var(--cm-on-surface-grey),
  separator-color: var(--cm-on-surface-brand),
);
