@use 'sass:map';
@use 'sass:color';
@use '../index' as *;

$site-footer: (
  background: var(--cm-surface-brand),
  color: var(--cm-on-surface-inverted),
  separator-color: var(--cm-border-on-brand),
  column-gap: var(--s-2xl),
  row-gap-small: var(--s-m),
  row-gap-large: var(--s-3xl),
);
