@use 'sass:map';
@use 'sass:color';
@use '../index' as *;

$site-footer: (
  background: var(--cm-surface-brand),
  color: var(--cm-on-surface-inverted),
  separator-color: #{color-mix(
      in srgb,
      var(--cm-border-neutral) 80%,
      transparent
    )},
  column-gap: map.get($grid-gutter-width, 'm'),
);
