@use 'sass:map';
@use '../index' as *;

$site-header: (
  background-color: var(--cm-surface-inverted),
  banner-text-color: var(--cm-on-surface-brand),
  logo-height-xs: 2.75rem,
  logo-height-lg-s: 2.75rem,
  logo-height-lg-m: 3.5rem,
  logo-height-lg-l: 5rem,
  search-width: 216px,
  search-width-l: 255px,
  search-width-xl: 295px,
  toggle-color: var(--cm-on-surface-brand),
  banner-typography: (
    'mobile': (
      'size': var(--fs-2xl),
      'line-height': var(--lh-2xl),
    ),
    'tablet': (
      'size': var(--fs-3xl),
      'line-height': var(--lh-3xl),
    ),
  ),
  language-switcher: (
    shadow: var(--sh-3),
    shadow-size: 12px,
    arrow-size: 1rem,
    arrow-top: 1px,
    arrow-border: 1px solid var(--cm-border-neutral-lowest),
    arrow-shadow: none,
    close-right: var(--s-m),
    close-top: var(--s-m),
  ),
);
