@use 'sass:map';
@use '../index' as *;

$slider: (
  dot-background: var(--c-a-200),
  dot-active-background: var(--cm-border-active),
  dot-spacing: var(--s-3xs),
  outline-color: var(--cm-border-primary),
);
