@use 'sass:map';
@use '../index' as *;

$table: (
  row-border: 1px solid var(--c-n-60),
  zebra-background: var(--c-n-40),
  table: (
    color: var(--c-d),
    font: var(--f-m),
  ),
  head: (
    background: var(--c-n),
    border: 1px solid var(--c-n-60),
  ),
  header: (
    border: none,
    separator-mobile: 2px solid var(--c-n-160),
    separator-desktop: 1px solid var(--c-n-160),
    group-separator: 1px solid var(--c-n-160),
    padding: var(--s-m),
    font-weight: map.get($font-weight, 'bold'),
  ),
  cell: (
    separator: 1px solid var(--c-n-60),
    padding-mobile: var(--s-m),
    padding-desktop: var(--s-m),
    margin-mobile: (
      top: calc(-1 * var(--s-m)),
      end: var(--s-m),
      bottom: calc(-1 * var(--s-m) - 1px),
      start: calc(-1 * var(--s-m)),
    ),
  ),
  multi-head: (
    background: var(--c-n),
    background-empty: var(--c-n),
    position: var(--s-m),
  ),
  sort: (
    icon-color: var(--c-d),
    icon-color-active: var(--c-d-60),
    icon-spacing: -8px,
    arrow-top: calc(var(--s-m) + 3px),
    arrow-left: var(--s-m),
  ),
  caption: (
    font: var(--f-s),
    color: var(--c-d-80),
  ),
);
