@use 'sass:map';
@use '../index' as *;

$tag: (
  padding: var(--s-2xs) var(--s-s),
  border-radius: 12px,
  color: var(--cm-on-surface-dark),
  background-color: var(--cm-surface-low),
  color-hover: var(--cm-on-surface-dark),
  background-color-hover: var(--cm-surface-medium),
  color-focus: var(--cm-on-surface-dark),
  background-color-focus: var(--cm-surface-inverted),
  outline-color-focus: var(--cm-border-primary),
  outline-offset-focus: -2px,
  color-active: var(--cm-on-surface-dark),
  background-color-active: var(--cm-surface-inverted),
  outline-color-active: var(--cm-border-dark),
);
