@use 'sass:map';
@use '../index' as *;

$timeline: (
  border-color: var(--c-d),
  border-width: 0.125rem,
  bullet-border-color: var(--c-s),
  bullet-border-width: 0.25rem,
  bullet-shadow: none,
  bullet-top-position: 0.25rem,
  content-big-font: var(--f-m),
  content-font: var(--f-m),
  content-color: var(--c-d),
  first-item-offset: var(--s-2xs),
  first-item-height: 100%,
  item-padding-top: var(--s-2xs),
  label-alignment: right,
  label-color: var(--c-d),
  label-big-font: var(--f-l),
  label-font: var(--f-l),
  label-font-weight: map.get($font-weight, 'bold'),
  label-layout: absolute,
  label-margin: 0,
  left-spacing: 14rem,
  last-item-height: var(--s-2xl),
  timeline-margin-left: calc(var(--s-xs) + 14rem + var(--s-m)),
  title-big-font: var(--f-l),
  title-color: var(--c-d),
  title-font: var(--f-l),
  title-font-weight: map.get($font-weight, 'regular'),
  title-margin: var(--s-2xs),
  toggle-bullet-border-color: var(--c-n),
  bullet-fill-color: map.get($color, 'white'),
  bullet-size: 0.75rem,
  toggle-bullet-border-width: 0.25rem,
);
$timeline-print: (
  content-color: var(--c-d-75),
  content-font: map.get($font-print, 'm'),
  label-color: var(--c-d),
  label-font: map.get($font-print, 'm'),
  title-color: map.get($color, 'black'),
  title-font: map.get($font-print, 'm'),
);
