@use 'sass:map';
@use '../index' as *;

$tooltip: (
  background: var(--cm-surface-brand),
  color: var(--cm-on-surface-inverted),
  background-inverted: var(--cm-surface-inverted),
  color-inverted: var(--cm-on-surface-brand),
  padding: var(--s-2xs) var(--s-s),
  font: 'microcopy-2xs',
  border-radius: map.get($border-radius, 'xs'),
  shadow: var(--sh-2),
);
