<div class="ecl-footers__ec">
  <div class="ecl-container">
    <div class="section__body">
      <div class="ecl-row">
        <div class="ecl-col-sm">
          <ul class="ecl-list-inline">
            <li class="ecl-list-inline__item">
              <a href="http://ec.europa.eu/info/about-commissions-new-web-presence_en" class="">About the Commission's new web presence</a>
            </li>
            <li class="ecl-list-inline__item">
              <a href="http://ec.europa.eu/info/resources-partners_en" class="">Resources for partners</a>
            </li>
            <li class="ecl-list-inline__item">
              <a href="http://ec.europa.eu/info/cookies_en" class="">Cookies</a>
            </li>
            <li class="ecl-list-inline__item">
              <a href="http://ec.europa.eu/info/legal-notice_en" class="">Legal notice</a>
            </li>
            <li class="ecl-list-inline__item">
              <a href="http://ec.europa.eu/info/contact_en" class="">Contact</a>
            </li>
            <li class="ecl-list-inline__item">
              <a href="http://ec.europa.eu/info/europa-analytics_en" class="">Europa Analytics</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
