{% apply spaceless %}

{#
  Parameters:
    - "id" (string) (default: random)
    - "toggle" (associative array) (default: {}): Popover toggle element, following ECL Link or ECL button structure
    - "close" (object of type "button") (default: {}): close button (optional)
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        },
        ...
      ],
  Blocks:
    - "content": free block to put any content in the popover
#}

{# Internal properties #}

{% set _id = id|default('ecl-popover-' ~ random()) %}
{% set _css_class = 'ecl-popover' %}
{% set _extra_attributes = 'data-ecl-auto-init="Popover"' %}
{% set _css_popover_class = 'ecl-popover__content' %}
{% set _content = content|default('') %}
{% set _toggle = toggle|default({}) %}
{% set _close = close|default({}) %}
{% set _links = links|default([]) %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div
  class="{{ _css_class }}"
  {{ _extra_attributes|raw }}
>
  {% set _toggle_attributes = [
    { name: 'aria-controls', value: _id },
    { name: 'data-ecl-popover-toggle' },
    { name: 'aria-expanded', value: 'false' }
  ] %}

  {% set _toggle_extra_classes = 'ecl-popover__toggle' %}
  {% if _toggle.extra_classes is not empty %}
    {% set _toggle_extra_classes = _toggle_extra_classes ~ ' ' ~ _toggle.extra_classes %}
  {% endif %}
  {% if _toggle.link is not empty %}
    {% include '@ecl/link/link.html.twig' with _toggle|merge({
      extra_classes: _toggle_extra_classes,
      extra_attributes: _toggle_attributes,
    }) only %}
  {% else %}
    {% include '@ecl/button/button.html.twig' with _toggle|merge({
      extra_classes: _toggle_extra_classes,
      extra_attributes: _toggle_attributes,
    }) only %}
  {% endif %}
  <div id="{{ _id }}" class="ecl-popover__container" hidden>
    <div class="ecl-popover__scrollable">
    {% if _close is not empty %}
      {% include '@ecl/button/button.html.twig' with _close|merge({
        type: 'button',
        variant: 'tertiary',
        extra_classes: 'ecl-popover__close',
        extra_attributes: [{
          name: 'data-ecl-popover-close',
        }],
      }) only %}
    {% endif %}
      <div class="{{ _css_popover_class }}">
        {%- block content _content -%}
      </div>
    </div>
  </div>
</div>

{% endapply %}
