{#
  This is an example and should not be used as it is.
#}

{% include '@ecl/ec-component-skip-link' with {
    'href': '#main-content',
    'label': 'Skip to main content'
} %}

{% include '@ecl/ec-component-site-header' with {
  user_menu: {
    title: 'User menu',
    links: [
      { href: "#", label: "Log in" },
    ],
  },
  languages: languages
} %}

{% include '@ecl/ec-component-page-header' with { variant: 'default' }|merge(page_header|default({})) %}
{% if menu is defined and menu is not empty %}
  {% include '@ecl/ec-component-navigation-menu' with menu %}
{% endif %}

<main id="main-content">
  <div class="ecl-container ecl-u-mv-l">
    <h1 class="ecl-heading ecl-heading--h1">Page example</h1>
    <p class="ecl-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor elit, sagittis eu ante eu, tempor tempus lorem. Quisque auctor leo id tempor pulvinar. Nunc sapien orci, eleifend nec magna ac, feugiat viverra orci. Nulla efficitur nisl vitae risus pretium, sit amet aliquam dolor volutpat. Donec risus elit, congue at porta eget, posuere vitae ipsum. Nulla iaculis magna a lorem dignissim consequat. Praesent mattis libero ac tortor efficitur porta. In congue elementum nunc, vitae accumsan turpis dictum non.</p>
    <p class="ecl-paragraph">Integer convallis quis magna et dapibus. Aenean id lectus vitae nulla fringilla gravida sed id mauris. Aliquam commodo erat sit amet nisi mollis, ut suscipit dolor eleifend. Fusce at malesuada lorem. Ut rutrum nibh massa, sed tincidunt nibh pretium id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed porttitor turpis a efficitur posuere. Integer eu est sodales, ornare elit ac, congue leo. Sed condimentum faucibus fermentum. Fusce aliquet ut enim euismod feugiat. Fusce nec interdum metus, id finibus nisl.</p>
  </div>
</main>

{% include '@ecl/ec-component-footer' with footer %}
