/**
 * Typography: paragraphs
 * @define paragraph
 */

// Import base
@import 'mixins';

@mixin ecl-typography-paragraph() {
  .ecl-paragraph {
    @include paragraph();
  }

  .ecl-paragraph--l {
    font-size: map-get($ecl-font-size, 'l');
  }

  .ecl-paragraph--m {
    font-size: map-get($ecl-font-size, 'm');
  }

  .ecl-paragraph--s {
    font-size: map-get($ecl-font-size, 's');
  }

  .ecl-paragraph--xs {
    font-size: map-get($ecl-font-size, 'xs');
  }

  .ecl-paragraph--xxs {
    font-size: map-get($ecl-font-size, 'xxs');
  }
}
