@import 'mixins';

@mixin ecl-editor-typography-paragraph() {
  .ecl-editor * {
    box-sizing: border-box;
    color: $ecl-color-shade;
    font-size: map-get($ecl-font-size, 'm');
    margin: 0;
  }

  .ecl-editor p {
    @include paragraph();

    margin: 0;
  }

  .ecl-editor * + p {
    margin-top: map-get($ecl-spacing, 'xxs');
  }
}
