/**
 * Display List component
 * @define display-list
 */

@use 'sass:math';
@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_title-color: null !default;
$_description-color: null !default;
$_background-color: null !default;

.ecl-display-list {
  margin: 0;
}

.ecl-display-list__item {
  display: flex;
  flex-direction: column;
}

.ecl-display-list__image {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: auto;

  // manage ratio 3:2
  &::before {
    content: '';
    display: block;
    padding-top: math.div(2, 3) * 100%;
    width: 100%;
  }
}

// manage ratio 1:1
.ecl-display-list__image--square {
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;

  &::before {
    padding-top: 100%;
  }
}

.ecl-display-list__title-container {
  align-items: center;
  color: $_title-color;
  display: flex;
  flex-direction: row;
  font: map.get(theme.$font-prolonged, 'xl');
  margin-top: map.get(theme.$spacing, 'm');
}

.ecl-display-list__description {
  color: $_description-color;
  font: map.get(theme.$font-prolonged, 'm');
  margin-top: map.get(theme.$spacing, 'xs');
  max-width: 80ch;
}

.ecl-display-list__icon {
  flex-shrink: 0;
  margin-right: map.get(theme.$spacing, 's');
}

// Vertical list
.ecl-display-list--vertical {
  .ecl-display-list__item {
    flex-direction: row;
    padding: map.get(theme.$spacing, 'm');
  }

  .ecl-display-list__image {
    flex-shrink: 0;
    margin-right: map.get(theme.$spacing, 'xl');
  }

  .ecl-display-list__image:not(.ecl-display-list__image--square) {
    width: 15.875rem;
  }

  .ecl-display-list__icon {
    margin-right: map.get(theme.$spacing, 'xl');
  }

  .ecl-display-list__title-container {
    margin-top: 0;
  }

  .ecl-display-list__description {
    margin-top: map.get(theme.$spacing, 's');
  }
}

// Zebra
.ecl-display-list--zebra {
  .ecl-display-list__item:nth-child(even) {
    background-color: $_background-color;
  }
}
