/**
 * Carousel component
 * @define carousel; weak
 */
/* stylelint-disable max-nesting-depth, no-descending-specificity */

@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_button-arrows-background: null !default;
$_controls-background: null !default;
$_outline-color: null !default;
$_outline-width: null !default;

.ecl-carousel {
  overflow: hidden;
  position: relative;

  .ecl-page-banner,
  .ecl-page-banner__image::before {
    border-radius: 0;
    box-shadow: none;
  }

  .ecl-page-banner {
    height: 100%;

    .ecl-container {
      height: 100%;
    }
  }
}

.ecl-carousel__container {
  background-color: $_controls-background;
  box-shadow: inset 0 -4px 12px -9px rgba(map.get(theme.$color, 'black'), 0.6);
  width: calc(100% - #{map.get(theme.$spacing, 'l')});
}

.ecl-carousel__slides {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 10000px;
}

.ecl-carousel__slide {
  position: relative;

  &::before {
    background: map.get(theme.$color, 'white-100');
    content: '';
    display: block;
    height: 100%;
    left: -#{map.get(theme.$spacing, '2xs')};
    position: absolute;
    top: 0;
    width: map.get(theme.$spacing, '2xs');
  }
}

.ecl-carousel__slide .ecl-page-banner__credit {
  margin-inline-end: map.get(theme.$spacing, '2xs');
}

.ecl-carousel__controls {
  background-color: $_controls-background;
  padding: map.get(theme.$spacing, 's') 0;

  .ecl-container {
    display: flex;
  }
}

.ecl-carousel__controls,
.ecl-carousel__slides .ecl-page-banner {
  .ecl-container {
    max-width: 1140px;
    width: 100%;
  }
}

.ecl-carousel__prev,
.ecl-carousel__next {
  background: $_button-arrows-background;
  border: 0;
  cursor: pointer;
  display: none;
  padding: map.get(theme.$spacing, 's');
  position: absolute;
  top: calc(50% - 22px);
  transform: translateY(-50%);

  &:focus {
    outline: $_outline-width solid $_outline-color;
  }
}

.ecl-carousel__prev {
  left: 0;

  &:focus {
    margin-inline-start: $_outline-width;
    padding-inline-start: calc(
      #{map.get(theme.$spacing, 's')} - #{$_outline-width}
    );
  }
}

.ecl-carousel__next {
  right: 0;

  &:focus {
    margin-inline-end: $_outline-width;
    padding-inline-end: calc(
      #{map.get(theme.$spacing, 's')} - #{$_outline-width}
    );
  }
}

.ecl-carousel__toggle {
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  margin-inline-end: map.get(theme.$spacing, 'l');
  padding: 0;

  &:focus {
    outline: $_outline-width solid $_outline-color;
  }
}

.ecl-carousel__pagination {
  align-items: center;
  color: map.get(theme.$color, 'white-100');
  display: flex;
  font: map.get(theme.$font, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin-inline-end: map.get(theme.$spacing, 'l');
  padding-top: 2px;
  white-space: pre-wrap;
}

.ecl-carousel__navigation {
  align-items: center;
  display: flex;
}

.ecl-carousel__navigation-item {
  background-color: transparent;
  border: 2px solid map.get(theme.$color, 'white-100');
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  margin-inline-end: map.get(theme.$spacing, 'xs');
  width: 1rem;

  &:focus {
    outline: $_outline-width solid $_outline-color;
  }

  &[aria-current='true'] {
    background-color: map.get(theme.$color, 'white-100');
  }
}

.ecl-carousel-container--padded .ecl-page-banner {
  .ecl-container {
    margin-inline-start: 100px;
    transition: all 0.2s;
  }
}

/*
 * full width
 */
.ecl-carousel--full-width {
  left: 50%;
  margin-inline-start: -50vw;
  width: 100vw;
}

// stylelint-disable-next-line plugin/selector-bem-pattern, selector-max-compound-selectors
.ecl-container
  .ecl-carousel--full-width
  .ecl-page-banner:not(.ecl-page-banner--full-width)
  .ecl-container {
  padding-left: map.get(theme.$spacing, 'm');
  padding-inline-end: map.get(theme.$spacing, 'm');
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-carousel {
    .ecl-page-banner {
      height: initial;

      .ecl-container {
        height: initial;
      }
    }
  }

  .ecl-carousel__container {
    width: 100%;
  }

  .ecl-carousel__slide {
    position: relative;

    &::before {
      content: none;
    }
  }

  .ecl-carousel__slide .ecl-page-banner__credit {
    margin-inline-end: 0;
  }

  .ecl-carousel__prev,
  .ecl-carousel__next {
    display: block;
  }
}
