@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'carousel' with (
  $_button-arrows-background: rgba(map.get(theme.$color, 'blue-140'), 0.5),
  $_controls-background: map.get(theme.$color, 'blue-140'),
  $_outline-color: map.get(theme.$color, 'accent-blue-100'),
  $_outline-width: 2px
);
