/**
 * Accordion
 * @define accordion
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$accordion: null !default;

.ecl-accordion {
  margin: 0;
}

.ecl-accordion__item {
  background-color: map.get($accordion, 'item-background');
  border-bottom: 1px solid map.get($accordion, 'border-color');
}

.ecl-accordion__title {
  margin: 0;
  padding: 0;
}

.ecl-accordion__toggle {
  background-color: transparent;
  border-width: 0;
  color: var(--c-d);
  cursor: pointer;
  display: block;
  font: var(--f-m);
  padding: map.get($accordion, 'item-padding');
  position: relative;
  text-align: start;
  width: 100%;

  &:hover {
    background-color: map.get($accordion, 'item-background-hover');
  }
}

.ecl-accordion__toggle:focus-visible,
.ecl-accordion__toggle--active {
  outline: 2px solid var(--c-p);
  outline-offset: -2px;
}

.ecl-accordion__toggle-flex {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ecl-accordion__toggle-indicator {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin-inline-end: 0;
  margin-inline-start: map.get($accordion, 'icon-margin');
  margin-top: 4px;
}

.ecl-accordion__toggle-title {
  max-width: var(--max-w);
}

.ecl-accordion__toggle-icon {
  fill: map.get($accordion, 'icon-color');
}

.ecl-accordion__content {
  color: var(--c-d);
  font: var(--f-m);
  margin-inline-start: 0;
  max-width: var(--max-w);
  padding-inline-end: map.get($accordion, 'item-padding');
  padding-inline-start: map.get($accordion, 'item-padding');
  padding-bottom: var(--s-xl);
}

.no-js .ecl-accordion__content {
  display: block;
}
