/**
 * Accordion
 * @define accordion
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';

.ecl-accordion {
  margin: 0;
}

.ecl-accordion__item {
  background-color: map.get(theme.$color, 'grey-5');
  border: 1px solid map.get(theme.$color, 'grey-25');
}

.ecl-accordion__item + .ecl-accordion__item {
  margin-top: map.get(theme.$spacing, 'xs');
}

.ecl-accordion__title {
  margin: 0;
  padding: 0;
}

.ecl-accordion__toggle {
  background-color: transparent;
  border-width: 0;
  color: map.get(theme.$color, 'grey-100');
  display: block;
  font: map.get(theme.$font-prolonged, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  padding: 0 map.get(theme.$spacing, 'm');
  position: relative;
  text-align: start;
  width: 100%;
}

.ecl-accordion__toggle:hover {
  background-color: map.get(theme.$color, 'grey-25');
}

.ecl-accordion__toggle:focus-visible {
  outline: 2px solid map.get(theme.$color, 'blue-100');
  outline-offset: -2px;
}

.ecl-accordion__toggle[aria-expanded='true'] {
  padding-bottom: 0;
}

.ecl-accordion__toggle-flex {
  align-items: start;
  display: flex;
  flex-direction: row;
}

.ecl-accordion__toggle-indicator {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: map.get(theme.$spacing, 's');
  margin-inline-start: 0;
  margin-inline-end: map.get(theme.$spacing, 'm');
  margin-top: map.get(theme.$spacing, 's');
}

.ecl-accordion__toggle-label {
  display: none;
}

.ecl-accordion__toggle-title {
  flex-grow: 1;
  padding: map.get(theme.$spacing, 's') 0;

  .ecl-accordion__toggle[aria-expanded='true'] & {
    border-bottom: 1px solid map.get(theme.$color, 'grey');
  }
}

.ecl-accordion__content {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-prolonged, 'm');
  margin-inline-start: 0;
  padding-bottom: map.get(theme.$spacing, 's');
  padding-inline-end: map.get(theme.$spacing, 'm');
  padding-inline-start: map.get(theme.$spacing, 'm');
  padding-top: map.get(theme.$spacing, 's');
}

.no-js .ecl-accordion__content {
  display: block;
}
