/**
 * Accordion
 * @define accordion
 */

// Import base
@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';

.ecl-accordion {
  margin: 0;
}

.ecl-accordion__item {
  background-color: map.get(color.$color, 'grey-5');
}

.ecl-accordion__item + .ecl-accordion__item {
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-accordion__title {
  margin: 0;
  padding: 0;
}

.ecl-accordion__toggle {
  background-color: transparent;
  border-width: 0;
  color: map.get(color.$color, 'grey-100');
  display: block;
  font: map.get(typography.$font-prolonged, 'm');
  font-weight: map.get(typography.$font-weight, 'bold');
  padding: map.get(spacing.$spacing, 's') map.get(spacing.$spacing, 'm');
  position: relative;
  text-align: left;
  width: 100%;
}

.ecl-accordion__toggle:hover {
  background-color: map.get(color.$color, 'grey-20');
}

.ecl-accordion__toggle:focus {
  outline: 3px solid map.get(color.$color, 'yellow');
  outline-offset: -3px;
}

.ecl-accordion__toggle[aria-expanded='true'] {
  padding-bottom: 0;
}

.ecl-accordion__toggle-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.ecl-accordion__toggle-icon {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: map.get(spacing.$spacing, 'm');

  .ecl-accordion__toggle[aria-expanded='true'] & {
    margin-bottom: calc(
      #{map.get(spacing.$spacing, 'xs')} + #{map.get(spacing.$spacing, 'xs')} +
        1px
    );
  }
}

.ecl-accordion__toggle-title {
  flex-grow: 1;

  .ecl-accordion__toggle[aria-expanded='true'] & {
    border-bottom: 1px solid map.get(color.$color, 'grey');
    margin-bottom: map.get(spacing.$spacing, 'xs');
    padding-bottom: map.get(spacing.$spacing, 'xs');
  }
}

.ecl-accordion__content {
  color: map.get(color.$color, 'grey');
  font: map.get(typography.$font-prolonged, 'm');
  margin-left: 0;
  padding: 0 map.get(spacing.$spacing, 'm') map.get(spacing.$spacing, 's');
}

.no-js .ecl-accordion__content {
  display: block;
}
