/**
 * Label
 * @define label
 */

// Import base and mixins
@import '@ecl/ec-base/ec-base';

@mixin ecl-label() {
  .ecl-label {
    background-color: $ecl-color-grey-15;
    display: inline-block;
    font: $ecl-font-xs;
    margin: 0;
    padding: $ecl-spacing-2-xs $ecl-spacing-m;
    text-transform: uppercase;
  }

  .ecl-label--low {
    background-color: $ecl-color-grey-15;
  }

  .ecl-label--medium {
    background-color: $ecl-color-yellow-25;
  }

  .ecl-label--high {
    background-color: $ecl-color-yellow;
  }

  .ecl-label--highlight {
    background-color: $ecl-color-blue;
    color: $ecl-color-white;
  }
}

// Use mixin
@include exports('ec-component-label') {
  @include ecl-label();
}
