/**
 * Label
 * @define label
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-label-print() {
  .ecl-label {
    background-color: $ecl-color-grey-15;
    display: inline-block;
    font: $ecl-font-print-xs;
    font-family: $ecl-font-family-print-alt;
    margin: 0;
    padding: $ecl-spacing-print-2-xs $ecl-spacing-print-m;
    text-transform: uppercase;
  }

  .ecl-label--low {
    background-color: $ecl-color-grey-15;
  }

  .ecl-label--medium {
    background-color: $ecl-color-yellow-25;
  }

  .ecl-label--high {
    background-color: $ecl-color-yellow;
  }

  .ecl-label--highlight {
    background-color: $ecl-color-blue;
    color: $ecl-color-white;
  }
}

// Use mixin
@include exports('ec-component-label-print') {
  @include ecl-label-print;
}
