/**
 * Timeline2
 * @define timeline2; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-timeline2(
  $left-spacing: 10rem,
  $border-width: 0.25rem,
  $border-color: $ecl-color-grey-100,
  $bullet-fill-color: $ecl-color-white-100,
  $bullet-size: $ecl-spacing-s,
  $bullet-border-color: $ecl-color-yellow-100,
  $bullet-border-width: 0.25rem,
  $toggle-bullet-border-color: $ecl-color-grey-25,
  $toggle-bullet-border-width: 0.125rem,
  $title-color: $ecl-color-black-100,
  $label-color: $ecl-color-grey-100,
  $content-color: $ecl-color-grey-75
) {
  // Timeline structure
  .ecl-timeline2 {
    list-style: none;
    margin: 0 $ecl-spacing-l 0
      ($ecl-spacing-l + ($bullet-size / 2) + $bullet-border-width);
    max-width: 633px;
    padding-left: 0;
  }

  .ecl-timeline2__item {
    padding-bottom: $ecl-spacing-l;
    padding-left: $ecl-spacing-m + ($bullet-size / 2) + $bullet-border-width;
    padding-top: $ecl-spacing-xs;
    position: relative;

    // Border
    &::before {
      border-left: $border-width solid $border-color;
      content: '';
      height: 100%;
      left: -($border-width / 2);
      position: absolute;
      top: 0;
      width: 0;
    }

    // Bullet
    &::after {
      background-color: $bullet-fill-color;
      border: $bullet-border-width solid $bullet-border-color;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: $bullet-size + ($bullet-border-width * 2);
      left: -(($bullet-size / 2) + $bullet-border-width);
      position: absolute;
      top: $ecl-spacing-xs;
      width: $bullet-size + ($bullet-border-width * 2);
    }
  }

  .ecl-timeline2__item:hover::after {
    background-color: $bullet-border-color;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(sm) {
    .ecl-timeline2 {
      margin-left: $ecl-spacing-xs + $left-spacing + $ecl-spacing-m;
      margin-right: $ecl-spacing-xs;
    }
  }

  // Toggle button
  .ecl-timeline2__item--toggle {
    &::before {
      border-left-style: dashed;
    }

    &::after {
      border: $toggle-bullet-border-width solid $toggle-bullet-border-color;
      box-sizing: border-box;
      height: $bullet-size + ($bullet-border-width * 2);
      top: $ecl-spacing-xs + $ecl-spacing-s;
      width: $bullet-size + ($bullet-border-width * 2);
    }

    .no-js & {
      display: none;
    }
  }

  .ecl-timeline2[data-ecl-timeline-expanded] .ecl-timeline2__item--toggle {
    padding-bottom: $ecl-spacing-xs;
    padding-top: $ecl-spacing-l;

    &::after {
      top: $ecl-spacing-l + $ecl-spacing-s;
    }
  }

  .ecl-timeline2__toggle[aria-expanded='true'] .ecl-icon {
    transform: rotate(0deg);
  }

  // Border adjustment
  .ecl-timeline2__item:first-child::before {
    height: calc(100% - #{$ecl-spacing-xs});
    top: $ecl-spacing-xs;
  }

  .ecl-timeline2__item:last-child::before {
    height: $ecl-spacing-xs;
  }

  // Timeline data
  .ecl-timeline2__title {
    color: $title-color;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    margin-bottom: $ecl-spacing-xs;
  }

  .ecl-timeline2__label {
    color: $label-color;
    font: $ecl-font-m;
    margin-bottom: $ecl-spacing-s;
  }

  .ecl-timeline2__content {
    color: $content-color;
    font: $ecl-font-m;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(sm) {
    .ecl-timeline2__label {
      font: $ecl-font-xs;
      font-weight: $ecl-font-weight-bold;
      left: -($left-spacing + $ecl-spacing-m + ($bullet-size / 2) +
            $bullet-border-width);
      line-height: $ecl-line-height-m;
      margin-bottom: 0;
      position: absolute;
      text-align: right;
      top: $ecl-spacing-xs;
      width: $left-spacing;
    }
  }

  // Collapsible items
  .ecl-timeline2__item--collapsed {
    display: none;

    .no-js & {
      display: block;
    }
  }

  .ecl-timeline2[data-ecl-timeline-expanded] .ecl-timeline2__item--collapsed {
    display: block;
  }
}

// Use mixin
@include exports('eu-component-timeline2') {
  @include ecl-timeline2;
}
