/*
 * Timeline
 * @define timeline
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-timeline-print() {
  .ecl-timeline {
    font: $ecl-font-print-m;
    margin: 0;
  }

  .ecl-timeline__item {
    margin-top: $ecl-spacing-print-xs;

    &:first-child {
      margin-top: 0;
    }
  }

  .ecl-timeline__label {
    color: $ecl-color-black-100;
    font: $ecl-font-print-m;
    font-weight: $ecl-font-weight-print-bold;
  }

  .ecl-timeline__content {
    color: $ecl-color-black-100;
    font: $ecl-font-prolonged-print-m;
  }

  .ecl-timeline__item--toggle {
    display: none;
  }
}

// Use mixin
@include exports('ec-component-timeline-print') {
  @include ecl-timeline-print;
}
