/**
 * Timeline
 * @define timeline
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-timeline(
  $border-width: 0.25rem,
  $border-color: $ecl-color-yellow-100,
  $bullet-fill-color: $ecl-color-white-100,
  $bullet-border-color: $ecl-color-grey-100,
  $bullet-border-width: 0.25rem,
  $label-color: $ecl-color-grey-100,
  $content-color: $ecl-color-grey-100
) {
  .ecl-timeline {
    border-left: $border-width solid $border-color;
    list-style: none;

    // Leave space for the bullets
    margin: 0 0 0 (($ecl-spacing-s / 2) + $bullet-border-width);
    padding: $ecl-spacing-m 0;
  }

  .ecl-timeline__item {
    padding-left: (
      $ecl-spacing-m + ($ecl-spacing-s / 2) + $bullet-border-width -
        $border-width
    );
    position: relative;

    &::before {
      background-color: $bullet-fill-color;
      border: $bullet-border-width solid $bullet-border-color;
      border-radius: 50%;
      content: '';
      height: $ecl-spacing-s;
      left: -($ecl-spacing-s);
      position: absolute;
      top: 0;
      width: $ecl-spacing-s;
    }
  }

  .ecl-timeline__item + .ecl-timeline__item {
    margin-top: $ecl-spacing-m;
  }

  .ecl-timeline__label {
    color: $label-color;
    font: $ecl-font-m;
    font-weight: bold;
  }

  .ecl-timeline__content {
    color: $content-color;
    font: $ecl-font-prolonged-m;
    margin-top: $ecl-spacing-m;
  }

  .ecl-timeline__item--toggle {
    margin-top: $ecl-spacing-xl - $ecl-spacing-m;

    &::before {
      display: none;
    }

    .no-js & {
      display: none;
    }
  }

  /*
   * Manage collapse
   */
  .ecl-timeline__item--collapsed {
    display: none;

    .no-js & {
      display: block;
    }
  }

  .ecl-timeline[aria-expanded='true'] {
    .ecl-timeline__item--collapsed {
      display: block;
    }

    .ecl-timeline__item--toggle {
      display: none;
    }
  }
}

// Use mixin
@include exports('ec-component-timeline') {
  @include ecl-timeline;
}
