/**
 * Float utilities
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-utility-float() {
  .ecl-u-f-l {
    float: left;
  }
  .ecl-u-f-r {
    float: right;
  }
  .ecl-u-f-none {
    float: none;
  }
}

// Use mixin
@include exports('ec-utility-float') {
  @include ecl-utility-float();
}
