/**
 * ECL Navigation inpage
 * @define inpage-navigation
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_border-radius: null !default;
$_shadow: null !default;
$_active-link-border-width: null !default;
$_title: null !default;
$_item: null !default;
$_trigger: null !default;
$_list: null !default;
$_outline: null !default;

.ecl-inpage-navigation {
  border-radius: $_border-radius;
  box-shadow: $_shadow;
  display: none;
  margin: 0;
  position: relative;
  z-index: 1;

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    display: block;
    position: sticky;
    top: 0;
  }
}

.ecl-inpage-navigation__trigger {
  background: map.get($_trigger, 'background');
  background-origin: border-box;
  border: map.get($_outline, 'width') solid transparent;
  color: map.get(theme.$color, 'white-100');
  display: none;
  padding: map.get($_trigger, 'padding');
  position: relative;
  text-align: left;
  width: 100%;

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    display: none;
  }

  &:focus {
    border-color: map.get($_outline, 'color');
    outline: none;
  }
}

.ecl-inpage-navigation--visible {
  display: block;

  .ecl-inpage-navigation__trigger {
    border-radius: 0 0 $_border-radius $_border-radius;
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* stylelint-disable-next-line max-nesting-depth */
    &[aria-expanded='true'] {
      border-radius: 0;
    }

    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      display: none;
    }
  }
}

.ecl-inpage-navigation__trigger-current {
  font: map.get(theme.$font-prolonged, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ecl-inpage-navigation__trigger-icon {
  position: absolute;
  right: calc(#{map.get(theme.$spacing, 's')} - #{map.get($_outline, 'width')});

  .ecl-inpage-navigation__trigger[aria-expanded='true'] & {
    transform: rotate(0deg);
  }
}

.ecl-inpage-navigation__title {
  display: none;

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    background-color: map.get($_title, 'background');
    border-radius: $_border-radius $_border-radius 0 0;
    color: map.get($_title, 'color');
    display: block;
    font: map.get(theme.$font-prolonged, 'm');
    padding: map.get($_title, 'padding');
    text-transform: map.get($_title, 'text-transform');
  }
}

.ecl-inpage-navigation__list {
  background-color: map.get($_list, 'background', 's');
  border-top: map.get($_trigger, 'separator');
  display: none;
  list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  list-style-type: none;
  margin: 0;
  padding: map.get($_list, 'padding');

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    background-color: map.get($_list, 'background', 'l');
    border-top-width: 0;
    display: block;
    padding: 0;
  }
}

.ecl-inpage-navigation__list--visible {
  display: flex;
  flex-direction: column;
}

.ecl-inpage-navigation__link {
  background-color: map.get($_item, 'background', 's');
  border-top: map.get($_item, 'separator', 's');
  color: map.get($_item, 'color', 's');
  display: block;
  font: map.get(theme.$font, 'm');
  font-weight: map.get($_item, 'font-weight', 's');
  padding: map.get($_item, 'padding', 's');
  text-decoration: none;

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    background-color: map.get($_item, 'background', 'l');
    border-left: $_active-link-border-width solid transparent;
    border-top: map.get($_item, 'separator', 'l');
    color: map.get($_item, 'color', 'l');
    font: map.get(theme.$font-prolonged, 'm');
    font-weight: map.get($_item, 'font-weight', 'l');
    padding: map.get($_item, 'padding', 'l');
  }

  &:hover {
    background-color: map.get($_item, 'background-hover', 's');
    color: map.get($_item, 'color', 's');
    text-decoration: map.get($_item, 'text-decoration-hover');

    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      background-color: map.get($_item, 'background-hover', 'l');
      color: map.get($_item, 'color', 'l');
    }
  }

  &:focus {
    outline-offset: -(map.get($_outline, 'width'));
  }

  &:visited {
    color: map.get($_item, 'color', 's');

    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      color: map.get($_item, 'color', 'l');
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .ecl-inpage-navigation__item--active &,
  .ecl-inpage-navigation__item--active &:hover {
    background-color: map.get($_item, 'background-active', 's');
    color: map.get($_item, 'color-active', 's');

    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      background-color: map.get($_item, 'background-active', 'l');
      border-left-color: map.get(theme.$color, 'blue-100');
      color: map.get($_item, 'color-active', 'l');
    }
  }
}

.ecl-inpage-navigation__item:first-of-type .ecl-inpage-navigation__link {
  border-top-width: 0;
}

.ecl-inpage-navigation__item:last-of-type .ecl-inpage-navigation__link {
  border-radius: 0 0 $_border-radius $_border-radius;
}

.ecl-inpage-navigation__link--is-active {
  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    background-color: map.get(theme.$color, 'grey-10');
    border-left-color: map.get(theme.$color, 'blue-100');
    color: map.get(theme.$color, 'grey-100');
  }
}

.ecl-inpage-navigation__body {
  .ecl-inpage-navigation--visible & {
    border-radius: 0 0 $_border-radius $_border-radius;
    box-shadow: $_shadow;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      box-shadow: none;
      position: static;
    }
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.down('m') {
  .ecl-inpage-navigation__heading--active {
    &:first-of-type {
      padding-top: map.get(theme.$spacing, '4xl');
    }

    &:not(:first-of-type) {
      &::before {
        content: '';
        display: block;
        margin-top: -#{map.get(theme.$spacing, '4xl')};
        padding-top: map.get(theme.$spacing, '4xl');
        visibility: hidden;
      }
    }
  }
}
