/**
 * ECL Navigation inpage
 * @define inpage-navigation
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_border-radius: null !default;
$_outline-width: 3px;

$_inpage-link-border: map.get(theme.$spacing, '2xs');
$_toggle-width: calc(
  #{map.get(theme.$spacing, 'm')} + #{map.get(theme.$icon, 's')} + #{map.get(
      theme.$spacing,
      'm'
    )}
);

.ecl-inpage-navigation {
  display: none;
  margin: 0;
  position: relative;
  z-index: 1;

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    display: block;
    position: sticky;
    top: 0;
  }
}

.ecl-inpage-navigation__trigger {
  background: linear-gradient(
    to left,
    map.get(theme.$color, 'blue-120') $_toggle-width,
    map.get(theme.$color, 'blue-100') $_toggle-width
  );
  border: $_outline-width solid transparent;
  color: map.get(theme.$color, 'white-100');
  display: none;
  padding: calc(#{map.get(theme.$spacing, 's')} - #{$_outline-width})
    calc(#{map.get(theme.$spacing, 'm')} - #{$_outline-width});
  position: relative;
  text-align: left;
  width: 100%;

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    display: none;
  }

  &:focus {
    border-color: map.get(theme.$color, 'yellow-100');
    outline: none;
  }
}

.ecl-inpage-navigation--visible {
  display: block;

  .ecl-inpage-navigation__trigger {
    display: block;
    overflow-x: hidden;
    padding-right: calc(#{$_toggle-width} + #{map.get(theme.$spacing, 'm')});
    text-overflow: ellipsis;
    white-space: nowrap;

    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      display: none;
    }
  }
}

.ecl-inpage-navigation__trigger-current {
  font: map.get(theme.$font-prolonged, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ecl-inpage-navigation__trigger-icon {
  position: absolute;
  right: map.get(theme.$spacing, 'm');

  .ecl-inpage-navigation__trigger[aria-expanded='true'] & {
    transform: rotate(0deg);
  }
}

.ecl-inpage-navigation__title {
  color: map.get(theme.$color, 'grey-100');
  display: none;
  font: map.get(theme.$font-prolonged, 'm');
  padding: map.get(theme.$spacing, 'xs') map.get(theme.$spacing, 's');
  text-transform: uppercase;

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    color: map.get(theme.$color, 'grey-100');
    display: block;
  }
}

.ecl-inpage-navigation__list {
  border-top: 1px solid map.get(theme.$color, 'blue-120');
  display: none;
  list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  list-style-type: none;
  margin: 0;
  padding: 0 map.get(theme.$spacing, 'm');

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    border-top-width: 0;
    display: block;
    padding: 0;
  }
}

.ecl-inpage-navigation__list--visible {
  display: flex;
  flex-direction: column;
}

.ecl-inpage-navigation__link {
  font: map.get(theme.$font, 'm');
  padding: map.get(theme.$spacing, 's')
    calc(#{map.get(theme.$spacing, 'xl')} - #{map.get(theme.$spacing, 'm')});

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    background-color: transparent;
    border: 0;
    border-left: $_inpage-link-border solid transparent;
    color: map.get(theme.$color, 'blue-100');
    display: block;
    font: map.get(theme.$font-prolonged, 'm');
    font-weight: map.get(theme.$font-weight, 'bold');
    padding: map.get(theme.$spacing, 'xs') map.get(theme.$spacing, 's')
      map.get(theme.$spacing, 'xs') map.get(theme.$spacing, 'xs');
  }

  &:hover {
    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      text-decoration: underline;
    }
  }

  &:focus {
    outline-offset: -3px;
  }

  .ecl-inpage-navigation--visible &,
  .ecl-inpage-navigation--visible &:hover {
    border-top: 1px solid map.get(theme.$color, 'blue-75');
    color: map.get(theme.$color, 'white-100');
    display: block;

    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      border-top-width: 0;
      color: map.get(theme.$color, 'blue-100');
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .ecl-inpage-navigation__item--active &,
  .ecl-inpage-navigation__item--active &:hover {
    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      background-color: map.get(theme.$color, 'grey-10');
      border-left-color: map.get(theme.$color, 'blue-100');
      color: map.get(theme.$color, 'grey-100');
    }
  }
}

.ecl-inpage-navigation__item:first-of-type .ecl-inpage-navigation__link {
  border-top-width: 0;
}

.ecl-inpage-navigation__link--is-active {
  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    background-color: map.get(theme.$color, 'grey-10');
    border-left-color: map.get(theme.$color, 'blue-100');
    color: map.get(theme.$color, 'grey-100');
  }
}

.ecl-inpage-navigation__body {
  .ecl-inpage-navigation--visible & {
    background-color: map.get(theme.$color, 'blue-110');
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    /* stylelint-disable-next-line order/order */
    @include breakpoints.up('l') {
      background: transparent;
      position: static;
    }
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.down('m') {
  .ecl-inpage-navigation__heading--active {
    &:first-of-type {
      padding-top: map.get(theme.$spacing, '4xl');
    }

    &:not(:first-of-type) {
      &::before {
        content: '';
        display: block;
        margin-top: -#{map.get(theme.$spacing, '4xl')};
        padding-top: map.get(theme.$spacing, '4xl');
        visibility: hidden;
      }
    }
  }
}
