@use 'sass:map';
@use '@ecl/theme-dev/theme';

// some variable declaration have to be done before
$_toggle-width: calc(
  #{map.get(theme.$spacing, 's')} + #{map.get(theme.$icon, 's')} + #{map.get(
      theme.$spacing,
      's'
    )}
);

@use 'inpage-navigation' with (
  $_border-radius: 8px,
  $_shadow: 0 0 6px rgba(map.get(theme.$color, 'blue-100'), 0.2),
  $_title: (
    'background': map.get(theme.$color, 'blue-100'),
    'color': map.get(theme.$color, 'white-100'),
    'text-transform': none,
  ),
  $_item: (
    'background': map.get(theme.$color, 'white-100'),
    'background-active': map.get(theme.$color, 'blue-10'),
    'separator': (
      's': map.get(theme.$color, 'blue-10'),
      'l': map.get(theme.$color, 'blue-10'),
    ),
    'font-weight': (
      's': map.get(theme.$font-weight, 'regular'),
      'l': map.get(theme.$font-weight, 'regular'),
    ),
    'color': (
      's': map.get(theme.$color, 'blue-100'),
      'l': map.get(theme.$color, 'blue-100'),
    ),
    'color-active': map.get(theme.$color, 'grey-80'),
    'text-decoration-hover': none,
  ),
  $_trigger: (
    'background': map.get(theme.$color, 'blue-100'),
    'padding': map.get(theme.$spacing, 's')
      calc(#{$_toggle-width} + #{map.get(theme.$spacing, 's')})
      map.get(theme.$spacing, 's') map.get(theme.$spacing, 's'),
    'separator': none,
  ),
  $_list: (
    'background': (
      's': transparent,
      'l': transparent,
    ),
  ),
  $_outline: (
    'color': map.get(theme.$color, 'blue-100'),
    'color-active': map.get(theme.$color, 'blue-100'),
    'offset': -2px,
  )
);
