@use 'sass:map';
@use '@ecl/theme-ec/theme';

// some variable declaration have to be done before
$_toggle-width: calc(
  #{map.get(theme.$spacing, 's')} + #{map.get(theme.$icon, 's')} + #{map.get(
      theme.$spacing,
      's'
    )}
);

@use 'inpage-navigation' with (
  $_border-radius: 0,
  $_shadow: none,
  $_title: (
    'background': transparent,
    'color': map.get(theme.$color, 'grey-100'),
    'text-transform': uppercase,
  ),
  $_item: (
    'background': transparent,
    'background-active': map.get(theme.$color, 'grey-10'),
    'separator': (
      's': map.get(theme.$color, 'blue-75'),
      'l': transparent,
    ),
    'font-weight': (
      's': map.get(theme.$font-weight, 'regular'),
      'l': map.get(theme.$font-weight, 'bold'),
    ),
    'color': (
      's': map.get(theme.$color, 'white-100'),
      'l': map.get(theme.$color, 'blue-100'),
    ),
    'color-active': map.get(theme.$color, 'grey-100'),
    'text-decoration-hover': underline,
  ),
  $_trigger: (
    'background':
      linear-gradient(
        to left,
        map.get(theme.$color, 'blue-120') $_toggle-width,
        map.get(theme.$color, 'blue-100') $_toggle-width
      ),
    'padding': map.get(theme.$spacing, 's')
      calc(#{$_toggle-width} + #{map.get(theme.$spacing, 's')})
      map.get(theme.$spacing, 's') map.get(theme.$spacing, 's'),
    'separator': 1px solid map.get(theme.$color, 'blue-120'),
  ),
  $_list: (
    'background': (
      's': map.get(theme.$color, 'blue-110'),
      'l': transparent,
    ),
  ),
  $_outline: (
    'color': map.get(theme.$color, 'white-100'),
    'color-active': map.get(theme.$color, 'blue-100'),
    'offset': -4px,
  )
);
