/*
 * Breadcrumbs
 * @define breadcrumb
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$breadcrumb: null !default;

.ecl-breadcrumb {
  background-color: map.get($theme, 'color', 'white');
  margin: 0;
}

.ecl-breadcrumb__container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 map.get($theme, 'spacing', 'm');

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.ecl-breadcrumb__segment {
  align-items: center;
  display: inline-flex;
  margin-top: map.get($theme, 'spacing', 'm');
  max-width: 100%;

  &[aria-hidden='true'] {
    position: absolute;
    visibility: hidden;

    /* Force display if JS is disabled */
    /* stylelint-disable-next-line max-nesting-depth */
    .no-js & {
      position: static;
      visibility: visible;
    }
  }
}

.ecl-breadcrumb__segment--ellipsis {
  &[aria-hidden='false'] {
    /* Force hide if JS is disabled */
    /* stylelint-disable-next-line max-nesting-depth */
    .no-js & {
      display: none;
    }
  }
}

.ecl-breadcrumb__ellipsis {
  background-color: map.get($breadcrumb, 'ellipsis-background-color');
  color: map.get($breadcrumb, 'ellipsis-color');
  font: map.get($breadcrumb, 'link-font');
  margin: 0;
  padding: 0 map.get($breadcrumb, 'ellipsis-padding-horizontal');

  &:hover {
    background-color: map.get($breadcrumb, 'ellipsis-background-color-hover');
    color: map.get($breadcrumb, 'ellipsis-color');
  }
}

.ecl-breadcrumb__link {
  font: map.get($breadcrumb, 'link-font');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ecl-breadcrumb__icon {
  fill: map.get($breadcrumb, 'icon-color');
  flex-shrink: 0;
  margin-inline-start: map.get($breadcrumb, 'icon-spacing');
  margin-inline-end: map.get($breadcrumb, 'icon-spacing');
  vertical-align: text-bottom;
}

.ecl-breadcrumb__current-page {
  color: map.get($breadcrumb, 'last-link-color');
  font: map.get($breadcrumb, 'link-font');
  font-weight: map.get($breadcrumb, 'link-font-weight');
}

/*
 * Negative variant - Core EC
 */
.ecl-breadcrumb--negative {
  background-color: map.get($theme, 'color', 'blue-100');

  .ecl-breadcrumb__ellipsis {
    color: map.get($theme, 'color', 'white-100');

    &:hover {
      background-color: map.get($theme, 'color', 'blue-120');
    }
  }

  .ecl-breadcrumb__icon {
    fill: map.get($theme, 'color', 'white-100');
  }

  .ecl-breadcrumb__current-page {
    color: map.get($theme, 'color', 'blue-25');
  }
}
