/*
 * Breadcrumbs
 * @define breadcrumb
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$breadcrumb: null !default;

.ecl-breadcrumb {
  background-color: map.get($theme, 'color', 'white');
  font: map.get($breadcrumb, 'font-mobile');
  line-height: map.get($theme, 'line-height', 'm');
  margin: 0;
}

.ecl-breadcrumb__container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 map.get($breadcrumb, 'padding-vertical');

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.ecl-breadcrumb__segment {
  align-items: center;
  display: inline-flex;
  margin-top: map.get($breadcrumb, 'padding-vertical');
  max-width: 100%;

  &[aria-hidden='true'] {
    position: absolute;
    visibility: hidden;

    /* Force display if JS is disabled */
    .no-js & {
      position: static;
      visibility: visible;
    }
  }
}

.ecl-breadcrumb__segment--ellipsis {
  &[aria-hidden='false'] {
    /* Force hide if JS is disabled */
    .no-js & {
      display: none;
    }
  }
}

.ecl-breadcrumb__ellipsis {
  background-color: map.get($breadcrumb, 'ellipsis', 'background');
  color: map.get($breadcrumb, 'ellipsis', 'color');
  font: map.get($breadcrumb, 'link-font');
  font-weight: map.get($breadcrumb, 'ellipsis', 'font-weight');
  margin: -#{map.get($breadcrumb, 'ellipsis', 'offset-vertical')} -#{map.get(
      $breadcrumb,
      'ellipsis',
      'offset-horizontal'
    )};

  &:hover {
    background-color: map.get($breadcrumb, 'ellipsis', 'background-hover');
    color: map.get($breadcrumb, 'ellipsis', 'color');
  }
}

.ecl-breadcrumb__link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ecl-breadcrumb__icon {
  fill: map.get($breadcrumb, 'icon-color');
  flex-shrink: 0;
  margin-inline-start: map.get($breadcrumb, 'icon-spacing');
  margin-inline-end: map.get($breadcrumb, 'icon-spacing');
  transform: map.get($breadcrumb, 'icon-transform-mobile');
  vertical-align: text-bottom;
}

.ecl-breadcrumb__current-page {
  color: map.get($breadcrumb, 'last-link-color');
  font: map.get($breadcrumb, 'link-font');
  font-weight: map.get($breadcrumb, 'link-font-weight');
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-breadcrumb {
    font: map.get($breadcrumb, 'font-desktop');
    line-height: map.get($theme, 'line-height', 'm');
  }

  .ecl-breadcrumb__icon {
    transform: map.get($breadcrumb, 'icon-transform-desktop');
  }
}
