<style type="text/css">
  .example span{
    display: block;
  }
</style>

<h3 class="ecl-heading ecl-heading--h3">Main color utilities</h3>
<p class="example">
  <span class="ecl-u-bg-primary" style="color: #fff">ecl-u-bg-primary</span>
  <span class="ecl-u-bg-secondary">ecl-u-bg-secondary</span>
  <span class="ecl-u-bg-shade" style="color: #fff">ecl-u-bg-shade</span>
</p>

<p class="example">
  <span class="ecl-u-color-primary">ecl-u-color-primary</span>
  <span class="ecl-u-color-shade">ecl-u-color-shade</span>
</p>

<h3 class="ecl-heading ecl-heading--h3">Notification color utilities</h3>
<p class="example">
  <span class="ecl-u-bg-info" style="color: #fff">ecl-u-bg-info</span>
  <span class="ecl-u-bg-warning" style="color: #fff">ecl-u-bg-warning</span>
  <span class="ecl-u-bg-success" style="color: #fff">ecl-u-bg-success</span>
  <span class="ecl-u-bg-error" style="color: #fff">ecl-u-bg-error</span>
</p>

<p class="example">
  <span class="ecl-u-color-info">ecl-u-color-info</span>
  <span class="ecl-u-color-warning">ecl-u-color-warning</span>
  <span class="ecl-u-color-success">ecl-u-color-success</span>
  <span class="ecl-u-color-error">ecl-u-color-error</span>
</p>

<h3 class="ecl-heading ecl-heading--h3">Other background color utilities</h3>
<p class="example">
  <span class="ecl-u-bg-blue-120" style="color: #fff">ecl-u-bg-blue-120</span>
  <span class="ecl-u-bg-blue-110" style="color: #fff">ecl-u-bg-blue-110</span>
  <span class="ecl-u-bg-blue-100" style="color: #fff">ecl-u-bg-blue-100</span>
  <span class="ecl-u-bg-blue-75" style="color: #fff">ecl-u-bg-blue-75</span>
  <span class="ecl-u-bg-blue-50">ecl-u-bg-blue-50</span>
  <span class="ecl-u-bg-blue-25">ecl-u-bg-blue-25</span>
</p>

<p class="example">
  <span class="ecl-u-bg-yellow-120">ecl-u-bg-yellow-120</span>
  <span class="ecl-u-bg-yellow-110">ecl-u-bg-yellow-110</span>
  <span class="ecl-u-bg-yellow-100">ecl-u-bg-yellow-100</span>
  <span class="ecl-u-bg-yellow-75">ecl-u-bg-yellow-75</span>
  <span class="ecl-u-bg-yellow-50">ecl-u-bg-yellow-50</span>
  <span class="ecl-u-bg-yellow-25">ecl-u-bg-yellow-25</span>
</p>

<p class="example">
  <span class="ecl-u-bg-grey-100" style="color: #fff">ecl-u-bg-grey-100</span>
  <span class="ecl-u-bg-grey-75" style="color: #fff">ecl-u-bg-grey-75</span>
  <span class="ecl-u-bg-grey-50" style="color: #fff">ecl-u-bg-grey-50</span>
  <span class="ecl-u-bg-grey-25">ecl-u-bg-grey-25</span>
  <span class="ecl-u-bg-grey-15">ecl-u-bg-grey-15</span>
  <span class="ecl-u-bg-grey-10">ecl-u-bg-grey-10</span>
  <span class="ecl-u-bg-grey-5">ecl-u-bg-grey-5</span>
  <span class="ecl-u-bg-white">ecl-u-bg-white</span>
</p>

<h3 class="ecl-heading ecl-heading--h3">Other text color utilities</h3>
<p class="example">
  <span class="ecl-u-color-blue-120">ecl-u-color-blue-120</span>
  <span class="ecl-u-color-blue-110">ecl-u-color-blue-110</span>
  <span class="ecl-u-color-blue-100">ecl-u-color-blue-100</span>
  <span class="ecl-u-color-blue-75">ecl-u-color-blue-75</span>
  <span class="ecl-u-color-blue-50" style="background-color: #404040">ecl-u-color-blue-50</span>
  <span class="ecl-u-color-blue-25" style="background-color: #404040">ecl-u-color-blue-25</span>
</p>

<p class="example">
  <span class="ecl-u-color-grey-100">ecl-u-color-grey-100</span>
  <span class="ecl-u-color-grey-75">ecl-u-color-grey-75</span>
  <span class="ecl-u-color-grey-50">ecl-u-color-grey-50</span>
  <span class="ecl-u-color-grey-25" style="background-color: #404040">ecl-u-color-grey-25</span>
  <span class="ecl-u-color-grey-15" style="background-color: #404040">ecl-u-color-grey-15</span>
  <span class="ecl-u-color-grey-10" style="background-color: #404040">ecl-u-color-grey-10</span>
  <span class="ecl-u-color-grey-5" style="background-color: #404040">ecl-u-color-grey-5</span>
  <span class="ecl-u-color-white" style="background-color: #404040">ecl-u-color-white</span>
</p>
