<style type="text/css">
  .example span{
    display: block;
  }
</style>

<h3 class="ecl-h ecl-h--h3">Main color utilities</h3>
<p class="example">
  <span class="ecl-bg-primary" style="color: #fff">ecl-bg-primary</span>
  <span class="ecl-bg-secondary">ecl-bg-secondary</span>
  <span class="ecl-bg-shade" style="color: #fff">ecl-bg-shade</span>
</p>

<p class="example">
  <span class="ecl-text-primary">ecl-text-primary</span>
  <span class="ecl-text-shade">ecl-text-shade</span>
</p>

<h3 class="ecl-h ecl-h--h3">Notification color utilities</h3>
<p class="example">
  <span class="ecl-bg-info" style="color: #fff">ecl-bg-info</span>
  <span class="ecl-bg-warning" style="color: #fff">ecl-bg-warning</span>
  <span class="ecl-bg-success" style="color: #fff">ecl-bg-success</span>
  <span class="ecl-bg-error" style="color: #fff">ecl-bg-error</span>
</p>

<p class="example">
  <span class="ecl-text-info">ecl-text-info</span>
  <span class="ecl-text-warning">ecl-text-warning</span>
  <span class="ecl-text-success">ecl-text-success</span>
  <span class="ecl-text-error">ecl-text-error</span>
</p>

<h3 class="ecl-h ecl-h--h3">Other background color utilities</h3>
<p class="example">
  <span class="ecl-bg-blue-120" style="color: #fff">ecl-bg-blue-120</span>
  <span class="ecl-bg-blue-110" style="color: #fff">ecl-bg-blue-110</span>
  <span class="ecl-bg-blue-100" style="color: #fff">ecl-bg-blue-100</span>
  <span class="ecl-bg-blue-75" style="color: #fff">ecl-bg-blue-75</span>
  <span class="ecl-bg-blue-50">ecl-bg-blue-50</span>
  <span class="ecl-bg-blue-25">ecl-bg-blue-25</span>
</p>

<p class="example">
  <span class="ecl-bg-yellow-120">ecl-bg-yellow-120</span>
  <span class="ecl-bg-yellow-110">ecl-bg-yellow-110</span>
  <span class="ecl-bg-yellow-100">ecl-bg-yellow-100</span>
  <span class="ecl-bg-yellow-75">ecl-bg-yellow-75</span>
  <span class="ecl-bg-yellow-50">ecl-bg-yellow-50</span>
  <span class="ecl-bg-yellow-25">ecl-bg-yellow-25</span>
</p>

<p class="example">
  <span class="ecl-bg-grey-100" style="color: #fff">ecl-bg-grey-100</span>
  <span class="ecl-bg-grey-75" style="color: #fff">ecl-bg-grey-75</span>
  <span class="ecl-bg-grey-50" style="color: #fff">ecl-bg-grey-50</span>
  <span class="ecl-bg-grey-25">ecl-bg-grey-25</span>
  <span class="ecl-bg-grey-15">ecl-bg-grey-15</span>
  <span class="ecl-bg-grey-10">ecl-bg-grey-10</span>
  <span class="ecl-bg-grey-5">ecl-bg-grey-5</span>
  <span class="ecl-bg-white">ecl-bg-white</span>
</p>

<h3 class="ecl-h ecl-h--h3">Other text color utilities</h3>
<p class="example">
  <span class="ecl-text-blue-120">ecl-text-blue-120</span>
  <span class="ecl-text-blue-110">ecl-text-blue-110</span>
  <span class="ecl-text-blue-100">ecl-text-blue-100</span>
  <span class="ecl-text-blue-75">ecl-text-blue-75</span>
  <span class="ecl-text-blue-50" style="background-color: #404040">ecl-text-blue-50</span>
  <span class="ecl-text-blue-25" style="background-color: #404040">ecl-text-blue-25</span>
</p>

<p class="example">
  <span class="ecl-text-grey-100">ecl-text-grey-100</span>
  <span class="ecl-text-grey-75">ecl-text-grey-75</span>
  <span class="ecl-text-grey-50">ecl-text-grey-50</span>
  <span class="ecl-text-grey-25" style="background-color: #404040">ecl-text-grey-25</span>
  <span class="ecl-text-grey-15" style="background-color: #404040">ecl-text-grey-15</span>
  <span class="ecl-text-grey-10" style="background-color: #404040">ecl-text-grey-10</span>
  <span class="ecl-text-grey-5" style="background-color: #404040">ecl-text-grey-5</span>
  <span class="ecl-text-white" style="background-color: #404040">ecl-text-white</span>
</p>
