/*
File
*/

/*
File download default
*/

.file {
  @extend %hidden-print;
  @extend .row !optional;

  margin: 0 0 0.944em;
  padding: 1.333em;
  background-color: $grey-lighter;
}

.file__icon {
  @extend .col-md-1 !optional;
  @extend .col-sm-1 !optional;

  float: left;
  height: 2.556em;
  // We remove on the left (as the image has some whitespace) as it causes
  // a wrong looking margin. Then we add back the margin on the right, to have
  // more spacing between those fields.
  margin-right: 0.1em;
  margin-left: -0.315em;
  padding: 0;
  text-align: center;

  &::before {
    font-size: 2.556em;
    color: $grey;
  }
}

.file__metadata {
  @extend .col-md-6 !optional;
  @extend .col-sm-6 !optional;
  @extend .col-xs-10 !optional;

  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  line-height: 1;
}

.file__title {
  line-height: initial;
  font-weight: bold;
}

.file__caption {
  @include media-caption();
}

.file__language {
  display: block;
  margin-top: 0.556em;
  line-height: initial;
  font-size: map-get($font-size, 's');
  font-weight: bold;
}

.file__info {
  margin-top: 0.778em;
  line-height: initial;
  font-size: map-get($font-size, 'xs');
}

.file__content-language {
  font-weight: bold;
}

.file__btn {
  @extend .col-md-4 !optional;
  @extend .col-sm-4 !optional;
  @extend .col-xs-12 !optional;

  margin-top: 0.778em;
  margin-bottom: 0;

  &::after {
    @extend %icon--after;
    @extend %icon--download;
  }
}

// Modifications in the translations under a normal file.
.file--bare {
  margin: 0;
  padding: 0.722em 0;
  background-color: transparent;

  .file__btn {
    border: none;

    &:hover {
      color: $text-color;
    }
  }

  .file__icon {
    display: none;
  }
}

/*
File download with translations
*/

.file__translations {
  margin-bottom: 1em;
  padding: 0 1.45em;
  font-size: map-get($font-size, 's');
  text-align: right;

  .file__translations-control {
    margin-top: 0.444em;
    font-size: map-get($font-size, 'm');
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      color: $black;
      text-decoration: underline;

      &::after {
        color: $black;
      }
    }

    // The arrow, rotating on collapse change.
    &::after {
      @extend %icon--after;
      @extend %icon--down;
      @extend %icon--blue-dark;

      position: relative;
      margin-left: 0.525em !important;

      transition: all 0.3s ease 0s;
    }

    &.is-collapsed {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .file__translations-list {
    list-style: none;
    margin: 0.944em 0 0;
    padding: 0;
    text-align: left;

    .btn--condensed {
      margin-right: -1em;
    }

    // Make it self scaling.
    @media (max-width: map-get($grid-breakpoints, 'sm')) {
      .btn--condensed {
        margin-left: -1em;
        margin-right: 0;
      }
    }
  }

  .file__translations-item {
    border-top: 1px solid $grey;

    &:last-child {
      border-bottom: 1px solid $grey;
    }
  }

  .file__metadata {
    @extend .col-md-6 !optional;
    @extend .col-sm-6 !optional;
    @extend .col-xs-12 !optional;

    padding-left: 0;
    padding-right: 0;
  }

  // "Looking for another language ...".
  .file__translations-details {
    @extend .file__translations-item;

    padding-top: 0.5em;
    font-size: map-get($font-size, 's');
  }
}

/*
File link
*/
.file--link {
  background-color: transparent;

  .file__metadata--link {
    @extend .col-md-10 !optional;
    @extend .col-sm-10 !optional;
    @extend .col-xs-10 !optional;

    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: 1;
  }

  .ecl-icon--file-link {
    background: url("../images/svg/icons/link.svg") no-repeat center 10%;
    width: 2.8em;
  }
}

.no-svg {
  .ecl-icon--file-link {
    background-image: url("../images/png/icons/link.png");
  }
}

@include media-breakpoint-up(sm) {
  .file__icon {
    width: auto;
    padding: 0;
  }

  .file__translations {
    padding-left: 4.475em;
  }

  .file__metadata {
    float: left;
    overflow: hidden;
  }

  .file {
    .file__btn {
      float: right;
      margin-top: 0;
      overflow: hidden;
    }
  }
}

/*
File image

Displays the file image.

Markup: html/file--image.html

Style guide: file.4
*/

.file--image {
  display: block;
  padding: 0;
  background-color: transparent;
}

/*
File video

Displays the file video.

Markup: html/file--video.html

Style guide: file.5
*/

.file--video {
  padding: 0;
  background-color: transparent;

  .file__container {
    @extend .embed-responsive !optional;
    @extend .embed-responsive-16by9 !optional;
  }

  iframe {
    @extend .embed-responsive-item !optional;
  }
}
