<div class="file">
  <span class="icon icon--file file__icon"></span>
  <div class="file__metadata">
    <span class="file__title">Belgium - Country factsheets</span>
    <div class="file__info">
      <span class="file__content-language">English</span> (392.23 KB - PDF - 2 pages)
    </div>
  </div>
  <a href="#" class="btn btn-default file__btn">
    Download<span class="ecl-sr-only">(392.23 KB - PDF - 2 pages)</span>
  </a>
</div>

<div class="file__translations" id="file-translations">
  <a href="#file" class="file__translations-control" title="Click to see translations" data-toggle="collapse" data-parent="#file-translations" aria-expanded="false" aria-controls="file">Available languages (3)</a>
  <ul id="file" class="file__translations-list collapse in"><!-- Class .in is just for the style guide -->
    <li class="file__translations-item">
      <div class="file file--bare">
        <div class="file__metadata">
          <span class="file__title">Name language</span>
          <div class="file__info">(392.23 KB - PDF - 2 pages)</div>
        </div>
        <a href="#" class="btn file__btn btn--condensed is-internal">
          Download<span class="ecl-sr-only">(392.23 KB - PDF - 2 pages)</span>
        </a>
      </div>
    </li>
    <li class="file__translations-item">
      <div class="file file--bare">
        <div class="file__metadata">
          <span class="file__title">Name language</span>
          <div class="file__info">(392.23 KB - PDF - 2 pages)</div>
        </div>
        <a href="#" class="btn file__btn btn--condensed is-internal">
          Download<span class="ecl-sr-only">(392.23 KB - PDF - 2 pages)</span>
        </a>
      </div>
    </li>
    <li class="file__translations-item">
      <div class="file file--bare">
        <div class="file__metadata">
          <span class="file__title">Name language</span>
          <div class="file__info">(392.23 KB - PDF - 2 pages)</div>
        </div>
        <a href="#" class="btn file__btn btn--condensed is-internal">
          Download<span class="ecl-sr-only">(392.23 KB - PDF - 2 pages)</span>
        </a>
      </div>
    </li>
  </ul>
</div>
