<div class="file file--bare">
  <span class="icon icon--file file__icon"></span>
  <div class="file__metadata">
    <span class="file__title">File title example</span>
    <div class="file__info">
      <span class="file__content-language">English</span> (213.25 kB - PDF - 4 pages)
    </div>
  </div>
  <a href="#" class="btn file__btn btn--condensed is-internal">
    Download<span class="sr-only">(213.25 kB - PDF - 4 pages)</span>
  </a>
</div>
