<div style="width: 50%;"> <!-- only required for the style guide -->
  <div class="file file--video">
    <div class="file__container">
      <iframe src="http://ec.europa.eu/avservices/play.cfm?ref=I101631" allowfullscreen="allowfullscreen" scrolling="no"></iframe>
    </div>
    <span class="file__caption">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </span>
  </div>
</div>
