.container {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  padding-block-end: 15rem;
  transition: margin-left 300ms ease;

  :global(.no-js) & {
    @media screen and (width >= 996px) {
      margin-left: 17rem;
    }
  }
}

.container--with-sidebar,
[data-container-with-sidebar] {
  @media screen and (width >= 996px) {
    margin-left: 17rem;
  }
}
