/**
 * Site header
 * @define site-header ; weak
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-site-header() {
  .ecl-site-header {
    background-color: #fff;
    margin: 0;
    width: 100%;
  }

  .ecl-site-header__banner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: map-get($ecl-spacing, 's');
    padding-top: map-get($ecl-spacing, 's');
  }

  .ecl-site-header__banner > * {
    margin-top: map-get($ecl-spacing, 's');
  }

  // If the logo is linking to an external page do not show the external icon.
  .ecl-site-header__logo {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .ecl-site-header__language-list {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  .ecl-site-header__search {
    flex-grow: 1;
  }

  .ecl-site-header__user-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(lg) {
    .ecl-site-header__user-menu {
      display: block;
      width: auto;
    }
  }
}
