/*
 * Language selector (page level)
 * @define lang-select-page
 *
 * Note: `.ecl-lang-select-page--dropdown` is automatically added/removed (JS)
 */

// TODO: SWITCH ecl-lang-select-page--dropdown with JS

// Import base
@import '@ecl/generic-base/generic-base';
@import '@ecl/generic-component-form-select/generic-component-form-select';

@mixin ecl-lang-select-page() {
  .ecl-lang-select-page {
    @include ecl-hidden-print();

    align-items: center;
    background-color: map-get($ecl-colors, 'grey-5');
    border-bottom: 1px solid map-get($ecl-colors, 'grey-50');
    color: $ecl-color-shade;
    display: flex;
    flex-wrap: nowrap;
    font-size: map-get($ecl-font-size, 'xs');
    margin: 0;
    min-height: 3rem;
    overflow: hidden;

    .no-js & {
      flex-wrap: wrap;
    }
  }

  .ecl-lang-select-page__icon {
    @include ecl-hidden-print();

    flex-grow: 0;
    flex-shrink: 0;
    font-size: map-get($ecl-font-size, 'xl');
  }

  .ecl-lang-select-page__unavailable {
    padding: map-get($ecl-spacing, 's') map-get($ecl-spacing, 'xs');
    text-decoration: line-through;

    @include ecl-media-breakpoint-up(sm) {
      margin-right: map-get($ecl-spacing, 'l');
    }
  }

  .ecl-lang-select-page__list {
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex-wrap: no-wrap;
    margin: 0;
    padding: 0;

    .ecl-lang-select-page--dropdown & {
      position: absolute;
      visibility: hidden;
    }

    .no-js & {
      flex-grow: 1;
      flex-wrap: wrap;
    }
  }

  .ecl-lang-select-page__option {
    align-items: center;
    display: flex;
    list-style: none;
    padding: map-get($ecl-spacing, 's') map-get($ecl-spacing, 'xs');
  }

  .ecl-lang-select-page__option--is-selected {
    background-color: map-get($ecl-colors, 'yellow-100');
    color: #000;
    font-weight: bold;
  }

  .ecl-lang-select-page__dropdown {
    @include ecl-hidden-print();
    @include ecl-select-list-arrow(
      $background-color: transparent,
      $arrow-grey: true
    );

    align-self: stretch;
    appearance: none;
    border: 0;
    border-radius: 0;
    color: $ecl-color-shade;
    cursor: pointer;
    font-size: map-get($ecl-font-size, 'xs');
    font-weight: bold;
    padding: map-get($ecl-spacing, 's') map-get($ecl-spacing, 'l')
      map-get($ecl-spacing, 's') map-get($ecl-spacing, 's');
    position: absolute;
    visibility: hidden;

    // Fix for IE 10+.
    &::-ms-expand {
      display: none;
    }

    .ecl-lang-select-page--dropdown & {
      position: static;
      visibility: visible;
    }
  }

  // Useful in Firefox
  .ecl-lang-select-page__dropdown-option {
    padding: map-get($ecl-spacing, 'xxs');
  }

  /* Variant */

  .ecl-lang-select-page--primary {
    background-color: $ecl-color-primary;
    border-bottom: 1px solid #fff;
    color: #fff;

    .ecl-lang-select-page__dropdown {
      @include ecl-select-list-arrow(
        $background-color: map-get($ecl-colors, 'blue-110'),
        $arrow-grey: false
      );

      background-color: map-get($ecl-colors, 'blue-110');
      color: #fff;
    }
  }
}
