/*
 * Hero banner
 * @define hero-banner; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-hero-banner-print() {
  .ecl-hero-banner {
    margin: 0;
    padding-bottom: $ecl-spacing-print-xl;
    padding-top: $ecl-spacing-print-xl;
  }

  .ecl-hero-banner__title {
    color: $ecl-color-black-100;
    font: $ecl-font-print-4-xl;
    font-family: $ecl-font-family-print-alt;
    margin-bottom: 0;
    margin-top: 0;
  }

  .ecl-hero-banner__description {
    color: $ecl-color-black-100;
    font: $ecl-font-prolonged-print-l;
    margin-bottom: 0;
    margin-top: $ecl-spacing-print-m;
  }

  .ecl-hero-banner__description + .ecl-link {
    margin-top: $ecl-spacing-print-m;
  }

  .ecl-hero-banner__meta {
    font: $ecl-font-print-m;
    margin-bottom: $ecl-spacing-print-m;
  }

  /*
   * variant: ghost inverted
   */
  .ecl-hero-banner--ghost-invert {
    .ecl-hero-banner__meta,
    .ecl-hero-banner__title,
    .ecl-hero-banner__description,
    .ecl-hero-banner__link-cta {
      color: $ecl-color-white;
    }
  }
}

// Use mixin
@include exports('eu-component-hero-banner-print') {
  @include ecl-hero-banner-print();
}
