/**
 * Buttons component
 * @define form-label
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-form-label() {
  .ecl-form-label {
    box-sizing: border-box;
    color: $ecl-color-text;
    display: block;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    margin: 0;
    padding: 0;
  }

  .ecl-form-label--invalid {
    color: $ecl-color-error;
  }
}

// Use mixin
@include exports('eu-component-form-label') {
  @include ecl-form-label();
}
