/**
 * Footers component
 * @define footer
 */

// Import base
@import '@ecl/eu-base/eu-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(
  ('eu-layout-grid', 'eu-component-link', 'eu-component-icon')
);

@mixin ecl-footer(
  $background-identity: $ecl-color-grey-5,
  $color-identity: $ecl-color-grey-100,
  $border-identity: $ecl-color-blue-100,
  $background-sections: $ecl-color-grey-15,
  $color-section: $ecl-color-grey-100,
  $border-section: $ecl-color-grey-25,
  $background-common: $ecl-color-grey-20,
  $color-common: $ecl-color-grey-100
) {
  .ecl-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  /*
   * Back to top
   */
  .ecl-footer__back-to-top {
    align-self: flex-end;
    background-color: $background-sections;
    color: $color-section;
    display: none;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    margin: 0;
    padding: $ecl-spacing-s $ecl-spacing-m;

    &:hover,
    &:focus {
      color: $color-section;
      outline-offset: -3px;
    }
  }

  .ecl-footer--custom .ecl-footer__back-to-top {
    background-color: $background-identity;
    color: $color-identity;

    &:hover,
    &:focus {
      color: $color-identity;
      outline-offset: -3px;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('sm') {
    .ecl-footer__back-to-top {
      display: block;
    }
  }

  /*
   * Identity
   */
  .ecl-footer__identity {
    background-color: $background-identity;
    border-bottom: 4px solid $border-identity;
    color: $color-identity;
    padding-bottom: $ecl-spacing-l;
    padding-top: $ecl-spacing-l;
  }

  .ecl-footer__identity-title {
    font: $ecl-font-m;
    margin-bottom: 0;
    margin-top: 0;
  }

  .ecl-footer__identity-follow {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    font: $ecl-font-s;
  }

  .ecl-footer__identity-label {
    margin-right: $ecl-spacing-xs;
    margin-top: $ecl-spacing-m;
  }

  .ecl-footer__identity-info {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }

  .ecl-footer__identity-link {
    font: $ecl-font-s;
    margin-right: $ecl-spacing-xl;
    margin-top: $ecl-spacing-m;

    &:first-child {
      margin-top: $ecl-spacing-l;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-footer__identity-link:first-child {
      margin-top: $ecl-spacing-m;
    }
  }

  /*
   * Sections
   */
  .ecl-footer__sections {
    background-color: $background-sections;
    padding-bottom: $ecl-spacing-l;
  }

  .ecl-footer__section-title {
    border-bottom: 2px solid $border-section;
    color: $color-section;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    margin-bottom: $ecl-spacing-m;
    margin-top: $ecl-spacing-l;
    padding-bottom: $ecl-spacing-s;
  }

  .ecl-footer__section-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .ecl-footer__section-list--short {
    display: block;
  }

  .ecl-footer__section-list--long {
    display: none;
  }

  .ecl-footer__section-item {
    color: $color-section;
    display: block;
    font: $ecl-font-s;
    margin-top: $ecl-spacing-m;
  }

  .ecl-footer__columns .ecl-footer__section-item {
    display: inline-block;
    width: 100%;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('sm') {
    .ecl-footer__columns {
      column-count: 2;

      .ecl-footer--updated & {
        column-count: 1;
      }
    }

    .ecl-footer__sections {
      padding-bottom: $ecl-spacing-xl;
    }

    .ecl-footer__section-title {
      margin-bottom: $ecl-spacing-l;
      margin-top: $ecl-spacing-xl;
    }

    .ecl-footer__section-list--short {
      display: none;
    }

    .ecl-footer__section-list--long {
      display: block;
      margin-top: -($ecl-spacing-m);
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-footer__columns {
      column-count: 3;

      .ecl-footer--updated & {
        column-count: 2;
      }
    }
  }

  /*
   * Common
   */
  .ecl-footer__common {
    background-color: $background-common;
    color: $color-common;
    font: $ecl-font-s;
    padding-bottom: $ecl-spacing-l;
    padding-top: $ecl-spacing-l;
  }

  .ecl-footer__common-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -($ecl-spacing-m);
  }

  .ecl-footer__common-label {
    border-right: 1px solid $ecl-color-grey-50;
    margin-bottom: $ecl-spacing-m;
    margin-right: $ecl-spacing-l;
    padding-right: $ecl-spacing-l;
  }

  .ecl-footer__common-link {
    margin-bottom: $ecl-spacing-m;
    margin-right: $ecl-spacing-xl;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Use mixin
@include exports('eu-component-footer') {
  @include ecl-footer;
}
