html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
}

body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.Header {
  background-color: #004494;
}

.Frame-panel--sidebar {
  background-color: #fafafa;
  padding: 2rem 0;
}

[dir="ltr"] .Frame-panel--sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.Navigation-group + .Navigation-group {
  margin-top: 3rem;
}

.Tree-items {
  border-top: 1px solid #e0e6ed;
  border-bottom: 1px solid #e0e6ed;
}

.Tree-items > li + li {
  border-top: 1px solid #e0e6ed;
}

.Tree-collectionItems {
  border-top: 1px solid #e5ebf4;
}

.Tree-depth-1 li {
  line-height: 2;
  font-size: 1rem;
}

.Tree-depth-1 > li {
  line-height: 3;
  font-size: 1.05rem;
}

.Tree-item {
  font: inherit;
}

.Tree-entityLink {
  color: #364149;
}

.is-current .Tree-entityLink {
  color: #008cff;
}

.Tree-collectionItems {
  background-color: #f5f5f5;
}

.Tree-collectionItems .Tree-collectionItems {
  background-color: #f2f2f2;
}

.Tree-collectionItems .Tree-collectionItems .Tree-collectionItems {
  background-color: #efefef;
}

.Tree-collectionLabel {
  font: inherit;
}

.Tree-collectionLabel:hover {
  background-color: rgba(83, 83, 99, 0.12);
}

.Tree-collectionLabel span::before {
  display: none;
}

.Tree-collectionLabel span::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.75rem;
  height: 0.75rem;
  background-image: url(../themes/mandelbrot/img/icon-navigation-opened.svg);
  background-size: 0.8rem;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.6;
  content: "";
}

[dir="ltr"] .Tree-collectionLabel span::after {
  right: 1rem;
}

[dir="ltr"] .Tree-collection.is-closed .Tree-collectionLabel span::after {
  background-image: url(../themes/mandelbrot/img/icon-navigation-closed-ltr.svg);
}

/* Components search */
#search-components {
  width: 100%;
  padding: 0.5em;
}

.Tree-search {
  padding: 0 1rem;
}
