/*
Inpage navigation

Floating menu containing links to headings in a long page.
Note: Style guide implementation is not complete. TODO: Refactor Drupal js to be
technology agnostic.

Markup: html/inpage-nav.html

Style guide inpagenav
*/

.inpage-nav__wrapper {
  @extend %hidden-print;

  margin-bottom: 1.667em;

  &.affix,
  &.affix-top {
    position: relative;
  }
}

.inpage-nav {
  .inpage-nav__list {
    margin: 0 0 0 -11px !important;
    padding-left: 0 !important;
    list-style: none;

    li {
      &.active {
        .inpage_nav__list-item {
          background-color: $grey-lighter;
          border-color: $brand-primary;
        }
      }
    }
  }

  .inpage_nav__list-item {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 8px;
    color: $black;
    font-size: map-get($font-size, 's');
    font-weight: bold;
    border-left: 3px solid transparent;
    text-decoration: none;

    &:hover {
      background: none;
      text-decoration: underline;
    }

    &:focus {
      background-color: $yellow-light !important;
      outline: none;
      text-decoration: underline;
    }
  }
}

.inpage-nav__navbar {
  background-color: $white;
  color: $white;

  .inpage-nav__current-wrapper {
    overflow: hidden;
  }

  .inpage-nav__current,
  .inpage-nav__help {
    padding-bottom: 0;
  }

  .inpage-nav__current {
    display: block;
    width: 100%;
    padding-top: 1em;
    overflow: hidden;
    font-size: map-get($font-size, 'm');
    font-weight: bold;
    color: $white;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      color: $white;
    }
  }

  .inpage-nav__help {
    display: none;
    padding-top: 1.35em;
    background-color: $grey-lighter;
    font-size: map-get($font-size, 'xs');
    color: $grey-dark;
    text-transform: uppercase;
  }

  .inpage-nav__title {
    display: block;
    padding: 1em;
    line-height: 1;
    font-size: map-get($font-size, 'm');
    font-weight: bold;
  }

  .inpage-nav__toggle {
    @extend .btn;

    margin: 0;
    padding: 1em;
    background-color: $blue-darkest;
    border-color: $blue-darkest;

    &:hover,
    &:active,
    &:focus {
      background-color: $blue-darkest;
      color: $white;
      text-decoration: none;
    }
  }

  .inpage-nav__icon-arrow {
    display: block;
    margin: 5px 4px;
    font-size: 10px;
    color: $white;

    transition: all 0.3s ease 0s;

    transform-origin: 50% 50%;

    &::before {
      margin-right: 0;
    }
  }

  .inpage-nav__close-text {
    display: none;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .inpage-nav__header {
    margin: 0;
  }

  .inpage-nav__container {
    width: auto;
    padding: 0;
    background-color: $blue-dark;

    .navbar-collapse {
      max-height: none;
    }
  }

  .inpage-nav__list--navbar {
    padding: 0 15px;

    li {
      &.active {
        .inpage_nav__list-item {
          color: inherit;
        }
      }

      .inpage_nav__list-item {
        padding: 0.8em 0 0.8em 1em;
        font-size: map-get($font-size, 's');
        color: $white;
        border-top: 1px solid $blue-darkest;

        &:hover,
        &:focus {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }
}

.inpage-nav__navbar-wrapper {
  display: none;

  &.is-active {
    display: inherit;
  }

  &.is-collapsed,
  &.is-collapsing {
    .inpage-nav__navbar {
      height: 100%;
    }

    .inpage-nav__help,
    .inpage-nav__close-text {
      display: block;
    }

    .inpage-nav__current {
      display: none;
    }

    .inpage-nav__header {
      background-color: $grey-lighter;
      font-weight: normal;
    }

    .inpage-nav__toggle {
      background-color: $grey;
      border-color: $grey;

      .inpage-nav__icon-arrow {
        color: $grey-dark;

        transform: rotate(180deg);
      }
    }
  }
}

.inpage-nav__block-title {
  display: inherit;
  font-size: 1rem;
  font-weight: normal;
  color: $grey-dark;
  text-transform: uppercase;
}

.is-inpage-nav-open {
  overflow: hidden;

  .inpage-nav__navbar {
    overflow: auto;
  }
}

@include media-breakpoint-up(md) {
  .inpage-nav__wrapper {
    &.affix,
    &.affix-top {
      top: 0;
    }

    &.affix {
      position: fixed;
      top: 0;
      padding-top: 30px;
    }

    &.affix-bottom {
      position: absolute;
    }
  }

  .inpage-nav__navbar-wrapper.is-active {
    display: none;
  }
}
