/**
 * Clearfix utilities
 * @define u-clearfix
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-utility-clearfix() {
  .ecl-u-clearfix::after {
    clear: both !important;
    content: '' !important;
    display: block !important;
  }
}

// Use mixin
@include exports('ec-utility-clearfix') {
  @include ecl-utility-clearfix;
}
