/**
 * Page header EC
 * @define page-header
 */

@use 'sass:map';
@use '@ecl/grid/mixins/breakpoints';
@use '@ecl/mixins-typography/mixins';
@use '@ecl/utility-screen-reader/screen-reader';

// Exposed variables
$theme: null !default;
$page-header: null !default;

.ecl-page-header__background {
  display: block;
  height: 10.875rem;
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
}

.ecl-page-header__breadcrumb {
  padding-block: var(--s-s);
}

.ecl-page-header__title {
  color: map.get($page-header, 'title', 'color');
  margin-block: 0;
  padding-block: var(--s-l) 0;

  @include mixins.responsive-font(
    map.get($page-header, 'title', 'font-m'),
    $font-weight: map.get($page-header, 'title', 'font-weight')
  );

  .ecl-page-header--font-l & {
    @include mixins.responsive-font(
      map.get($page-header, 'title', 'font-l'),
      $font-weight: map.get($page-header, 'title', 'font-weight')
    );
  }
}

.ecl-page-header__title--hidden {
  @include screen-reader.sr-only;
}

.ecl-page-header__description-container {
  align-items: flex-start;
  display: flex;
  padding-block-start: var(--s-s);
}

.ecl-page-header__description-thumbnail {
  padding-block-start: var(--s-xs);
  margin-inline-end: var(--s-l);
  max-width: 120px;
}

.ecl-page-header__description {
  color: map.get($page-header, 'description', 'color');
  margin-block: 0;
  max-width: var(--max-w);

  @include mixins.responsive-font(
    map.get($page-header, 'description', 'font'),
    $font-weight: map.get($page-header, 'description', 'font-weight')
  );
}

.ecl-page-header__meta {
  color: map.get($page-header, 'meta', 'color');
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-block: var(--s-3xl) 0;
  padding-inline: 0;

  @include mixins.responsive-font(map.get($page-header, 'meta', 'font'));
}

.ecl-page-header__meta-item {
  display: inline;
  unicode-bidi: isolate;

  &:first-child {
    display: block;
    font-weight: map.get($page-header, 'meta', 'first-font-weight');
    letter-spacing: map.get($page-header, 'meta', 'first-letter-spacing');
    margin-block: map.get($page-header, 'meta', 'first-margin-block');
    text-transform: uppercase;
  }

  &:not(:first-child, :last-child)::after {
    background-color: var(--cm-on-surface-brand);
    content: '';
    display: inline-block;
    height: 1px;
    margin-block-start: -1px;
    margin-inline: var(--s-xs);
    vertical-align: middle;
    width: 12px;
  }
}

.ecl-page-header__meta-icon {
  margin-inline-end: var(--s-3xs);
  vertical-align: middle;
}

@include breakpoints.up('xl') {
  .ecl-page-header__breadcrumb {
    padding-block: var(--s-m);
  }
}

// -------
// Expandable

.ecl-page-header-expandable {
  background-color: var(--cm-surface-primary-low-0);
  color: var(--cm-on-surface-brand);
}

.ecl-page-header-expandable__header {
  background: var(--cm-surface-primary-low-1);

  :not(.ecl-page-header-no-toggle) > & {
    cursor: pointer;
  }

  @include mixins.responsive-font('body-s');

  .ecl-container {
    display: flex;
  }
}

.ecl-page-header-expandable__header-text {
  flex-grow: 1;
  padding-block: var(--s-s);

  * {
    color: var(--cm-on-surface-brand);
    max-width: var(--max-w);
  }
}

.ecl-page-header-expandable__title {
  display: block;
  font-size: var(--fs-xs);
  font-weight: map.get($theme, 'font-weight', 'semi-bold');
  letter-spacing: map.get($theme, 'letter-spacing', 'l');
  line-height: map.get($theme, 'line-height', 'xs');
  text-transform: uppercase;
}

.ecl-page-header-expandable__description {
  display: block;
}

.ecl-page-header-expandable__more {
  margin-inline-end: var(--s-3xs);
}

.ecl-page-header-expandable__toggle {
  align-self: start;
  height: 2.75rem;
  margin-block-start: var(--s-2xs);
  margin-inline-start: var(--s-xs);

  .ecl-icon {
    flex-shrink: 0;
    transition: transform 0.5s ease;
  }

  &[aria-expanded='true'] .ecl-icon {
    transform: rotate(0);
  }

  &:focus-visible {
    outline-offset: 0 !important;
  }
}

.ecl-page-header-expandable__panel {
  font-family: map.get($theme, 'font-family', 'default');
  padding-block: var(--s-s);
}

.ecl-page-header-expandable__more-link,
.ecl-page-header-expandable__more-link:visited {
  color: var(--cm-on-surface-brand);
  font-weight: map.get($theme, 'font-weight', 'medium');
}

.ecl-page-header-expandable__list {
  + .ecl-page-header-expandable__list {
    margin-block-start: var(--s-2xs);
  }

  .ecl-list-illustration__divider,
  .ecl-list-illustration__item {
    padding-block-end: var(--s-xs);

    .ecl-list-illustration__description {
      max-width: 900px;
    }
  }

  &.ecl-list-illustration--col-2 .ecl-list-illustration__item {
    margin-block-end: var(--s-2xs);
  }

  .ecl-list-illustration__description {
    @include mixins.responsive-font('body-xs');
  }
  /* stylelint-disable-next-line no-descending-specificity */
  .ecl-icon {
    fill: var(--cm-on-surface-brand);
    height: var(--s-s);
    width: var(--s-s);
    margin-inline-end: var(--s-4xs);
  }
}

@include breakpoints.up('s') {
  .ecl-page-header-expandable__title {
    font-size: var(--fs-s);
    line-height: map.get($theme, 'line-height', 's');
  }

  .ecl-page-header-expandable__list .ecl-icon {
    height: var(--s-m);
    width: var(--s-m);
    margin-inline-end: var(--s-3xs);
  }
}

@include breakpoints.up('m') {
  .ecl-page-header-expandable__description,
  .ecl-page-header-expandable__note {
    display: inline-flex;
  }

  .ecl-page-header-expandable__more::before {
    content: var(--ecl-page-header-expandable-separator);
    margin-inline: var(--s-3xs);
  }

  .ecl-page-header-expandable__list {
    .ecl-list-illustration__divider,
    .ecl-list-illustration__item {
      padding-block-end: var(--s-2xs);
    }
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header-expandable__header {
    .ecl-page-header-expandable__header-text * {
      display: inline-flex;
    }

    .ecl-page-header-expandable__more-link {
      display: inline-block;
    }

    .ecl-page-header-expandable__toggle {
      align-self: center;
      margin-block-start: 0;
    }
  }

  .ecl-page-header-expandable__title {
    font-size: var(--fs-m);
    line-height: map.get($theme, 'line-height', 'm');
  }

  .ecl-page-header-expandable__description::before {
    content: var(--ecl-page-header-expandable-separator);
    margin-inline: var(--s-3xs);
  }

  .ecl-page-header-expandable__panel {
    padding-block: var(--s-m);
  }

  .ecl-page-header-expandable__list {
    .ecl-list-illustration__item {
      padding-block-end: var(--s-3xs);
    }

    .ecl-icon {
      margin-inline-end: var(--s-xs);
    }
  }
}

// -------
// Variant: news

.ecl-page-header--news {
  background-color: var(--cm-surface-low-2);

  .ecl-page-header__title {
    padding-block-start: var(--s-3xs);
  }

  .ecl-page-header__meta {
    padding-block-start: var(--s-xl);
  }

  .ecl-page-header__background {
    aspect-ratio: 3/2;
    height: auto;
    padding-block-start: var(--s-2xl);
  }

  .ecl-page-header__section-description {
    background-color: var(--cm-surface-lowest);
  }

  .ecl-page-header__description-container {
    margin: 0;
    padding-block: var(--s-2xl);
  }

  .ecl-page-header__container
    > *:last-child:not(.ecl-page-header__picture-background) {
    padding-block-end: var(--s-2xl);
  }
}

@include breakpoints.up('m') {
  .ecl-page-header--news {
    .ecl-page-header__background {
      aspect-ratio: 5/2;
    }
  }
}

@include breakpoints.up('l') {
  .ecl-page-header--news {
    .ecl-page-header__title {
      padding-block-start: var(--s-l);
    }

    .ecl-page-header__meta {
      padding-block-start: var(--s-3xl);
    }

    .ecl-page-header__background {
      padding-block-start: var(--s-4xl);
    }

    .ecl-page-header__description-container {
      padding-block: var(--s-6xl);
    }

    .ecl-page-header__container
      > *:last-child:not(.ecl-page-header__picture-background) {
      padding-block-end: var(--s-4xl);
    }
  }
}

// -------
// Variant: 50-50

.ecl-page-header--50-50 {
  .ecl-page-header__background {
    aspect-ratio: 3/2;
    height: auto;
  }
}

@include breakpoints.up('m') {
  .ecl-page-header--50-50 {
    .ecl-page-header__background {
      aspect-ratio: 3/1;
    }
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header--50-50 {
    .ecl-page-header__background {
      aspect-ratio: 5/4;
    }
  }
}

@media (min-width: map.get($theme, 'container', 'xl')) {
  .ecl-page-header--50-50 {
    .ecl-page-header__background {
      aspect-ratio: 3/2;
    }
  }
}
