/**
 * Page header EC
 * @define page-header
 */

@use 'sass:map';
@use '@ecl/grid/mixins/breakpoints';
@use '@ecl/mixins-typography/mixins';

// Exposed variables
$theme: null !default;
$page-header: null !default;

.ecl-page-header {
  margin: 0;
}

.ecl-page-header__info {
  margin-bottom: var(--s-m);
  margin-top: calc(var(--s-m) + var(--s-s));
}

.ecl-page-header__breadcrumb {
  padding-top: var(--s-xs);

  + .ecl-page-header__info {
    margin-top: var(--s-l);
  }
}

.ecl-page-header__meta {
  color: map.get($page-header, 'meta', 'color');
  display: inline-block;
  font: map.get($page-header, 'meta', 'font');
  list-style: none;
  margin: 0;
  padding: 0;
}

.ecl-page-header__meta-item {
  border-inline-end: 1px solid var(--cm-surface-brand);
  display: inline;
  margin-inline-end: var(--s-xs);
  padding-inline-end: var(--s-xs);
  unicode-bidi: isolate;

  &:first-of-type {
    text-transform: uppercase;
  }

  &:last-child {
    border-inline-end-width: 0;
    margin-inline-end: 0;
    padding-inline-end: 0;
  }
}

.ecl-page-header__title {
  color: map.get($page-header, 'title', 'color');
  font: map.get($page-header, 'title', 'font-mobile');
  font-weight: map.get($page-header, 'title', 'font-weight');
  margin-bottom: 0;
}

.ecl-page-header__meta + .ecl-page-header__title {
  margin-top: var(--s-xs);
}

.ecl-page-header__description-container {
  align-items: flex-start;
  display: flex;
  margin-top: var(--s-s);
}

.ecl-page-header__description-thumbnail {
  margin-inline-end: var(--s-m);
  max-width: 120px;
}

.ecl-page-header__description {
  color: map.get($page-header, 'description', 'color');
  font: map.get($page-header, 'description', 'font');
  margin-bottom: 0;
  margin-top: 0;
  max-width: var(--max-w);
}

@include breakpoints.up('m') {
  .ecl-page-header__title {
    font: map.get($page-header, 'title', 'font-desktop');
    font-weight: map.get($page-header, 'title', 'font-weight');
    margin-bottom: 0;
  }
}

/*
 * background image variant
 */
.ecl-page-header--image {
  .ecl-page-header__background-container {
    position: relative;
  }

  .ecl-page-header__background {
    display: block;
    height: 10.875rem;
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
  }
}

// DEPRECATED
.ecl-page-header--overlay-dark {
  .ecl-page-header__background-container::before {
    background-color: rgb(0, 0, 0, 0.5);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.ecl-page-header--overlay-light {
  .ecl-page-header__background-container::before {
    background-color: rgb(0, 0, 0, 0.3);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

// Expandable
.ecl-page-header-expandable {
  background-color: var(--cm-surface-primary-low);
  color: var(--cm-on-surface-brand);
}

.ecl-page-header-expandable__header {
  background: var(--cm-surface-primary-low-1);

  :not(.ecl-page-header-no-toggle) > & {
    cursor: pointer;
  }

  @include mixins.responsive-font('body-s');

  .ecl-container {
    display: flex;
  }
}

.ecl-page-header-expandable__header-text {
  flex-grow: 1;
  padding-block: var(--s-s);

  * {
    color: var(--cm-on-surface-brand);
    max-width: var(--max-w);
  }
}

.ecl-page-header-expandable__title {
  display: block;
  font-size: var(--fs-xs);
  font-weight: map.get($theme, 'font-weight', 'semi-bold');
  letter-spacing: map.get($theme, 'letter-spacing', 'l');
  line-height: map.get($theme, 'line-height', 'xs');
  text-transform: uppercase;
}

.ecl-page-header-expandable__description {
  display: block;
}

.ecl-page-header-expandable__more {
  margin-inline-end: var(--s-3xs);
}

.ecl-page-header-expandable__toggle {
  align-self: start;
  height: 2.75rem;
  margin-block-start: var(--s-2xs);
  margin-inline-start: var(--s-xs);

  .ecl-icon {
    flex-shrink: 0;
    transition: transform 0.5s ease;
  }

  &[aria-expanded='true'] .ecl-icon {
    transform: rotate(0);
  }

  &:focus-visible {
    outline-offset: 0 !important;
  }
}

.ecl-page-header-expandable__panel {
  font-family: map.get($theme, 'font-family', 'default');
  padding-block: var(--s-s);
}

.ecl-page-header-expandable__more-link,
.ecl-page-header-expandable__more-link:visited {
  color: var(--cm-on-surface-brand);
  font-weight: map.get($theme, 'font-weight', 'medium');
}

.ecl-page-header-expandable__list {
  + .ecl-page-header-expandable__list {
    margin-block-start: var(--s-2xs);
  }

  .ecl-list-illustration__divider,
  .ecl-list-illustration__item {
    padding-block-end: var(--s-xs);

    .ecl-list-illustration__description {
      max-width: 900px;
    }
  }

  &.ecl-list-illustration--col-2 .ecl-list-illustration__item {
    margin-block-end: var(--s-2xs);
  }

  .ecl-list-illustration__description {
    @include mixins.responsive-font('body-xs');
  }
  /* stylelint-disable-next-line no-descending-specificity */
  .ecl-icon {
    fill: var(--cm-on-surface-brand);
    height: var(--s-s);
    width: var(--s-s);
    margin-inline-end: var(--s-4xs);
  }
}

@include breakpoints.up('s') {
  .ecl-page-header-expandable__title {
    font-size: var(--fs-s);
    line-height: map.get($theme, 'line-height', 's');
  }

  .ecl-page-header-expandable__list .ecl-icon {
    height: var(--s-m);
    width: var(--s-m);
    margin-inline-end: var(--s-3xs);
  }
}

@include breakpoints.up('m') {
  .ecl-page-header-expandable__description,
  .ecl-page-header-expandable__note {
    display: inline-flex;
  }

  .ecl-page-header-expandable__more::before {
    content: var(--ecl-page-header-expandable-separator);
    margin-inline: var(--s-3xs);
  }

  .ecl-page-header-expandable__list {
    .ecl-list-illustration__divider,
    .ecl-list-illustration__item {
      padding-block-end: var(--s-2xs);
    }
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header-expandable__header {
    .ecl-page-header-expandable__header-text * {
      display: inline-flex;
    }

    .ecl-page-header-expandable__more-link {
      display: inline-block;
    }

    .ecl-page-header-expandable__toggle {
      align-self: center;
      margin-block-start: 0;
    }
  }

  .ecl-page-header-expandable__title {
    font-size: var(--fs-m);
    line-height: map.get($theme, 'line-height', 'm');
  }

  .ecl-page-header-expandable__description::before {
    content: var(--ecl-page-header-expandable-separator);
    margin-inline: var(--s-3xs);
  }

  .ecl-page-header-expandable__panel {
    padding-block: var(--s-m);
  }

  .ecl-page-header-expandable__list {
    .ecl-list-illustration__item {
      padding-block-end: var(--s-3xs);
    }

    .ecl-icon {
      margin-inline-end: var(--s-xs);
    }
  }
}
