/**
 * Page header EU
 * @define page-header
 */

@use 'sass:map';
@use '@ecl/grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$page-header: null !default;

.ecl-page-header {
  background-color: map.get($theme, 'color', 'white');
  margin: 0;

  .ecl-container > div:last-of-type {
    margin-bottom: 0;
  }

  .ecl-container
    > div:first-of-type:not(
      .ecl-page-header__info--no-margin,
      .ecl-page-header-expandable__header-text
    ),
  .ecl-container
    > :first-child:not(
      .ecl-page-header__breadcrumb,
      .ecl-page-header__info--no-margin,
      .ecl-page-header-expandable__list,
      .ecl-page-header-expandable__header-text
    ) {
    margin-top: 0;
    padding-top: var(--s-xl);
  }
}

.ecl-page-header__meta {
  color: var(--c-d);
  display: inline-block;
  font: var(--f-ui-m);
  list-style: none;
  margin: 0;
  padding: 0;
}

.ecl-page-header__meta-item {
  border-inline-end: 1px solid var(--c-p);
  display: inline;
  margin-inline-end: var(--s-xs);
  padding-inline-end: var(--s-xs);
  unicode-bidi: isolate;

  &:first-of-type {
    text-transform: uppercase;
  }

  &:last-child {
    border-inline-end-width: 0;
    margin-inline-end: 0;
    padding-inline-end: 0;
  }
}

.ecl-page-header__title {
  border-bottom: 2px solid var(--c-p-20);
  color: map.get($page-header, 'title-color');
  font: map.get($page-header, 'title-font');
  margin-bottom: 0;
  margin-top: var(--s-xs);
  padding-bottom: var(--s-s);
}

.ecl-page-header__description-container {
  align-items: flex-start;
  display: flex;
  margin-top: var(--s-l);
}

.ecl-page-header__description-thumbnail {
  margin-inline-end: var(--s-m);
  max-width: 120px;
}

.ecl-page-header__description {
  color: map.get($page-header, 'description-color');
  font: map.get($page-header, 'description-font');
  margin-bottom: 0;
  margin-top: 0;
  max-width: 80ch;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-page-header__title {
    font: var(--f-6xl);
  }
}

/*
 * background image variant
 */
.ecl-page-header--image {
  .ecl-page-header__background-container {
    position: relative;
  }

  .ecl-page-header__background {
    display: block;
    height: 10.875rem;
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
  }

  .ecl-page-header__breadcrumb {
    background-color: transparent;
    margin-top: calc(-1 * var(--s-3xl) + var(--s-xs));
  }

  .ecl-breadcrumb__container {
    background-color: map.get($theme, 'color', 'white');
    border-radius: map.get($theme, 'border-radius', 's')
      map.get($theme, 'border-radius', 's') 0 0;
    display: inline-flex;
    max-width: 100%;
    padding-inline-start: var(--s-m);
    padding-inline-end: var(--s-m);
  }
}

// DEPRECATED
.ecl-page-header--overlay-dark {
  .ecl-page-header__background-container::before {
    background-color: rgba(map.get($theme, 'color', 'black'), 0.5);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.ecl-page-header--overlay-light {
  .ecl-page-header__background-container::before {
    background-color: rgba(map.get($theme, 'color', 'black'), 0.3);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

// Expandable
.ecl-page-header-expandable {
  background-color: var(--c-p-10);
  color: var(--c-d);
}

.ecl-page-header-expandable__header {
  background-color: var(--c-p-20);
  display: flex;
  font: var(--f-s);

  :not(.ecl-page-header-no-toggle) > & {
    cursor: pointer;
  }

  .ecl-container {
    display: flex;
  }
}

.ecl-page-header-expandable__header-text {
  flex-grow: 1;
  padding-block: var(--s-s);

  * {
    color: var(--c-d);
    max-width: var(--max-w);
  }
}

.ecl-page-header-expandable__title {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

.ecl-page-header-expandable__description {
  display: block;
}

.ecl-page-header-expandable__more {
  margin-inline-end: var(--s-2xs);
}

.ecl-page-header-expandable__toggle {
  align-self: start;
  height: 2.75rem;
  margin-block-start: var(--s-2xs);
  margin-inline-start: var(--s-xs);

  .ecl-icon {
    flex-shrink: 0;
    transition: transform 0.5s ease;
  }

  &[aria-expanded='true'] .ecl-icon {
    transform: rotate(0);
  }

  &:focus-visible {
    outline-offset: 0;
  }
}

.ecl-page-header-expandable__panel {
  font-family: map.get($theme, 'font-family', 'default');
  padding-block: var(--s-xs);
}

.ecl-page-header-expandable__more-link,
.ecl-page-header-expandable__more-link:visited {
  color: var(--c-d);
  font-weight: map.get($theme, 'font-weight', 'bold');
}

.ecl-page-header-expandable__list {
  + .ecl-page-header-expandable__list {
    margin-block-start: var(--s-xs);
  }

  .ecl-list-illustration__divider,
  .ecl-list-illustration__item {
    padding-block-end: var(--s-xs);
  }

  &.ecl-list-illustration--col-2 .ecl-list-illustration__item {
    margin-block-end: var(--s-xs);
  }

  .ecl-list-illustration__description {
    font: var(--f-s);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .ecl-icon {
    fill: var(--c-d);
    height: var(--s-s);
    width: var(--s-s);
    margin-inline-end: 0.125rem;
  }
}

@include breakpoints.up('s') {
  .ecl-page-header-expandable__header {
    font: var(--f-m);
  }

  .ecl-page-header-expandable__panel {
    padding-block: var(--s-s);
  }

  .ecl-page-header-expandable__list .ecl-icon {
    height: var(--s-m);
    width: var(--s-m);
    margin-inline-end: var(--s-2xs);
  }
}

@include breakpoints.up('m') {
  .ecl-page-header-expandable__description,
  .ecl-page-header-expandable__more {
    display: inline-flex;
  }

  .ecl-page-header-expandable__more::before {
    content: var(--ecl-page-header-expandable-separator);
    margin-inline: var(--s-2xs);
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header-expandable__panel {
    padding-block: var(--s-m);
  }

  .ecl-page-header-expandable__header {
    font: var(--f-m);

    .ecl-page-header-expandable__header-text * {
      display: inline-flex;
    }

    .ecl-page-header-expandable__title {
      font-size: 1.125rem;
    }

    .ecl-page-header-expandable__toggle {
      align-self: center;
      margin-block-start: 0;
    }

    .ecl-page-header-expandable__more-link {
      display: inline-block;
    }
  }

  .ecl-page-header-expandable__description::before {
    content: var(--ecl-page-header-expandable-separator);
    margin-inline: var(--s-2xs);
  }

  .ecl-page-header-expandable__list {
    .ecl-icon {
      margin-inline-end: var(--s-xs);
    }
  }
}
