/**
 * Page header EC
 * @define page-header
 */

@use 'sass:map';
@use '@ecl/grid/mixins/breakpoints';
@use '@ecl/mixins-typography/mixins';
@use '@ecl/utility-screen-reader/screen-reader';

// Exposed variables
$theme: null !default;
$page-header: null !default;

.ecl-page-header {
  background-color: #fff;
}

.ecl-page-header__breadcrumb {
  padding-block: var(--s-s);
}

@include breakpoints.up('xl') {
  .ecl-page-header__breadcrumb {
    padding-block: var(--s-m);
  }
}

// Colored background
.ecl-page-header--background {
  background-color: var(--cm-surface-medium-1);

  &:not(.ecl-page-header--description-bottom) {
    padding-block-end: var(--s-3xl);
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header--picture-beside {
    &.ecl-page-header--background {
      padding-block-end: 0;
    }
  }
}

// Title
.ecl-page-header__title {
  color: map.get($page-header, 'title', 'color');
  letter-spacing: map.get($page-header, 'title', 'letter-spacing');
  margin-block: 0;
  padding-block: var(--s-3xs) 0;

  @include mixins.responsive-font(
    map.get($page-header, 'title', 'font'),
    $font-weight: map.get($page-header, 'title', 'font-weight')
  );
}

.ecl-page-header__title--hidden {
  @include screen-reader.sr-only;
}

@include breakpoints.up('l') {
  .ecl-page-header__title {
    padding-block-start: var(--s-l);
  }
}

// Description
.ecl-page-header__description-container {
  align-items: flex-start;
  display: flex;
  padding-block-start: var(--s-s);
}

.ecl-page-header__description-thumbnail {
  padding-block-start: var(--s-xs);
  margin-inline-end: var(--s-l);
  max-width: 120px;
}

.ecl-page-header__description {
  color: map.get($page-header, 'description', 'color');
  margin-block: 0;
  max-width: var(--max-w);

  @include mixins.responsive-font(
    map.get($page-header, 'description', 'font'),
    $font-weight: map.get($page-header, 'description', 'font-weight')
  );
}

.ecl-page-header__description-bottom {
  background-color: var(--cm-surface-primary-lowest);
  margin-block-start: var(--s-2xl);
  padding-block: var(--s-2xl);

  .ecl-page-header__description-container {
    padding-block-start: 0;
  }
}

.ecl-page-header--background {
  .ecl-page-header__description-bottom {
    background-color: var(--cm-surface-lowest);
  }
}

@include breakpoints.up('l') {
  .ecl-page-header__description-container {
    padding-block-start: var(--s-m);
  }

  .ecl-page-header__description-bottom {
    padding-block: var(--s-6xl);
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header--picture-beside {
    .ecl-page-header__description-bottom {
      margin-block-start: 0;
    }
  }
}

// Meta
.ecl-page-header__meta {
  color: map.get($page-header, 'meta', 'color');
  display: inline-block;
  list-style: none;
  margin-block: var(--s-xl) 0;
  margin-inline: 0;
  padding-inline: 0;

  @include mixins.responsive-font(map.get($page-header, 'meta', 'font'));
}

.ecl-page-header__meta-item {
  display: inline;
  unicode-bidi: isolate;

  &:first-child {
    display: block;
    letter-spacing: map.get($page-header, 'meta', 'first-letter-spacing');
    margin-block: map.get($page-header, 'meta', 'first-margin-block');
    text-transform: map.get($page-header, 'meta', 'first-text-transform');

    @include mixins.responsive-font(
      map.get($page-header, 'meta', 'first-font'),
      $font-weight: map.get($page-header, 'meta', 'first-font-weight')
    );
  }

  &:not(:first-child, :last-child)::after {
    background-color: var(--cm-on-surface-brand);
    content: '';
    display: inline-block;
    height: 1px;
    margin-block-start: -1px;
    margin-inline: var(--s-xs);
    vertical-align: middle;
    width: 12px;
  }
}

.ecl-page-header__meta-icon {
  margin-block-end: var(--s-4xs);
  margin-inline-end: var(--s-3xs);
  vertical-align: middle;
}

@include breakpoints.up('l') {
  .ecl-page-header__meta {
    margin-block-start: var(--s-3xl);
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header--picture-beside {
    .ecl-page-header__meta {
      margin-block-start: var(--s-4xl);
    }
  }
}

// Picture
.ecl-page-header__background {
  display: block;
  height: 10.875rem;
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
}

.ecl-page-header--picture-bottom {
  .ecl-page-header__background {
    aspect-ratio: 3/2;
    height: auto;
    margin-block-start: var(--s-2xl);
  }
}

@include breakpoints.up('m') {
  .ecl-page-header--picture-bottom {
    .ecl-page-header__background {
      aspect-ratio: 5/2;
    }
  }
}

// Column display
.ecl-page-header--picture-beside {
  .ecl-page-header__container {
    display: flex;
    flex-direction: column;
  }

  .ecl-page-header__background {
    aspect-ratio: 3/2;
    height: auto;
  }
}

@include breakpoints.up('m') {
  .ecl-page-header--picture-beside {
    .ecl-page-header__background {
      aspect-ratio: 3/1;
    }
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header--picture-beside {
    .ecl-page-header__container {
      display: flex;
      flex-direction: row;
    }

    .ecl-page-header__picture-background,
    .ecl-page-header__section-info {
      flex-basis: 50%;
    }

    .ecl-page-header__background {
      aspect-ratio: 5/4;
      object-fit: cover;
      height: 100%;
    }

    .ecl-page-header__section-info {
      display: flex;
      flex-direction: column;
      padding-block-end: var(--s-2xl);
    }

    .ecl-page-header__content-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }
  }
}

@media (min-width: map.get($theme, 'container', 'xl')) {
  .ecl-page-header--picture-beside {
    .ecl-page-header__background {
      aspect-ratio: 3/2;
    }
  }
}

// Spacing adjustement
.ecl-page-header__container
  .ecl-container
  > *:first-child:not(.ecl-breadcrumb) {
  padding-block-start: var(--s-l);
}

// Expandable
.ecl-page-header-expandable {
  background-color: var(--cm-surface-primary-lowest);
  color: var(--cm-on-surface-brand);
}

.ecl-page-header-expandable__header {
  background: var(--cm-surface-primary-low-0);

  :not(.ecl-page-header-no-toggle) > & {
    cursor: pointer;
  }

  @include mixins.responsive-font('body-s');
}

.ecl-page-header-expandable__header-text {
  padding-block: calc(var(--s-s) + 2px);
  padding-inline-end: calc(var(--s-m) + 2.75rem + var(--s-xs));
  color: var(--cm-on-surface-brand);
}

.ecl-page-header-expandable__toggle {
  height: 2.75rem;
  position: absolute;
  right: var(--s-m);
  top: var(--s-3xs);

  .ecl-icon {
    transition: transform 0.5s ease;
  }

  &[aria-expanded='true'] .ecl-icon {
    transform: rotate(0);
  }

  &:focus-visible {
    outline-offset: 0 !important;
  }

  [dir='rtl'] & {
    right: auto;
    left: var(--s-m);
  }
}

.ecl-page-header-expandable__panel {
  padding-block: var(--s-s);

  * {
    @include mixins.responsive-font('body-s');
  }
}

.ecl-page-header-expandable__header .ecl-link,
.ecl-page-header-expandable__header .ecl-link:visited,
.ecl-page-header-expandable__header .ecl-link:hover {
  color: var(--cm-on-surface-brand) !important;
  font-weight: map.get($theme, 'font-weight', 'medium');
}

@include breakpoints.up('m') {
  .ecl-page-header-expandable__header-text {
    padding-inline-end: calc(var(--s-xl) + 2.75rem + var(--s-xs));
  }

  .ecl-page-header-expandable__toggle {
    right: var(--s-xl);

    [dir='rtl'] & {
      right: auto;
      left: var(--s-xl);
    }
  }
}

@include breakpoints.up('xl') {
  .ecl-page-header-expandable__header-text {
    padding-inline-end: calc(var(--s-3xl) + 2.75rem + var(--s-xs));
  }

  .ecl-page-header-expandable__toggle {
    right: var(--s-3xl);

    [dir='rtl'] & {
      right: auto;
      left: var(--s-3xl);
    }
  }

  .ecl-page-header-expandable__panel {
    padding-block: var(--s-m);
  }
}
