/*
Form controls
*/

// Form control.
$form-control-height: 2.75rem; //44px basing on form control base font size.

// Form colors.
$form-control-color-disabled:                     $ec-grey50;

$form-control-text-color:                         $ec-grey;
$form-control-text-color-focus:                   #000;
$form-control-border-color:                       $ec-grey;
$form-control-border-color-focus:                 $ec-yellow;
$form-control-background-color:                   #fff;
$form-control-background-color-disabled:          $ec-grey15;
$state-danger-text:                               $brand-danger;

// Form border width.
$form-border-width: 0.111rem;

// Select.
$form-control-border-select-color-hover:          $brand-primary;
$form-control-border-select-color-down:           $ec-grey;

.form-control {
  @include form-control();
}
