/**
 * Button component
 * @define button
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';

$_border-radius: null !default;
$_border-width: 2px !default;
$_font-weight: null !default;
$_outline-width: 2px !default;
$_padding-horizontal: map.get(theme.$spacing, 'm') !default;
$_padding-vertical: map.get(theme.$spacing, 's') !default;
$_shadow-hover: null !default;

.ecl-button,
%ecl-button {
  appearance: none;
  background: none;
  border-radius: $_border-radius;
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  font: map.get(theme.$font, 'm');
  font-weight: $_font-weight;
  margin: 0;
  padding: $_padding-vertical $_padding-horizontal;
  text-decoration: none;

  &:hover,
  &:active {
    box-shadow: $_shadow-hover;
    text-decoration: none;
  }

  &:focus-visible {
    outline: $_outline-width solid map.get(theme.$color, 'white');
    outline-offset: -4px;
    text-decoration: none;
  }

  &[disabled],
  &[disabled]:hover {
    cursor: not-allowed;
    text-decoration: none;
  }
}

.ecl-button__container {
  align-items: center;
  display: flex;
}

.ecl-button__icon {
  flex-shrink: 0;
}

.ecl-button__icon--before,
.ecl-button__icon + .ecl-button__label {
  margin-inline-end: map.get(theme.$spacing, 'xs');
}

.ecl-button__icon--after,
.ecl-button__label + .ecl-button__icon {
  margin-inline-start: map.get(theme.$spacing, 'xs');
}

.ecl-button__icon:only-child {
  margin: 0;
}

/**
* Primary
*/
$_primary-background-color: map.get(theme.$color, 'blue-100') !default;
$_primary-background-color-hover: null !default;
$_primary-color: map.get(theme.$color, 'white-100') !default;

.ecl-button--primary {
  background-color: $_primary-background-color;
  color: $_primary-color;

  &:hover,
  &:active {
    background-color: $_primary-background-color-hover;
  }

  &[disabled] {
    background-color: rgba($_primary-background-color, 0.5);
    color: rgba($_primary-color, 0.5);
  }

  &[disabled]:hover {
    background-color: rgba($_primary-background-color-hover, 0.5);
    color: rgba($_primary-color, 0.5);
  }
}

/**
* Secondary
*/
$_secondary-background-color: map.get(theme.$color, 'white-100') !default;
$_secondary-border-color: map.get(theme.$color, 'blue-100') !default;
$_secondary-border-color-hover: null !default;
$_secondary-color: map.get(theme.$color, 'blue-100') !default;
$_secondary-color-hover: null !default;

// stylelint-disable plugin/selector-bem-pattern
.ecl-button--secondary,
%ecl-button {
  background-color: $_secondary-background-color;
  border: $_border-width solid $_secondary-border-color;
  color: $_secondary-color;
  padding: calc(#{$_padding-vertical} - #{$_border-width})
    calc(#{$_padding-horizontal} - #{$_border-width});

  &:hover,
  &:active {
    border-color: $_secondary-border-color-hover;
    color: $_secondary-color-hover;
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px $_secondary-border-color inset;
    outline: 2px $_secondary-background-color solid;
  }

  &[disabled] {
    background-color: rgba($_secondary-background-color, 0.5);
    border-color: rgba($_secondary-border-color, 0.5);
    color: rgba($_secondary-color, 0.5);
  }

  &[disabled]:hover {
    border-color: rgba($_secondary-border-color-hover, 0.5);
    color: rgba($_secondary-color-hover, 0.5);
  }
}
// stylelint-enable plugin/selector-bem-pattern

/**
* Ghost
*/
$_ghost-color: map.get(theme.$color, 'blue-100') !default;
$_ghost-color-hover: null !default;

.ecl-button--ghost {
  color: $_ghost-color;

  &:hover,
  &:active {
    color: $_ghost-color-hover;
  }

  &:focus-visible {
    outline: $_outline-width solid $_ghost-color;
  }

  &[disabled] {
    color: rgba($_ghost-color, 0.5);
  }

  &[disabled]:hover {
    color: rgba($_ghost-color-hover, 0.5);
  }
}

/**
* Call to action
*/
$_cta-background-color: map.get(theme.$color, 'yellow-100') !default;
$_cta-background-color-hover: null !default;
$_cta-color: null !default;
$_cta-outline-color: map.get(theme.$color, 'black-100') !default;

.ecl-button--call {
  background-color: $_cta-background-color;
  color: $_cta-color;

  &:hover,
  &:active {
    background-color: $_cta-background-color-hover;
    border-color: $_cta-background-color-hover;
  }

  &:focus-visible {
    outline: $_outline-width solid $_cta-outline-color;
  }

  &[disabled] {
    background-color: rgba($_cta-background-color, 0.5);
    color: rgba($_cta-color, 0.5);
  }

  &[disabled]:hover {
    background-color: rgba($_cta-background-color-hover, 0.5);
  }
}
