/**
 * Button component
 * @define button
 */

@use "sass:map";
@use '@ecl/theme-dev/globals';
@use '@ecl/theme-dev/theme';

$system: getsystem();
$_border-radius: 0;
$_border-width: 2px;
$_font-weight: map.get(theme.$font-weight, 'bold');
$_outline-color: map.get(theme.$color, 'yellow-100');
$_outline-width: 3px;
$_padding-horizontal: map.get(theme.$spacing, 'm');
$_padding-vertical: map.get(theme.$spacing, 's');
$_primary-background-color: map.get(theme.$color, 'blue-100');
$_primary-background-color-hover: map.get(theme.$color, 'blue-130');
$_primary-color: map.get(theme.$color, 'white-100');
$_shadow-hover: none;

@if ($system == 'eu') {
  $_border-radius: 4px;
  $_font-weight: map.get(theme.$font-weight, 'regular');
  $_outline-color: map.get(theme.$color, 'accent-blue-100');
  $_outline-width: 2px;
  $_primary-background-color-hover: map.get(theme.$color, 'blue-80');
  $_shadow-hover: 0 0 4px rgba(9, 49, 142, 0.5);
}

.ecl-button {
  appearance: none;
  background: none;
  border-radius: $_border-radius;
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  font: map.get(theme.$font, 'm');
  font-weight: $_font-weight;
  margin: 0;
  padding: $_padding-vertical $_padding-horizontal;
  text-decoration: none;

  &:hover,
  &:active {
    box-shadow: $_shadow-hover;
    text-decoration: none;
  }

  &:focus {
    border: $_outline-width solid $_outline-color;
    outline: none;
    padding: calc(#{$_padding-vertical} - #{$_outline-width})
      calc(#{$_padding-horizontal} - #{$_outline-width});
    text-decoration: none;
  }

  &[disabled],
  &[disabled]:hover {
    cursor: not-allowed;
    opacity: 30%;
    text-decoration: none;
  }
}

.ecl-button__container {
  align-items: center;
  display: flex;
}

.ecl-button__icon--before,
.ecl-button__icon + .ecl-button__label {
  margin-right: map.get(theme.$spacing, 'xs');
}

.ecl-button__icon--after,
.ecl-button__label + .ecl-button__icon {
  margin-left: map.get(theme.$spacing, 'xs');
}

/**
* Primary
*/
.ecl-button--primary {
  background-color: $_primary-background-color;
  color: $_primary-color;

  &:hover,
  &:active {
    background-color: $_primary-background-color-hover;
  }
}

/**
* Secondary
*/
.ecl-button--secondary {
  background-color: map.get(theme.$color, 'white-100');
  border: $_border-width solid map.get(theme.$color, 'blue-100');
  color: map.get(theme.$color, 'blue-100');
  padding: calc(#{$_padding-vertical} - #{$_border-width})
    calc(#{$_padding-horizontal} - #{$_border-width});

  &:hover,
  &:active {
    border-color: map.get(theme.$color, 'blue-130');
    color: map.get(theme.$color, 'blue-130');
  }

  &[disabled],
  &[disabled]:hover {
    background-color: map.get(theme.$color, 'white-100');
    border-color: map.get(theme.$color, 'blue-25');
    color: map.get(theme.$color, 'blue-25');
  }
}

/**
* Ghost
*/
.ecl-button--ghost {
  color: map.get(theme.$color, 'blue-100');

  &:hover,
  &:active {
    color: map.get(theme.$color, 'blue-130');
  }

  &[disabled],
  &[disabled]:hover {
    color: map.get(theme.$color, 'blue-25');
  }
}

/**
* Call to action
*/
.ecl-button--call {
  background-color: map.get(theme.$color, 'yellow-100');
  color: map.get(theme.$color, 'black-100');

  &:hover,
  &:active {
    border: $_border-width solid map.get(theme.$color, 'black-100');
    padding: calc(#{$_padding-vertical} - #{$_border-width})
      calc(#{$_padding-horizontal} - #{$_border-width});
  }

  &:focus {
    outline-color: map.get(theme.$color, 'black-100');
  }

  &[disabled],
  &[disabled]:hover {
    background-color: map.get(theme.$color, 'yellow-25');
    border-color: map.get(theme.$color, 'yellow-25');
    color: map.get(theme.$color, 'grey-50');
  }
}

/**
* Search
*/
.ecl-button--search {
  background-color: map.get(theme.$color, 'grey-10');
  color: map.get(theme.$color, 'blue-100');

  &:hover,
  &:active {
    background-color: map.get(theme.$color, 'grey-25');
  }

  &[disabled],
  &[disabled]:hover {
    background-color: map.get(theme.$color, 'grey-5');
    color: map.get(theme.$color, 'grey-50');
  }
}
