/**
 * Button component
 * @define button
 */

@use "sass:map";
@use '@ecl/theme-dev/globals';
@use '@ecl/theme-dev/maps/shape';
@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;

$_border-width: 2px;
$_outline-width: 3px;
$_padding-horizontal: ecl-spacing('m');
$_padding-vertical: ecl-spacing('s');

.ecl-button {
  appearance: none;
  background: none;
  border-radius: map-get(
    (
      no: 0,
      yes: map.get(shape.$border-radius, 'm'),
    ),
    globals.$border-radius
  );
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  font: ecl-font('m');
  font-weight: ecl-font-weight('bold');
  margin: 0;
  padding: $_padding-vertical $_padding-horizontal;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:focus {
    outline: $_outline-width solid ecl-color('secondary');
    outline-offset: -($_outline-width);
  }

  &[disabled],
  &[disabled]:hover {
    cursor: not-allowed;
    text-decoration: none;
  }
}

.ecl-button__container {
  align-items: center;
  display: flex;
}

.ecl-button__icon--before,
.ecl-button__icon + .ecl-button__label {
  margin-right: ecl-spacing('xs');
}

.ecl-button__icon--after,
.ecl-button__label + .ecl-button__icon {
  margin-left: ecl-spacing('xs');
}

/**
* Primary
*/
.ecl-button--primary {
  background-color: ecl-color('blue-100');
  color: ecl-color('white-100');

  &:hover,
  &:active {
    background-color: ecl-color('blue-130');
  }

  &[disabled],
  &[disabled]:hover {
    background-color: ecl-color('blue-25');
    border-color: ecl-color('blue-25');
    color: ecl-color('white-100');
  }
}

/**
* Secondary
*/
.ecl-button--secondary {
  background-color: ecl-color('white-100');
  border: $_border-width solid ecl-color('blue-100');
  color: ecl-color('blue-100');
  padding: calc(#{$_padding-vertical} - #{$_border-width})
    calc(#{$_padding-horizontal} - #{$_border-width});

  &:hover,
  &:active {
    border-color: ecl-color('blue-130');
    color: ecl-color('blue-130');
  }

  &[disabled],
  &[disabled]:hover {
    background-color: ecl-color('white-100');
    border-color: ecl-color('blue-25');
    color: ecl-color('blue-25');
  }
}

/**
* Ghost
*/
.ecl-button--ghost {
  color: ecl-color('blue-100');

  &:hover,
  &:active {
    color: ecl-color('blue-130');
  }

  &[disabled],
  &[disabled]:hover {
    color: ecl-color('blue-25');
  }
}

/**
* Call to action
*/
.ecl-button--call {
  background-color: ecl-color('yellow-100');
  color: ecl-color('black-100');

  &:hover,
  &:active {
    border: $_border-width solid ecl-color('black-100');
    padding: calc(#{$_padding-vertical} - #{$_border-width})
      calc(#{$_padding-horizontal} - #{$_border-width});
  }

  &:focus {
    outline-color: ecl-color('black-100');
  }

  &[disabled],
  &[disabled]:hover {
    background-color: ecl-color('yellow-25');
    border-color: ecl-color('yellow-25');
    color: ecl-color('grey-50');
  }
}

/**
* Search
*/
.ecl-button--search {
  background-color: ecl-color('grey-10');
  color: ecl-color('blue-100');

  &:hover,
  &:active {
    background-color: ecl-color('grey-25');
  }

  &[disabled],
  &[disabled]:hover {
    background-color: ecl-color('grey-5');
    color: ecl-color('grey-50');
  }
}
