<div class="mediagallery">
  <div class="row">
    <div class="col-md-4 mediagallery__item has-icon">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/380x185" width="380" height="185" alt="">
        <span class="mediagallery__caption">Dummy image 1 Dummy image</span>
        <span class="mediagallery__icon">
          <span class="icon icon--camera"></span>
        </span>
      </div>
    </div>
    <div class="col-md-3 mediagallery__item has-icon">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/285x185" width="285" height="185" alt="">
        <span class="mediagallery__icon">
          <span class="icon icon--audio"></span>
        </span>
      </div>
    </div>
    <div class="col-md-2 mediagallery__item has-icon">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/190x185" width="190" height="185" alt="">
        <span class="mediagallery__caption">Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1</span>
        <span class="mediagallery__icon">
          <span class="icon icon--camera"></span>
        </span>
      </div>
    </div>
    <div class="col-md-3 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/285x185" width="285" height="185" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/190x185" width="190" height="185" alt="">
        <span class="mediagallery__caption">Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1</span>
      </div>
    </div>
    <div class="col-md-3 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/285x185" width="285" height="185" alt="">
      </div>
    </div>
    <div class="col-md-3 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/285x185" width="285" height="185" alt="">
      </div>
    </div>
    <div class="col-md-4 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://placehold.it/380x185" width="380" height="185" alt="">
        <span class="mediagallery__caption">Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1 Dummy image 1</span>
      </div>
    </div>
  </div>
</div>
