<div class="banner banner--background">
  <div class="banner__image">
    <img src="http://lorempixel.com/1140/370/abstract/">
  </div>
  <div class="banner__content">
    <h3>White Paper on the future of Europe</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  </div>
</div>
