<div class="banner banner--quote">
  <div class="banner__quote">
    <blockquote class="blockquote blockquote--small">
      <span class="blockquote__open"></span>
      Nullam eget gravida sapien. Curabitur nec ligula varius tellus blandit auctor in non felis.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      Pellentesque in volutpat eros, ut fringilla tortor.
      <span class="blockquote__close"></span>
    </blockquote>
  </div>
  <span class="banner__author">President Juncker</span>
</div>
