/*
Button group
*/

.btn-group {
  @extend %hidden-print;

  margin-top: 1em;

  .btn {
    margin-right: 0.4em;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-group-row-two {
  width: 100%;

  .btn {
    float: left;
    width: 48.5%;
    margin-left: 0 !important;
    margin-bottom: -2px;
    text-align: left;

    &:nth-child(odd) {
      margin-right: 3%;
      clear: left;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
