<div class="btn-group {{modifier_class}}">
  {% include '@ec-europa/ecl-buttons' with { 'type': 'link', 'label': 'Button primary', 'modifier': 'primary', 'to': '#' } %}
  {% include '@ec-europa/ecl-buttons' with { 'type': 'link', 'label': 'Call to action', 'modifier': 'call', 'to': '#' } %}
  {% include '@ec-europa/ecl-buttons' with { 'type': 'link', 'label': 'Button default', 'modifier': 'default', 'to': '#' } %}
  {% include '@ec-europa/ecl-buttons' with { 'type': 'link', 'label': 'Button primary', 'modifier': 'primary', 'to': '#' } %}
</div>
