<div class="btn-group {{modifier_class}}">
  {% include '@ec-europa/ecl-buttons-links' with { 'label': 'Button primary', 'modifier': 'primary', 'to': '#' } %}
  {% include '@ec-europa/ecl-buttons-links' with { 'label': 'Call to action', 'modifier': 'ctn', 'to': '#' } %}
  {% include '@ec-europa/ecl-buttons-links' with { 'label': 'Button default', 'modifier': 'default', 'to': '#' } %}
  {% include '@ec-europa/ecl-buttons-links' with { 'label': 'Button primary', 'modifier': 'primary', 'to': '#' } %}
</div>
