/**
 * banner
 * @define banner-eu
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';

@use 'banner-print' with (
  $_background:
    linear-gradient(
      to right,
      map.get(theme.$color, 'blue-140') 0%,
      map.get(theme.$color, 'blue-100') 100%
    ),
  $_text-box-background: rgba(255, 255, 255, 0.9),
  $_text-box-radius: 4px,
  $_text-box-border: 0 0 0 4px,
  $_banner-radius: 8px,
  $_box-shadow: 0 0 6px rgba(9, 49, 142, 0.2)
);
