/**
 * Banner
 * @define banner; weak
 */

@use 'sass:map';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

// Exposed variables
$theme: null !default;
$banner: null !default;

.ecl-banner {
  align-items: center;
  background: map.get($banner, 'background-color');
  border-radius: map.get($banner, 'border-radius', 'banner');
  box-shadow: map.get($banner, 'box-shadow');
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  margin-inline-end: 0;
  margin-top: 0;
  overflow: hidden;
  position: relative;
}

.ecl-banner__picture-container {
  margin: 0;
  position: relative;
  width: 100%;
}

.ecl-banner__video-container {
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ecl-banner__credit {
  background: rgba(38, 50, 75, 0.7);
  backdrop-filter: blur(4px);
  color: map.get($theme, 'color', 'white');
  left: 0;
  padding: var(--s-2xs) var(--s-xs);
  position: absolute;
  bottom: 0;
  z-index: 1;

  small {
    font: var(--f-s);
    line-height: map.get($theme, 'line-height', '2xs');
  }
}

// stylelint-disable-next-line plugin/selector-bem-pattern
.ecl-container .ecl-banner:not(.ecl-banner--full-width) .ecl-container {
  padding-inline-start: var(--s-m);
  padding-inline-end: var(--s-m);
}

.ecl-banner__container {
  display: flex;
  padding-bottom: map.get($banner, 'container-padding-vertical', 'mobile');
  padding-top: map.get($banner, 'container-padding-vertical', 'mobile');
  width: 100%;
}

.ecl-banner__content {
  align-items: flex-start;
  box-sizing: content-box;
  display: inline-flex;
  flex-direction: column;
}

.ecl-banner__image {
  display: block;
  object-fit: cover;
  object-position: top;
  position: relative;
  width: 100%;
}

.ecl-banner__video {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  width: 100%;
}

.ecl-banner__title,
.ecl-banner__title-link {
  color: map.get($banner, 'text-color', 'dark');
  display: block;
  font: map.get($banner, 'font', 'title', 'mobile');
  margin: 0;

  &:hover {
    color: map.get($banner, 'text-color', 'dark');
  }
}

.ecl-banner__description {
  color: map.get($banner, 'text-color', 'dark');
  font: map.get($banner, 'font', 'description', 'mobile');
  margin-bottom: 0;
  margin-top: map.get($banner, 'description-margin');
}

.ecl-banner__cta {
  margin-top: var(--s-m);
}

.ecl-banner__play,
.ecl-banner__pause {
  align-items: center;
  background-color: var(--c-d);
  border: 2px solid var(--c-d);
  border-radius: 50%;
  bottom: var(--s-m);
  color: map.get($theme, 'color', 'white');
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
  outline: 2px solid map.get($theme, 'color', 'white');
  outline-offset: -4px;
  position: absolute;
  right: var(--s-m);
  z-index: 2;

  &:hover,
  &:active {
    border: 2px solid map.get($theme, 'color', 'white');
    outline: 2px solid var(--c-d);
  }
}

.ecl-banner__content > *:first-child {
  margin-top: 0;
}

// Full width
.ecl-banner--full-width {
  border-radius: 0;
  left: 50%;
  margin-inline-start: -50vw;
  width: 100vw;
}

// Medium banner - ratio 4:1
.ecl-banner,
.ecl-banner--m {
  .ecl-banner__image,
  .ecl-banner__video {
    aspect-ratio: 4/1;

    --css-aspect-ratio: 4/1;
  }
}

// Extra small banner - ratio 6:1
.ecl-banner--xs .ecl-banner__image,
.ecl-banner--xs .ecl-banner__video {
  aspect-ratio: 6/1;

  --css-aspect-ratio: 6/1;
}

// Small banner - ratio 5:1
.ecl-banner--s .ecl-banner__image,
.ecl-banner--xs .ecl-banner__video {
  aspect-ratio: 5/1;

  --css-aspect-ratio: 5/1;
}

// Large banner - ratio 3:1
.ecl-banner--l .ecl-banner__image,
.ecl-banner--xs .ecl-banner__video {
  aspect-ratio: 3/1;

  --css-aspect-ratio: 3/1;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-banner .ecl-container {
    padding-inline-start: map.get(
      $banner,
      'container-padding-horizontal',
      'tablet'
    );
    padding-inline-end: map.get(
      $banner,
      'container-padding-horizontal',
      'tablet'
    );
  }

  .ecl-banner__container {
    padding-bottom: map.get($banner, 'container-padding-vertical', 'tablet');
    padding-top: map.get($banner, 'container-padding-vertical', 'tablet');
  }

  .ecl-banner__title,
  .ecl-banner__title-link {
    font: map.get($banner, 'font', 'title', 'tablet');
  }

  .ecl-banner__description {
    font: map.get($banner, 'font', 'description', 'tablet');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-banner .ecl-container {
    padding-inline-start: var(--s-m);
    padding-inline-end: var(--s-m);
    position: absolute;
    z-index: 1;
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .ecl-container .ecl-banner:not(.ecl-banner--full-width) .ecl-container {
    padding-inline-start: var(--s-2xl);
    padding-inline-end: var(--s-2xl);
  }

  .ecl-banner__container {
    padding-bottom: map.get($banner, 'container-padding-vertical', 'desktop');
    padding-top: map.get($banner, 'container-padding-vertical', 'desktop');
  }

  .ecl-banner__content {
    background-color: map.get($banner, 'content-background');
    max-width: map.get($banner, 'content-width');
    padding: map.get($banner, 'content-padding');

    .ecl-banner--background-none & {
      background-color: transparent;
    }

    .ecl-banner--background-dark & {
      box-decoration-break: clone;
      background: var(--c-ov-l);
      backdrop-filter: blur(2px);
    }
  }

  .ecl-banner__title,
  .ecl-banner__title-link {
    display: inline;
    font: map.get($banner, 'font', 'title', 'desktop-m');

    .ecl-banner--font-l & {
      font: map.get($banner, 'font', 'title', 'desktop-l');
    }

    .ecl-banner--color-light & {
      color: map.get($banner, 'text-color', 'light');
    }
  }

  .ecl-banner__description {
    font: map.get($banner, 'font', 'description', 'desktop-m');

    .ecl-banner--font-l & {
      font: map.get($banner, 'font', 'description', 'desktop-l');
    }

    .ecl-banner--color-light & {
      color: map.get($banner, 'text-color', 'light');
    }
  }

  .ecl-banner__picture-container,
  .ecl-banner__video-container {
    position: static;
  }

  .ecl-banner__picture {
    position: relative;
  }

  // Horizontal alignment
  .ecl-banner--h-center {
    .ecl-banner__container {
      justify-content: center;
    }

    .ecl-banner__content {
      align-items: center;
      text-align: center;
    }
  }

  .ecl-banner--h-right {
    .ecl-banner__container {
      justify-content: flex-end;
    }

    .ecl-banner__content {
      align-items: flex-end;
      text-align: right;
    }
  }

  // Vertical alignment
  // stylelint-disable-next-line no-descending-specificity
  .ecl-banner--v-top .ecl-container {
    top: 0;
  }

  // stylelint-disable-next-line no-descending-specificity
  .ecl-banner--v-bottom .ecl-container {
    bottom: 0;
  }
}

/*
 * centered
 */
// DEPRECATED
.ecl-banner--centered {
  .ecl-banner__container {
    justify-content: center;
  }

  .ecl-banner__content {
    align-items: center;
    text-align: center;
  }
}

/*
  * variant: plain background
  */
// DEPRECATED
.ecl-banner--plain-background {
  background: map.get($banner, 'background', 'plain-background');

  .ecl-banner__title,
  .ecl-banner__title-link {
    color: map.get($banner, 'text-color', 'inverted');
  }

  .ecl-banner__description {
    color: map.get($banner, 'text-color', 'inverted');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  // DEPRECATED
  .ecl-banner--plain-background {
    &::before {
      content: '';
      display: block;
      padding-top: 25%;
      width: 100%;
    }

    &.ecl-banner--xs::before {
      padding-top: 16.66%;
    }

    &.ecl-banner--s::before {
      padding-top: 20%;
    }

    &.ecl-banner--l::before {
      padding-top: 33%;
    }

    .ecl-banner__content {
      background-color: transparent;
    }
  }
}

/*
 * variant: text box
 */
// DEPRECATED
.ecl-banner--text-box {
  background: map.get($banner, 'background', 'text-box-mobile');

  .ecl-banner__image {
    border-bottom: map.get($banner, 'border-width', 'bottom') solid
      map.get($banner, 'border-color');
  }

  .ecl-banner__title,
  .ecl-banner__title-link,
  .ecl-banner__description {
    color: var(--c-d);
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  // DEPRECATED
  .ecl-banner--text-box {
    .ecl-banner__image {
      border-bottom-width: 0;
    }

    .ecl-banner__content {
      background: map.get($banner, 'background', 'text-box-desktop');
      border-bottom: map.get($banner, 'border-width', 'bottom') solid
        map.get($banner, 'border-color');
      border-inline-start: map.get($banner, 'border-width', 'left') solid
        map.get($banner, 'border-color');
      border-radius: map.get($banner, 'border-radius', 'content');
      padding: var(--s-l) var(--s-xl);
    }
  }
}

/*
 * variant: text-overlay
 */
// DEPRECATED
.ecl-banner--text-overlay {
  background: map.get($banner, 'background', 'text-overlay');

  .ecl-banner__image {
    border-bottom: map.get($banner, 'border-width', 'bottom') solid
      map.get($banner, 'border-color');
    border-radius: map.get($banner, 'border-radius', 'banner')
      map.get($banner, 'border-radius', 'banner') 0 0;
  }

  .ecl-banner__title,
  .ecl-banner__title-link {
    color: map.get($banner, 'text-color', 'inverted');
  }

  .ecl-banner__description {
    color: map.get($banner, 'text-color', 'inverted');
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  // DEPRECATED
  .ecl-banner--text-overlay {
    .ecl-banner__content {
      background-color: transparent;
    }

    .ecl-banner__image {
      border-bottom-width: 0;
    }

    .ecl-banner__image::before {
      border-radius: map.get($banner, 'border-radius', 'banner');
      padding-top: 0;
    }

    .ecl-banner__title,
    .ecl-banner__description {
      box-decoration-break: clone;
      background: rgba(38, 50, 75, 0.7);
      backdrop-filter: blur(2px);
      box-sizing: border-box;
      margin: 0;
      padding: var(--s-2xs) var(--s-m) var(--s-xs);
      width: 100%;
    }

    .ecl-banner__description {
      padding-top: 0;
    }
  }
}
