/*
 * Banner
 * @define banner; weak
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';

$_background: null !default;

.ecl-banner {
  background: $_background;
  margin: 0;
  padding: map.get(theme.$spacing-print, 'l');
  position: relative;
}

.ecl-banner__picture {
  display: none;
}

.ecl-banner__cta {
  margin-top: map.get(theme.$spacing-print, 'm');
}

.ecl-banner__title {
  font: map.get(theme.$font-print, '4xl');
  font-weight: map.get(theme.$font-weight, 'bold');
  font-family: #{map.get(theme.$font-family-print, 'alt')};
  margin-bottom: 0;
  margin-top: 0;
}

.ecl-banner__description {
  font: map.get(theme.$font-prolonged-print, 'l');
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'xs');
}

.ecl-banner__description + .ecl-link {
  margin-top: map.get(theme.$spacing-print, 'm');
}

.ecl-banner__credit {
  font: map.get(theme.$font-prolonged-print, 's');
  margin: map.get(theme.$spacing-print, 'xs') map.get(theme.$spacing-print, 's')
    0 0;
  position: absolute;
  top: 0;
  right: 0;
}

.ecl-banner__description,
.ecl-banner__title,
.ecl-banner__cta,
.ecl-banner__cta .ecl-link,
.ecl-banner__credit {
  color: map.get(theme.$color, 'white-100');
}

.ecl-banner--centered {
  .ecl-banner__container {
    justify-content: center;
  }

  .ecl-banner__content {
    align-items: center;
    text-align: center;
  }
}
