/**
 * Icons
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-icons-print() {
  .ecl-icon {
    fill: currentColor;
    margin: 0;
    transform: scaleX(1) scaleY(1) rotateZ(0deg);
  }

  .ecl-icon--2xs {
    height: map-get($ecl-icon-print, '2xs');
    width: map-get($ecl-icon-print, '2xs');
  }

  .ecl-icon--xs {
    height: map-get($ecl-icon-print, 'xs');
    width: map-get($ecl-icon-print, 'xs');
  }

  .ecl-icon--s {
    height: map-get($ecl-icon-print, 's');
    width: map-get($ecl-icon-print, 's');
  }

  .ecl-icon--m {
    height: map-get($ecl-icon-print, 'm');
    width: map-get($ecl-icon-print, 'm');
  }

  .ecl-icon--l {
    height: map-get($ecl-icon-print, 'l');
    width: map-get($ecl-icon-print, 'l');
  }

  .ecl-icon--xl {
    height: map-get($ecl-icon-print, 'xl');
    width: map-get($ecl-icon-print, 'xl');
  }

  .ecl-icon--2xl {
    height: map-get($ecl-icon-print, '2xl');
    width: map-get($ecl-icon-print, '2xl');
  }

  .ecl-icon--fluid {
    height: map-get($ecl-icon-print, 'fluid');
    width: map-get($ecl-icon-print, 'fluid');
  }

  .ecl-icon--primary {
    fill: map-get($ecl-color, 'primary');
  }

  .ecl-icon--inverted {
    fill: map-get($ecl-color, 'white-100');
  }

  .ecl-icon--rotate-90 {
    transform: rotateZ(90deg);
  }

  .ecl-icon--rotate-180 {
    transform: rotateZ(180deg);
  }

  .ecl-icon--rotate-270 {
    transform: rotateZ(270deg);
  }

  .ecl-icon--flip-horizontal {
    transform: scaleX(-1);
  }

  .ecl-icon--flip-vertical {
    transform: scaleY(-1);
  }
}

// Use mixin
@include exports('ec-component-icon-print') {
  @include ecl-icons-print();
}
