

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    












<div class="ecl-gallery">
      
    
          <div class="ecl-row ecl-no-gutters">
                              <div class="ecl-col-md-4 ecl-gallery__item">
              <div class="ecl-gallery__item-container">
                









  
  
                    

<img
  class="ecl-image ecl-image--fluid ecl-gallery__image"  alt="Example alt text"
  src="http://placehold.it/380x185"
   typeof="foaf:Image" width="380" height="185" />

                                  <span class="ecl-gallery__caption">Example image caption</span>
                                                <span class="ecl-gallery__icon-wrapper">
                  <span class="ecl-gallery__icon ecl-icon ecl-icon--camera"></span>
                </span>
                              </div>
            </div>
                      <div class="ecl-col-md-3 ecl-gallery__item">
              <div class="ecl-gallery__item-container">
                









  
  
                    

<img
  class="ecl-image ecl-image--fluid ecl-gallery__image"  alt="Example alt text"
  src="http://placehold.it/285x185"
   typeof="foaf:Image" width="285" height="185" />

                                                <span class="ecl-gallery__icon-wrapper">
                  <span class="ecl-gallery__icon ecl-icon ecl-icon--audio"></span>
                </span>
                              </div>
            </div>
                      <div class="ecl-col-md-2 ecl-gallery__item">
              <div class="ecl-gallery__item-container">
                









  
  
                    

<img
  class="ecl-image ecl-image--fluid ecl-gallery__image"  alt="Example alt text"
  src="http://placehold.it/190x185"
   typeof="foaf:Image" width="190" height="185" />

                                  <span class="ecl-gallery__caption">Example image caption</span>
                                                <span class="ecl-gallery__icon-wrapper">
                  <span class="ecl-gallery__icon ecl-icon ecl-icon--camera"></span>
                </span>
                              </div>
            </div>
                      <div class="ecl-col-md-3 ecl-gallery__item">
              <div class="ecl-gallery__item-container">
                









  
  
                    

<img
  class="ecl-image ecl-image--fluid ecl-gallery__image"  alt="Example alt text"
  src="http://placehold.it/285x185"
   typeof="foaf:Image" width="285" height="185" />

                                              </div>
            </div>
                        </div>
          <div class="ecl-row ecl-no-gutters">
                              <div class="ecl-col-md-2 ecl-gallery__item">
              <div class="ecl-gallery__item-container">
                









  
  
                    

<img
  class="ecl-image ecl-image--fluid ecl-gallery__image"  alt="Example alt text"
  src="http://placehold.it/190x185"
   typeof="foaf:Image" width="190" height="185" />

                                  <span class="ecl-gallery__caption">Example image caption</span>
                                              </div>
            </div>
                      <div class="ecl-col-md-3 ecl-gallery__item">
              <div class="ecl-gallery__item-container">
                









  
  
                    

<img
  class="ecl-image ecl-image--fluid ecl-gallery__image"  alt="Example alt text"
  src="http://placehold.it/285x185"
   typeof="foaf:Image" width="285" height="185" />

                                              </div>
            </div>
                      <div class="ecl-col-md-3 ecl-gallery__item">
              <div class="ecl-gallery__item-container">
                









  
  
                    

<img
  class="ecl-image ecl-image--fluid ecl-gallery__image"  alt="Example alt text"
  src="http://placehold.it/285x185"
   typeof="foaf:Image" width="285" height="185" />

                                              </div>
            </div>
                      <div class="ecl-col-md-4 ecl-gallery__item">
              <div class="ecl-gallery__item-container">
                









  
  
                    

<img
  class="ecl-image ecl-image--fluid ecl-gallery__image"  alt="Example alt text"
  src="http://placehold.it/380x185"
   typeof="foaf:Image" width="380" height="185" />

                                  <span class="ecl-gallery__caption">Example image caption</span>
                                              </div>
            </div>
                        </div>
      </div>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

