

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    










<nav class="ecl-side-navigation" aria-label="Main Navigation">
  <button class="ecl-side-navigation__toggle ecl-side-navigation__hamburger ecl-side-navigation__hamburger--squeeze" aria-controls="side-menu-expandable-root" aria-expanded="false">
    <span class="ecl-side-navigation__hamburger-box">
      <span class="ecl-side-navigation__hamburger-inner"></span>
    </span>
    <span class="ecl-side-navigation__hamburger-label">Menu</span>
  </button>
  <ul class="ecl-side-navigation__root ecl-side-navigation--depth-1" id="side-menu-expandable-root" aria-hidden="true">
                                      <li class="ecl-side-navigation__item">
                          <a href="../../example.html#home" class="ecl-side-navigation__link">Home</a>
                      </li>
                            <li class="ecl-side-navigation__item">
                          <a href="../../example.html#item1" class="ecl-side-navigation__link ecl-side-navigation__link--active ecl-expandable__button" aria-controls="nav-menu-expandable-group-2" aria-expanded="false" aria-haspopup="true">Item 1</a>
              <ul class="ecl-side-navigation__group ecl-side-navigation--depth-2" id="nav-menu-expandable-group-2">
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item1-1" class="ecl-side-navigation__link">Item 1.1</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item1-2" class="ecl-side-navigation__link">Item 1.2</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item1-3" class="ecl-side-navigation__link ecl-expandable__button" aria-controls="nav-menu-expandable-group-2-3" aria-expanded="false" aria-haspopup="true">Item 1.3</a>
                      <ul class="ecl-side-navigation__group ecl-side-navigation--depth-3" id="nav-menu-expandable-group-2-3">
                                                                            <li class="ecl-side-navigation__item">
                            <a href="../../example.html#item1-3-1" class="ecl-side-navigation__link">Item 1.3.1</a>
                          </li>
                                                                            <li class="ecl-side-navigation__item">
                            <a href="../../example.html#item1-3-2" class="ecl-side-navigation__link">Item 1.3.2</a>
                          </li>
                                              </ul>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item1-4" class="ecl-side-navigation__link ecl-side-navigation__link--active">Item 1.4</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item1-5" class="ecl-side-navigation__link">Item 1.5</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item1-6" class="ecl-side-navigation__link">Item 1.6</a>
                                      </li>
                              </ul>
                      </li>
                            <li class="ecl-side-navigation__item">
                          <a href="../../example.html#item2" class="ecl-side-navigation__link ecl-expandable__button" aria-controls="nav-menu-expandable-group-3" aria-expanded="false" aria-haspopup="true">Item 2</a>
              <ul class="ecl-side-navigation__group ecl-side-navigation--depth-2" id="nav-menu-expandable-group-3">
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item2-1" class="ecl-side-navigation__link">Item 2.1</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item2-2" class="ecl-side-navigation__link">Item 2.2</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item2-3" class="ecl-side-navigation__link">Item 2.3</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item2-4" class="ecl-side-navigation__link">Item 2.4</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item2-5" class="ecl-side-navigation__link">Item 2.5</a>
                                      </li>
                                                    <li class="ecl-side-navigation__item">
                                          <a href="../../example.html#item2-6" class="ecl-side-navigation__link">Item 2.6</a>
                                      </li>
                              </ul>
                      </li>
                            <li class="ecl-side-navigation__item">
                          <a href="../../example.html#item3" class="ecl-side-navigation__link">Item 3</a>
                      </li>
                    </ul>
</nav>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
      ECL.initExpandables('.ecl-expandable__button');
      ECL.navigationSide();
    });</script>
      </body>
</html>

