

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    













  <section class="ecl-file">
    <div class="ecl-file__body">
      <div class="ecl-row">
        <div class=" ecl-col ecl-col-md-8">
          <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
          <div class="ecl-file__metadata">
            <div class="ecl-file__title">File title example</div>
            <div class="ecl-file__info">
              <span class="ecl-file__language">English</span>
              <span class="ecl-file__properties">(213.25 kB - PDF - 4 pages)</span>
            </div>
          </div>
        </div>
        <div class="ecl-col-12 ecl-col-md-4">
          








  
  
  
        


  <button type="submit" class="ecl-button ecl-button--default ecl-button--block ecl-button--file ecl-file__download" type="button">Download<span class="ecl-u-sr-only">(213.25 kB - PDF - 4 pages)</button>
        </div>
      </div>
    </div>
  </section>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

