

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  




<div class="ecl-message ecl-message--live" role="alert">
  <span class="ecl-u-sr-only">Livestream message</span>
      <button type="button" class="ecl-message__dismiss" aria-label="Close this message">Close</button>
        <div class="ecl-message__title">Some livestream title</div>
        <ul class="ecl-list ecl-message__body">
                        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
                  </ul>
  </div>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () { ECL.initMessages(); });</script>
      </body>
</html>

