

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout for tables</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    
        <!-- Start: @eu-component-table--default -->

        <h3 class="ecl-heading ecl-heading--h3">Default table
</h3>

        <table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" >Name</th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @eu-component-table--default -->

      

        <!-- Start: @eu-component-table--default-enhanced -->

        <h3 class="ecl-heading ecl-heading--h3">Default table - enhanced
</h3>

        <table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" >Name</th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @eu-component-table--default-enhanced -->

      

        <!-- Start: @eu-component-table--empty -->

        <h3 class="ecl-heading ecl-heading--h3">Table with empty heading
</h3>

        <table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" ></th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @eu-component-table--empty -->

      

        <!-- Start: @eu-component-table--empty-enhanced -->

        <h3 class="ecl-heading ecl-heading--h3">Table with empty heading - enhanced
</h3>

        <table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" ></th>
                          <th scope="col" >Registration date</th>
                          <th scope="col" >Email</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @eu-component-table--empty-enhanced -->

      

        <!-- Start: @eu-component-table--colspan -->

        <h3 class="ecl-heading ecl-heading--h3">Table with colspan
</h3>

        <table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2">Name</th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @eu-component-table--colspan -->

      

        <!-- Start: @eu-component-table--colspan-enhanced -->

        <h3 class="ecl-heading ecl-heading--h3">Table with colspan - enhanced
</h3>

        <table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2">Name</th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @eu-component-table--colspan-enhanced -->

      

        <!-- Start: @eu-component-table--colspan-empty -->

        <h3 class="ecl-heading ecl-heading--h3">Table with colspan and empty heading
</h3>

        <table class="ecl-table">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2"></th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @eu-component-table--colspan-empty -->

      

        <!-- Start: @eu-component-table--colspan-empty-enhanced -->

        <h3 class="ecl-heading ecl-heading--h3">Table with colspan and empty heading - enhanced
</h3>

        <table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2"></th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

        <!-- End: @eu-component-table--colspan-empty-enhanced -->

      
    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
    
    <!-- Tables is collated to better demonstrate differences between default and enhanced -->
    <!-- i.e. _target is per element before and yield does not suffice to load 1 instantiation before ecl-eu-preset-website.js -->
    <!-- More https://fractal.build/guide/components/preview-layouts -->
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
  ECL.eclTables();
});
</script>
  </body>
</html>

