

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    










<div class="ecl-global-navigation ecl-global-navigation--dark">
  <ul class="ecl-global-navigation__list">
    <li class="ecl-global-navigation__option">
      







  



<a class="ecl-link ecl-global-navigation__link ecl-global-navigation__link--official" href="http://europa.eu/">
          <span class="ecl-global-navigation__label ecl-u-d-none ecl-u-d-md-inline">An official website of the European Union</span>
          <span class="ecl-global-navigation__label ecl-u-d-md-none">European Union</span></a>
    </li>

    <li class="ecl-global-navigation__option">
      







  
                    


<a class="ecl-link ecl-global-navigation__link ecl-global-navigation__link--institution ecl-expandable__button" href="https://europa.eu/european-union/about-eu/institutions-bodies_en" aria-controls="ecl-global-navigation-toggle" aria-expanded="false" id="ecl-global-navigation-toggle-button">
          <span class="ecl-global-navigation__label ecl-u-d-none ecl-u-d-md-inline">See all EU institutions and bodies</span>
          <span class="ecl-global-navigation__label ecl-u-d-md-none">Institutions and bodies</span></a>
    </li>
  </ul>
  <div
    aria-hidden="true"
    aria-labelledby="ecl-global-navigation-toggle-button"
    id="ecl-global-navigation-toggle"
    class="ecl-u-aria ecl-global-navigation__toggle">

    <div class="ecl-global-navigation__toggle-content">
      <ul class="ecl-global-navigation__institution-list">
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="http://www.europarl.europa.eu">European Parliament</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://www.consilium.europa.eu/en/european-council/">European Council</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://www.consilium.europa.eu/en/council-eu/">Council of the European Union</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://ec.europa.eu/">European Commission</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://curia.europa.eu/">Court of Justice of the European Union</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://www.ecb.europa.eu">European Central Bank</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://www.eca.europa.eu">European Court of Auditors</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://eeas.europa.eu">European External Action Service</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="http://www.eesc.europa.eu">European Economic and Social Committee</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="http://cor.europa.eu">European Committee of the Regions</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="http://eib.europa.eu">European Investment Bank</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://www.ombudsman.europa.eu">European Ombudsman</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://edps.europa.eu/">European Data Protection Supervisor</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://epso.europa.eu">European Personnel Selection Office</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://publications.europa.eu">Publications Office of the European Union</a>
        </li>
              <li class="ecl-global-navigation__institution-item">
          







  



<a class="ecl-link ecl-global-navigation__institution-link" href="https://europa.eu/european-union/about-eu/agencies_en">Agencies</a>
        </li>
            </ul>

      <div class="ecl-global-navigation__info">
        All official European Union website addresses are in the "europa.eu" domain
      </div>
    </div>
  </div>
</div>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.initExpandables('#ecl-global-navigation-toggle-button');
      });</script>
      </body>
</html>

