

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="ecl-typography">
    <main>
      












<section class="ecl-timeline">
      <ul class="ecl-timeline__list">
              <li class="ecl-timeline__item">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2013</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2014</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2015</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          The Commission will convene the first energy infrastructure forum to discuss and find solutions to issues that are common to all regions across Europe.
        </p>
        <p class="ecl-paragraph">
          The Commission will convene the first energy infrastructure forum to discuss and find solutions to issues that are common to all regions across Europe.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item ecl-timeline__item--over-limit">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2016</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item ecl-timeline__item--over-limit">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2017</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
              <li class="ecl-timeline__item ecl-timeline__item--over-limit">
          <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">By late-2018</div>
          <div class="ecl-timeline__body">
        <p class="ecl-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
        </p>
      </div>
        </li>
          </ul>
        









  
  




  <button type="submit" class="ecl-button ecl-button--call ecl-button--caret-down ecl-timeline__button">Show all timeline</button>
  </section>

    </main>
    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
        <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () { ECL.timelines(); });
      </script>
      </body>
</html>

