

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="ecl-typography">
    <main>
      
      <!-- Start: @eu-component-logo--bulgarian -->

      <div class="language-bg">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--bulgarian -->

    

      <!-- Start: @eu-component-logo--english -->

      <div class="language-en">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--english -->

    

      <!-- Start: @eu-component-logo--czech -->

      <div class="language-cs">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--czech -->

    

      <!-- Start: @eu-component-logo--danish -->

      <div class="language-da">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--danish -->

    

      <!-- Start: @eu-component-logo--german -->

      <div class="language-de">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--german -->

    

      <!-- Start: @eu-component-logo--estonian -->

      <div class="language-et">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--estonian -->

    

      <!-- Start: @eu-component-logo--greek -->

      <div class="language-el">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--greek -->

    

      <!-- Start: @eu-component-logo--spanish -->

      <div class="language-es">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--spanish -->

    

      <!-- Start: @eu-component-logo--french -->

      <div class="language-fr">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--french -->

    

      <!-- Start: @eu-component-logo--irish-gaeilge -->

      <div class="language-ga">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--irish-gaeilge -->

    

      <!-- Start: @eu-component-logo--croatian -->

      <div class="language-hr">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--croatian -->

    

      <!-- Start: @eu-component-logo--italian -->

      <div class="language-it">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--italian -->

    

      <!-- Start: @eu-component-logo--latvian -->

      <div class="language-lv">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--latvian -->

    

      <!-- Start: @eu-component-logo--lithuanian -->

      <div class="language-lt">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--lithuanian -->

    

      <!-- Start: @eu-component-logo--hungarian -->

      <div class="language-hu">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--hungarian -->

    

      <!-- Start: @eu-component-logo--maltese -->

      <div class="language-mt">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--maltese -->

    

      <!-- Start: @eu-component-logo--dutch -->

      <div class="language-nl">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--dutch -->

    

      <!-- Start: @eu-component-logo--polish -->

      <div class="language-pl">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--polish -->

    

      <!-- Start: @eu-component-logo--portuguese -->

      <div class="language-pt">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--portuguese -->

    

      <!-- Start: @eu-component-logo--romanian -->

      <div class="language-ro">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--romanian -->

    

      <!-- Start: @eu-component-logo--slovak -->

      <div class="language-sk">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--slovak -->

    

      <!-- Start: @eu-component-logo--slovene -->

      <div class="language-sl">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--slovene -->

    

      <!-- Start: @eu-component-logo--finnish -->

      <div class="language-fi">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--finnish -->

    

      <!-- Start: @eu-component-logo--swedish -->

      <div class="language-sv">

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home">
          <span class="ecl-u-sr-only">Home</span>
        </a>
      </div>
      <!-- End: @eu-component-logo--swedish -->

    
    </main>
    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

