

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  




      <section class="ecl-file ecl-file--translation">
      <div class="ecl-file__body">
        <div class="ecl-row">
          <div class=" ecl-col ecl-col-md-8">
            <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
            <div class="ecl-file__metadata">
              <div class="ecl-file__title">File title example</div>
              <div class="ecl-file__info">
                <span class="ecl-file__language">English</span>
                <span class="ecl-file__properties">(213.25 kB - PDF - 4 pages)</span>
              </div>
            </div>
          </div>
          <div class="ecl-col-12 ecl-col-md-4">
            








  
  
  



  <button type="button" class="ecl-button ecl-button--default ecl-button--block ecl-button--file ecl-file__download">Download<span class="ecl-u-sr-only">(213.25 kB - PDF - 4 pages)</button>
          </div>
        </div>
      </div>
      <div class="ecl-file__translations">
        









  
  
                          


  <button type="button" class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-toggle" aria-controls="translations-expand" aria-expanded="true" id="translations-expand-button" title="Click to see translations">Available languages (4)</button>
        <div aria-hidden="false" aria-labelledby="translations-expand-button" class="ecl-u-aria" id="translations-expand">
          <ul class="ecl-file__translations-list">
                                          <li class="ecl-file__translations-item">
                  <div class="ecl-file__translations-metadata">
                    <span class="ecl-file__translations-title">español</span>
                    <div class="ecl-file__translations-info">(228.84 kB - PDF - 4 pages)</div>
                  </div>
                  









  
  



  <button type="button" class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-download">Download<span class="ecl-u-sr-only">(228.84 kB - PDF - 4 pages)</button>
                </li>
                              <li class="ecl-file__translations-item">
                  <div class="ecl-file__translations-metadata">
                    <span class="ecl-file__translations-title">German</span>
                    <div class="ecl-file__translations-info">(232.12 kB - PDF - 4 pages)</div>
                  </div>
                  









  
  



  <button type="button" class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-download">Download<span class="ecl-u-sr-only">(232.12 kB - PDF - 4 pages)</button>
                </li>
                              <li class="ecl-file__translations-item">
                  <div class="ecl-file__translations-metadata">
                    <span class="ecl-file__translations-title">dansk</span>
                    <div class="ecl-file__translations-info">(257.54 kB - PDF - 4 pages)</div>
                  </div>
                  









  
  



  <button type="button" class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-download">Download<span class="ecl-u-sr-only">(257.54 kB - PDF - 4 pages)</button>
                </li>
                              <li class="ecl-file__translations-item">
                  <div class="ecl-file__translations-metadata">
                    <span class="ecl-file__translations-title">Български</span>
                    <div class="ecl-file__translations-info">(211.54 kB - PDF - 4 pages)</div>
                  </div>
                  









  
  



  <button type="button" class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-download">Download<span class="ecl-u-sr-only">(211.54 kB - PDF - 4 pages)</button>
                </li>
                                    </ul>
        </div>
      </div>
    </section>
  
    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
      ECL.initExpandables('#translations-expand-button');
    });</script>
      </body>
</html>

