

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  




      <section class="ecl-file ecl-file--video">
                    <div >
        <video class="ecl-file__video" src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4" controls="controls"></video>
      </div>
                    <div class="ecl-file__caption">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
    </section>
  
    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

