

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  
  




<div class="ecl-page-header ecl-page-header--homepage ecl-page-header--image" style="background-image: url('../../assets/demo_images/pexels-photo-335393@2x.png')">
  <div class="ecl-container">
     
     
        <div class="ecl-page-header__body">
              <div class="ecl-page-header__identity">
          Your gateway
        </div>
                                <p class="ecl-page-header__intro">To the European Union</p>
          </div>
      </div>
</div>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () { 
          ECL.initBreadcrumb();
        });</script>
      </body>
</html>

