

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  




<form class="ecl-search-form ecl-search-form--internal">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    










  



<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="internal-search"
  name="default-name"
  
/>
  </label>
  










  



  <button type="submit" class="ecl-button ecl-button--form-primary ecl-search-form__button">Search</button>
</form>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

