

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  
  



<picture
    >

    <source media="(min-width: 1200px)" srcset="../../assets/demo_images/1280x960.png">
    
      <source media="(min-width: 992px)" srcset="../../assets/demo_images/1024x768.png">
  
    <source media="(min-width: 768px)" srcset="../../assets/demo_images/800x600.png">
    
    <source media="(min-width: 480px)" srcset="../../assets/demo_images/640x480.png">
  
    <source media="(max-width: 479px)" srcset="../../assets/demo_images/400x300.png">
  
  <img src="../../assets/demo_images/1280x960.png" alt="This is a test image" class="ecl-image ecl-image--fluid">
</picture>


    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

