

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    <!-- Start: @eu-style-typography-heading--h1 -->
<h1 class="ecl-heading ecl-heading--h1" style="">Heading &lt;h1&gt; with class ecl-heading ecl-heading--h1</h1>
<!-- End: @eu-style-typography-heading--h1 -->

<!-- Start: @eu-style-typography-heading--h2 -->
<h2 class="ecl-heading ecl-heading--h2" style="">Heading &lt;h2&gt; with class ecl-heading ecl-heading--h2</h2>
<!-- End: @eu-style-typography-heading--h2 -->

<!-- Start: @eu-style-typography-heading--h3 -->
<h3 class="ecl-heading ecl-heading--h3" style="">Heading &lt;h3&gt; with class ecl-heading ecl-heading--h3</h3>
<!-- End: @eu-style-typography-heading--h3 -->

<!-- Start: @eu-style-typography-heading--h4 -->
<h4 class="ecl-heading ecl-heading--h4" style="">Heading &lt;h4&gt; with class ecl-heading ecl-heading--h4</h4>
<!-- End: @eu-style-typography-heading--h4 -->

<!-- Start: @eu-style-typography-heading--h5 -->
<h5 class="ecl-heading ecl-heading--h5" style="">Heading &lt;h5&gt; with class ecl-heading ecl-heading--h5</h5>
<!-- End: @eu-style-typography-heading--h5 -->

<!-- Start: @eu-style-typography-heading--headline -->
<div class="ecl-heading ecl-heading--headline" style="background-color: #004494">Headline with class ecl-heading ecl-heading--headline and background</div>
<!-- End: @eu-style-typography-heading--headline -->

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

