

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus vulputate pretium.</p>
<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus vulputate pretium.</strong></p>
<p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus vulputate pretium.</em></p>
<p><u>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus vulputate pretium.</u></p>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

