

<!DOCTYPE html>
            <html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Preview Layout</title>
  <script>document.documentElement.classList.remove('no-js');</script>
  <link media="all" rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
</head>
<body class="ecl-typography language-en">
  












<div class="ecl-skip-link__wrapper" id="skip-link">
  <a href="#main-content" class="ecl-skip-link">Skip to main content</a>
</div>
  












<header class="ecl-site-header" role="banner">
      <div class="ecl-container ecl-site-header__banner">
    









        
  



  <a href="https://europa.eu" class="ecl-logo ecl-logo--logotype ecl-site-header__logo" title="Home - European Union"><span class="ecl-u-sr-only">Home - European Union</span></a>
    









  




<div class="ecl-language-list ecl-language-list--overlay ecl-site-header__language-list">
            
    <div id="ecl-overlay-language-list" class="ecl-dialog__overlay" aria-hidden="true"></div>
    








  
              


<div class="ecl-lang-select-sites ecl-link" data-ecl-dialog="ecl-dialog" id="ecl-lang-select-sites__overlay">
  <a href="#" class="ecl-lang-select-sites__link">
    <span class="ecl-lang-select-sites__label">English</span>
    <span class="ecl-lang-select-sites__code">
      <span class="ecl-icon ecl-icon--language ecl-lang-select-sites__icon"></span>
      <span class="ecl-lang-select-sites__code-text">en</span>
    </span>
  </a>
</div>
    











  



<div class="ecl-dialog ecl-dialog--transparent ecl-dialog--wide" id="ecl-dialog" aria-labelledby="ecl-dialog-title" aria-describedby="ecl-dialog-description" aria-hidden="true" role="dialog">
  <h3 id="ecl-dialog-title" class="ecl-heading ecl-heading--h3 ecl-u-sr-only">Dialog</h3>
  <p id="ecl-dialog-description" class="ecl-u-sr-only"></p>
  <div class="ecl-dialog__body">
              <section>
        <div>
      <div class="ecl-container">
        <div class="ecl-row">
          <div class="ecl-col-lg-8 ecl-offset-lg-2">
                          <h2 lang="en" class="ecl-heading ecl-heading--h2 ecl-dialog__title">
                <span class="ecl-icon ecl-icon--generic-lang"></span> Select your language
              </h2>
                        <div class="ecl-row">
              <div class="ecl-col-md-6">
                              </div>
                              <button class="ecl-dialog__dismiss ecl-dialog__dismiss--inverted">Close</button>
                          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

        </div>
  </div>
  </div>
    









  



<form class="ecl-search-form ecl-site-header__search">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    










  



<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="global-search"
  name="default-name"
  
/>
  </label>
  










  



  <button type="submit" class="ecl-button ecl-button--form ecl-search-form__button">Search</button>
</form>
  </div>
</header>
  








  





<div class="ecl-page-header ecl-page-header--basic">
  <div class="ecl-container">
          










<nav class="ecl-breadcrumb" aria-label="breadcrumb">
  <span class="ecl-u-sr-only">You are here:</span>
  <ol class="ecl-breadcrumb__segments-wrapper">
        <li class="ecl-breadcrumb__segment ecl-breadcrumb__segment--first">
            






                            
  



<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumb__link" href="https://ec.europa.eu/commission/index_en">Home</a>
          </li>
        <li class="ecl-breadcrumb__segment ecl-breadcrumb__segment--last">
            <span>Search</span>
          </li>
      </ol>
</nav>
     
        <div class="ecl-page-header__body">
              <div class="ecl-page-header__identity">
          Search
        </div>
                            </div>
      </div>
</div>
  <main id="main-content">
    

<div class="ecl-container ecl-u-mv-l">
  <div class="ecl-row ecl-u-mb-l">
    <div class="ecl-col">
      








  




<form class="ecl-search-form ecl-search-form--internal">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    










  



<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="internal-search"
  name="default-name"
  
/>
  </label>
  










  



  <button type="submit" class="ecl-button ecl-button--form-primary ecl-search-form__button">Search</button>
</form>
    </div>
  </div>
  <div class="ecl-row">
    <aside class="ecl-col-lg-3" role="complementary">
      <div class="ecl-u-d-flex ecl-u-d-lg-none ecl-u-justify-content-between ecl-u-align-items-baseline">
        <h2 class="ecl-heading ecl-heading--h2">Search results (65)</h2>
        










  
              


  <button type="button" class="ecl-button ecl-button--primary ecl-u-d-lg-none ecl-expandable__button" aria-controls="form-filter" aria-expanded="true">Refine</button>
      </div>
      






  
                    


<form class="ecl-form ecl-u-d-lg-block ecl-u-aria" aria-hidden="false" method="get" id="form-filter">
            










<fieldset class="ecl-fieldset">
                






  


<legend class="ecl-form-legend ecl-form-legend--level-1">Search options</legend>              










<div class="ecl-form-group">
                    










<label class="ecl-form-label" for="search-option-source">Source</label>
                  












<select
  class="ecl-select"
  id="search-option-source"
  name="source"
  
><option value="all">All sources</option><option value="dg-trade" selected>DG Trade</option></select>                </div>
              










<div class="ecl-form-group">
                    










<label class="ecl-form-label" for="search-option-date">Date</label>
                  












<select
  class="ecl-select"
  id="search-option-date"
  name="date"
  
><option value="all">All dates</option><option value="today">Today</option><option value="last_week">Last week</option><option value="last_year">Last year</option></select>                </div>
              










<div class="ecl-form-group">
                    










<label class="ecl-form-label" for="search-option-language">Language</label>
                  












<select
  class="ecl-select"
  id="search-option-language"
  name="language"
  
><option value="en">English</option><option value="de">Deutsch</option><option value="fr">Français</option></select>                </div>
              










<div class="ecl-form-group">
                    










<label class="ecl-form-label" for="search-option-file-format">File Format</label>
                  












<select
  class="ecl-select"
  id="search-option-file-format"
  name="file-format"
  
><option value="all">All formats</option><option value="doc">Doc</option><option value="pdf">PDF</option><option value="web">Web</option></select>                </div>
            </fieldset>
          










<fieldset class="ecl-fieldset">
                






  


<legend class="ecl-form-legend ecl-form-legend--level-1">Filter by topic</legend>              <p class="ecl-u-ph-m ecl-u-pv-xl" style="background-color:#e3e3e3;text-align:center">Custom component</p>
            </fieldset>
          <div class="ecl-u-mv-m">
            








  

  



  <button type="submit" class="ecl-button ecl-button--primary ecl-button--block ecl-u-mv-s ecl-u-mh-auto">Refine results</button>
            








  

  



  <button type="reset" class="ecl-button ecl-button--default ecl-button--block ecl-u-mv-s ecl-u-mh-auto">Clear all</button>
          </div>
        </form>
    </aside>
    <section class="ecl-col-lg-9">
      <h2 class="ecl-heading ecl-heading--h2 ecl-u-d-none ecl-u-d-lg-block">Search results (65)</h2>
      <h3 class="ecl-heading ecl-heading--h3">Showing results 11 to 20</h3>
      <div class="ecl-u-d-flex ecl-u-align-items-center ecl-u-flex-wrap">
        








  
  



<div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs">
      <span class="ecl-tag__label">Source</span>
                            <a class="ecl-tag__item" href="../../example.html#remove-filter">DG Trade</a>
            </div>
        








  
  



<div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs">
      <span class="ecl-tag__label">Topics</span>
                            <a class="ecl-tag__item" href="../../example.html#remove-filter">Health, wellbeing & Consumer protection</a>
            </div>
      </div>
      <ul class="ecl-list ecl-list--unstyled ecl-u-mv-m">
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          







  
                    


<a class="ecl-link ecl-expandable__button" href="#" aria-controls="example-expandable-1" aria-expanded="false" id="example-expandable-button-1">Related docs</a>
          <ul aria-hidden="true" class="ecl-u-aria" aria-labelledby="example-expandable-button-1" id="example-expandable-1" class="ecl-list ecl-list--unstyled ecl-u-mv-m ecl-u-ml-l">
            <li class="ecl-u-mv-m">
              













              <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
                











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
              </h4>
              











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
              <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
              <hr class="ecl-u-mt-m" />
            </li>
            <li class="ecl-u-mv-m">
              













              <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
                











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
              </h4>
              











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
              <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
              <hr class="ecl-u-mt-m" />
            </li>
            <li class="ecl-u-mv-m">
              













              <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
                











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
              </h4>
              











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
              <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
            </li>
          </ul>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          













          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          











<a class="ecl-link" href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          <div aria-hidden="true" class="ecl-u-aria" aria-labelledby="example-expandable-button-10" id="example-expandable-10">Related docs</div>
        </li>
      </ul>
      












<nav class="ecl-pager" aria-label="Pagination navigation">
  <ul class="ecl-pager__list">
          <li class="ecl-pager__item ecl-pager__item--previous">
        <a class="ecl-pager__link" title="Go to previous page" href="/page=1">‹ Previous</a>
      </li>
              <li class="ecl-pager__item ecl-pager__item--first">
        <a class="ecl-pager__link" title="Go to page 1" href="/page=1">
          <span class="ecl-u-sr-only" >Page </span>1
        </a>
      </li>
                    <li class="ecl-pager__item ecl-pager__item--current" aria-current="true">
      <span class="ecl-pager__item-text" >Page</span> 2
    </li>
          <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 3" href="/page=3">
          <span class="ecl-u-sr-only" >Page </span>3
        </a>
      </li>
              <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 4" href="/page=4">
          <span class="ecl-u-sr-only" >Page </span>4
        </a>
      </li>
              <li class="ecl-pager__item ecl-pager__item--ellipsis">…</li>
              <li class="ecl-pager__item ecl-pager__item--last">
        <a class="ecl-pager__link" title="Go to page 7" href="/page=7">
          <span class="ecl-u-sr-only" >Page </span>7
        </a>
      </li>
              <li class="ecl-pager__item ecl-pager__item--next">
        <a class="ecl-pager__link" title="Go to next page" href="/page=3">Next ›</a>
      </li>
      </ul>
</nav>
    </section>
  </div>
</div>

  </main>

  




      <footer class="ecl-footer">
          <div class="ecl-footer__custom">
        
<div class="ecl-container">
  <div class="ecl-footer__custom-title">
    Site identification
  </div>
  <div class="ecl-row">
        <div class="ecl-col-md">
      <div class="ecl-footer__custom-label">Follow us:</div>
      <ul class="ecl-list ecl-list--inline ecl-footer__list ecl-footer__list--inline ecl-footer__social-links">
                  <li class="ecl-footer__list-item">
                          







  



<a class="ecl-link ecl-footer__link" href="../../example.html#facebook">                  <span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span><span>Facebook</span>                </a>
                      </li>
                  <li class="ecl-footer__list-item">
                          







  



<a class="ecl-link ecl-footer__link" href="../../example.html#twitter">                  <span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span><span>Twitter</span>                </a>
                      </li>
              </ul>
    </div>
            <div class="ecl-col-md ecl-footer__other-links">
      <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-footer__list ecl-footer__list--inline">
                  <li class="ecl-footer__list-item">
            







  



<a class="ecl-link ecl-footer__link" href="../../example.html#contact">Contact</a>
          </li>
                  <li class="ecl-footer__list-item">
            







  



<a class="ecl-link ecl-footer__link" href="../../example.html#sitemap">Site map</a>
          </li>
                  <li class="ecl-footer__list-item">
            







  



<a class="ecl-link ecl-footer__link" href="../../example.html#loremipsum1">Lorem ipsum</a>
          </li>
                  <li class="ecl-footer__list-item">
            







  



<a class="ecl-link ecl-footer__link" href="../../example.html#loremipsum2">Lorem ipsum</a>
          </li>
                  <li class="ecl-footer__list-item">
            







  



<a class="ecl-link ecl-footer__link" href="../../example.html#loremipsum3">Lorem ipsum</a>
          </li>
              </ul>
    </div>
      </div>
</div>

      </div>
        <div class="ecl-footer__corporate">
      <div class="ecl-footer__corporate-top">
  <div class="ecl-container">
    <div class="ecl-row ecl-footer__row">
      <div class="ecl-footer__column ecl-col-md-4 ecl-footer__spaced-column">
                <div class="ecl-footer__column-title" id="footer-corporate-contact-eu">Contact the EU</div>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-contact-eu">
                                    <li class="ecl-footer__list-item">
                                  Call us <a href="../../example.html#call" class="ecl-link ecl-link--standalone">00 800 6 7 8 9 10 11</a> or use other <a href="../../example.html#call" class="ecl-link ecl-link--standalone">telephone options</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  E-mail us via our <a href="../../example.html#call" class="ecl-link ecl-link--standalone">contact form</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  Visit our <a href="../../example.html#call" class="ecl-link ecl-link--standalone">contact points</a> in your country
                              </li>
                              </ul>
                        <div class="ecl-footer__column-title ecl-u-mt-m" id="footer-corporate-social-media">Find an EU social media account</div>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-social-media">
                                    <li class="ecl-footer__list-item">
                                  Search for <a href="../../example.html#call" class="ecl-link ecl-link--standalone">EU social media channels</a>
                              </li>
                              </ul>
              </div>
            <div class="ecl-footer__column ecl-col-md-8 ecl-footer__spaced-column">
        <div class="ecl-footer__column-title" id="footer-corporate-find-institution">Find a European institution</div>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list ecl-footer__list--2-col" aria-labelledby="footer-corporate-find-institution">
                                    <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Parliament</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Council</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Council of the European Union</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Commission</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Court of Justice of the European Union</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Central Bank</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Court of Auditors</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European External Action Service</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Economic and Social Committee</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Committee of the Regions</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Investment Bank</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Ombudsman</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Data Protection Supervisor</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">European Personnel Selection Office</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Publications Office of the European Union</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Agencies</a>
                              </li>
                              </ul>
      </div>
          </div>
  </div>
</div>
<div class="ecl-footer__corporate-bottom">
  <div class="ecl-container">
    <div class="ecl-row ecl-footer__row">
      <div class="ecl-col">
                <ul class="ecl-list ecl-list--inline ecl-footer__list ecl-footer__list--inline">
                      <li class="ecl-footer__list-item">Last published 26/06/2018</li>
                                              <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Language policy</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Privacy policy</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Legal notice</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Cookies</a>
                              </li>
                                                <li class="ecl-footer__list-item">
                                  







  



<a class="ecl-link ecl-footer__link" href="../../example.html#">Web accessibility</a>
                              </li>
                              </ul>
              </div>
    </div>
  </div>
</div>

    </div>
  </footer>


  <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
          ECL.initExpandables('.ecl-expandable__button');
          ECL.dialogs({
            dialogOverlayId: 'ecl-overlay-language-list',
            triggerElementsSelector: '#ecl-lang-select-sites__overlay'
          });
        });
      </script>
  </body>
</html>

