

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="ecl-typography">
    <main>
      






<ul class="ecl-listing">
      <li class="ecl-list-item ecl-u-pv-s">
      












<div class="ecl-row ecl-comment">
    <div class="ecl-comment__image-wrapper">
    <img class="ecl-image ecl-image--fluid ecl-comment__image" src="https://unsplash.it/300/400?image=1005" alt="Martin's photo">
  </div>
    <div class="ecl-comment__body">
    <div class="ecl-comment__meta">
      <span class="ecl-comment__author">Martin (Not verified)</span> |
      <span class="ecl-comment__date">26 March 2015</span>
    </div>
    







  



<a class="ecl-link ecl-heading ecl-heading--h3 ecl-comment__title" href="../../example.html#">Nice article</a>
    <p class="ecl-paragraph ecl-comment__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem eius enim eos error esse fugiat incidunt iste laudantium nemo, numquam quam quasi repudiandae sapiente soluta sunt tempore ullam voluptatem.</p>
        <ul class="ecl-list ecl-list--inline ecl-comment__operations">
              <li>
          







  



<a class="ecl-link ecl-comment__reply" href="../../example.html#">Reply</a>
        </li>
                    <li>
          







  



<a class="ecl-link ecl-comment__edit" href="../../example.html#">Edit</a>
        </li>
                    <li>
          







  



<a class="ecl-link ecl-comment__delete" href="../../example.html#">Delete</a>
        </li>
          </ul>
      </div>
</div>
    </li>
      <li class="ecl-list-item ecl-u-pv-s">
      












<div class="ecl-row ecl-comment">
    <div class="ecl-comment__image-wrapper">
    <img class="ecl-image ecl-image--fluid ecl-comment__image" src="https://picsum.photos/300/400?image=1011" alt="Clara's photo">
  </div>
    <div class="ecl-comment__body">
    <div class="ecl-comment__meta">
      <span class="ecl-comment__author">Clara (Not verified)</span> |
      <span class="ecl-comment__date">28 March 2015</span>
    </div>
    







  



<a class="ecl-link ecl-heading ecl-heading--h3 ecl-comment__title" href="../../example.html#">Interesting</a>
    <p class="ecl-paragraph ecl-comment__text">Excepteur ipsum ipsum officia ullamco nisi laboris do minim. Amet esse commodo ut eiusmod. Eu voluptate velit consectetur laborum ea. Et occaecat exercitation minim voluptate amet non. Ea veniam aute laborum exercitation labore dolore.</p>
        <ul class="ecl-list ecl-list--inline ecl-comment__operations">
              <li>
          







  



<a class="ecl-link ecl-comment__reply" href="../../example.html#">Reply</a>
        </li>
                    <li>
          







  



<a class="ecl-link ecl-comment__edit" href="../../example.html#">Edit</a>
        </li>
                    <li>
          







  



<a class="ecl-link ecl-comment__delete" href="../../example.html#">Delete</a>
        </li>
          </ul>
      </div>
</div>
    </li>
      <li class="ecl-list-item ecl-u-pv-s">
      












<div class="ecl-row ecl-comment">
    <div class="ecl-comment__image-wrapper">
    <img class="ecl-image ecl-image--fluid ecl-comment__image" src="https://picsum.photos/300/400?image=1006" alt="Clara's photo">
  </div>
    <div class="ecl-comment__body">
    <div class="ecl-comment__meta">
      <span class="ecl-comment__author">Anna (Not verified)</span> |
      <span class="ecl-comment__date">27 March 2015</span>
    </div>
    







  



<a class="ecl-link ecl-heading ecl-heading--h3 ecl-comment__title" href="../../example.html#">I agree</a>
    <p class="ecl-paragraph ecl-comment__text">Ad eu proident commodo fugiat elit occaecat laboris cillum sit. Ex elit laborum amet excepteur occaecat do ea eu ullamco. Esse dolor commodo commodo incididunt ea quis cillum est deserunt. Tempor exercitation minim dolore ipsum sit cupidatat cupidatat occaecat laboris duis ipsum. Sint non quis eu commodo magna voluptate nisi ad laborum. Ea eu officia quis in enim duis proident voluptate do velit ut non ea ex.</p>
        <ul class="ecl-list ecl-list--inline ecl-comment__operations">
              <li>
          







  



<a class="ecl-link ecl-comment__reply" href="../../example.html#">Reply</a>
        </li>
                    <li>
          







  



<a class="ecl-link ecl-comment__edit" href="../../example.html#">Edit</a>
        </li>
                    <li>
          







  



<a class="ecl-link ecl-comment__delete" href="../../example.html#">Delete</a>
        </li>
          </ul>
      </div>
</div>
    </li>
  
  










<form class="ecl-form">
        










<fieldset class="ecl-fieldset">
            







  

<legend class="ecl-form-legend ecl-form-legend--level-1">New Comment</legend>          










<div class="ecl-form-group">
                










<label class="ecl-form-label" for="field-ID-1">Title</label>
              











        


<input
  type="text"
  class="ecl-text-input"
  id="field-ID-1"
  name="field-name-1"
   placeholder="Your title"
/>
            </div>
          










<div class="ecl-form-group">
                










<label class="ecl-form-label" for="field-ID-2">Comment</label>
              











        


<textarea
  name="field-name-2"
  id="field-ID-2"
  rows="4"
  class="ecl-textarea"
  role="textbox"
  aria-multiline="true"
   placeholder="Your comment"
>
</textarea>
            </div>
          










  
        



  <button type="submit" class="ecl-button ecl-button--primary ecl-u-mt-s" value="send">Send</button>
        </fieldset>
    </form>
</ul>

    </main>
    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

