

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    










<nav class="ecl-side-navigation" aria-label="">
  <button class="ecl-side-navigation__toggle ecl-side-navigation__hamburger ecl-side-navigation__hamburger--squeeze" aria-controls="side-menu-expandable-root" aria-expanded="false">
    <span class="ecl-side-navigation__hamburger-box">
      <span class="ecl-side-navigation__hamburger-inner"></span>
    </span>
    <span class="ecl-side-navigation__hamburger-label"></span>
  </button>
  <ul class="ecl-side-navigation__root ecl-side-navigation--depth-1" id="side-menu-expandable-root" aria-hidden="true">
                </ul>
</nav>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

