

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    <style>
  .exampleContainer {
    display: block;
    width: 100%;
    clear: both;
    padding-top: 2em;
  }
  .example {
    background-color: #404040;
    color: #fff;
    display: block;
    padding: 1em;
  }
</style>

<div class="exampleContainer">
  <h3 class="ecl-heading ecl-heading--h3">Float left: ecl-u-f-l</h3>
  <div class="example ecl-u-f-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
</div>

<div class="exampleContainer">
  <h3 class="ecl-heading ecl-heading--h3">Float right: ecl-u-f-r</h3>
  <div class="example ecl-u-f-r">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
</div>

<div class="exampleContainer">
  <h3 class="ecl-heading ecl-heading--h3">Float none: ecl-u-f-none</h3>
  <div class="example ecl-u-f-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
</div>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

