

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    










<div class="ecl-profile-topbar">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-md-2">
        











<img
  class="ecl-image"  alt=""
  src=""
   />

      </div>
      <div class="ecl-col-md-10 ecl-profile-topbar__pane">
        










<div class="ecl-context-nav">
  <span class="ecl-context-nav__label"></span>
  </div>
        













  <button type="submit" class="ecl-button ecl-button--default"></button>
      </div>
    </div>
  </div>
  <div
      >
    <div class="ecl-container">
              <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue quis est dignissim lacinia. Curabitur interdum iaculis sagittis. Maecenas sodales elit est, et suscipit nisl vulputate eget. Mauris vel pulvinar odio. Sed diam turpis, cursus vel congue vel, lobortis a ipsum. Donec vel quam nec enim tristique efficitur at eget nisl.
        </p>
          </div>
  </div>
</div>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

