

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    











<div class="ecl-site-switcher">
  <div class="ecl-container">
    <ul class="ecl-site-switcher__list">
      <li class="ecl-site-switcher__option">
        







  



<a class="ecl-link ecl-site-switcher__link" href="#"></a>
      </li>
      <li class="ecl-site-switcher__option">
        







  



<a class="ecl-link ecl-site-switcher__link" href="#"></a>
      </li>
    </ul>
  </div>
</div>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

