

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    










<div class="ecl-datepicker"><input
  type="text"
  class="ecl-text-input"
  id="datepicker"
  name="datepicker"
   aria-label="Use the arrow keys to pick a date" value=""
/><span class="ecl-datepicker__icon ecl-icon ecl-icon--calendar"></span></div>
    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

