

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    










<div class="ecl-row ecl-comment">
    <div class="ecl-comment__body">
    <div class="ecl-comment__meta">
      <span class="ecl-comment__author"></span> |
      <span class="ecl-comment__date"></span>
    </div>
    







  



<a class="ecl-link ecl-heading ecl-heading--h3 ecl-comment__title" href="#"></a>
    <p class="ecl-paragraph ecl-comment__text"></p>
      </div>
</div>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

