

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
  </head>
  <body class="ecl-typography">
    <!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout for Inpage Navigation</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../eu-preset-website/styles/ecl-eu-preset-website.css">
    <style>
    .example-col {
      background-color: #333;
      color: #fff;
      text-align: center;
    }
    </style>
  </head>
  <body class="ecl-typography">
    <div class="ecl-container">
      <div class="ecl-row">
        <div class="ecl-col ecl-u-pa-xxl example-col">
          Example row
        </div>
      </div>
      <div class="ecl-row ecl-u-mv-xl">
        <div class="ecl-col-md-3 ecl-u-z-navigation">
          
        </div>
        <div class="ecl-col-md-9">
          <h2 class="ecl-heading ecl-heading--h2" id="inline-nav-1">Heading 1</h2>
          <p class="ecl-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dui ac lacus interdum eleifend non ut nisl. Duis arcu turpis, tristique vitae fringilla feugiat, tincidunt ac enim. Duis tincidunt purus quis metus finibus, ut ultricies nibh mattis. Ut ultricies placerat leo ac egestas. Suspendisse fringilla augue quam. Proin velit ipsum, bibendum ut commodo non, mattis at nisi. Sed massa eros, malesuada eu ipsum non, euismod finibus massa. Etiam mi ex, fringilla quis urna non, dignissim vulputate tortor. Vivamus congue sem vel ipsum posuere vulputate. Praesent ac vestibulum sem, sed tristique ligula. Praesent non eros suscipit, sagittis quam in, commodo felis.</p>
          <p class="ecl-paragraph">Donec egestas fermentum nisl vel aliquet. Pellentesque dui massa, elementum sed laoreet at, blandit sit amet magna. Praesent ac lobortis turpis. Maecenas sem est, consequat in erat sit amet, malesuada cursus arcu. Vestibulum molestie massa nec elit luctus euismod. Nullam nec diam et augue mattis mollis. Phasellus efficitur id velit eu vestibulum. Donec ullamcorper semper porttitor. Vivamus et sagittis urna. Nunc sit amet lectus nec magna cursus vehicula. In elementum pretium pellentesque. Vivamus est metus, hendrerit eget urna venenatis, pellentesque cursus lacus. Etiam tempus justo eget velit ultrices, in tempor arcu sodales.</p>
          <h2 class="ecl-heading ecl-heading--h2" id="inline-nav-2">Heading 2</h2>
          <p class="ecl-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dui ac lacus interdum eleifend non ut nisl. Duis arcu turpis, tristique vitae fringilla feugiat, tincidunt ac enim. Duis tincidunt purus quis metus finibus, ut ultricies nibh mattis. Ut ultricies placerat leo ac egestas. Suspendisse fringilla augue quam. Proin velit ipsum, bibendum ut commodo non, mattis at nisi. Sed massa eros, malesuada eu ipsum non, euismod finibus massa. Etiam mi ex, fringilla quis urna non, dignissim vulputate tortor. Vivamus congue sem vel ipsum posuere vulputate. Praesent ac vestibulum sem, sed tristique ligula. Praesent non eros suscipit, sagittis quam in, commodo felis.</p>
          <p class="ecl-paragraph">Donec egestas fermentum nisl vel aliquet. Pellentesque dui massa, elementum sed laoreet at, blandit sit amet magna. Praesent ac lobortis turpis. Maecenas sem est, consequat in erat sit amet, malesuada cursus arcu. Vestibulum molestie massa nec elit luctus euismod. Nullam nec diam et augue mattis mollis. Phasellus efficitur id velit eu vestibulum. Donec ullamcorper semper porttitor. Vivamus et sagittis urna. Nunc sit amet lectus nec magna cursus vehicula. In elementum pretium pellentesque. Vivamus est metus, hendrerit eget urna venenatis, pellentesque cursus lacus. Etiam tempus justo eget velit ultrices, in tempor arcu sodales.</p>
          <h2 class="ecl-heading ecl-heading--h2" id="inline-nav-3">Heading 3</h2>
          <p class="ecl-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dui ac lacus interdum eleifend non ut nisl. Duis arcu turpis, tristique vitae fringilla feugiat, tincidunt ac enim. Duis tincidunt purus quis metus finibus, ut ultricies nibh mattis. Ut ultricies placerat leo ac egestas. Suspendisse fringilla augue quam. Proin velit ipsum, bibendum ut commodo non, mattis at nisi. Sed massa eros, malesuada eu ipsum non, euismod finibus massa. Etiam mi ex, fringilla quis urna non, dignissim vulputate tortor. Vivamus congue sem vel ipsum posuere vulputate. Praesent ac vestibulum sem, sed tristique ligula. Praesent non eros suscipit, sagittis quam in, commodo felis.</p>
          <p class="ecl-paragraph">Donec egestas fermentum nisl vel aliquet. Pellentesque dui massa, elementum sed laoreet at, blandit sit amet magna. Praesent ac lobortis turpis. Maecenas sem est, consequat in erat sit amet, malesuada cursus arcu. Vestibulum molestie massa nec elit luctus euismod. Nullam nec diam et augue mattis mollis. Phasellus efficitur id velit eu vestibulum. Donec ullamcorper semper porttitor. Vivamus et sagittis urna. Nunc sit amet lectus nec magna cursus vehicula. In elementum pretium pellentesque. Vivamus est metus, hendrerit eget urna venenatis, pellentesque cursus lacus. Etiam tempus justo eget velit ultrices, in tempor arcu sodales.</p>
        </div>
      </div>
      <div class="ecl-row">
        <div class="ecl-col ecl-u-pa-xxl example-col">
          Example row
        </div>
      </div>
    </div>
    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

    <script src="../../eu-preset-website/scripts/ecl-eu-preset-website.js"></script>
      </body>
</html>

