/**
 * Comments component
 * @define comment
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-comment() {
  .ecl-comment {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }

  .ecl-comment__image-wrapper {
    box-sizing: border-box;
    display: none;
    flex-shrink: 0;

    @include ecl-media-breakpoint-up(md) {
      display: block;
      padding-right: map-get($ecl-spacing, 'm');
      width: 20%;
    }
  }

  .ecl-comment__image {
    border: 1px solid map-get($ecl-colors, 'yellow-100');
    box-sizing: border-box;
    padding: 1px;
  }

  .ecl-comment__body {
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: map-get($ecl-font-size, 's');
    padding: map-get($ecl-spacing, 'm') map-get($ecl-spacing, 'l');
    position: relative;
  }

  .ecl-comment__body::before {
    @include ecl-media-breakpoint-up(md) {
      border: map-get($ecl-spacing, 'xs') solid rgba(255, 255, 255, 0);
      border-right-color: #fff;
      content: ' ';
      height: 0;
      margin-top: -#{map-get($ecl-spacing, 'xs')};
      pointer-events: none;
      position: absolute;
      right: 100%;
      top: map-get($ecl-spacing, 'm');
      width: 0;
    }
  }

  .ecl-comment__meta {
    border-bottom: 1px solid map-get($ecl-colors, 'yellow-100');
    color: $ecl-color-shade;
    margin-bottom: map-get($ecl-spacing, 'xs');
    padding-bottom: map-get($ecl-spacing, 'xxxs');
  }

  .ecl-comment__title {
    color: $ecl-color-shade;
    display: block;
    padding: map-get($ecl-spacing, 's') 0;
  }

  .ecl-comment__text {
    font-size: map-get($ecl-font-size, 's');
  }
}
