/**
 * Highlight print
 * @define highlight
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$highlight: null !default;

.ecl-u-highlight {
  background-color: map.get($highlight, 'background-color');
}
