/**
 * Display utilities
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-utility-display() {
  @each $breakpoint in map-keys($ecl-grid-breakpoints) {
    @include ecl-media-breakpoint-up($breakpoint) {
      $infix: ecl-breakpoint-infix($breakpoint, $ecl-grid-breakpoints);

      .ecl-u-d#{$infix}-none {
        display: none !important;
      }

      .ecl-u-d#{$infix}-inline {
        display: inline !important;
      }

      .ecl-u-d#{$infix}-inline-block {
        display: inline-block !important;
      }

      .ecl-u-d#{$infix}-block {
        display: block !important;
      }

      .ecl-u-d#{$infix}-table {
        display: table !important;
      }

      .ecl-u-d#{$infix}-table-cell {
        display: table-cell !important;
      }

      .ecl-u-d#{$infix}-flex {
        display: flex !important;
      }

      .ecl-u-d#{$infix}-inline-flex {
        display: inline-flex !important;
      }
    }
  }
}

// Use mixin
@include exports('eu-utility-display') {
  @include ecl-utility-display;
}
