<div class="site-corporate">
  <div class="ecl-container">
    <div class="section__body">
      <div class="ecl-row">
        <div class="ecl-col-sm">
          <h4 class="ecl-h4"><a href="#">European Commission</a></h4>
          <ul class="">
            <li class="">
              <a href="#" class="">Commission and it's priorities</a>
            </li>
            <li class="">
              <a href="#" class="">Policies information and services</a>
            </li>
          </ul>
        </div>
        <div class="ecl-col-sm">
          <h4 class="ecl-h4">Follow the European Commission</h4>
          <ul class="">
            <li class="">
              <a href="#" class="ecl-icon ecl-icon--facebook" target="_blank">Facebook</a>
            </li>
            <li class="">
              <a href="#" class="ecl-icon ecl-icon--twitter">Twitter</a>
            </li>
            <li class="">
              <a href="#" class="ecl-icon ecl-icon--external">Other social media</a>
            </li>
          </ul>
        </div>
        <div class="ecl-col-sm">
          <h4 class="ecl-h4">European Union</h4>
          <ul class="">
            <li class="">
              <a href="#">EU institutions</a>
            </li>
            <li class="">
              <a href="#">European Union</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
