/**
 * Typography utilities
 */

@use 'sass:map';
@use '@ecl/grid/mixins/breakpoints';
@use '@ecl/mixins-typography/mixins';

// Exposed variables
$theme: null !default;
$typography: null !default;

/*
* Headings
*/
@if map.has-key($typography, 'display') {
  .ecl-u-type-display {
    color: map.get($typography, 'heading-color');

    @include mixins.responsive-font('display');
  }
}

.ecl-u-type-heading-1,
%ecl-heading-1 {
  color: map.get($typography, 'heading-color');

  @include mixins.responsive-font('heading1');
}

.ecl-u-type-heading-2,
%ecl-heading-2 {
  color: map.get($typography, 'heading-color');

  @include mixins.responsive-font('heading2');
}

.ecl-u-type-heading-3,
%ecl-heading-3 {
  color: map.get($typography, 'heading-color');

  @include mixins.responsive-font('heading3');
}

.ecl-u-type-heading-4,
%ecl-heading-4 {
  color: map.get($typography, 'heading-color');

  @include mixins.responsive-font('heading4');
}

.ecl-u-type-heading-5,
%ecl-heading-5 {
  color: map.get($typography, 'heading-color');

  @include mixins.responsive-font('heading5');
}

.ecl-u-type-heading-6,
%ecl-heading-6 {
  color: map.get($typography, 'heading-color');

  @include mixins.responsive-font('heading6');
}

%ecl-heading-1,
%ecl-heading-2,
%ecl-heading-3,
%ecl-heading-4,
%ecl-heading-5,
%ecl-heading-6 {
  margin: map.get($typography, 'heading-margin');
}

/*
* Paragraph
*/
@each $key, $value in map.get($typography, 'paragraph') {
  .ecl-u-type-paragraph-#{$key} {
    color: map.get($typography, 'text-color') !important;
    font: $value !important;
    max-width: var(--max-w) !important;
  }
}

.ecl-u-type-paragraph {
  color: map.get($typography, 'text-color') !important;
  font: map.get($typography, 'paragraph', 'm') !important;
  max-width: var(--max-w) !important;
}

%ecl-paragraph {
  color: map.get($typography, 'text-color');
  font: map.get($typography, 'paragraph', 'm');
  max-width: var(--max-w) !important;
}

.ecl-u-type-paragraph-lead {
  color: map.get($typography, 'text-color');
  font: map.get($typography, 'paragraph', 'l') !important;
  max-width: var(--max-w) !important;
}

@if map.has-key($typography, 'paragraph', 'xl') {
  .ecl-u-type-paragraph-lead {
    font: map.get($typography, 'paragraph', 'xl') !important;
  }
}

/*
* Microcopy
*/
@if map.has-key($typography, 'microcopy') {
  @each $key, $value in map.get($typography, 'microcopy') {
    .ecl-u-type-microcopy-#{$key} {
      color: map.get($typography, 'text-color') !important;
      max-width: var(--max-w) !important;

      @include mixins.responsive-font('microcopy-' + $key);
    }
  }
}

/*
* Fonts
*/
@each $key, $value in map.get($theme, 'font') {
  .ecl-u-type-#{$key} {
    font: var(--f-#{$key}) !important;
  }
}

/*
* Font colour
*/
// Used only on EU
@if map.has-key($theme, 'color') {
  @each $key, $value in map.get($theme, 'color') {
    @if $key != 'white' and $key != 'black' {
      .ecl-u-type-color-#{$key} {
        color: var(--ecl-color-#{$key}) !important;
      }
    }
  }
}

@if map.has-key($theme, 'color-default') {
  @each $key, $value in map.get($theme, 'color-default') {
    .ecl-u-type-color-#{$key} {
      color: var(--ecl-color-#{$key}) !important;
    }
  }

  $semantic-color: (
    'primary',
    'secondary',
    'neutral-dark',
    'neutral-light',
    'info',
    'success',
    'error',
    'warning'
  );

  @each $key in $semantic-color {
    .ecl-u-type-color-#{$key} {
      color: var(--ecl-color-#{$key}) !important;
    }
  }

  @if map.has-key($theme, 'color-modes') {
    $type-mode: (
      'on-surface',
      'on-surface-highlight',
      'on-surface-variant-1',
      'on-surface-variant-2'
    );

    @each $key in $type-mode {
      .ecl-u-type-color-#{$key} {
        color: var(--cm-#{$key}) !important;
      }
    }
  }
}

.ecl-u-type-color-white {
  color: #fff !important;
}

.ecl-u-type-color-black {
  color: #000 !important;
}

/*
* Font weight
*/
@each $key, $value in map.get($theme, 'font-weight') {
  .ecl-u-type-weight-#{$key} {
    font-weight: $value !important;
  }
}

/*
* Font style
*/
.ecl-u-type-italic {
  font-style: italic !important;
}

.ecl-u-type-capitalize {
  text-transform: capitalize !important;
}

.ecl-u-type-lowercase {
  text-transform: lowercase !important;
}

.ecl-u-type-uppercase {
  text-transform: uppercase !important;
}

.ecl-u-type-overline {
  text-decoration: overline !important;
}

.ecl-u-type-underline {
  text-decoration: underline !important;
}

.ecl-u-type-strike {
  text-decoration: line-through !important;
}

.ecl-u-type-none {
  text-decoration: none !important;
}

/*
* Text align
*/
.ecl-u-type-align-left {
  text-align: left !important;
}

.ecl-u-type-align-right {
  text-align: right !important;
}

.ecl-u-type-align-center {
  text-align: center !important;
}
