{% spaceless %}

{#
  Parameters:
  - "items" (array) (default: [])
    - "lang" (string) (default: '')
    - "label" (string) (default: '')
    - "path" (string) (default: '')
    - "active (boolean) (default: false)
  - "section" (string) (default: '')
  - "overlay" (boolean) (default: false): is the list an overlay?
  - "category" (string) (default: '')
  - "icon_path" (string) (default: ''): file containing the svg icons
#}

{# Internal properties #}

{% set _items = items|default([]) %}
{% set _overlay = overlay|default(false) %}
{% set _icon_path = icon_path|default('') %}
{% set _category = category|default('') %}
{% set _section = section|default('') %}

{# Internal logic - Process properties #}

{% set _column1 = _items|slice(0, (items|length / 2)|round(0, 'ceil')) %}
{% set _column2 = _items|slice((items|length / 2)|round(0, 'ceil'), items|length) %}

{# Print the result #}

<div class="ecl-row ecl-language-list__{{ section }}">
  <div class="ecl-language-list__category ecl-col-12 ecl-col-l-8 ecl-offset-l-2">
    {{- category|raw -}}
  </div>
  <div class="ecl-language-list__column ecl-col-12 ecl-col-l-4 ecl-offset-l-2">
    <ul class="ecl-language-list__list">
      {% for _item in _column1 %}
        {% set _item_class = 'ecl-language-list__item' %}
        {% if _item.active is defined %}
          {% set _item_class = _item_class ~ ' ecl-language-list__item--is-active' %}
        {% endif %}
        <li class="{{ _item_class }}">
          {% include '@ecl/language-list/language-list-item.html.twig' with {
            item: _item,
            overlay: _overlay,
            icon_path: _icon_path,
          } only %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="ecl-language-list__column ecl-col-12 ecl-col-l-4">
    <ul class="ecl-language-list__list">
      {% for _item in _column2 %}
        {% set _item_class = 'ecl-language-list__item' %}
        {% if _item.active is defined %}
          {% set _item_class = _item_class ~ ' ecl-language-list__item--is-active' %}
        {% endif %}
        <li class="{{ _item_class }}">
          {% include '@ecl/language-list/language-list-item.html.twig' with {
            item: _item,
            overlay: _overlay,
            icon_path: _icon_path,
          } only %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endspaceless %}
