<section class="ecl-lang-select-site clearfix">
  <a href="#" class="ecl-lang-select-site__link">
    <span class="ecl-lang-select-site__label">English</span>
    <span class="ecl-lang-select-site__code">
      <span class="ecl-icon ecl-icon--language ecl-lang-select-site__icon"></span>
      <span class="ecl-lang-select-site__code-text">en</span>
    </span>
  </a>
  <div class="splash-page splash-page--overlay"></div>
</section>
