<div class="ecl-accordions" role="tablist" aria-multiselectable="true">
  <h2 id="accordion-header-1" class="ecl-accordions__header" role="tab" aria-controls="accordion-panel-1" tabindex="0" aria-selected="true" aria-expanded="true">
    <span class="ecl-accordions__header-icon ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--growth"></span> Jobs, Growth, Investment and Competitiveness with an additional quite long string
  </h2>
  <div id="accordion-panel-1" class="ecl-accordions__panel" role="tabpanel" aria-labelledby="accordion-header-1" tabindex="0" aria-hidden="false">
    <div class="ecl-accordions__inner">
      <p>Bullfights. Bull hockey. Do you like this? The bull is stabbed, prodded, beaten. The bull is wounded. The bull is tired before the matador ever steps into the ring. Now, is that victory? Of course it is. Wanna know the secret to winning? Creative sportsmanship. In other words, one has to rig the game.</p>
    </div>
  </div>
  <h2 id="accordion-header-2" class="ecl-accordions__header" role="tab" aria-controls="accordion-panel-2" tabindex="0" aria-selected="false" aria-expanded="false">
    <span class="ecl-accordions__header-icon ecl-icon ecl-icon--rounded ecl-u-bg-secondary ecl-icon--energy"></span> Energy Union
  </h2>
  <div id="accordion-panel-2" class="ecl-accordions__panel" role="tabpanel" aria-labelledby="accordion-header-2" tabindex="0" aria-hidden="true">
    <div class="ecl-accordions__inner">
      <p>Bullfights. Bull hockey. Do you like this? The bull is stabbed, prodded, beaten. The bull is wounded. The bull is tired before the matador ever steps into the ring. Now, is that victory? Of course it is. Wanna know the secret to winning? Creative sportsmanship. In other words, one has to rig the game.</p>
    </div>
  </div>
</div>
