/**
* Link component
* @define link
*/

@use 'sass:map';
@use '@ecl/theme-dev/variables';
@use '@ecl/theme-dev/theme';

// Exposed variables
$link-color: variables.$link-color !default;
$link-color-hover: variables.$link-color-hover !default;
$link-color-visited: variables.$link-color-visited !default;
$link-color-active: variables.$link-color-active !default;
$link-focus-outline-color: variables.$link-focus-outline-color !default;
$link-focus-outline-width: variables.$link-focus-outline-width !default;
$link-focus-outline-radius: variables.$link-focus-outline-radius !default;

// Internal variables
$_button-link: null !default;
$_cta: null !default;
$_primary: null !default;
$_secondary: null !default;
$_negative: null !default;

.ecl-link,
%ecl-link {
  color: $link-color;
  margin: 0;
  text-decoration: underline;

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
  }

  &:focus-visible {
    border-radius: $link-focus-outline-radius;
    outline: $link-focus-outline-width solid $link-focus-outline-color;
    outline-offset: 2px;
  }

  &:active {
    color: $link-color-active;
  }
}

.ecl-link--no-visited:visited {
  color: $link-color;

  &:hover,
  &:focus-visible {
    color: $link-color-hover;
  }
}

.ecl-link--icon-before,
.ecl-link--icon-after {
  display: inline;
}

.ecl-link--icon {
  text-decoration: none;

  .ecl-link__icon {
    fill: currentcolor;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

  &:not(
      .ecl-link--standalone,
      .ecl-link--cta,
      .ecl-link--primary,
      .ecl-link--secondary
    )
    .ecl-link__label {
    text-decoration: underline;
  }
}

.ecl-link--icon-before .ecl-link__icon {
  margin-inline-end: map.get(theme.$spacing, 'xs');
}

.ecl-link--icon-after .ecl-link__icon {
  margin-inline-start: map.get(theme.$spacing, 'xs');
}

/**
* Negative
*/
.ecl-link--negative,
%ecl-link-negative {
  color: map.get($_negative, 'color');

  &:visited {
    color: map.get($_negative, 'color-visited');
  }

  &:hover,
  &:focus-visible {
    color: map.get($_negative, 'color-hover');

    /* stylelint-disable-next-line max-nesting-depth */
    &.ecl-link--standalone {
      color: map.get($_negative, 'standalone-color-hover');
    }
  }

  &:focus-visible {
    color: map.get($_negative, 'color');
    outline-color: map.get($_negative, 'color');
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  &.ecl-link--no-visited:visited {
    color: map.get($_negative, 'color');

    /* stylelint-disable-next-line */
    &:hover,
    &:focus-visible {
      color: map.get($_negative, 'color-hover');

      /* stylelint-disable-next-line */
      &.ecl-link--standalone {
        color: map.get($_negative, 'standalone-color-hover');
      }
    }
  }
}

/**
* Standalone
*/
.ecl-link--standalone {
  font-family: #{map.get(theme.$font-family, 'default')};
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

/**
* Button link
*/
.ecl-link--cta,
.ecl-link--primary,
.ecl-link--secondary {
  display: inline-block;
}

// stylelint-disable plugin/selector-bem-pattern
%button-link {
  border-radius: map.get($_button-link, 'border-radius');
  box-sizing: border-box;
  font: map.get(theme.$font, 'm');
  font-weight: map.get($_button-link, 'font-weight');
  padding: map.get(theme.$spacing, 's') map.get(theme.$spacing, 'm');
  text-decoration: none;

  &:hover,
  &:active {
    box-shadow: map.get($_button-link, 'shadow-hover');
  }

  &:focus-visible {
    border-radius: map.get($_button-link, 'border-radius');
    outline: $link-focus-outline-width solid map.get(theme.$color, 'white');
    outline-offset: -4px;
    text-decoration: none;
  }
}
// stylelint-enable plugin/selector-bem-pattern

/**
* Call to action
*/
.ecl-link--cta {
  @extend %button-link;

  background-color: map.get($_cta, 'background-color');
  color: map.get($_cta, 'color');

  &:visited {
    color: $link-color-visited;
  }

  &:hover,
  &:active {
    background-color: map.get($_cta, 'background-color-hover');
    color: map.get($_cta, 'color');
  }

  &:focus {
    color: map.get($_cta, 'color');
  }

  &:focus-visible {
    outline-color: map.get($_cta, 'outline-color');
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  &.ecl-link--no-visited:visited {
    color: map.get($_cta, 'color');

    // stylelint-disable-next-line
    &:hover,
    &:active {
      color: map.get($_cta, 'color');
    }
  }
}

/**
* Primary
*/
.ecl-link--primary {
  @extend %button-link;

  background-color: map.get($_primary, 'background-color');
  color: map.get($_primary, 'color');

  &:visited {
    color: map.get($_primary, 'color-visited');
  }

  &:hover,
  &:active {
    background-color: map.get($_primary, 'background-color-hover');
    color: map.get($_primary, 'color');
  }

  &:focus {
    color: map.get($_primary, 'color');
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  &.ecl-link--no-visited:visited {
    color: map.get($_primary, 'color');

    // stylelint-disable-next-line
    &:hover,
    &:active {
      color: map.get($_primary, 'color');
    }
  }
}

/**
* Secondary
*/
.ecl-link--secondary {
  @extend %button-link;

  background-color: map.get($_secondary, 'background-color');
  border: map.get($_secondary, 'border-width') solid
    map.get($_secondary, 'border-color');
  color: map.get($_secondary, 'color');
  padding: calc(
      #{map.get(theme.$spacing, 's')} - #{map.get($_secondary, 'border-width')}
    )
    calc(
      #{map.get(theme.$spacing, 'm')} - #{map.get($_secondary, 'border-width')}
    );

  &:visited {
    color: $link-color-visited;
  }

  &:hover,
  &:active {
    border-color: map.get($_secondary, 'border-color-hover');
    color: map.get($_secondary, 'color');
  }

  &:focus {
    color: map.get($_secondary, 'color');
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px map.get($_secondary, 'border-color') inset;
    outline: 2px map.get($_secondary, 'background-color') solid;
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  &.ecl-link--no-visited:visited {
    color: map.get($_secondary, 'color');

    // stylelint-disable-next-line
    &:hover,
    &:active {
      color: map.get($_secondary, 'color');
    }
  }
}
