/**
* Link component
* @define link
*/

@use 'sass:map';
@use '@ecl/theme-dev/theme';

$_border-radius: null !default;
$_outline-color: map.get(theme.$color, 'blue-100') !default;
$_outline-width: 2px !default;
$_color: map.get(theme.$color, 'blue-100');
$_color-hover: null !default;
$_color-visited: map.get(theme.$color, 'purple-100');
$_button-link: null !default;
$_cta: null !default;
$_primary: null !default;
$_secondary: null !default;
$_negative: null !default;

.ecl-link,
%ecl-link {
  color: $_color;
  margin: 0;
  text-decoration: underline;

  &:hover {
    color: $_color-hover;
  }

  &:focus-visible {
    border-radius: $_border-radius;
    outline: $_outline-width solid $_outline-color;
    outline-offset: 2px;
  }

  &:visited {
    color: $_color-visited;
  }
}

.ecl-link--no-visited:visited {
  color: $_color;

  &:hover,
  &:focus-visible {
    color: $_color-hover;
  }
}

.ecl-link--icon-before,
.ecl-link--icon-after {
  display: inline;
}

.ecl-link--icon {
  text-decoration: none;

  .ecl-link__icon {
    fill: currentcolor;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
}

.ecl-link--icon-before .ecl-link__icon {
  margin-inline-end: map.get(theme.$spacing, 'xs');
}

.ecl-link--icon-after .ecl-link__icon {
  margin-inline-start: map.get(theme.$spacing, 'xs');
}

/**
* Negative
*/
.ecl-link--negative {
  color: map.get($_negative, 'color');

  &:hover,
  &:focus-visible {
    color: map.get($_negative, 'color-hover');

    /* stylelint-disable-next-line max-nesting-depth */
    &.ecl-link--standalone {
      color: map.get($_negative, 'standalone-color-hover');
    }
  }

  &:focus-visible {
    color: map.get($_negative, 'color');
    outline-color: map.get($_negative, 'color');
  }

  &:visited {
    color: map.get($_negative, 'color-visited');
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  &.ecl-link--no-visited:visited {
    color: map.get($_negative, 'color');

    /* stylelint-disable-next-line */
    &:hover,
    &:focus-visible {
      color: map.get($_negative, 'color-hover');

      /* stylelint-disable-next-line */
      &.ecl-link--standalone {
        color: map.get($_negative, 'standalone-color-hover');
      }
    }
  }
}

/**
* Standalone
*/
.ecl-link--standalone {
  font-family: #{map.get(theme.$font-family, 'default')};
  text-decoration: none;
}

// stylelint-disable plugin/selector-bem-pattern
%button-link {
  border-radius: map.get($_button-link, 'border-radius');
  box-sizing: border-box;
  font: map.get(theme.$font, 'm');
  font-weight: map.get($_button-link, 'font-weight');
  padding: map.get(theme.$spacing, 's') map.get(theme.$spacing, 'm');
  text-decoration: none;

  &:hover,
  &:active {
    box-shadow: map.get($_button-link, 'shadow-hover');
  }

  &:focus-visible {
    border-radius: map.get($_button-link, 'border-radius');
    outline: $_outline-width solid map.get(theme.$color, 'white');
    outline-offset: -4px;
    text-decoration: none;
  }
}
// stylelint-enable plugin/selector-bem-pattern

/**
* CTA display
*/
.ecl-link--cta,
.ecl-link--primary,
.ecl-link--secondary {
  display: inline-block;
}

/**
* Call to action
*/
.ecl-link--cta {
  @extend %button-link;

  background-color: map.get($_cta, 'background-color');
  color: map.get($_cta, 'color');

  &:hover,
  &:active {
    background-color: map.get($_cta, 'background-color-hover');
    color: map.get($_cta, 'color');
  }

  &:focus {
    color: map.get($_cta, 'color');
  }

  &:focus-visible {
    outline-color: map.get($_cta, 'outline-color');
  }

  &:visited {
    color: $_color-visited;
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  &.ecl-link--no-visited:visited {
    color: map.get($_cta, 'color');

    // stylelint-disable-next-line
    &:hover,
    &:active {
      color: map.get($_cta, 'color');
    }
  }
}

/**
* Primary
*/
.ecl-link--primary {
  @extend %button-link;

  background-color: map.get($_primary, 'background-color');
  color: map.get($_primary, 'color');

  &:hover,
  &:active {
    background-color: map.get($_primary, 'background-color-hover');
    color: map.get($_primary, 'color');
  }

  &:focus {
    color: map.get($_primary, 'color');
  }

  &:visited {
    color: map.get($_primary, 'color-visited');
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  &.ecl-link--no-visited:visited {
    color: map.get($_primary, 'color');

    // stylelint-disable-next-line
    &:hover,
    &:active {
      color: map.get($_primary, 'color');
    }
  }
}

/**
* Secondary
*/
.ecl-link--secondary {
  @extend %button-link;

  background-color: map.get($_secondary, 'background-color');
  border: map.get($_secondary, 'border-width') solid
    map.get($_secondary, 'border-color');
  color: map.get($_secondary, 'color');
  padding: calc(
      #{map.get(theme.$spacing, 's')} - #{map.get($_secondary, 'border-width')}
    )
    calc(
      #{map.get(theme.$spacing, 'm')} - #{map.get($_secondary, 'border-width')}
    );

  &:hover,
  &:active {
    border-color: map.get($_secondary, 'border-color-hover');
    color: map.get($_secondary, 'color');
  }

  &:focus {
    color: map.get($_secondary, 'color');
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px map.get($_secondary, 'border-color') inset;
    outline: 2px map.get($_secondary, 'background-color') solid;
  }

  &:visited {
    color: $_color-visited;
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  &.ecl-link--no-visited:visited {
    color: map.get($_secondary, 'color');

    // stylelint-disable-next-line
    &:hover,
    &:active {
      color: map.get($_secondary, 'color');
    }
  }
}
