@use 'sass:map';
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/theme-eu/theme';
@use 'link' with (
  $link-color: var.$link-color,
  $link-color-hover: var.$link-color-hover,
  $link-color-visited: var.$link-color-visited,
  $link-color-active: var.$link-color-active,

  $link-outline-color: var.$link-outline-color,
  $link-outline-width: var.$link-outline-width,
  $link-outline-radius: var.$link-outline-radius,

  $link-inverted-color: var.$link-inverted-color,
  $link-inverted-color-hover: var.$link-inverted-color-hover,
  $link-inverted-color-visited: var.$link-inverted-color-visited,
  $link-inverted-color-active: var.$link-inverted-color-active,
  $link-inverted-outline-color: var.$link-inverted-outline-color,

  $link-button-radius: var.$link-button-radius,
  $link-button-shadow: var.$link-button-shadow,
  $link-button-border-width: var.$link-button-border-width,
  $link-button-outline-width: var.$link-button-outline-width,
  $link-button-padding-horizontal: var.$link-button-padding-horizontal,
  $link-button-padding-vertical: var.$link-button-padding-vertical,

  $link-primary-background: var.$link-primary-background,
  $link-primary-color: var.$link-primary-color,
  $link-primary-background-hover: var.$link-primary-background-hover,
  $link-primary-color-hover: var.$link-primary-color-hover,
  $link-primary-background-active: var.$link-primary-background-active,
  $link-primary-color-active: var.$link-primary-color-active,
  $link-primary-background-focus: var.$link-primary-background-focus,
  $link-primary-color-focus: var.$link-primary-color-focus,
  $link-primary-border-color: var.$link-primary-border-color,
  $link-primary-border-color-hover: var.$link-primary-border-color-hover,
  $link-primary-border-color-active: var.$link-primary-border-color-active,
  $link-primary-border-color-focus: var.$link-primary-border-color-focus,
  $link-primary-outline-color: var.$link-primary-outline-color,

  $link-secondary-background: var.$link-secondary-background,
  $link-secondary-color: var.$link-secondary-color,
  $link-secondary-background-hover: var.$link-secondary-background-hover,
  $link-secondary-color-hover: var.$link-secondary-color-hover,
  $link-secondary-background-active: var.$link-secondary-background-active,
  $link-secondary-color-active: var.$link-secondary-color-active,
  $link-secondary-background-focus: var.$link-secondary-background-focus,
  $link-secondary-color-focus: var.$link-secondary-color-focus,
  $link-secondary-border-color: var.$link-secondary-border-color,
  $link-secondary-border-color-hover: var.$link-secondary-border-color-hover,
  $link-secondary-border-color-active: var.$link-secondary-border-color-active,
  $link-secondary-border-color-focus: var.$link-secondary-border-color-focus,
  $link-secondary-outline-color: var.$link-secondary-outline-color,

  $_cta: (
    'background-color': map.get(theme.$color, 'yellow-100'),
    'background-color-hover': map.get(theme.$color, 'yellow-100'),
    'color': map.get(theme.$color, 'grey-140'),
    'outline-color': map.get(theme.$color, 'black-100'),
  )
);

.ecl-link--secondary:focus-visible {
  box-shadow: 0 0 0 4px var.$link-secondary-border-color inset;
}
