/**
* Link component
* @define link
*/

@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;

$_link-color: ecl-color('blue');
$_link-color-hover: ecl-color('black');
$_link-color-focus: ecl-color('yellow');

.ecl-link {
  color: $_link-color;
  margin: 0;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $_link-color-hover;
  }

  &:focus {
    outline: 3px solid $_link-color-focus;
    outline-offset: 2px;
  }
}

.ecl-link--icon-before,
.ecl-link--icon-after {
  display: inline-block;
}

.ecl-link--icon {
  text-decoration: none;

  .ecl-link__icon {
    fill: currentColor;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

  &:not(.ecl-link--standalone) .ecl-link__label {
    text-decoration: underline;
  }
}

.ecl-link--standalone {
  font-family: #{ecl-font-family('default')};
  text-decoration: none;

  /* stylelint-disable */
  &:not(.ecl-link--icon) {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &.ecl-link--icon {
    &:hover .ecl-link__label,
    &:focus .ecl-link__label {
      text-decoration: underline;
    }
  }
  /* stylelint-enable */
}

.ecl-link--cta {
  background-color: ecl-color('yellow-100');
  box-sizing: border-box;
  color: ecl-color('black-100');
  display: inline-block;
  font: ecl-font('m');
  font-weight: ecl-font-weight('bold');
  padding: ecl-spacing('s') ecl-spacing('m');

  &:hover,
  &:active {
    border: 2px solid ecl-color('black-100');
    padding: calc(#{ecl-spacing('s')} - 2px) calc(#{ecl-spacing('m')} - 2px);
  }

  &:focus {
    outline-color: ecl-color('black-100');
    outline-offset: -3px;
  }
}
