/*
RSS Link
*/

$rss-link-icon-height: 40px;

.rss-link {
  float: right;
  margin-bottom: 15px;
  position: relative;

  a {
    float: left;
    line-height: 40px;

    &:hover {
      .rss-link__text {
        text-decoration: underline;
      }
    }
  }
}

.rss-link__wrapper {
  overflow: hidden;
}

.rss-link__label {
  color: $grey-base;
  font-size: map-get($font-size, 's');
  font-weight: 600;
  float: left;
  margin-bottom: 0;
  margin-right: 10px;
  line-height: $rss-link-icon-height;
}

.rss-link__icon {
  float: left;

  &::before {
    width: 100%;
  }
}

.rss-link__text {
  display: inline-block;
  font-size: map-get($font-size, 'xs');
  font-weight: normal;
  text-decoration: none;
}

@include media-breakpoint-up(md) {
  .rss-link__wrapper {
    float: right;
  }

  .rss-link {
    margin-bottom: 0;
  }
}
