<nav class="ecl-breadcrumb {{extraClass}}" aria-label="breadcrumb">
  <span class="ecl-u-sr-only">You are here:</span>
  <ol class="ecl-breadcrumb__segments-wrapper">
    {% for segment in segments %}
    <li class="ecl-breadcrumb__segment{{ loop.first ? " ecl-breadcrumb__segment--first" : "" }}{{ loop.last ? " ecl-breadcrumbs__segment--last" : "" }}">
      {% include '@ecl/eu-component-link' with {
        'extra_classes': 'ecl-breadcrumb__link',
        'variant': ['inverted', 'standalone'],
        }|merge(segment|default({}))
      %}
    </li>
    {% endfor %}
  </ol>
</nav>
