<style type="text/css">
  .example {
    background-color: #000;
    max-width: 50%;
  }

  .example__content span{
    color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<h3 class="ecl-heading ecl-heading--h3">16/9 ratio</h3>
<div class="ecl-u-ratio-16-9 example">
  <div class="example__content">
    <span>16/9</span>
  </div>
</div>

<h3 class="ecl-heading ecl-heading--h3">4/3 ratio</h3>
<div class="ecl-u-ratio-4-3 example">
  <div class="example__content">
    <span>4/3</span>
  </div>
</div>
