/**
 * Site Header Standardised
 * @define site-header-standardised; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-site-header-standardised-print() {
  .ecl-site-header-standardised__logo-image-desktop {
    height: 1.9cm;
    margin-bottom: $ecl-spacing-print-4-xl;
    margin-top: $ecl-spacing-print-4-xl;
    padding-bottom: $ecl-spacing-print-xl;
    padding-top: $ecl-spacing-print-xl;
  }

  .ecl-site-header-standardised__logo-image-mobile {
    display: none;
  }

  .ecl-site-header-standardised__action {
    display: none;
  }

  .ecl-site-header-standardised__banner {
    font: $ecl-font-print-3-xl;
    font-family: $ecl-font-family-print-alt;
    font-weight: $ecl-font-weight-print-bold;
    margin-top: $ecl-spacing-print-xs;
  }

  .ecl-site-header-standardised__logo-link::after {
    display: none;
  }
}

// Use mixin
@include exports('eu-component-site-header-standardised-print') {
  @include ecl-site-header-standardised-print;
}
