/**
* Site switcher component
* @define site-switcher
*/

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-site-switcher() {
  .ecl-site-switcher {
    @include ecl-hidden-print();

    background-color: map-get($ecl-colors, 'grey-5');
    display: block;
    font-size: map-get($ecl-font-size, 's');
    margin: 0;

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .ecl-site-switcher__link {
    display: block;
    font-weight: bold;
    line-height: 1.3;
    padding: map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'm');
    text-decoration: none;
    width: 100%;

    &::after,
    &--is-external::after {
      content: none !important;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .ecl-site-switcher__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ecl-site-switcher__option {
    display: inline-block;
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 50%;
  }

  .ecl-site-switcher__option--is-selected {
    background-color: map-get($ecl-colors, 'blue-100');

    .ecl-site-switcher__link {
      color: #fff;
    }
  }

  .ecl-site-switcher--header,
  .ecl-site-switcher--footer {
    border-bottom: 1px solid map-get($ecl-colors, 'grey-5');
  }

  .ecl-site-switcher--footer .ecl-site-switcher__option,
  .ecl-site-switcher--header .ecl-site-switcher__option {
    position: relative;

    &--is-selected::after {
      border: 10px solid rgba(0, 68, 148, 0);
      content: ' ' !important;
      height: 0;
      left: 50%;
      margin-left: -10px;
      pointer-events: none;
      position: absolute;
      width: 0;
    }
  }

  .ecl-site-switcher--header .ecl-site-switcher__option {
    &--is-selected::after {
      border-top-color: map-get($ecl-colors, 'blue-100');
      top: 95%;
    }
  }

  .ecl-site-switcher--footer .ecl-site-switcher__option {
    &--is-selected::after {
      border-bottom-color: map-get($ecl-colors, 'blue-100');
      bottom: 95%;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(lg) {
    .ecl-site-switcher__option {
      width: auto;
    }

    .ecl-site-switcher--footer {
      .ecl-site-switcher__list {
        float: right;
      }
    }
  }
}
