/*
Social Media
*/

.social-media-links {
  @include ecl-hidden-print();

  width: 100%;
  float: left;
  padding: 30px;
  background-color: map-get($ecl-colors, 'grey-10');

  a {
    font-size: 0.778em;
    height: 40px;
    line-height: 40px;

    &.ecl-icon-social {
      padding-top: 0;
    }
  }
}

.social-media-links--field {
  @include ecl-hidden-print();

  width: 100%;
}

.social-media-links__list {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}

.social-media-links__horizontal {
  li {
    float: left;
    margin-right: 0.6em;

    &:nth-last-child(2) {
      margin-right: 3em;
    }
  }
}

.social-media-links__label {
  display: block;
  width: 100%;
  margin-bottom: 0.8em;
}

.social-media-links__item {
  margin-bottom: 0.7em;

  & > a {
    width: 100%;
    display: block;

    @include ecl-focus-outline-border(3px, map-get($ecl-colors, 'yellow-100'), -1px);

    &::before {
      margin-bottom: 0;
    }

    &::after,
    &.is-external::after {
      display: none !important;
    }
  }
}

.social-media-links--webtool-horizontal {
  .wtShareList {
    background-color: transparent;
    padding: 0;

    li:nth-last-child(2) {
      margin-right: 0.5em;
    }

    .wtShareMore {
      line-height: 5em;
    }

    a[href^="http"]:not(.is-internal)::after {
      display: none !important;
    }
  }
}

.social-media-links__label,
.social-media-links > p {
  font-size: 0.889em;
  font-weight: bold;
  line-height: 100%;
  margin: 1.4em 0;
}

.social-media-links--webtool-vertical {
  // Extending for social bookmark kit web tools.
  .wtShareList {
    overflow: visible;
    float: left;
    background-color: transparent !important;
    padding: 0;

    a {
      &[href^="http"]:not(.is-internal)::after {
        display: none !important;
      }

      &:focus {
        outline-offset: -1px;
        text-decoration: underline;
      }
    }

    a {
      width: 100%;
      margin-bottom: 0 !important;
    }

    a.wtShareMore {
      font-size: 0.8em;
      margin-top: 1.2em;

      &:focus {
        outline-offset: 2px;
      }
    }

    .wtShareLink {
      @extend .social-media-links__item;

      font-size: map-get($ecl-font-size, 'm');
    }
  }
}

// Social network links in a field component.

.field ul.social-media-links__horizontal li {
  float: none;
  margin-bottom: 0.1em;
}

@include ecl-media-breakpoint-up(sm) {
  .field ul.social-media-links__horizontal {
    vertical-align: top;

    li {
      float: left;

      &:nth-last-child(2) {
        margin-right: 0.6em;
      }
    }
  }
}
