<div style="padding:2rem 0;position:relative;background-color:#FCF4FB">
  <div class="ecl-container" style="position:absolute;top:0;left:0;right:0;bottom:0">
    <div class="ecl-row" style="height:100%">
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
      <div class="ecl-col-1">
        <div style="background-color:#E9E3FC;height:100%;width:100%"></div>
      </div>
    </div>
  </div>
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-6">
        <div class="ecl-u-pa-xs ecl-u-bg-blue-25 ecl-u-border-all ecl-u-border-color-blue ecl-u-type-color-blue ecl-u-type-l ecl-u-type-bold">.ecl-col-6</div>
      </div>
      <div class="ecl-col-4">
        <div class="ecl-u-pa-xs ecl-u-bg-blue-25 ecl-u-border-all ecl-u-border-color-blue ecl-u-type-color-blue ecl-u-type-l ecl-u-type-bold">.ecl-col-4</div>
      </div>
      <div class="ecl-col-2">
        <div class="ecl-u-pa-xs ecl-u-bg-blue-25 ecl-u-border-all ecl-u-border-color-blue ecl-u-type-color-blue ecl-u-type-l ecl-u-type-bold">.ecl-col-2</div>
      </div>
    </div>
  </div>
</div>
