/*
 * Datepicker
 * @define datepicker
 */

@use 'sass:map';
@use '@ecl/grid/mixins/breakpoints';
@use '@ecl/mixins-typography/mixins';

// Exposed variables
$theme: null !default;
$datepicker: null !default;
$text-input: null !default;

:root {
  --duet-font: #{map.get($theme, 'font-family', 'default')};
  --duet-color-surface: var(--cm-surface-inverted, #fff);
  --duet-color-border: #{map.get($text-input, 'border-color')};
  --duet-color-text: #{map.get($text-input, 'color-input')};
  --duet-radius: #{map.get($text-input, 'radius')};
  --duet-color-placeholder: #{map.get($text-input, 'color-placeholder')};
}

.ecl-datepicker {
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
}

@include breakpoints.up('m') {
  .ecl-datepicker {
    width: map.get($theme, 'form-width', 's', 'breakpoint-m');
  }
}

@include breakpoints.up('l') {
  .ecl-datepicker {
    width: map.get($theme, 'form-width', 's', 'breakpoint-l');
  }
}

@include breakpoints.up('xl') {
  .ecl-datepicker {
    width: map.get($theme, 'form-width', 's', 'breakpoint-xl');
  }
}

/*
  * duet styling
  */
.duet-date__toggle,
.ecl button.duet-date__toggle {
  color: map.get($text-input, 'color-input');
  border: none;
  box-shadow: none;

  &:hover {
    background: transparent;
    color: map.get($text-input, 'color-input');
  }
}

.duet-date__input:focus-visible {
  outline: 2px solid #{map.get($text-input, 'outline-color')};
}

.ecl-datepicker[invalid] .duet-date__input {
  border-color: var(--ecl-color-error);
}

.duet-date__input[disabled] {
  opacity: 0.6;
}

.duet-date__dialog-content {
  background-color: map.get($datepicker, 'picker', 'background-color');
  border-radius: map.get($datepicker, 'picker', 'border-radius');
  border-width: 0;
  box-shadow: map.get($datepicker, 'picker', 'shadow');
  color: map.get($datepicker, 'picker', 'theme-color');
  margin-top: map.get($datepicker, 'picker', 'margin-top');
  margin-inline-start: 0;
  min-width: 360px;
  overflow: hidden;
  padding: map.get($datepicker, 'picker', 'padding');
  width: auto;

  @include mixins.responsive-font(map.get($datepicker, 'picker', 'font'));

  .duet-date__header > div {
    display: flex;
  }

  .duet-date__select {
    align-items: center;
    background-color: map.get($datepicker, 'picker', 'select-background-color');
    border: map.get($datepicker, 'picker', 'select-border');
    border-radius: map.get($datepicker, 'picker', 'border-radius');
    box-shadow: map.get($datepicker, 'picker', 'select-shadow');
    color: map.get($datepicker, 'picker', 'theme-color');
    display: flex;
    flex-basis: 30%;
    flex-grow: 1;
    justify-content: space-between;
    margin-inline-end: var(--s-xs);
    padding: var(--s-xs) var(--s-m);

    @include mixins.responsive-font(
      map.get($datepicker, 'picker', 'font'),
      $font-weight: map.get($theme, 'font-weight', 'regular')
    );

    &:last-of-type {
      margin-inline-end: 0;
    }
  }

  button.duet-date__prev,
  button.duet-date__next {
    align-items: center;
    border: none;

    &:hover {
      background: none;
      color: var(--duet-color-text);
    }

    * {
      vertical-align: middle;
    }
  }

  .duet-date__table {
    background-color: map.get($datepicker, 'picker', 'background-color');
    border-collapse: initial;
    border-spacing: 0;

    th {
      color: map.get($datepicker, 'picker', 'theme-color');
      padding-block: var(--s-s);
      padding-inline: 0 map.get($datepicker, 'picker', 'table-spacing');
      text-transform: uppercase;

      @include mixins.responsive-font(
        map.get($datepicker, 'picker', 'font-th'),
        $font-weight: map.get($theme, 'font-weight', 'regular')
      );

      &:last-child {
        padding-inline-end: 0;
      }
    }

    td {
      padding-block-start: map.get($datepicker, 'picker', 'table-spacing');
      padding-inline-end: map.get($datepicker, 'picker', 'table-spacing');

      &:last-child {
        padding-inline-end: 0;
      }
    }

    abbr {
      text-decoration: none;
    }

    tbody::before {
      background-color: transparent;
      content: '';
      display: block;
      height: map.get($datepicker, 'picker', 'thead-margin');
    }

    .duet-date__day {
      background-color: var(--cm-surface-inverted, #fff);
      border-radius: map.get($datepicker, 'picker', 'border-radius');
      border-width: 0;
      color: map.get($datepicker, 'picker', 'theme-color');
      padding: calc(var(--s-xs) + 2px) var(--s-xs);
      text-align: center;

      @include mixins.responsive-font(map.get($datepicker, 'picker', 'font'));

      &:hover {
        background-color: map.get(
          $datepicker,
          'picker',
          'day-hover-background'
        );
        border-radius: map.get($datepicker, 'picker', 'border-radius');
        box-shadow: map.get($datepicker, 'picker', 'day-hover-shadow');
        color: map.get($datepicker, 'picker', 'theme-color');
        font-weight: map.get($datepicker, 'picker', 'day-hover-weight');
      }

      &.is-today {
        color: map.get($datepicker, 'picker', 'day-today-color');
        font-weight: map.get($datepicker, 'picker', 'day-today-weight');
        position: relative;

        &::before {
          background-color: map.get($datepicker, 'picker', 'day-today-color');
          border-radius: 2px;
          bottom: 4px;
          left: calc(50% - 10px);
          content: '';
          display: block;
          height: 2px;
          position: absolute;
          width: 20px;
        }

        &:hover {
          color: map.get($datepicker, 'picker', 'theme-color');

          &::before {
            background-color: map.get($datepicker, 'picker', 'theme-color');
          }
        }
      }

      &[aria-pressed='true'] {
        background-color: map.get(
          $datepicker,
          'picker',
          'day-selected-background'
        );
        border-radius: map.get($datepicker, 'picker', 'border-radius');
        box-shadow: none;
        color: var(--cm-on-surface-inverted, #fff);
        font-weight: map.get($datepicker, 'picker', 'day-selected-weight');

        &:hover {
          color: var(--cm-on-surface-inverted, #fff);
        }

        &::before {
          background-color: var(--cm-surface-inverted, #fff);
        }
      }

      &:not(.is-month) {
        background-color: map.get(
          $datepicker,
          'picker',
          'day-outside-background'
        );
        color: map.get($datepicker, 'picker', 'day-outside-color');
        opacity: 1;

        &:hover {
          background-color: map.get(
            $datepicker,
            'picker',
            'day-hover-background'
          );
          color: map.get($datepicker, 'picker', 'theme-color');
        }
      }
    }
  }
}
