@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'content-block' with (
  $_primary-meta-color: map.get(theme.$color, 'grey-140'),
  $_title-font: (
    'mobile': map.get(theme.$font, 'xl'),
    'desktop': map.get(theme.$font, '2xl'),
  ),
  $_text-color: map.get(theme.$color, 'grey-140'),
  $_secondary-meta-color: map.get(theme.$color, 'grey-80'),
  $_secondary-meta-icon-color: map.get(theme.$color, 'blue-50'),
  $_link-separator-color: map.get(theme.$color, 'blue-20')
);
