@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

%card {
  align-items: flex-start;
  border: 2px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-basis: 14.5rem;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  margin: var(--s-s) var(--s-s) 0 0;
  max-width: 14.5rem;
  padding: var(--s-s);
}

.card {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %card;

  border-color: var(--c-n-60);
  color: var(--c-d);
}

.card--negative {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %card;

  background-color: var(--c-d);
  border-color: var(--c-n-60);
  color: map.get($theme, 'color', 'white');
}

.title {
  font: var(--f-m);
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin: var(--s-s) 0 0;
  text-align: center;
  width: 100%;
}

.logo {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}
