@use 'sass:map';
@use '@ecl/theme-dev/theme';

%card {
  align-items: flex-start;
  border: 2px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-basis: 14.5rem;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  margin: map.get(theme.$spacing, 's') map.get(theme.$spacing, 's') 0 0;
  max-width: 14.5rem;
  padding: map.get(theme.$spacing, 's');
}

.card {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %card;

  border-color: map.get(theme.$color, 'grey-15');
  color: map.get(theme.$color, 'grey-100');

  &:hover {
    border-color: map.get(theme.$color, 'black-100');
  }
}

.card--negative {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %card;

  background-color: map.get(theme.$color, 'grey-100');
  border-color: map.get(theme.$color, 'grey-15');
  color: map.get(theme.$color, 'white-100');

  &:hover {
    border-color: map.get(theme.$color, 'black-100');
  }
}

.title {
  font: map.get(theme.$font, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin: map.get(theme.$spacing, 's') 0 0;
  text-align: center;
  width: 100%;
}

.logo {
  height: auto;
  max-width: 100%;
}
