<div class="ecl-datepickers">
  {% include '@ec-europa/ecl-forms-text-inputs' with {
    'type': 'text',
    'id': 'datepicker',
    'extraAttributes': [
      { 'name': 'aria-label', 'value': 'Use the arrow keys to pick a date' },
      { 'name': 'value', 'value': '04/01/2017' }
    ]
  } %}
  <span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span>
</div>
