<label for="datepicker">Date:</label>
<div class="date-picker">
  <input type="text" id="datepicker" aria-label="Use the arrow keys to pick a date">
  <span class="ecl-icon ecl-icon--calendar"></span>
</div>
