/*
 * Timeline
 * @define timeline
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

.ecl-timeline {
  color: map.get(theme.$color, 'black');
  font: map.get(theme.$font-print, 'm');
  list-style: disc;
  margin: 0;
  padding-left: map.get(theme.$spacing-print, 'xl');
}

.ecl-timeline__item {
  margin-top: map.get(theme.$spacing-print, 'm');

  &:first-child {
    margin-top: 0;
  }
}

.ecl-timeline__label {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-print, 's');
  font-weight: map.get(theme.$font-weight-print, 'bold');
}

.ecl-timeline__title {
  color: map.get(theme.$color, 'black');
  font: map.get(theme.$font-prolonged-print, 'm');
  font-weight: map.get(theme.$font-weight-print, 'bold');
  margin-top: map.get(theme.$spacing-print, 'xs');
}

.ecl-timeline__content {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-prolonged-print, 'm');
  margin-top: map.get(theme.$spacing-print, 'xs');
}

.ecl-timeline__item--toggle {
  display: none;
}
