/**
 * Search form
 * @define search-form
 */

.ecl-search-form__wrapper {
  background-color: map-get($ecl-colors, 'grey-5');
  padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 's');
}

.ecl-search-form {
  @include ecl-hidden-print();

  border: 1px solid map-get($ecl-colors, 'grey-50');
  display: inline-flex;
}

.ecl-search-form__textfield-wrapper {
  border: 3px solid transparent; // Keeps the focus in the container
}

.ecl-search-form__textfield {
  border: 0;
  height: 2.2rem;
  padding-bottom: 0;
  padding-top: 0;
}

.ecl-search-form__button {
  @extend %ecl-icon;

  flex-shrink: 0;
  padding: 0 map-get($ecl-spacing, 'm');
  position: relative;
  text-indent: -999em;

  &::before {
    @include ecl-icon('search');

    font-size: map-get($ecl-font-size, 'l');
    left: 50%;
    position: absolute;
    text-indent: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@include ecl-media-breakpoint-up(lg) {
  .ecl-search-form__button {
    padding: 0 map-get($ecl-spacing, 's');
    text-indent: 0;

    &::before {
      display: none !important;
    }
  }
}

.ecl-search-form--internal {
  display: flex;

  .ecl-search-form__textfield-wrapper {
    @extend %ecl-icon;

    border-color: #fff;
    flex-grow: 1;
    position: relative;

    /* stylelint-disable-next-line */
    &::before {
      @include ecl-icon('search');

      color: map-get($ecl-colors, 'grey-25');
      font-size: map-get($ecl-font-size, 'm');
      left: map-get($ecl-spacing, 'xxxs');
      position: absolute;
      top: 25%;
    }
  }

  .ecl-search-form__textfield {
    padding-left: map-get($ecl-spacing, 'm');
  }
}
