<form class="ecl-search-form">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-sr-only">Search this website</span>
    <input type="ecl-search" class="ecl-search-form__textfield ecl-text-input" size="60" maxlength="128" title="ecl-search">
  </label>
  <button class="ecl-search-form__button ecl-button ecl-button--form" value="ecl-search" type="submit">Search</button>
</form>
