{% if variant is defined and variant == "internal" %}

<div class="ecl-search-form__wrapper">
  <p class="ecl-paragraph">Search on this site</p>

  <form class="ecl-search-form ecl-search-form--internal">
    <label class="ecl-search-form__textfield-wrapper">
      <span class="ecl-sr-only">Search this website</span>
      <input type="search" class="ecl-search-form__textfield ecl-text-input" title="Search" />
    </label>
    {% include '@ec-europa/ecl-buttons' with {
      'modifier': 'form-primary',
      'label': 'Search',
      'extraClass': 'ecl-search-form__button',
      'extraAttributes': [
        { 'name': 'value', 'value': 'Search'},
        { 'name': 'type', 'value': 'submit'}
      ]
    } %}
  </form>
</div>

{% else %}

<form class="ecl-search-form">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-sr-only">Search this website</span>
    <input type="search" class="ecl-search-form__textfield ecl-text-input" size="60" maxlength="128" title="Search" />
  </label>
  {% include '@ec-europa/ecl-buttons' with {
    'modifier': 'form-primary',
    'label': 'Search',
    'extraClass': 'ecl-search-form__button',
    'extraAttributes': [
      { 'name': 'value', 'value': 'Search'},
      { 'name': 'type', 'value': 'submit'}
    ]
  } %}
</form>

{% endif %}
