{% if variant is defined and variant == "internal" %}

<div class="ecl-search-form__wrapper">
  <p class="ecl-paragraph">Search on this site</p>

  <form class="ecl-search-form ecl-search-form--internal">
    <label class="ecl-search-form__textfield-wrapper">
      <span class="ecl-sr-only">Search this website</span>
      <input type="ecl-search" class="ecl-search-form__textfield ecl-text-input" title="Search">
    </label>
    <button class="ecl-search-form__button ecl-button ecl-button--form-primary" value="ecl-search" type="submit">Search</button>
  </form>
</div>

{% else %}

<form class="ecl-search-form">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-sr-only">Search this website</span>
    <input type="ecl-search" class="ecl-search-form__textfield ecl-text-input" size="60" maxlength="128" title="Search">
  </label>
  <button class="ecl-search-form__button ecl-button ecl-button--form" value="ecl-search" type="submit">Search</button>
</form>

{% endif %}
