<label for="example-input-id-1">Normal input</label>
<input type="text" class="ecl-text-input" id="example-input-id-1" placeholder="Some placeholder text."/>

<label for="example-input-id-2">Disabled input</label>
<input type="text" class="ecl-text-input" id="example-input-id-2" name="field-name-3" disabled placeholder="Some placeholder text."/>

<label for="example-input-id-3">Input with error</label>
<input type="text" class="ecl-text-input ecl-text-input--has-error" id="example-input-id-3" name="field-name-4" placeholder="Some placeholder text."/>
