<form>
  <div class="ecl-form-group">
    <label for="example-input-id-1">Text Input - default with placeholder</label>
    <p class="help-block">This is some help text.</p>
    <input type="text" class="ecl-text-input" id="example-input-id-1" placeholder="Some placeholder text."/>
  </div>

  <div class="ecl-form-group">
    <label for="example-input-id-3">Text Input - disabled</label>
    <p class="help-block">This is some placeholder help text.</p>
    <input type="text" name="field-name-3" id="example-input-id-3" class="ecl-text-input" disabled
           placeholder="Some placeholder text."/>
  </div>

  <div class="ecl-form-group">
    <label for="example-input-id-4">Text Input - error on a field</label>
    <p class="help-block">This is some placeholder help text.</p>
    <input type="text" name="field-name-4" id="example-input-id-4" class="ecl-text-input ecl-text-input--has-error"
           placeholder="Some placeholder text."/>
  </div>
</form>
