// ECL Breakpoints

$ecl-grid-breakpoints: (
  xs: $ecl-breakpoint-xs,
  sm: $ecl-breakpoint-sm,
  md: $ecl-breakpoint-md,
  lg: $ecl-breakpoint-lg,
  xl: $ecl-breakpoint-xl,
) !default;

// ECL Grid

$ecl-container-max-widths: (
  sm: $ecl-container-max-width-sm,
  md: $ecl-container-max-width-md,
  lg: $ecl-container-max-width-lg,
  xl: $ecl-container-max-width-xl,
) !default;

$ecl-grid-gutter-width-base: $ecl-grid-gutter-width !default;

$ecl-grid-gutter-widths: (
  xs: $ecl-grid-gutter-width-base,
  sm: $ecl-grid-gutter-width-base,
  md: $ecl-grid-gutter-width-base,
  lg: $ecl-grid-gutter-width-base,
  xl: $ecl-grid-gutter-width-base,
) !default;
