/*
 * Breadcrumbs
 * @define breadcrumbs
 */

$breadcrumb-heigth: 2.778em;

.ecl-breadcrumbs {
  @include ecl-hidden-print();

  font-size: map-get($ecl-font-size, 's');
}

.ecl-breadcrumbs__segments-wrapper {
  border-bottom: 1px solid #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ecl-breadcrumbs__segment {
  display: inline-block;
  margin: map-get($ecl-spacing, 's') 0 map-get($ecl-spacing, 'xxs');
}

.ecl-breadcrumbs__link {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-right: map-get($ecl-spacing, 'xxxs');
  text-decoration: none;

  // Add the ">" icon
  &::after {
    @extend %ecl-icon--after;

    @include ecl-icon('right');
  }

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}
