$breadcrumb-heigth: 2.778em;

.ecl-breadcrumb {
  @include ecl-hidden-print();

  border-bottom: 1px solid #fff;
  font-size: map-get($ecl-font-size, 's');
  line-height: normal;
  margin: 0;
  padding: 0;

  ol,
  ul {
    list-style: none;
    margin: 0;
    max-width: none;
    padding: 0;
  }
}

.ecl-breadcrumb__segment {
  display: inline-block;
  margin: map-get($ecl-font-size, 's') 0 map-get($ecl-font-size, 'xs');
  width: auto;
}

.ecl-breadcrumb__link {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-right: 8px;
  max-width: 100%;
  text-decoration: none;

  // Add the ">" icon
  &::after {
    @extend %ecl-icon--after;

    @include ecl-icon('right');
  }

  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }

  &:hover .ecl-breadcrumb__text,
  &:active .ecl-breadcrumb__text,
  &:focus .ecl-breadcrumb__text {
    text-decoration: underline;
  }
}

@include ecl-media-breakpoint-up(xs) {
  .ecl-breadcrumb__link {
    width: auto;

    &::after {
      position: static;
      transform: translate(0, 0);
    }
  }

  .ecl-breadcrumb__segment--first {
    padding-right: 0;

    &::before,
    &::after {
      display: none !important;
    }
  }
}

.ecl-breadcrumb--collapsible {
  .ecl-breadcrumb__btn-separator {
    background-color: map-get($ecl-colors, 'blue-120');
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: $breadcrumb-heigth;
    padding: 0 10px;
  }

  .ecl-breadcrumb__btn-separator:hover,
  .ecl-breadcrumb__btn-separator:active,
  .ecl-breadcrumb__btn-separator:focus {
    background-color: #fff;
    color: $ecl-color-primary;
  }

  .ecl-breadcrumb__btn-separator:hover::after,
  .ecl-breadcrumb__btn-separator:active::after,
  .ecl-breadcrumb__btn-separator:focus::after {
    color: $ecl-color-primary;
  }

  .ecl-breadcrumb__btn-separator::after {
    @extend %ecl-icon--after;

    @include ecl-icon('right');
  }

  .ecl-breadcrumb__link span {
    vertical-align: middle;
  }

  .ecl-breadcrumb__text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ecl-breadcrumb__segment--first {
    padding-right: 0;
  }

  .ecl-breadcrumb__segment--first::before,
  .ecl-breadcrumb__segment--first::after {
    display: none;
  }

  // Indent the last segment, leaving space for .ecl-breadcrumb__btn-separator
  .ecl-breadcrumb__segment--last {
    padding-left: 60px;
  }

  // In case of 2 .ecl-breadcrumb__segment-s, don't indent the second one.
  .ecl-breadcrumb__segment:first-child:nth-last-child(2),
  .ecl-breadcrumb__segment:first-child:nth-last-child(2) ~ .ecl-breadcrumb__segment {
    padding-left: 0;
  }
}
