<ul data-ecl-auto-init="Slider" data-ecl-slider-progress>
  <li>
    <article class="ecl-card">
      <div class="ecl-card__body">
        <div
          class="ecl-content-block ecl-card__content-block"
          data-ecl-auto-init="ContentBlock"
          data-ecl-content-block
        >
          <div class="ecl-content-block__title" data-ecl-title-link>
            <a
              href="/component-library/v4.0.0-beta-1/example"
              class="ecl-link ecl-link--standalone"
              >Title 1</a
            >
          </div>
          <div class="ecl-content-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            gravida ipsum ut lorem cursus, quis tincidunt sem viverra. Nunc
            vestibulum, mauris quis porta venenatis, justo odio commodo tellus
          </div>
        </div>
      </div>
    </article>
  </li>
  <li>
    <article class="ecl-card">
      <div class="ecl-card__body">
        <div
          class="ecl-content-block ecl-card__content-block"
          data-ecl-auto-init="ContentBlock"
          data-ecl-content-block
        >
          <div class="ecl-content-block__title" data-ecl-title-link>
            <a
              href="/component-library/v4.0.0-beta-1/example"
              class="ecl-link ecl-link--standalone"
              >Title 2</a
            >
          </div>
          <div class="ecl-content-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            gravida ipsum ut lorem cursus, quis tincidunt sem viverra. Nunc
            vestibulum, mauris quis porta venenatis, justo odio commodo tellus
          </div>
        </div>
      </div>
    </article>
  </li>
  <li>
    <article class="ecl-card">
      <div class="ecl-card__body">
        <div
          class="ecl-content-block ecl-card__content-block"
          data-ecl-auto-init="ContentBlock"
          data-ecl-content-block
        >
          <div class="ecl-content-block__title" data-ecl-title-link>
            <a
              href="/component-library/v4.0.0-beta-1/example"
              class="ecl-link ecl-link--standalone"
              >Title 3</a
            >
          </div>
          <div class="ecl-content-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            gravida ipsum ut lorem cursus, quis tincidunt sem viverra. Nunc
            vestibulum, mauris quis porta venenatis, justo odio commodo tellus
          </div>
        </div>
      </div>
    </article>
  </li>
  <li>
    <article class="ecl-card">
      <div class="ecl-card__body">
        <div
          class="ecl-content-block ecl-card__content-block"
          data-ecl-auto-init="ContentBlock"
          data-ecl-content-block
        >
          <div class="ecl-content-block__title" data-ecl-title-link>
            <a
              href="/component-library/v4.0.0-beta-1/example"
              class="ecl-link ecl-link--standalone"
              >Title 4</a
            >
          </div>
          <div class="ecl-content-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            gravida ipsum ut lorem cursus, quis tincidunt sem viverra. Nunc
            vestibulum, mauris quis porta venenatis, justo odio commodo tellus
          </div>
        </div>
      </div>
    </article>
  </li>
  <li>
    <article class="ecl-card">
      <div class="ecl-card__body">
        <div
          class="ecl-content-block ecl-card__content-block"
          data-ecl-auto-init="ContentBlock"
          data-ecl-content-block
        >
          <div class="ecl-content-block__title" data-ecl-title-link>
            <a
              href="/component-library/v4.0.0-beta-1/example"
              class="ecl-link ecl-link--standalone"
              >Title 5</a
            >
          </div>
          <div class="ecl-content-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            gravida ipsum ut lorem cursus, quis tincidunt sem viverra. Nunc
            vestibulum, mauris quis porta venenatis, justo odio commodo tellus
          </div>
        </div>
      </div>
    </article>
  </li>
  <li>
    <article class="ecl-card">
      <div class="ecl-card__body">
        <div
          class="ecl-content-block ecl-card__content-block"
          data-ecl-auto-init="ContentBlock"
          data-ecl-content-block
        >
          <div class="ecl-content-block__title" data-ecl-title-link>
            <a
              href="/component-library/v4.0.0-beta-1/example"
              class="ecl-link ecl-link--standalone"
              >Title 6</a
            >
          </div>
          <div class="ecl-content-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            gravida ipsum ut lorem cursus, quis tincidunt sem viverra. Nunc
            vestibulum, mauris quis porta venenatis, justo odio commodo tellus
          </div>
        </div>
      </div>
    </article>
  </li>
  <li>
    <article class="ecl-card">
      <div class="ecl-card__body">
        <div
          class="ecl-content-block ecl-card__content-block"
          data-ecl-auto-init="ContentBlock"
          data-ecl-content-block
        >
          <div class="ecl-content-block__title" data-ecl-title-link>
            <a
              href="/component-library/v4.0.0-beta-1/example"
              class="ecl-link ecl-link--standalone"
              >Title 7</a
            >
          </div>
          <div class="ecl-content-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            gravida ipsum ut lorem cursus, quis tincidunt sem viverra. Nunc
            vestibulum, mauris quis porta venenatis, justo odio commodo tellus
          </div>
        </div>
      </div>
    </article>
  </li>
  <li>
    <article class="ecl-card">
      <div class="ecl-card__body">
        <div
          class="ecl-content-block ecl-card__content-block"
          data-ecl-auto-init="ContentBlock"
          data-ecl-content-block
        >
          <div class="ecl-content-block__title" data-ecl-title-link>
            <a
              href="/component-library/v4.0.0-beta-1/example"
              class="ecl-link ecl-link--standalone"
              >Title 8</a
            >
          </div>
          <div class="ecl-content-block__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            gravida ipsum ut lorem cursus, quis tincidunt sem viverra. Nunc
            vestibulum, mauris quis porta venenatis, justo odio commodo tellus
          </div>
        </div>
      </div>
    </article>
  </li>
</ul>
