/**
 * Footer Standardised component
 * @define footer-standardised
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_bg-color: map.get(theme.$color, 'blue');
$_separator-color: map.get(theme.$color, 'blue-50');
$_text-color: map.get(theme.$color, 'white');
$_column-gap: map.get(theme.$grid-gutter-width, 'm');

/*
 * Global rules
 */
.ecl-footer-standardised {
  background-color: $_bg-color;
  color: $_text-color;
  display: flex;
  margin: 0;
  padding-bottom: map.get(theme.$spacing, 'xl');
  padding-top: map.get(theme.$spacing, 'xs');
}

.ecl-footer-standardised__row {
  border-bottom: 1px solid $_separator-color;
  font: map.get(theme.$font, 'm');
  padding-bottom: map.get(theme.$spacing, 'l');

  /* stylelint-disable-next-line max-nesting-depth */
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.ecl-footer-standardised__section {
  padding-top: map.get(theme.$spacing, 'l');

  /* stylelint-disable-next-line max-nesting-depth */
  > :first-child {
    margin-top: 0;
  }
}

.ecl-footer-standardised__list-item {
  margin-top: map.get(theme.$spacing, 'm');

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-footer-standardised__section--condensed {
  margin-bottom: -#{map.get(theme.$spacing, 'xs')};
  padding-top: map.get(theme.$spacing, 'm');

  .ecl-footer-standardised__list-item {
    margin-top: map.get(theme.$spacing, 'xs');
  }
}

.ecl-footer-standardised__section--split-list {
  padding-top: map.get(theme.$spacing, 'm');
}

.ecl-footer-standardised__title--separator {
  border-bottom: 1px solid $_separator-color;
  padding-bottom: map.get(theme.$spacing, 'xs');
}

.ecl-footer-standardised__title {
  color: $_text-color;
  font: map.get(theme.$font, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin: 0;
}

.ecl-footer-standardised__title-link,
.ecl-footer-standardised__title-link:hover,
.ecl-footer-standardised__title-link:focus,
.ecl-footer-standardised__title-link:active,
.ecl-footer-standardised__title-link:visited {
  color: $_text-color;
}

.ecl-footer-standardised__description {
  color: map.get(theme.$color, 'blue-25');
  font: map.get(theme.$font-prolonged, 's');
  margin-top: map.get(theme.$spacing, 'xs');
}

.ecl-footer-standardised__content {
  color: map.get(theme.$color, 'blue-25');
  font: map.get(theme.$font, 's');
}

.ecl-footer-standardised__list {
  list-style: none;
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing, 'xs');
  padding-left: 0;
}

.ecl-footer-standardised__list--inline {
  display: inline-flex;
  flex-wrap: wrap;

  .ecl-footer-standardised__list-item {
    margin-right: map.get(theme.$spacing, 'l');
    margin-top: 0;

    /* stylelint-disable-next-line max-nesting-depth */
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.ecl-footer-standardised__link {
  font: map.get(theme.$font, 's');
}

.ecl-footer-standardised__link,
.ecl-footer-standardised__link:hover,
.ecl-footer-standardised__link:active,
.ecl-footer-standardised__link:focus,
.ecl-footer-standardised__link:visited {
  color: $_text-color;
}

.ecl-footer-standardised__logo-link {
  display: block;
  margin-bottom: map.get(theme.$spacing, 'm');
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-footer-standardised {
    padding-top: 0;
  }

  .ecl-footer-standardised__row {
    border-bottom-width: 2px;
    column-gap: $_column-gap;
    display: grid;
    grid-gap: 0 $_column-gap;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: map.get(theme.$spacing, 'xl');
  }

  .ecl-footer-standardised__section {
    padding-top: map.get(theme.$spacing, 'xl');
  }

  .ecl-footer-standardised__section--condensed {
    margin-bottom: -#{map.get(theme.$spacing, 'm')};
    padding-top: map.get(theme.$spacing, 'm');
  }

  .ecl-footer-standardised__title,
  .ecl-footer-standardised__title:hover,
  .ecl-footer-standardised__title:focus,
  .ecl-footer-standardised__title:active {
    font: map.get(theme.$font-prolonged, 'm');
    font-weight: map.get(theme.$font-weight, 'bold');
  }

  .ecl-footer-standardised__title--separator {
    border-bottom-width: 2px;
  }

  .ecl-footer-standardised__content {
    font: map.get(theme.$font-prolonged, 's');
  }

  .ecl-footer-standardised__description {
    margin-top: map.get(theme.$spacing, 'xl');
  }

  .ecl-footer-standardised__link {
    font: map.get(theme.$font-prolonged, 's');
  }
}
