/**
 * Footer Standardised component
 * @define footer-standardised
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';
@use "@ecl/theme-dev/maps/layout";
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_bg-color: map.get(color.$color, 'blue-5');
$_shadow: 0 0 8px rgba(9, 49, 142, 0.2);
$_separator-color: map.get(color.$color, 'blue-20');
$_text-color: map.get(color.$color, 'grey-140');
$_column-gap: map.get(layout.$grid-gutter-width, 'xl');

/*
 * Global rules
 */
.ecl-footer-standardised {
  background-color: $_bg-color;
  box-shadow: $_shadow;
  color: $_text-color;
  font: map.get(typography.$font-prolonged, 'm');
  margin: 0;
}

.ecl-footer-standardised__container {
  display: flex;
  flex-direction: column;
  padding: map.get(spacing.$spacing, '3xl') map.get(spacing.$spacing, 'm');
}

.ecl-footer-standardised__section {
  margin-top: map.get(spacing.$spacing, 'l');

  > :first-child {
    margin-top: 0;
  }
}

.ecl-footer-standardised__title,
.ecl-footer-standardised__title:hover,
.ecl-footer-standardised__title:focus,
.ecl-footer-standardised__title:visited {
  color: $_text-color;
  font: map.get(typography.$font, '2xl');
}

.ecl-footer-standardised__title--separator {
  border-bottom: 1px solid $_separator-color;
  padding-bottom: map.get(spacing.$spacing, 's');
}

.ecl-footer-standardised__description {
  margin-top: map.get(spacing.$spacing, 'm');
}

.ecl-footer-standardised__list {
  list-style: none;
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing, 's');
  padding-left: 0;
}

.ecl-footer-standardised__list-item {
  margin-top: map.get(spacing.$spacing, 'xs');

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-footer-standardised__logo-link {
  display: inline-block;
  vertical-align: bottom; // Fix to prevent extra vertical spacing
}

.ecl-footer-standardised__logo-image-desktop {
  display: none;
}

.ecl-footer-standardised__logo-image-mobile {
  display: block;
  height: 2.75rem;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  .ecl-footer-standardised__title,
  .ecl-footer-standardised__title:hover,
  .ecl-footer-standardised__title:focus,
  .ecl-footer-standardised__title:visited {
    color: $_text-color;
    font: map.get(typography.$font, '3xl');
  }

  .ecl-footer-standardised__logo-image-mobile {
    display: none;
  }

  .ecl-footer-standardised__logo-image-desktop {
    display: block;
    height: 2.75rem;
  }
}

/*
 * Section related rules
 */
.ecl-footer-standardised__section1 {
  margin-top: 0;
  order: 1;
}

.ecl-footer-standardised__section2 {
  margin-top: map.get(spacing.$spacing, 'xl');
  order: 1;
}

.ecl-footer-standardised__section3 {
  order: 3;
}

.ecl-footer-standardised__section4 {
  border-top: 1px solid $_separator-color;
  margin-bottom: map.get(spacing.$spacing, 'xl');
  margin-top: map.get(spacing.$spacing, 'xl');
  order: 4;
}

.ecl-footer-standardised__section5 {
  margin-top: 0;
  order: 4;
}

.ecl-footer-standardised__section6 {
  margin-top: map.get(spacing.$spacing, 'xl');
  order: 4;
}

.ecl-footer-standardised__section7 {
  display: none;
  order: 4;
}

.ecl-footer-standardised__section8 {
  order: 4;
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('l') {
  /* Grid layout */
  .ecl-footer-standardised__container {
    column-gap: $_column-gap;
    display: grid;
    grid-gap: 0 $_column-gap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    padding-bottom: map.get(spacing.$spacing, '4xl');
    padding-top: map.get(spacing.$spacing, '4xl');
    row-gap: 0;
  }

  .ecl-footer-standardised__section1 {
    grid-area: 1 / 1 / 3 / 2;
  }

  .ecl-footer-standardised__section2 {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 0;
  }

  .ecl-footer-standardised__section3 {
    grid-area: 1 / 3 / 2 / 4;
    margin-top: 0;
  }

  .ecl-footer-standardised__section4 {
    border-top-width: 2px;
    grid-area: 3 / 1 / 4 / 4;
    margin-bottom: map.get(spacing.$spacing, '3xl');
    margin-top: map.get(spacing.$spacing, '3xl');
  }

  .ecl-footer-standardised__section5 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .ecl-footer-standardised__section6 {
    grid-area: 4 / 2 / 5 / 3;
    margin-top: 0;
  }

  .ecl-footer-standardised__section7 {
    display: block;
    grid-area: 4 / 3 / 5 / 4;
    margin-top: 0;
  }

  .ecl-footer-standardised__section8 {
    display: none;
  }
}
