<section class="header-search-bar" aria-label="Site tools">
  <div class="header-search-bar__wrapper1 container-fluid">
    <section class="ecl-block-nexteuropa-europa-search clearfix">
      <div class="block__content">
        {% include '@search-forms' %}
      </div>
    </section>
  </div>
</section>
