<section class="header-search-bar" aria-label="Site tools">
  <div class="header-search-bar__wrapper1 container-fluid">
    <section class="block-nexteuropa-europa-search">
      <form class="search-form">
        <div class="input-group">
          <label class="search-form__textfield-wrapper">
            <span class="sr-only">Search this website</span>
            <input type="search" class="search-form__textfield form-control" title="Search">
          </label>
          <span class="input-group-btn search-form__btn-wrapper">
            <button type="submit" class="btn btn-primary btn-search search-form__btn" value="Search">Search</button>
          </span>
        </div>
      </form>
    </section>
  </div>
</section>
