/**
 * Language select (Site)
 * @define lang-select-sites
 */

.ecl-lang-select-sites {
  @include ecl-hidden-print();

  position: absolute;
  right: $ecl-grid-gutter-width-base / 2;
  text-align: center;
  top: 0;

  @include ecl-media-breakpoint-up(md) {
    float: left;
    position: static;
  }

  .ecl-lang-select-sites__link {
    border: 3px solid transparent;
    color: inherit;
    display: inline-block;
    font-size: map-get($ecl-font-size, s);
    font-weight: bold;
    padding: 7.5px 15px;
    text-align: center;
    text-decoration: none;
  }

  .ecl-lang-select-sites__link:focus {
    border-color: map-get($ecl-colors, yellow-100);
    outline: none;
  }

  .ecl-lang-select-sites__label {
    margin-right: map-get($ecl-spacing, xxs);
  }

  .ecl-lang-select-sites__label:hover {
    text-decoration: underline;
  }

  .ecl-lang-select-sites__code {
    color: $ecl-color-primary;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    width: map-get($ecl-font-size, xs) * 2;
  }

  .ecl-lang-select-sites__code-text {
    background-color: $ecl-color-primary;
    color: #fff;
    font-size: map-get($ecl-font-size, xs);
    left: -1px;
    position: relative;
    top: 0;
  }

  .ecl-lang-select-sites__icon {
    color: $ecl-color-primary;
    font-size: map-get($ecl-font-size, xs) * 2;
    left: -1px;
    line-height: 1.4;
    position: absolute;
    top: -2px;
  }

  .ecl-lang-select-sites__icon::before {
    font-weight: inherit;
  }
}
