<div class="lang-select-site clearfix">
  <a href="#" class="lang-select-site__link">
    <span class="lang-select-site__label">English</span>
    <span class="lang-select-site__code">
      <span class="icon icon--language lang-select-site__icon"></span>
      <span class="lang-select-site__code-text">en</span>
    </span>
  </a>
</div>
