.thumbnail {
  border: 1px solid var(--ws-c-n-60);
  display: block;
  padding: var(--ws-s-m);
  text-decoration: none;
}

.title {
  color: var(--ws-c-d);
  font: var(--ws-f-l);
}

.imageContainer {
  margin-top: var(--ws-s-s);
  padding-top: 75%; /* 4:3 Aspect Ratio */
  position: relative;
}

.flexboxCentering {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.image {
  height: 100%;
  width: 100%;
}
