@use "sass:map";
@use '@ecl/theme-dev/theme';

.thumbnail {
  border: 1px solid map.get(theme.$color, 'grey-15');
  display: block;
  padding: map.get(theme.$spacing, 'm');
  text-decoration: none;
}

.title {
  color: map.get(theme.$color, 'grey-100');
  font: map.get(theme.$font, 'l');
}

.imageContainer {
  margin-top: map.get(theme.$spacing, 's');
  padding-top: 75%; /* 4:3 Aspect Ratio */
  position: relative;
}

.flexboxCentering {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.image {
  height: 100%;
  width: 100%;
}
