/**
 * Checkbox component
 * @define checkbox
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';

$_border-width: 2px;
$_border-color: null !default;
$_border-radius: null !default;
$_box-size: null !default;
$_box-margin-top: null !default;
$_box-background-disabled: map.get(theme.$color, 'grey-5');
$_box-background-checked: map.get(theme.$color, 'blue-100');
$_box-background-checked-hover: null !default;
$_box-border-color-disabled: map.get(theme.$color, 'grey-50');
$_box-border-color-checked: map.get(theme.$color, 'blue-100');
$_box-border-color-checked-hover: null !default;
$_box-border-color-hover: null !default;
$_help-text-color: null !default;
$_help-text-font: null !default;
$_invalid-border-color: null !default;
$_invalid-border-color-hover: null !default;
$_label-color: null !default;
$_label-color-disabled: map.get(theme.$color, 'grey-50');
$_outline-color: null !default;
$_outline-width: null !default;

.ecl-checkbox {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.ecl-checkbox__input {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.ecl-checkbox__label {
  color: $_label-color;
  display: inline-flex;
  font: map.get(theme.$font-prolonged, 'm');
  white-space: pre-wrap;
}

.ecl-checkbox__box {
  align-items: center;
  border: $_border-width solid $_border-color;
  border-radius: $_border-radius;
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  height: $_box-size;
  justify-content: center;
  margin-inline-end: map.get(theme.$spacing, 'xs');
  margin-top: $_box-margin-top;
  user-select: none;
  width: $_box-size;
}

.ecl-checkbox__help {
  box-sizing: border-box;
  color: $_help-text-color;
  display: block;
  font: $_help-text-font;
  margin-bottom: -#{map.get(theme.$spacing, 's')};
  margin-top: map.get(theme.$spacing, 'xs');
}

.ecl-checkbox--single,
.ecl-checkbox:last-child {
  .ecl-checkbox__help {
    margin-bottom: 0;
  }
}

.ecl-checkbox__icon {
  fill: map.get(theme.$color, 'white-100');
  visibility: hidden;
}

// Disabled.
.ecl-checkbox--disabled {
  opacity: 0.5;
}

// Required
.ecl-checkbox__required {
  color: map.get(theme.$color, 'error');
  font: map.get(theme.$font, 'xl');
  font-weight: map.get(theme.$font-weight, 'bold');
  padding-inline-start: map.get(theme.$spacing, '2xs');
}

// Checked and indeterminate
// stylelint-disable no-descending-specificity
.ecl-checkbox__input:checked {
  + .ecl-checkbox__label .ecl-checkbox__box {
    background: $_box-background-checked;
    border-color: $_box-border-color-checked;
  }

  + .ecl-checkbox__label .ecl-checkbox__box:hover {
    background: $_box-background-checked-hover;
    border-color: $_box-border-color-checked-hover;
  }

  + .ecl-checkbox__label .ecl-checkbox__box--invalid {
    background: $_invalid-border-color;
    border-color: $_invalid-border-color;
  }

  + .ecl-checkbox__label .ecl-checkbox__icon {
    visibility: visible;
  }
}

// Invalid
.ecl-checkbox--invalid {
  @at-root .ecl-form-group & + .ecl-feedback-message {
    margin-top: map.get(theme.$spacing, 'xs');
  }

  .ecl-checkbox__box {
    border-color: $_invalid-border-color;
  }

  .ecl-checkbox__invalid {
    font: map.get(theme.$font, 's');
    margin-top: map.get(theme.$spacing, 'xs');
  }
}

.ecl-checkbox--invalid
  .ecl-checkbox__label:hover
  .ecl-checkbox__box:not(.ecl-checkbox__box--disabled) {
  border-color: map.get(theme.$color, 'red-130');
}

/* stylelint-disable-next-line plugin/selector-bem-pattern, selector-max-compound-selectors */
.ecl-checkbox--invalid
  input:checked
  + .ecl-checkbox__label:hover
  .ecl-checkbox__box:not(.ecl-checkbox__box--disabled) {
  background: map.get(theme.$color, 'red-130');
}

// Hover state
.ecl-checkbox__label:hover {
  .ecl-checkbox__box:not(.ecl-checkbox__box--disabled) {
    border-color: $_box-border-color-hover;
  }
}

// Focus, active state
.ecl-checkbox__input:focus-visible,
.ecl-checkbox__input:active {
  + .ecl-checkbox__label
    > .ecl-checkbox__box:not(.ecl-checkbox__box--disabled) {
    border: $_outline-width solid $_outline-color;
    outline: none;
  }
}
