/**
 * Checkbox component
 * @define checkbox
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';

$_border-width: 2px;
$_border-color: map.get(color.$ec, 'grey-75');
$_box-size: 1.25rem;
$_box-background-disabled: map.get(color.$ec, 'grey-5');
$_box-background-checked: map.get(color.$ec, 'blue-100');
$_box-border-color-disabled: map.get(color.$ec, 'grey-50');
$_box-border-color-checked: map.get(color.$ec, 'blue-100');
$_box-border-color-hover: map.get(color.$ec, 'blue-100');
$_invalid-border-color: map.get(color.$ec, 'error');
$_label-color: map.get(color.$ec, 'grey-100');
$_label-color-disabled: map.get(color.$ec, 'grey-50');
$_outline-color: map.get(color.$ec, 'yellow-100');
$_outline-width: 2px;

.ecl-checkbox {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.ecl-checkbox__input {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.ecl-checkbox__label {
  align-items: center;
  color: $_label-color;
  display: inline-flex;
  font: map.get(typography.$font, 'm');
}

.ecl-checkbox__box {
  align-items: center;
  border: $_border-width solid $_border-color;
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  height: $_box-size;
  justify-content: center;
  margin-right: map.get(spacing.$spacing, 's');
  user-select: none;
  width: $_box-size;
}

.ecl-checkbox__help {
  box-sizing: border-box;
  color: map.get(color.$ec, 'grey-100');
  display: block;
  font: map.get(typography.$font-prolonged, 's');
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-checkbox__help--disabled {
  color: map.get(color.$ec, 'grey-50');
}

.ecl-checkbox__icon {
  fill: map.get(color.$ec, 'white-100');
  visibility: hidden;
}
// Disabled.
.ecl-checkbox--disabled {
  .ecl-checkbox__label {
    color: $_label-color-disabled;
    cursor: not-allowed;
  }

  .ecl-checkbox__box {
    background-color: $_box-background-disabled;
    border-color: $_box-border-color-disabled;
  }
}
// Invalid
.ecl-checkbox--invalid .ecl-checkbox__box {
  border-color: $_invalid-border-color;

  .ecl-checkbox__invalid {
    font: map.get(typography.$font, 's');
    margin-top: map.get(spacing.$spacing, 'xs');
  }
}

.ecl-checkbox--invalid
  .ecl-checkbox__label:hover
  .ecl-checkbox__box:not(.ecl-checkbox__box--disabled) {
  border-color: map.get(color.$ec, 'red-130');
}

// Required
.ecl-checkbox__required {
  color: map.get(color.$ec, 'error');
  font: map.get(typography.$font, 'xl');
  font-weight: map.get(typography.$font-weight, 'bold');
  padding-left: map.get(spacing.$spacing, '2xs');
}
// Checked
// stylelint-disable no-descending-specificity
.ecl-checkbox__input:checked {
  + .ecl-checkbox__label .ecl-checkbox__box {
    background: $_box-background-checked;
    border-color: $_box-border-color-checked;
  }

  + .ecl-checkbox__label .ecl-checkbox__box--invalid {
    background: $_invalid-border-color;
    border-color: $_invalid-border-color;
  }

  + .ecl-checkbox__label .ecl-checkbox__icon {
    visibility: visible;
  }
}
// Hover state
.ecl-checkbox__label:hover {
  .ecl-checkbox__box:not(.ecl-checkbox__box--disabled) {
    border-color: $_box-border-color-hover;
  }
}
// Focus, active state
.ecl-checkbox__input:focus,
.ecl-checkbox__input:active {
  + .ecl-checkbox__label
    > .ecl-checkbox__box:not(.ecl-checkbox__box--disabled) {
    outline: $_outline-width solid $_outline-color;
    outline-offset: -$_outline-width;
  }
}
