{#
  Parameters:
    - "variant" (string or array) (default: ''): can be '','external','standalone', 'inverted', 'all', 'more', or an array
    - "href" (string) (default: '#')
    - "label" (string) (default: '')
    - "icon" (object) (default: {}): object of type ecl-icon
    - "icon_position" (string) (default: 'after'): can be 'before' or 'after'
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
    - "system" (string) (default: "generic")
  Blocks:
    - "label"
#}

{# Internal properties #}

{% set _css_class = 'ecl-link' %}
{% set _extra_attributes = '' %}
{% set _href = href|default('#') %}
{% set _label = label|default('') %}
{% set _variant = variant|default('') %}
{% set _icon = icon|default({}) %}
{% set _icon_position = icon_position|default('after') %}
{% set _system = system|default('generic') %}

{# Internal logic - Process properties #}

{% if _icon is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ 'ecl-link--icon-' ~ _icon_position %}
{% endif %}

{% if _variant is not empty %}
  {% if _variant is iterable %}
    {% for _var in _variant %}
      {% set _css_class = _css_class ~ ' ' ~ 'ecl-link--' ~ _var %}
    {% endfor %}
  {% else %}
    {% set _css_class = _css_class ~ ' ' ~ 'ecl-link--' ~ _variant %}
  {% endif %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

<a class="{{ _css_class }}" href="{{ _href }}"{{ _extra_attributes|raw }}>
  {% if _icon is not empty and _icon_position == 'before' %}
  <span class="ecl-link__icon">
  {% include '@ecl/' ~ _system ~ '-style-icon' with _icon only %}
  </span>
  {% endif %}

  <span class="ecl-link__label ecl-expandable__label">
  {% block label _label %}
  </span>

  {% if _icon is not empty and _icon_position != 'before' %}
  <span class="ecl-link__icon">
  {% include '@ecl/' ~ _system ~ '-style-icon' with _icon only %}
  </span>
  {% endif %}
</a>
