/*
 * Feedback message
 * @define feedback-message
 */

// Import base
@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/typography';
@use '@ecl/ec-base/mixins/import-once';

@mixin ecl-feedback-message() {
  .ecl-feedback-message {
    box-sizing: border-box;
    color: map.get(color.$color, 'error');
    display: flex;
    font: map.get(typography.$font-prolonged, 's');
    margin: 0;
    padding: 0;
  }
}

// Use mixin
@include import-once.exports('vanilla-component-form-feedback-message') {
  @include ecl-feedback-message();
}
