/**
 * Radio component
 * @define radio
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';

$_box-background: map.get(theme.$color, 'white-100');
$_box-border-color: null !default;
$_box-border-color-checked: null !default;
$_box-border-color-hover: null !default;
$_box-border-width: 2px;
$_box-border-width-checked: null !default;
$_box-inner-display: null !default;
$_box-size: 1.25rem;
$_help-text-color: null !default;
$_help-text-font: null !default;
$_invalid-border-color: null !default;
$_invalid-border-color-hover: null !default;
$_label-color: null !default;
$_outline-width: null !default;
$_outline-color: null !default;

.ecl-radio {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
}

// Disabled
.ecl-radio--disabled {
  opacity: 0.5;
}

.ecl-radio__input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ecl-radio__label {
  align-items: center;
  color: $_label-color;
  display: inline-flex;
  font: map.get(theme.$font-prolonged, 'm');
  white-space: pre-wrap;
}

.ecl-radio--disabled .ecl-radio__label {
  cursor: not-allowed;
}

.ecl-radio__box {
  background-color: $_box-background;
  border: $_box-border-width solid $_box-border-color;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  height: $_box-size;
  margin-right: map.get(theme.$spacing, 'xs');
  position: relative;
  width: $_box-size;
}

.ecl-radio__label:hover .ecl-radio__box {
  border-color: $_box-border-color-hover;
}

.ecl-radio__help {
  box-sizing: border-box;
  color: $_help-text-color;
  display: block;
  font: $_help-text-font;
  margin-bottom: -#{map.get(theme.$spacing, 's')};
  margin-top: map.get(theme.$spacing, 'xs');
}

// Checked
.ecl-radio__input:checked + .ecl-radio__label {
  .ecl-radio__box {
    border-color: $_box-border-color-checked;
    border-width: $_box-border-width-checked;
  }

  .ecl-radio__box-inner {
    background: map.get(theme.$color, 'blue-80');
    border-radius: 50%;
    box-sizing: border-box;
    display: $_box-inner-display;
    height: 0.75rem;
    margin: $_box-border-width-checked;
    width: 0.75rem;
  }
}

// Invalid
.ecl-radio__box--invalid {
  border-color: $_invalid-border-color;
}

.ecl-radio__label:hover .ecl-radio__box--invalid {
  border-color: $_invalid-border-color-hover;
}

.ecl-radio__input:checked + .ecl-radio__label .ecl-radio__box--invalid {
  border-color: $_invalid-border-color;
}

// Focus
.ecl-radio__input:focus + .ecl-radio__label,
.ecl-radio__input:active + .ecl-radio__label {
  .ecl-radio__box::before {
    // We can't use outline as this is a rounded box
    border: $_outline-width solid $_outline-color;
    border-radius: 100%;
    content: '';
    display: block;
    height: calc(#{$_box-size} - (#{$_outline-width} * 2));
    left: -#{$_box-border-width};
    position: absolute;
    top: -#{$_box-border-width};
    width: calc(#{$_box-size} - (#{$_outline-width} * 2));
  }
}

.ecl-radio__input:checked:focus + .ecl-radio__label,
.ecl-radio__input:checked:active + .ecl-radio__label {
  .ecl-radio__box::before {
    left: -#{$_box-border-width-checked};
    top: -#{$_box-border-width-checked};
  }
}

// Binary radio
.ecl-radio--binary {
  display: inline-flex;
  margin-right: map.get(theme.$spacing, 'm');
  vertical-align: top;
}

.ecl-radio--binary:last-child {
  margin-right: 0;
}
