@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'radio' with (
  $_box-border-color-checked: map.get(theme.$color, 'blue-100'),
  $_box-border-color: map.get(theme.$color, 'grey-80'),
  $_box-border-color-hover: map.get(theme.$color, 'blue-100'),
  $_box-border-color-checked-hover: map.get(theme.$color, 'blue-140'),
  $_box-border-width-checked: 7px,
  $_box-inner-display: none,
  $_box-margin-top: 0.125rem,
  $_help-text-color: map.get(theme.$color, 'grey-80'),
  $_help-text-font: map.get(theme.$font-prolonged, 'm'),
  $_invalid-border-color: map.get(theme.$color, 'red-120'),
  $_invalid-border-color-hover: map.get(theme.$color, 'red-130'),
  $_label-color: map.get(theme.$color, 'grey-140')
);
