/**
 * Messages
 * @define message
 */

.ecl-message {
  background: transparent url('../images/svg/messages-info.svg') no-repeat 1.2rem 1.2rem;
  border: 2px solid map-get($ecl-colors, 'blue-75');
  color: $ecl-color-shade;
  font-size: map-get($ecl-font-size, 's');
  margin-bottom: map-get($ecl-spacing, 's');
  min-height: map-get($ecl-spacing, 'l');
  padding: map-get($ecl-spacing, 'xs') map-get($ecl-spacing, 'l') map-get($ecl-spacing, 'xs') map-get($ecl-spacing, 'xxl');
  position: relative;

  &--success {
    background-image: url('../images/svg/messages-success.svg');
    border-color: $ecl-color-success;
  }

  &--warning {
    background-image: url('../images/svg/messages-warning.svg');
    border-color: map-get($ecl-colors, 'yellow-110');
  }

  &--error {
    background-image: url('../images/svg/messages-error.svg');
    border-color: $ecl-color-error;
  }

  &--live {
    background-image: url('../images/svg/live_streaming.svg');
    border-color: map-get($ecl-colors, 'yellow-110');
  }
}

.ecl-message__title {
  font-weight: bold;
  margin-bottom: map-get($ecl-spacing, 'xs');
}

.ecl-message__body {
  margin: 0;
  padding-left: map-get($ecl-spacing, 'xs');
}

.ecl-message__dismiss {
  background: transparent url('../images/svg/close.svg') no-repeat center center;
  border-width: 0;
  color: transparent;
  display: block;
  font-size: map-get($ecl-font-size, 'xxl');
  line-height: map-get($ecl-font-size, 'l');
  padding: 0;
  position: absolute;
  right: map-get($ecl-spacing, 'xxs');
  text-decoration: none;
  text-shadow: none;
  top: map-get($ecl-spacing, 'xxs');

  &:hover {
    background-image: url('../images/svg/close_hover.svg');
  }
}
