<div class="ecl-message {% if modifier is defined %} ecl-message--{{ modifier }} {% endif %}">
  <span class="ecl-sr-only">{{ srOnly }}</span>

  {% if dismiss is defined and dismiss %}
  <button type="button" class="ecl-message__close" data-dismiss="ecl-message">&times;</button>
  {% endif %}

  {% if title is defined %}
  <div class="ecl-message__title">{{ title }}</div>
  {% endif %}

  {% if body is defined %}
  <p class="ecl-message__body">{{ body }}</p>
  {% endif %}
</div>
