@use 'sass:map';

.paragraph {
  color: var(--c-d);
  font: var(--f-m);
  margin: 0;
  max-width: var(--max-w);
  padding: 0;
}

* + .paragraph {
  margin-top: var(--s-m);
}

.paragraph--lead {
  font: var(--f-xl);
  max-width: var(--max-w);
}

.paragraph--s {
  font: var(--f-s);
}

.paragraph--xs {
  font: var(--f-xs);
}
