@import '@ecl/ec-theme-default/index';

.paragraph {
  color: map-get($ecl-color, 'grey-100');
  font: map-get($ecl-font-prolonged, 'm');
  margin: 0;
  max-width: 64ch;
  padding: 0;
}

* + .paragraph {
  margin-top: map-get($ecl-spacing, 'm');
}

.paragraph--lead {
  font: map-get($ecl-font-prolonged, 'xl');
  max-width: 49ch;
}
.paragraph--s {
  font: map-get($ecl-font-prolonged, 's');
}
.paragraph--xs {
  font: map-get($ecl-font-prolonged, 'xs');
}
