/*
 * Help Block
 * @define help-block
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-help-block() {
  .ecl-help-block {
    box-sizing: border-box;
    color: $ecl-color-grey-100;
    display: block;
    font: $ecl-font-prolonged-s;
    margin: 0;
    padding: 0;
  }

  .ecl-help-block--disabled {
    color: $ecl-color-grey-50;
  }
}

// Use mixin
@include exports('ec-component-form-help-block') {
  @include ecl-help-block;
}
