/*
 * File
 * @define file; weak
 */

// Import base
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(
  ('ec-component-button', 'ec-component-link', 'ec-component-icon')
);

@mixin ecl-file(
  $container-background: $ecl-color-grey-5,
  $icon-color: $ecl-color-grey-50,
  $info-color: $ecl-color-grey-100,
  $translation-border-color: $ecl-color-grey-20,
  $max-width: 823px,
  $image-width: 13.125rem // Same as content item
) {
  .ecl-file {
    margin: 0;
    max-width: $max-width;
  }

  .ecl-file__container {
    align-items: center;
    background-color: $container-background;
    display: flex;
    flex-wrap: wrap;
    padding: $ecl-spacing-l;
  }

  .ecl-file__icon {
    fill: $icon-color;
  }

  .ecl-file__info {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-left: $ecl-spacing-m;
  }

  .ecl-file__title {
    color: $info-color;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    width: 100%;
  }

  .ecl-file__language {
    color: $info-color;
    font: $ecl-font-s;
    font-weight: $ecl-font-weight-bold;
    margin-right: $ecl-spacing-2-xs;
    margin-top: $ecl-spacing-2-xs;
  }

  .ecl-file__meta {
    color: $info-color;
    font: $ecl-font-s;
    margin-top: $ecl-spacing-2-xs;
  }

  .ecl-file__download {
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    margin-top: $ecl-spacing-l;
    width: 100%;
  }

  .ecl-file__detail {
    border-bottom: 1px solid $ecl-color-grey-20;
    display: flex;
    flex-direction: column;
    margin-bottom: $ecl-spacing-m;
    padding-bottom: $ecl-spacing-m;
    width: 100%;
  }

  .ecl-file__detail-meta {
    color: $ecl-color-grey-75;
    font: $ecl-font-s;
    margin-bottom: $ecl-spacing-xs;
  }

  .ecl-file__detail-meta-item {
    margin-left: $ecl-spacing-xs;

    &::before {
      content: '|';
      margin-right: $ecl-spacing-xs;
    }
  }

  .ecl-file__detail-meta-item:first-of-type {
    margin-left: 0;
    text-transform: uppercase;

    &::before {
      display: none;
    }
  }

  .ecl-file__description {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-m;
    margin-top: $ecl-spacing-xs;
    max-width: 80ch;
  }

  .ecl-file__image {
    display: block;
    margin-top: $ecl-spacing-m;
    max-width: $image-width;
  }

  .ecl-file__taxonomy {
    border-bottom: 1px solid $ecl-color-grey-20;
    margin-bottom: $ecl-spacing-m;
    padding-bottom: $ecl-spacing-m;
    width: 100%;
  }

  .ecl-file__label {
    margin-bottom: $ecl-spacing-m;
  }

  .ecl-file__translation-language {
    color: $ecl-color-grey;
    font: $ecl-font-s;
    font-weight: $ecl-font-weight-bold;
  }

  .ecl-file__translation-container {
    display: flex;
    flex-direction: column;
    padding-left: $ecl-spacing-l;
    padding-right: $ecl-spacing-l;
  }

  .ecl-file__translation-toggle {
    align-self: flex-end;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-regular;
    margin-bottom: $ecl-spacing-m - $ecl-spacing-s;
    margin-right: -$ecl-spacing-m;
    margin-top: $ecl-spacing-m - $ecl-spacing-s;

    .no-js & {
      display: none;
    }
  }

  .ecl-file__translation-list {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    .no-js & {
      display: block;
    }
  }

  .ecl-file__translation-item {
    border-top: 1px solid $translation-border-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: $ecl-spacing-m;
    padding-top: $ecl-spacing-m;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .ecl-file__translation-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .ecl-file__translation-title {
    color: $info-color;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
  }

  .ecl-file__translation-meta {
    color: $info-color;
    font: $ecl-font-s;
    margin-top: $ecl-spacing-2-xs;
  }

  .ecl-file__translation-download {
    font: $ecl-font-m;
    margin-top: $ecl-spacing-xs;
  }

  .ecl-file__translation-description {
    color: $info-color;
    font: $ecl-font-m;
    max-width: 80ch;
  }

  .ecl-file__translation-container[aria-expanded='true'] {
    .ecl-file__translation-list {
      display: block;
    }

    .ecl-file__translation-toggle .ecl-button__icon {
      transform: rotate(0);
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-file__download {
      margin-top: 0;
      width: auto;
    }

    .ecl-file__translation-container {
      padding-left: $ecl-spacing-l + $ecl-icon-2-xl + $ecl-spacing-m;
    }

    .ecl-file__translation-item {
      flex-direction: row;
      max-width: 100%;
    }

    .ecl-file__translation-download {
      margin-top: 0;
    }

    .ecl-file__detail {
      flex-direction: row;
      margin-bottom: $ecl-spacing-l;
      padding-bottom: $ecl-spacing-l;
    }

    .ecl-file__detail-info {
      flex-grow: 1;
    }

    .ecl-file__image {
      align-self: flex-start;
      margin-left: $ecl-spacing-l;
      margin-top: 0;
    }

    .ecl-file__taxonomy {
      margin-bottom: $ecl-spacing-l;
      padding-bottom: $ecl-spacing-l;
    }
  }

  /*
   * thumbnail variant
   */
  .ecl-file--thumbnail {
    .ecl-file__container {
      padding-bottom: $ecl-spacing-m;
    }

    .ecl-file__info {
      margin-left: 0;
    }

    .ecl-file__title {
      font: $ecl-font-prolonged-m;
      font-weight: $ecl-font-weight-bold;
    }

    .ecl-file__language,
    .ecl-file__meta {
      margin-top: 0;
    }

    .ecl-file__download {
      float: right;
      margin-top: 0;
      width: auto;
    }

    .ecl-file__translation-item {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .ecl-file__translation-item:first-of-type {
      border-top-width: 0;
      padding-top: 0;
    }

    .ecl-file__translation-detail {
      flex-basis: 100%;
      margin-bottom: $ecl-spacing-xs;
    }

    .ecl-file__translation-info {
      align-items: center;
      flex-direction: row;
    }

    .ecl-file__translation-title {
      font: $ecl-font-prolonged-m;
      font-weight: $ecl-font-weight-bold;
      margin-bottom: $ecl-spacing-xs;
    }

    .ecl-file__translation-meta {
      margin-left: $ecl-spacing-2-xs;
      margin-top: 0;
    }

    .ecl-file__translation-download {
      float: right;
      margin-top: 0;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-file--thumbnail {
      .ecl-file__container {
        padding-bottom: $ecl-spacing-l;
      }

      .ecl-file__translation-container {
        padding-left: $ecl-spacing-l;
      }

      .ecl-file__translation-item {
        padding-bottom: $ecl-spacing-l;
        padding-top: $ecl-spacing-l;
      }
    }
  }
}

// Use mixin
@include exports('ec-component-file') {
  @include ecl-file();
}
