/*
Site header search bar

Markup: html/header-search-bar.html

Style guide: siteheader.header-search-bar
*/

.header-search-bar {
  margin: 38px 0 0;
  padding: 9px 0;
  background-color: $brand-primary;

  .block-nexteuropa-europa-search {
    float: right;
    width: auto;

    .search-form {
      float: right;
      margin-bottom: 0;
      border: none;

      .search-form__textfield-wrapper,
      .search-form__btn-wrapper {
        float: none;
      }

      .search-form__textfield-wrapper {
        background-color: $form-control-background-color;
      }
    }

    @include breakpoint(screen-xs-min) {
      .search-form {
        width: 320px;
      }
    }
  }
}
