/*
 * Fact and figures
 * @define fact-figures
 */

// Import base
@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/icon';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';

.ecl-fact-figures {
  margin: 0;
}

.ecl-fact-figures__item {
  border-bottom: 1px solid map.get(color.$color, 'black');
  padding-bottom: map.get(spacing.$spacing-print, 'xl');
  padding-top: map.get(spacing.$spacing-print, 'xl');

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
}

.ecl-fact-figures__icon {
  display: block;
  float: left;
  margin-right: map.get(spacing.$spacing-print, 'm');
  margin-top: map.get(spacing.$spacing-print, '2xs');
}

.ecl-fact-figures__value {
  font: map.get(typography.$font-print, '4xl');
  font-family: map.get(typography.$font-family-print, 'alt');
  font-weight: map.get(typography.$font-weight, 'bold');
}

.ecl-fact-figures__title {
  clear: left;
  font: map.get(typography.$font-prolonged-print, 'l');
  font-family: map.get(typography.$font-family-print, 'alt');
  font-weight: map.get(typography.$font-weight, 'bold');
  margin-left: calc(
    #{map.get(icon.$icon-print, 'm')} + #{map.get(spacing.$spacing-print, 'm')}
  );
  margin-top: map.get(spacing.$spacing-print, 'xs');
}

.ecl-fact-figures__description {
  font: map.get(typography.$font-prolonged-print, 'm');
  margin-left: calc(
    #{map.get(icon.$icon-print, 'm')} + #{map.get(spacing.$spacing-print, 'm')}
  );
  margin-top: map.get(spacing.$spacing-print, 's');
}

.ecl-fact-figures__view-all {
  display: none;
}
