@use 'sass:map';
@use '@ecl/theme-eu/theme';
@use 'fact-figures' with (
  $_border: 0,
  $_border-radius: 8px,
  $_text-color: map.get(theme.$color, 'grey-80'),
  $_value-font-mobile: map.get(theme.$font, '5xl'),
  $_value-font-weight-mobile: map.get(theme.$font-weight, 'regular'),
  $_value-font-desktop: map.get(theme.$font, '6xl'),
  $_value-font-weight-desktop: map.get(theme.$font-weight, 'regular'),
  $_view-all-border-color: map.get(theme.$color, 'blue-20')
);
