@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'fact-figures' with (
  $_border: 1px solid map.get(theme.$color, 'blue-25'),
  $_border-radius: 0,
  $_text-color: map.get(theme.$color, 'grey-100'),
  $_value-font-mobile: map.get(theme.$font, '3xl'),
  $_value-font-weight-mobile: map.get(theme.$font-weight, 'bold'),
  $_value-font-desktop: map.get(theme.$font, '4xl'),
  $_value-font-weight-desktop: map.get(theme.$font-weight, 'bold'),
  $_view-all-border-color: map.get(theme.$color, 'blue-25')
);
