/*
 * Fact and figures
 * @define fact-figures
 */

// Import base
@use '@ecl/theme-dev/functions/colorfn' as *;
@use '@ecl/theme-dev/functions/iconfn' as *;
@use '@ecl/theme-dev/functions/spacingfn' as *;
@use '@ecl/theme-dev/functions/typographyfn' as *;

.ecl-fact-figures {
  margin: 0;
}

.ecl-fact-figures__item {
  border-bottom: 1px solid ecl-color('black');
  padding-bottom: ecl-spacing-print('xl');
  padding-top: ecl-spacing-print('xl');

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
}

.ecl-fact-figures__icon {
  display: block;
  float: left;
  margin-right: ecl-spacing-print('m');
  margin-top: ecl-spacing-print('2xs');
}

.ecl-fact-figures__value {
  font: ecl-font-print('4xl');
  font-family: ecl-font-family-print('alt');
  font-weight: ecl-font-weight('bold');
}

.ecl-fact-figures__title {
  clear: left;
  font: ecl-font-prolonged('l');
  font-family: ecl-font-family-print('alt');
  font-weight: ecl-font-weight('bold');
  margin-left: calc(#{ecl-icon-print('m')} + #{ecl-spacing-print('m')});
  margin-top: ecl-spacing-print('xs');
}

.ecl-fact-figures__description {
  font: ecl-font-prolonged('m');
  margin-left: calc(#{ecl-icon-print('m')} + #{ecl-spacing-print('m')});
  margin-top: ecl-spacing-print('s');
}

.ecl-fact-figures__view-all {
  display: none;
}
