/**
 * Menu component
 * @define menu
 */

// Import base
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-component-link', 'ec-component-button'));

@mixin ecl-menu(
  $menu-background: $ecl-color-blue,
  $toggle-background: $ecl-color-blue,
  $toggle-color: $ecl-color-white,
  $toggle-color-hover: $ecl-color-white,
  $item-background-mobile: $ecl-color-white,
  $item-background-desktop: $ecl-color-blue,
  $item-color-mobile: $ecl-color-grey,
  $item-color-hover-mobile: $ecl-color-blue,
  $item-color-desktop: $ecl-color-white,
  $item-color-hover-desktop: $ecl-color-white,
  $item-border: $ecl-color-grey-15,
  $item-selected-background-mobile: $ecl-color-white,
  $item-selected-background-desktop: $ecl-color-grey-10,
  $item-selected-color-mobile: $ecl-color-grey,
  $item-selected-color-desktop: $ecl-color-blue,
  $subitem-background-mobile: $ecl-color-white,
  $subitem-background-desktop: $ecl-color-grey-10,
  $subitem-color-mobile: $ecl-color-grey-75,
  $subitem-color-hover-mobile: $ecl-color-blue,
  $subitem-color-desktop: $ecl-color-blue,
  $subitem-color-hover-desktop: $ecl-color-grey
) {
  .ecl-menu {
    margin: 0;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-menu {
      background-color: $menu-background;
    }
  }

  /*
   * Menu toggle
   */
  .ecl-menu__toggle {
    color: $toggle-color;
    cursor: pointer;
    display: block;
    padding: $ecl-spacing-m 0;
    position: relative;
    width: 100%;

    &::before {
      background-color: $toggle-background;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
    }

    &:hover,
    &:focus,
    &:active {
      color: $toggle-color-hover;
    }
  }

  .ecl-menu__toggle-container {
    align-items: center;
    display: flex;
    position: relative;
  }

  // Hamburger button
  .ecl-menu__hamburger {
    cursor: pointer;
    display: inline-block;
    margin-right: $ecl-spacing-m;
  }

  .ecl-menu__hamburger--bar1,
  .ecl-menu__hamburger--bar2,
  .ecl-menu__hamburger--bar3 {
    background-color: $toggle-color;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    width: 35px;
  }

  .ecl-menu[aria-expanded='true'] .ecl-menu__hamburger--bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .ecl-menu[aria-expanded='true'] .ecl-menu__hamburger--bar2 {
    opacity: 0;
  }

  .ecl-menu[aria-expanded='true'] .ecl-menu__hamburger--bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-menu__toggle {
      display: none;
    }
  }

  /*
   * First level
   */
  .ecl-menu__list {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    /* Force display if JS is disabled */
    .no-js & {
      display: flex;
    }
  }

  .ecl-menu[aria-expanded='true'] .ecl-menu__list {
    display: flex;
  }

  .ecl-menu__item {
    position: relative;

    &::before {
      background-color: $item-background-mobile;
      border-bottom: 1px solid $item-background-mobile;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
    }
  }

  .ecl-menu__link {
    border-bottom: 1px solid $item-border;
    color: $item-color-mobile;
    display: flex;
    font: $ecl-font-prolonged-s;
    font-weight: $ecl-font-weight-bold;
    justify-content: space-between;
    padding-bottom: $ecl-spacing-s;
    padding-top: $ecl-spacing-s;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      color: $item-color-hover-mobile;
    }
  }

  .ecl-menu__link:last-child {
    border-bottom-width: 0;
  }

  .ecl-menu__item[aria-expanded='true'] .ecl-menu__link {
    background-color: $item-selected-background-mobile;
    color: $item-selected-color-mobile;
  }

  .ecl-menu__link-icon {
    transition: none;
  }

  .ecl-menu__item[aria-expanded='true'] .ecl-menu__link-icon {
    transform: rotate(0);
  }

  .ecl-menu__link--current {
    font-weight: $ecl-font-weight-bold;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-menu__list {
      display: flex;
      flex-direction: row;
    }

    .ecl-menu__item {
      position: initial;

      &::before {
        display: none;
      }
    }

    .ecl-menu__link {
      border-bottom-width: 0;
      color: $item-color-desktop;
      padding: $ecl-spacing-m $ecl-spacing-s;

      &:hover,
      &:focus,
      &:active {
        color: $item-color-hover-desktop;
      }
    }

    .ecl-menu__item[aria-expanded='true'] .ecl-menu__link {
      background-color: $item-selected-background-desktop;
      color: $item-selected-color-desktop;
    }
  }

  /*
   * Second level
   */
  .ecl-menu__sublist {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;

    /* Force display if JS is disabled */
    .no-js & {
      display: flex;
    }
  }

  .ecl-menu__item[aria-expanded='true'] .ecl-menu__sublist {
    display: flex;
  }

  .ecl-menu__subitem {
    position: relative;

    &::before {
      background-color: $subitem-background-mobile;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
    }
  }

  .ecl-menu__sublink {
    color: $subitem-color-mobile;
    display: block;
    font: $ecl-font-prolonged-s;
    padding-bottom: $ecl-spacing-s;
    padding-top: $ecl-spacing-s;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      color: $subitem-color-hover-mobile;
    }
  }

  .ecl-menu__sublink--current {
    font-weight: $ecl-font-weight-bold;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-menu__sublist {
      left: 0;
      position: absolute;
      width: 100%;
    }

    .ecl-menu__sublink {
      color: $subitem-color-desktop;

      &:hover,
      &:focus,
      &:active {
        color: $subitem-color-hover-desktop;
      }
    }

    .ecl-menu__subitem::before {
      background-color: $subitem-background-desktop;
    }
  }
}

@include exports('ec-component-menu') {
  @include ecl-menu();
}
