/**
 * EC navigation menus
 * @define navigation-menu
 */

// Import base and generic
@import '@ecl/ec-base/ec-base';
@import '@ecl/generic-component-navigation-menu/generic-component-navigation-menu';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-style-typography-list'));

// Use generic mixin
@include exports('ec-component-navigation-menu') {
  @include ecl-navigation-menu(
    $bar-bg-mobile: map-get($ecl-colors, 'blue-75'),
    $bar-bg-desktop: map-get($ecl-colors, 'blue-25'),
    $toggle-btn-color: #fff,
    $group-bg: map-get($ecl-colors, 'grey-5'),
    $separator-mobile: map-get($ecl-colors, 'blue-50'),
    $link-color: map-get($ecl-colors, 'blue-120'),
    $active-color: #fff,
    $active-bg: map-get($ecl-colors, 'blue-75')
  );
}
