@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'category-filter' with (
  $_item_separator_border_color: map.get(theme.$color, 'grey-15'),
  $_item_hover_background_color: map.get(theme.$color, 'grey-5'),
  $_outline-color: map.get(theme.$color, 'yellow-100')
);
