@import '@ecl/ec-themes/index';

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global {
  .demo-media-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: $ecl-spacing-xs;
    margin-top: $ecl-spacing-xs;
  }

  .demo-media-container-left {
    align-items: flex-start;
    display: flex;
    font: $ecl-font-s;
    flex-direction: column;
  }

  .demo-media-container-right {
    align-items: flex-end;
    display: flex;
    font: $ecl-font-s;
    flex-direction: column;
  }

  .demo-media-content {
    background-image: url('https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg');
    background-position: 50%;
    background-size: cover;
    min-height: 1rem;
    min-width: 1rem;
  }

  .demo-media-bg {
    background-image: url('https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg');
    border: 5px dashed $ecl-color-yellow;
    margin-top: 1rem;
    min-height: 1rem;
    min-width: 1rem;
    padding: 1rem;
  }
}
