/**
* Typography styles
*/

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-utility-typography() {
  /*
   * Paragraph
   */
  .ecl-u-type-paragraph,
  .ecl-u-type-paragraph-m {
    font: $ecl-font-prolonged-m;
    max-width: 80ch;
  }

  .ecl-u-type-paragraph-lead {
    font: $ecl-font-prolonged-l;
    max-width: 80ch;

    @include ecl-media-breakpoint-up('md') {
      font: $ecl-font-prolonged-xl;
    }
  }

  .ecl-u-type-paragraph-s {
    font: $ecl-font-prolonged-s;
    max-width: 80ch;
  }

  .ecl-u-type-paragraph-xs {
    font: $ecl-font-prolonged-xs;
    max-width: 80ch;
  }
}

// Use mixin
@include exports('ec-utility-typography') {
  @include ecl-utility-typography();
}
