<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ '/styles/ec.css' | path }}">
  <title>Preview Layout</title>
  <style>
    body {
      background-color: #004494;
      margin: 0;
    }
  </style>
  <script>document.documentElement.classList.remove('no-js');</script>
</head>
<body>
  {{ yield }}
  <script src="{{ '/scripts/ec.js' | path }}"></script>
</body>
</html>
