<div class="ecl-page-header">
  <!-- Breadcrumb (mandatory) -->
  {% include '@ec-europa/ecl-breadcrumbs' with { 'extraClass':'ecl-u-mh-xxs','segments': [{'target':'#','title':'European Commission'},{'target':'#','title':'Announcements'}] } %}

  <div class="ecl-page-header__body">
    <!-- Site identification (optional) -->
    <div class="ecl-page-header__identity">
      Digital single market
    </div>
  </div>
</div>
