/**
 * Form Group
 * @define form-group; weak
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/ec-base/mixins/import-once';

@mixin ecl-form-group() {
  .ecl-form-group {
    align-items: flex-start;
    border-width: 0;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;

    > *:not(.ecl-form-label--hidden) + * {
      margin-top: map.get(spacing.$spacing, 'xs');
    }

    > *:not(.ecl-form-label--hidden) + .ecl-checkbox {
      margin-top: map.get(spacing.$spacing, 's');
    }

    > *:not(.ecl-form-label--hidden) + .ecl-text-input {
      margin-top: map.get(spacing.$spacing, 's');
    }

    > *:not(.ecl-form-label--hidden) + .ecl-text-area {
      margin-top: map.get(spacing.$spacing, 's');
    }

    > *:not(.ecl-form-label--hidden) + .ecl-select__container,
    > *:not(.ecl-form-label--hidden) + .ecl-select__multiple {
      margin-top: map.get(spacing.$spacing, 's');
    }

    > *:not(.ecl-form-label--hidden) + .ecl-radio {
      margin-top: map.get(spacing.$spacing, 's');
    }

    > *:not(.ecl-form-label--hidden) + .ecl-file-upload,
    > *:not(.ecl-form-label--hidden) + .ecl-file-upload__button-container {
      margin-top: map.get(spacing.$spacing, 's');
    }

    > *:not(.ecl-form-label--hidden) + .ecl-file-upload__list {
      margin-top: map.get(spacing.$spacing, 'm');
    }

    > .ecl-feedback-message + .ecl-help-block {
      margin-top: 0;
    }
  }
}

// Use mixin
@include import-once.exports('vanilla-component-form-form-group') {
  @include ecl-form-group();
}
