.ecl-social-media-share-demo-spacer {
  padding-left: 5px;
}

.ecl-social-media-share__link--facebook {
  background-color: #426398;
}

.ecl-social-media-share__link--twitter {
  background-color: #6090b5;
}

.ecl-social-media-share__link--google .ecl-social-media-share__icon-hover {
  fill: #a5382a;
}

.ecl-social-media-share__link--google {
  background-color: #a5382a;
}

.ecl-social-media-share__link--linkedin {
  background-color: #186c98;
}

.ecl-social-media-share__link--email {
  background-color: #135077;
}
