/**
 * Image
 * @define image
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-image() {
  .ecl-image {
    border-style: none;
    vertical-align: baseline;
  }

  .ecl-image--fluid {
    height: auto;
    max-width: 100%;
  }

  .ecl-image--align-middle {
    vertical-align: middle;
  }
}
