{% apply spaceless %}

{#
  Parameters:
    - "items": (associative array) (default: {}): The tabs items - format: [
      {
        "label": "Home",
        "path": "/example",
        "is_current": true
      },
      {
        "label": "Item 1",
        "path": "/example"
      },
    }],
    - "more_label" (string) (default: 'More (%d)') Label for the more button (responsive)
    - "icon_path" (string) (default: '') Path to the icons file
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (optional) (string)
        },
        ...
      ],
#}

{# Internal properties #}

{% set _icon_path = icon_path|default('') %}
{% set _more_label = more_label|default('More (%d)') %}
{% set _items = items|default([]) %}
{% set _css_class = 'ecl-tabs' %}
{% set _extra_attributes = [
  'data-ecl-tabs="true"',
  'data-ecl-auto-init="Tabs"']|join(' ')
%}

{# Internal logic - Process properties #}

{% if extra_dropdown_classes is defined and extra_dropdown_classes is not empty %}
  {% set _css_dropdown_class = _css_dropdown_class ~ ' ' ~ extra_dropdown_classes %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

{% if _items is not empty and _items is iterable %}
<nav class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <div class="ecl-tabs__container">
    <ul class="ecl-tabs__list" role="tablist">
      {% for _item in _items %}
        {% if _item.path is not empty %}
          <li class="ecl-tabs__item" role="presentation">
          {% set _item_extra_classes = 'ecl-tabs__link' %}
          {% set _item_extra_attributes = [{ name: 'role', value: 'tab' }] %}
          {% if loop.index != 1 %}
            {% set _item_extra_attributes = _item_extra_attributes|merge([{ name: 'tabindex', value: '-1' }]) %}
          {% endif %}
          {% if _item.is_current is defined and _item.is_current is not empty %}
            {% set _item_extra_classes = _item_extra_classes ~ ' ecl-tabs__link--active' %}
            {% set _item_extra_attributes = _item_extra_attributes|merge([{ name: 'aria-selected', value: 'true' }]) %}
          {% else %}
            {% set _item_extra_attributes = _item_extra_attributes|merge([{ name: 'aria-selected', value: 'false' }]) %}
          {% endif %}
          {% if _menu is not empty %}
            {% set extra_attributes = extra_attributes|merge([{ name: 'data-ecl-has-menu' }]) %}
          {% endif %}
          {% include '@ecl/link/link.html.twig' with {
            link: {
              label: _item.label,
              path: _item.path,
              no_visited: true,
            },
            extra_classes: _item_extra_classes,
            extra_attributes: _item_extra_attributes,
          } only %}
          </li>
        {% endif %}
      {% endfor %}
      <li class="ecl-tabs__item ecl-tabs__item--more" role="presentation">
        {% include '@ecl/button/button.html.twig' with {
          label: _more_label,
          variant: 'ghost',
          type: 'button',
          icon_position: 'after',
          icon: {
            path: _icon_path,
            name: 'corner-arrow',
            size: 'fluid',
            transform: 'rotate-180'
          },
          extra_classes: 'ecl-tabs__toggle',
          extra_attributes: [{ name: 'tabindex', value: '-1' }],
        } only %}
      </li>
    </ul>
  </div>
  <div class="ecl-tabs__controls">
    {% include '@ecl/button/button.html.twig' with {
      label: _sr_previous,
      variant: 'ghost',
      type: 'button',
      hide_label: true,
      icon: {
        path: _icon_path,
        name: 'corner-arrow',
        size: 's',
        transform: 'rotate-270',
      },
      extra_classes: 'ecl-tabs__prev',
      extra_attributes: [{ name: 'aria-hidden', value: 'true' }],
    } only %}
    {% include '@ecl/button/button.html.twig' with {
      label: _sr_next,
      variant: 'ghost',
      type: 'button',
      hide_label: true,
      icon: {
        path: _icon_path,
        name: 'corner-arrow',
        size: 's',
        transform: 'rotate-90',
      },
      extra_classes: 'ecl-tabs__next',
      extra_attributes: [{ name: 'aria-hidden', value: 'true' }],
    } only %}
  </div>
</nav>
{% endif %}

{% endapply %}
