{#
  - "modifier" (string): can be "light" or "dark" (default: "light")
  - "official" (object): {
    - "href" (string): target of the link (default: "#")
    - "label" (string): label of the link for desktop (default: '')
    - "label_mobile" (string): label of the link for mobile (default: '')
  }
  - "institutions" (object): {
    - "href" (string): target of the link (default: "#")
    - "label" (string): label of the link for desktop (default: '')
    - "label_mobile" (string): label of the link for mobile (default: '')
    - "links" (array): array of links components (default: [])
  }
  - "info" (string): descriptive text (default: '')
  - "extra_classes" (string): extra CSS classes to be added
  - "extra_attributes" (array): extra attributes classes (optional, format: [{ 'name': 'name_of_the_attribute', 'value': 'value_of_the_attribute'}])
#}

{# Internal properties #}

{% set _modifier = modifier|default('light') %}
{% set _official = official|default({'href': '#', 'label': '', 'label_mobile': ''}) %}
{% set _institutions = institutions|default({'href': '#', 'label': '', 'label_mobile': '', 'links': []}) %}
{% set _info = info|default('') %}
{% set _css_class = 'ecl-global-navigation ecl-global-navigation--' ~ _modifier %}
{% set _extra_attributes = '' %}
{% set _extra_classes = extra_classes|default('') %}

{# Internal logic - Process properties #}

{% if _extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ _extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e('html_attr') ~'"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

<div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <ul class="ecl-global-navigation__list">
    <li class="ecl-global-navigation__option">
      {% include '@ecl/eu-component-link' with {
        'href': _official.href,
        'label': '
          <span class="ecl-global-navigation__label ecl-u-d-none ecl-u-d-md-inline">' ~ _official.label ~ '</span>
          <span class="ecl-global-navigation__label ecl-u-d-md-none">' ~ _official.label_mobile ~ '</span>',
        'extra_classes': 'ecl-global-navigation__link ecl-global-navigation__link--official',
        }
      %}
    </li>

    <li class="ecl-global-navigation__option">
      {% include '@ecl/eu-component-link' with {
        'href': _institutions.href,
        'label': '
          <span class="ecl-global-navigation__label ecl-u-d-none ecl-u-d-md-inline">' ~ _institutions.label ~ '</span>
          <span class="ecl-global-navigation__label ecl-u-d-md-none">' ~ _institutions.label_mobile ~ '</span>',
        'extra_classes': 'ecl-global-navigation__link ecl-global-navigation__link--institution ecl-expandable__button',
        'extra_attributes': [
          { 'name': 'aria-controls', 'value': 'ecl-global-navigation-toggle' },
          { 'name': 'aria-expanded', 'value': 'false' },
          { 'name': 'id', 'value': 'ecl-global-navigation-toggle-button'},
        ]}
      %}
    </li>
  </ul>
  <div
    aria-hidden="true"
    aria-labelledby="ecl-global-navigation-toggle-button"
    id="ecl-global-navigation-toggle"
    class="ecl-u-aria ecl-global-navigation__toggle">

    <div class="ecl-global-navigation__toggle-content">
      <ul class="ecl-global-navigation__institution-list">
      {% for _link in _institutions.links %}
        <li class="ecl-global-navigation__institution-item">
          {% include '@ecl/eu-component-link' with {
            'extra_classes': 'ecl-global-navigation__institution-link',
            }|merge(_link|default({}))
          %}
        </li>
      {% endfor %}
      </ul>

      <div class="ecl-global-navigation__info">
        {{ _info }}
      </div>
    </div>
  </div>
</div>
