/**
 * Blockquotes
 * @define blockquote
 */

.ecl-blockquote {
  border-left: 0.417em solid $ecl-color-secondary;
  clear: both;
  display: inline-block;
  font-size: map-get($font-size, 'l');
  font-style: italic;
  line-height: 1.5;
  margin-left: 0;
  margin-right: 0;
  max-width: 24em;
  overflow: hidden;
  padding: 0.6em 0 0.6em 1.2em;
  position: relative;

  // Drupal fix.
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  p {
    display: inline;
    line-height: inherit;
  }

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.ecl-blockquote--small {
  color: $ecl-color-shade;
  font-size: map-get($font-size, 's');
  font-style: normal;
  margin-bottom: 0;
  padding-left: 0;
}
