/**
 * Site Header Standardised
 * @define site-header-standardised; weak
 */

// Import base
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-component-icon', 'ec-component-search-form'));

@mixin ecl-site-header-standardised(
  $logo-height-xs: 2.5rem,
  $logo-height-s: 3rem,
  $logo-height-m: 4.5rem
) {
  .ecl-site-header-standardised {
    background-color: $ecl-color-white-100;
    margin: 0;
  }

  .ecl-site-header-standardised__container {
    display: flex;
    flex-direction: column;
    padding-top: $ecl-spacing-m;
  }

  .ecl-site-header-standardised__banner {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .ecl-site-header-standardised__logo-image {
    display: block;
    height: $logo-height-xs;
    margin-bottom: calc(#{$ecl-spacing-m} + 1px);
  }

  .ecl-site-header-standardised__action {
    display: flex;
  }

  .ecl-site-header-standardised__login-toggle {
    align-items: center;
    border-left: 1px solid $ecl-color-white;
    border-right: 1px solid $ecl-color-white;
    border-top: 1px solid $ecl-color-white;
    display: flex;
    flex-direction: column;
    font: $ecl-font-xs;
    margin-bottom: calc(#{$ecl-spacing-m} + 1px);
    margin-top: -1px;
    padding-bottom: 0;
    padding-left: $ecl-spacing-xs;
    padding-right: $ecl-spacing-xs;
    padding-top: $ecl-spacing-xs;
    position: relative;
    text-align: center;
    z-index: $ecl-z-index-dropdown + 1;

    &[aria-expanded='true'] {
      background-color: $ecl-color-blue-5;
      border-color: $ecl-color-blue-25;
      margin-bottom: 0;
      padding-bottom: calc(#{$ecl-spacing-m} + 1px);
    }
  }

  .ecl-site-header-standardised__login-box {
    background-color: $ecl-color-blue-5;
    border: 1px solid $ecl-color-blue-25;
    display: none;
    font: $ecl-font-prolonged-s;
    left: 0;
    margin-top: -1px;
    padding: calc(#{$ecl-spacing-m} - 1px);
    position: absolute;
    width: calc(100% - #{$ecl-spacing-m} - #{$ecl-spacing-m});
    z-index: $ecl-z-index-dropdown;
  }

  .ecl-site-header-standardised__login-box--active {
    display: block;
  }

  .ecl-site-header-standardised__login-description {
    border-bottom: 1px solid $ecl-color-grey;
    margin-bottom: $ecl-spacing-m;
    margin-top: 0;
    max-width: 80ch;
    padding-bottom: $ecl-spacing-m;
  }

  .ecl-site-header-standardised__language-selector {
    font: $ecl-font-xs;
    margin-bottom: calc(#{$ecl-spacing-m} + 1px);
    padding-bottom: 0;
    padding-left: $ecl-spacing-xs;
    padding-right: $ecl-spacing-xs;
    padding-top: $ecl-spacing-xs;
    text-align: center;
  }

  .ecl-site-header-standardised__language-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .ecl-site-header-standardised__language-code {
    color: $ecl-color-white;
    font: $ecl-font-2-xs;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    // position top and left has to be set like this because IE...
    // also ugly magic numbers to center the text on the icon
    top: 50%;
    transform: translateX(-50%) translateX(-0.01rem) translateY(-50%)
      translateY(-0.05rem);
  }

  .ecl-site-header-standardised__search-toggle {
    align-items: center;
    border-left: 1px solid $ecl-color-white;
    border-right: 1px solid $ecl-color-white;
    border-top: 1px solid $ecl-color-white;
    display: flex;
    flex-direction: column;
    font: $ecl-font-xs;
    margin-bottom: calc(#{$ecl-spacing-m} + 1px);
    margin-top: -1px;
    padding-bottom: 0;
    padding-left: $ecl-spacing-xs;
    padding-right: $ecl-spacing-xs;
    padding-top: $ecl-spacing-xs;
    position: relative;
    text-align: center;
    z-index: $ecl-z-index-dropdown + 1;

    &[aria-expanded='true'] {
      background-color: $ecl-color-blue-5;
      border-color: $ecl-color-blue-25;
      margin-bottom: 0;
      padding-bottom: calc(#{$ecl-spacing-m} + 1px);
    }
  }

  .ecl-site-header-standardised__search {
    background-color: $ecl-color-blue-5;
    border: 1px solid $ecl-color-blue-25;
    display: none;
    left: 0;
    margin-top: -1px;
    padding: calc(#{$ecl-spacing-m} - 1px);
    position: absolute;
    width: calc(100% - #{$ecl-spacing-m} - #{$ecl-spacing-m});
    z-index: $ecl-z-index-dropdown;
  }

  .ecl-site-header-standardised__search--active {
    display: flex;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(sm) {
    .ecl-site-header-standardised__logo-image {
      height: $logo-height-s;
    }
  }

  @include ecl-media-breakpoint-up(lg) {
    .ecl-site-header-standardised__container {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $ecl-spacing-xl;
      padding-top: $ecl-spacing-xl;
    }

    .ecl-site-header-standardised__banner {
      align-items: flex-end;
      padding-right: $ecl-spacing-xl;
    }

    .ecl-site-header-standardised__logo-image {
      height: $logo-height-m;
      margin-bottom: 0;
    }

    .ecl-site-header-standardised__login-box {
      left: auto;
      width: auto;
    }

    .ecl-site-header-standardised__login-toggle,
    .ecl-site-header-standardised__language-selector {
      align-items: center;
      display: flex;
      flex-direction: row;
      font: $ecl-font-m;
      margin-bottom: $ecl-spacing-xs;
      padding: 0;
    }

    .ecl-site-header-standardised__language-icon {
      margin-right: $ecl-spacing-xs;

      .ecl-icon {
        height: $ecl-icon-m;
        width: $ecl-icon-m;
      }
    }

    .ecl-site-header-standardised__language-code {
      font: $ecl-font-xs;
      transform: translateX(-50%) translateX(0.02rem) translateY(-50%)
        translateY(-0.05rem);
    }

    .ecl-site-header-standardised__search-toggle {
      display: none;
    }

    .ecl-site-header-standardised__search {
      background-color: $ecl-color-white;
      border-width: 0;
      display: flex;
      margin: 0;
      padding: 0;
      position: relative;
      top: 0;
    }
  }
}

// Use mixin
@include exports('ec-component-site-header-standardised') {
  @include ecl-site-header-standardised();
}
