/**
 * Site Header Core
 * @define site-header-core
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/spacing';

.ecl-site-header-core__logo-image {
  height: 1.9cm;
  margin-bottom: map.get(spacing.$spacing, '4xl');
  margin-top: map.get(spacing.$spacing, '4xl');
  padding-bottom: map.get(spacing.$spacing, '4xl');
  padding-top: map.get(spacing.$spacing, '4xl');
  width: 7.2cm;
}

.ecl-site-header-core__action {
  display: none;
}

.ecl-site-header-core__logo-link::after {
  display: none;
}
