.context-nav {
  @include make-row();

  font-size: $font-size-xsmall;

  &__expander {
    border: 0;
    color: $blue-dark;
    cursor: pointer;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  &__more-button {
    text-decoration: underline;

    & .icon {
      padding-left: 2px;
      position: relative;
      top: 3px;
    }
  }

  &__hidden {
    display: none;
  }
}

.context-nav__label {
  @include make-xs-column(12);
  @include make-md-column(3);

  display: block;
  clear: both;
}

.context-nav__items {
  @include make-xs-column(12);
  @include make-md-column(9);

  display: block;
  margin-bottom: 0.556em;

  &:last-child {
    margin-bottom: 0;
  }
}

.context-nav__item {
  display: inline-block;

  &::after {
    color: $grey;
    content: ' |';
    margin-right: 4px;
  }

  &:last-child {
    &::after {
      display: none;
      margin-right: 0;
    }
  }

  a {
    @include _focus_outline_border(3px, $yellow-light, 2px);

    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@include breakpoint(screen-md-min) {
  .context-nav__items {
    margin-bottom: 0;
  }
}

// Drupal specific override for the node-person-name display mode.
.context-nav__item {
  .view-mode-name {
    display: inline-block;
  }

  & > * {
    display: inline;
  }
}
