@import '@ecl/ec-themes/ec/index';

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.875rem;
  justify-content: center;
  padding-left: $ecl-spacing-m;
  padding-right: $ecl-spacing-m;
}

.header--bordered {
  border: 2px solid $ecl-color-grey-15;
  padding-left: calc(#{$ecl-spacing-m} - 2px);
  padding-right: calc(#{$ecl-spacing-m} - 2px);
}

.title {
  font: $ecl-font-m;
  font-weight: $ecl-font-weight-bold;
  margin: 0;

  .card--light & {
    color: #fff;
  }

  .card--dark & {
    color: #000;
  }
}

.button {
  background: none;
  border-style: solid;
  border-width: 2px;
  font: $ecl-font-s;
  height: 2.5rem;
  margin-top: $ecl-spacing-m;
  width: 5rem;

  .card--light & {
    border-color: #fff;
    color: #fff;

    /* stylelint-disable-next-line */
    &:focus {
      background-color: rgba(#fff, 0.1);
    }

    /* stylelint-disable-next-line */
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  /* stylelint-disable-next-line */
  .card--dark & {
    border-color: $ecl-color-grey-100;
    color: #000;

    /* stylelint-disable-next-line */
    &:focus {
      background-color: rgba($ecl-color-grey-100, 0.1);
    }

    /* stylelint-disable-next-line */
    &:hover {
      background-color: $ecl-color-grey-100;
      color: #fff;
    }
  }
}

.button:hover .button-hover-hidden {
  display: none;
}

.button-hover-only {
  display: none;
}

.button:hover .button-hover-only {
  display: inline;
}

.body {
  background-color: $ecl-color-grey-5;
  color: $ecl-color-text;
  flex-grow: 1;
  font: $ecl-font-prolonged-m;
  padding: $ecl-spacing-s $ecl-spacing-m;
}

* + .card {
  margin-top: $ecl-spacing-m;
}
