@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.875rem;
  justify-content: center;
  padding-left: var(--ws-s-m);
  padding-right: var(--ws-s-m);
}

.title {
  font: var(--ws-f-m);
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin: 0;

  .card--light & {
    color: #fff;
  }

  .card--dark & {
    color: #000;
  }
}

.button {
  background: none;
  border-style: solid;
  border-width: 2px;
  font: var(--ws-f-s);
  height: 2.5rem;
  margin-top: var(--ws-s-m);
  width: 5.5rem;

  .card--light & {
    border-color: #fff;
    color: #fff;

    /* stylelint-disable-next-line */
    &:focus {
      background-color: rgba(#fff, 0.1);
    }

    /* stylelint-disable-next-line */
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  /* stylelint-disable-next-line */
  .card--dark & {
    border-color: var(--ws-c-d);
    color: #000;

    &:focus {
      background-color: color-mix(in srgb, var(--ws-c-d) 10%, transparent);
    }

    /* stylelint-disable-next-line */
    &:hover {
      background-color: var(--ws-c-d);
      color: #fff;
    }
  }
}

.button:hover .button-hover-hidden {
  display: none;
}

.button-hover-only {
  display: none;
}

.button:hover .button-hover-only {
  display: inline;
}

.body {
  background-color: var(--ws-c-n-40);
  color: var(--ws-c-d);
  flex-grow: 1;
  font: var(--ws-f-m);
  padding: var(--ws-s-s) var(--ws-s-m);
}

* + .card {
  margin-top: var(--ws-s-m);
}
