@use "sass:map";
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';
@use '@ecl/theme-dev/maps/color';

.item {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 4.5rem;
  justify-content: space-between;
  margin: 0;
  padding: map.get(spacing.$spacing, 'm');
}

.title {
  font: map.get(typography.$font, 's');
  font-weight: map.get(typography.$font-weight, 'bold');
  margin: 0;

  .item--light & {
    color: #fff;
  }

  .item--dark & {
    color: #000;
  }
}

.button {
  background: none;
  border-style: solid;
  border-width: 2px;
  font: map.get(typography.$font, 's');
  height: 2.5rem;
  margin-left: map.get(spacing.$spacing, 's');
  width: 5rem;

  .item--light & {
    border-color: #fff;
    color: #fff;

    /* stylelint-disable-next-line */
    &:focus {
      background-color: rgba(#fff, 0.1);
    }

    /* stylelint-disable-next-line */
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  /* stylelint-disable-next-line */
  .item--dark & {
    border-color: map.get(color.$ec, 'grey-100');
    color: #000;

    /* stylelint-disable-next-line */
    &:focus {
      background-color: rgba(map.get(color.$ec, 'grey-100'), 0.1);
    }

    /* stylelint-disable-next-line */
    &:hover {
      background-color: map.get(color.$ec, 'grey-100');
      color: #fff;
    }
  }
}

.button:hover .button-hover-hidden {
  display: none;
}

.button-hover-only {
  display: none;
}

.button:hover .button-hover-only {
  display: inline;
}
