@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

.item {
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(#000, 0.3) inset;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 4.5rem;
  justify-content: space-between;
  margin: 0;
  padding: var(--ws-s-m);
}

.item--main {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin: 0 -0.5rem;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    border-style: solid;
    border-color: currentcolor transparent transparent;
    bottom: -0.5rem;
    filter: brightness(85%);
  }

  &::before {
    left: 0;
    border-width: 0.5rem 0 0 0.5rem;
  }

  &::after {
    right: 0;
    border-width: 0.5rem 0.5rem 0 0;
  }
}

.title {
  font: var(--ws-f-s);
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin: 0;

  .item--light & {
    color: #fff;
  }

  .item--dark & {
    color: #000;
  }
}

.button {
  background: none;
  border-style: solid;
  border-width: 2px;
  font: var(--ws-f-s);
  height: 2.5rem;
  margin-left: var(--ws-s-s);
  width: 5rem;

  .item--light & {
    border-color: #fff;
    color: #fff;

    /* stylelint-disable-next-line */
    &:focus {
      background-color: rgba(#fff, 0.1);
    }

    /* stylelint-disable-next-line */
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  /* stylelint-disable-next-line */
  .item--dark & {
    border-color: var(--ws-c-d);
    color: #000;

    /* stylelint-disable-next-line */
    &:focus {
      background-color: color-mix(in srgb, var(--ws-c-d) 10%, transparent);
    }

    /* stylelint-disable-next-line */
    &:hover {
      background-color: var(--ws-c-d);
      color: #fff;
    }
  }
}

.button:hover .button-hover-hidden {
  display: none;
}

.button-hover-only {
  display: none;
}

.button:hover .button-hover-only {
  display: inline;
}
