@use 'sass:color';
@use 'sass:map';

$color: (
  // to be removed once components are updated
  // Semantic colors
  'primary': #3860ed,
  'primary-180': #051036,
  'primary-160': #0a1f6c,
  'primary-140': #0f2fa2,
  'primary-120': #143fd9,
  'primary-100': #3860ed,
  'primary-80': #5577f0,
  'primary-60': #89a1f4,
  'primary-40': #b1c0f8,
  'primary-20': #d8e0fb,
  'secondary': #ffbe5c,
  'secondary-180': #8f5600,
  'secondary-160': #e08700,
  'secondary-140': #ff9d0a,
  'secondary-120': #ffad33,
  'secondary-100': #ffbe5c,
  'secondary-80': #ffcb7c,
  'secondary-60': #ffd89d,
  'secondary-40': #ffe5be,
  'secondary-20': #fff2de,
  'dark': #26324b,
  'dark-100': #26324b,
  'dark-80': #546fa6,
  'dark-60': #9ac,
  'info': #3860ed,
  'success': #24a148,
  'error': #da1e28,
  'warning': #f39811,
  'background': #fcfcfc,

  // Neutral colors
  'neutral': #b9c5e9,
  'neutral-180': #6c85d1,
  'neutral-160': #7f95d7,
  'neutral-140': #92a5dd,
  'neutral-120': #a6b5e3,
  'neutral-100': #b9c5e9,
  'neutral-80': #cdd5ef,
  'neutral-60': #e0e5f5,
  'neutral-40': #f3f5fb,
  'neutral-20': #f8f9fd,

  // Accent colors
  'accent': #bbb3ff,
  'accent-160': #887de8,
  'accent-140': #978cf2,
  'accent-120': #a89efa,
  'accent-100': #bbb3ff,
  'accent-80': #bfb2ff,
  'accent-60': #d1ccff,
  'accent-40': #fafaff,

  // Other colors
  'branding': #004494,
  'black': #000,
  'white': #fff,
  'stroke': color.adjust(#3860ed, $alpha: -0.5),
  'overlay-light': color.adjust(#26324b, $alpha: -0.3),
  'overlay-dark': color.adjust(#26324b, $alpha: -0.1)
) !default;
$color-default: (
  // Base
  'harmonised': #004494,

  // Main
  'primary-50': #e6edff,
  'primary-100': #d9e3ff,
  'primary-200': #b0c6ff,
  'primary-300': #8cacff,
  'primary-400': #5987ff,
  'primary-500': #0046ff,
  'primary-600': #003fe6,
  'primary-700': #0038cc,
  'primary-800': #0035bf,
  'primary-900': #002a99,

  'secondary-50': #fff9ed,
  'secondary-100': #fff8d9,
  'secondary-200': #fff0b0,
  'secondary-300': #ffbe5c,
  'secondary-400': #fea439,
  'secondary-500': #fc8713,
  'secondary-600': #ed6c09,
  'secondary-700': #c55109,
  'secondary-800': #9c4010,
  'secondary-900': #7e3610,

  'neutral-dark-50': #eef1f6,
  'neutral-dark-100': #e5e9f2,
  'neutral-dark-200': #cad2e3,
  'neutral-dark-300': #b2bed7,
  'neutral-dark-400': #90a1c5,
  'neutral-dark-500': #546fa6,
  'neutral-dark-600': #435985,
  'neutral-dark-700': #3f537d,
  'neutral-dark-800': #324364,
  'neutral-dark-900': #26324b,

  'neutral-light-50': #f3f5fb,
  'neutral-light-100': #f0f3fa,
  'neutral-light-200': #e9edf8,
  'neutral-light-300': #d1d9f1,
  'neutral-light-400': #bdc8ea,
  'neutral-light-500': #9fb0e1,
  'neutral-light-600': #6c85d1,
  'neutral-light-700': #51649d,
  'neutral-light-800': #41507d,
  'neutral-light-900': #313c5e,

  // Status
  'info-50': #f0f9ff,
  'info-100': #dff1ff,
  'info-200': #b9e4fe,
  'info-300': #7bd0fe,
  'info-400': #34b8fc,
  'info-500': #0aa0ed,
  'info-600': #007acb,
  'info-700': #006ab5,
  'info-800': #005288,
  'info-900': #004370,

  'success-50': #f1fcf3,
  'success-100': #defae5,
  'success-200': #bef4cc,
  'success-300': #8ce9a6,
  'success-400': #52d676,
  'success-500': #2bbc53,
  'success-600': #1e9b41,
  'success-700': #1d833b,
  'success-800': #1a612f,
  'success-900': #184f29,

  'error-50': #fef2f3,
  'error-100': #ffc9cc,
  'error-200': #ffc9cc,
  'error-300': #fda4a9,
  'error-400': #fa6f76,
  'error-500': #f1424b,
  'error-600': #df232d,
  'error-700': #ae1820,
  'error-800': #9b1920,
  'error-900': #801c21,

  'warning-50': #fefbe8,
  'warning-100': #fff7c2,
  'warning-200': #ffed89,
  'warning-300': #ffdb45,
  'warning-400': #fcc614,
  'warning-500': #e3ac00,
  'warning-600': #bf8c00,
  'warning-700': #956e00,
  'warning-800': #795d00,
  'warning-900': #000
) !default;
$color-palette: (
  // Priority colors
  'blue-50': #e6edff,
  'blue-100': #d9e3ff,
  'blue-200': #b0c6ff,
  'blue-300': #8cacff,
  'blue-400': #5987ff,
  'blue-500': #0046ff,
  'blue-600': #003fe6,
  'blue-700': #0038cc,
  'blue-800': #0035bf,
  'blue-900': #002a99,

  'blue-navy-50': #f5f5fa,
  'blue-navy-100': #f0f0f8,
  'blue-navy-200': #d9d9ec,
  'blue-navy-300': #bfbfe0,
  'blue-navy-400': #8c8cc7,
  'blue-navy-500': #5959ae,
  'blue-navy-600': #4545a4,
  'blue-navy-700': #000083,
  'blue-navy-800': #000069,
  'blue-navy-900': #00002e,

  'blue-electric-50': #e6f8fd,
  'blue-electric-100': #d9f5fb,
  'blue-electric-200': #b1eaf7,
  'blue-electric-300': #5bd3ef,
  'blue-electric-400': #03bbe6,
  'blue-electric-500': #03a8cf,
  'blue-electric-600': #028cad,
  'blue-electric-700': #02708a,
  'blue-electric-800': #015467,
  'blue-electric-900': #014959,

  'green-50': #e6f9f2,
  'green-100': #daf6eb,
  'green-200': #b2edd6,
  'green-300': #8fe5c4,
  'green-400': #5ddaa9,
  'green-500': #05c67b,
  'green-600': #05b26f,
  'green-700': #049e62,
  'green-800': #04955c,
  'green-900': #03774a,

  'green-dark-50': #e6f0f0,
  'green-dark-100': #d9e8e8,
  'green-dark-200': #b0d0d0,
  'green-dark-300': #8cbaba,
  'green-dark-400': #599c9c,
  'green-dark-500': #066,
  'green-dark-600': #005c5c,
  'green-dark-700': #005252,
  'green-dark-800': #004d4d,
  'green-dark-900': #003d3d,

  'orange-50': #fff2e6,
  'orange-100': #ffebd9,
  'orange-200': #ffd5b0,
  'orange-300': #ffc38c,
  'orange-400': #ffa859,
  'orange-500': #ff7900,
  'orange-600': #e66d00,
  'orange-700': #cc6100,
  'orange-800': #bf5b00,
  'orange-900': #994900,

  'purple-50': #efe7fa,
  'purple-100': #e6dbf8,
  'purple-200': #ccb4f0,
  'purple-300': #b593ea,
  'purple-400': #9462e0,
  'purple-500': #5b0ed0,
  'purple-600': #520dbb,
  'purple-700': #490ba6,
  'purple-800': #440b9c,
  'purple-900': #37087d,

  // Supplementary colors
  'blue-ocean-50': #e8f8f6,
  'blue-ocean-100': #dcf5f2,
  'blue-ocean-200': #b7eae4,
  'blue-ocean-300': #97e0d8,
  'blue-ocean-400': #69d2c6,
  'blue-ocean-500': #18baa8,
  'blue-ocean-600': #16a797,
  'blue-ocean-700': #139586,
  'blue-ocean-800': #128c7e,
  'blue-ocean-900': #0e7065,

  'green-lemon-50': #fafcee,
  'green-lemon-100': #f7fbe5,
  'green-lemon-200': #eff6c9,
  'green-lemon-300': #e8f2b0,
  'green-lemon-400': #ddec8d,
  'green-lemon-500': #cbe250,
  'green-lemon-600': #b7cb48,
  'green-lemon-700': #a2b540,
  'green-lemon-800': #98aa3c,
  'green-lemon-900': #7a8830,

  'green-pine-50': #e7eced,
  'green-pine-100': #dae2e4,
  'green-pine-200': #b3c3c8,
  'green-pine-300': #91a9af,
  'green-pine-400': #60828b,
  'green-pine-500': #0a3f4d,
  'green-pine-600': #093945,
  'green-pine-700': #08323e,
  'green-pine-800': #082f3a,
  'green-pine-900': #06262e,

  'red-crayola-50': #ffecef,
  'red-crayola-100': #ffe2e7,
  'red-crayola-200': #fec3cd,
  'red-crayola-300': #fc3d5e,
  'red-crayola-400': #e33755,
  'red-crayola-500': #ca314b,
  'red-crayola-600': #bd2e47,
  'red-crayola-700': #972538,
  'red-crayola-800': #711b2a,
  'red-crayola-900': #581521,

  'warm-grey-50': #f0eeed,
  'warm-grey-100': #e9e5e3,
  'warm-grey-200': #d2c9c6,
  'warm-grey-300': #bdb1ac,
  'warm-grey-400': #a08f87,
  'warm-grey-500': #6d5246,
  'warm-grey-600': #624a3f,
  'warm-grey-700': #574238,
  'warm-grey-800': #523e35,
  'warm-grey-900': #31251f,

  'yellow-gold-50': #fffae6,
  'yellow-gold-100': #fff8d9,
  'yellow-gold-200': #fff0b0,
  'yellow-gold-300': #ffce00,
  'yellow-gold-400': #e6b900,
  'yellow-gold-500': #cca500,
  'yellow-gold-600': #bf9b00,
  'yellow-gold-700': #997c00,
  'yellow-gold-800': #735d00,
  'yellow-gold-900': #594800,

  'orange-abricot-50': #fff9ed,
  'orange-abricot-100': #fff1d4,
  'orange-abricot-200': #ffdfa9,
  'orange-abricot-300': #ffbe5c,
  'orange-abricot-400': #fea439,
  'orange-abricot-500': #fc8713,
  'orange-abricot-600': #ed6c09,
  'orange-abricot-700': #c55109,
  'orange-abricot-800': #9c4010,
  'orange-abricot-900': #7e3610,

  'purple-violet-50': #f3f1ff,
  'purple-violet-100': #eeeaff,
  'purple-violet-200': #dbd4ff,
  'purple-violet-300': #8b73ff,
  'purple-violet-400': #7f68e6,
  'purple-violet-500': #6f5ccc,
  'purple-violet-600': #6856bf,
  'purple-violet-700': #534599,
  'purple-violet-800': #3f3473,
  'purple-violet-900': #312859,

  'red-tomato-50': #fff0ed,
  'red-tomato-100': #ffe8e4,
  'red-tomato-200': #ffd0c7,
  'red-tomato-300': #ff684a,
  'red-tomato-400': #e65e43,
  'red-tomato-500': #cc533b,
  'red-tomato-600': #bf4e38,
  'red-tomato-700': #993e2c,
  'red-tomato-800': #732f21,
  'red-tomato-900': #59241a
) !default;
$color-modes: (
  'blue': (
    '--cm-surface-lowest': color-mix(
        in srgb,
        map.get($color-palette, 'blue-50') 50%,
        transparent
      ),
    '--cm-surface-lowest-variant': color-mix(
        in srgb,
        map.get($color-palette, 'green-lemon-100') 50%,
        transparent
      ),
    '--cm-surface-low-1': map.get($color-palette, 'blue-100'),
    '--cm-surface-low-2': map.get($color-palette, 'blue-200'),
    '--cm-surface-medium': map.get($color-palette, 'blue-300'),
    '--cm-surface': map.get($color-palette, 'blue-500'),
    '--cm-surface-variant-1': map.get($color-palette, 'blue-500'),
    '--cm-surface-variant-2': map.get($color-palette, 'blue-navy-700'),
    '--cm-surface-variant-3': map.get($color-palette, 'blue-navy-700'),
    '--cm-on-surface': map.get($color-palette, 'blue-700'),
    '--cm-on-surface-swap-1': #fff,
    '--cm-on-surface-variant-1': map.get($color-palette, 'blue-500'),
    '--cm-on-surface-variant-2': map.get($color-palette, 'green-lemon-500'),
    '--cm-on-surface-highlight': map.get($color-palette, 'blue-200'),
    '--cm-on-surface-swap-1': #fff,
    '--cm-on-surface-swap-2': #fff,

    '--cm-border-medium': map.get($color-palette, 'blue-400'),
    '--cm-border': map.get($color-palette, 'blue-500'),
    '--cm-border-low': map.get($color-palette, 'blue-100'),
  ),
  'green-dark': (
    '--cm-surface-lowest': color-mix(
        in srgb,
        map.get($color-palette, 'green-dark-50') 50%,
        transparent
      ),
    '--cm-surface-lowest-variant': color-mix(
        in srgb,
        map.get($color-palette, 'green-lemon-100') 50%,
        transparent
      ),
    '--cm-surface-low-1': map.get($color-palette, 'green-dark-100'),
    '--cm-surface-low-2': map.get($color-palette, 'green-dark-200'),
    '--cm-surface-medium': map.get($color-palette, 'green-dark-300'),
    '--cm-surface': map.get($color-palette, 'green-dark-500'),
    '--cm-surface-variant-1': map.get($color-palette, 'green-dark-900'),
    '--cm-surface-variant-2': map.get($color-palette, 'green-lemon-200'),
    '--cm-surface-variant-3': map.get($color-palette, 'green-dark-900'),
    '--cm-on-surface': map.get($color-palette, 'green-dark-600'),
    '--cm-on-surface-swap-1': #fff,
    '--cm-on-surface-variant-1': map.get($color-palette, 'green-dark-500'),
    '--cm-on-surface-variant-2': map.get($color-palette, 'green-lemon-500'),
    '--cm-on-surface-highlight': map.get($color-palette, 'green-dark-200'),
    '--cm-on-surface-swap-1': #fff,
    '--cm-on-surface-swap-2': #{map.get($color-palette, 'blue-navy-900')},

    '--cm-border-medium': map.get($color-palette, 'green-dark-400'),
    '--cm-border': map.get($color-palette, 'green-dark-500'),
    '--cm-border-low': map.get($color-palette, 'green-dark-100'),
  ),
  'orange': (
    '--cm-surface-lowest': color-mix(
        in srgb,
        map.get($color-palette, 'orange-50') 55%,
        transparent
      ),
    '--cm-surface-lowest-variant': color-mix(
        in srgb,
        map.get($color-palette, 'blue-ocean-100') 50%,
        transparent
      ),
    '--cm-surface-low-1': map.get($color-palette, 'orange-100'),
    '--cm-surface-low-2': map.get($color-palette, 'orange-200'),
    '--cm-surface-medium': map.get($color-palette, 'orange-300'),
    '--cm-surface': map.get($color-palette, 'orange-500'),
    '--cm-surface-variant-1': map.get($color-palette, 'orange-500'),
    '--cm-surface-variant-2': map.get($color-palette, 'green-pine-700'),
    '--cm-surface-variant-3': map.get($color-palette, 'green-pine-700'),
    '--cm-on-surface': map.get($color-palette, 'orange-800'),
    '--cm-on-surface-swap-1': #{map.get($color-palette, 'blue-navy-900')},
    '--cm-on-surface-variant-1': map.get($color-palette, 'orange-500'),
    '--cm-on-surface-variant-2': map.get($color-palette, 'blue-ocean-300'),
    '--cm-on-surface-highlight': map.get($color-palette, 'orange-300'),
    '--cm-on-surface-swap-1': #{map.get($color-palette, 'blue-navy-900')},
    '--cm-on-surface-swap-2': #fff,

    '--cm-border-medium': map.get($color-palette, 'orange-400'),
    '--cm-border': map.get($color-palette, 'orange-500'),
    '--cm-border-low': map.get($color-palette, 'orange-100'),
  ),
  'green': (
    '--cm-surface-lowest': color-mix(
        in srgb,
        map.get($color-palette, 'green-50') 50%,
        transparent
      ),
    '--cm-surface-lowest-variant': color-mix(
        in srgb,
        map.get($color-palette, 'warm-grey-100') 50%,
        transparent
      ),
    '--cm-surface-low-1': map.get($color-palette, 'green-100'),
    '--cm-surface-low-2': map.get($color-palette, 'green-200'),
    '--cm-surface-medium': map.get($color-palette, 'green-300'),
    '--cm-surface': map.get($color-palette, 'green-800'),
    '--cm-surface-variant-1': map.get($color-palette, 'green-500'),
    '--cm-surface-variant-2': map.get($color-palette, 'green-dark-900'),
    '--cm-surface-variant-3': map.get($color-palette, 'green-dark-900'),
    '--cm-on-surface': map.get($color-palette, 'green-800'),
    '--cm-on-surface-swap-1': #{map.get($color-palette, 'blue-navy-900')},
    '--cm-on-surface-variant-1': map.get($color-palette, 'green-500'),
    '--cm-on-surface-variant-2': map.get($color-palette, 'warm-grey-300'),
    '--cm-on-surface-highlight': map.get($color-palette, 'green-400'),
    '--cm-on-surface-swap-1': #{map.get($color-palette, 'blue-navy-900')},
    '--cm-on-surface-swap-2': #fff,

    '--cm-border-medium': map.get($color-palette, 'green-400'),
    '--cm-border': map.get($color-palette, 'green-800'),
    '--cm-border-low': map.get($color-palette, 'green-100'),
  ),
  'purple': (
    '--cm-surface-lowest': color-mix(
        in srgb,
        map.get($color-palette, 'purple-50') 40%,
        transparent
      ),
    '--cm-surface-lowest-variant': color-mix(
        in srgb,
        map.get($color-palette, 'warm-grey-100') 50%,
        transparent
      ),
    '--cm-surface-low-1': map.get($color-palette, 'purple-100'),
    '--cm-surface-low-2': map.get($color-palette, 'purple-200'),
    '--cm-surface-medium': map.get($color-palette, 'purple-300'),
    '--cm-surface': map.get($color-palette, 'purple-400'),
    '--cm-surface-variant-1': map.get($color-palette, 'purple-500'),
    '--cm-surface-variant-2': map.get($color-palette, 'blue-navy-700'),
    '--cm-surface-variant-3': map.get($color-palette, 'blue-navy-700'),
    '--cm-on-surface': map.get($color-palette, 'purple-500'),
    '--cm-on-surface-swap-1': #fff,
    '--cm-on-surface-variant-1': map.get($color-palette, 'purple-400'),
    '--cm-on-surface-variant-2': map.get($color-palette, 'green-lemon-500'),
    '--cm-on-surface-highlight': map.get($color-palette, 'purple-200'),
    '--cm-on-surface-swap-1': #fff,
    '--cm-on-surface-swap-2': #fff,

    '--cm-border-medium': map.get($color-palette, 'purple-400'),
    '--cm-border': map.get($color-palette, 'purple-400'),
    '--cm-border-low': map.get($color-palette, 'purple-100'),
  ),
  'blue-navy': (
    '--cm-surface-lowest': color-mix(
        in srgb,
        map.get($color-palette, 'blue-navy-100') 50%,
        transparent
      ),
    '--cm-surface-lowest-variant': color-mix(
        in srgb,
        map.get($color-palette, 'blue-ocean-100') 50%,
        transparent
      ),
    '--cm-surface-low-1': map.get($color-palette, 'blue-navy-200'),
    '--cm-surface-low-2': map.get($color-palette, 'blue-navy-300'),
    '--cm-surface-medium': map.get($color-palette, 'blue-navy-300'),
    '--cm-surface': map.get($color-palette, 'blue-navy-700'),
    '--cm-surface-variant-1': map.get($color-palette, 'blue-navy-800'),
    '--cm-surface-variant-2': map.get($color-palette, 'blue-ocean-400'),
    '--cm-surface-variant-3': map.get($color-palette, 'blue-navy-800'),
    '--cm-on-surface': map.get($color-palette, 'blue-navy-600'),
    '--cm-on-surface-swap-1': #fff,
    '--cm-on-surface-variant-1': map.get($color-palette, 'blue-navy-700'),
    '--cm-on-surface-variant-2': map.get($color-palette, 'blue-ocean-300'),
    '--cm-on-surface-highlight': map.get($color-palette, 'blue-navy-300'),
    '--cm-on-surface-swap-1': #fff,
    '--cm-on-surface-swap-2': #{map.get($color-palette, 'blue-navy-900')},

    '--cm-border-medium': map.get($color-palette, 'blue-navy-400'),
    '--cm-border': map.get($color-palette, 'blue-navy-700'),
    '--cm-border-low': map.get($color-palette, 'blue-navy-100'),
  ),
  'blue-electric': (
    '--cm-surface-lowest': color-mix(
        in srgb,
        map.get($color-palette, 'blue-electric-50') 50%,
        transparent
      ),
    '--cm-surface-lowest-variant': color-mix(
        in srgb,
        map.get($color-palette, 'warm-grey-100') 50%,
        transparent
      ),
    '--cm-surface-low-1': map.get($color-palette, 'blue-electric-100'),
    '--cm-surface-low-2': map.get($color-palette, 'blue-electric-200'),
    '--cm-surface-medium': map.get($color-palette, 'blue-electric-300'),
    '--cm-surface': map.get($color-palette, 'blue-electric-600'),
    '--cm-surface-variant-1': map.get($color-palette, 'blue-electric-400'),
    '--cm-surface-variant-2': map.get($color-palette, 'green-pine-700'),
    '--cm-surface-variant-3': map.get($color-palette, 'green-pine-700'),
    '--cm-on-surface': map.get($color-palette, 'blue-electric-700'),
    '--cm-on-surface-swap-1': #{map.get($color-palette, 'blue-navy-900')},
    '--cm-on-surface-variant-1': map.get($color-palette, 'blue-electric-500'),
    '--cm-on-surface-variant-2': map.get($color-palette, 'warm-grey-300'),
    '--cm-on-surface-highlight': map.get($color-palette, 'blue-electric-300'),
    '--cm-on-surface-swap-1': #{map.get($color-palette, 'blue-navy-900')},
    '--cm-on-surface-swap-2': #fff,

    '--cm-border-medium': map.get($color-palette, 'blue-electric-400'),
    '--cm-border': map.get($color-palette, 'blue-electric-600'),
    '--cm-border-low': map.get($color-palette, 'blue-electric-100'),
  ),
) !default;
