@use 'sass:map';

$border-radius: (
  's': 2px,
  'm': 4px,
  'l': 6px,
  'xl': 8px,
) !default;
$shadow-color: #26324b !default;
$shadow-inline-color: #e0e5f5 !default;
$shadow: (
  '1': #{0 0 1px rgba($shadow-color, 0.06),
  2px 2px 2px rgba($shadow-color, 0.05),
  4px 4px 6px rgba($shadow-color, 0.05),
  0 1px 0 $shadow-inline-color inset},
  '6': #{0 0 6px rgba($shadow-color, 0.06),
  12px 12px 12px rgba($shadow-color, 0.05),
  24px 24px 36px rgba($shadow-color, 0.05),
  0 1px 0 $shadow-inline-color inset},
  '12': #{0 0 12px rgba($shadow-color, 0.06),
  24px 24px 24px rgba($shadow-color, 0.05),
  48px 48px 72px rgba($shadow-color, 0.05),
  0 1px 0 $shadow-inline-color inset},
  '16': #{0 0 16px rgba($shadow-color, 0.06),
  32px 32px 32px rgba($shadow-color, 0.05),
  64px 64px 96px rgba($shadow-color, 0.05),
  0 1px 0 $shadow-inline-color inset},
) !default;
