/*
 *ECL tables
 * @define table ; weak
 */

// Import base
@import '@ecl/generic-base/generic-base';
@import 'mixins';

@mixin ecl-table() {
  .ecl-table {
    @include table();
  }

  @media (max-width: map-get($ecl-grid-breakpoints, 'md')) {
    .ecl-table {
      @include table-max-width-md();
    }

    .ecl-table__heading {
      background-color: $ecl-color-shade;
      color: #fff;
      font-weight: bold;
    }

    .ecl-table__group-label {
      &::after {
        content: attr(data-th-group);
        display: block;
        font-weight: bold;
        left: map-get($ecl-spacing, 'xxs');
        position: absolute;
        top: -(map-get($ecl-spacing, 'm'));
      }

      ~ .ecl-table__group_element {
        margin: 0;
        padding-left: map-get($ecl-spacing, 'm');
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-table {
      @include table-min-width-md();
    }
  }
}
