/**
 * Icons
 * @define icon
 */

// Import base
@import '@ecl/generic-base/generic-base';

@import './font-faces';
@import './variables';
@import './mixins';

@mixin ecl-icons($highlight-background: $ecl-color-secondary) {
  .ecl-icon {
    margin: 0;
  }

  .ecl-icon--highlight {
    background-color: $highlight-background;
    border-radius: 50%;
    padding: $ecl-spacing-xs;
  }

  .ecl-icon--xs {
    height: $ecl-icon-xs;
    width: $ecl-icon-xs;
  }

  .ecl-icon--s {
    height: $ecl-icon-s;
    width: $ecl-icon-s;
  }

  .ecl-icon--m {
    height: $ecl-icon-m;
    width: $ecl-icon-m;
  }

  .ecl-icon--l {
    height: $ecl-icon-l;
    width: $ecl-icon-l;
  }

  .ecl-icon--xl {
    height: $ecl-icon-xl;
    width: $ecl-icon-xl;
  }
}
