@import '@ecl/ec-theme-default/index';

* + .anatomy {
  margin-top: $ecl-spacing-m;
}

.container {
  background-color: $ecl-color-grey-5;
  padding: $ecl-spacing-l $ecl-spacing-m;
}

.image-container {
  align-items: center;
  background-color: $ecl-color-white-100;
  border: 1px solid $ecl-color-grey-15;
  display: flex;
  justify-content: center;
}

.image {
  // IE fix
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  // end of: IE fix
  height: auto;
  max-width: 100%;
}

.legend {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.legend__item {
  display: inline-flex;
  margin-right: $ecl-spacing-xl;

  &:last-child {
    margin-right: 0;
  }
}

.legend__item-last {
  flex-grow: 1;
  display: inline-flex;
  justify-content: flex-end;
}

.legend__color {
  border-radius: 2px;
  height: 1rem;
  margin-right: $ecl-spacing-s;
  width: 1.25rem;
}

.legend__label {
  color: $ecl-color-grey-100;
  font: $ecl-font-s;
  font-style: italic;
}

.legend__description {
  color: $ecl-color-grey-75;
  font: $ecl-font-prolonged-s;
  margin-top: $ecl-spacing-m;
}

.link {
  align-items: center;
  box-sizing: border-box;
  color: $ecl-color-blue-100;
  display: inline-flex;
  float: right;
  font: $ecl-font-m;
  text-decoration: none;
}

.link__icon {
  fill: currentColor;
  height: 1em;
  margin-left: $ecl-spacing-xs;
  width: 1em;
  transform: rotateZ(90deg);
}

.link:hover,
.link:focus {
  color: $ecl-color-black-100;
  text-decoration: underline;

  &.link--icon {
    text-decoration: none;
  }

  &.link--icon .link__label {
    text-decoration: underline;
  }
}

.link:focus {
  outline: 3px solid $ecl-color-yellow-100;
  outline-offset: 2px;
}

@media screen and (min-width: $ecl-breakpoint-md) {
  * + .anatomy {
    margin-top: $ecl-spacing-l;
  }

  .anatomy--vertical {
    border: 1px solid $ecl-color-grey-15;

    .image {
      border-width: 0;
      flex-grow: 1;
      height: 100%;
    }

    .legend {
      flex-direction: column;
    }

    .legend__item {
      margin-right: 0;
      margin-top: $ecl-spacing-s;

      &:first-child {
        margin-top: 0;
      }
    }

    .legend__description {
      margin-top: $ecl-spacing-l;
    }
  }
}
