{% apply spaceless %}

{#
  Parameters:
    - "toggle" (object) (default: {}): object of type Button
    - "id" (string) (default: '')
    - "items" (array) (default: []):
      - "title" (string) (default: '')
      - "meta" (string) (default: '')
      - "lang" (string) (default: '')
      - "download" (object) (default to the parent download property) object of type Link
#}

{# Internal properties #}

{% set _items = items|default([]) %}
{% set _toggle = toggle|default({}) %}
{% set _id = id|default('') %}
{% set _download_attribute_default = download_attribute_default|default(false) %}

{% if _items is not empty %}
  <div
    class="ecl-file__translation-container"
    data-ecl-file-translation-container
  >
    {% include '@ecl/button/button.html.twig' with _toggle|merge({
      variant: 'ghost',
      type: 'button',
      icon: _toggle.icon|default({})|merge({
        name: 'corner-arrow',
        size: 'fluid',
        transform: 'rotate-180'
      }),
      extra_classes: 'ecl-file__translation-toggle',
      extra_attributes: [
        { name: 'data-ecl-file-translation-toggle' },
        { name: 'aria-expanded', value: 'false' },
      ],
    }) only %}

    <ul class="ecl-file__translation-list">
    {% for key, _item in _items %}
      {% include '@ecl/file/file-translation-item.html.twig' with _item|merge({
          id:  _id ~ '-translation-' ~ key,
          title_id: _id ~ '-title',
          download_attribute_default: _download_attribute_default,
      }) only %}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{% endapply %}
