.tmp-logo-link {
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 2rem;
}

.tmp-logo-link:hover,
.tmp-logo-link:focus {
  border: 3px solid #ffd617;
  outline: none;
  padding: calc(2rem - 2px);
}

.tmp-logo-link img {
  max-width: 100%;
}
