/**
 * Color mixins and functions
 */

@use 'sass:string';
@use 'sass:list';

// Function to get short color name
@function get-color-short-name($color) {
  $one-char: (
    'primary',
    'secondary',
    'neutral',
    'grey',
    'alpha',
    'white',
    'monochrome'
  );
  $two-char: ('info', 'success', 'error', 'warning');
  $color-parts: string.split($color, '-');
  $color-name: list.nth($color-parts, 1);

  @if list.index($one-char, $color-name) {
    $short-name: string.slice($color-name, 1, 1);

    @if list.length($color-parts) > 1 {
      @return $short-name + '-' + list.nth($color-parts, 2);
    }

    @return $short-name;
  } @else if list.index($two-char, $color-name) {
    $short-name: string.slice($color-name, 1, 2);

    @if list.length($color-parts) > 1 {
      @return $short-name + '-' + list.nth($color-parts, 2);
    }

    @return $short-name;
  }

  @return $color;
}

// Mixin to set the content color to the current text color
// Used mostly for element using wysiwyg
@mixin content-current-color() {
  .ecl * {
    color: currentcolor;
  }

  .ecl a,
  .ecl-link {
    --ecl-link-color: currentcolor;
    --ecl-link-color-hover: var(--ecl-link-color);
    --ecl-link-color-active: var(--ecl-link-color);
    --ecl-focus-outline-color: var(--ecl-link-color);
  }
}
