{% macro footer(options) %}
  {%
    set default_options = {
      custom_footer: '',
      corporate_footer: '',
      last_footer: ''
    }
  %}
  {% set options = default_options|merge(options|default({})) %}
  <footer class="ecl-footer">
    {% if options.custom_footer is not empty %}
      <div class="ecl-footer__site-identity">
        {{ options.custom_footer }}
      </div>
    {% endif %}
    <div class="ecl-footer__site-corporate">
      {{ options.corporate_footer }}
    </div>
    <div class="ecl-footer__ec">
      {{ options.last_footer }}
    </div>
  </footer>
{% endmacro %}
