{% spaceless %}

{#
  Parameters:
  - "counter_label" (string) (default: '') Label of the counter
  - "view_all_label" (string) (default: '') Label of the view all button
  - "overlay" (object) (default: {})
    - "close" (object) (default: {}): object of type button
    - "previous" (object) (default: {}): object of type button
    - "next" (object) (default: {}): object of type button
    - "counter_separator" (string) (default: '')
    - "download" (object) (default: {}): object of type link
    - "share" (object) (default: {}): object of type link
  - "footer" (object) (default: {}): object 0f type link
  - "items" (array) (default: [])
    - "path" (string) (default: '')
    - "alt" (string) (default: '')
    - "description" (string) (default: '')
    - "meta" (string) (default: '')
    - "icon" (object) (default: {}): object of type icon
    - "share_path" (string) (default: '')
  - "selected_item_id" (int) (default: 0)
  - "extra_classes" (optional) (string) (default: '')
  - "extra_attributes" (optional) (array) (default: [])
    - "name" (string) Attribute name, eg. 'data-test'
    - "value" (string) Attribute value, eg: 'data-test-1'
  - "_compliance_" (boolean) (default: false) Activates debug
#}

{# variables #}

{% set _css_class = 'ecl-gallery' %}
{% set _extra_attributes = '' %}
{% set _overlay = overlay|default({}) %}
{% set _counter_label = counter_label|default('') %}
{% set _view_all_label = view_all_label|default('') %}
{% set _items = items|default([]) %}
{% set _footer = footer|default({}) %}
{% set _selected_item_id = selected_item_id|default(0) %}
{% set _extra_attributes = 'data-ecl-auto-init="Gallery"' %}
{% set _overlay_class = '' %}
{% set _overlay_attrs = [] %}
{% set _compliance = _compliance_|default(false) %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value|e ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Print the result #}

<section class="{{ _css_class }}" {{ _extra_attributes|raw }} data-ecl-gallery>
  <ul class="ecl-gallery__list">
    {% for _item in _items %}
      {% set _item_class = '' %}
      {% set _item_attrs = [] %}
      {% if _item.extra_classes is defined and _item.extra_classes is not empty %}
        {% set _item_class = _item.extra_classes %}
      {% endif %}
      {% if _item.extra_attributes is defined and _item.extra_attributes is not empty %}
        {% set _item_attrs = _item.extra_attributes %}
      {% endif %}
      {% include '@ecl-twig/ec-component-gallery/ecl-gallery-item.html.twig' with {
        item: _item,
        extra_attributes: _item_attrs,
        extra_classes: _item_class,
        _compliance_: _compliance
      } only %}
    {% endfor %}
  </ul>
  <div class="ecl-gallery__info">
    <strong data-ecl-gallery-count>0</strong> {{ _counter_label -}}
  </div>

  {% include '@ecl-twig/ec-component-button/ecl-button.html.twig' with {
    label: _view_all_label,
    type: 'submit',
    variant: 'ghost',
    extra_attributes: [{ name: 'data-ecl-gallery-all' }]
  } only %}

{% if _footer is not empty and _footer.link is defined and _footer.link is not empty %}
  <div class="ecl-gallery__footer">
    {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
      link: _footer.link|merge({
        type: 'standalone',
        icon_position: 'after',
      }),
      icon: _footer.icon
    } only %}
  </div>
{% endif %}
  {% set _selected_item = {} %}
  {% if _items[_selected_item_id] is defined and _items[_selected_item_id] is not empty %}
    {% set _selected_item = _items[_selected_item_id] %}
  {% endif %}
  {% if overlay.extra_classes is defined and overlay.extra_classes is not empty %}
    {% set _overlay_class = overlay.extra_classes %}
  {% endif %}
  {% if overlay.extra_attributes is defined and overlay.extra_attributes is not empty %}
    {% set _overlay_attrs = overlay.extra_attributes %}
  {% endif %}
  {% include '@ecl-twig/ec-component-gallery/ecl-gallery-overlay.html.twig' with {
    overlay: _overlay,
    extra_attributes: _overlay_attrs,
    extra_classes: _overlay_class,
    item: _selected_item,
    _compliance_: _compliance
  } only %}
</section>

{# Validation #}

{% if _compliance %}
  {% include '@ecl-twig/ec-component-ecl-compliance/components/ecl-compliance-gallery.html.twig' with {
    items: _items
  } only %}
{% endif %}

{% endspaceless %}
