/* stylelint-disable no-descending-specificity */

/**
 * Footer Harmonised component
 * @define footer-harmonised
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';
@use "@ecl/theme-dev/maps/layout";
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_column-gap: map.get(layout.$grid-gutter-width, 'm');

/*
  * Global rules
*/
.ecl-footer-harmonised {
  margin: 0;
  padding-bottom: map.get(spacing.$spacing, 'xl');
}

.ecl-footer-harmonised__container {
  display: flex;
  flex-direction: column;
}

.ecl-footer-harmonised__section {
  font: map.get(typography.$font, 'm');
  margin-top: map.get(spacing.$spacing, 'l');

  &:first-of-type {
    margin-top: map.get(spacing.$spacing, 'xl');
  }

  &:empty {
    margin-top: 0;
  }

  > :first-child {
    margin-top: 0;
  }
}

.ecl-footer-harmonised__section--separator {
  border-bottom: 1px solid transparent;
  padding-bottom: map.get(spacing.$spacing, 'l');
}

.ecl-footer-harmonised__title,
.ecl-footer-harmonised__title:hover,
.ecl-footer-harmonised__title:focus,
.ecl-footer-harmonised__title:active {
  font: map.get(typography.$font, 'm');
  font-weight: map.get(typography.$font-weight, 'bold');
}

.ecl-footer-harmonised__title--separator {
  border-bottom: 1px solid transparent;
  padding-bottom: map.get(spacing.$spacing, 'xs');
}

.ecl-footer-harmonised__description {
  font: map.get(typography.$font-prolonged, 's');
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-footer-harmonised__content {
  font: map.get(typography.$font, 's');
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-footer-harmonised__list {
  list-style: none;
  margin-bottom: 0;
  margin-top: map.get(spacing.$spacing, 'xs');
  padding-left: 0;
}

.ecl-footer-harmonised__list-item {
  margin-top: map.get(spacing.$spacing, 'm');

  .ecl-footer-harmonised__list--condensed & {
    margin-top: map.get(spacing.$spacing, 'xs');
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.ecl-footer-harmonised__list--inline {
  display: inline-flex;
  flex-wrap: wrap;

  .ecl-footer-harmonised__list-item {
    margin-right: map.get(spacing.$spacing, 'l');
    margin-top: 0;

    /* stylelint-disable-next-line max-nesting-depth */
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.ecl-footer-harmonised__link {
  font: map.get(typography.$font, 's');
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-footer-harmonised__section {
    margin-top: map.get(spacing.$spacing, 'xl');

    &:empty {
      margin-top: 0;
    }
  }

  .ecl-footer-harmonised__section--separator {
    border-bottom-width: 2px;
    padding-bottom: map.get(spacing.$spacing, 'xl');
  }

  .ecl-footer-harmonised__title,
  .ecl-footer-harmonised__title:hover,
  .ecl-footer-harmonised__title:focus,
  .ecl-footer-harmonised__title:active {
    font: map.get(typography.$font-prolonged, 'm');
    font-weight: map.get(typography.$font-weight, 'bold');
  }

  .ecl-footer-harmonised__title--separator {
    border-bottom-width: 2px;
  }

  .ecl-footer-harmonised__description {
    margin-top: map.get(spacing.$spacing, 'xl');
  }

  .ecl-footer-harmonised__list--columns {
    column-count: 2;
    column-gap: $_column-gap;
  }

  .ecl-footer-harmonised__link {
    font: map.get(typography.$font-prolonged, 's');
  }
}

/* Group 1 */
$_bg-color: map.get(color.$ec, 'blue');
$_separator-color: map.get(color.$ec, 'blue-50');
$_text-color: map.get(color.$ec, 'white');
$_description-color: map.get(color.$ec, 'blue-25');
$_column-gap: map.get(layout.$grid-gutter-width, 'm');

/*
 * Global rules
 */
.ecl-footer-harmonised--group1 {
  background-color: $_bg-color;
  color: $_text-color;

  .ecl-footer-harmonised__section--separator {
    border-bottom-color: $_separator-color;
  }

  .ecl-footer-harmonised__title,
  .ecl-footer-harmonised__title:hover,
  .ecl-footer-harmonised__title:focus,
  .ecl-footer-harmonised__title:active {
    color: $_text-color;
  }

  .ecl-footer-harmonised__title--separator {
    border-bottom-color: $_separator-color;
  }

  .ecl-footer-harmonised__description,
  .ecl-footer-harmonised__content {
    color: $_description-color;
  }

  .ecl-footer-harmonised__link,
  .ecl-footer-harmonised__link:hover,
  .ecl-footer-harmonised__link:active,
  .ecl-footer-harmonised__link:focus {
    color: $_text-color;
  }

  /*
   * Section related rules
   */
  .ecl-footer-harmonised__section1,
  .ecl-footer-harmonised__section2 {
    order: 1;
  }

  .ecl-footer-harmonised__section3 {
    order: 3;
  }

  .ecl-footer-harmonised__section4 {
    order: 2;
  }

  .ecl-footer-harmonised__section5,
  .ecl-footer-harmonised__section6,
  .ecl-footer-harmonised__section7,
  .ecl-footer-harmonised__section8,
  .ecl-footer-harmonised__section9 {
    order: 4;
  }

  .ecl-footer-harmonised__section6 {
    border-bottom: 1px solid $_separator-color;
    border-top: 1px solid $_separator-color;
    padding-bottom: map.get(spacing.$spacing, 'm');
    padding-top: map.get(spacing.$spacing, 'm');

    /* stylelint-disable-next-line max-nesting-depth */
    &:empty {
      border-top-width: 0;
    }
  }

  .ecl-footer-harmonised__section8,
  .ecl-footer-harmonised__section9 {
    margin-top: map.get(spacing.$spacing, 'm');
  }

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('m') {
    /* Grid layout */
    .ecl-footer-harmonised__container {
      column-gap: $_column-gap;
      display: grid;
      grid-gap: 0 $_column-gap;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, minmax(min-content, max-content));
      row-gap: 0;
    }

    .ecl-footer-harmonised__section1 {
      grid-area: 1 / 1 / 3 / 2;
    }

    .ecl-footer-harmonised__section2 {
      grid-area: 1 / 2 / 2 / 3;
    }

    .ecl-footer-harmonised__section3 {
      grid-area: 1 / 3 / 2 / 4;
    }

    .ecl-footer-harmonised__section4 {
      grid-area: 2 / 2 / 3 / 3;
    }

    .ecl-footer-harmonised__section5 {
      grid-area: 2 / 3 / 3 / 4;
    }

    .ecl-footer-harmonised__section6 {
      border-bottom-width: 2px;
      border-top-width: 2px;
      grid-area: 3 / 1 / 4 / 4;

      &:empty {
        border-top-width: 0;
      }
    }

    .ecl-footer-harmonised__section7 {
      grid-area: 4 / 1 / 5 / 2;
    }

    .ecl-footer-harmonised__section8 {
      grid-area: 4 / 2 / 5 / 3;
      margin-top: map.get(spacing.$spacing, 'xl');
    }

    .ecl-footer-harmonised__section9 {
      grid-area: 4 / 3 / 5 / 4;
      margin-top: map.get(spacing.$spacing, 'xl');
    }
  }
}

/* Group 2 */
$_bg-color: map.get(color.$ec, 'grey-5');
$_separator-color: map.get(color.$ec, 'blue');
$_text-color: map.get(color.$ec, 'blue');
$_description-color: map.get(color.$ec, 'blue');
$_column-gap: map.get(layout.$grid-gutter-width, 'm');

/*
 * Global rules
 */
.ecl-footer-harmonised--group2 {
  background-color: $_bg-color;
  color: $_text-color;

  .ecl-footer-harmonised__section--separator {
    border-bottom-color: $_separator-color;
  }

  .ecl-footer-harmonised__title,
  .ecl-footer-harmonised__title:hover,
  .ecl-footer-harmonised__title:focus,
  .ecl-footer-harmonised__title:active {
    color: $_text-color;
  }

  .ecl-footer-harmonised__title--separator {
    border-bottom-color: $_separator-color;
  }

  .ecl-footer-harmonised__description,
  .ecl-footer-harmonised__content {
    color: $_description-color;
  }

  .ecl-footer-harmonised__link,
  .ecl-footer-harmonised__link:hover,
  .ecl-footer-harmonised__link:active,
  .ecl-footer-harmonised__link:focus {
    color: $_text-color;
  }

  /*
  * Section related rules
  */
  .ecl-footer-harmonised__section1 {
    margin-top: map.get(spacing.$spacing, 'l');
  }
  .ecl-footer-harmonised__section2,
  .ecl-footer-harmonised__section3 {
    margin-top: map.get(spacing.$spacing, 'm');
  }

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('m') {
    /* Grid layout */
    .ecl-footer-harmonised__container {
      column-gap: $_column-gap;
      display: grid;
      grid-gap: 0 $_column-gap;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, minmax(min-content, max-content));
      row-gap: 0;
    }

    .ecl-footer-harmonised__section1 {
      grid-area: 1 / 1 / 2 / 2;
      margin-top: map.get(spacing.$spacing, 'xl');
    }

    .ecl-footer-harmonised__section2 {
      grid-area: 1 / 2 / 2 / 3;
      margin-top: map.get(spacing.$spacing, 'xl');
    }

    .ecl-footer-harmonised__section3 {
      grid-area: 1 / 3 / 2 / 4;
      margin-top: map.get(spacing.$spacing, 'xl');
    }
  }
}

/* Group 3 */

$_bg-color: map.get(color.$ec, 'grey-5');
$_text-color: map.get(color.$ec, 'grey-75');
$_logo-height-xs: 2rem;
$_logo-height-lg: 2.5rem;

.ecl-footer-harmonised--group3 {
  background-color: $_bg-color;
  color: $_text-color;
  // padding to handle margin below title
  padding-bottom: calc(
    #{map.get(spacing.$spacing, 'm')} - #{map.get(spacing.$spacing, 'xs')}
  );
  padding-top: map.get(spacing.$spacing, 'm');

  .ecl-footer-harmonised__title {
    font: map.get(typography.$font-prolonged, 'm');
  }

  .ecl-footer-harmonised__title,
  .ecl-footer-harmonised__title:hover,
  .ecl-footer-harmonised__title:active,
  .ecl-footer-harmonised__title:focus {
    color: $_text-color;
  }

  .ecl-footer-harmonised__logo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .ecl-footer-harmonised__logo-item {
    margin-bottom: map.get(spacing.$spacing, 'xs');
    margin-right: map.get(spacing.$spacing, 's');
  }

  .ecl-footer-harmonised__logo-item:last-of-type {
    margin-right: 0;
  }

  .ecl-footer-harmonised__logo {
    height: $_logo-height-xs;
  }

  .ecl-footer-harmonised__section1 {
    margin: 0;
  }

  .ecl-footer-harmonised__section2 {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: map.get(spacing.$spacing, 'xs');
  }

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('m') {
    .ecl-footer-harmonised--group3 {
      .ecl-footer-harmonised__container {
        flex-direction: row;
      }

      .ecl-footer-harmonised__section1 {
        margin-bottom: map.get(spacing.$spacing, 'm');
      }

      .ecl-footer-harmonised__section2 {
        margin-left: map.get(spacing.$spacing, 'xl');
        margin-top: 0;
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  @include breakpoints.up('l') {
    .ecl-footer-harmonised--group3 {
      padding-bottom: map.get(spacing.$spacing, 'm');

      .ecl-footer-harmonised__logo-list {
        margin-bottom: 0;
      }

      .ecl-footer-harmonised__logo-item {
        margin-bottom: 0;
        margin-right: map.get(spacing.$spacing, 'l');
      }

      .ecl-footer-harmonised__logo {
        height: $_logo-height-lg;
      }

      .ecl-footer-harmonised__section1 {
        margin-bottom: 0;
      }
    }
  }
}
