/*
 * Date block
 * @define date-block
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-date-block() {
  .ecl-date-block {
    background-color: map-get($ecl-colors, 'grey-5');
    border-bottom: 0.2em solid map-get($ecl-colors, 'yellow-100');
    display: inline-flex;
    margin: 0;
    position: relative;

    &::before {
      border-left: 1.2em solid transparent;
      border-top: 1.2em solid #fff;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .ecl-date-block__body {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    min-height: 5.55rem;
    min-width: 5.55rem;
  }

  .ecl-date-block__week-day {
    font-size: map-get($ecl-font-size, 'xs');
    line-height: 1.2;
  }

  .ecl-date-block__day {
    font-size: map-get($ecl-font-size, 'xl');
    font-weight: 700;
    line-height: 1.2;
  }

  .ecl-date-block__month {
    font-size: map-get($ecl-font-size, 's');
    font-weight: 700;
    line-height: 1.1;
  }

  .ecl-date-block__year {
    font-size: map-get($ecl-font-size, 's');
    line-height: 1.2;
  }

  // ongoing
  .ecl-date-block--ongoing {
    background-color: map-get($ecl-colors, 'yellow-100');
  }

  // cancelled
  .ecl-date-block--cancelled {
    border-bottom-color: map-get($ecl-colors, 'grey-10');
    text-decoration: line-through;
  }

  // past
  .ecl-date-block--past {
    background-color: #fff;
    border: 0.2em solid map-get($ecl-colors, 'grey-50');

    &::before {
      border-left-width: 1.35em;
      border-top-width: 1.35em;
      right: -0.2em;
      top: -0.2em;
    }

    &::after {
      border-right: 0.2em solid map-get($ecl-colors, 'grey-50');
      content: '';
      height: 1.85em;
      position: absolute;
      right: 0.45em;
      top: -0.4em;
      transform: rotate(135deg);
    }
  }
}
