@use 'sass:map';
@use 'sass:string';
@use '@ecl/grid/mixins/breakpoints';
@use '../maps/typography.scss' as typography;

$font-size-map: (
  '8xl': '7xl',
  '6xl': '5xl',
  '3xl': '2xl',
  '2xl': '2xl',
  'xl': 'xl',
  'l': 'l',
  'm': 'm',
  's': 's',
  'xs': 'xs',
);

// Helper to check if value is a CSS variable
@function is-var($value) {
  @return string.index(#{$value}, 'var(--') == 1;
}

@function extract-token($value) {
  @if is-var($value) {
    $start: string.index(#{$value}, '--f-') + 4;
    $end: string.index(#{$value}, ')');

    @return string.slice(#{$value}, $start, $end - 1);
  }

  @return $value;
}

/// Responsive font
///
/// @param {Map} $config - Configuration map with keys:
///   - `desktop-size` {String} (required)
///   - `mobile-size` {String | null} (optional)
///   - `breakpoint` {String} (default: `'m'`)
///   - `desktop-weight` {Number | String | null} (default: `300`)
///   - `mobile-weight` {Number | String | null} (optional)
///   - `letter-spacing-type` {String | null} (optional): `'compact'`, `'extended'`, or `null`
///
@mixin responsive-font($config) {
  // Set defaults
  $desktop-size: map.get($config, 'desktop-size');
  $mobile-size: map.get($config, 'mobile-size');
  $breakpoint: if(
    map.has-key($config, 'breakpoint'),
    map.get($config, 'breakpoint'),
    'm'
  );
  $desktop-weight: if(
    map.has-key($config, 'desktop-weight'),
    map.get($config, 'desktop-weight'),
    map.get(typography.$font-weight, 'regular')
  );
  $mobile-weight: map.get($config, 'mobile-weight');
  $letter-spacing-type: map.get($config, 'letter-spacing-type');
  $desktop-key: extract-token($desktop-size);
  $mobile-key: if(
    $mobile-size,
    extract-token($mobile-size),
    map.get($font-size-map, $desktop-key)
  );

  @if not $mobile-key {
    $mobile-key: $desktop-key;
  }

  $resolved-mobile-size: var(--f-#{$mobile-key});
  $resolved-desktop-size: var(--f-#{$desktop-key});
  $resolved-mobile-weight: if(
    $mobile-weight != null,
    $mobile-weight,
    $desktop-weight
  );

  font: $resolved-mobile-size;
  font-weight: $resolved-mobile-weight;

  // Letter-spacing
  @if $letter-spacing-type ==
    'compact' and
    map.has-key(typography.$letter-spacing-compact, $desktop-key)
  {
    letter-spacing: map.get(typography.$letter-spacing-compact, $desktop-key);
  } @else if
    $letter-spacing-type ==
    'extended' and
    map.has-key(typography.$letter-spacing-extended, $desktop-key)
  {
    letter-spacing: map.get(typography.$letter-spacing-extended, $desktop-key);
  }

  @if ($resolved-desktop-size != $resolved-mobile-size) or
    ($desktop-weight != $resolved-mobile-weight)
  {
    @include breakpoints.up($breakpoint) {
      @if $resolved-desktop-size != $resolved-mobile-size {
        font: $resolved-desktop-size;
      }

      font-weight: $desktop-weight;
    }
  }
}
