/*
Checkbox

Markup: html/checkbox.html

Style guide form.checkbox
*/

/*
 * Please
 * @see https://github.com/flatlogic/awesome-bootstrap-checkbox
 * @see http://flatlogic.github.io/awesome-bootstrap-checkbox/demo/
 */

// Component
.checkbox {
  padding-left: 20px;

  input[type="checkbox"] {
    margin-top: $form-checkbox-icon-size;
    opacity: 0;
    z-index: 1;

    // Checked state.
    &:checked + label::before {
      background-image: url('./images/svg/checkbox-checked--blue.svg');
    }

    // Focus state, not checked.
    &:focus + label::before {
      border: 3px solid $form-control-border-color-focus;
    }
  }

  label {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    vertical-align: middle;

    &::before {
      position: absolute;
      left: 0;
      display: inline-block;
      content: "";
      width: $form-checkbox-icon-size;
      height: $form-checkbox-icon-size;
      margin-left: -20px;
      background: $white url('./images/svg/checkbox-unchecked.svg') no-repeat;
      border: 3px solid transparent;
      border-radius: 6px;

      @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
    }
  }

  &.checkbox--inline {
    margin-top: 0;
  }
}

.checkbox {
  &.checkbox--facet {
    left: 2px;
    float: left;

    input[type='checkbox'] {
      & + label {
        & + a {
          position: relative;
          color: $grey-base;
          text-decoration: none;
          top: 0.25em;
        }
      }
    }
  }
}

// Turning off completely custom checkboxes when SVG's are not available
.no-svg {
  .checkbox {
    input[type="checkbox"]:checked + label::before {
      background: none !important;
    }

    label::before {
      width: 1.25em !important;
      height: 1.25em !important;
      border: 1px solid #ccc !important;
      border-radius: 5px !important;
      background: none !important;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
  }
}
