/*
Feedback message

Markup: html/feedback-message.html

Style guide form.feedback-message
*/

.feedback-message {
  @extend .messages;

  border: none;

  @extend %hidden-print;

  &.is-disabled {
    color: $form-control-color-disabled;
  }

  &.is-error {
    background: $ec-grey5 url('../images/svg/messages-error.svg') no-repeat 1.375em 1.375em;
  }
}

.no-svg {
  .feedback-message {
    &.is-error {
      background-image: url('../images/png/messages-error.png');
    }
  }
}
