/**
 * Page header core
 * @define page-header-core
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-page-header-core-print() {
  .ecl-page-header-core {
    padding-bottom: $ecl-spacing-print-xl;
    padding-top: $ecl-spacing-print-xl;
  }

  .ecl-page-header-core__meta {
    color: $ecl-color-grey;
    font: $ecl-font-print-m;
    font-family: $ecl-font-family-print-alt;
  }

  .ecl-page-header-core__title {
    color: $ecl-color-grey;
    font: $ecl-font-print-4-xl;
    font-family: $ecl-font-family-print-alt;
    font-weight: $ecl-font-weight-print-bold;
    margin-bottom: 0;
    margin-top: $ecl-spacing-print-m;
  }

  .ecl-page-header-core__description {
    font: $ecl-font-prolonged-print-xl;
    margin-bottom: 0;
    margin-top: $ecl-spacing-print-m;
  }

  .ecl-page-header-core--image {
    background-image: none !important;
  }
}

// Use mixin
@include exports('ec-component-page-header-core-print') {
  @include ecl-page-header-core-print;
}
