/*
 * Radio
 * @define radio
 */

.ecl-radio {
  line-height: 2;
  margin: 0;
}

.ecl-radio__label {
  display: inline-block;
  padding-left: 34px;
  position: relative;

  &::before {
    background: #fff url('../images/svg/radio-unchecked.svg') no-repeat;
    border: 3px solid transparent;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 1.5em;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5em;
  }
}

.ecl-radio__input:checked + .ecl-radio__label::before {
  background-image: url('../images/svg/radio-checked--blue.svg');
}

.ecl-radio__input:focus + .ecl-radio__label::before {
  border: 3px solid map-get($ecl-colors, 'yellow-100');
}
