@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'card' with (
  $_border-radius: 0,
  $_shadow: none,
  $_card-background: map.get(theme.$color, 'grey-5'),
  $_card-border: 1px solid map.get(theme.$color, 'grey-25'),
  $_image-margin: map.get(theme.$spacing, 'm'),
  $_body-padding: map.get(theme.$spacing, 'm')
);
