/**
 * Card
 * @define card
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$card: null !default;

.ecl-card {
  background-color: map.get($theme, 'color', 'white');
  border: map.get($card, 'border');
  border-bottom: map.get($card, 'border-bottom');
  border-radius: map.get($card, 'border-radius');
  box-shadow: map.get($card, 'shadow');
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 100%;
}

.ecl-card__image {
  aspect-ratio: 3/2;
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.ecl-card__body {
  padding: map.get($card, 'body-padding');
  position: relative;

  @if map-has-key($card, 'yellow-bar') {
    &::before {
      background-color: var(--c-s);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      content: '';
      height: 4px;
      left: var(--s-l);
      position: absolute;
      top: 0;
      width: 32px;
    }
  }
}
