/**
 * Card
 * @define card
 */

@use "sass:map";
@use '@ecl/tokens/maps/color';
@use '@ecl/tokens/maps/spacing';
@use '@ecl/tokens/maps/typography';

$_background-card: map.get(color.$color, 'grey-5');
$_border-color-card: map.get(color.$color, 'grey-10');
$_color-meta: map.get(color.$color, 'grey-75');
$_color-description: map.get(color.$color, 'grey-100');
$_color-info: map.get(color.$color, 'grey-75');

.ecl-card {
  background-color: $_background-card;
  border: 1px solid $_border-color-card;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding-left: calc(#{map.get(spacing.$spacing, 's')} - 1px);
  padding-right: calc(#{map.get(spacing.$spacing, 's')} - 1px);
  width: 100%;
}

.ecl-card__image {
  background-position: center;
  background-size: cover;
  display: block;
  height: auto;
  margin-top: calc(#{map.get(spacing.$spacing, 's')} - 1px);
  width: 100%;

  // manage ratio 3:2
  &::before {
    content: '';
    display: block;
    padding-top: (2 / 3) * 100%;
    width: 100%;
  }
}

.ecl-card__meta {
  color: $_color-meta;
  font: map.get(typography.$font, 'xs');
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-card__title {
  font: map.get(typography.$font, 'm');
  font-weight: map.get(typography.$font-weight, 'bold');
  margin-top: map.get(spacing.$spacing, 's');
}

.ecl-card__description {
  color: $_color-description;
  font: map.get(typography.$font, 'm');
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-card__info-container {
  list-style: none;
  margin-top: map.get(spacing.$spacing, 'm');
  padding: 0;
}

.ecl-card__info-item {
  align-content: center;
  color: $_color-info;
  display: flex;
  font: map.get(typography.$font, 's');
  margin-top: map.get(spacing.$spacing, 's');

  &:first-child {
    margin-top: 0;
  }
}

.ecl-card__info-label {
  margin-left: map.get(spacing.$spacing, 's');
}

.ecl-card__link-container {
  list-style: none;
  margin-top: map.get(spacing.$spacing, 'xl');
  padding: 0;
}

.ecl-card__link-item {
  margin-top: map.get(spacing.$spacing, 's');

  &:first-child {
    margin-top: 0;
  }
}

.ecl-card__link {
  display: block;
  font: map.get(typography.$font, 's');
  font-weight: map.get(typography.$font-weight, 'bold');
}

.ecl-card__tag-container {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ecl-card__tag-item {
  margin: map.get(spacing.$spacing, 'm') map.get(spacing.$spacing, 'xs') 0 0;

  &:last-child {
    margin-right: 0;
  }
}

/*
  * Tiles
  */
.ecl-card--tile {
  .ecl-card__title {
    font: map.get(typography.$font-prolonged, 'l');
    font-weight: bold;
    margin-top: calc(#{map.get(spacing.$spacing, 'l')} - 1px);
  }
}

/*
  * Spacing adjustment
  */
.ecl-card__meta + .ecl-card__title {
  margin-top: map.get(spacing.$spacing, 'xs');
}

.ecl-card > :last-child {
  margin-bottom: calc(#{map.get(spacing.$spacing, 's')} - 1px);
}

.ecl-card--tile > :last-child {
  margin-bottom: calc(#{map.get(spacing.$spacing, 'l')} - 1px);
}

.ecl-card__title:last-child {
  margin-bottom: map.get(spacing.$spacing, 'm');
}
