/**
 * Card
 * @define card; weak
 */

@use 'sass:map';
@use '@ecl/theme-dev/theme';

.ecl-card {
  margin: 0;
  overflow-wrap: break-word;
}

.ecl-card__image {
  display: none;
}

.ecl-card__meta {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-print, 's');
  font-family: #{map.get(theme.$font-family-print, 'alt')};
  margin-bottom: map.get(theme.$spacing, 'xs');
  text-transform: uppercase;
}

.ecl-card__title {
  font: map.get(theme.$font-print, 'm');
  font-family: #{map.get(theme.$font-family-print, 'alt')};
  font-weight: map.get(theme.$font-weight-print, 'bold');
  margin: 0;

  .ecl-link::after {
    display: block;
    font-weight: map.get(theme.$font-weight-print, 'regular');
    margin-top: map.get(theme.$spacing-print, 'xs');
  }
}

.ecl-card__title .ecl-link {
  font-family: #{map.get(theme.$font-family-print, 'alt')};
}

.ecl-card__description {
  color: map.get(theme.$color, 'black');
  font: map.get(theme.$font-print, 'm');
  margin-top: map.get(theme.$spacing-print, 'm');
}

.ecl-card__label-container {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.ecl-card__label-item {
  margin-right: map.get(theme.$spacing-print, 'xs');

  &:last-child {
    margin-right: 0;
  }
}

.ecl-card__info-container {
  list-style: none;
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'm');
  padding: 0;
}

.ecl-card__info-item {
  color: map.get(theme.$color, 'grey');
  display: flex;
  font: map.get(theme.$font-print, 's');
  font-family: #{map.get(theme.$font-family-print, 'alt')};
  margin-top: map.get(theme.$spacing-print, 'xs');

  &:first-child {
    margin-top: 0;
  }

  .ecl-icon {
    display: block;
    margin-right: map.get(theme.$spacing-print, 's');
  }
}

.ecl-card__link-container {
  list-style: none;
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'm');
  padding: 0;
}

.ecl-card__link-item {
  margin-top: map.get(theme.$spacing-print, 's');

  &:first-child {
    margin-top: 0;
  }
}

.ecl-card__link {
  display: block;
  font: map.get(theme.$font-print, 's');
  font-weight: map.get(theme.$font-weight-print, 'bold');
}

.ecl-card__tag-container {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  margin-top: map.get(theme.$spacing-print, 'm');
  padding: 0;
}

.ecl-card__tag-item {
  margin-right: map.get(theme.$spacing-print, 's');

  &:last-child {
    margin-right: 0;
  }
}

.ecl-card__tag {
  color: map.get(theme.$color, 'grey');
  font: map.get(theme.$font-print, 's');
  font-family: #{map.get(theme.$font-family-print, 'alt')};
}

.ecl-card__list {
  flex-direction: column;
  margin-top: map.get(theme.$spacing-print, 'm');
  max-width: 100%;

  .ecl-description-list__term {
    width: auto;
  }

  .ecl-description-list__definition {
    margin-left: 0;
    margin-top: map.get(theme.$spacing-print, '2xs');
    width: auto;
  }

  .ecl-description-list__definition:first-of-type {
    margin-top: map.get(theme.$spacing-print, '2xs');
  }

  + .ecl-card__list {
    margin-top: map.get(theme.$spacing-print, 'm');
    padding-top: map.get(theme.$spacing-print, 'm');
  }
}

/*
  * Tiles
  */
.ecl-card--tile {
  .ecl-card__title {
    font: map.get(theme.$font-prolonged-print, 'l');
    font-weight: map.get(theme.$font-weight-print, 'bold');
  }
}
