/**
 * Skip link
 * @define skip-link
 */

@use 'sass:map';
@use '@ecl/vanilla-utility-screen-reader/screen-reader';

// Exposed variables
$theme: null !default;

.ecl-skip-link {
  position: absolute;
  left: var(--s-l);
  top: var(--s-l);
  z-index: calc(map.get($theme, 'z-index', 'modal') + 1);
}

.ecl-skip-link:not(:active, :focus-visible) {
  @include screen-reader.sr-only;
}
