/**
 * Card
 * @define card; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@include check-imports(('eu-component-description-list-print'));

@mixin ecl-card-print() {
  .ecl-card {
    margin: 0;
    overflow-wrap: break-word;
  }

  .ecl-card__image {
    display: none;
  }

  .ecl-card__meta {
    color: $ecl-color-grey;
    font: $ecl-font-print-s;
    font-family: $ecl-font-family-print-alt;
    margin-bottom: $ecl-spacing-xs;
    text-transform: uppercase;
  }

  .ecl-card__title {
    font: $ecl-font-print-m;
    font-family: $ecl-font-family-print-alt;
    font-weight: $ecl-font-weight-print-bold;
    margin: 0;

    .ecl-link::after {
      display: block;
      font-weight: $ecl-font-weight-print-regular;
      margin-top: $ecl-spacing-print-xs;
    }
  }

  .ecl-card__title .ecl-link {
    font-family: $ecl-font-family-print-alt;
  }

  .ecl-card__description {
    color: $ecl-color-black;
    font: $ecl-font-print-m;
    margin-top: $ecl-spacing-print-m;
  }

  .ecl-card__info-container {
    list-style: none;
    margin-bottom: 0;
    margin-top: $ecl-spacing-print-m;
    padding: 0;
  }

  .ecl-card__info-item {
    color: $ecl-color-grey;
    display: flex;
    font: $ecl-font-print-s;
    font-family: $ecl-font-family-print-alt;
    margin-top: $ecl-spacing-print-xs;

    &:first-child {
      margin-top: 0;
    }

    .ecl-icon {
      display: block;
      margin-right: $ecl-spacing-print-s;
    }
  }

  .ecl-card__link-container {
    list-style: none;
    margin-bottom: 0;
    margin-top: $ecl-spacing-print-m;
    padding: 0;
  }

  .ecl-card__link-item {
    margin-top: $ecl-spacing-print-s;

    &:first-child {
      margin-top: 0;
    }
  }

  .ecl-card__link {
    display: block;
    font: $ecl-font-print-s;
    font-weight: $ecl-font-weight-print-bold;
  }

  .ecl-card__tag-container {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    margin-top: $ecl-spacing-print-m;
    padding: 0;
  }

  .ecl-card__tag-item {
    margin-right: $ecl-spacing-print-s;

    &:last-child {
      margin-right: 0;
    }
  }

  .ecl-card__tag {
    color: $ecl-color-grey;
    font: $ecl-font-print-s;
    font-family: $ecl-font-family-print-alt;
  }

  .ecl-card__list {
    flex-direction: column;
    margin-top: $ecl-spacing-print-m;
    max-width: 100%;

    .ecl-description-list__term {
      width: auto;
    }

    .ecl-description-list__definition {
      margin-left: 0;
      margin-top: $ecl-spacing-print-2-xs;
      width: auto;
    }

    .ecl-description-list__definition:first-of-type {
      margin-top: $ecl-spacing-print-2-xs;
    }

    + .ecl-card__list {
      margin-top: $ecl-spacing-print-m;
      padding-top: $ecl-spacing-print-m;
    }
  }

  /*
   * Tiles
   */
  .ecl-card--tile {
    .ecl-card__title {
      font: $ecl-font-prolonged-print-l;
      font-weight: $ecl-font-weight-print-bold;
    }
  }
}

// Use mixin
@include exports('eu-component-card-print') {
  @include ecl-card-print();
}
