<p class="ecl-help-block">This is some placeholder help text.</p>
<p class="ecl-help-block ecl-help-block--disabled">Disabled: This is some placeholder help text.</p>
<p class="ecl-help-block ecl-help-block--has-error">On error: This is some placeholder help text.</p>
