@use "sass:map";
@use '@ecl/theme-dev/theme';

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global {
  .demo-spacing-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: map.get(theme.$spacing, 'xs');
    margin-top: map.get(theme.$spacing, 'xs');
  }

  .demo-spacing-container {
    background-color: map.get(theme.$color, 'grey-10');
    display: flex;
  }

  .demo-spacing-content {
    background-color: map.get(theme.$color, 'grey-50');
    border: 2px solid map.get(theme.$color, 'grey-100');
    display: flex;
  }

  .demo-spacing-item {
    background-color: map.get(theme.$color, 'white-100');
    display: block;
    font: map.get(theme.$font, 's');
    text-align: center;
    width: 7rem;
  }
}
