@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global {
  .demo-spacing-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--ws-s-xs);
    margin-top: var(--ws-s-xs);
  }

  .demo-spacing-container {
    background-color: var(--ws-c-n-60);
    display: flex;
  }

  .demo-spacing-content {
    background-color: var(--ws-c-n-80);
    border: 2px solid var(--ws-c-d);
    display: flex;
    font: var(--ws-f-s);
  }

  .demo-spacing-item {
    background-color: map.get($theme, 'color', 'white');
    display: block;
    text-align: center;
    width: 7rem;
  }
}
