{#
  This is an example and should not be used as it is.
#}

{% include '@ecl/eu-component-skip-link' with {
    'href': '#main-content',
    'label': 'Skip to main content'
} %}

{% include '@ecl/eu-component-site-header' with {
  site_switcher: {
    political: { href: '#', label: 'Commission and its priorities' },
    info: {
      href: '#',
      label: 'Policies, information and services',
      is_active: true,
    },
  },
  user_menu: {
    title: 'User menu',
    links: [
      { href: "#", label: "Log in" },
    ],
  },
  lanugages: languages
} %}

{% include '@ecl/eu-component-page-header' with { variant: 'default' }|merge(page_header|default({})) %}
{% if menu is defined and menu is not empty %}
  {% include '@ecl/eu-component-navigation-menu' with menu %}
{% endif %}

<main>
  <a id="main-content" tabindex="-1"></a>
  <div class="ecl-container ecl-u-mv-l">
    <h1 class="ecl-heading ecl-heading--h1">Page example</h1>
    <p class="ecl-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor elit, sagittis eu ante eu, tempor tempus lorem. Quisque auctor leo id tempor pulvinar. Nunc sapien orci, eleifend nec magna ac, feugiat viverra orci. Nulla efficitur nisl vitae risus pretium, sit amet aliquam dolor volutpat. Donec risus elit, congue at porta eget, posuere vitae ipsum. Nulla iaculis magna a lorem dignissim consequat. Praesent mattis libero ac tortor efficitur porta. In congue elementum nunc, vitae accumsan turpis dictum non.</p>
    <p class="ecl-paragraph">Integer convallis quis magna et dapibus. Aenean id lectus vitae nulla fringilla gravida sed id mauris. Aliquam commodo erat sit amet nisi mollis, ut suscipit dolor eleifend. Fusce at malesuada lorem. Ut rutrum nibh massa, sed tincidunt nibh pretium id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed porttitor turpis a efficitur posuere. Integer eu est sodales, ornare elit ac, congue leo. Sed condimentum faucibus fermentum. Fusce aliquet ut enim euismod feugiat. Fusce nec interdum metus, id finibus nisl.</p>
  </div>
</main>

{% include '@ecl/eu-component-footer' with {
  custom_footer: {
    identity: {
      href: '#homepage',
      label: 'Site identification',
    },
    social_links: {
      label: 'Follow us:',
      links: [
        {
          type: 'social-network',
          icon: 'facebook',
          link: {
            href: '#facebook',
            label: 'Facebook',
          },
        },
        {
          type: 'social-network',
          icon: 'twitter',
          link: {
            href: '#twitter',
            label: 'Twitter',
          },
        },
      ],
    },
    other_links: {
      links: [
        {
          link: {
            href: '#contact',
            label: 'Contact',
          },
        },
        {
          link: {
            href: '#sitemap',
            label: 'Site map',
          },
        },
        {
          link: {
            href: '#loremipsum1',
            label: 'Lorem ipsum',
          },
        },
        {
          link: {
            href: '#loremipsum2',
            label: 'Lorem ipsum',
          },
        },
        {
          link: {
            href: '#loremipsum3',
            label: 'Lorem ipsum',
          },
        },
      ],
    },
  },
  corporate_footer: {
    contact_eu: {
      title: 'Contact the EU',
      items: [
        {
          href: '#call',
          label: 'Call 00 800 6 7 8 9 10 11. See details of service',
        },
        {
          href: '#email',
          label: 'E-mail your questions about the EU',
        },
        {
          href: '#euinyourcountry',
          label: 'EU in your country',
        },
        {
          href: '#localinformation',
          label: 'Local information services in the EU',
        },
        {
          href: '#institutions',
          label: 'Institutions, bodies and agencies',
        },
        {
          href: '#press',
          label: 'Press contacts',
        },
      ],
    },
    social_media: {
      title: 'Find EU social media accounts',
      items: [
        {
          href: '#social-media-tool',
          label: 'Use this tool to search for EU social media channels',
        },
      ],
    },
    find_institution: {
      title: 'Find a European institution',
      items: [
        {
          href: '#',
          label: 'European Parliament',
        },
        {
          href: '#',
          label: 'European Council',
        },

        {
          href: '#',
          label: 'Council of the European Union',
        },
        {
          href: '#',
          label: 'European Commission',
        },
        {
          href: '#',
          label: 'Court of Justice of the European Union',
        },
        {
          href: '#',
          label: 'European Central Bank',
        },
        {
          href: '#',
          label: 'European Court of Auditors',
        },
        {
          href: '#',
          label: 'European External Action Service',
        },
        {
          href: '#',
          label: 'European Economic and Social Committee',
        },
        {
          href: '#',
          label: 'European Committee of the Regions',
        },
        {
          href: '#',
          label: 'European Investment Bank',
        },
        {
          href: '#',
          label: 'European Ombudsman',
        },
        {
          href: '#',
          label: 'European Data Protection Supervisor',
        },
        {
          href: '#',
          label: 'European Personnel Selection Office',
        },
        {
          href: '#',
          label: 'Publications Office of the European Union',
        },
        {
          href: '#',
          label: 'Agencies',
        },
      ],
    },
    bottom_links: [
      {
        href: 'https://europa.eu/european-union/about-eu/working_en',
        label: 'Work for the European Union',
      },
      {
        href: 'https://europa.eu/european-union/abouteuropa/cookies_en',
        label: 'Cookies',
      },
      {
        href: 'https://europa.eu/european-union/abouteuropa/legal_notices_en',
        label: 'Legal notice',
      },
      {
        href: '#',
        label: 'Language policy',
      },
      {
        href: '#',
        label: 'Web accessibility',
      },
    ]
  }
} %}
