/**
 * Timeline
 * @define timeline
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-timeline($bullet-size: 14px, $border-width: 4px) {
  .ecl-timeline {
    border-left: $border-width solid map-get($ecl-colors, 'yellow-100');
    margin: 0;
    padding: 0;
  }

  .ecl-timeline__list {
    list-style: none;
    margin: 0;
    padding: map-get($ecl-spacing, 'm') 0 0;
  }

  .ecl-timeline__item {
    margin-bottom: map-get($ecl-spacing, 'l');
  }

  .ecl-timeline__item:last-child {
    margin-bottom: 0;
  }

  .ecl-timeline__item--over-limit {
    display: none;

    .no-js & {
      display: list-item;
    }
  }

  .ecl-timeline__button {
    margin-left: map-get($ecl-spacing, 'l');

    .no-js & {
      display: none;
    }
  }

  .ecl-timeline__title {
    font-weight: bold;
    margin-bottom: map-get($ecl-spacing, 'xs');
    padding-left: map-get($ecl-spacing, 'l');
    position: relative;

    &::before {
      background-color: #fff;
      border: 3px solid map-get($ecl-colors, 'grey-100');
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: $bullet-size;
      left: -(($bullet-size + $border-width) / 2);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: $bullet-size;
    }
  }

  .ecl-timeline__body {
    color: $ecl-color-shade;
    padding-left: map-get($ecl-spacing, 'l');
  }
}
