{#
  This is an example and should not be used as it is.
#}

{% include '@ec-europa/ecl-skip-links' with {
  'href': '#main-content',
  'label': 'Skip to main content'
} %}

{% include '@ec-europa/ecl-site-headers' with {
  site_switcher: {
    political: { href: '#', label: 'Commission and its priorities' },
    info: {
      href: '#',
      label: 'Policies, information and services',
      is_active: true,
    },
  },
  user_menu: {
    title: 'User menu',
    links: [
      { href: '#', label: 'My workbench' },
      { href: '#', label: 'My account' },
      { href: '#', label: 'Log out' },
    ],
  }
} %}

{% include '@ec-europa/ecl-page-headers' with {
  variant: 'basic',
  breadcrumb: [
    { target: '#', title: 'European Commission' },
    { target: '#', title: 'Group lists' },
  ],
} %}

{% include "@ec-europa/ecl-navigation-menus" with {
  menu_aria_label: 'Main Navigation',
  menu_label: 'Menu',
  links: [
    {
      label: 'Home',
      href: '#',
    },
    {
      label: 'Communities',
      href: '#',
      is_active: true,
      children_links: [
        {
          label: 'Homepage',
          href: '#',
          is_active: true,
        },
        {
          label: 'Articles',
          href: '#',
        },
        {
          label: 'Events',
          href: '#',
        },
        {
          label: 'Media gallery',
          href: '#',
        }
      ],
    },
    {
      label: 'Events',
      href: '#',
    },
    {
      label: 'Galleries',
      href: '#',
    }
  ]
} %}

<main>
  <a id="main-content" tabindex="-1"></a>

  <div class="ecl-container ecl-u-mt-m">
    <h1 class="ecl-heading ecl-heading--h1">My community</h1>

    <div class="ecl-row">
      <div class="ecl-col-sm-3">
        {% include '@ec-europa/ecl-forms-labels' with {
          for_attribute: 'create-content',
          label: 'Create content'
        } %}

        {% embed '@ec-europa/ecl-forms-selects' with { 'id': 'create-content', 'name': 'create-content' }%}
          {% block options %}
            <option>Article</option>
            <option>Event</option>
            <option>News</option>
            <option>Media item</option>
          {% endblock %}
        {% endembed %}

        {% include '@ec-europa/ecl-link-blocks' with {
          wrapper: true,
          title: 'Members list',
          links: [
            { href: '#', label: 'John Doe' },
            { href: '#', label: 'Jane Doe' },
            { href: '#', label: 'Mike Doe' },
            { href: '#', label: 'Richard Doe' }
          ],
          extra_classes: 'ecl-u-mt-m',
        } %}
      </div>

      <div class="ecl-col-sm-9">
        <p class="ecl-paragraph ecl-paragraph--l">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elit nisi, scelerisque non elementum ac, placerat in eros. Integer volutpat mi eros. Nunc at nibh eros.
        </p>

        {% include '@ec-europa/ecl-gallery-base' with {
          data: {
            rows: [
              [
                {
                  classes: 'ecl-col-md-4',
                  image: {
                    src: 'http://placehold.it/380x185',
                    alt: 'Example alt text',
                    extraAttributes: [
                      { name: 'typeof', value: 'foaf:Image' },
                      { name: 'width', value: '380' },
                      { name: 'height', value: '185' },
                    ],
                  },
                  caption: 'Example image caption',
                  icon: 'ecl-icon--camera',
                },
                {
                  classes: 'ecl-col-md-3',
                  image: {
                    src: 'http://placehold.it/285x185',
                    alt: 'Example alt text',
                    extraAttributes: [
                      { name: 'typeof', value: 'foaf:Image' },
                      { name: 'width', value: '285' },
                      { name: 'height', value: '185' },
                    ],
                  },
                  icon: 'ecl-icon--audio',
                },
                {
                  classes: 'ecl-col-md-2',
                  image: {
                    src: 'http://placehold.it/190x185',
                    alt: 'Example alt text',
                    extraAttributes: [
                      { name: 'typeof', value: 'foaf:Image' },
                      { name: 'width', value: '190' },
                      { name: 'height', value: '185' },
                    ],
                  },
                  caption: 'Example image caption',
                  icon: 'ecl-icon--camera',
                },
                {
                  classes: 'ecl-col-md-3',
                  image: {
                    src: 'http://placehold.it/285x185',
                    alt: 'Example alt text',
                    extraAttributes: [
                      { name: 'typeof', value: 'foaf:Image' },
                      { name: 'width', value: '285' },
                      { name: 'height', value: '185' },
                    ],
                  },
                },
              ],
              [
                {
                  classes: 'ecl-col-md-2',
                  image: {
                    src: 'http://placehold.it/190x185',
                    alt: 'Example alt text',
                    extraAttributes: [
                      { name: 'typeof', value: 'foaf:Image' },
                      { name: 'width', value: '190' },
                      { name: 'height', value: '185' },
                    ],
                  },
                  caption: 'Example image caption',
                },
                {
                  classes: 'ecl-col-md-3',
                  image: {
                    src: 'http://placehold.it/285x185',
                    alt: 'Example alt text',
                    extraAttributes: [
                      { name: 'typeof', value: 'foaf:Image' },
                      { name: 'width', value: '285' },
                      { name: 'height', value: '185' },
                    ],
                  },
                },
                {
                  classes: 'ecl-col-md-3',
                  image: {
                    src: 'http://placehold.it/285x185',
                    alt: 'Example alt text',
                    extraAttributes: [
                      { name: 'typeof', value: 'foaf:Image' },
                      { name: 'width', value: '285' },
                      { name: 'height', value: '185' },
                    ],
                  },
                },
                {
                  classes: 'ecl-col-md-4',
                  image: {
                    src: 'http://placehold.it/380x185',
                    alt: 'Example alt text',
                    extraAttributes: [
                      { name: 'typeof', value: 'foaf:Image' },
                      { name: 'width', value: '380' },
                      { name: 'height', value: '185' },
                    ],
                  },
                  caption: 'Example image caption',
                },
              ],
            ],
          },
        } %}

        {% include '@ec-europa/ecl-buttons' with {
          label: "Unsubscribe",
          modifier: "default",
          extra_classes: "ecl-u-mt-m",
        } %}
      </div>
    </div>
  </div>
</main>

{% include '@ec-europa/ecl-footers' with {
  footer_menus: [
    {
      type: 'normal',
      wrapper_class: 'ecl-footer__site-corporate ecl-u-mt-m',
      menus: [
        {
          title: {
            value: 'European Commission',
            classes: 'ecl-h4 ecl-footer__title',
          },
          classes: 'ecl-footer__menu',
          items: [
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: 'https://ec.europa.eu/commission/index_en',
                classes: 'ecl-link ecl-footer__link',
                title: 'Commission and its priorities',
              },
            },
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: 'https://ec.europa.eu/info/index_en',
                classes: 'ecl-link ecl-footer__link',
                title: 'Policies information and services',
              },
            },
          ],
        },
        {
          title: {
            value: 'Follow the European Commission',
            classes: 'ecl-h4 ecl-footer__title',
          },
          classes: 'ecl-footer__menu ecl-list--inline',
          items: [
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: '#',
                classes: 'ecl-link ecl-footer__link',
                title: 'Facebook',
                title_wrapper_class:
                  'ecl-icon ecl-icon--facebook ecl-footer__social-icon',
              },
            },
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: '#',
                classes: 'ecl-link ecl-footer__link',
                title: 'Twitter',
                title_wrapper_class:
                  'ecl-icon ecl-icon--twitter ecl-footer__social-icon',
              },
            },
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: '#',
                classes: 'ecl-link ecl-footer__link ecl-link--external',
                title: 'Other social media',
              },
            },
          ],
        },
        {
          title: {
            value: 'European Union',
            classes: 'ecl-h4 ecl-footer__title',
          },
          classes: 'ecl-footer__menu',
          items: [
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: '#',
                classes: 'ecl-link ecl-footer__link ecl-link--external',
                title: 'EU institutions',
              },
            },
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: '#',
                classes: 'ecl-link ecl-footer__link ecl-link--external',
                title: 'European Union',
              },
            },
          ],
        },
      ],
    },
    {
      type: 'plain',
      wrapper_class: 'ecl-footer__ec',
      menus: [
        {
          classes: 'ecl-list--inline ecl-footer__menu',
          items: [
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target:
                  'http://ec.europa.eu/info/about-commissions-new-web-presence_en',
                classes: 'ecl-link ecl-footer__link',
                title: "About the Commission's new web presence",
              },
            },
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: 'http://ec.europa.eu/info/resources-partners_en',
                classes: 'ecl-link ecl-footer__link',
                title: 'Resources for partners',
              },
            },
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: 'http://ec.europa.eu/info/cookies_en',
                classes: 'ecl-link ecl-footer__link',
                title: 'Cookies',
              },
            },
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: 'http://ec.europa.eu/info/legal-notice_en',
                classes: 'ecl-link ecl-footer__link',
                title: 'Legal notice',
              },
            },
            {
              classes: 'ecl-footer__menu-item',
              link: {
                target: 'http://ec.europa.eu/info/contact_en',
                classes: 'ecl-link ecl-footer__link',
                title: 'Contact',
              },
            },
          ],
        },
      ],
    },
  ],
} %}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    ECL.megamenu('.ecl-navigation-menu__root');
    ECL.initExpandables('.ecl-navigation-menu__toggle');
  });
</script>
