// ECL Colors

$ec-blue:           #004494;
$ec-blue25:         #bfd0e4;
$ec-blue50:         #7fa1c9;
$ec-blue75:         #4073af;
$ec-blue110:        #003d84;
$ec-blue120:        #003776;

$ec-grey:           #404040;
$ec-grey5:          #f5f5f5;
$ec-grey10:         #ebebeb;
$ec-grey15:         #e3e3e3;
$ec-grey25:         #cfcfcf;
$ec-grey50:         #9f9f9f;
$ec-grey75:         #575757;

$ec-yellow:         #ffd617;
$ec-yellow25:       #fff4bb;
$ec-yellow50:       #ffe879;
$ec-yellow75:       #ffde39;
$ec-yellow110:      #fbc11d;
$ec-yellow120:      #f8ae21;

// Notification colors.
$ec-blue-n:         #006fb4;
$ec-orange-n:       #f29527;
$ec-green-n:        #467a39;
$ec-red-n:          #da2131;

$brand-primary:     $ec-blue;
$brand-political:   $ec-blue120;
$brand-success:     $ec-green-n;
$brand-info:        $ec-grey75;
$brand-warning:     $ec-yellow110;
$brand-danger:      $ec-red-n;

$text-color:        $ec-grey;
