// ECL Colors

$white: #fff;

$black: #000;

$grey-dark: #575757;
$grey-base: #404040;
$grey: #b3b4b5;
$grey-light: #e2e2e2;
$grey-lighter: #ececec;
$grey-lightest: #f2f2f2;

$blue-darkest: #023066;
$blue-darker: #012b58;
$blue-dark: #004494;
$blue: #006fb4;
$blue-medium: #3066a6;
$blue-light: #b0c5de;
$blue-lighter: #e0eaf2;

$yellow-dark: #f2a615;
$yellow: #ffc412;
$yellow-light: #ffd617;
$yellow-lighter: #ffe574;

$green: #467a39;

$red: #da2131;

$brand-primary: $blue-dark;
$brand-political: $blue-darker;
$brand-success: $green;
$brand-info: $grey-dark;
$brand-warning: $yellow-dark;
$brand-danger: $red;

$text-color: $grey-base;
