// ECL Type Scale

$font-size-none: 0 !default;
$font-size-xxxs: 0.5rem !default;
$font-size-xxs: 0.625rem !default;
$font-size-xs: 0.75rem !default;
$font-size-s: 0.875rem !default;
$font-size-m: 1rem !default;
$font-size-l: 1.25rem !default;
$font-size-xl: 1.5rem !default;
$font-size-xxl: 2.25rem !default;
$font-size-xxxl: 3rem !default;
