// ECL icons

$icons: (
  external: \e825,
  arrow-up: \e821,
  arrow-down: \e822,
  spinner: \e805,
  facebook: \e809,
  livestreaming: \e81c,
  location: \e81b,
  twitter: \e817,
  googleplus: \e80c,
  linkedin: \e810,
  rss: \e813,
  language: \e824,
  search: \e823,
  up: \e827,
  right: \e828,
  breadcrumb: \e828,
  down: \e81F,
  left: \e826,
  file: \e80a,
  audio: \e801,
  brochure: \e802,
  edit: \e807,
  image: \e80d,
  download: \e806,
  infographic: \e80f,
  multiple-files: \e820,
  organigram: \e811,
  package: \e812,
  slides: \e814,
  video: \e800,
  error: \e82F,
  success: \e816,
  warning: \e804,
  budget: \e81a,
  digital: \e80b,
  energy: \e818,
  euro: \e803,
  global: \e829,
  growth: \e82a,
  regulation: \e82b,
  feedback: \e82e,
  check: \e816,
  generic-lang: \e81e,
  tag-close: \e82c,
  calendar: \e81d,
  camera: \e900,
);
