<div class="ecl-page-header {{modifier_class}}" {{style}}>
  <!-- Breadcrumb (mandatory) -->
  <nav class="breadcrumb breadcrumb-processed breadcrumb--collapsible ecl-u-mh-xxs" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumb__segments-wrapper">
      <li class="breadcrumb__segment breadcrumb__segment--first">
        <a href="#" class="breadcrumb__link is-internal" rel="home">
          <span class="breadcrumb__text">European Commission</span>
        </a>
      </li>
      <li class="breadcrumb__segment breadcrumb__segment--last">
        <a href="#" class="breadcrumb__link">
          <span class="breadcrumb__text">Announcements</span>
        </a>
      </li>
    </ol>
  </nav>

  <div class="ecl-page-header__body">
    <!-- Meta items (optional) -->
    <div class="ecl-page-header__meta">
      <div class="ecl-meta ecl-meta--header">
        <span class="ecl-meta__item ecl-u-f-up">News article</span>
        <span class="ecl-meta__item">
          <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2015-07-06T17:44:28+02:00">6 July 2015</span>
        </span>
        <span class="ecl-meta__item">Brussels</span>
      </div>
    </div>

    <!-- Page title (mandatory) -->
    <div class="ecl-page-header__title">
      <h1 class=" ecl-heading ecl-heading--h1 ecl-u-color-white">Business, Economy, Euro</h1>
    </div>

    <!-- Page introduction (mandatory) -->
    <div class="ecl-page-header__intro {{intro_class}}">
      <p>EU economy, finance and the euro, and practical information for EU businesses and entrepreneurs on product safety, environmental regulations, trade with non-EU countries and competition rules.</p>
    </div>
  </div>
</div>
