/**
 * Contextual navigation
 * @define contextual-navigation
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-contextual-navigation-print() {
  .ecl-contextual-navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .ecl-contextual-navigation__label {
    color: $ecl-color-black-100;
    font: $ecl-font-print-m;
    margin-right: $ecl-spacing-print-xl;
  }

  .ecl-contextual-navigation__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .ecl-contextual-navigation__item {
    display: block;
  }

  .ecl-contextual-navigation__item--more {
    display: none;
  }
}

// Use mixin
@include exports('eu-component-contextual-navigation-print') {
  @include ecl-contextual-navigation-print;
}
