/*
 * File
 * @define file; weak
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$_container-background: map.get(theme.$color, 'blue-5');
$_icon-color: map.get(theme.$color, 'blue-100');
$_info-color: map.get(theme.$color, 'grey-140');
$_meta-color: map.get(theme.$color, 'grey-80');
$_translation-border-color: map.get(theme.$color, 'blue-20');
$_max-width: 823px;

.ecl-file {
  border-radius: 4px;
  margin: 0;
  max-width: $_max-width;
  overflow: hidden;
}

.ecl-file__container {
  align-items: center;
  background-color: $_container-background;
  display: flex;
  flex-wrap: wrap;
  padding: map.get(theme.$spacing, 'l');
}

.ecl-file__icon {
  align-self: flex-start;
  fill: $_icon-color;
  margin-top: -#{map.get(theme.$spacing, '2xs')};
}

.ecl-file__info {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-left: map.get(theme.$spacing, 'xs');
}

.ecl-file__title {
  color: $_info-color;
  font: map.get(theme.$font, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
  width: 100%;
}

.ecl-file__language {
  color: $_meta-color;
  font: map.get(theme.$font, 's');
  font-weight: map.get(theme.$font-weight, 'bold');
  margin-right: map.get(theme.$spacing, '2xs');
  margin-top: map.get(theme.$spacing, 's');
}

.ecl-file__meta {
  color: $_meta-color;
  font: map.get(theme.$font, 's');
  margin-top: map.get(theme.$spacing, 's');
}

.ecl-file__detail {
  border-bottom: 1px solid map.get(theme.$color, 'blue-20');
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: map.get(theme.$spacing, 'l');
  padding-bottom: map.get(theme.$spacing, 'l');
  width: 100%;
}

.ecl-file__detail-meta {
  color: $_meta-color;
  font: map.get(theme.$font, 's');
  margin-bottom: map.get(theme.$spacing, 'xs');
}

.ecl-file__detail-meta-item {
  margin-left: map.get(theme.$spacing, 'xs');

  &::before {
    content: '|';
    margin-right: map.get(theme.$spacing, 'xs');
  }
}

.ecl-file__detail-meta-item:first-of-type {
  margin-left: 0;
  text-transform: uppercase;

  &::before {
    display: none;
  }
}

.ecl-file__description {
  color: $_meta-color;
  font: map.get(theme.$font-prolonged, 'm');
  margin-top: map.get(theme.$spacing, 'xs');
  max-width: 80ch;
}

.ecl-file__image {
  align-self: flex-start;
  display: block;
  margin-right: map.get(theme.$spacing, 'm');
  margin-top: 0;
  max-width: 7.5rem;
}

.ecl-file__taxonomy {
  border-bottom: 1px solid map.get(theme.$color, 'blue-20');
  margin-bottom: map.get(theme.$spacing, 'l');
  padding-bottom: map.get(theme.$spacing, 'l');
  width: 100%;
}

.ecl-file__label {
  margin-bottom: map.get(theme.$spacing, 'm');
}

.ecl-file__translation-language {
  color: $_meta-color;
  font: map.get(theme.$font, 's');
  font-weight: map.get(theme.$font-weight, 'bold');
}

.ecl-file__translation-container {
  border: 2px solid map.get(theme.$color, 'blue-10');
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
  display: flex;
  flex-direction: column;
  padding-left: map.get(theme.$spacing, 'l');
  padding-right: map.get(theme.$spacing, 'l');
}

.ecl-file__translation-toggle {
  align-self: flex-end;
  border: 2px solid map.get(theme.$color, 'blue-100');
  font: map.get(theme.$font, 'm');
  font-weight: map.get(theme.$font-weight, 'regular');
  margin-bottom: map.get(theme.$spacing, 's');
  margin-right: -#{map.get(theme.$spacing, 'm')};
  margin-top: map.get(theme.$spacing, 's');
  padding: calc(#{map.get(theme.$spacing, 's')} - 2px)
    calc(#{map.get(theme.$spacing, 'm')} - 2px);

  .no-js & {
    display: none;
  }
}

.ecl-file__translation-list {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;

  .no-js & {
    display: block;
  }
}

.ecl-file__translation-item {
  border-top: 1px solid $_translation-border-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: map.get(theme.$spacing, 'l');
  padding-top: map.get(theme.$spacing, 'l');

  &:first-child {
    border-top: 0;
  }
}

.ecl-file__translation-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
}

.ecl-file__translation-title {
  color: $_info-color;
  font: map.get(theme.$font, 'm');
  font-weight: map.get(theme.$font-weight, 'bold');
}

.ecl-file__translation-meta {
  color: $_meta-color;
  font: map.get(theme.$font, 's');
  margin-top: map.get(theme.$spacing, 's');
}

.ecl-file__download,
.ecl-file__translation-download {
  font: map.get(theme.$font, 'm');
  margin-top: map.get(theme.$spacing, 'l');
  width: 100%;
}

.ecl-file__translation-description {
  color: $_meta-color;
  display: block;
  font: map.get(theme.$font, 'm');
  max-width: 80ch;
}

.ecl-file__translation-container[aria-expanded='true'] {
  .ecl-file__translation-list {
    display: block;
  }

  .ecl-file__translation-toggle .ecl-button__icon {
    transform: rotate(0);
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('s') {
  .ecl-file__download,
  .ecl-file__translation-download {
    margin-top: 0;
    width: auto;
  }
}
/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-file__translation-item {
    flex-direction: row;
    max-width: 100%;
  }

  .ecl-file__detail-info {
    flex-grow: 1;
  }

  .ecl-file__image {
    max-width: 13.313rem;
  }
}

/*
* thumbnail variant
*/
.ecl-file--thumbnail {
  .ecl-file__info {
    margin-left: 0;
  }

  .ecl-file__title {
    font: map.get(theme.$font-prolonged, 'm');
    font-weight: map.get(theme.$font-weight, 'bold');
  }

  .ecl-file__language,
  .ecl-file__meta {
    margin-top: 0;
  }

  .ecl-file__translation-item {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ecl-file__translation-item:first-of-type {
    border-top-width: 0;
    padding-top: 0;
  }

  .ecl-file__translation-detail {
    flex-basis: 100%;
    margin-bottom: map.get(theme.$spacing, 'l');
  }

  .ecl-file__translation-info {
    align-items: center;
    flex-direction: row;
  }

  .ecl-file__translation-title {
    font: map.get(theme.$font-prolonged, 'm');
    font-weight: map.get(theme.$font-weight, 'bold');
    margin-bottom: map.get(theme.$spacing, 's');
  }

  .ecl-file__translation-meta {
    margin-left: map.get(theme.$spacing, '2xs');
    margin-top: 0;
  }
}

/* stylelint-disable-next-line order/order */
@include breakpoints.up('m') {
  .ecl-file--thumbnail {
    .ecl-file__container {
      padding-bottom: map.get(theme.$spacing, 'l');
    }

    .ecl-file__translation-container {
      padding-left: map.get(theme.$spacing, 'l');
    }
  }
}
