/*
 * File print
 * @define file
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$_image-width: 13.125rem;

.ecl-file {
  margin: 0;
}

.ecl-file__container {
  display: flex;
}

.ecl-file__info {
  border-bottom: 1px solid var(--c-d);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: map.get($theme, 'spacing-print', 'm');
  padding-bottom: map.get($theme, 'spacing-print', 'm');
}

.ecl-file__icon {
  display: none;
}

.ecl-file__title {
  color: map.get($theme, 'color', 'black');
  font: map.get($theme, 'font-print', 'm');
  font-family: #{map.get($theme, 'font-family-print', 'alt')};
  font-weight: map.get($theme, 'font-weight-print', 'bold');
  margin-bottom: map.get($theme, 'spacing-print', 's');
  width: 100%;
}

.ecl-file__language {
  color: map.get($theme, 'color', 'black');
  font: map.get($theme, 'font-print', 's');
  font-weight: map.get($theme, 'font-weight-print', 'bold');
  margin-inline-end: map.get($theme, 'spacing-print', '2xs');
}

.ecl-file__meta {
  color: map.get($theme, 'color', 'black');
  font: map.get($theme, 'font-print', 's');
}

.ecl-file__download {
  border-width: 0;
  clear: start;
  font: map.get($theme, 'font-print', 's');
  font-weight: map.get($theme, 'font-weight-print', 'regular');
}

.ecl-file__detail {
  border-bottom: 1px solid var(--c-d-20);
  display: flex;
  flex-direction: row;
  margin-bottom: map.get($theme, 'spacing-print', 'm');
  padding-bottom: map.get($theme, 'spacing-print', 'm');
}

.ecl-file__detail-meta {
  color: var(--c-d-75);
  display: flex;
  font: map.get($theme, 'font-print', 's');
  margin-bottom: map.get($theme, 'spacing-print', 'xs');
}

.ecl-file__detail-meta-item {
  margin-inline-start: map.get($theme, 'spacing-print', 'xs');

  &::before {
    content: '|';
    margin-inline-end: map.get($theme, 'spacing-print', 'xs');
  }
}

.ecl-file__detail-meta-item:first-of-type {
  margin-inline-start: 0;
  text-transform: uppercase;

  &::before {
    display: none;
  }
}

.ecl-file__picture {
  order: 1;
}

.ecl-file__image {
  align-self: flex-start;
  display: block;
  margin-inline-start: map.get($theme, 'spacing-print', 'l');
  margin-top: 0;
  max-width: $_image-width;
  order: 1;
}

.ecl-file__taxonomy {
  padding-bottom: map.get($theme, 'spacing-print', 'm');
  padding-top: map.get($theme, 'spacing-print', 'm');
  width: 100%;
}

.ecl-file__label {
  margin-bottom: map.get($theme, 'spacing-print', 'm');
}

.ecl-file__description {
  color: map.get($theme, 'color', 'black');
  display: inline-flex;
  font: map.get($theme, 'font-print', 'm');
  max-width: var(--max-w);
  white-space: pre-wrap;
}

.ecl-file__translation-toggle {
  display: none;
}

.ecl-file__translation-list {
  display: block;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.ecl-file__translation-item {
  margin-top: map.get($theme, 'spacing-print', 'xs');
}

.ecl-file__translation-info {
  display: flex;
}

.ecl-file__translation-title {
  color: map.get($theme, 'color', 'black');
  font: map.get($theme, 'font-print', 's');
  font-weight: map.get($theme, 'font-weight-print', 'bold');
  margin-inline-end: map.get($theme, 'spacing-print', '2xs');
}

.ecl-file__translation-meta {
  color: map.get($theme, 'color', 'black');
  font: map.get($theme, 'font-print', 's');
}

.ecl-file__translation-description {
  color: map.get($theme, 'color', 'black');
  font: map.get($theme, 'font-print', 'm');
  margin-top: map.get($theme, 'spacing-print', 's');
  max-width: var(--max-w);
}

.ecl-file__translation-language {
  color: map.get($theme, 'color', 'black');
  font: map.get($theme, 'font-print', 's');
  font-weight: map.get($theme, 'font-weight-print', 'bold');
}

.ecl-file__translation-download {
  font: map.get($theme, 'font-print', 's');
}
