<nav class="ecl-horizontal-menu">
  <ul>
    <li class="ecl-horizontal-menu__item">
      <a href="#" class="ecl-horizontal-menu__link">Item 1</a>
      <ul>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 1.1</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 2.2</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 3.3</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 4.4</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 5.5</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 6.6</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 7.7</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 8.8</a></li>
      </ul>
    </li>
    <li class="ecl-horizontal-menu__item">
      <a href="#" class="ecl-horizontal-menu__link">Item 2</a>
      <ul>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 1.1</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 2.2</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 3.3</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 4.4</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 5.5</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 6.6</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 7.7</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 8.8</a></li>
      </ul>
    </li>
    <li class="ecl-horizontal-menu__item">
      <a href="#" class="ecl-horizontal-menu__link">Item 3</a>
      <ul>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 1.1</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 2.2</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 3.3</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 4.4</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 5.5</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 6.6</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 7.7</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 8.8</a></li>
      </ul>
    </li>
    <li class="ecl-horizontal-menu__item">
      <a href="#" class="ecl-horizontal-menu__link">Item 4</a>
      <ul>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 1.1</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 2.2</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 3.3</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 4.4</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 5.5</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 6.6</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 7.7</a></li>
        <li class="ecl-horizontal-menu__item"><a href="#" class="ecl-horizontal-menu__link">Item 8.8</a></li>
      </ul>
    </li>
  </ul>
</nav>
