@use 'sass:map';
@use '@ecl/theme-eu/theme' as *;
@use '@ecl/theme-eu/custom-properties';
@use '@ecl/theme-eu/variables' as var;

body {
  font: var(--f-m);
  line-height: map.get($theme, 'line-height', 'l');
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: var(--s-2xl);
}
