@use 'sass:map';
@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/custom-properties';
@use '@ecl/theme-eu/variables' as var;

// Icons & Images
@use '@ecl/icon/icon-print' with (
  $theme: theme.$theme
);

// Layout
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);

// Functions and Mixins
@use '@ecl/mixins-typography/mixins' with (
  $theme: theme.$theme,
  $typography: var.$typography
);

// Forms
@use '@ecl/form-group/form-group-print';
@use '@ecl/checkbox/checkbox-print';
@use '@ecl/datepicker/datepicker-print';
@use '@ecl/file-upload/file-upload-print';
@use '@ecl/radio/radio-print';
@use '@ecl/select/select-print';
@use '@ecl/text-area/text-area-print';
@use '@ecl/text-input/text-input-print';

// Other atoms
@use '@ecl/blockquote/blockquote-print' with (
  $theme: theme.$theme,
  $blockquote: var.$blockquote,
  $blockquote-print: var.$blockquote-print
);
@use '@ecl/button/button-print' with (
  $theme: theme.$theme,
  $button: var.$button
);
@use '@ecl/date-block/date-block-print' with (
  $theme: theme.$theme,
  $date-block: var.$date-block,
  $date-block-print: var.$date-block-print
);
@use '@ecl/indicator/indicator-print';
@use '@ecl/label/label-print' with (
  $theme: theme.$theme,
  $label: var.$label
);
@use '@ecl/link/link-print' with (
  $theme: theme.$theme,
  $button: var.$button,
  $link: var.$link
);
@use '@ecl/news-ticker/news-ticker-print';
@use '@ecl/notification/notification-print' with (
  $theme: theme.$theme,
  $notification: var.$notification,
  $notification-print: var.$notification-print
);
@use '@ecl/picture/picture';
@use '@ecl/skip-link/skip-link-print';
@use '@ecl/spinner/spinner-print';
@use '@ecl/table/table-print' with (
  $theme: theme.$theme,
  $table: var.$table
);
@use '@ecl/tabs/tabs-print' with (
  $theme: theme.$theme
);
@use '@ecl/tag/tag-print' with (
  $theme: theme.$theme
);
@use '@ecl/tooltip/tooltip-print';

// Molecules
@use '@ecl/banner/banner-print' with (
  $theme: theme.$theme,
  $banner: var.$banner,
  $banner-print: var.$banner-print
);
@use '@ecl/spotlight/spotlight-print' with (
  $theme: theme.$theme,
  $spotlight: var.$spotlight
);
@use '@ecl/description-list/description-list-print' with (
  $theme: theme.$theme,
  $description-list: var.$description-list,
  $description-list-print: var.$description-list-print
);
@use '@ecl/featured-item/featured-item-print' with (
  $theme: theme.$theme,
  $featured-item: var.$featured-item,
  $featured-item-print: var.$featured-item-print
);
@use '@ecl/list-illustration/list-illustration-print' with (
  $theme: theme.$theme,
  $list-illustration: var.$list-illustration,
  $list-illustration-print: var.$list-illustration-print
);
@use '@ecl/breadcrumb/breadcrumb-print';
@use '@ecl/card/card-print' with (
  $theme: theme.$theme
);
@use '@ecl/content-block/content-block-print' with (
  $theme: theme.$theme,
  $content-block: var.$content-block
);
@use '@ecl/content-item/content-item-print' with (
  $theme: theme.$theme,
  $content-item: var.$content-item
);
@use '@ecl/expandable/expandable-print' with (
  $theme: theme.$theme
);
@use '@ecl/fact-figures/fact-figures-print' with (
  $theme: theme.$theme,
  $fact-figures: var.$fact-figures,
  $fact-figures-print: var.$fact-figures-print
);
@use '@ecl/file/file-print' with (
  $theme: theme.$theme
);
@use '@ecl/rating-field/rating-field-print';
@use '@ecl/media-container/media-container-print' with (
  $theme: theme.$theme,
  $media-container: var.$media-container,
  $media-container-print: var.$media-container-print
);
@use '@ecl/modal/modal-print';
@use '@ecl/navigation-list/navigation-list-print' with (
  $theme: theme.$theme,
  $navigation-list: var.$navigation-list,
  $navigation-list-print: var.$navigation-list-print
);
@use '@ecl/ordered-list/ordered-list-print' with (
  $theme: theme.$theme,
  $list: var.$list,
  $list-print: var.$list-print
);
@use '@ecl/unordered-list/unordered-list-print' with (
  $theme: theme.$theme,
  $list: var.$list,
  $list-print: var.$list-print
);
@use '@ecl/page-information/page-information-print' with (
  $theme: theme.$theme,
  $page-information: var.$page-information
);
@use '@ecl/pagination/pagination-print';
@use '@ecl/popover/popover-print';
@use '@ecl/search-form/search-form-print';
@use '@ecl/separator/separator-print' with (
  $theme: theme.$theme,
  $separator: var.$separator
);
@use '@ecl/social-media-follow/social-media-follow-print';
@use '@ecl/timeline/timeline-print' with (
  $theme: theme.$theme,
  $timeline: var.$timeline,
  $timeline-print: var.$timeline-print
);

// Organisms
@use '@ecl/accordion/accordion-print' with (
  $theme: theme.$theme,
  $accordion: var.$accordion,
  $accordion-print: var.$accordion-print
);
@use '@ecl/carousel/carousel-print';
@use '@ecl/category-filter/category-filter-print';
@use '@ecl/gallery/gallery-print' with (
  $theme: theme.$theme,
  $gallery: var.$gallery,
  $gallery-print: var.$gallery-print
);
@use '@ecl/page-header/page-header-print-eu' with (
  $theme: theme.$theme,
  $page-header: var.$page-header,
  $page-header-print: var.$page-header-print
);
@use '@ecl/inpage-navigation/inpage-navigation-print';
@use '@ecl/menu/menu-print' with (
  $theme: theme.$theme
);
@use '@ecl/mega-menu/mega-menu-print';
@use '@ecl/site-footer/site-footer-print';
@use '@ecl/site-header/site-header-print' with (
  $theme: theme.$theme,
  $site-header: var.$site-header
);
@use '@ecl/splash-page/splash-page-print' with (
  $theme: theme.$theme,
  $splash-page: var.$splash-page,
  $splash-page-print: var.$splash-page-print,
  $language-list: var.$language-list,
  $language-list-print: var.$language-list-print
);

// Utilities
@use '@ecl/utility-background/background' with (
  $theme: theme.$theme
);
@use '@ecl/utility-border/border' with (
  $theme: theme.$theme
);
@use '@ecl/utility-clearfix/clearfix';
@use '@ecl/utility-dimension/dimension';
@use '@ecl/utility-flex/flex' with (
  $theme: theme.$theme
);
@use '@ecl/utility-float/float';
@use '@ecl/utility-disablescroll/disablescroll';
@use '@ecl/utility-display/display' with (
  $theme: theme.$theme
);
@use '@ecl/utility-media/media' with (
  $theme: theme.$theme
);
@use '@ecl/utility-print/print-print';
@use '@ecl/utility-screen-reader/screen-reader';
@use '@ecl/utility-shadow/shadow-print' with (
  $theme: theme.$theme
);
@use '@ecl/utility-spacing/spacing-print' with (
  $theme: theme.$theme
);
@use '@ecl/utility-typography/typography-print' with (
  $theme: theme.$theme,
  $typography: var.$typography,
  $typography-print: var.$typography-print
);
@use '@ecl/utility-z-index/z-index' with (
  $theme: theme.$theme
);

html {
  font-family: #{map.get(theme.$font-family-print, 'default')};
}
