@use 'sass:map';
@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/custom-properties';
@use '@ecl/theme-eu/variables' as var;

// Icons & Images
@use '@ecl/vanilla-component-icon/icon-print' with (
  $theme: theme.$theme
);

// Layout
@use '@ecl/vanilla-layout-grid/grid' with (
  $theme: theme.$theme
);

// Forms
@use '@ecl/vanilla-component-form-group/form-group-print';
@use '@ecl/vanilla-component-checkbox/checkbox-print';
@use '@ecl/vanilla-component-datepicker/datepicker-print';
@use '@ecl/vanilla-component-file-upload/file-upload-print';
@use '@ecl/vanilla-component-radio/radio-print';
@use '@ecl/vanilla-component-select/select-print';
@use '@ecl/vanilla-component-text-area/text-area-print';
@use '@ecl/vanilla-component-text-input/text-input-print';

// Other atoms
@use '@ecl/vanilla-component-blockquote/blockquote-print' with (
  $theme: theme.$theme,
  $blockquote: var.$blockquote,
  $blockquote-print: var.$blockquote-print
);
@use '@ecl/vanilla-component-button/button-print' with (
  $theme: theme.$theme,
  $button: var.$button,
  $button-print: var.$button-print
);
@use '@ecl/vanilla-component-date-block/date-block-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-label/label-print' with (
  $theme: theme.$theme,
  $label: var.$label,
  $label-print: var.$label-print
);
@use '@ecl/vanilla-component-link/link-print' with (
  $theme: theme.$theme,
  $link: var.$link
);
@use '@ecl/vanilla-component-news-ticker/news-ticker-print';
@use '@ecl/vanilla-component-notification/notification-print' with (
  $theme: theme.$theme,
  $notification: var.$notification,
  $notification-print: var.$notification-print
);
@use '@ecl/vanilla-component-skip-link/skip-link-print';
@use '@ecl/vanilla-component-spinner/spinner-print';
@use '@ecl/vanilla-component-table/table-print' with (
  $theme: theme.$theme,
  $table: var.$table
);
@use '@ecl/vanilla-component-tabs/tabs-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-tag/tag-print' with (
  $theme: theme.$theme
);

// Molecules
@use '@ecl/vanilla-component-banner/banner-print' with (
  $theme: theme.$theme,
  $banner-print: var.$banner-print
);
@use '@ecl/vanilla-component-description-list/description-list-print' with (
  $theme: theme.$theme,
  $description-list: var.$description-list,
  $description-list-print: var.$description-list-print
);
@use '@ecl/vanilla-component-featured-item/featured-item-print' with (
  $theme: theme.$theme,
  $featured-item: var.$featured-item,
  $featured-item-print: var.$featured-item-print
);
@use '@ecl/vanilla-component-list-illustration/list-illustration-print' with (
  $theme: theme.$theme,
  $list-illustration: var.$list-illustration,
  $list-illustration-print: var.$list-illustration-print
);
@use '@ecl/vanilla-component-breadcrumb/breadcrumb-print';
@use '@ecl/vanilla-component-card/card-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-content-block/content-block-print' with (
  $theme: theme.$theme,
  $content-block: var.$content-block
);
@use '@ecl/vanilla-component-content-item/content-item-print' with (
  $theme: theme.$theme,
  $content-item: var.$content-item
);
@use '@ecl/vanilla-component-expandable/expandable-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-fact-figures/fact-figures-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-file/file-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-rating-field/rating-field-print';
@use '@ecl/vanilla-component-media-container/media-container-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-modal/modal-print';
@use '@ecl/vanilla-component-navigation-list/navigation-list-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-ordered-list/ordered-list-print' with (
  $theme: theme.$theme,
  $list: var.$list
);
@use '@ecl/vanilla-component-unordered-list/unordered-list-print' with (
  $theme: theme.$theme,
  $list: var.$list
);
@use '@ecl/vanilla-component-pagination/pagination-print';
@use '@ecl/vanilla-component-popover/popover-print';
@use '@ecl/vanilla-component-search-form/search-form-print';
@use '@ecl/vanilla-component-social-media-follow/social-media-follow-print' with (
  $theme: theme.$theme,
  $social-media-follow: var.$social-media-follow,
  $social-media-follow-print: var.$social-media-follow-print
);
@use '@ecl/vanilla-component-social-media-share/social-media-share-print';
@use '@ecl/vanilla-component-timeline/timeline-print' with (
  $theme: theme.$theme,
  $timeline-print: var.$timeline-print
);

// Organisms
@use '@ecl/vanilla-component-accordion/accordion-print' with (
  $theme: theme.$theme,
  $accordion-print: var.$accordion-print
);
@use '@ecl/vanilla-component-carousel/carousel-print';
@use '@ecl/vanilla-component-category-filter/category-filter-print';
@use '@ecl/vanilla-component-gallery/gallery-print' with (
  $theme: theme.$theme,
  $gallery: var.$gallery
);
@use '@ecl/vanilla-component-page-header/page-header-print-eu' with (
  $theme: theme.$theme,
  $page-header: var.$page-header,
  $page-header-print: var.$page-header-print
);
@use '@ecl/vanilla-component-inpage-navigation/inpage-navigation-print';
@use '@ecl/vanilla-component-menu/menu-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-site-footer/site-footer-print';
@use '@ecl/vanilla-component-site-header/site-header-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-component-splash-page/splash-page-print' with (
  $theme: theme.$theme,
  $splash-page: var.$splash-page,
  $splash-page-print: var.$splash-page-print,
  $language-list: var.$language-list,
  $language-list-print: var.$language-list-print
);

// Utilities
@use '@ecl/vanilla-utility-background/background' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-utility-border/border' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-utility-clearfix/clearfix';
@use '@ecl/vanilla-utility-dimension/dimension';
@use '@ecl/vanilla-utility-flex/flex' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-utility-float/float';
@use '@ecl/vanilla-utility-disablescroll/disablescroll';
@use '@ecl/vanilla-utility-display/display' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-utility-media/media' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-utility-print/print-print';
@use '@ecl/vanilla-utility-screen-reader/screen-reader';
@use '@ecl/vanilla-utility-shadow/shadow-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-utility-spacing/spacing-print' with (
  $theme: theme.$theme
);
@use '@ecl/vanilla-utility-typography/typography-print' with (
  $theme: theme.$theme,
  $typography: var.$typography,
  $typography-print: var.$typography-print
);
@use '@ecl/vanilla-utility-z-index/z-index' with (
  $theme: theme.$theme
);

html {
  font-family: #{map.get(theme.$font-family-print, 'default')};
}
