/**
 * ECL block list
 * @define block-list
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-block-list() {
  .ecl-block-list {
    background-color: map-get($ecl-colors, 'blue-100');
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
