// Helper wrapper for field components

.field-group {
  overflow: hidden;
  width: 100%;

  .field {
    margin-top: 0.5em;
  }
}

.field-group--inline {
  .field {
    margin-top: 0;
    float: left;
    margin-right: 1.111em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.field-group--inline-bottom {
  display: table;
  width: auto;

  .field {
    display: table-cell;
    margin-top: 0;
    padding-right: 1.111em;
    vertical-align: bottom;

    &:last-child {
      padding-right: 0;
    }
  }
}
