/* Footer top

  Placeholder for adding a background on the .footer-top
*/

.footer-top {
  background-color: $ec-grey5;

  .container-fluid {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 510px) {
    .container-fluid {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
