.sidebar-field-group {
  h2 {
    float: left;
    width: 100%;
  }
}

.sidebar-field-group--important {
  padding-top: 30px;
}

.sidebar-field-group__main {
  @include make-sm-column(8);

  margin-left: -15px;
}

.sidebar-field-group__sidebar {
  @include make-sm-column(4);
}

// Drupal.
.front .sidebar-field-group {
  @extend .sidebar-field-group--important;
}
