@use 'sass:map';
@use '@ecl/theme-dev/theme';
// stylelint-disable length-zero-no-unit
@use 'menu' with (
  $_main-nav-background:
    linear-gradient(
      90deg,
      map.get(theme.$color, 'blue-140'),
      map.get(theme.$color, 'blue-100')
    ),
  $_main-nav-shadow: 0 0 6px rgba(9, 49, 142, 0.2),
  $_menu-desktop-padding-top: map.get(theme.$spacing, '2xs'),
  $_menu-desktop-vertical-padding: map.get(theme.$spacing, 'm'),
  $_menu-dropdown-background: map.get(theme.$color, 'blue-5'),
  $_menu-dropdown-border-color: map.get(theme.$color, 'white'),
  $_menu-drowpdown-border-radius: 0 0 4px 4px,
  $_menu-dropdown-item-hover-color: map.get(theme.$color, 'blue-140'),
  $_menu-dropdown-shadow: 0 0 6px rgba(9, 49, 142, 0.2),
  $_menu-expanded-background: map.get(theme.$color, 'white'),
  $_menu-header-horizontal-padding: map.get(theme.$spacing, 'm'),
  $_menu-item-border: none,
  $_menu-item-hover-background: map.get(theme.$color, 'blue-5'),
  $_menu-item-hover-border: 2px solid map.get(theme.$color, 'white'),
  $_menu-item-hover-color: map.get(theme.$color, 'blue-140'),
  $_menu-item-icon-margin: map.get(theme.$spacing, '2xs'),
  $_menu-item-separator-color: map.get(theme.$color, 'blue-60'),
  $_menu-list-background: transparent,
  $_menu-link-active-background: map.get(theme.$color, 'blue-20'),
  $_menu-link-active-border-width: 4px,
  $_menu-link-active-border-color: map.get(theme.$color, 'blue-140'),
  $_menu-link-border-focus-color: map.get(theme.$color, 'accent-blue-100'),
  $_menu-link-border-radius: 2px 2px 0 0,
  $_menu-link-desktop-align: center,
  $_menu-link-desktop-height: 3.75rem,
  $_menu-link-focus-background: transparent,
  $_menu-link-focus-color: map.get(theme.$color, 'white'),
  $_menu-link-mobile-padding: map.get(theme.$spacing, 's'),
  $_menu-link-no-arrow-color: map.get(theme.$color, 'blue-140'),
  $_menu-link-padding-right: map.get(theme.$spacing, 'xs'),
  $_menu-mega-padding-top: map.get(theme.$spacing, 'xs'),
  $_menu-mega-padding-bottom: calc(#{map.get(theme.$spacing, 'xs')} - 3px),
  $_menu-mobile-vertical-padding: map.get(theme.$spacing, 'xs'),
  $_menu-mobile-background: map.get(theme.$color, 'white'),
  $_menu-mobile-header-background:
    linear-gradient(
      90deg,
      map.get(theme.$color, 'blue-140'),
      map.get(theme.$color, 'blue-100')
    ),
  $_menu-mobile-header-shadow: 0 0 6px rgba(9, 49, 142, 0.2),
  $_menu-mobile-shadow: 0 0 4px rgba(9, 49, 142, 0.5),
  $_menu-mobile-active-background: map.get(theme.$color, 'blue-5'),
  $_menu-open-button-padding: #{map.get(theme.$spacing, '2xs')},
  $_menu-open-button-shadow: 0 0 4px rgba(map.get(theme.$color, 'white'), 0.2),
  $_menu-open-focus-border: map.get(theme.$color, 'accent-blue-100'),
  $_menu-open-button-radius: 4px,
  $_menu-open-button-border: 2px solid transparent,
  $_menu-open-vertical-margin: -2px,
  $_menu-overlay-background: rgba(38, 43, 56, 0.7),
  $_menu-subitem-background: map.get(theme.$color, 'blue-5'),
  $_menu-subitem-border: none,
  $_menu-subitem-margin-bottom: 0,
  $_menu-subitem-margin-top: 0,
  $_menu-sublink-desktop-margin: 0,
  $_menu-sublink-mobile-vertical-padding: map.get(theme.$spacing, 's'),
  $_menu-sublink-outline-offset: -3px,
  $_menu-sublink-padding-offset: 3px,
  $_menu-sublink-margin-offset: 0px,
  $_menu-sublink-active-color: map.get(theme.$color, 'blue-100'),
  $_menu-sublink-active-weight: map.get(theme.$font-weight, 'normal'),
  $_menu-sublink-active-background: map.get(theme.$color, 'blue-5'),
  $_menu-sublink-hover-color: map.get(theme.$color, 'blue-140'),
  $_menu-title-font-weight: map.get(theme.$font-weight, 'normal'),
  $_mobile-item-color: map.get(theme.$color, 'blue-100'),
  $_mobile-item-hover-background: map.get(theme.$color, 'blue-5')
);
