@use 'sass:map';
@use '@ecl/theme-dev/theme';
@use 'menu' with (
  $_border-radius: 0,
  $_caret-active-background: map.get(theme.$color, 'grey-25'),
  $_caret-active-hover-background: map.get(theme.$color, 'grey-50'),
  $_caret-background: map.get(theme.$color, 'blue-130'),
  $_caret-color: map.get(theme.$color, 'white'),
  $_caret-hover-background: map.get(theme.$color, 'blue-50'),
  $_caret-icon-scale: 0.8,
  $_desktop-item-border-color: map.get(theme.$color, 'blue-50'),
  $_desktop-link-active-background: map.get(theme.$color, 'blue-25'),
  $_desktop-link-active-color: map.get(theme.$color, 'blue-100'),
  $_drowpdown-border-radius: 0,
  $_dropdown-item-hover-color: map.get(theme.$color, 'blue-130'),
  $_dropdown-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
  $_expanded-background: map.get(theme.$color, 'blue-5'),
  $_item-active-border: 2px solid map.get(theme.$color, 'white'),
  $_item-border: 2px solid map.get(theme.$color, 'blue-75'),
  $_item-hover-color: map.get(theme.$color, 'blue-130'),
  $_item-icon-margin: map.get(theme.$spacing, 'xs'),
  $_link-active-background: map.get(theme.$color, 'grey-10'),
  $_link-focus-color: map.get(theme.$color, 'white'),
  $_list-background: map.get(theme.$color, 'blue'),
  $_main-nav-background: map.get(theme.$color, 'blue'),
  $_main-nav-shadow: none,
  $_mobile-background: map.get(theme.$color, 'blue'),
  $_mobile-header-background: map.get(theme.$color, 'blue'),
  $_mobile-header-shadow: none,
  $_mobile-item-color: map.get(theme.$color, 'white'),
  $_mobile-shadow: none,
  $_open-button-shadow: none,
  $_open-vertical-margin: -3px,
  $_overlay-background: rgba(0, 0, 0, 0.5),
  $_subitem-active-background: map.get(theme.$color, 'grey-10'),
  $_subitem-active-border: 1px solid map.get(theme.$color, 'blue-50'),
  $_subitem-background: map.get(theme.$color, 'blue-5'),
  $_subitem-border: 1px solid map.get(theme.$color, 'blue-25'),
  $_sublink-hover-color: map.get(theme.$color, 'blue-130'),
  $_title-font-weight: map.get(theme.$font-weight, 'bold')
);
