/**
 * Accordion
 * @define accordion2; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('eu-component-button', 'eu-component-icon'));

@mixin ecl-accordion2() {
  .ecl-accordion2 {
    margin: 0;
  }

  .ecl-accordion2__item {
    background-color: $ecl-color-grey-5;
  }

  .ecl-accordion2__item + .ecl-accordion2__item {
    margin-top: $ecl-spacing-xs;
  }

  .ecl-accordion2__title {
    margin: 0;
    padding: 0;
  }

  .ecl-accordion2__toggle {
    background-color: transparent;
    border-width: 0;
    color: $ecl-color-grey-100;
    display: block;
    font: $ecl-font-prolonged-m;
    font-weight: $ecl-font-weight-bold;
    padding: $ecl-spacing-s $ecl-spacing-m;
    position: relative;
    text-align: left;
    width: 100%;
  }

  .ecl-accordion2__toggle:hover {
    background-color: $ecl-color-grey-20;
  }

  .ecl-accordion2__toggle:focus {
    outline: 3px solid $ecl-color-yellow;
    outline-offset: -3px;
  }

  .ecl-accordion2__toggle[aria-expanded='true'] {
    padding-bottom: 0;
  }

  .ecl-accordion2__toggle-flex {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .ecl-accordion2__toggle-icon {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $ecl-spacing-m;

    .ecl-accordion2__toggle[aria-expanded='true'] & {
      margin-bottom: calc(#{$ecl-spacing-xs} + #{$ecl-spacing-xs} + 1px);
    }
  }

  .ecl-accordion2__toggle-title {
    flex-grow: 1;

    .ecl-accordion2__toggle[aria-expanded='true'] & {
      border-bottom: 1px solid $ecl-color-grey;
      margin-bottom: $ecl-spacing-xs;
      padding-bottom: $ecl-spacing-xs;
    }
  }

  .ecl-accordion2__content {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-m;
    margin-left: 0;
    padding: 0 $ecl-spacing-m $ecl-spacing-s;
  }

  .no-js .ecl-accordion2__content {
    display: block;
  }
}

// Use mixin
@include exports('eu-component-accordion2') {
  @include ecl-accordion2;
}
