// Grid mixins
$theme: null !default;

@use 'mixins/grid-framework' with (
  $theme: $theme
);
@use 'mixins/grid';

@mixin ecl-grid() {
  // Container widths
  // Set the container width, and override it for fixed navbars in media queries.
  .ecl-container {
    @include grid.ecl-make-container;
    @include grid.ecl-make-container-max-widths;
  }

  // Row
  // Rows contain and clear the floats of your columns.
  .ecl-row {
    @include grid.ecl-make-row;
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .ecl-no-gutters {
    margin-inline-start: 0;
    margin-inline-end: 0;

    > .ecl-col,
    > [class*='ecl-col-'] {
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
  }

  // Columns
  // Common styles for small and large grid columns
  @include grid-framework.make-grid-columns; // stylelint-disable-line
}

// Use mixin
@include ecl-grid;
