<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ '/framework/styles/europa.css' | path }}">
  <title>Preview Layout</title>
  <style>
    /* website specific global rules */
    body {
      margin: 0;
    }
  </style>
</head>
<body{% if _target.context and _target.context.global and _target.context.global.language %} class="language-{{ _target.context.global.language }}"{% endif %}>
  {{ yield }}
  <script src="{{ '/framework/scripts/europa.js' | path }}"></script>
</body>
</html>
