<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ '/framework/styles/europa.css' | path }}">
  <title>Preview Layout</title>
  <style>
    body {
      background-color: #004494;
      margin: 0;
    }
  </style>
</head>
<body>
  {{ yield }}
  <script src="{{ '/framework/scripts/europa.js' | path }}"></script>
</body>
</html>
