/**
 * Form Group
 * @define form-group
 */

.ecl-form-group {
  @include ecl-hidden-print();

  margin-bottom: map-get($ecl-spacing, 'm');
}

.ecl-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
