<form>
  <div class="ecl-form-group">
    <label for="field-ID-1">Default Field</label>
    <p class="ecl-help-block">This is some placeholder help text.</p>
    <input type="text" class="ecl-text-input" id="field-ID-1" name="field-name-1" placeholder="Some placeholder text."/>
  </div>
</form>
