@use "sass:map";
@use '@ecl/theme-dev/theme';
@use 'datepicker' with (
  $_input-hover-shadow: none,
  $_picker-background-color: map.get(theme.$color, 'grey-10'),
  $_picker-border-radius: 0,
  $_picker-margin-top: map.get(theme.$spacing, 's'),
  $_picker-button-disable-color: map.get(theme.$color, 'grey-10'),
);
