/**
 * Form elements
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$form-group: null !default;

.ecl-form-group {
  border-width: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
}

.ecl-feedback-message {
  align-items: center;
  box-sizing: border-box;
  color: map.get($form-group, 'color-invalid');
  display: flex;
  font: map.get($form-group, 'font-invalid');
  margin-top: var(--s-xs);
  max-width: var(--max-w);
  padding: 0;
}

.ecl-feedback-message__icon {
  margin-inline-end: map.get($form-group, 'margin-icon');
}

.ecl-help-block {
  box-sizing: border-box;
  color: map.get($form-group, 'color-help');
  display: block;
  font: map.get($form-group, 'font-help');
  margin: var(--s-2xs) 0 var(--s-xs);
  max-width: var(--max-w);
  padding: 0;
}

.ecl-form-label {
  box-sizing: border-box;
  color: map.get($form-group, 'color-label');
  display: inline-flex;
  font: map.get($form-group, 'font-label');
  font-weight: map.get($form-group, 'font-weight-label');
  margin: 0;
  max-width: var(--max-w);
  padding: 0;
  white-space: pre-wrap;
}

.ecl-form-label__required {
  color: map.get($form-group, 'color-required');
  font: var(--f-m);
  font-weight: map.get($theme, 'font-weight', 'bold');
  margin-inline-start: var(--s-2xs);
}

.ecl-form-label__optional {
  align-self: center;
  color: map.get($form-group, 'color-optional');
  font: map.get($form-group, 'font-optional');
  font-style: map.get($form-group, 'font-style-optional');
  margin-inline-start: var(--s-2xs);
}

.ecl-form-label + {
  *:not(.ecl-help-block, .ecl-feedback-message) {
    margin-top: var(--s-xs);
  }
}
