{#
  This is an example and should not be used as it is.
#}

{% include '@ecl/ec-component-skip-link' with {
    'href': '#main-content',
    'label': 'Skip to main content'
} %}

{% include '@ecl/ec-component-site-header' with {
  site_switcher: {
    political: { href: '../../example.html#', label: 'Commission and its priorities' },
    info: {
      href: '../../example.html#',
      label: 'Policies, information and services',
      is_active: true,
    },
  },
  user_menu: {
    title: 'User menu',
    links: [
      { href: "#", label: "Log in" },
    ],
  }
} %}

{% include '@ecl/ec-component-page-header' with { variant: 'default' }|merge(page_header|default({})) %}
{% if menu is defined and menu is not empty %}
  {% include '@ecl/ec-component-navigation-menu' with menu %}
{% endif %}

<main id="main-content">
  <div class="ecl-container ecl-u-mv-l">
    <h1 class="ecl-heading ecl-heading--h1">Listings example</h1>

    <h3 class="ecl-heading ecl-heading--h3">Default listing (one column)</h3>

    {% include '@ecl/ec-component-listing' with {
      items: [
        {
          metas: ['Service department', 'PMO'],
          href: '../../example.html#listing-default-1',
          title: 'Administration and Payment of Individual Entitlements',
        },
        {
          metas: ['Directorate-General', 'AGRI'],
          href: '../../example.html#listing-default-2',
          title: 'Agriculture and Rural Development',
        },
        {
          metas: ['Directorate-General', 'BUDG'],
          href: '../../example.html#listing-default-3',
          title: 'Budget',
        },
        {
          metas: ['Directorate-General', 'CLIMA'],
          href: '../../example.html#listing-default-4',
          title: 'Climate Action',
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Default listing (two columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'two-columns',
      items: [
        {
          title: 'Business, Economy, Euro',
          href: '../../example.html#listing-default-two-1',
          detail: 'EU economy, the euro, and practical information for EU businesses and entrepreneurs.'
        },
        {
          title: 'About the European Union',
          href: '../../example.html#listing-default-two-2',
          detail: 'The EU and its institutions, how to visit and work at the EU.'
        },
        {
          title: 'Live, Work, Travel in EU',
          href: '../../example.html#listing-default-two-3',
          detail: 'Advice on living, working or travelling in the EU, on visas and immigration for non-EU citizens, European culture.'
        },
        {
          title: 'Funding, Tenders',
          href: '../../example.html#listing-default-two-4',
          detail: 'EU funding, grants, tenders, and how to apply.'
        },
        {
          title: 'Law',
          href: '../../example.html#listing-default-two-5',
          detail: 'EU law and judgments, how EU law is applied, public consultations, data protection, infringements, fraud, serious crime.'
        },
        {
          title: 'Research and innovation',
          href: '../../example.html#listing-default-two-6',
          detail: 'Research funding, partners, results, and EU action to promote innovation.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Default listing (three columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          title: 'Business, Economy, Euro',
          href: '../../example.html#listing-default-three-1',
          detail: 'EU economy, the euro, and practical information for EU businesses and entrepreneurs.'
        },
        {
          title: 'About the European Union',
          href: '../../example.html#listing-default-three-2',
          detail: 'The EU and its institutions, how to visit and work at the EU.'
        },
        {
          title: 'Live, Work, Travel in EU',
          href: '../../example.html#listing-default-three-3',
          detail: 'Advice on living, working or travelling in the EU, on visas and immigration for non-EU citizens, European culture.'
        },
        {
          title: 'Funding, Tenders',
          href: '../../example.html#listing-default-three-4',
          detail: 'EU funding, grants, tenders, and how to apply.'
        },
        {
          title: 'Law',
          href: '../../example.html#listing-default-three-5',
          detail: 'EU law and judgments, how EU law is applied, public consultations, data protection, infringements, fraud, serious crime.'
        },
        {
          title: 'Research and innovation',
          href: '../../example.html#listing-default-three-6',
          detail: 'Research funding, partners, results, and EU action to promote innovation.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Date listing (one column)</h3>

    {% include '@ecl/ec-component-listing' with {
      items: [
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '07',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-1',
          title:
            "Citizens' Dialogue in Bucharest with Commissioner Corina Crețu and the President of the European Committee of the Regions Karl-Heinz Lambertz",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Bucharest, Romania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '08',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-2',
          title: "Citizens' Dialogue in Kraków with Commissioner Elżbieta Bieńkowska",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Kraków, Poland</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '14',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-3',
          title:
            "Citizens' Dialogue in Tallin with Vice-President Jyrki Katainen",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Tallin, Estonia</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '19',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-4',
          title: "Citizens' Dialogue in Kaunas with Commissioner Vytenis Andriukaitis",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Kaunas, Lithuania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Date listing (two columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'two-columns',
      items: [
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '07',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-two-1',
          title:
            "Citizens' Dialogue in Bucharest with Commissioner Corina Crețu and the President of the European Committee of the Regions Karl-Heinz Lambertz",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Bucharest, Romania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '08',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-two-2',
          title: "Citizens' Dialogue in Kraków with Commissioner Elżbieta Bieńkowska",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Kraków, Poland</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '14',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-two-3',
          title:
            "Citizens' Dialogue in Tallin with Vice-President Jyrki Katainen",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Tallin, Estonia</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
        {
          variant: 'date',
          date: {
            week_day: 'Tue',
            day: '19',
            month: 'Sep',
          },
          href: '../../example.html#listing-date-two-4',
          title: "Citizens' Dialogue in Kaunas with Commissioner Vytenis Andriukaitis",
          detail:
            '<small><span class="ecl-icon ecl-icon--location">Kaunas, Lithuania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>',
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Thumbnail listing (one column)</h3>

    {% include '@ecl/ec-component-listing' with {
      items: [
        {
          metas: ['Director-General'],
          title: 'John Doe',
          href: '../../example.html#listing-thumbnail-one-1',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Director-General John Doe',
          },
        },
        {
          metas: ['Deputy Director-General'],
          title: 'Jane Doe',
          href: '../../example.html#listing-thumbnail-one-2',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Deputy Director-General Jane Doe',
          },
        },
        {
          metas: ['Acting Deputy Director-General'],
          title: 'Jack Doe',
          href: '../../example.html#listing-thumbnail-one-3',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Acting Deputy Director-General Jack Doe',
          },
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Thumbnail listing (two columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'two-columns',
      items: [
        {
          metas: ['Director-General'],
          title: 'John Doe',
          href: '../../example.html#listing-thumbnail-two-1',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Director-General John Doe',
          },
        },
        {
          metas: ['Deputy Director-General'],
          title: 'Jane Doe',
          href: '../../example.html#listing-thumbnail-two-2',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Deputy Director-General Jane Doe',
          },
        },
        {
          metas: ['Acting Deputy Director-General'],
          title: 'Jack Doe',
          href: '../../example.html#listing-thumbnail-two-3',
          primary_image: {
            src: '../../assets/demo_images/default_profile_image.png',
            alt: 'Acting Deputy Director-General Jack Doe',
          },
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Highlight listing (three columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'highlight',
          title: 'State of the European Union 2017',
          primary_image: {
            src: '../../assets/demo_images/nature-demo-1.jpg',
            alt: 'State of the European Union 2017',
          },
        },
        {
          variant: 'highlight',
          title: 'White paper on the future of Europe',
          primary_image: {
            src: '../../assets/demo_images/nature-demo-2.jpg',
            alt: 'White paper on the future of Europe',
          },
        },
        {
          variant: 'highlight',
          title: 'EU solidarity',
          primary_image: {
            src: '../../assets/demo_images/nature-demo-3.jpg',
            alt: 'EU solidarity',
          },
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Navigation listing (one column)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'navigation',
          title: 'Jobs, growth and investment',
          detail: 'Mollit et cupidatat fugiat consequat exercitation irure est enim in incididunt.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Navigation listing (two columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'two-columns',
      items: [
        {
          variant: 'navigation',
          title: 'A stronger global actor',
          detail: 'Proident enim excepteur voluptate cillum officia. Nisi ad mollit minim excepteur sunt officia exercitation dolore eiusmod est officia do laborum.'
        },
        {
          variant: 'navigation',
          title: 'Democratic change',
          detail: 'Amet tempor laboris amet sit deserunt cupidatat esse officia. Anim commodo laborum ea quis ullamco velit enim velit nisi commodo reprehenderit.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Navigation listing (three columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'navigation',
          title: 'Jobs, growth and investment',
          detail: 'Mollit et cupidatat fugiat consequat exercitation irure est enim in incididunt.'
        },
        {
          variant: 'navigation',
          title: 'Energy union and climate',
          detail: 'Ad cillum qui anim amet ea dolore excepteur amet esse sunt duis labore ullamco enim.'
        },
        {
          variant: 'navigation',
          title: 'A stronger global actor',
          detail: 'Proident enim excepteur voluptate cillum officia. Nisi ad mollit minim excepteur sunt officia exercitation dolore eiusmod est officia do laborum.'
        },
        {
          variant: 'navigation',
          title: 'Democratic change',
          detail: 'Amet tempor laboris amet sit deserunt cupidatat esse officia. Anim commodo laborum ea quis ullamco velit enim velit nisi commodo reprehenderit.'
        },
        {
          variant: 'navigation',
          title: 'Justice and fundamental rights',
          detail: 'Duis pariatur do nostrud consectetur nisi anim.'
        },
        {
          variant: 'navigation',
          title: 'The 2018 Work Programme',
          detail: 'Elit amet in non adipisicing irure in cupidatat enim aliqua proident laborum.'
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Block listing (one column)</h3>

     {% include '@ecl/ec-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'block',
          title: 'Contact the EU',
          detail:
            'Consectetur sint eiusmod ut Lorem consequat quis laboris sit irure est ad dolore ad.',
        },
      ]
     } %}

    <h3 class="ecl-heading ecl-heading--h3">Block listing (two columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'three-columns',
      items: [
        {
          variant: 'block',
          title: 'EU by topic',
          detail:
            'Anim irure ipsum dolore anim est Lorem cupidatat occaecat est consectetur.',
        },
        {
          variant: 'block',
          title: 'Doing business',
          detail:
            'Ipsum cupidatat amet qui labore aliquip dolor. Pariatur amet esse excepteur exercitation magna do enim amet.',
        },
      ]
    } %}

    <h3 class="ecl-heading ecl-heading--h3">Block listing (three columns)</h3>

    {% include '@ecl/ec-component-listing' with {
      variant: 'three-columns',
      items: [{
        variant: 'block',
        title: 'Climate action',
        detail:
          'In eu consectetur aute incididunt quis quis do labore in ut consectetur.',
      },
      {
        variant: 'block',
        title: 'EU by topic',
        detail:
          'Anim irure ipsum dolore anim est Lorem cupidatat occaecat est consectetur.',
      },
      {
        variant: 'block',
        title: 'Doing business',
        detail:
          'Ipsum cupidatat amet qui labore aliquip dolor. Pariatur amet esse excepteur exercitation magna do enim amet.',
      },
      {
        variant: 'block',
        title: 'About the EU',
        detail:
          'Ut laborum ullamco tempor duis veniam elit duis exercitation id excepteur.',
      },
      {
        variant: 'block',
        title: 'The Questions Corner',
        detail:
          'Do in cupidatat ea duis id. In sunt irure minim aliquip. Mollit eu aliqua et quis velit do.',
      },
      {
        variant: 'block',
        title: 'Contact the EU',
        detail:
          'Consectetur sint eiusmod ut Lorem consequat quis laboris sit irure est ad dolore ad.',
      },
    ]
  } %}
  </div>
</main>

{% include '@ecl/ec-component-footer' with {
  corporate_footer: {
    about_ec: {
      title: 'European Commission',
      items: [
        {
          href: 'https://ec.europa.eu/commission/index_en',
          label: 'Commission and its priorities',
        },
        {
          href: 'https://ec.europa.eu/info/index_en',
          label: 'Policies, information and services',
        },
      ],
    },
    social_media: {
      title: 'Follow the European Commission',
      items: [
        {
          type: 'social-network',
          icon: 'facebook',
          link: {
            href: '../../example.html#',
            label: 'Facebook',
          },
        },
        {
          type: 'social-network',
          icon: 'twitter',
          link: {
            href: '../../example.html#',
            label: 'Twitter',
          },
        },
        {
          type: 'external',
          link: {
            href: '../../example.html#',
            label: 'Other social media',
          },
        },
      ],
    },
    about_eu: {
      title: 'European Union',
      items: [
        {
          href: '../../example.html#',
          label: 'EU institutions',
        },
        {
          href: '../../example.html#',
          label: 'European Union',
        },
      ],
    },
    bottom_links: [
      {
        href:
          'http://ec.europa.eu/info/about-commissions-new-web-presence_en',
        label: "About the Commission's new web presence",
      },
      {
        href: 'http://ec.europa.eu/info/resources-partners_en',
        label: 'Resources for partners',
      },
      {
        href: 'http://ec.europa.eu/info/cookies_en',
        label: 'Cookies',
      },
      {
        href: 'http://ec.europa.eu/info/legal-notice_en',
        label: 'Legal notice',
      },
      {
        href: 'http://ec.europa.eu/info/contact_en',
        label: 'Contact',
      },
    ],
  },
} %}
