/**
 * Blockquotes
 * @define blockquote
 */

// Import base and mixins
@import '@ecl/ec-base/ec-base';
@import 'mixins';

@mixin ecl-blockquote() {
  .ecl-blockquote {
    @include blockquote-container();
  }

  .ecl-blockquote__body {
    @include blockquote-body();
  }

  .ecl-blockquote__attribution {
    @include blockquote-attribution();
  }
  .ecl-blockquote__author {
    @include blockquote-author();
  }
}

@mixin ecl-blockquote-print() {
  @media print {
    .ecl-blockquote__body {
      color: #000;
      font: $ecl-font-prolonged-print-m;
    }

    .ecl-blockquote__author {
      color: #000;
      font: $ecl-font-prolonged-print-m;
      font-weight: $ecl-font-weight-print-bold;
    }

    /* stylelint-disable-next-line order/order */
    @include ecl-media-breakpoint-up('md') {
      .ecl-blockquote__body {
        font: $ecl-font-prolonged-print-xl;
      }

      .ecl-blockquote__author {
        font: $ecl-font-prolonged-print-l;
        font-weight: $ecl-font-weight-print-bold;
      }
    }
  }
}

// Use mixin
@include exports('ec-component-blockquote') {
  @include ecl-blockquote();
  @include ecl-blockquote-print();
}
