/**
 * EU logo
 */

// Language generator.
@mixin logo-background-languages($file_path, $file_extension, $logo_class: ecl-logo--logotype) {
  @each $item in $ecl-languages {
    /* stylelint-disable max-nesting-depth */
    .language-#{$item} {
      .#{$logo_class} {
        background-image: url('#{$file_path}#{$item}#{$file_extension}');
      }

      @media print {
        .#{$logo_class}::before {
          content: url('#{$file_path}#{$item}#{$file_extension}');
        }
      }
    }
    /* stylelint-enable */
  }
}

/**
 * Logos
 * @define logo
 */

// Default EC logo.
.ecl-logo {
  background: url($ecl-assets-path + 'images/logo.svg') no-repeat;
  background-size: contain;
  display: block;
  height: 40px;
  width: 59px;
}

.ecl-logo--big {
  height: 80px;
  width: 118px;
}

// EC logotype
//
// EC logo with text.

// Sets language-specific background image on .ecl-logo--logotype element nested
// in {{modifier_class}} modifier.
@include logo-background-languages($ecl-assets-path + 'images/logo/logo--', '.svg');

.ecl-logo--logotype {
  width: 234px;
}

@include ecl-media-breakpoint-up(md) {
  .ecl-logo {
    height: 56px;
    width: 83px;
  }

  .ecl-logo--big {
    height: 112px;
    width: 166px;
  }

  .ecl-logo--logotype {
    width: 325px;
  }
}
