@use "sass:map";
@use '@ecl/theme-dev/theme';
@use 'select' with (
  $_border-radius: 4px,
  $_border-color: map.get(theme.$color, 'grey-80'),
  $_border-color-hover: map.get(theme.$color, 'grey-80'),
  $_border-color-focus: map.get(theme.$color, 'accent-blue-100'),
  $_border-color-invalid: map.get(theme.$color, 'red-120'),
  $_border-color-invalid-hover: map.get(theme.$color, 'red-100'),
  $_border-color-disabled: map.get(theme.$color, 'grey-40'),
  $_border-width-focus: 2px,
  $_color-input: map.get(theme.$color, 'grey-140'),
  $_color-placeholder: map.get(theme.$color, 'grey-40'),
  $_shadow: none,
  $_shadow-hover: 0 0 4px rgba(9, 49, 142, 0.2),
  $_padding-horizontal: map.get(theme.$spacing, 'm'),
  $_arrow-background-color: map.get(theme.$color, 'blue-100'),
  $_arrow-background-color-hover: map.get(theme.$color, 'blue-80'),
  $_arrow-background-color-invalid: map.get(theme.$color, 'red-120'),
  $_arrow-background-color-invalid-hover: map.get(theme.$color, 'red-100'),
  $_multiple-dropdown-background-color: map.get(theme.$color, 'white'),
  $_multiple-dropdown-border-color: map.get(theme.$color, 'white'),
  $_multiple-dropdown-separator-color: map.get(theme.$color, 'blue-20'),
  $_multiple-dropdown-border-radius: 4px,
  $_multiple-dropdown-shadow: 0 0 6px rgba(9, 49, 142, 0.2),
  $_multiple-dropdown-input-margin: map.get(theme.$spacing, 'xs'),
  $_multiple-dropdown-input-width: calc(100% - #{map.get(theme.$spacing, 'xs')} - #{map.get(theme.$spacing, 'xs')}),
);
