/*
 * Story card print
 * @define story card
 */

@use 'sass:map';

$theme: null !default;

.ecl-story-card {
  &__carousel--mobile {
    display: none;
  }

  .ecl-story-card__grid-controls,
  .ecl-story-card__picture,
  .ecl-story-card__grid-item {
    display: none;
  }

  .ecl-story-card__grid-details {
    display: block;
    margin-block: map.get($theme, 'spacing-print', 'm');
  }

  .ecl-story-card__grid-details-content {
    display: flex;
    flex-direction: column;
    gap: map.get($theme, 'spacing-print', 'm');
    font: map.get($theme, 'font-print', 'l');
  }

  .ecl-story-card__title {
    font: map.get($theme, 'font-print', 'l');
    font-weight: map.get($theme, 'font-weight', 'bold');
  }

  .ecl-story-card__link[href]::after {
    content: ' (' attr(href) ')';
    font-size: 90%;
    word-break: break-all;
  }

  &__grid--desktop {
    display: block;
  }

  &__grid-container {
    grid-template-columns: 1fr 1fr;

    @media print and (width >= 210mm) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__grid-item {
    break-inside: avoid;

    &--expanded {
      grid-column: auto !important;
    }
  }

  &__grid-card {
    cursor: default;

    &:hover {
      border-color: var(--c-g-200);
      box-shadow: none;
    }
  }
}
