/**
* Site switcher component
* @define link
*/

@import 'links-mixins';

.ecl-link {
  @include link();
}

.ecl-link--external {
  @include link-external();
}

.ecl-link--standalone {
  text-decoration: none;
}

.ecl-link--inverted {
  color: #fff;

  &:hover,
  &:focus {
    color: map-get($ecl-colors, 'grey-25');
  }
}

.ecl-link--all {
  clear: right;
  float: right;
  text-transform: uppercase;
}

.ecl-link--more {
  text-transform: uppercase;

  &::after {
    @extend %ecl-icon--after;

    @include ecl-icon('right');

    font-size: 75%;
    margin-left: 0.4em;
    margin-right: 0.2em;
  }
}
