@font-face {
  font-family: 'EuropaIcons';
  src: url('#{$ecl-assets-path}fonts/europa-icons/europa-icons.eot');
  src: url('#{$ecl-assets-path}fonts/europa-icons/europa-icons.eot?#iefix')
      format('embedded-opentype'),
    url('#{$ecl-assets-path}fonts/europa-icons/europa-icons.woff')
      format('woff'),
    url('#{$ecl-assets-path}fonts/europa-icons/europa-icons.ttf')
      format('truetype'),
    url('#{$ecl-assets-path}fonts/europa-icons/europa-icons.svg#europa-icons')
      format('svg');
}
