/*
 * Tabs print
 * @define tabs
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;

.ecl-tabs__item--more {
  display: none;
}

.ecl-tabs__dropdown {
  display: none;
}

.ecl-tabs__link {
  font: map.get($theme, 'font-print', 'm');
}
