/**
 * Accordion
 * @define accordion
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;
$accordion: null !default;

.ecl-accordion {
  border-radius: map.get($accordion, 'radius');
  box-shadow: map.get($accordion, 'shadow');
  margin: 0;
}

.ecl-accordion__toggle {
  align-items: flex-start;
  color: map.get($accordion, 'title-text-color');
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font: var(--f-m);
  font-weight: map.get($accordion, 'title-font-weight');
  justify-content: space-between;
  padding: map.get($accordion, 'item-padding');

  &:hover {
    background-color: map.get($accordion, 'item-background-hover');
  }

  &:focus-visible {
    outline: 2px solid var(--cm-border-primary, var(--c-p));
    outline-offset: -2px;
  }
}

.ecl-accordion__toggle-icon {
  fill: map.get($accordion, 'icon-color');
  flex-grow: 0;
  flex-shrink: 0;
  margin-inline-start: map.get($accordion, 'icon-margin');

  &:last-of-type,
  .ecl-accordion__item[open] &:first-of-type {
    display: none;
  }

  // stylelint-disable-next-line no-descending-specificity
  &:first-of-type,
  .ecl-accordion__item[open] &:last-of-type {
    display: block;
  }
}

.ecl-accordion__content {
  color: map.get($accordion, 'text-color');
  font: var(--f-m);
  margin-inline-start: 0;
  max-width: var(--max-w);
  padding-inline-end: map.get($accordion, 'item-padding');
  padding-inline-start: map.get($accordion, 'item-padding');
  padding-bottom: var(--s-xl);
}

.ecl-accordion__item {
  border-bottom: map.get($accordion, 'separator');
  position: relative;

  &.is-first {
    @if map.has-key($accordion, 'yellow-bar') {
      &::before {
        background-color: var(--cm-surface-secondary, var(--c-s));
        border-end-start-radius: map.get($theme, 'border-radius', 'xs');
        border-end-end-radius: map.get($theme, 'border-radius', 'xs');
        content: '';
        height: 4px;
        left: var(--s-l);
        position: absolute;
        top: 0;
        width: 32px;
        z-index: 1;
      }

      &:dir(rtl)::before {
        left: auto;
        right: var(--s-l);
      }
    }

    .ecl-accordion__toggle {
      border-start-start-radius: map.get($accordion, 'radius');
      border-start-end-radius: map.get($accordion, 'radius');
    }
  }

  &.is-last {
    border-bottom-width: 0;

    .ecl-accordion__toggle {
      border-end-start-radius: map.get($accordion, 'radius');
      border-end-end-radius: map.get($accordion, 'radius');

      .ecl-accordion__item[open] & {
        border-end-start-radius: 0;
        border-end-end-radius: 0;
      }
    }

    .ecl-accordion__content {
      border-end-start-radius: map.get($accordion, 'radius');
      border-end-end-radius: map.get($accordion, 'radius');
      overflow: hidden;
    }
  }
}
