@use 'sass:map';
@use '@ecl/theme-ec/theme' as *;

.dodont {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.do,
.dont,
.caution {
  margin-top: var(--ws-s-l);
}

.dodont .do,
.dodont .dont {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
  // stylelint-disable-next-line media-query-no-invalid
  @media screen and (min-width: map.get($theme, 'breakpoint', 'm')) {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: stretch;
    max-width: 50%;
  }
}

.image-container {
  align-items: center;
  border: 1px solid var(--ws-c-n-60);
  border-bottom-width: 0;
  display: flex;
  justify-content: center;
}

.image {
  // IE fix
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  // end of: IE fix
  height: auto;
  max-width: 100%;
}

.separator {
  flex-grow: 0;
  flex-shrink: 0;
  height: 0.5rem;
  width: 100%;
}

.do .separator {
  background-color: var(--ws-c-su);
}

.dont .separator {
  background-color: var(--ws-c-er);
}

.caution .separator {
  background-color: var(--ws-c-wa);
}

.container {
  background-color: var(--ws-c-n-40);
  flex-grow: 1;
  flex-shrink: 0;
  padding: var(--ws-s-m) var(--ws-s-l);
}

.title {
  display: flex;
  font: var(--ws-f-m);
  font-weight: map.get($theme, 'font-weight', 'bold');
}

.do .title {
  color: var(--ws-c-su);
}

.dont .title {
  color: var(--ws-c-er);
}

.caution .title {
  color: var(--ws-c-wa);
}

.title__icon {
  fill: currentcolor;
  height: map.get($theme, 'icon', 's');
  margin-right: var(--ws-s-s);
  width: map.get($theme, 'icon', 's');
}

.description {
  color: var(--ws-c-d);
  font: var(--ws-f-m);
  margin-top: var(--ws-s-xs);
}
// stylelint-disable-next-line media-query-no-invalid
@media screen and (min-width: map.get($theme, 'breakpoint', 's')) {
  .dont {
    margin-top: var(--ws-s-l);
  }
}
