@import '@ecl/ec-theme-default/index';

.dodont {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.do,
.dont,
.caution {
  margin-top: $ecl-spacing-l;
}

.dodont .do,
.dodont .dont {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;

  @media screen and (min-width: $ecl-breakpoint-md) {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: stretch;
    max-width: 50%;
  }
}

.image-container {
  align-items: center;
  border: 1px solid $ecl-color-grey-15;
  border-bottom-width: 0;
  display: flex;
  justify-content: center;
}

.image {
  // IE fix
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  // end of: IE fix
  height: auto;
  max-width: 100%;
}

.separator {
  flex-grow: 0;
  flex-shrink: 0;
  height: 0.5rem;
  width: 100%;
}

.do .separator {
  background-color: $ecl-color-success;
}

.dont .separator {
  background-color: $ecl-color-error;
}

.caution .separator {
  background-color: $ecl-color-warning;
}

.container {
  background-color: $ecl-color-grey-5;
  flex-grow: 1;
  flex-shrink: 0;
  padding: $ecl-spacing-m $ecl-spacing-l;
}

.title {
  display: flex;
  font: $ecl-font-prolonged-m;
  font-weight: $ecl-font-weight-bold;
}

.do .title {
  color: $ecl-color-success;
}

.dont .title {
  color: $ecl-color-error;
}

.caution .title {
  color: $ecl-color-warning;
}

.title__icon {
  fill: currentColor;
  height: $ecl-icon-s;
  margin-right: $ecl-spacing-s;
  width: $ecl-icon-s;
}

.description {
  color: $ecl-color-grey-100;
  font: $ecl-font-prolonged-m;
  margin-top: $ecl-spacing-xs;
}

@media screen and (min-width: $ecl-breakpoint-sm) {
  .dont {
    margin-top: $ecl-spacing-l;
  }
}
