/**
 * Site header
 * @define site-header ; weak
 */

.ecl-site-header {
  margin: 0;
  padding: map-get($ecl-spacing, 's') 0;
  width: 100%;
}

.ecl-site-header__container {
  display: flex;
  flex-wrap: wrap;
}

// If the logo is linking to an external page do not show the external icon.
.ecl-site-header__logo {
  flex-grow: 0;
  flex-shrink: 0;
}

.ecl-site-header__top-bar {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
}

.ecl-site-header__lang-select-sites {
  flex-shrink: 0;
}
