{% if variant is defined and variant == "homepage" %}
<header class="site-header site-header--homepage" role="banner">
  <div class="container-fluid site-header__container">
    <section class="top-bar" aria-label="Site tools">
      <div class="top-bar__wrapper">
        {% include '@ec-europa/ecl-lang-select-sites' %}
      </div>
    </section>
    {% include '@ec-europa/ecl-logos' with { 'to': 'https://ec.europa.eu', 'title': 'Home - European Commission', 'type': 'below', 'externalClass': 'site-header__logo' } %}
  </div>
  <section class="header-search-bar" aria-label="Site tools">
    <div class="header-search-bar__wrapper container-fluid">
      <section class="block-nexteuropa-europa-search clearfix">
        {% include '@ec-europa/ecl-search-forms' %}
      </section>
    </div>
  </section>
</header>
{% else %}
<header class="site-header" role="banner">
  <div class="container-fluid site-header__container">
    {% include '@ec-europa/ecl-logos' with { 'to': 'https://ec.europa.eu', 'title': 'Home - European Commission', 'type': 'right', 'externalClass': 'site-header__logo' } %}
    <section class="top-bar" aria-label="Site tools">
      <div class="top-bar__wrapper">
        {% include '@ec-europa/ecl-lang-select-sites' %}
        <section class="block-nexteuropa-europa-search clearfix">
          <div class="block__content">
            {% include '@ec-europa/ecl-search-forms' %}
          </div>
        </section>
        <section class="site-menu__toggle">
          {% include '@ec-europa/ecl-buttons-buttons' with { 'label': 'Menu', 'modifier': 'menu' } %}
        </section>
      </div>
    </section>
  </div>
</header>
{% endif %}
