{#
  - variant: can be '','homepage' (default: '')
#}

{# Internal properties #}

{% set _css_class = 'ecl-site-header' ~ (variant != '' ? ' ecl-site-header--' ~ variant: '') %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}
<header class="{{ _css_class }}" {{ _extra_attributes }} role="banner">
  <div class="ecl-container ecl-site-header__container">
    {% include '@ec-europa/ecl-logos' with { 'to': 'https://ec.europa.eu', 'title': 'Home - European Commission', 'type': 'right', 'extra_class': 'ecl-site-header__logo' } only %}
    <section class="ecl-site-header__top-bar" aria-label="Site tools">
      {% include '@ec-europa/ecl-lang-select-sites' with {
        'extra_class': 'ecl-site-header__lang-select-sites'
      } %}
      {% include '@ec-europa/ecl-search-forms' %}
    </section>
  </div>
</header>
