{#
  For site switcher:
    - "site_switcher" (object) {
      - "political":  {
        - "href" (string): target of the link (default: '')
        - "label" (string): label of the link (default: '')
        - "is_active" (boolean): set active link (default: false)
      }
      - "info":  {
        - "href" (string): target of the link (default: '')
        - "label" (string): label of the link (default: '')
        - "is_active" (boolean): set active link (default: false)
      }
    }

  For user menu:
    - "user_menu" (object){
      - "title" (string): the title of the user menu (default: 'Navigation')
      - "links" (array): [
        - "href" (string): target of the link
        - "label" (string): label of the link
        - "is_active" (boolean): set active link
      ]
    }

  Generic:
    - "extra_classes" (string): extra CSS classes to be added
    - "extra_attributes" (array): extra attributes classes (optional, format: [{ 'name': 'name_of_the_attribute', 'value': 'value_of_the_attribute'}])
    - "languages" (array): array of languages to display
#}

{# Internal properties #}

{% set _css_class = 'ecl-site-header' %}
{% set _extra_attributes = '' %}
{% set _languages = languages|default([]) %}


{# Internal logic - Process properties #}

{% if extra_classes is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}
<header class="{{ _css_class }}" role="banner"{{ _extra_attributes }}>

  {% if user_menu is defined and user_menu is iterable %}
  <div class="ecl-container">
    {% include '@ec-europa/ecl-navigation-lists' with {
      variant: 'small',
      extra_classes: 'ecl-u-f-r'
    }|merge(user_menu) %}
  </div>
  {% endif %}

  {% if site_switcher is defined %}
  {% include '@ec-europa/ecl-site-switchers' with {
    variant: 'header'
    }|merge(site_switcher ) %}
  {% endif %}

  <div class="ecl-container ecl-site-header__banner">
    {% include '@ec-europa/ecl-logos' with {
      'to': 'https://ec.europa.eu',
      'title': 'Home - European Commission',
      'type': 'right',
      'extra_class': 'ecl-site-header__logo'
    } only %}
    {% include '@ec-europa/ecl-language-list' with {
      'extra_class': 'ecl-site-header__language-list',
      'languages': _languages,
      'variant': 'overlay',
      'messages': {
        'dismiss': 'Close',
        'heading': 'Select your language'
      }
    } %}
    {% include '@ec-europa/ecl-search-forms' with {
      'input': { 'id': 'global-search' },
      'extra_classes': 'ecl-site-header__search'
    } %}
  </div>
</header>
