/**
 * Navigation list print
 * @define navigation-list
 */

@use 'sass:map';

// Exposed variables
$theme: null !default;

// Navigation list

.ecl-navigation-list {
  margin: 0;
}

.ecl-navigation-list--col-2,
.ecl-navigation-list--col-3 {
  display: grid;
  grid-auto-rows: auto;
  grid-column-gap: map.get($theme, 'grid', 'gutter');
  grid-row-gap: map.get($theme, 'spacing-print', 'xl');
  width: 100%;
}

.ecl-navigation-list--col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.ecl-navigation-list--col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.ecl-navigation-list__image {
  display: none;
}
