/**
 * Contextual navigation
 * @define contextual-navigation
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-contextual-navigation(
  $label-color: $ecl-color-black-100,
  $separator-color: $ecl-color-grey-50
) {
  .ecl-contextual-navigation {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .ecl-contextual-navigation__label {
    color: $label-color;
    font: $ecl-font-m;
  }

  .ecl-contextual-navigation__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    margin-top: $ecl-spacing-s;
    padding-left: 0;
  }

  .ecl-contextual-navigation__item {
    border-right: 1px solid $separator-color;
    display: block;
    margin-right: $ecl-spacing-s;
    padding-right: $ecl-spacing-s;
  }

  .ecl-contextual-navigation__item:last-child {
    border-right-width: 0;
    margin-right: 0;
    padding-right: 0;
  }

  .ecl-contextual-navigation__item--collapsed {
    display: none;

    .no-js & {
      display: block;
    }
  }

  .ecl-contextual-navigation__item--more {
    .no-js & {
      display: none;
    }
  }

  .ecl-contextual-navigation__list[aria-expanded='true'] {
    .ecl-contextual-navigation__item--collapsed {
      display: block;
    }
  }

  .ecl-contextual-navigation__more {
    font-weight: $ecl-font-weight-regular;
    line-height: 1;
    padding: 0;

    &:hover {
      color: $ecl-color-black-100;
    }

    &:focus {
      color: $ecl-color-black-100;
      outline-offset: 2px;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('sm') {
    .ecl-contextual-navigation {
      flex-direction: row;
    }

    .ecl-contextual-navigation__label {
      margin-right: $ecl-spacing-4-xl;
    }

    .ecl-contextual-navigation__list {
      margin-top: 0;
    }
  }
}

// Use mixin
@include exports('ec-component-contextual-navigation') {
  @include ecl-contextual-navigation;
}
