{#
  This is an example and should not be used as it is.
#}

<div class="ecl-container ecl-u-mv-l">
  <div class="ecl-row ecl-u-mb-l">
    <div class="ecl-col">
      {% include '@ecl/eu-component-search-form' with { 'variant': 'internal' } only %}
    </div>
  </div>
  <div class="ecl-row">
    <aside class="ecl-col-lg-3" role="complementary">
      <h3 class="ecl-heading ecl-heading--h3">Filter by</h3>
        {% embed '@ecl/eu-component-form-form' with { 'extra_attributes': [{ 'name': 'action', 'value': '#' }, { 'name': 'method', 'value': 'get'  }, { 'name': 'id', 'value': 'form-filter' } ] } only %}
          {% block form %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-label' with { 'label': 'Keyword', 'for_attribute': 'filter-keywords' } only %}
                {% include '@ecl/eu-component-form-text-input' with {
                  'type': 'text',
                  'name': 'keywords',
                  'id': 'filter-keywords',
                  'extra_attributes': [
                    { 'value': '', 'size': '30', 'maxlength': '128' }
                  ]
                } only %}
              {% endblock %}
            {% endembed %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-label' with { 'label': 'Topic', 'for_attribute': 'filter-topic' } only %}
                {% embed '@ecl/eu-component-form-select' with { 'name': 'topic', 'id': 'filter-topic' } only %}
                  {% block options %}
                    <option value="0">Any topic</option>
                    <option value="354">Banking and financial services</option>
                    <option value="369">Environment</option>
                    <option value="382">Research and innovation</option>
                  {% endblock %}
                {% endembed %}
              {% endblock %}
            {% endembed %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-label' with { 'label': 'Location', 'for_attribute': 'filter-location' } only %}
                {% embed '@ecl/eu-component-form-select' with { 'name': 'location', 'id': 'filter-location' } only %}
                  {% block options %}
                  <option value="0">Any country</option>
                  <option value="BE">Belgium</option>
                  <option value="ES">Spain</option>
                  <option value="RO">Romania</option>
                  <option value="IT">Italy</option>
                  <option value="PT">Portugal</option>
                  <option value="HR">Croatia</option>
                  <option value="FI">Finland</option>
                  <option value="DE">Germany</option>
                  <option value="IE">Ireland</option>
                  <option value="PL">Poland</option>
                  <option value="BG">Bulgaria</option>
                  <option value="GR">Greece</option>
                  <option value="NL">Netherlands</option>
                  <option value="SK">Slovakia</option>
                  <option value="SE">Sweden</option>
                  <option value="EE">Estonia</option>
                  <option value="AT">Austria</option>
                  <option value="CY">Cyprus</option>
                  <option value="DK">Denmark</option>
                  <option value="FR">France</option>
                  <option value="HU">Hungary</option>
                  <option value="LV">Latvia</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MT">Malta</option>
                  {% endblock %}
                {% endembed %}
              {% endblock %}
            {% endembed %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-checkbox' with {
                  'name': 'event_is_online',
                  'id': 'event_is_online',
                  'label': 'Online only events'
                } only %}
              {% endblock %}
            {% endembed %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-checkbox' with {
                  'name': 'event_is_live_streaming',
                  'id': 'event_is_live_streaming',
                  'label': 'Events with live streaming available',
                  'checked': true
                } only %}
              {% endblock %}
            {% endembed %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-label' with { 'label': 'Organiser', 'for_attribute': 'filter-organiser' } only %}
                {% embed '@ecl/eu-component-form-select' with { 'name': 'organiser', 'id': 'filter-organiser' } only %}
                  {% block options %}
                    <option value="0">Any organiser</option>
                    <option value="881">Financial Stability, Financial Services and Capital Markets Union</option>
                    <option value="932">Translation</option>
                    <option value="189">Internal Audit Service</option>
                    <option value="746">Interpretation</option>
                  {% endblock %}
                {% endembed %}
              {% endblock %}
            {% endembed %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-label' with { 'label': 'After', 'for_attribute': 'filter-after' } only %}
                {% include '@ecl/eu-component-datepicker' with { 'id': 'filter-after' } only %}
              {% endblock %}
            {% endembed %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-label' with { 'label': 'Before', 'for_attribute': 'filter-before' } only %}
                {% include '@ecl/eu-component-datepicker' with { 'id': 'filter-before' } only %}
              {% endblock %}
            {% endembed %}
            {% embed '@ecl/eu-component-form-form-group' with {} only %}
              {% block form_group %}
                {% include '@ecl/eu-component-form-label' with { 'label': 'Collection', 'for_attribute': 'filter-collection' } only %}
                {% embed '@ecl/eu-component-form-select' with { 'name': 'collection', 'id': 'filter-collection' } only %}
                  {% block options %}
                    <option value="0">Any collection</option>
                    <option value="2065">Citizens' Dialogues</option>
                    <option value="48422">Cities events</option>
                    <option value="35343">FISMA Events collectoin</option>
                    <option value="54309">Sustainable Development Goals</option>
                  {% endblock %}
                {% endembed %}
              {% endblock %}
            {% endembed %}
            {% include '@ecl/eu-component-button' with {
              'modifier': 'primary',
              'label': 'Refine results',
              'is_block': true,
              'extra_classes': 'ecl-u-mt-s',
              'extra_attributes': [
                { 'name': 'value', 'value': 'Refine results'},
                { 'name': 'type', 'value': 'submit'}
              ]
            } only %}
            {% include '@ecl/eu-component-button' with {
              'modifier': 'default',
              'label': 'Clear filters',
              'is_block': true,
              'extra_classes': 'ecl-u-mt-s',
              'extra_attributes': [
                { 'name': 'value', 'value': 'Clear filters'},
                { 'name': 'type', 'value': 'reset'}
              ]
            } only %}
          {% endblock %}
        {% endembed %}
        <h3 class="ecl-heading ecl-heading--h3">Filter by topic</h3>
        <p class="ecl-paragraph">Custom component</p>
    </aside>
    <section class="ecl-col-lg-9">
      <div class="ecl-heading ecl-heading--h2 ecl-u-mb-m">Events (90)</div>
      {% include '@ecl/eu-component-tag' with {
        'modifier': 'facet-close',
        'label': 'Live streaming available',
        'tags': [{ 'value': 'Yes', 'href': '../../example.html#remove-filter' }]
      } only %}
      <section class="ecl-u-mv-m">CONTENT HERE</section>
      {% include '@ecl/eu-component-pager' with {
        'current_page': 1,
        'max_page': 20
      } only %}
    </section>
  </div>
</div>
