

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    

<!-- Button collapse -->

<div style="margin-top:1rem">
  










  
                                



  <button type="button" class="ecl-button ecl-button--default ecl-expandable__button" aria-controls="example-expandable-1" aria-expanded="false" data-label-expanded="Hide me" data-label-collapsed="What is this all about?" id="example-expandable-button-1">What is this all about?</button>
  <div
    aria-hidden="true"
    aria-labelledby="example-expandable-button-1"
    class="ecl-u-aria"
    id="example-expandable-1"
  >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
  </div>
</div>

<!-- Expandable link -->

<div style="margin-top:1rem">
  <a
    aria-controls="example-expandable-2"
    aria-expanded="false"
    class="ecl-link ecl-expandable__button"
    href="#"
    id="example-expandable-button-2"
  >
    Expandable link
  </a>
  <div
    aria-hidden="true"
    aria-labelledby="example-expandable-button-2"
    class="ecl-u-aria"
    id="example-expandable-2"
  >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
  </div>
</div>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
        <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        ECL.initExpandables('#example-expandable-button-1, #example-expandable-button-2');
      });
    </script>
      </body>
</html>

