

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    
      <!-- Start: @ec-component-featured-item--default -->

      <h3 class="ecl-heading ecl-heading--h3">Featured item
</h3>

      <div class="ecl-featured-item">
  <div class="ecl-featured-item__image">
    <img src="../../assets/demo_images/technics-demo-1.jpg" alt="Technic picture" class="ecl-image ecl-image--fluid" />
  </div>
  <div class="ecl-featured-item__body">
    













  <div class="ecl-meta" >
          <span class="ecl-meta__item">announcement</span>
          <span class="ecl-meta__item">21 December 2016</span>
      </div>
    






        
  



<a class="ecl-link ecl-link--standalone ecl-featured-item__title" href="../../example.html#featured-item-1">Energy Union tour</a>
          <p class="ecl-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue quis est dignissim lacinia. Curabitur interdum iaculis sagittis. Maecenas sodales elit est, et suscipit nisl vulputate eget. Mauris vel pulvinar odio. Sed diam turpis, cursus vel congue vel, lobortis a ipsum. Donec vel quam nec enim tristique efficitur at eget nisl.
      </p>
          </div>
</div>

      <!-- End: @ec-component-featured-item--default -->

    

      <!-- Start: @ec-component-featured-item--extended -->

      <h3 class="ecl-heading ecl-heading--h3">Featured item extended
</h3>

      <div class="ecl-featured-item  ecl-featured-item--extended">
  <div class="ecl-featured-item__image">
    <img src="../../assets/demo_images/technics-demo-1.jpg" alt="Technic picture" class="ecl-image ecl-image--fluid" />
  </div>
  <div class="ecl-featured-item__body">
    








  




  <div class="ecl-meta ecl-meta--extended" >
          <span class="ecl-meta__item">announcement</span>
          <span class="ecl-meta__item">21 December 2016</span>
      </div>
    






        
  



<a class="ecl-link ecl-link--standalone ecl-featured-item__title" href="../../example.html#featured-item-2">Energy Union tour</a>
          <p class="ecl-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue quis est dignissim lacinia. Curabitur interdum iaculis sagittis. Maecenas sodales elit est, et suscipit nisl vulputate eget. Mauris vel pulvinar odio. Sed diam turpis, cursus vel congue vel, lobortis a ipsum. Donec vel quam nec enim tristique efficitur at eget nisl.
      </p>
            <a href="../../example.html#featured-item-2" class="ecl-button ecl-button--call ecl-button--caret-right">See more</a>
      </div>
</div>

      <!-- End: @ec-component-featured-item--extended -->

    
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

