

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    












<div class="ecl-context-nav">
  <span class="ecl-context-nav__label">Label for contextual nav</span>
    <ul class="ecl-context-nav__list">
        <li class="ecl-context-nav__item">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#">Item one</a>
    </li>
        <li class="ecl-context-nav__item">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#">Item two</a>
    </li>
        <li class="ecl-context-nav__item">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#">Item three</a>
    </li>
        <li class="ecl-context-nav__item">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#">Item four</a>
    </li>
        <li class="ecl-context-nav__item ecl-context-nav__item--over-limit">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#">Item five</a>
    </li>
        <li class="ecl-context-nav__item ecl-context-nav__item--over-limit">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#">Item six</a>
    </li>
        <li class="ecl-context-nav__item ecl-context-nav__item--over-limit">
      






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#">Item seven</a>
    </li>
            <li class="ecl-context-nav__item ecl-context-nav__more">
      









  
  




  <button type="submit" class="ecl-button ecl-button--none ecl-button--caret-right ecl-context-nav__button ecl-link ecl-link--standalone">More</button>
    </li>
      </ul>
  </div>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () { ECL.contextualNavs(); });</script>
      </body>
</html>

