

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    
      <!-- Start: @ec-component-form-select--default -->

      <label for="example-select-id-1">Default select list
</label>

      <select
  class="ecl-select"
  id="example-select-id-1"
  name="default-name"
  
><option value="1">Delhi</option><option value="2">Hong Kong</option><option value="3">Mumbai</option><option value="4">Tokyo</option><option value="5">Amsterdam</option></select>

      <!-- End: @ec-component-form-select--default -->

    

      <!-- Start: @ec-component-form-select--disabled -->

      <label for="example-selectid-2">Disabled select list
</label>

      <select
  class="ecl-select"
  id="example-selectid-2"
  name="default-name"
   disabled
><option value="1">Delhi</option><option value="2">Hong Kong</option><option value="3">Mumbai</option><option value="4">Tokyo</option><option value="5">Amsterdam</option></select>

      <!-- End: @ec-component-form-select--disabled -->

    

      <!-- Start: @ec-component-form-select--with-error -->

      <label for="example-select-id-3">Select list with error
</label>

      <select
  class="ecl-select ecl-select--has-error"
  id="example-select-id-3"
  name="default-name"
  
><option value="1">Delhi</option><option value="2">Hong Kong</option><option value="3">Mumbai</option><option value="4">Tokyo</option><option value="5">Amsterdam</option></select>

      <!-- End: @ec-component-form-select--with-error -->

    
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

