

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    












<nav class="ecl-pager" aria-label="Pagination navigation">
  <ul class="ecl-pager__list">
          <li class="ecl-pager__item ecl-pager__item--previous">
        <a class="ecl-pager__link" title="Go to previous page" href="/page=6">‹ Previous</a>
      </li>
              <li class="ecl-pager__item ecl-pager__item--first">
        <a class="ecl-pager__link" title="Go to page 1" href="/page=1">
          <span class="ecl-u-sr-only" >Page </span>1
        </a>
      </li>
              <li class="ecl-pager__item ecl-pager__item--ellipsis">…</li>
              <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 5" href="/page=5">
          <span class="ecl-u-sr-only" >Page </span>5
        </a>
      </li>
              <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 6" href="/page=6">
          <span class="ecl-u-sr-only" >Page </span>6
        </a>
      </li>
        <li class="ecl-pager__item ecl-pager__item--current" aria-current="true">
      <span class="ecl-pager__item-text" >Page</span> 7
    </li>
          <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 8" href="/page=8">
          <span class="ecl-u-sr-only" >Page </span>8
        </a>
      </li>
              <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 9" href="/page=9">
          <span class="ecl-u-sr-only" >Page </span>9
        </a>
      </li>
              <li class="ecl-pager__item ecl-pager__item--ellipsis">…</li>
              <li class="ecl-pager__item ecl-pager__item--last">
        <a class="ecl-pager__link" title="Go to page 20" href="/page=20">
          <span class="ecl-u-sr-only" >Page </span>20
        </a>
      </li>
              <li class="ecl-pager__item ecl-pager__item--next">
        <a class="ecl-pager__link" title="Go to next page" href="/page=8">Next ›</a>
      </li>
      </ul>
</nav>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

