

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="ecl-typography">
    <main>
      
<!-- Button dropdown -->
<div class="ecl-dropdown" id="dropdown1">
  










  
                    


  <button type="button" class="ecl-button ecl-button--default ecl-expandable__button" aria-controls="example-button-dropdown1" aria-expanded="false" id="example-expandable-button1">Create</button>
  








  
                    


<div class="ecl-link-block ecl-dropdown__body" id="example-button-dropdown1" aria-labelledby="example-expandable-button1" aria-hidden="true">
        <ul class="ecl-link-block__list">
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Article</a>
        </li>
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Page</a>
        </li>
              <li class="ecl-link-block__item">
          






        
  



<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Community</a>
        </li>
          </ul>
  </div>
</div>

    </main>
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
        <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        ECL.initExpandables('#example-expandable-button1');
        ECL.dropdown('#dropdown1');
      });
    </script>
      </body>
</html>

