

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  





<div class="ecl-page-header ecl-page-header--default">
  <div class="ecl-container">
          










<nav class="ecl-breadcrumb" aria-label="breadcrumb">
  <span class="ecl-u-sr-only">You are here:</span>
  <ol class="ecl-breadcrumb__segments-wrapper">
        <li class="ecl-breadcrumb__segment ecl-breadcrumb__segment--first">
            






                            
  



<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumb__link" href="../../example.html#">Home</a>
          </li>
        <li class="ecl-breadcrumb__segment">
            






                            
  



<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumb__link" href="../../example.html#">Announcements</a>
          </li>
        <li class="ecl-breadcrumb__segment ecl-breadcrumb__segment--last">
            <span>Business, Economy, Euro</span>
          </li>
      </ol>
</nav>
     
          






  




<section class="ecl-lang-select-page ecl-lang-select-page--primary">
  <span class="ecl-icon ecl-icon--generic-lang ecl-lang-select-page__icon"></span>
  <span class="ecl-lang-select-page__unavailable">français</span>
  <select class="ecl-lang-select-page__dropdown" aria-label="Choose your language">
    <option class="ecl-lang-select-page__dropdown-option" value="" selected>Nederlands</option>
          <option class="ecl-lang-select-page__dropdown-option" value="en" lang="en">English</option>
          <option class="ecl-lang-select-page__dropdown-option" value="hr" lang="hr">hrvatski</option>
          <option class="ecl-lang-select-page__dropdown-option" value="it" lang="it">italiano</option>
          <option class="ecl-lang-select-page__dropdown-option" value="lv" lang="lv">latviesu</option>
          <option class="ecl-lang-select-page__dropdown-option" value="hu" lang="hu">magyar</option>
      </select>
  <ul class="ecl-lang-select-page__list">
    <li class="ecl-lang-select-page__option ecl-lang-select-page__option--is-selected">Nederlands</li>
        <li class="ecl-lang-select-page__option">
                                






        

                    


<a class="ecl-link ecl-link--inverted" href="/en" hreflang="en" lang="en" rel="alternate">English</a>
    </li>
        <li class="ecl-lang-select-page__option">
                                






        

                    


<a class="ecl-link ecl-link--inverted" href="/hr" hreflang="hr" lang="hr" rel="alternate">hrvatski</a>
    </li>
        <li class="ecl-lang-select-page__option">
                                






        

                    


<a class="ecl-link ecl-link--inverted" href="/it" hreflang="it" lang="it" rel="alternate">italiano</a>
    </li>
        <li class="ecl-lang-select-page__option">
                                






        

                    


<a class="ecl-link ecl-link--inverted" href="/lv" hreflang="lv" lang="lv" rel="alternate">latviesu</a>
    </li>
        <li class="ecl-lang-select-page__option">
                                






        

                    


<a class="ecl-link ecl-link--inverted" href="/hu" hreflang="hu" lang="hu" rel="alternate">magyar</a>
    </li>
      </ul>
</section>
     
        <div class="ecl-page-header__body">
              <div class="ecl-page-header__identity">
          Site identity
        </div>
                    <div class="ecl-page-header__meta">
          






  




  <div class="ecl-meta ecl-meta--header" >
          <span class="ecl-meta__item">News article</span>
          <span class="ecl-meta__item">6 July 2015</span>
          <span class="ecl-meta__item">Brussels</span>
      </div>
        </div>
                    <div class="ecl-page-header__title">
          <h1 class="ecl-heading ecl-heading--h1 ecl-u-color-white">Business, Economy, Euro</h1>
        </div>
                    <p class="ecl-page-header__intro">EU economy, finance and the euro, and practical information for EU businesses and entrepreneurs on product safety, environmental regulations, trade with non-EU countries and competition rules.</p>
          </div>
      </div>
</div>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () { 
          ECL.initBreadcrumb();
        });</script>
      </body>
</html>

