

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    
      <!-- Start: @ec-component-link--default -->

      <div>Lorem ipsum, <a class="ecl-link" href="../../example.html#">in-line link</a> consectetur adipiscing elit</div>

      <!-- End: @ec-component-link--default -->

    

      <!-- Start: @ec-component-link--external -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--external" href="../../example.html#">external link</a> consectetur adipiscing elit</div>

      <!-- End: @ec-component-link--external -->

    

      <!-- Start: @ec-component-link--standalone -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--standalone" href="../../example.html#">standalone link</a> consectetur adipiscing elit</div>

      <!-- End: @ec-component-link--standalone -->

    

      <!-- Start: @ec-component-link--inverted -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--inverted ecl-u-bg-shade" href="../../example.html#">inverted link</a> consectetur adipiscing elit</div>

      <!-- End: @ec-component-link--inverted -->

    

      <!-- Start: @ec-component-link--all -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--all" href="../../example.html#">all link</a> consectetur adipiscing elit</div>

      <!-- End: @ec-component-link--all -->

    

      <!-- Start: @ec-component-link--more -->

      <div>Lorem ipsum, <a class="ecl-link ecl-link--more" href="../../example.html#">more link</a> consectetur adipiscing elit</div>

      <!-- End: @ec-component-link--more -->

    
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

