

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout for tables</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  



<table class="ecl-table ecl-table--responsive">
      <thead>
                        <tr>
                          <th scope="col" rowspan="2"></th>
                          <th scope="col" rowspan="2">Registration date</th>
                          <th scope="col" colspan="3">Language</th>
                      </tr>
                                <tr>
                          <th scope="col" >English</th>
                          <th scope="col" >French</th>
                          <th scope="col" >German</th>
                      </tr>
                  </thead>
        <tbody>
                        <tr>
                          <td >John Doe</td>
                          <td >01/01/2016</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                                <tr>
                          <td >Jane Doe</td>
                          <td >06/12/2016</td>
                          <td >no</td>
                          <td >yes</td>
                          <td >yes</td>
                      </tr>
                                <tr>
                          <td >Jack Doe</td>
                          <td >03/05/2017</td>
                          <td >yes</td>
                          <td >no</td>
                          <td >no</td>
                      </tr>
                  </tbody>
  </table>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.eclTables();
      });</script>
    
    <!-- Tables is collated to better demonstrate differences between default and enhanced -->
    <!-- i.e. _target is per element before and yield does not suffice to load 1 instantiation before ecl-ec-preset-website.js -->
    <!-- More https://fractal.build/guide/components/preview-layouts -->
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
  ECL.eclTables();
});
</script>
  </body>
</html>

