

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  





<div class="ecl-page-header ecl-page-header--default">
  <div class="ecl-container">
          










<nav class="ecl-breadcrumb" aria-label="breadcrumb">
  <span class="ecl-u-sr-only">You are here:</span>
  <ol class="ecl-breadcrumb__segments-wrapper">
        <li class="ecl-breadcrumb__segment ecl-breadcrumb__segment--first">
            






                            
  



<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumb__link" href="../../example.html#">Home</a>
          </li>
        <li class="ecl-breadcrumb__segment">
            






                            
  



<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumb__link" href="../../example.html#">Announcements</a>
          </li>
        <li class="ecl-breadcrumb__segment ecl-breadcrumb__segment--last">
            <span>Business, Economy, Euro</span>
          </li>
      </ol>
</nav>
     
     
        <div class="ecl-page-header__body">
              <div class="ecl-page-header__identity">
          Site identity
        </div>
                            </div>
      </div>
</div>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () { 
          ECL.initBreadcrumb();
        });</script>
      </body>
</html>

