

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    
      <!-- Start: @ec-component-label--upcoming -->

      <h3 class="ecl-heading ecl-heading--h3">Upcoming
</h3>

      <span class="ecl-label ecl-label--upcoming">Call status: upcoming</span>

      <!-- End: @ec-component-label--upcoming -->

    

      <!-- Start: @ec-component-label--open -->

      <h3 class="ecl-heading ecl-heading--h3">Open / Highlight 
</h3>

      <span class="ecl-label ecl-label--open">Call status: open</span>

      <!-- End: @ec-component-label--open -->

    

      <!-- Start: @ec-component-label--close -->

      <h3 class="ecl-heading ecl-heading--h3">Closed
</h3>

      <span class="ecl-label ecl-label--close">Call status: closed</span>

      <!-- End: @ec-component-label--close -->

    
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

