

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    
      <!-- Start: @ec-component-form-checkbox--default -->

      <div class="ecl-u-mv-s">

      <label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="example-checkbox-id-1" value="some value" name="example-checkbox-name-1" /><span class="ecl-checkbox__label">Normal checkbox</span></label>

      </div>

      <!-- End: @ec-component-form-checkbox--default -->

    

      <!-- Start: @ec-component-form-checkbox--disabled -->

      <div class="ecl-u-mv-s">

      <label class="ecl-form-label ecl-checkbox ecl-checkbox--is-disabled"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="example-checkbox-id-2" value="some value" name="example-checkbox-name-2" disabled /><span class="ecl-checkbox__label">Disabled checkbox</span></label>

      </div>

      <!-- End: @ec-component-form-checkbox--disabled -->

    

      <!-- Start: @ec-component-form-checkbox--with-error -->

      <div class="ecl-u-mv-s">

      <label class="ecl-form-label ecl-checkbox ecl-checkbox--has-error"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="example-checkbox-id-3" value="some value" name="example-checkbox-name-3" /><span class="ecl-checkbox__label">Checkbox with error</span></label>

      </div>

      <!-- End: @ec-component-form-checkbox--with-error -->

    

      <!-- Start: @ec-component-form-checkbox--checked -->

      <div class="ecl-u-mv-s">

      <label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="example-checkbox-id-4" value="some value" name="example-checkbox-name-4" checked /><span class="ecl-checkbox__label">Checked by default</span></label>

      </div>

      <!-- End: @ec-component-form-checkbox--checked -->

    
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

