

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    






      






  <div class="ecl-banner ecl-banner--hero">
    <img class="ecl-image ecl-image--fluid ecl-banner__image" src="../../assets/demo_images/nature-demo-1.jpg" role="presentation" />
    <div class="ecl-banner__content">
      <h3 class="ecl-heading ecl-heading--h3 ecl-banner__title">
        






        




<a class="ecl-link ecl-link--standalone" href="../../example.html#hero-banner">White Paper on the future of Europe</a>
      </h3>
      <p class="ecl-paragraph ecl-banner__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
  </div>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

