

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    
      <!-- Start: @ec-component-list-item--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default list item
</h3>

      <ul class="ecl-list--unstyled"><li class="ecl-list-item">
  <a href="../../example.html#list-item-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













  <div class="ecl-meta" >
          <span class="ecl-meta__item">Service department</span>
          <span class="ecl-meta__item">PMO</span>
      </div>
                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Administration and Payment of Individual Entitlements</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li></ul>

      <!-- End: @ec-component-list-item--default -->

    

      <!-- Start: @ec-component-list-item--date -->

      <h3 class="ecl-heading ecl-heading--h3">Date list item
</h3>

      <ul class="ecl-list--unstyled"><li class="ecl-list-item ecl-list-item--date">
  <a href="../../example.html#list-item-2" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
          <div class="ecl-list-item__primary">
                  













<div class="ecl-date-block">
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
            <span class="ecl-date-block__day">07</span>
            <span class="ecl-date-block__month">Sep</span>
          </div>
</div>
              </div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Citizens' Dialogue in Kraków with Commissioner Elżbieta Bieńkowska</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  <small><span class="ecl-icon ecl-icon--location">Kraków, Poland</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li></ul>

      <!-- End: @ec-component-list-item--date -->

    

      <!-- Start: @ec-component-list-item--thumbnail -->

      <h3 class="ecl-heading ecl-heading--h3">Thumbnail list item
</h3>

      <ul class="ecl-list--unstyled"><li class="ecl-list-item">
  <a href="../../example.html#list-item-3" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
          <div class="ecl-list-item__primary">
                  









  



<img
  class="ecl-image ecl-image--fluid"  alt="Director-General John Doe"
  src="../../assets/demo_images/default_profile_image.png"
   />

              </div>
        <div class="ecl-list-item__body">
              <div class="ecl-list-item__meta">
                      













  <div class="ecl-meta" >
          <span class="ecl-meta__item">Director-General</span>
      </div>
                  </div>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">John Doe</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li></ul>

      <!-- End: @ec-component-list-item--thumbnail -->

    

      <!-- Start: @ec-component-list-item--higlight -->

      <h3 class="ecl-heading ecl-heading--h3">Highlight list item
</h3>

      <ul class="ecl-list--unstyled"><li class="ecl-list-item ecl-list-item--highlight">
  <a href="../../example.html#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
          <div class="ecl-list-item__primary">
                  









  



<img
  class="ecl-image ecl-image--fluid"  alt="Highlighted image"
  src="../../assets/demo_images/nature-demo-1.jpg"
   />

              </div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">State of European Union 2017</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li></ul>

      <!-- End: @ec-component-list-item--higlight -->

    

      <!-- Start: @ec-component-list-item--navigation -->

      <h3 class="ecl-heading ecl-heading--h3">Navigation list item
</h3>

      <ul class="ecl-list--unstyled"><li class="ecl-list-item ecl-list-item--navigation">
  <a href="../../example.html#listing-three-columns-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item: Business, Economy, Euro</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Business, Economy, Euro</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  EU economy, the euro, and practical information for EU businesses and entrepreneurs.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li></ul>

      <!-- End: @ec-component-list-item--navigation -->

    

      <!-- Start: @ec-component-list-item--block -->

      <h3 class="ecl-heading ecl-heading--h3">Block list item
</h3>

      <ul class="ecl-list--unstyled"><li class="ecl-list-item ecl-list-item--block">
  <a href="../../example.html#block-item-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>
        <div class="ecl-list-item__body">
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EU law</h3>
      <p class="ecl-list-item__detail ecl-paragraph">
                  Dolore duis elit in id voluptate nisi commodo quis.
              </p>
      <div class="ecl-list-item__action">
                  
              </div>
    </div>
      </a>
</li></ul>

      <!-- End: @ec-component-list-item--block -->

    
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

