

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="ecl-typography">
    <main>
      
      <!-- Start: @ec-component-logo--default -->

      <div class="ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Default (no language)
</h3>

        <a href="../../example.html#top" class="ecl-logo" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--default -->

    

      <!-- Start: @ec-component-logo--bulgarian-right -->

      <div class="language-bg ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Bulgarian Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--bulgarian-right -->

    

      <!-- Start: @ec-component-logo--bulgarian-below -->

      <div class="language-bg ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Bulgarian Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--bulgarian-below -->

    

      <!-- Start: @ec-component-logo--czech-right -->

      <div class="language-cs ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Czech Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--czech-right -->

    

      <!-- Start: @ec-component-logo--czech-below -->

      <div class="language-cs ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Czech Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--czech-below -->

    

      <!-- Start: @ec-component-logo--danish-right -->

      <div class="language-da ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Danish Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--danish-right -->

    

      <!-- Start: @ec-component-logo--danish-below -->

      <div class="language-da ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Danish Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--danish-below -->

    

      <!-- Start: @ec-component-logo--german-right -->

      <div class="language-de ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">German Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--german-right -->

    

      <!-- Start: @ec-component-logo--german-below -->

      <div class="language-de ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">German Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--german-below -->

    

      <!-- Start: @ec-component-logo--estonian-right -->

      <div class="language-et ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Estonian Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--estonian-right -->

    

      <!-- Start: @ec-component-logo--estonian-below -->

      <div class="language-et ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Estonian Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--estonian-below -->

    

      <!-- Start: @ec-component-logo--greek-right -->

      <div class="language-el ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Greek Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--greek-right -->

    

      <!-- Start: @ec-component-logo--greek-below -->

      <div class="language-el ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Greek Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--greek-below -->

    

      <!-- Start: @ec-component-logo--english-right -->

      <div class="language-en ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">English Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--english-right -->

    

      <!-- Start: @ec-component-logo--english-below -->

      <div class="language-en ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">English Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--english-below -->

    

      <!-- Start: @ec-component-logo--spanish-right -->

      <div class="language-es ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Spanish Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--spanish-right -->

    

      <!-- Start: @ec-component-logo--spanish-below -->

      <div class="language-es ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Spanish Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--spanish-below -->

    

      <!-- Start: @ec-component-logo--french-right -->

      <div class="language-fr ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">French Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--french-right -->

    

      <!-- Start: @ec-component-logo--french-below -->

      <div class="language-fr ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">French Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--french-below -->

    

      <!-- Start: @ec-component-logo--irish-gaeilge-right -->

      <div class="language-ga ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Irish Gaeilge Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--irish-gaeilge-right -->

    

      <!-- Start: @ec-component-logo--irish-gaeilge-below -->

      <div class="language-ga ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Irish Gaeilge Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--irish-gaeilge-below -->

    

      <!-- Start: @ec-component-logo--croatian-right -->

      <div class="language-hr ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Croatian Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--croatian-right -->

    

      <!-- Start: @ec-component-logo--croatian-below -->

      <div class="language-hr ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Croatian Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--croatian-below -->

    

      <!-- Start: @ec-component-logo--italian-right -->

      <div class="language-it ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Italian Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--italian-right -->

    

      <!-- Start: @ec-component-logo--italian-below -->

      <div class="language-it ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Italian Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--italian-below -->

    

      <!-- Start: @ec-component-logo--latvian-right -->

      <div class="language-lv ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Latvian Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--latvian-right -->

    

      <!-- Start: @ec-component-logo--latvian-below -->

      <div class="language-lv ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Latvian Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--latvian-below -->

    

      <!-- Start: @ec-component-logo--lithuanian-right -->

      <div class="language-lt ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Lithuanian Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--lithuanian-right -->

    

      <!-- Start: @ec-component-logo--lithuanian-below -->

      <div class="language-lt ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Lithuanian Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--lithuanian-below -->

    

      <!-- Start: @ec-component-logo--hungarian-right -->

      <div class="language-hu ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Hungarian Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--hungarian-right -->

    

      <!-- Start: @ec-component-logo--hungarian-below -->

      <div class="language-hu ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Hungarian Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--hungarian-below -->

    

      <!-- Start: @ec-component-logo--maltese-right -->

      <div class="language-mt ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Maltese Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--maltese-right -->

    

      <!-- Start: @ec-component-logo--maltese-below -->

      <div class="language-mt ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Maltese Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--maltese-below -->

    

      <!-- Start: @ec-component-logo--dutch-right -->

      <div class="language-nl ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Dutch Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--dutch-right -->

    

      <!-- Start: @ec-component-logo--dutch-below -->

      <div class="language-nl ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Dutch Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--dutch-below -->

    

      <!-- Start: @ec-component-logo--polish-right -->

      <div class="language-pl ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Polish Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--polish-right -->

    

      <!-- Start: @ec-component-logo--polish-below -->

      <div class="language-pl ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Polish Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--polish-below -->

    

      <!-- Start: @ec-component-logo--portuguese-right -->

      <div class="language-pt ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Portuguese Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--portuguese-right -->

    

      <!-- Start: @ec-component-logo--portuguese-below -->

      <div class="language-pt ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Portuguese Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--portuguese-below -->

    

      <!-- Start: @ec-component-logo--romanian-right -->

      <div class="language-ro ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Romanian Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--romanian-right -->

    

      <!-- Start: @ec-component-logo--romanian-below -->

      <div class="language-ro ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Romanian Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--romanian-below -->

    

      <!-- Start: @ec-component-logo--slovak-right -->

      <div class="language-sk ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Slovak Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--slovak-right -->

    

      <!-- Start: @ec-component-logo--slovak-below -->

      <div class="language-sk ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Slovak Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--slovak-below -->

    

      <!-- Start: @ec-component-logo--slovene-right -->

      <div class="language-sl ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Slovene Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--slovene-right -->

    

      <!-- Start: @ec-component-logo--slovene-below -->

      <div class="language-sl ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Slovene Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--slovene-below -->

    

      <!-- Start: @ec-component-logo--finnish-right -->

      <div class="language-fi ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Finnish Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--finnish-right -->

    

      <!-- Start: @ec-component-logo--finnish-below -->

      <div class="language-fi ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Finnish Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--finnish-below -->

    

      <!-- Start: @ec-component-logo--swedish-right -->

      <div class="language-sv ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Swedish Right
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotype" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--swedish-right -->

    

      <!-- Start: @ec-component-logo--swedish-below -->

      <div class="language-sv ecl-u-mt-l">

        <h3 class="ecl-heading ecl-heading--h3">Swedish Below
</h3>

        <a href="../../example.html#top" class="ecl-logo ecl-logo--logotypebelow" title="Home"><span class="ecl-u-sr-only">Home</span></a>
      </div>
      <!-- End: @ec-component-logo--swedish-below -->

    
    </main>
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

