

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    
      <!-- Start: @ec-component-form-file-upload--default -->

      <h3 class="ecl-heading ecl-heading--h3">Normal file upload
</h3>

      <div class="ecl-file-upload">
  <div class="ecl-file-upload__value" tabindex="0">No file selected.</div>
  <label for="example-input-id-1">
    <span class="ecl-file-upload__browse" role="button" aria-controls="example-input-id-1" tabindex="0">Browse</span>
  </label>
    <button class="ecl-file-upload__upload" tabindex="0" type="submit">
    Upload
  </button>
    <input class="ecl-file-upload__input" name="example-input-name-1" type="file" id="example-input-id-1"  >
</div>

      <!-- End: @ec-component-form-file-upload--default -->

    

      <!-- Start: @ec-component-form-file-upload--is-disabled -->

      <h3 class="ecl-heading ecl-heading--h3">Disabled file upload
</h3>

      <div class="ecl-file-upload ecl-file-upload--is-disabled">
  <div class="ecl-file-upload__value" tabindex="0">No file selected.</div>
  <label for="example-input-id-2">
    <span class="ecl-file-upload__browse" role="button" aria-controls="example-input-id-2" tabindex="0">Browse</span>
  </label>
    <input class="ecl-file-upload__input" name="example-input-name-2" type="file" id="example-input-id-2" disabled >
</div>

      <!-- End: @ec-component-form-file-upload--is-disabled -->

    

      <!-- Start: @ec-component-form-file-upload--is-multiple -->

      <h3 class="ecl-heading ecl-heading--h3">Multiple file upload
</h3>

      <div class="ecl-file-upload">
  <div class="ecl-file-upload__value" tabindex="0">No file selected.</div>
  <label for="example-input-id-3">
    <span class="ecl-file-upload__browse" role="button" aria-controls="example-input-id-3" tabindex="0">Browse</span>
  </label>
    <button class="ecl-file-upload__upload" tabindex="0" type="submit">
    Upload
  </button>
    <input class="ecl-file-upload__input" name="example-input-name-3" type="file" id="example-input-id-3"  multiple>
</div>

      <!-- End: @ec-component-form-file-upload--is-multiple -->

    

      <!-- Start: @ec-component-form-file-upload--has-error -->

      <h3 class="ecl-heading ecl-heading--h3">File upload with error
</h3>

      <div class="ecl-file-upload ecl-file-upload--has-error">
  <div class="ecl-file-upload__value" tabindex="0">No file selected.</div>
  <label for="example-input-id-4">
    <span class="ecl-file-upload__browse" role="button" aria-controls="example-input-id-4" tabindex="0">Browse</span>
  </label>
    <button class="ecl-file-upload__upload" tabindex="0" type="submit">
    Upload
  </button>
    <input class="ecl-file-upload__input" name="example-input-name-4" type="file" id="example-input-id-4"  >
</div>

      <!-- End: @ec-component-form-file-upload--has-error -->

    
    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
    <script type="text/javascript">document.addEventListener('DOMContentLoaded', function() { ECL.fileUploads(); });</script>
  </body>
</html>

