

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    








  




<div class="ecl-date-block ecl-date-block--cancelled">
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Mon</span>
            <span class="ecl-date-block__day">11</span>
            <span class="ecl-date-block__month">Jan</span>
          </div>
</div>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

