

<!DOCTYPE html>
            <html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography language-en">
    














<div class="ecl-skip-link__wrapper" id="skip-link">
  <a href="#main-content" class="ecl-skip-link">Skip to main content</a>
</div>












<div class="ecl-login-bar">
  <div class="ecl-container ecl-login-bar__container">
          <span class="ecl-login-bar__message">Logged in as Jane Doe</span>
        






        
  



<a class="ecl-link ecl-link--standalone ecl-login-bar__link" href="../../example.html#">Log out</a>
  </div>
</div>














<header class="ecl-site-header" role="banner">
      <div class="ecl-container ecl-site-header__banner">
    









        
  



  <a href="https://ec.europa.eu/info/index" class="ecl-logo ecl-logo--logotype ecl-site-header__logo" title="Home - European Commission"><span class="ecl-u-sr-only">Home - European Commission</span></a>
    









  




<div class="ecl-language-list ecl-language-list--overlay ecl-site-header__language-list">
                                                                                                                                                                                                                                                                          
    <div id="ecl-overlay-language-list" class="ecl-dialog__overlay ecl-dialog__overlay--blue" aria-hidden="true"></div>
    








  
              


<div class="ecl-lang-select-sites ecl-link" data-ecl-dialog="ecl-dialog" id="ecl-lang-select-sites__overlay">
  <a href="#" class="ecl-lang-select-sites__link">
    <span class="ecl-lang-select-sites__label">English</span>
    <span class="ecl-lang-select-sites__code">
      <span class="ecl-icon ecl-icon--language ecl-lang-select-sites__icon"></span>
      <span class="ecl-lang-select-sites__code-text">en</span>
    </span>
  </a>
</div>
    











  



<div class="ecl-dialog ecl-dialog--transparent ecl-dialog--wide" id="ecl-dialog" aria-labelledby="ecl-dialog-title" aria-describedby="ecl-dialog-description" aria-hidden="true" role="dialog">
  <h3 id="ecl-dialog-title" class="ecl-heading ecl-heading--h3 ecl-u-sr-only">Dialog</h3>
  <p id="ecl-dialog-description" class="ecl-u-sr-only"></p>
  <div class="ecl-dialog__body">
              <section>
        <div>
      <div class="ecl-container">
        <div class="ecl-row">
          <div class="ecl-col-lg-8 ecl-offset-lg-2">
                          <h2 lang="en" class="ecl-heading ecl-heading--h2 ecl-dialog__title">
                <span class="ecl-icon ecl-icon--generic-lang"></span> Select your language
              </h2>
                        <div class="ecl-row">
              <div class="ecl-col-md-6">
                                                    








  

  
                    



  <a href="index_bg" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="bg" hreflang="bg" rel="alternate">български</a>
                                                    








  

  
                    



  <a href="index_es" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="es" hreflang="es" rel="alternate">español</a>
                                                    








  

  
                    



  <a href="index_cs" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="cs" hreflang="cs" rel="alternate">čeština</a>
                                                    








  

  
                    



  <a href="index_da" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="da" hreflang="da" rel="alternate">dansk</a>
                                                    








  

  
                    



  <a href="index_de" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="de" hreflang="de" rel="alternate">Deutsch</a>
                                                    








  

  
                    



  <a href="index_et" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="et" hreflang="et" rel="alternate">eesti</a>
                                                    








  

  
                    



  <a href="index_el" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="el" hreflang="el" rel="alternate">ελληνικά</a>
                                                    








  

  
                    



  <a href="index_en" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button ecl-language-list__button--active" lang="en" hreflang="en" rel="alternate">English<span class="ecl-icon ecl-icon--check ecl-u-f-r"></span></a>
                                                    








  

  
                    



  <a href="index_fr" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="fr" hreflang="fr" rel="alternate">français</a>
                                                    








  

  
                    



  <a href="index_ga" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="ga" hreflang="ga" rel="alternate">Gaeilge</a>
                                                    








  

  
                    



  <a href="index_hr" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="hr" hreflang="hr" rel="alternate">hrvatski</a>
                                                    








  

  
                    



  <a href="index_it" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="it" hreflang="it" rel="alternate">italiano</a>
                                                  </div><div class="ecl-col-md-6">
                                    








  

  
                    



  <a href="index_lv" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="lv" hreflang="lv" rel="alternate">latviešu</a>
                                                    








  

  
                    



  <a href="index_lt" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="lt" hreflang="lt" rel="alternate">lietuvių</a>
                                                    








  

  
                    



  <a href="index_hu" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="hu" hreflang="hu" rel="alternate">magyar</a>
                                                    








  

  
                    



  <a href="index_mt" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="mt" hreflang="mt" rel="alternate">Malti</a>
                                                    








  

  
                    



  <a href="index_nl" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="nl" hreflang="nl" rel="alternate">Nederlands</a>
                                                    








  

  
                    



  <a href="index_pl" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="pl" hreflang="pl" rel="alternate">polski</a>
                                                    








  

  
                    



  <a href="index_pt" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="pt-pt" hreflang="pt" rel="alternate">português</a>
                                                    








  

  
                    



  <a href="index_ro" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="ro" hreflang="ro" rel="alternate">română</a>
                                                    








  

  
                    



  <a href="index_sk" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="sk" hreflang="sk" rel="alternate">slovenčina</a>
                                                    








  

  
                    



  <a href="index_sl" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="sl" hreflang="sl" rel="alternate">slovenščina</a>
                                                    








  

  
                    



  <a href="index_fi" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="fi" hreflang="fi" rel="alternate">suomi</a>
                                                    








  

  
                    



  <a href="index_sv" class="ecl-button ecl-button--default ecl-button--block ecl-language-list__button" lang="sv" hreflang="sv" rel="alternate">svenska</a>
                              </div>
                              <button class="ecl-dialog__dismiss ecl-dialog__dismiss--inverted">Close</button>
                          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

        </div>
  </div>
  </div>
    









  



<form class="ecl-search-form ecl-site-header__search">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    










  



<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="global-search"
  name="default-name"
  
/>
  </label>
  










  




  <button type="submit" class="ecl-button ecl-button--form ecl-search-form__button">Search</button>
</form>
  </div>
</header>










  





<div class="ecl-page-header ecl-page-header--default">
  <div class="ecl-container">
          










<nav class="ecl-breadcrumb" aria-label="breadcrumb">
  <span class="ecl-u-sr-only">You are here:</span>
  <ol class="ecl-breadcrumb__segments-wrapper">
        <li class="ecl-breadcrumb__segment ecl-breadcrumb__segment--first">
            






                            
  



<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumb__link" href="https://ec.europa.eu/info/index">Home</a>
          </li>
        <li class="ecl-breadcrumb__segment">
            






                            
  



<a class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumb__link" href="../../example.html#">Example</a>
          </li>
        <li class="ecl-breadcrumb__segment ecl-breadcrumb__segment--last">
            <span>Business, Economy, Euro</span>
          </li>
      </ol>
</nav>
     
     
        <div class="ecl-page-header__body">
                          <div class="ecl-page-header__title">
          <h1 class="ecl-heading ecl-heading--h1 ecl-u-color-white">Business, Economy, Euro</h1>
        </div>
                    <p class="ecl-page-header__intro">EU economy, finance and the euro, and practical information for EU businesses and entrepreneurs on product safety, environmental regulations, trade with non-EU countries and competition rules.</p>
          </div>
      </div>
</div>

<main id="main-content">
  <div class="ecl-container ecl-u-mv-l">
    <h1 class="ecl-heading ecl-heading--h1">Page example</h1>
    <p class="ecl-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor elit, sagittis eu ante eu, tempor tempus lorem. Quisque auctor leo id tempor pulvinar. Nunc sapien orci, eleifend nec magna ac, feugiat viverra orci. Nulla efficitur nisl vitae risus pretium, sit amet aliquam dolor volutpat. Donec risus elit, congue at porta eget, posuere vitae ipsum. Nulla iaculis magna a lorem dignissim consequat. Praesent mattis libero ac tortor efficitur porta. In congue elementum nunc, vitae accumsan turpis dictum non.</p>
    <p class="ecl-paragraph">Integer convallis quis magna et dapibus. Aenean id lectus vitae nulla fringilla gravida sed id mauris. Aliquam commodo erat sit amet nisi mollis, ut suscipit dolor eleifend. Fusce at malesuada lorem. Ut rutrum nibh massa, sed tincidunt nibh pretium id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed porttitor turpis a efficitur posuere. Integer eu est sodales, ornare elit ac, congue leo. Sed condimentum faucibus fermentum. Fusce aliquet ut enim euismod feugiat. Fusce nec interdum metus, id finibus nisl.</p>
  </div>
</main>






      <footer class="ecl-footer">
        <div class="ecl-footer__corporate">
      <div class="ecl-footer__corporate-top">
  <div class="ecl-container">
    <div class="ecl-row">
            <div class="ecl-footer__column ecl-col-md">
        <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-about-ec">European Commission</h2>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-about-ec">
                      <li class="ecl-footer__list-item">
              






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://ec.europa.eu/info/index">European Commission website</a>
            </li>
                  </ul>
      </div>
                  <div class="ecl-footer__column ecl-col-md">
        <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-social-media">Follow the European Commission</h2>
        <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-footer__list ecl-footer__list--inline  ecl-footer__social-links" aria-labelledby="footer-corporate-social-media">
                      <li class="ecl-footer__list-item">
                              






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="../../example.html#">                    <span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span><span>Facebook</span>                  </a>
                          </li>
                      <li class="ecl-footer__list-item">
                              






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="../../example.html#">                    <span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span><span>Twitter</span>                  </a>
                          </li>
                      <li class="ecl-footer__list-item">
                              






                            
  



<a class="ecl-link ecl-link--inverted ecl-link--external ecl-footer__link" href="../../example.html#">Other social media</a>
                          </li>
                  </ul>
      </div>
                  <div class="ecl-footer__column ecl-col-md">
        <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-about-eu">European Union</h2>
        <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-about-eu">
                      <li class="ecl-footer__list-item">
              






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="../../example.html#">EU institutions</a>
            </li>
                      <li class="ecl-footer__list-item">
              






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="../../example.html#">European Union</a>
            </li>
                  </ul>
      </div>
          </div>
  </div>
</div>
<div class="ecl-footer__corporate-bottom">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col">
                <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-footer__list ecl-footer__list--inline">
                    <li class="ecl-footer__list-item">
            






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/about-commissions-new-web-presence_en">About the Commission's new web presence</a>
          </li>
                    <li class="ecl-footer__list-item">
            






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://ec.europa.eu/info/language-policy_en">Language policy</a>
          </li>
                    <li class="ecl-footer__list-item">
            






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/resources-partners_en">Resources for partners</a>
          </li>
                    <li class="ecl-footer__list-item">
            






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/cookies_en">Cookies</a>
          </li>
                    <li class="ecl-footer__list-item">
            






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://ec.europa.eu/info/privacy-policy_en">Privacy policy</a>
          </li>
                    <li class="ecl-footer__list-item">
            






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/legal-notice_en">Legal notice</a>
          </li>
                    <li class="ecl-footer__list-item">
            






        
  



<a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/contact_en">Contact</a>
          </li>
                  </ul>
              </div>
    </div>
  </div>
</div>

    </div>
  </footer>


    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
            ECL.initBreadcrumb();
            ECL.dialogs({
              dialogOverlayId: 'ecl-overlay-language-list',
              triggerElementsSelector: '#ecl-lang-select-sites__overlay'
            });
          });</script>
      </body>
</html>

