

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="stylesheet" href="../../ec-preset-website/styles/ecl-ec-preset-website.css">
  </head>
  <body class="ecl-typography">
    <p>
  <span class="ecl-u-fs-xxl">ecl-u-fs-xxl</span><br/>
  <span class="ecl-u-fs-xl">ecl-u-fs-xl</span><br/>
  <span class="ecl-u-fs-l">ecl-u-fs-l</span><br/>
  <span class="ecl-u-fs-m">ecl-u-fs-m</span><br/>
  <span class="ecl-u-fs-s">ecl-u-fs-s</span><br/>
  <span class="ecl-u-fs-xs">ecl-u-fs-xs</span><br />
  <span class="ecl-u-fs-xxs">ecl-u-fs-xxs</span>
</p>

    <script src="../../ec-preset-website/scripts/ecl-ec-preset-website.js"></script>
      </body>
</html>

