/**
 * Featured item component
 * @define featured-item
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-featured-item() {
  .ecl-featured-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .ecl-featured-item__image {
    box-sizing: border-box;
    margin-bottom: map-get($ecl-spacing, 's');
  }

  .ecl-featured-item__title {
    color: $ecl-color-shade;
    display: block;
    font-size: map-get($ecl-font-size, 'l');
    font-weight: bold;
    margin-top: map-get($ecl-spacing, 's');
  }

  .ecl-featured-item--extended {
    background-color: map-get($ecl-colors, 'grey-10');
    border-left: map-get($ecl-spacing, 'xxs') solid $ecl-color-secondary;
    padding: map-get($ecl-spacing, 'xs');
  }

  // Desktop display
  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-featured-item {
      flex-direction: row;
    }

    .ecl-featured-item__image {
      margin-bottom: 0;
      padding-right: map-get($ecl-spacing, 'm');
      width: 40%;
    }
  }
}
