/*
 * Breadcrumbs standardised
 * @define breadcrumb-standardised
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

$_background-color: transparent;
$_background-color-hover: map.get(theme.$color, 'blue-5');
$_link-color: map.get(theme.$color, 'blue');
$_last-link-color: map.get(theme.$color, 'grey-75');
$_border-color: map.get(theme.$color, 'blue-25');

.ecl-breadcrumb-standardised {
  background-color: $_background-color;
  margin: 0;
}

.ecl-breadcrumb-standardised__container {
  border-bottom: 1px solid $_border-color;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 calc(#{map.get(theme.$spacing, 'm')} - 1px);

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.ecl-breadcrumb-standardised__segment {
  align-items: center;
  display: inline-flex;
  font: map.get(theme.$font, 's');
  margin-top: map.get(theme.$spacing, 'm');
  max-width: 100%;

  &[aria-hidden='true'] {
    position: absolute;
    visibility: hidden;

    /* Force display if JS is disabled */
    /* stylelint-disable-next-line max-nesting-depth */
    .no-js & {
      position: static;
      visibility: visible;
    }
  }
}

.ecl-breadcrumb-standardised__segment--ellipsis {
  &[aria-hidden='false'] {
    /* Force hide if JS is disabled */
    /* stylelint-disable-next-line max-nesting-depth */
    .no-js & {
      display: none;
    }
  }
}

.ecl-breadcrumb-standardised__ellipsis {
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  color: $_link-color;
  font-weight: map.get(theme.$font-weight, 'bold');
  margin: 0;
  padding: 0;

  &:hover {
    background-color: $_background-color-hover;
  }

  &:focus {
    outline: 3px solid map.get(theme.$color, 'yellow-100');
    outline-offset: 2px;
  }
}

.ecl-breadcrumb-standardised__link {
  color: $_link-color;
  font-weight: map.get(theme.$font-weight, 'bold');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $_link-color;
  }
}

.ecl-breadcrumb-standardised__icon {
  fill: $_link-color;
  flex-shrink: 0;
  margin-left: map.get(theme.$spacing, 'xs');
  margin-right: map.get(theme.$spacing, 'xs');
  vertical-align: text-bottom;
}

.ecl-breadcrumb-standardised__current-page {
  color: $_last-link-color;
  font-weight: map.get(theme.$font-weight, 'bold');
}
