/**
 * Checkbox component
 * @define checkbox
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-checkbox($icon-size: 1.5em) {
  .ecl-checkbox {
    display: block;
    font-size: map-get($ecl-font-size, 'm');
    margin: 0;
    padding: 0;
  }

  .ecl-checkbox--is-disabled {
    color: map-get($ecl-colors, 'grey-75');
    cursor: not-allowed;
  }

  .ecl-checkbox__label {
    align-items: center;
    display: inline-flex;

    &::before {
      background: #fff url($ecl-assets-path+'images/checkbox-unchecked.svg')
        no-repeat;
      border: 3px solid transparent;
      border-radius: 25%;
      box-sizing: border-box;
      content: '';
      display: block;
      flex-shrink: 0;
      height: $icon-size;
      margin-right: map-get($ecl-spacing, 'xxs');
      width: $icon-size;
    }
  }

  .ecl-checkbox--has-error .ecl-checkbox__label::before {
    border-color: $ecl-color-error;
  }

  .ecl-checkbox--is-disabled .ecl-checkbox__label::before {
    box-shadow: 0 0 $icon-size map-get($ecl-colors, 'grey-15') inset;
  }

  .ecl-checkbox__input:checked + .ecl-checkbox__label::before {
    background-image: url($ecl-assets-path+'images/checkbox-checked--blue.svg');
  }

  .ecl-checkbox__input:focus + .ecl-checkbox__label::before {
    border-color: map-get($ecl-colors, 'yellow-100');
  }
}
