/**
 * Page Banner component
 * @define page-banner; weak
 */

// Import base
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-component-button', 'ec-component-link'));

@mixin ecl-page-banner(
  // common
    $content-width: 42.5rem,
  // primary
    $primary-background-color: $ecl-color-primary,
  $primary-meta-color: $ecl-color-white,
  $primary-title-color: $ecl-color-white,
  $primary-baseline-color: $ecl-color-white,
  // grey
    $grey-background-color: $ecl-color-grey-5,
  $grey-meta-color: $ecl-color-grey-75,
  $grey-title-color: $ecl-color-black,
  $grey-baseline-color: $ecl-color-grey,
  // white
    $white-background-color: $ecl-color-white,
  $white-meta-color: $ecl-color-grey-75,
  $white-title-color: $ecl-color-black,
  $white-baseline-color: $ecl-color-grey,
  // background image
    $bg-image-meta-color: $ecl-color-white,
  $bg-image-title-color: $ecl-color-white,
  $bg-image-baseline-color: $ecl-color-white,
  // image
    $image-background-color: $ecl-color-white,
  $image-meta-color: $ecl-color-grey-75,
  $image-title-color: $ecl-color-black,
  $image-baseline-color: $ecl-color-grey,
  $image-border-color: $ecl-color-yellow,
  // image shade
    $image-shade-background-color: $ecl-color-primary,
  $image-shade-overlay-color: rgba(0, 0, 0, 0.7),
  $image-shade-meta-color: $ecl-color-white,
  $image-shade-title-color: $ecl-color-white,
  $image-shade-baseline-color: $ecl-color-white,
  $image-shade-border-color: $ecl-color-yellow
) {
  .ecl-page-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    position: relative;
  }

  .ecl-page-banner__container {
    display: flex;
    padding-bottom: $ecl-spacing-l;
    padding-top: $ecl-spacing-l;
    width: 100%;
  }

  .ecl-page-banner__content {
    box-sizing: content-box;
    display: block;
  }

  .ecl-page-banner__image {
    background-size: cover;
    height: (1/4) * 100vw;
    position: relative;
    width: 100%;
  }

  .ecl-page-banner__meta {
    font: $ecl-font-m;
    margin-bottom: $ecl-spacing-m;
    text-transform: uppercase;
  }

  .ecl-page-banner__title {
    font: $ecl-font-3-xl;
    margin: 0;
  }

  .ecl-page-banner__baseline {
    font: $ecl-font-l;
    margin-top: $ecl-spacing-s;
  }

  /* DEPRECATED */
  .ecl-page-banner__button {
    margin-top: $ecl-spacing-m;
  }

  /* DEPRECATED */
  .ecl-page-banner__link {
    font-weight: $ecl-font-weight-bold;
    margin-top: $ecl-spacing-m;
    padding: $ecl-spacing-m $ecl-spacing-s;
  }

  .ecl-page-banner__link-cta {
    margin-top: $ecl-spacing-m;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('lg') {
    .ecl-page-banner__content {
      max-width: $content-width;
    }

    .ecl-page-banner__title {
      font: $ecl-font-4-xl;
    }

    .ecl-page-banner__baseline {
      font: $ecl-font-xl;
    }

    .ecl-page-banner__button {
      margin-top: $ecl-spacing-l;
    }
  }

  /*
   * centered
   */
  .ecl-page-banner--centered {
    .ecl-page-banner__container {
      justify-content: center;
    }

    .ecl-page-banner__content {
      text-align: center;
    }
  }

  /*
   * variant: primary
   */
  .ecl-page-banner--primary {
    background-color: $primary-background-color;

    .ecl-page-banner__meta {
      color: $primary-meta-color;
    }

    .ecl-page-banner__title {
      color: $primary-title-color;
    }

    .ecl-page-banner__baseline {
      color: $primary-baseline-color;
    }

    /* DEPRECATED */
    .ecl-page-banner__link,
    .ecl-page-banner__link:hover,
    .ecl-page-banner__link:focus {
      color: $primary-baseline-color;
    }
  }

  /*
   * variant: grey
   */
  .ecl-page-banner--default, // DEPRECATED
  .ecl-page-banner--grey {
    background-color: $grey-background-color;

    .ecl-page-banner__meta {
      color: $grey-meta-color;
    }

    .ecl-page-banner__title {
      color: $grey-title-color;
    }

    .ecl-page-banner__baseline {
      color: $grey-baseline-color;
    }
  }

  /*
   * variant: white
   */
  .ecl-page-banner--white {
    background-color: $white-background-color;

    .ecl-page-banner__meta {
      color: $white-meta-color;
    }

    .ecl-page-banner__title {
      color: $white-title-color;
    }

    .ecl-page-banner__baseline {
      color: $white-baseline-color;
    }
  }

  /*
   * variant: background image
   */
  .ecl-page-banner--background-image {
    background-position: 0 0;
    background-size: cover;

    .ecl-page-banner__meta {
      color: $bg-image-meta-color;
    }

    .ecl-page-banner__title {
      color: $bg-image-title-color;
    }

    .ecl-page-banner__baseline {
      color: $bg-image-baseline-color;
    }
  }

  /*
   * variant: image
   */
  .ecl-page-banner--image {
    background-color: $image-background-color;

    .ecl-page-banner__image {
      border-bottom: 4px solid $image-border-color;
    }

    .ecl-page-banner__content {
      padding-top: calc(#{$ecl-spacing-l} - 4px);
    }

    .ecl-page-banner__meta {
      color: $image-meta-color;
    }

    .ecl-page-banner__title {
      color: $image-title-color;
    }

    .ecl-page-banner__baseline {
      color: $image-baseline-color;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-page-banner--image {
      .ecl-page-banner__content {
        padding: calc(#{$ecl-spacing-xl} - 4px) $ecl-spacing-xl $ecl-spacing-xl;
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('lg') {
    .ecl-page-banner--image {
      // manage ratio 4:1
      &::before {
        content: '';
        display: block;
        padding-top: (1 / 4) * 100%;
        width: 100%;
      }

      .ecl-page-banner__image {
        border-bottom-width: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
      }

      .ecl-container {
        position: absolute;
      }

      .ecl-page-banner__container {
        padding-bottom: 0;
        padding-top: 0;
      }

      .ecl-page-banner__content {
        background-color: $image-background-color;
        border-bottom: 4px solid $image-border-color;
        padding: $ecl-spacing-xl $ecl-spacing-xl calc(#{$ecl-spacing-xl} - 4px);
      }
    }
  }

  /*
   * variant: image-shade
   */
  .ecl-page-banner--image-shade {
    background-color: $image-shade-background-color;

    .ecl-page-banner__image {
      border-bottom: 4px solid $image-shade-border-color;
    }

    .ecl-page-banner__meta {
      color: $image-shade-meta-color;
    }

    .ecl-page-banner__title {
      color: $image-shade-title-color;
    }

    .ecl-page-banner__baseline {
      color: $image-shade-baseline-color;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('lg') {
    .ecl-page-banner--image-shade {
      // manage ratio 4:1
      &::before {
        content: '';
        display: block;
        padding-top: (1 / 4) * 100%;
        width: 100%;
      }

      .ecl-page-banner__image {
        border-bottom-width: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
      }

      .ecl-page-banner__image::before {
        background-color: $image-shade-overlay-color;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .ecl-container {
        position: absolute;
      }

      .ecl-page-banner__container {
        padding-bottom: 0;
        padding-top: 0;
      }

      .ecl-page-banner__content {
        padding: $ecl-spacing-xl $ecl-spacing-xl calc(#{$ecl-spacing-xl} - 4px);
      }
    }
  }
}

// Use  mixin
@include exports('ec-component-page-banner') {
  @include ecl-page-banner();
}
