/**
 * File
 * @define file
 */

// Import base and mixin
@import '@ecl/generic-base/generic-base';
@import '@ecl/generic-style-icon/variables';
@import '@ecl/generic-style-icon/mixins';

$generic-component-file-line-height: 1.3;
$generic-component-file-title-line-height: $generic-component-file-line-height;
$generic-component-file-title-font-size: map-get($ecl-font-size, 'm');
$generic-component-file-info-line-height: $generic-component-file-line-height;
$generic-component-file-info-font-size: map-get($ecl-font-size, 'xs');
$generic-component-file-info-margin-top: map-get($ecl-spacing, 'xxxs');
$generic-component-file-title-height: $generic-component-file-title-line-height *
  $generic-component-file-title-font-size;
$generic-component-file-info-height: $generic-component-file-info-line-height *
  $generic-component-file-info-font-size;
$generic-component-file-metadata-height: $generic-component-file-title-height +
  $generic-component-file-info-height + $generic-component-file-info-margin-top;

@mixin ecl-file(
  $line-height: $generic-component-file-line-height,
  $title-line-height: $generic-component-file-title-line-height,
  $title-font-size: $generic-component-file-title-font-size,
  $info-line-height: $generic-component-file-info-line-height,
  $info-font-size: $generic-component-file-info-font-size,
  $info-margin-top: $generic-component-file-info-margin-top,
  $icon-padding-top: 0.2rem,
  $icon-padding-bottom: 0.1rem,
  $title-height: $generic-component-file-title-height,
  $info-height: $generic-component-file-info-height,
  $metadata-height: $generic-component-file-metadata-height
) {
  // Default display
  .ecl-file {
    @include ecl-hidden-print();

    color: $ecl-color-shade;
    margin: 0;
  }

  .ecl-file__body {
    background-color: map-get($ecl-colors, 'grey-10');
    padding: map-get($ecl-spacing, 'm');
  }

  .ecl-file__icon {
    float: left;
    padding-bottom: $icon-padding-bottom;
    padding-top: $icon-padding-top;

    &::before {
      color: map-get($ecl-colors, 'grey-50');
      font-size: $metadata-height - $icon-padding-top - $icon-padding-bottom;
      line-height: 1;
      margin-right: map-get($ecl-spacing, 'xxxs');
    }
  }

  .ecl-file__title {
    font-size: $title-font-size;
    font-weight: bold;
    line-height: $title-line-height;
  }

  .ecl-file__info {
    font-size: $info-font-size;
    line-height: $line-height;
    margin-top: $info-margin-top;
  }

  .ecl-file__language {
    display: inline-block;
    font-weight: bold;
  }

  .ecl-file__properties {
    display: inline-block;
  }

  .ecl-file__download {
    margin: map-get($ecl-font-size, 'xs') auto 0;
    text-align: center;

    &::after {
      @include ecl-icon--after();

      @include ecl-icon('download');

      margin-left: 0.8em;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    .ecl-file__download {
      margin-top: 0;
    }
  }

  // With translations

  .ecl-file__translations {
    text-align: right;
  }

  .ecl-file__translations-toggle {
    font-weight: normal;
  }

  .ecl-file__translations-toggle[aria-expanded='false'] {
    &::after {
      @include ecl-icon--after();

      @include ecl-icon('down');

      margin-left: 0.8em;
    }
  }

  .ecl-file__translations-toggle[aria-expanded='true'] {
    &::after {
      @include ecl-icon--after();

      @include ecl-icon('up');

      margin-left: 0.8em;
    }
  }

  .ecl-file__translations-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
  }

  .ecl-file__translations-item {
    border-top: 1px solid map-get($ecl-colors, 'grey-50');
    display: flex;
    flex-direction: column;
    padding-bottom: map-get($ecl-spacing, 'xxs');
    padding-top: map-get($ecl-spacing, 'xxs');

    &:last-child {
      border-bottom: 1px solid map-get($ecl-colors, 'grey-50');
    }
  }

  .ecl-file__translations-metadata {
    flex-grow: 1;
  }

  .ecl-file__translations-title {
    font-size: map-get($ecl-font-size, 's');
    font-weight: bold;
  }

  .ecl-file__translations-info {
    font-size: map-get($ecl-font-size, 'xs');
    margin-top: map-get($ecl-spacing, 'xxs');
  }

  .ecl-file__translations-download {
    align-self: flex-start;
    font-weight: normal;
    margin-left: -1rem;

    &::after {
      @include ecl-icon--after();

      @include ecl-icon('download');

      margin-left: 0.8em;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    .ecl-file__translations-item {
      flex-direction: row;
    }

    .ecl-file__translations-download {
      align-self: flex-end;
      margin-left: 0;
    }
  }

  // Link file
  .ecl-file__link-container {
    border-top: 1px solid map-get($ecl-colors, 'grey-15');
    padding: map-get($ecl-spacing, 's') 0;

    &:last-child {
      border-bottom: 1px solid map-get($ecl-colors, 'grey-15');
    }
  }

  .ecl-file__link {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;

    .ecl-file__icon {
      padding: 0;

      /*
      Ugly hacks: set icons' size manually
     */

      /* stylelint-disable-next-line */
      &::before {
        font-size: 2.7rem;
      }

      /* stylelint-disable-next-line */
      &.ecl-icon--slides::before {
        font-size: 2.1rem;
      }

      /* stylelint-disable-next-line */
      &.ecl-icon--image::before {
        font-size: 1.8rem;
      }
    }

    .ecl-file__title {
      margin-left: map-get($ecl-spacing, 'xxxs');
      text-decoration: underline;
    }
  }

  /* stylelint-disable-next-line */
  .ecl-file__link.ecl-link--external::after,
  .ecl-file__type {
    border-left: 2px solid map-get($ecl-colors, 'grey-50');
    color: map-get($ecl-colors, 'grey-100');
    font-weight: bold;
    margin-left: map-get($ecl-spacing, 'xxxs');
    padding-left: map-get($ecl-spacing, 'xxxs');
    text-transform: uppercase;
  }

  // Image and video file
  .ecl-file__image,
  .ecl-file__video {
    border: 0;
    box-sizing: border-box;
    display: block;
    height: auto;
    width: 100%;
  }

  .ecl-file__caption {
    background-color: map-get($ecl-colors, 'grey-10');
    display: block;
    font-size: map-get($ecl-font-size, 'xs');
    line-height: $line-height;
    padding: map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'xs');
  }

  /* stylelint-disable */
  [class^='ecl-u-ratio'] iframe.ecl-file__video,
  [class*=' ecl-u-ratio'] iframe.ecl-file__video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
