$ecl-blockquote-border-width: 0.625rem;

@mixin blockquote-container() {
  border-left: $ecl-blockquote-border-width solid $ecl-color-secondary;
  margin: 0;
  padding: $ecl-spacing-m 0 $ecl-spacing-m $ecl-spacing-l;
}

@mixin blockquote-body() {
  color: $ecl-color-text;
  font: $ecl-font-prolonged-m;
  font-style: italic;
  margin: 0;
  max-width: 85ch; // Limit to ~85 chars max
  quotes: '\201C''\201D';

  @include ecl-media-breakpoint-up(md) {
    font: $ecl-font-prolonged-xl;
    font-style: italic;
  }

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

@mixin blockquote-attribution() {
  margin-top: $ecl-spacing-l;

  @include ecl-media-breakpoint-up(md) {
    margin-top: $ecl-spacing-xl;
  }
}

@mixin blockquote-author() {
  color: #000;
  font: $ecl-font-prolonged-m;
  font-weight: $ecl-font-weight-bold;

  @include ecl-media-breakpoint-up(md) {
    font: $ecl-font-prolonged-l;
    font-weight: $ecl-font-weight-bold;
  }

  &::before {
    content: '\2014\2009'; /* Em dash followed by thin space */
  }
}
