/**
 * Blockquote
 * @define blockquote
 */

// Import base and mixins
@import '@ecl/eu-base/eu-base';

@mixin ecl-blockquote($border-width: 0.625rem) {
  .ecl-blockquote {
    border-left: $border-width solid $ecl-color-yellow;
    margin: 0;
    padding: $ecl-spacing-m 0 $ecl-spacing-m $ecl-spacing-l;
  }

  .ecl-blockquote__body {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-m;
    font-style: italic;
    margin: 0;
    max-width: 85ch; // Limit to ~85 chars max
    quotes: '\201C''\201D';

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  .ecl-blockquote__attribution {
    font: $ecl-font-prolonged-m;
    margin-top: $ecl-spacing-l;
  }

  .ecl-blockquote__author {
    color: $ecl-color-black;
    font: $ecl-font-prolonged-m;
    font-weight: $ecl-font-weight-bold;

    &::before {
      content: '\2014\2009'; /* Em dash followed by thin space */
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-blockquote__body {
      font: $ecl-font-prolonged-xl;
      font-style: italic;
    }

    .ecl-blockquote__attribution {
      font: $ecl-font-prolonged-l;
      margin-top: $ecl-spacing-xl;
    }

    .ecl-blockquote__author {
      font: $ecl-font-prolonged-l;
      font-weight: $ecl-font-weight-bold;
    }
  }
}

// Use mixin
@include exports('eu-component-blockquote') {
  @include ecl-blockquote;
}
