/**
 * Blockquote
 * @define blockquote
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-blockquote-print() {
  .ecl-blockquote {
    margin: 0;
  }

  .ecl-blockquote__body {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-print-l;
    font-style: italic;
    margin: 0;
    quotes: '\201C''\201D';

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  .ecl-blockquote__attribution {
    margin-top: $ecl-spacing-print-xl;
  }

  .ecl-blockquote__author {
    color: $ecl-color-black-100;
    font: $ecl-font-prolonged-print-m;
    font-weight: $ecl-font-weight-print-bold;

    &::before {
      content: '\2014\2009';
    }
  }
}

// Use mixin
@include exports('eu-component-blockquote-print') {
  @include ecl-blockquote-print;
}
