<ul
  class="ecl-tag-set"
  data-ecl-auto-init="Slider"
  data-ecl-slider-variant="fluid"
  data-ecl-prev-label="Prev"
  data-ecl-next-label="Next"
>
  <li class="ecl-tag-set__item">
    <a href="./example#22wqx" class="ecl-tag">Lorem ipsum dolor sit Tag 1</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#kymrf" class="ecl-tag"
      >Lorem ipsum dolor sit amet consectetur ut labore. 2</a
    >
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv61p" class="ecl-tag">Link tag 3</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv610" class="ecl-tag">Lorem ipsum dolor sit Tag 4</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv61i" class="ecl-tag"
      >Lorem ipsum dolor sit amet consectetur ut labore. 5</a
    >
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv613" class="ecl-tag">Link tag 6</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv617" class="ecl-tag">Lorem ipsum dolor sit Tag 7</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv61m" class="ecl-tag">Link tag 8</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv61l" class="ecl-tag">Link tag 9</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv61h" class="ecl-tag">Lorem ipsum dolor sit Tag 10</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv61g" class="ecl-tag">Link tag 11</a>
  </li>
  <li class="ecl-tag-set__item">
    <a href="./example#hv61f" class="ecl-tag">Link tag 12</a>
  </li>
</ul>
