/**
 * Slider pager
 * @define slider
 */

@use 'sass:map';
@use '@ecl/mixins-color/mixins' as mixins-color;

// Exposed variables
$theme: null !default;
$slider: null !default;

.ecl-slider__pager {
  display: flex;
  align-items: center;
}

.ecl-slider__prev {
  margin-inline-end: auto;
}

.ecl-slider__next {
  margin-inline-start: auto;
}

.ecl-slider__play {
  display: none;
}

.ecl-slider__pause {
  display: flex;
}

.ecl-slider__dots {
  .ecl-slider__dot {
    background: map.get($slider, 'dot-background');
    border: none !important;
    border-radius: 50%;
    cursor: pointer;
    height: 0.5rem;
    margin-inline-end: map.get($slider, 'dot-spacing');
    min-height: 0;
    min-width: 0;
    padding: 0;
    width: 0.5rem;

    @include mixins-color.focus-default;
  }

  .ecl-slider__dot--active {
    border-radius: map.get($theme, 'border-radius', 'l');
    width: 2.5rem;
    background: map.get($slider, 'dot-active-background');
  }

  .ecl-slider__dot--active + .ecl-slider__dot,
  .ecl-slider__dot.is-prev {
    border-radius: map.get($theme, 'border-radius', 'm');
    width: 1rem;
  }
}
