{% if variant is defined and variant == 'aligned' %}

<div class="ecl-field ecl-field--{{ variant }}">
  <div class="ecl-field__body">{{ body }}</div>
</div>

{% else %}

<div class="ecl-field">
  <div class="ecl-field__label">{{ label }}</div>
  <div class="ecl-field__body">{{ body }}</div>
</div>

{% endif %}
