

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="form-group">
  <div class="checkbox">
    <input type="checkbox" id="cb-example-1" value="">
    <label for="cb-example-1"></label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="cb-example-2" value="" checked="checked">
    <label for="cb-example-2"></label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="cb-example-3" value="">
    <label for="cb-example-3">Unchecked with label</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="cb-example-4" value="" checked="checked">
    <label for="cb-example-4">Checked with label</label>
  </div>
</div>

    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

