

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <!-- Start: @atom-messages--default -->
<div class="alert alert-block messages  ">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h3><span class="sr-only">Info message</span>Some title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @atom-messages--default -->

<!-- Start: @atom-messages--info -->
<div class="alert alert-block messages info messages--icon-center">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h3><span class="sr-only">Info message</span>Some info title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @atom-messages--info -->

<!-- Start: @atom-messages--warning -->
<div class="alert alert-block messages warning messages--icon-center">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h3><span class="sr-only">Warning message</span>Some warning title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @atom-messages--warning -->

<!-- Start: @atom-messages--status -->
<div class="alert alert-block messages status messages--icon-center">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h3><span class="sr-only">Status message</span>Some status title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @atom-messages--status -->

<!-- Start: @atom-messages--error -->
<div class="alert alert-block messages error messages--icon-center">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h3><span class="sr-only">Error message</span>Some error title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @atom-messages--error -->

<!-- Start: @atom-messages--livestream -->
<div class="alert alert-block messages live messages--icon-center">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h3><span class="sr-only">Livestream message</span>Some livestream title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>
<!-- End: @atom-messages--livestream -->

    </main>
    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

