

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="alert alert-block messages info messages--icon-center">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h3><span class="sr-only">Info message</span>Some info title</h3>
  <p>Lorem ipsum lor sit amet, consectetur adipi</p>
</div>

    </main>
    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

