

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <form>
  <div class="form-group">
    <label for="field-ID-1">Default Field</label>
    <p class="help-block">This is some placeholder help text.</p>
    <input type="text" name="field-name-1" id="field-ID-1" class="form-control" placeholder="Some placeholder text."/>
  </div>
</form>

    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

