

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <!-- Start: @atom-logotype--english -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--english -->

<!-- Start: @atom-logotype--english -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-en">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--english -->

<!-- Start: @atom-logotype--bulgarian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-bg">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--bulgarian -->

<!-- Start: @atom-logotype--czech -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-cs">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--czech -->

<!-- Start: @atom-logotype--danish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-da">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--danish -->

<!-- Start: @atom-logotype--german -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-de">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--german -->

<!-- Start: @atom-logotype--estonian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-et">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--estonian -->

<!-- Start: @atom-logotype--greek -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-el">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--greek -->

<!-- Start: @atom-logotype--spanish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-es">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--spanish -->

<!-- Start: @atom-logotype--french -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-fr">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--french -->

<!-- Start: @atom-logotype--irish/gaeilge -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-ga">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--irish/gaeilge -->

<!-- Start: @atom-logotype--croatian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-hr">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--croatian -->

<!-- Start: @atom-logotype--italian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-it">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--italian -->

<!-- Start: @atom-logotype--latvian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-lv">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--latvian -->

<!-- Start: @atom-logotype--lithuanian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-lt">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--lithuanian -->

<!-- Start: @atom-logotype--hungarian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-hu">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--hungarian -->

<!-- Start: @atom-logotype--maltese -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-mt">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--maltese -->

<!-- Start: @atom-logotype--dutch -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-nl">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--dutch -->

<!-- Start: @atom-logotype--polish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-pl">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--polish -->

<!-- Start: @atom-logotype--portuguese -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-pt">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--portuguese -->

<!-- Start: @atom-logotype--romanian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-ro">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--romanian -->

<!-- Start: @atom-logotype--slovak -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sk">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--slovak -->

<!-- Start: @atom-logotype--slovene -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sl">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--slovene -->

<!-- Start: @atom-logotype--finnish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-fi">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--finnish -->

<!-- Start: @atom-logotype--swedish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sv">
    <a href="link-to-homepage" class="logo--logotype" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotype--swedish -->

    </main>
    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

