

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <!-- Start: @atom-logotypebelow--english -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--english -->

<!-- Start: @atom-logotypebelow--english -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-en">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--english -->

<!-- Start: @atom-logotypebelow--bulgarian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-bg">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--bulgarian -->

<!-- Start: @atom-logotypebelow--czech -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-cs">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--czech -->

<!-- Start: @atom-logotypebelow--danish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-da">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--danish -->

<!-- Start: @atom-logotypebelow--german -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-de">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--german -->

<!-- Start: @atom-logotypebelow--estonian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-et">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--estonian -->

<!-- Start: @atom-logotypebelow--greek -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-el">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--greek -->

<!-- Start: @atom-logotypebelow--spanish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-es">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--spanish -->

<!-- Start: @atom-logotypebelow--french -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-fr">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--french -->

<!-- Start: @atom-logotypebelow--irish/gaeilge -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-ga">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--irish/gaeilge -->

<!-- Start: @atom-logotypebelow--croatian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-hr">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--croatian -->

<!-- Start: @atom-logotypebelow--italian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-it">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--italian -->

<!-- Start: @atom-logotypebelow--latvian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-lv">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--latvian -->

<!-- Start: @atom-logotypebelow--lithuanian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-lt">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--lithuanian -->

<!-- Start: @atom-logotypebelow--hungarian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-hu">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--hungarian -->

<!-- Start: @atom-logotypebelow--maltese -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-mt">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--maltese -->

<!-- Start: @atom-logotypebelow--dutch -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-nl">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--dutch -->

<!-- Start: @atom-logotypebelow--polish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-pl">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--polish -->

<!-- Start: @atom-logotypebelow--portuguese -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-pt">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--portuguese -->

<!-- Start: @atom-logotypebelow--romanian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-ro">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--romanian -->

<!-- Start: @atom-logotypebelow--slovak -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sk">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--slovak -->

<!-- Start: @atom-logotypebelow--slovene -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sl">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--slovene -->

<!-- Start: @atom-logotypebelow--finnish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-fi">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--finnish -->

<!-- Start: @atom-logotypebelow--swedish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sv">
    <a href="#link-to-homepage" class="logo--logotypebelow" title="Home"><span class="sr-only">Home</span></a>
  </div>
</div>
<!-- End: @atom-logotypebelow--swedish -->

    </main>
    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

