

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="banner banner--quote">
  <div class="banner__quote">
    <blockquote class="blockquote blockquote--small">
      <span class="blockquote__open"></span>
      Nullam eget gravida sapien. Curabitur nec ligula varius tellus blandit auctor in non felis.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      Pellentesque in volutpat eros, ut fringilla tortor.
      <span class="blockquote__close"></span>
    </blockquote>
  </div>
  <span class="banner__author">
    President Juncker
  </span>
</div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

