

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="">
    <main>
      <!-- Start: @buttons-inputs--ctn -->
<input type="button" class="btn btn-ctn" value="input[type='button']">
<!-- End: @buttons-inputs--ctn -->

<!-- Start: @buttons-inputs--ctn--border -->
<input type="button" class="btn btn-ctn--border" value="input[type='button']">
<!-- End: @buttons-inputs--ctn--border -->

<!-- Start: @buttons-inputs--default -->
<input type="button" class="btn btn-default" value="input[type='button']">
<!-- End: @buttons-inputs--default -->

<!-- Start: @buttons-inputs--menu -->
<input type="button" class="btn btn-menu" value="input[type='button']">
<!-- End: @buttons-inputs--menu -->

<!-- Start: @buttons-inputs--primary -->
<input type="button" class="btn btn-primary" value="input[type='button']">
<!-- End: @buttons-inputs--primary -->

<!-- Start: @buttons-inputs--secondary -->
<input type="button" class="btn btn-secondary" value="input[type='button']">
<!-- End: @buttons-inputs--secondary -->

    </main>
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

