

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="ecl-page-header " >
  <div class="ecl-page-header__body">
    <!-- Page introduction (mandatory) -->
    <div class="ecl-page-header__intro ">
      <p>EU economy, finance and the euro, and practical information for EU businesses and entrepreneurs on product safety, environmental regulations, trade with non-EU countries and competition rules.</p>
    </div>
  </div>
</div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

