

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    






  




<ul class="ecl-listing ecl-listing--two-columns" >


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Director-General John Doe"
  src="../../assets/demo_images/default_profile_image.png"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  
    <span class="ecl-meta__item">Director-General</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">John Doe</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Deputy Director-General Jane Doe"
  src="../../assets/demo_images/default_profile_image.png"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  
    <span class="ecl-meta__item">Deputy Director-General</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Jane Doe</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Acting Deputy Director-General Jack Doe"
  src="../../assets/demo_images/default_profile_image.png"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  
    <span class="ecl-meta__item">Acting Deputy Director-General</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Jack Doe</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

