

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    
  
<!-- Images -->
<section class="ecl-file ecl-file--image">
  <img class="ecl-file__image" src="http://placehold.it/450x250" alt="placeholder image">
  <div class="ecl-file__caption">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
</section>

  

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

