

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    
      <!-- Start: @ecl-listings--one-column -->

      <h3 class="ecl-heading ecl-heading--h3">One column listing
</h3>

      <ul class="ecl-listing" >


  






  
  




<li class="ecl-list-item ecl-list-item--date" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  




<div class="ecl-date-block ecl-date-block--date" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
    
        <span class="ecl-date-block__day">07</span>
    
        <span class="ecl-date-block__month">Sep</span>
    
      </div>
</div>
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--date" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Citizens' Dialogue in Bucharest with Commissioner Corina Crețu and the President of the European Committee of the Regions Karl-Heinz Lambertz</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <small><span class="ecl-icon ecl-icon--location">Bucharest, Romania</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  






  
  




<li class="ecl-list-item ecl-list-item--date" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  




<div class="ecl-date-block ecl-date-block--date" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
    
        <span class="ecl-date-block__day">08</span>
    
        <span class="ecl-date-block__month">Sep</span>
    
      </div>
</div>
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--date" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Citizens' Dialogue in Kraków with Commissioner Elżbieta Bieńkowska</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <small><span class="ecl-icon ecl-icon--location">Kraków, Poland</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  






  
  




<li class="ecl-list-item ecl-list-item--date" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  




<div class="ecl-date-block ecl-date-block--date" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
    
        <span class="ecl-date-block__day">14</span>
    
        <span class="ecl-date-block__month">Sep</span>
    
      </div>
</div>
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--date" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Citizens' Dialogue in Tallin with Vice-President Jyrki Katainen</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <small><span class="ecl-icon ecl-icon--location">Tallin, Estonia</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

      <!-- End: @ecl-listings--one-column -->

    

      <!-- Start: @ecl-listings--two-columns -->

      <h3 class="ecl-heading ecl-heading--h3">Two columns listing
</h3>

      <ul class="ecl-listing ecl-listing--two-columns" >


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              








<img
    alt="Director-General John Doe"
  src="http://lorempixel.com/output/business-q-c-160-160-10.jpg"
   />
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  
    <span class="ecl-meta__item">Director-General</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">John Doe</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              








<img
    alt="Deputy Director-General Jane Doe"
  src="http://lorempixel.com/output/business-q-c-160-160-10.jpg"
   />
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  
    <span class="ecl-meta__item">Deputy Director-General</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Jane Doe</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              








<img
    alt="Acting Deputy Director-General Jack Doe"
  src="http://lorempixel.com/output/business-q-c-160-160-10.jpg"
   />
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  
    <span class="ecl-meta__item">Acting Deputy Director-General</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Jack Doe</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

      <!-- End: @ecl-listings--two-columns -->

    

      <!-- Start: @ecl-listings--three-columns -->

      <h3 class="ecl-heading ecl-heading--h3">Three columns listing
</h3>

      <ul class="ecl-listing ecl-listing--three-columns" >


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Business, Economy, Euro</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  EU economy, the euro, and practical information for EU businesses and entrepreneurs.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">About the European Union</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  The EU and its institutions, how to visit and work at the EU.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Live, Work, Travel in EU</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Advice on living, working or travelling in the EU, on visas and immigration for non-EU citizens, European culture.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Funding, Tenders</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  EU funding, grants, tenders, and how to apply.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Law</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  EU law and judgments, how EU law is applied, public consultations, data protection, infringements, fraud, serious crime.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Research and innovation</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Research funding, partners, results, and EU action to promote innovation.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

      <!-- End: @ecl-listings--three-columns -->

    
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

