

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    









  
        


<label for="example-textarea-id-2" id="example-textarea-id-2_label" aria-label="example-textarea-id-2">Disabled textarea</label>
<textarea
  name="default-name"
  id="example-textarea-id-2"
  rows="4"
  class="ecl-textarea"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="example-textarea-id-2_label"
   disabled placeholder="Some placeholder text."
>
</textarea>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

