

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="ecl-message  ecl-message--success " role="alert">
  <span class="ecl-sr-only">Success message</span>

    <button type="button" class="ecl-message__dismiss" aria-label="Dismiss this alert">&times;</button>
  
    <div class="ecl-message__title">Some success title</div>
  
    <ul class="ecl-message__body ecl-list">
          <li>Lorem ipsum lor sit amet, consectetur adipi</li>
      </ul>
  </div>

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () { ECL.initMessages(); });</script>
      </body>
</html>

