

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
     <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body class="">
    <main>
      









<div class="ecl-site-switcher ecl-site-switcher--">
  <ul class="ecl-site-switcher__list ecl-container">
      <li class="ecl-site-switcher__option"><a class="ecl-link ecl-site-switcher__link" href="#">Commission and its priorities</a></li>
      <li class="ecl-site-switcher__option ecl-site-switcher__option--is-selected"><a class="ecl-link ecl-site-switcher__link" href="#">Policies, information and services</a></li>
  </ul>
</div>

    </main>
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

