

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    










<nav class="ecl-navigation-list-wrapper" >
  <h2 class="ecl-u-sr-only">Tabs Navigation Menu</h2>
  <ul class="ecl-navigation-list ecl-navigation-list--tabs">
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Home</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-navigation-list__link--active ecl-link" href="#">About Us</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">More Information</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Contact Us</a>
      </li>
      </ul>
</nav>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

