

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="">
    <main>
      <!-- Start: @ecl-buttons-links--default -->
<a href="#" class="btn btn-default">Link button</a>
<!-- End: @ecl-buttons-links--default -->

<!-- Start: @ecl-buttons-links--default -->
<a href="http://example.com" class="btn btn-default">External link button</a>
<!-- End: @ecl-buttons-links--default -->

<!-- Start: @ecl-buttons-links--primary -->
<a href="#" class="btn btn-primary">Link button</a>
<!-- End: @ecl-buttons-links--primary -->

<!-- Start: @ecl-buttons-links--primary -->
<a href="http://example.com" class="btn btn-primary">External link button</a>
<!-- End: @ecl-buttons-links--primary -->

<!-- Start: @ecl-buttons-links--secondary -->
<a href="#" class="btn btn-secondary">Link button</a>
<!-- End: @ecl-buttons-links--secondary -->

<!-- Start: @ecl-buttons-links--secondary -->
<a href="http://example.com" class="btn btn-secondary">External link button</a>
<!-- End: @ecl-buttons-links--secondary -->

<!-- Start: @ecl-buttons-links--ctn -->
<a href="#" class="btn btn-ctn">Link button</a>
<!-- End: @ecl-buttons-links--ctn -->

<!-- Start: @ecl-buttons-links--ctn -->
<a href="http://example.com" class="btn btn-ctn">External link button</a>
<!-- End: @ecl-buttons-links--ctn -->

<!-- Start: @ecl-buttons-links--ctn--border -->
<a href="#" class="btn btn-ctn--border">Link button</a>
<!-- End: @ecl-buttons-links--ctn--border -->

<!-- Start: @ecl-buttons-links--ctn--border -->
<a href="http://example.com" class="btn btn-ctn--border">External link button</a>
<!-- End: @ecl-buttons-links--ctn--border -->

<!-- Start: @ecl-buttons-links--menu -->
<a href="#" class="btn btn-menu">Link button</a>
<!-- End: @ecl-buttons-links--menu -->

<!-- Start: @ecl-buttons-links--menu -->
<a href="http://example.com" class="btn btn-menu">External link button</a>
<!-- End: @ecl-buttons-links--menu -->

    </main>
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

