

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    




  


<div class="ecl-tag ecl-tag--facet">
      <span class="ecl-tag__label">containing</span>
  
            
              <span class="ecl-tag__item">Words that the facet is containing</span>
            </div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

