

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    
      <!-- Start: @ecl-navigation-lists--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default
</h3>

      <nav class="ecl-navigation-list-wrapper" >
  <h2 class="ecl-u-sr-only">Default Navigation Menu</h2>
  <ul class="ecl-navigation-list ecl-navigation-list--default">
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Home</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-navigation-list__link--active ecl-link" href="#">About Us</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">More Information</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Contact Us</a>
      </li>
      </ul>
</nav>

      <!-- End: @ecl-navigation-lists--default -->

    

      <!-- Start: @ecl-navigation-lists--tabs -->

      <h3 class="ecl-heading ecl-heading--h3">Tabs
</h3>

      <nav class="ecl-navigation-list-wrapper" >
  <h2 class="ecl-u-sr-only">Tabs Navigation Menu</h2>
  <ul class="ecl-navigation-list ecl-navigation-list--tabs">
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Home</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-navigation-list__link--active ecl-link" href="#">About Us</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">More Information</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Contact Us</a>
      </li>
      </ul>
</nav>

      <!-- End: @ecl-navigation-lists--tabs -->

    

      <!-- Start: @ecl-navigation-lists--small -->

      <h3 class="ecl-heading ecl-heading--h3">Small
</h3>

      <nav class="ecl-navigation-list-wrapper" >
  <h2 class="ecl-u-sr-only">Small Navigation Menu</h2>
  <ul class="ecl-navigation-list ecl-navigation-list--small">
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Home</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-navigation-list__link--active ecl-link" href="#">About Us</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">More Information</a>
      </li>
                <li class="ecl-navigation-list__item">
        <a class="ecl-navigation-list__link ecl-link" href="#">Contact Us</a>
      </li>
      </ul>
</nav>

      <!-- End: @ecl-navigation-lists--small -->

    
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

