

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    







  




<div class="ecl-date-block ecl-date-block--ongoing" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Wed-Fri</span>
    
        <span class="ecl-date-block__day">31-11</span>
    
        <span class="ecl-date-block__month">May-Jun</span>
    
      </div>
</div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

