

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="context-nav">
  <span class="context-nav__label">Label for contextual nav</span>
  <div class="context-nav__items">
    <span class="context-nav__item">
      <a href="#">Item one</a>
    </span>
    <span class="context-nav__item">
      <a href="#">Item two</a>
    </span>
    <span class="context-nav__item">
      <a href="#">Item three</a>
    </span>
    <span class="context-nav__item">
      <a href="#">Item four</a>
    </span>
  </div>
</div>

<div class="context-nav">
  <span class="context-nav__label">Label for longer list</span>
  <div class="context-nav__items">
    <span class="context-nav__item">
      <a href="#">Item one</a>
    </span>
    <span class="context-nav__item">
      <a href="#">Item two</a>
    </span>
    <span class="context-nav__item">
      <a href="#">Item three</a>
    </span>
    <span class="context-nav__item">
      <a href="#">Item four</a>
    </span>
    <div class="context-nav__expander">
      <span class="context-nav__more-button">
        More<span class="icon icon--down ecl-u-color-primary"></span>
      </span>
      <div class="context-nav__hidden">
        <span class="context-nav__item">
          <a href="#">Item five</a>
        </span>
        <span class="context-nav__item">
          <a href="#">Item six</a>
        </span>
        <span class="context-nav__item">
          <a href="#">Item seven</a>
        </span>
        <span class="context-nav__item">
          <a href="#">Item eight</a>
        </span>
      </div>
    </div>
  </div>
</div>

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">Europa.contextualNav();</script>
      </body>
</html>

