

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    






<div class="ecl-blockquote" >
  <blockquote class="ecl-blockquote__quote">
    <p class="ecl-blockquote__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
  </blockquote>

    <div class="ecl-blockquote__author">Lorem ipsum</div>
  </div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

