

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
     <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body class="">
    <main>
      
      <!-- Start: @ecl-buttons--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default
</h3>

      <button class="ecl-button ecl-button--default">Default</button>

      <!-- End: @ecl-buttons--default -->

    

      <!-- Start: @ecl-buttons--primary -->

      <h3 class="ecl-heading ecl-heading--h3">Primary
</h3>

      <button class="ecl-button ecl-button--primary">Primary</button>

      <!-- End: @ecl-buttons--primary -->

    

      <!-- Start: @ecl-buttons--secondary -->

      <h3 class="ecl-heading ecl-heading--h3">Secondary
</h3>

      <button class="ecl-button ecl-button--secondary">Secondary</button>

      <!-- End: @ecl-buttons--secondary -->

    

      <!-- Start: @ecl-buttons--call -->

      <h3 class="ecl-heading ecl-heading--h3">Call-to-action
</h3>

      <button class="ecl-button ecl-button--call ecl-button--caret-right">Call-to-action</button>

      <!-- End: @ecl-buttons--call -->

    
    </main>
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

