

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    







  




<div class="ecl-date-block ecl-date-block--past" >
  <div class="ecl-date-block__body">
    
        <span class="ecl-date-block__day">2-4</span>
    
        <span class="ecl-date-block__month">Feb</span>
    
        <span class="ecl-date-block__year">2015</span>
      </div>
</div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

