

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    
















  
  
<label class="ecl-form-label ecl-radio"><input class="ecl-radio__input ecl-sr-only" type="radio" id="opt-1" value="opt-1" name="opt-1" /><span class="ecl-radio__label">Default</span></label>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

