

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    
<!-- Default -->
<section class="ecl-file">
  <div class="ecl-file__body">
    <div class="ecl-row">
      <div class=" ecl-col ecl-col-md-8">
        <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
        <div class="ecl-file__metadata">
          <div class="ecl-file__title">File title example</div>
          <div class="ecl-file__info">
            <span class="ecl-file__language">English</span> (213.25 kB - PDF - 4 pages)
          </div>
        </div>
      </div>

      <div class="ecl-col-12 ecl-col-md-4">
        





  
  
  
          <button
    class="ecl-button ecl-button--default ecl-button--block ecl-button--file ecl-file__download"
     type="button">Download<span class="ecl-sr-only">(213.25 kB - PDF - 4 pages)</button>      </div>
    </div>
  </div>
</section>


    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

