

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    
      <!-- Start: @ecl-social-media-links--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default list with default display
</h3>

      <div class="ecl-social-media-link" >
      <p class="ecl-paragraph">View European Commission on:</p>
    
  <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled">
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--facebook ecl-social-media-link__link" href="#">Facebook</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--twitter ecl-social-media-link__link" href="#">Twitter</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--instagram ecl-social-media-link__link" href="#">Instagram</a>
    </li>
  
    <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="">Other social networks</a>
    </li>
  </ul>
</div>

      <!-- End: @ecl-social-media-links--default -->

    

      <!-- Start: @ecl-social-media-links--default-specific -->

      <h3 class="ecl-heading ecl-heading--h3">Specific list with default display
</h3>

      <div class="ecl-social-media-link" >
      
  <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled">
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--facebook ecl-social-media-link__link" href="#">Jean-Claude Junker</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--facebook ecl-social-media-link__link" href="#">European Commission</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  

  
        










  
  

<a class="ecl-link ecl-icon-social ecl-icon-social--twitter ecl-social-media-link__link" href="#">European Commission</a>
    </li>
  
    <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="">Other social networks</a>
    </li>
  </ul>
</div>

      <!-- End: @ecl-social-media-links--default-specific -->

    

      <!-- Start: @ecl-social-media-links---horizontal -->

      <h3 class="ecl-heading ecl-heading--h3"> Default list with horizontal display
</h3>

      <div class="ecl-social-media-link ecl-social-media-link--horizontal" >
      <p class="ecl-paragraph">View European Commission on:</p>
    
  <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled ecl-list--inline">
      <li class="ecl-social-media-link__item">
      






  
  
  
        









  
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--facebook ecl-icon-social--horizontal ecl-social-media-link__link" href="#">Facebook</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  
  
  
        









  
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--twitter ecl-icon-social--horizontal ecl-social-media-link__link" href="#">Twitter</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  
  
  
        









  
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--instagram ecl-icon-social--horizontal ecl-social-media-link__link" href="#">Instagram</a>
    </li>
  
    <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="">Other social networks</a>
    </li>
  </ul>
</div>

      <!-- End: @ecl-social-media-links---horizontal -->

    

      <!-- Start: @ecl-social-media-links--horizontal-specific -->

      <h3 class="ecl-heading ecl-heading--h3">Specific list with horizontal display
</h3>

      <div class="ecl-social-media-link ecl-social-media-link--horizontal" >
      
  <ul class="ecl-social-media-link__list ecl-list ecl-list--unstyled ecl-list--inline">
      <li class="ecl-social-media-link__item">
      






  
  
  
        









  
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--facebook ecl-icon-social--horizontal ecl-social-media-link__link" href="#">Jean-Claude Junker</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  
  
  
        









  
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--facebook ecl-icon-social--horizontal ecl-social-media-link__link" href="#">European Commission</a>
    </li>
      <li class="ecl-social-media-link__item">
      






  
  
  
        









  
  
  

<a class="ecl-link ecl-link--horizontal ecl-icon-social ecl-icon-social--twitter ecl-icon-social--horizontal ecl-social-media-link__link" href="#">European Commission</a>
    </li>
  
    <li class="ecl-social-media-link__item">
      <a class="ecl-social-media-link__link" href="">Other social networks</a>
    </li>
  </ul>
</div>

      <!-- End: @ecl-social-media-links--horizontal-specific -->

    
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

