

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    <section class="notification">
  <div class="container-fluid">
    <div class="notification__content">
      <div class="notification__text">
        <p>This is a test for a new design and navigation for the Commission websites. It does not replace <a href="http://ec.europa.eu">ec.europa.eu</a></p>
      </div>
      <a href="#" class="notification__btn">More about the beta</a>
    </div>
  </div>
</section>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

