

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
     <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body class="">
    <main>
      








<div class="ecl-row ecl-comment" >
    <div class="ecl-comment__image-wrapper">
    <img class="ecl-comment__image" src="https://unsplash.it/300/400?image=1005" alt="Martin's photo">
  </div>
    <div class="ecl-comment__body">
    <div class="ecl-comment__meta">
      <span class="ecl-comment__author">Martin (Not verified)</span> |
      <span class="ecl-comment__date">26 March 2015</span>
    </div>
    







  


<a class="ecl-link ecl-heading ecl-heading--h3 ecl-comment__title" href="#">Nice article</a>
    <div class="ecl-comment__text">
      <p class="ecl-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem eius enim eos error esse fugiat incidunt iste laudantium nemo, numquam quam quasi repudiandae sapiente soluta sunt tempore ullam voluptatem.</p>
    </div>
        <ul class="ecl-list ecl-list--inline ecl-comment__operations">
              <li>
          







  


<a class="ecl-link ecl-comment__reply" href="#">Reply</a>
        </li>
                    <li>
          







  


<a class="ecl-link ecl-comment__edit" href="#">Edit</a>
        </li>
                    <li>
          







  


<a class="ecl-link ecl-comment__delete" href="#">Delete</a>
        </li>
          </ul>
      </div>
</div>

    </main>
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

