

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">

    <title>Preview Layout for tables</title>
  </head>
  <body>
    










<table class="ecl-table" >
  <thead>
        <tr>
            <th scope="col" ></th>
            <th scope="col" >Registration date</th>
            <th scope="col" >Email</th>
          </tr>
      </thead>

  <tbody>
        <tr>
            <td >John Doe</td>
            <td >01/01/2016</td>
            <td ><a class="ecl-link" href="mailto:john.doe@mail.com">john.doe@mail.com</a></td>
          </tr>
        <tr>
            <td >Jane Doe</td>
            <td >06/12/2016</td>
            <td ><a class="ecl-link" href="mailto:jane.doe@mail.com">jane.doe@mail.com</a></td>
          </tr>
        <tr>
            <td >Jack Doe</td>
            <td >03/05/2017</td>
            <td ><a class="ecl-link" href="mailto:jack.doe@mail.com">jack.doe@mail.com</a></td>
          </tr>
      </tbody>
</table>

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.eclTables();
      });</script>
    
    <!-- Tables is collated to better demonstrate differences between default and enhanced -->
    <!-- i.e. _target is per element before and yield does not suffice to load 1 instantiation before europa.js -->
    <!-- More https://fractal.build/guide/components/preview-layouts -->
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        ECL.eclTables();
      });
    </script>
  </body>
</html>

