

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    











<select
  class="ecl-select"
  id="example-select-id-1"
  name="default-name"
  
><optgroup label="Asia"><option value="3">Delhi</option><option value="4">Hong Kong</option><option value="8">Mumbai</option><option value="11">Tokyo</option></optgroup><optgroup label="Europe"><option value="1">Amsterdam</option><option value="5">London</option><option value="7">Moscow</option></optgroup><optgroup label="North America"><option value="6">Los Angeles</option><option value="9">New York</option></optgroup><optgroup label="South America"><option value="2">Buenos Aires</option><option value="10">Sao Paulo</option></optgroup></select>
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

