

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../framework/styles/europa.css">
  <title>Preview Layout</title>
  <style>
    /* website specific global rules */
    body {
      margin: 0;
    }
  </style>
</head>
<body>
  








<div class="ecl-skip-link__wrapper" id="skip-link" >
  <a href="#main-content" class="ecl-skip-link">Skip to main content</a>
</div>
  









<div class="ecl-site-switcher ecl-site-switcher--header" >
  <ul class="ecl-site-switcher__list ecl-container">
      <li class="ecl-site-switcher__option"><a class="ecl-link ecl-site-switcher__link" href="#">Commission and its priorities</a></li>
      <li class="ecl-site-switcher__option ecl-site-switcher__option--is-selected"><a class="ecl-link ecl-site-switcher__link" href="#">Policies, information and services</a></li>
  </ul>
</div>
  







<header class="ecl-site-header"  role="banner">
  <div class="ecl-container ecl-site-header__container">
    
        
  
<a href="https://ec.europa.eu" class="ecl-logo ecl-logo--logotype ecl-site-header__logo" title="Home - European Commission">
  <span class="ecl-sr-only">Home - European Commission</span>
</a>
    






  

<div class="ecl-lang-select-sites ecl-site-header__lang-select-sites" >
  <a href="#" class="ecl-lang-select-sites__link">
    <span class="ecl-lang-select-sites__label">English</span>
    <span class="ecl-lang-select-sites__code">
      <span class="ecl-icon ecl-icon--language ecl-lang-select-sites__icon"></span>
      <span class="ecl-lang-select-sites__code-text">en</span>
    </span>
  </a>
</div>
    







  


<form class="ecl-search-form ecl-site-header__search">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-sr-only">Search this website</span>
    






  

  


<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="global-search"
  name="default-name"
  
/>
  </label>
  







  
          <button
    class="ecl-button ecl-button--form ecl-search-form__button"
     type="submit">Search</button></form>
  </div>
</header>
  

<div class="ecl-page-header">
  <div class="ecl-container">
    <nav class="ecl-breadcrumbs " aria-label="breadcrumbs">
  <span class="ecl-sr-only">You are here:</span>
  <ol class="ecl-breadcrumbs__segments-wrapper">
        <li class="ecl-breadcrumbs__segment ecl-breadcrumbs__segment--first">
      <a href="http://europa.eu/index_en.htm" class="ecl-breadcrumbs__link">European Commission</a>
    </li>
        <li class="ecl-breadcrumbs__segment ecl-breadcrumbs__segment--last">
      <a href="#" class="ecl-breadcrumbs__link">Search</a>
    </li>
      </ol>
</nav>
    <div class="ecl-page-header__body">
            <div class="ecl-page-header__identity">
        Search
      </div>
                            </div>
  </div>
</div>
  <main>
    <a id="main-content" tabindex="-1"></a>
    

<div class="ecl-container ecl-u-mv-l">
  <div class="ecl-row ecl-u-mb-l">
    <div class="ecl-col">
      






  



<form class="ecl-search-form ecl-search-form--internal">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-sr-only">Search this website</span>
    






  

  


<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="internal-search"
  name="default-name"
  
/>
  </label>
  







  
          <button
    class="ecl-button ecl-button--form-primary ecl-search-form__button"
     type="submit">Search</button></form>
    </div>
  </div>
  <div class="ecl-row">
    <aside class="ecl-col-lg-3" role="complementary">
      <h3 class="ecl-heading ecl-heading--h3">Search options</h3>
        





                    
<form class="ecl-form" action="#" method="get" id="form-filter">
              





                    
<div class="ecl-form-group">
                  



                    
<label class="ecl-form-label" for="search-option-source">Source</label>
                










                    


<select
  class="ecl-select"
  id="search-option-source"
  name="source"
   action="#" method="get" id="form-filter"
><option value="all">All sources</option><option value="dg-trade" selected>DG Trade</option></select>              </div>
            





                    
<div class="ecl-form-group">
                  



                    
<label class="ecl-form-label" for="search-option-date">Date</label>
                










                    


<select
  class="ecl-select"
  id="search-option-date"
  name="date"
   action="#" method="get" id="form-filter"
><option value="all">All dates</option><option value="today">Today</option><option value="last_week">Last week</option><option value="last_year">Last year</option></select>              </div>
            





                    
<div class="ecl-form-group">
                  



                    
<label class="ecl-form-label" for="search-option-language">Language</label>
                










                    


<select
  class="ecl-select"
  id="search-option-language"
  name="language"
   action="#" method="get" id="form-filter"
><option value="en">English</option><option value="de">Deutsch</option><option value="fr">Français</option></select>              </div>
            





                    
<div class="ecl-form-group">
                  



                    
<label class="ecl-form-label" for="search-option-file-format">File Format</label>
                










                    


<select
  class="ecl-select"
  id="search-option-file-format"
  name="file-format"
   action="#" method="get" id="form-filter"
><option value="all">All formats</option><option value="doc">Doc</option><option value="pdf">PDF</option><option value="web">Web</option></select>              </div>
          </form>
        <h3 class="ecl-heading ecl-heading--h3">Filter by topic</h3>
        <p class="ecl-paragraph">Custom component</p>
    </aside>
    <section class="ecl-col-lg-9">
      <h2 class="ecl-heading ecl-heading--h2">Initiatives (65)</h2>
      <h3 class="ecl-heading ecl-heading--h3">Showing results 11 to 20</h3>

      <div class="ecl-u-d-flex">
        <div class="ecl-tag ecl-tag--facet-close">
    <span class="ecl-tag__label">Source</span>
  
            
                







  
          <button
    class="ecl-button ecl-button--facet-close ecl-tag__item"
     type="button">DG Trade</button>              
      </div>
        <div class="ecl-tag ecl-tag--facet-close">
    <span class="ecl-tag__label">Topics</span>
  
            
                







  
          <button
    class="ecl-button ecl-button--facet-close ecl-tag__item"
     type="button">Health, wellbeing & Consumer protection</button>              
      </div>
      </div>

      <ul class="ecl-list ecl-list--unstyled  ecl-u-mv-m">
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">web</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-1" aria-expanded="false" id="example-expandable-button-1" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-1" id="example-expandable-1">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">pdf</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-2" aria-expanded="false" id="example-expandable-button-2" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-2" id="example-expandable-2">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">web</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-3" aria-expanded="false" id="example-expandable-button-3" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-3" id="example-expandable-3">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">doc</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-4" aria-expanded="false" id="example-expandable-button-4" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-4" id="example-expandable-4">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">doc</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-5" aria-expanded="false" id="example-expandable-button-5" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-5" id="example-expandable-5">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">web</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-6" aria-expanded="false" id="example-expandable-button-6" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-6" id="example-expandable-6">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">pdf</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-7" aria-expanded="false" id="example-expandable-button-7" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-7" id="example-expandable-7">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">web</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-8" aria-expanded="false" id="example-expandable-button-8" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-8" id="example-expandable-8">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">web</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-9" aria-expanded="false" id="example-expandable-button-9" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-9" id="example-expandable-9">Related docs</div>
          <hr class="ecl-u-mt-m" />
        </li>
        <li class="ecl-u-mv-m">
          <div class="ecl-meta ">
  <span class="ecl-meta__item ecl-u-f-up">web</span>
  <span class="ecl-meta__item">17 October 2015</span>
</div>
          <h4 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxs ecl-u-mb-xxxs">
            









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">EU funded Ebola treatment delivers encouraging results</a>
          </h4>
          









<a class="ecl-link ecl-link--"  href="https://ec.europa.eu/growth/index_en">ec.europa.eu/growth/index_en</a>
          <p class="ecl-paragraph ecl-u-mv-xxxs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu iaculis elit. Aliquam luctus elit eget tellus ultrices venenatis. Morbi rutrum malesuada nibh nec sollicitudin.</p>
          






  
                    

<a class="ecl-link ecl-link-- ecl-expandable__button"  aria-controls="example-expandable-10" aria-expanded="false" id="example-expandable-button-10" href="#">Related docs</a>
          <div aria-hidden="true" aria-labelledby="example-expandable-button-10" id="example-expandable-10">Related docs</div>
        </li>
      </ul>
      











<nav class="ecl-pager__wrapper" aria-label="pagination">
  <ul class="ecl-pager" >
        <li class="ecl-pager__item ecl-pager__item--previous">
      <a class="ecl-pager__link" title="Go to previous page" href="/page=1">‹ Previous</a>
    </li>
    
        <li class="ecl-pager__item ecl-pager__item--first">
      <a class="ecl-pager__link" title="Go to page 1" href="/page=1">
        <span class="ecl-sr-only" >Page </span>1
      </a>
    </li>
    
    
    
    
    <li class="ecl-pager__item ecl-pager__item--current" aria-current="page">
      <span class="ecl-pager__item-text" >Page</span> 2
    </li>

        <li class="ecl-pager__item">
      <a class="ecl-pager__link" title="Go to page 3" href="/page=3">
        <span class="ecl-sr-only" >Page </span>3
      </a>
    </li>
    
        <li class="ecl-pager__item">
      <a class="ecl-pager__link" title="Go to page 4" href="/page=4">
        <span class="ecl-sr-only" >Page </span>4
      </a>
    </li>
    
        <li class="ecl-pager__item ecl-pager__item--ellipsis">…</li>
    
        <li class="ecl-pager__item ecl-pager__item--last">
      <a class="ecl-pager__link" title="Go to page 7" href="/page=7">
        <span class="ecl-sr-only" >Page </span>7
      </a>
    </li>
    
        <li class="ecl-pager__item ecl-pager__item--next">
      <a class="ecl-pager__link" title="Go to next page" href="/page=3">Next ›</a>
    </li>
      </ul>
</nav>
    </section>
  </div>
</div>

  </main>
  

<footer class="ecl-footer">
      <div class="ecl-footer__site-corporate">
    <div class="ecl-container">
      <div class="ecl-row">
                <div class="ecl-col-sm ecl-footer__column">

          
                    <h4 class="ecl-h4 ecl-footer__title">European Commission</h4>
          
          
                    <ul class="ecl-footer__menu">
                                    <li class="ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link" href="https://ec.europa.eu/commission/index_en">Commission and its priorities</a>
            </li>
                                                <li class="ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link" href="https://ec.europa.eu/info/index_en">Policies information and services</a>
            </li>
                                  </ul>
                  </div>
                <div class="ecl-col-sm ecl-footer__column">

          
                    <h4 class="ecl-h4 ecl-footer__title">Follow the European Commission</h4>
          
          
                    <ul class="ecl-footer__menu ecl-list-inline">
                                    <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="ecl-link ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span>Facebook</a>
            </li>
                                                <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="ecl-link ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span>Twitter</a>
            </li>
                                                <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="ecl-link ecl-footer__link ecl-link--external" href="#">Other social media</a>
            </li>
                                  </ul>
                  </div>
                <div class="ecl-col-sm ecl-footer__column">

          
                    <h4 class="ecl-h4 ecl-footer__title">European Union</h4>
          
          
                    <ul class="ecl-footer__menu">
                                    <li class="ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link ecl-link--external" href="#">EU institutions</a>
            </li>
                                                <li class="ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link ecl-link--external" href="#">European Union</a>
            </li>
                                  </ul>
                  </div>
              </div>
    </div>
  </div>
    <div class="ecl-footer__ec">
    <div class="ecl-container">
      <div class="ecl-row">
                <div class="ecl-col-sm ">

          
          
                    <ul class="ecl-list--inline ecl-footer__menu">
                                    <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/about-commissions-new-web-presence_en">About the Commission's new web presence</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/resources-partners_en">Resources for partners</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/cookies_en">Cookies</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/legal-notice_en">Legal notice</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/contact_en">Contact</a>
            </li>
                                  </ul>
                  </div>
              </div>
    </div>
  </div>
    </footer>
  <script src="../../framework/scripts/europa.js"></script>
</body>
</html>

