

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    

<div class="ecl-row">
  <aside class="ecl-col-lg-3" role="complementary">
      <h3 class="ecl-heading ecl-heading--h3">Filter by</h3>
      <form action="#" method="get" id="form-filter">
        <div class="ecl-form-group">
          




<label class="ecl-form-label" for="filter-keywords">Keyword</label>
          








        


<input
  type="text"
  class="ecl-text-input"
  id="filter-keywords"
  name="keywords"
   =""
/>
        </div>
        <div class="ecl-form-group">
          




<label class="ecl-form-label" for="filter-topic">Topic</label>
          











<select
  class="ecl-select"
  id="filter-topic"
  name="topic"
  
><option value="0">Any topic</option><option value="354">Banking and financial services</option><option value="369">Environment</option><option value="382">Research and innovation</option></select>        </div>
        <div class="ecl-form-group">
          




<label class="ecl-form-label" for="filter-location">Location</label>
          











<select
  class="ecl-select"
  id="filter-location"
  name="location"
  
><option value="0">Any country</option><option value="BE">Belgium</option><option value="ES">Spain</option><option value="RO">Romania</option><option value="IT">Italy</option><option value="PT">Portugal</option><option value="HR">Croatia</option><option value="FI">Finland</option><option value="DE">Germany</option><option value="IE">Ireland</option><option value="PL">Poland</option><option value="BG">Bulgaria</option><option value="GR">Greece</option><option value="NL">Netherlands</option><option value="SK">Slovakia</option><option value="SE">Sweden</option><option value="EE">Estonia</option><option value="AT">Austria</option><option value="CY">Cyprus</option><option value="DK">Denmark</option><option value="FR">France</option><option value="HU">Hungary</option><option value="LV">Latvia</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MT">Malta</option></select>        </div>
        <div class="ecl-form-group">
          













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-sr-only" type="checkbox" id="event_is_online" value="" name="event_is_online" /><span class="ecl-checkbox__label">Online only events</span></label>        </div>
        <div class="ecl-form-group">
          













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-sr-only" type="checkbox" id="event_is_live_streaming" value="" name="event_is_live_streaming" checked /><span class="ecl-checkbox__label">Events with live streaming available</span></label>        </div>
        <div class="ecl-form-group">
          




<label class="ecl-form-label" for="filter-organiser">Organiser</label>
          











<select
  class="ecl-select"
  id="filter-organiser"
  name="organiser"
  
><option value="0">Any organiser</option><option value="881">Financial Stability, Financial Services and Capital Markets Union</option><option value="932">Translation</option><option value="189">Internal Audit Service</option><option value="746">Interpretation</option></select>        </div>
        <div class="ecl-form-group">
          




<label class="ecl-form-label" for="filter-after">After</label>
          




<div class="ecl-datepickers"><input
  type="text"
  class="ecl-text-input"
  id="filter-after"
  name="datepicker"
   aria-label="Use the arrow keys to pick a date" value=""
/><span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span></div>        </div>
        <div class="ecl-form-group">
          




<label class="ecl-form-label" for="filter-before">Before</label>
          




<div class="ecl-datepickers"><input
  type="text"
  class="ecl-text-input"
  id="filter-before"
  name="datepicker"
   aria-label="Use the arrow keys to pick a date" value=""
/><span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span></div>        </div>
        <div class="ecl-form-group">
          




<label class="ecl-form-label" for="filter-collection">Collection</label>
          











<select
  class="ecl-select"
  id="filter-collection"
  name="collection"
  
><option value="0">Any collection</option><option value="2065">Citizens' Dialogues</option><option value="48422">Cities events</option><option value="35343">FISMA Events collectoin</option><option value="54309">Sustainable Development Goals</option></select>        </div>
        





  

  
                <button
    class="ecl-button ecl-button--primary ecl-button--block ecl-u-mb-xs"
     value="Refine results" type="submit">Refine results</button>        





  


                <button
    class="ecl-button ecl-button--default ecl-button--block"
     value="Clear filters" type="reset">Clear filters</button>      </form>
  </aside>
  <section class="ecl-col-lg-9">
    <div class="ecl-heading ecl-heading--h2 ecl-u-mb-m">Events (90)</div>

    <div class="ecl-tag ecl-tag--facet-close">
    <span class="ecl-tag__label">Live streaming available</span>
  
            
                







  
          <button
    class="ecl-button ecl-button--facet-close ecl-tag__item"
     type="button">Yes</button>              
      </div>

    <section class="ecl-u-mv-m">CONTENT HERE</section>

    











<nav class="ecl-pager__wrapper" aria-label="pagination">
  <ul class="ecl-pager" >
    
    
    
    
    
    <li class="ecl-pager__item ecl-pager__item--current" aria-current="page">
      <span class="ecl-pager__item-text" >Page</span> 1
    </li>

        <li class="ecl-pager__item">
      <a class="ecl-pager__link" title="Go to page 2" href="/page=2">
        <span class="ecl-sr-only" >Page </span>2
      </a>
    </li>
    
        <li class="ecl-pager__item">
      <a class="ecl-pager__link" title="Go to page 3" href="/page=3">
        <span class="ecl-sr-only" >Page </span>3
      </a>
    </li>
    
        <li class="ecl-pager__item ecl-pager__item--ellipsis">…</li>
    
        <li class="ecl-pager__item ecl-pager__item--last">
      <a class="ecl-pager__link" title="Go to page 20" href="/page=20">
        <span class="ecl-sr-only" >Page </span>20
      </a>
    </li>
    
        <li class="ecl-pager__item ecl-pager__item--next">
      <a class="ecl-pager__link" title="Go to next page" href="/page=2">Next ›</a>
    </li>
      </ul>
</nav>
  </section>
</div>

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
        <script type="text/javascript">
          var pickerBefore = new Pikaday({
            field: document.getElementById('filter-before'),
            firstDay: 1,
            maxDate: new Date(2020, 12, 31),
            theme: 'ecl-pika-theme',
            yearRange: [2000, 2020],
          });
          var pickerAfter = new Pikaday({
            field: document.getElementById('filter-after'),
            firstDay: 1,
            maxDate: new Date(2020, 12, 31),
            theme: 'ecl-pika-theme',
            yearRange: [2000, 2020],
          });
        </script>
        <script>
      </script>
      </body>
</html>

