

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    
      <!-- Start: @ecl-labels--upcoming -->

      <h3 class="ecl-heading ecl-heading--h3">Upcoming
</h3>

      <span class="ecl-label ecl-label--upcoming" >Call status: upcoming</span>

      <!-- End: @ecl-labels--upcoming -->

    

      <!-- Start: @ecl-labels--open -->

      <h3 class="ecl-heading ecl-heading--h3">Open / Highlight 
</h3>

      <span class="ecl-label ecl-label--open" >Call status: open</span>

      <!-- End: @ecl-labels--open -->

    

      <!-- Start: @ecl-labels--close -->

      <h3 class="ecl-heading ecl-heading--h3">Closed
</h3>

      <span class="ecl-label ecl-label--close" >Call status: closed</span>

      <!-- End: @ecl-labels--close -->

    
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

