

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
      <div class="ecl-pager__wrapper">
    <ul class="ecl-pager ">
            <li class="ecl-pager__item ecl-pager__item--previous">
        <a class="ecl-pager__link" title="Go to previous page" href="/page=6">‹ Previous</a>
      </li>
      
            <li class="ecl-pager__item ecl-pager__item--first">
        <a class="ecl-pager__link" title="Go to page 1" href="/page=1">1</a>
      </li>
      
            <li class="ecl-pager__item ecl-pager__item--ellipsis">…</li>
      
            <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 5" href="/page=5">5</a>
      </li>
      
            <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 6" href="/page=6">6</a>
      </li>
      
      <li class="ecl-pager__item ecl-pager__item--current">
        <span class="ecl-pager__item-text">Page</span> 7
      </li>

            <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 8" href="/page=8">8</a>
      </li>
      
            <li class="ecl-pager__item">
        <a class="ecl-pager__link" title="Go to page 9" href="/page=9">9</a>
      </li>
      
            <li class="ecl-pager__item ecl-pager__item--ellipsis">…</li>
      
            <li class="ecl-pager__item ecl-pager__item--last">
        <a class="ecl-pager__link" title="Go to page 20" href="/page=20">20</a>
      </li>
      
            <li class="ecl-pager__item ecl-pager__item--next">
        <a class="ecl-pager__link" title="Go to next page" href="/page=8">Next ›</a>
      </li>
          </ul>
  </div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

