

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    






  





  
<!-- Links -->
<section class="ecl-file ecl-file--link">
            <a
        href="#"
        class="ecl-link ecl-file__link ">
        <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
        <span class="ecl-file__title">Generic file link</span>
              </a>
          <a
        href="#"
        class="ecl-link ecl-file__link ecl-link--external">
        <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
        <span class="ecl-file__title">Generic external file link</span>
              </a>
          <a
        href="#"
        class="ecl-link ecl-file__link ">
        <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
        <span class="ecl-file__title">Link to a .pdf file</span>
                <span class="ecl-file__type">pdf</span>
              </a>
          <a
        href="#"
        class="ecl-link ecl-file__link ">
        <span class="ecl-icon ecl-icon--package ecl-file__icon"></span>
        <span class="ecl-file__title">Link to a presentation .ppt file</span>
                <span class="ecl-file__type">ppt</span>
              </a>
          <a
        href="#"
        class="ecl-link ecl-file__link ">
        <span class="ecl-icon ecl-icon--image ecl-file__icon"></span>
        <span class="ecl-file__title">Link to an image .jpg file</span>
                <span class="ecl-file__type">jpg</span>
              </a>
      </section>

  

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

