

  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body class="language-en">
    <header class="site-header site-header--homepage" role="banner">
  <div class="container-fluid site-header__container">
    <section class="top-bar" aria-label="Site tools">
      <div class="top-bar__wrapper">
        <div class="ecl-lang-select-sites">
  <a href="#" class="ecl-lang-select-sites__link">
    <span class="ecl-lang-select-sites__label">English</span>
    <span class="ecl-lang-select-sites__code">
      <span class="ecl-icon ecl-icon--language ecl-lang-select-sites__icon"></span>
      <span class="ecl-lang-select-sites__code-text">en</span>
    </span>
  </a>
</div>
      </div>
    </section>
    
        
  
<a href="https://ec.europa.eu" class="ecl-logo ecl-logo--logotypebelow site-header__logo" title="Home - European Commission">
  <span class="ecl-sr-only">Home - European Commission</span>
</a>
  </div>
  <section class="header-search-bar" aria-label="Site tools">
    <div class="header-search-bar__wrapper container-fluid">
      <section class="block-nexteuropa-europa-search clearfix">
        <form class="search-form">
  <div class="input-group">
    <label class="search-form__textfield-wrapper">
      <span class="ecl-sr-only">Search this website</span>
      <input type="search" class="search-form__textfield form-control" size="60" maxlength="128" title="Search">
    </label>
    <span class="search-form__btn-wrapper input-group-btn">
      <button class="search-form__btn btn btn-primary btn-search" value="Search" type="submit">Search</button>
    </span>
  </div>
</form>
      </section>
    </div>
  </section>
</header>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

