

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    
      <!-- Start: @ecl-link-blocks--standalone -->

      <h3 class="ecl-heading ecl-heading--h3">Standalone block of links
</h3>

      <div class="ecl-link-block" >
  
  <ul class="ecl-link-block__list">
        <li class="ecl-link-block__item">
      






        
  


<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">European Commission</a>
    </li>
        <li class="ecl-link-block__item">
      






        
  


<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Priorities</a>
    </li>
        <li class="ecl-link-block__item">
      






        
  


<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Jobs, Growth and Investment</a>
    </li>
      </ul>
</div>

      <!-- End: @ecl-link-blocks--standalone -->

    

      <!-- Start: @ecl-link-blocks--wrapper -->

      <h3 class="ecl-heading ecl-heading--h3">Block of links with title
</h3>

      <div class="ecl-link-block" >
      <div class="ecl-link-block__title">More information</div>
  
  <ul class="ecl-link-block__list">
        <li class="ecl-link-block__item">
      






        
  


<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">European Commission</a>
    </li>
        <li class="ecl-link-block__item">
      






        
  


<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Priorities</a>
    </li>
        <li class="ecl-link-block__item">
      






        
  


<a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Jobs, Growth and Investment</a>
    </li>
      </ul>
</div>

      <!-- End: @ecl-link-blocks--wrapper -->

    
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

