

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    











<nav class="ecl-navigation-menu" aria-label="Main Navigation">
  <div class="ecl-container">
    <button class="ecl-navigation-menu__toggle ecl-navigation-menu__hamburger ecl-navigation-menu__hamburger--squeeze" aria-controls="nav-menu-expandable-root" aria-expanded="false">
      <span class="ecl-navigation-menu__hamburger-box">
        <span class="ecl-navigation-menu__hamburger-inner"></span>
      </span>
      <span class="ecl-navigation-menu__hamburger-label">Menu</span>
    </button>
    <ul class="ecl-navigation-menu__root" id="nav-menu-expandable-root" aria-hidden="true">
                                  <li class="ecl-navigation-menu__item">
                          <a href="#home" class="ecl-navigation-menu__link">Home</a>
                      </li>
                            <li class="ecl-navigation-menu__item ecl-navigation-menu__item--active">
                          <a href="#item1" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-2" aria-expanded="false" aria-haspopup="true">Item 1</a>
              <ul class="ecl-navigation-menu__group" id="nav-menu-expandable-group-2">
                                                    <li class="ecl-navigation-menu__item"><a href="#item1-1" class="ecl-navigation-menu__link">Item 1.1</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item1-2" class="ecl-navigation-menu__link">Item 1.2</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item1-3" class="ecl-navigation-menu__link">Item 1.3</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item1-4" class="ecl-navigation-menu__link ecl-navigation-menu__link--active">Item 1.4</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item1-5" class="ecl-navigation-menu__link">Item 1.5</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item1-6" class="ecl-navigation-menu__link">Item 1.6</a></li>
                              </ul>
                      </li>
                            <li class="ecl-navigation-menu__item">
                          <a href="#item2" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-3" aria-expanded="false" aria-haspopup="true">Item 2</a>
              <ul class="ecl-navigation-menu__group" id="nav-menu-expandable-group-3">
                                                    <li class="ecl-navigation-menu__item"><a href="#item2-1" class="ecl-navigation-menu__link">Item 2.1</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item2-2" class="ecl-navigation-menu__link">Item 2.2</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item2-3" class="ecl-navigation-menu__link">Item 2.3</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item2-4" class="ecl-navigation-menu__link">Item 2.4</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item2-5" class="ecl-navigation-menu__link">Item 2.5</a></li>
                                                    <li class="ecl-navigation-menu__item"><a href="#item2-6" class="ecl-navigation-menu__link">Item 2.6</a></li>
                              </ul>
                      </li>
                            <li class="ecl-navigation-menu__item">
                          <a href="#item3" class="ecl-navigation-menu__link">Item 3</a>
                      </li>
                  </ul>
  </div>
</nav>

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.megamenu();
      });</script>
      </body>
</html>

