

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    
      <!-- Start: @ecl-list-items--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default list item
</h3>

      <ul class="ecl-list--unstyled"><li class="ecl-list-item" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  
    <span class="ecl-meta__item">Service department</span>

  
    <span class="ecl-meta__item">PMO</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Administration and Payment of Individual Entitlements</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li></ul>

      <!-- End: @ecl-list-items--default -->

    

      <!-- Start: @ecl-list-items--date -->

      <h3 class="ecl-heading ecl-heading--h3">Date list item
</h3>

      <ul class="ecl-list--unstyled"><li class="ecl-list-item ecl-list-item--date" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
            







  




<div class="ecl-date-block ecl-date-block--date" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue</span>
    
        <span class="ecl-date-block__day">07</span>
    
        <span class="ecl-date-block__month">Sep</span>
    
      </div>
</div>
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--date" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Citizens' Dialogue in Kraków with Commissioner Elżbieta Bieńkowska</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <small><span class="ecl-icon ecl-icon--location">Kraków, Poland</span> <span class="ecl-icon ecl-icon--livestreaming ecl-u-ml-s">live streaming available</span></small>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li></ul>

      <!-- End: @ecl-list-items--date -->

    
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

