

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <!-- Default -->
<div class="file">
  <span class="icon icon--file file__icon"></span>
  <div class="file__metadata">
    <span class="file__title">File title example</span>
    <div class="file__info">
      <span class="file__content-language">English</span> (213.25 kB - PDF - 4 pages)
    </div>
  </div>
  <a href="#" class="btn btn-default file__btn">
    Download<span class="ecl-sr-only">(213.25 kB - PDF - 4 pages)</span>
  </a>
</div>

<!-- Bare -->
<div class="file file--bare">
  <span class="icon icon--file file__icon"></span>
  <div class="file__metadata">
    <span class="file__title">File title example</span>
    <div class="file__info">
      <span class="file__content-language">English</span> (213.25 kB - PDF - 4 pages)
    </div>
  </div>
  <a href="#" class="btn file__btn btn--condensed is-internal">
    Download<span class="ecl-sr-only">(213.25 kB - PDF - 4 pages)</span>
  </a>
</div>

<!-- Image -->
<div style="width: 450px;"> <!-- only required for the style guide -->
  <div class="file file--image">
    <img src="http://placehold.it/450x250" alt="">
    <span class="file__caption">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </span>
  </div>
</div>

<!-- Link -->
<div class="file file--link">
  <span class="file__icon icon icon--file-link"></span>
  <div class="file__metadata--link">
    <a class="file__title" href="http://ext.link" title="file title">
      Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
    </a>
  </div>
</div>

<!-- Translations -->
<div class="file">
  <span class="icon icon--file file__icon"></span>
  <div class="file__metadata">
    <span class="file__title">Belgium - Country factsheets</span>
    <div class="file__info">
      <span class="file__content-language">English</span> (392.23 KB - PDF - 2 pages)
    </div>
  </div>
  <a href="#" class="btn btn-default file__btn">
    Download<span class="ecl-sr-only">(392.23 KB - PDF - 2 pages)</span>
  </a>
</div>

<div class="file__translations" id="file-translations">
  <a href="#file" class="file__translations-control" title="Click to see translations" data-toggle="collapse" data-parent="#file-translations" aria-expanded="false" aria-controls="file">Available languages (3)</a>
  <ul id="file" class="file__translations-list collapse in"><!-- Class .in is just for the style guide -->
    <li class="file__translations-item">
      <div class="file file--bare">
        <div class="file__metadata">
          <span class="file__title">Name language</span>
          <div class="file__info">(392.23 KB - PDF - 2 pages)</div>
        </div>
        <a href="#" class="btn file__btn btn--condensed is-internal">
          Download<span class="ecl-sr-only">(392.23 KB - PDF - 2 pages)</span>
        </a>
      </div>
    </li>
    <li class="file__translations-item">
      <div class="file file--bare">
        <div class="file__metadata">
          <span class="file__title">Name language</span>
          <div class="file__info">(392.23 KB - PDF - 2 pages)</div>
        </div>
        <a href="#" class="btn file__btn btn--condensed is-internal">
          Download<span class="ecl-sr-only">(392.23 KB - PDF - 2 pages)</span>
        </a>
      </div>
    </li>
    <li class="file__translations-item">
      <div class="file file--bare">
        <div class="file__metadata">
          <span class="file__title">Name language</span>
          <div class="file__info">(392.23 KB - PDF - 2 pages)</div>
        </div>
        <a href="#" class="btn file__btn btn--condensed is-internal">
          Download<span class="ecl-sr-only">(392.23 KB - PDF - 2 pages)</span>
        </a>
      </div>
    </li>
  </ul>
</div>

<!-- Video -->
<div style="width: 50%;"> <!-- only required for the style guide -->
  <div class="file file--video">
    <div class="file__container">
      <iframe src="http://ec.europa.eu/avservices/play.cfm?ref=I101631" allowfullscreen="allowfullscreen" scrolling="no"></iframe>
    </div>
    <span class="file__caption">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </span>
  </div>
</div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

