

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <ol class="ecl-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3
    <ol class="ecl-list ecl-list--alpha">
      <li>Item 3.1</li>
      <li>Item 3.2</li>
      <li>Item 3.3</li>
    </ul>
  </li>
</ol>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

