

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    
      <!-- Start: @ecl-forms-selects--default -->

      <label for="example-select-id-1">Default select list
</label>

      <select
  class="ecl-select"
  id="example-select-id-1"
  name="default-name"
  
>


  <optgroup label="Asia">
    <option value="3">Delhi</option>
    <option value="4">Hong Kong</option>
    <option value="8">Mumbai</option>
    <option value="11">Tokyo</option>
  </optgroup>
  <optgroup label="Europe">
    <option value="1">Amsterdam</option>
    <option value="5">London</option>
    <option value="7">Moscow</option>
  </optgroup>
  <optgroup label="North America">
    <option value="6">Los Angeles</option>
    <option value="9">New York</option>
  </optgroup>
  <optgroup label="South America">
    <option value="2">Buenos Aires</option>
    <option value="10">Sao Paulo</option>
  </optgroup>


</select>

      <!-- End: @ecl-forms-selects--default -->

    

      <!-- Start: @ecl-forms-selects--disabled -->

      <label for="example-selectid-2">Disabled select list
</label>

      <select
  class="ecl-select"
  id="example-selectid-2"
  name="default-name"
   disabled
>


  <optgroup label="Asia">
    <option value="3">Delhi</option>
    <option value="4">Hong Kong</option>
    <option value="8">Mumbai</option>
    <option value="11">Tokyo</option>
  </optgroup>
  <optgroup label="Europe">
    <option value="1">Amsterdam</option>
    <option value="5">London</option>
    <option value="7">Moscow</option>
  </optgroup>
  <optgroup label="North America">
    <option value="6">Los Angeles</option>
    <option value="9">New York</option>
  </optgroup>
  <optgroup label="South America">
    <option value="2">Buenos Aires</option>
    <option value="10">Sao Paulo</option>
  </optgroup>


</select>

      <!-- End: @ecl-forms-selects--disabled -->

    

      <!-- Start: @ecl-forms-selects--with-error -->

      <label for="example-select-id-3">Select list with error
</label>

      <select
  class="ecl-select ecl-select--has-error"
  id="example-select-id-3"
  name="default-name"
  
>


  <optgroup label="Asia">
    <option value="3">Delhi</option>
    <option value="4">Hong Kong</option>
    <option value="8">Mumbai</option>
    <option value="11">Tokyo</option>
  </optgroup>
  <optgroup label="Europe">
    <option value="1">Amsterdam</option>
    <option value="5">London</option>
    <option value="7">Moscow</option>
  </optgroup>
  <optgroup label="North America">
    <option value="6">Los Angeles</option>
    <option value="9">New York</option>
  </optgroup>
  <optgroup label="South America">
    <option value="2">Buenos Aires</option>
    <option value="10">Sao Paulo</option>
  </optgroup>


</select>

      <!-- End: @ecl-forms-selects--with-error -->

    
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

