

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
     <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body class="">
    <main>
      










                          

<div class="ecl-dialog"  aria-labelledby="dialog-title" aria-describedby="dialog-description" id="ecl-dialog" aria-hidden="true" role="dialog">
    <h1 id="dialog-title" class="ecl-sr-only">Example title</h1>
      <p id="dialog-description" class="ecl-sr-only">Example description</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue quis est dignissim lacinia. Curabitur interdum iaculis sagittis. Maecenas sodales elit est, et suscipit nisl vulputate eget. Mauris vel pulvinar odio. Sed diam turpis, cursus vel congue vel, lobortis a ipsum. Donec vel quam nec enim tristique efficitur at eget nisl.
      <button type="button" class="ecl-message__dismiss" aria-label="Dismiss this dialog window">&times;</button>
  </div>

    </main>
    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">
        // This is only for demo purposes to facilitate end-users.

        // Create a link.
        var link = document.createElement('a');
        var text = document.createTextNode('Open dialog');

        // Include textual content.
        link.appendChild(text);
        link.title = "Click to test the modal";

        // Add necessary demo attributes.
        link.setAttribute('href', '#dialog');
        link.setAttribute('class', 'ecl-link');
        link.setAttribute('data-ecl-dialog', 'ecl-dialog');

        // Show the link
        document.body.append(link);

        document.addEventListener('DOMContentLoaded', function () {
            ECL.dialogs();
        });
      </script>
      </body>
</html>

