

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    













<div class="ecl-file-upload" >
  <div class="ecl-file-upload__value" tabindex="0">No file selected.</div>
  <label class="ecl-file-upload__browse" for="example-input-id-3" tabindex="0">Browse</label>
    <button class="ecl-file-upload__upload" tabindex="0" type="submit">
    Upload
  </button>
    <input class="ecl-file-upload__input" name="example-input-name-3" type="file" id="example-input-id-3"  multiple>
</div>

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
            ECL.fileUploads();
          });</script>
      </body>
</html>

