

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
     <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body class="">
    <main>
      
      <!-- Start: @ecl-buttons--default -->

      <h3 class="ecl-heading ecl-heading--h3">Default
</h3>

      <button
    class="ecl-button ecl-button--default"
    >Default</button>

      <!-- End: @ecl-buttons--default -->

    

      <!-- Start: @ecl-buttons--primary -->

      <h3 class="ecl-heading ecl-heading--h3">Primary
</h3>

      <button
    class="ecl-button ecl-button--primary"
    >Primary</button>

      <!-- End: @ecl-buttons--primary -->

    

      <!-- Start: @ecl-buttons--secondary -->

      <h3 class="ecl-heading ecl-heading--h3">Secondary
</h3>

      <button
    class="ecl-button ecl-button--secondary"
    >Secondary</button>

      <!-- End: @ecl-buttons--secondary -->

    

      <!-- Start: @ecl-buttons--call -->

      <h3 class="ecl-heading ecl-heading--h3">Call-to-action
</h3>

      <button
    class="ecl-button ecl-button--call ecl-button--caret-right"
    >Call-to-action</button>

      <!-- End: @ecl-buttons--call -->

    

      <!-- Start: @ecl-buttons--timeline -->

      <h3 class="ecl-heading ecl-heading--h3">Timeline
</h3>

      <button
    class="ecl-button ecl-button--call ecl-button--caret-down"
    >Timeline</button>

      <!-- End: @ecl-buttons--timeline -->

    

      <!-- Start: @ecl-buttons--form -->

      <h3 class="ecl-heading ecl-heading--h3">Form
</h3>

      <button
    class="ecl-button ecl-button--form"
    >Form</button>

      <!-- End: @ecl-buttons--form -->

    

      <!-- Start: @ecl-buttons--form-primary -->

      <h3 class="ecl-heading ecl-heading--h3">Form Primary
</h3>

      <button
    class="ecl-button ecl-button--form-primary"
    >Form primary</button>

      <!-- End: @ecl-buttons--form-primary -->

    

      <!-- Start: @ecl-buttons--splash-page -->

      <h3 class="ecl-heading ecl-heading--h3">Splash Page
</h3>

      <button
    class="ecl-button ecl-button--default ecl-button--block ecl-button--splash-page"
    >Splash page</button>

      <!-- End: @ecl-buttons--splash-page -->

    

      <!-- Start: @ecl-buttons--caret-up -->

      <h3 class="ecl-heading ecl-heading--h3">Caret Up
</h3>

      <button
    class="ecl-button ecl-button--default ecl-button--caret-up"
    >Icon: Caret up</button>

      <!-- End: @ecl-buttons--caret-up -->

    

      <!-- Start: @ecl-buttons--caret-right -->

      <h3 class="ecl-heading ecl-heading--h3">Caret Right
</h3>

      <button
    class="ecl-button ecl-button--default ecl-button--caret-right"
    >Icon: Caret right</button>

      <!-- End: @ecl-buttons--caret-right -->

    

      <!-- Start: @ecl-buttons--caret-down -->

      <h3 class="ecl-heading ecl-heading--h3">Caret Down
</h3>

      <button
    class="ecl-button ecl-button--default ecl-button--caret-down"
    >Icon: Caret down</button>

      <!-- End: @ecl-buttons--caret-down -->

    

      <!-- Start: @ecl-buttons--caret-left -->

      <h3 class="ecl-heading ecl-heading--h3">Caret Left
</h3>

      <button
    class="ecl-button ecl-button--default ecl-button--caret-left"
    >Icon: Caret left</button>

      <!-- End: @ecl-buttons--caret-left -->

    

      <!-- Start: @ecl-buttons--complex-example -->

      <h3 class="ecl-heading ecl-heading--h3">Primary button, block-wide, with caret-down
</h3>

      <button
    class="ecl-button ecl-button--primary ecl-button--block ecl-button--caret-down"
    >Primary button, block-wide, with caret-down</button>

      <!-- End: @ecl-buttons--complex-example -->

    
    </main>
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

