

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    
  
<!-- Translations -->
<section class="ecl-file">
  <div class="ecl-file__body">
    <div class="ecl-row">
      <div class=" ecl-col ecl-col-md-8">
        <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
        <div class="ecl-file__metadata">
          <div class="ecl-file__title">File title example</div>
          <div class="ecl-file__info">
            <span class="ecl-file__language">English</span> (213.25 kB - PDF - 4 pages)
          </div>
        </div>
      </div>

      <div class="ecl-col-12 ecl-col-md-4">
        





  
  
  
          <button
    class="ecl-button ecl-button--default ecl-button--block ecl-button--file ecl-file__download"
     type="button">Download<span class="ecl-sr-only">(213.25 kB - PDF - 4 pages)</button>      </div>
    </div>
  </div>

  <div class="ecl-file__translations">
    






  
  
                                  <button
    class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-toggle"
     aria-controls="translations-expand" aria-expanded="true" id="translations-expand-button" type="button" title="Click to see translations">Available languages (3)</button>
    <div aria-hidden="false" aria-labelledby="translations-expand-button" id="translations-expand">
      <ul class="ecl-file__translations-list">
                          <li class="ecl-file__translations-item">
          <div class="ecl-file__translations-metadata">
            <span class="ecl-file__translations-title">Titre du fichier</span>
            <div class="ecl-file__translations-info">(228.84 kB - PDF - 4 pages)</div>
          </div>
          






  
  
          <button
    class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-download"
     type="button">Download<span class="ecl-sr-only">(228.84 kB - PDF - 4 pages)</button>        </li>
                  <li class="ecl-file__translations-item">
          <div class="ecl-file__translations-metadata">
            <span class="ecl-file__translations-title">Dateititel</span>
            <div class="ecl-file__translations-info">(232.12 kB - PDF - 4 pages)</div>
          </div>
          






  
  
          <button
    class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-download"
     type="button">Download<span class="ecl-sr-only">(232.12 kB - PDF - 4 pages)</button>        </li>
                  <li class="ecl-file__translations-item">
          <div class="ecl-file__translations-metadata">
            <span class="ecl-file__translations-title">Файл Заглавие</span>
            <div class="ecl-file__translations-info">(257.54 kB - PDF - 4 pages)</div>
          </div>
          






  
  
          <button
    class="ecl-button ecl-button--secondary ecl-button--file ecl-file__translations-download"
     type="button">Download<span class="ecl-sr-only">(257.54 kB - PDF - 4 pages)</button>        </li>
                        </ul>
    </div>
  </div>
</section>

  

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
            ECL.initExpandables('#translations-expand-button');
          });</script>
      </body>
</html>

