

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    

<div class="ecl-gallery">
      <div class="ecl-row">
            <div class="ecl-col-md-4 ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        <img alt="Example alt text" src="http://placehold.it/380x185" />
                <span class="ecl-gallery__caption">Example image caption</span>
                        <span class="ecl-gallery__icon-wrapper">
          <span class="ecl-gallery__icon ecl-icon ecl-icon--camera"></span>
        </span>
              </div>
    </div>
        <div class="ecl-col-md-3 ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        <img alt="Example alt text" src="http://placehold.it/285x185" />
                        <span class="ecl-gallery__icon-wrapper">
          <span class="ecl-gallery__icon ecl-icon ecl-icon--audio"></span>
        </span>
              </div>
    </div>
        <div class="ecl-col-md-2 ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        <img alt="Example alt text" src="http://placehold.it/190x185" />
                <span class="ecl-gallery__caption">Example image caption</span>
                        <span class="ecl-gallery__icon-wrapper">
          <span class="ecl-gallery__icon ecl-icon ecl-icon--camera"></span>
        </span>
              </div>
    </div>
        <div class="ecl-col-md-3 ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        <img alt="Example alt text" src="http://placehold.it/285x185" />
                      </div>
    </div>
          </div>
    <div class="ecl-row">
            <div class="ecl-col-md-2 ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        <img alt="Example alt text" src="http://placehold.it/190x185" />
                <span class="ecl-gallery__caption">Example image caption</span>
                      </div>
    </div>
        <div class="ecl-col-md-3 ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        <img alt="Example alt text" src="http://placehold.it/285x185" />
                      </div>
    </div>
        <div class="ecl-col-md-3 ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        <img alt="Example alt text" src="http://placehold.it/285x185" />
                      </div>
    </div>
        <div class="ecl-col-md-4 ecl-gallery__item">
      <div class="ecl-gallery__item-container">
        <img alt="Example alt text" src="http://placehold.it/380x185" />
                <span class="ecl-gallery__caption">Example image caption</span>
                      </div>
    </div>
          </div>
    </div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

