

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    









<section class="ecl-lang-select-page" >
  <span class="ecl-icon ecl-icon--generic-lang ecl-lang-select-page__icon"></span>
  <span class="ecl-lang-select-page__unavailable">français</span>
  <select class="ecl-lang-select-page__dropdown" aria-label="Choose your language">
    <option class="ecl-lang-select-page__dropdown-option" value="" selected>Nederlands</option>
          <option class="ecl-lang-select-page__dropdown-option" value="en" lang="en">English</option>
          <option class="ecl-lang-select-page__dropdown-option" value="hr" lang="hr">hrvatski</option>
          <option class="ecl-lang-select-page__dropdown-option" value="it" lang="it">italiano</option>
          <option class="ecl-lang-select-page__dropdown-option" value="lv" lang="lv">latviesu</option>
          <option class="ecl-lang-select-page__dropdown-option" value="hu" lang="hu">magyar</option>
      </select>
  <ul class="ecl-lang-select-page__list">
    <li class="ecl-lang-select-page__option ecl-lang-select-page__option--is-selected">Nederlands</li>
        <li class="ecl-lang-select-page__option"><a href="/en" hreflang="en" lang="en" rel="alternate" class="ecl-link ecl-lang-select-page__link">English</a></li>
        <li class="ecl-lang-select-page__option"><a href="/hr" hreflang="hr" lang="hr" rel="alternate" class="ecl-link ecl-lang-select-page__link">hrvatski</a></li>
        <li class="ecl-lang-select-page__option"><a href="/it" hreflang="it" lang="it" rel="alternate" class="ecl-link ecl-lang-select-page__link">italiano</a></li>
        <li class="ecl-lang-select-page__option"><a href="/lv" hreflang="lv" lang="lv" rel="alternate" class="ecl-link ecl-lang-select-page__link">latviesu</a></li>
        <li class="ecl-lang-select-page__option"><a href="/hu" hreflang="hu" lang="hu" rel="alternate" class="ecl-link ecl-lang-select-page__link">magyar</a></li>
      </ul>
</section>

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.eclLangSelectPages({
          dropdownOnChange: function (event) { alert('language changed to: ' + event.target.value ) }
        });
      });</script>
      </body>
</html>

