

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="link-block">
  <h3 class="link-block__title">Link block title</h3>
  <ul class="link-block__links">
    <li><a href="test1.html">Link one</a></li>
    <li><a href="test2.html">Link two</a></li>
    <li><a href="test3.html">Link three</a></li>
  </ul>
</div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

