

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <footer class="ecl-footer">
      <div class="ecl-footer__site-identity">
    <div class="ecl-container">
      <div class="ecl-row">
                <div class="ecl-col-sm ecl-footer__column">

          
                    <h4 class="ecl-h4">
            <a href="#">Digital single market</a>
          </h4>
          
                  </div>
                <div class="ecl-col-sm ecl-footer__column">

          
                    <p class="ecl-footer__label">Follow us:</p>
          
                    <ul class="ecl-footer__menu ecl-list-inline">
                                    <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="" href="#"><span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span>Facebook</a>
            </li>
                                                <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="" href="#"><span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span>Twitter</a>
            </li>
                                                <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="ecl-link--external" href="#"><span class=""></span>Other social media</a>
            </li>
                                  </ul>
                  </div>
                <div class="ecl-col-sm ecl-footer__column">

          
          
                    <ul class="ecl-footer__menu ecl-list-inline">
                                    <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="" href="#"><span class=""></span>Contact</a>
            </li>
                                                <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="" href="#"><span class=""></span>Site map</a>
            </li>
                                  </ul>
                  </div>
              </div>
    </div>
  </div>
    <div class="ecl-footer__site-corporate">
    <div class="ecl-container">
      <div class="ecl-row">
                <div class="ecl-col-sm ecl-footer__column">

          
                    <h4 class="ecl-h4 ecl-footer__title">European Commission</h4>
          
          
                    <ul class="ecl-footer__menu">
                                    <li class="ecl-footer__menu-item">
              <a class="" href="https://ec.europa.eu/commission/index_en">Commission and its priorities</a>
            </li>
                                                <li class="ecl-footer__menu-item">
              <a class="" href="https://ec.europa.eu/info/index_en"><span class=""></span>Policies information and services</a>
            </li>
                                  </ul>
                  </div>
                <div class="ecl-col-sm ecl-footer__column">

          
                    <h4 class="ecl-h4 ecl-footer__title">Follow the European Commission</h4>
          
          
                    <ul class="ecl-footer__menu ecl-list-inline">
                                    <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="" href="#"><span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span>Facebook</a>
            </li>
                                                <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="" href="#"><span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span>Twitter</a>
            </li>
                                                <li class="ecl-footer__menu-item ecl-list-inline__item">
              <a class="ecl-link--external" href="#"><span class=""></span>Other social media</a>
            </li>
                                  </ul>
                  </div>
                <div class="ecl-col-sm ecl-footer__column">

          
                    <h4 class="ecl-h4 ecl-footer__title">European Union</h4>
          
          
                    <ul class="ecl-footer__menu">
                                    <li class="ecl-footer__menu-item">
              <a class="ecl-link--external" href="#"><span class=""></span>EU institutions</a>
            </li>
                                                <li class="ecl-footer__menu-item">
              <a class="ecl-link--external" href="#"><span class=""></span>European Union</a>
            </li>
                                  </ul>
                  </div>
              </div>
    </div>
  </div>
    <div class="ecl-footer__ec">
    <div class="ecl-container">
      <div class="ecl-row">
                <div class="ecl-col-sm ">

          
          
                    <ul class="ecl-list-inline ecl-footer__menu">
                                    <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="" href="http://ec.europa.eu/info/about-commissions-new-web-presence_en"><span class=""></span>About the Commission's new web presence</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="" href="http://ec.europa.eu/info/resources-partners_en"><span class=""></span>Resources for partners</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="" href="http://ec.europa.eu/info/cookies_en"><span class=""></span>Cookies</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="" href="http://ec.europa.eu/info/legal-notice_en"><span class=""></span>Legal notice</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="" href="http://ec.europa.eu/info/contact_en"><span class=""></span>Contact</a>
            </li>
                                                <li class="ecl-list-inline__item ecl-footer__menu-item">
              <a class="" href="http://ec.europa.eu/info/europa-analytics_en"><span class=""></span>Europa Analytics</a>
            </li>
                                  </ul>
                  </div>
              </div>
    </div>
  </div>
    </footer>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

