

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <p class="ecl-paragraph">
  <strong>.ecl-u-text-capitalize</strong><br />
  <span class="ecl-u-text-capitalize">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-lowercase</strong><br />
  <span class="ecl-u-text-lowercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-uppercase</strong><br />
  <span class="ecl-u-text-uppercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-overline</strong><br />
  <span class="ecl-u-text-overline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-underline</strong><br />
  <span class="ecl-u-text-underline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-strike</strong><br />
  <span class="ecl-u-text-strike">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

<p class="ecl-paragraph">
  <strong>.ecl-u-text-none</strong><br />
  <span class="ecl-u-text-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</p>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

