

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="social-media-links social-media-links__horizontal">
  <p>Follow the latest progress and learn more about getting involved.</p>
  <span class="social-media-links__label">Share this blog post:</span>
  <ul class="social-media-links__list">
    <li class="social-media-links__item"><a href="http://facebook.com" title="Facebook" class="icon-social icon-social--facebook">Facebook</a></li>
    <li class="social-media-links__item"><a href="http://twitter.com" title="Twitter" class="icon-social icon-social--twitter">Twitter</a></li>
    <li class="social-media-links__item social-media-links__item--noicon"><a href="#">Other social networks.</a></li>
  </ul>
</div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

