

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    







<div class="ecl-tag">
      <span class="ecl-tag__label">tags</span>
  
            
              <a class="ecl-tag__item" href="#">apple</a>
                
              <a class="ecl-tag__item" href="#">orange</a>
                
              <a class="ecl-tag__item" href="#">lime</a>
                
              <a class="ecl-tag__item" href="#">strawberry</a>
            </div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

