

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    






<div class="ecl-radio-group" role="radiogroup" aria-labelledby="radio-example_label" id="radio-example">
  <p id="radio-example_label" class="ecl-sr-only">Small description</p>
          













<label for=opt-1 class="ecl-radio"><input class="ecl-radio__input ecl-sr-only" type="radio" id="opt-1" value="opt-1" name="radio-example" /><span class="ecl-radio__label">option 1</span></label>
          













<label for=opt-2 class="ecl-radio"><input class="ecl-radio__input ecl-sr-only" type="radio" id="opt-2" value="opt-2" name="radio-example" checked /><span class="ecl-radio__label">option 2</span></label>
          








  




<label for=opt-3 class="ecl-radio ecl-radio--is-disabled"><input class="ecl-radio__input ecl-sr-only" type="radio" id="opt-3" value="opt-3" name="radio-example" disabled /><span class="ecl-radio__label">option 3</span></label>
  </div>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

