

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    











<div class="ecl-context-nav" >
  <span class="ecl-context-nav__label">Label for contextual nav</span>
    <ul class="ecl-context-nav__list">
        <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone" href="#">Item one</a>
    </li>
        <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone" href="#">Item two</a>
    </li>
        <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone" href="#">Item three</a>
    </li>
        <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone" href="#">Item four</a>
    </li>
        <li class="ecl-context-nav__item ecl-context-nav__item--over-limit">
      <a class="ecl-link ecl-link--standalone" href="#">Item five</a>
    </li>
        <li class="ecl-context-nav__item ecl-context-nav__item--over-limit">
      <a class="ecl-link ecl-link--standalone" href="#">Item six</a>
    </li>
        <li class="ecl-context-nav__item ecl-context-nav__item--over-limit">
      <a class="ecl-link ecl-link--standalone" href="#">Item seven</a>
    </li>
    
        <li class="ecl-context-nav__item ecl-context-nav__more">
      







  
  



  <button class="ecl-button ecl-button--none ecl-button--caret-right ecl-context-nav__button ecl-link ecl-link--standalone">More</button>
    </li>
      </ul>
  </div>

    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () { ECL.contextualNavs(); });</script>
      </body>
</html>

