

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
     <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body class="">
    <main>
      <!-- Button dropdown -->

<div class="ecl-dropdown">
  







  
                            <button
    class="ecl-button ecl-button--default ecl-expandable__button"
     aria-controls="example-button-dropdown" aria-expanded="false" id="example-expandable-button" type="button">Create</button>  




  
                    

<ul class="ecl-link-block ecl-dropdown__body ecl-link-block__list"  id="example-button-dropdown" aria-labelledby="example-expandable-button" aria-hidden="true">
      <li class="ecl-link-block__item">
      <a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">European Commission</a>
    </li>
      <li class="ecl-link-block__item">
      <a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Priorities</a>
    </li>
      <li class="ecl-link-block__item">
      <a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#">Jobs, Growth and Investment</a>
    </li>
  </ul>

</div>

    </main>
    <script src="../../framework/scripts/europa.js"></script>
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () { ECL.initExpandables(); });
        ECL.dropdown('.ecl-dropdown');
        </script>
      </body>
</html>

