

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div class="file">
  <span class="icon icon--file file__icon"></span>
  <div class="file__metadata">
    <span class="file__title">File title example</span>
    <div class="file__info">
      <span class="file__content-language">English</span> (213.25 kB - PDF - 4 pages)
    </div>
  </div>
  <a href="#" class="btn btn-default file__btn">
    Download<span class="sr-only">(213.25 kB - PDF - 4 pages)</span>
  </a>
</div>

    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

