

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <!-- Start: @headings--h1 -->
<p>
<span class="h1">Heading h1</span>
</p>
<!-- End: @headings--h1 -->

<!-- Start: @headings--h2 -->
<p>
<span class="h2">Heading h2</span>
</p>
<!-- End: @headings--h2 -->

<!-- Start: @headings--h3 -->
<p>
<span class="h3">Heading h3</span>
</p>
<!-- End: @headings--h3 -->

<!-- Start: @headings--h4 -->
<p>
<span class="h4">Heading h4</span>
</p>
<!-- End: @headings--h4 -->

<!-- Start: @headings--h5 -->
<p>
<span class="h5">Heading h5</span>
</p>
<!-- End: @headings--h5 -->

<!-- Start: @headings--h6 -->
<p>
<span class="h6">Heading h6</span>
</p>
<!-- End: @headings--h6 -->

    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

