

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <!-- Start: @labels--default -->
<span class="label label--default ">Label default</span>
<!-- End: @labels--default -->

<!-- Start: @labels--status -->
<span class="label label--status ">Label status</span>
<!-- End: @labels--status -->

<!-- Start: @labels--highlight -->
<span class="label label--highlight ">Label highlight</span>
<!-- End: @labels--highlight -->

<!-- Start: @labels--meta -->
<span class="label label--meta ">Label meta</span>
<!-- End: @labels--meta -->

<!-- Start: @labels--primary -->
<span class="label label--primary ">Label primary</span>
<!-- End: @labels--primary -->

<!-- Start: @labels--success -->
<span class="label label--success ">Label success</span>
<!-- End: @labels--success -->

<!-- Start: @labels--info -->
<span class="label label--info ">Label info</span>
<!-- End: @labels--info -->

<!-- Start: @labels--warning -->
<span class="label label--warning ">Label warning</span>
<!-- End: @labels--warning -->

<!-- Start: @labels--danger -->
<span class="label label--danger ">Label danger</span>
<!-- End: @labels--danger -->

    </main>
    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

