

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <!-- Start: @logos-logotypebelow--bulgarian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-bg">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--bulgarian -->

<!-- Start: @logos-logotypebelow--english -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-en">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--english -->

<!-- Start: @logos-logotypebelow--czech -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-cs">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--czech -->

<!-- Start: @logos-logotypebelow--danish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-da">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--danish -->

<!-- Start: @logos-logotypebelow--german -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-de">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--german -->

<!-- Start: @logos-logotypebelow--estonian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-et">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--estonian -->

<!-- Start: @logos-logotypebelow--greek -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-el">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--greek -->

<!-- Start: @logos-logotypebelow--spanish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-es">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--spanish -->

<!-- Start: @logos-logotypebelow--french -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-fr">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--french -->

<!-- Start: @logos-logotypebelow--irish-gaeilge -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-ga">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--irish-gaeilge -->

<!-- Start: @logos-logotypebelow--croatian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-hr">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--croatian -->

<!-- Start: @logos-logotypebelow--italian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-it">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--italian -->

<!-- Start: @logos-logotypebelow--latvian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-lv">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--latvian -->

<!-- Start: @logos-logotypebelow--lithuanian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-lt">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--lithuanian -->

<!-- Start: @logos-logotypebelow--hungarian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-hu">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--hungarian -->

<!-- Start: @logos-logotypebelow--maltese -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-mt">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--maltese -->

<!-- Start: @logos-logotypebelow--dutch -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-nl">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--dutch -->

<!-- Start: @logos-logotypebelow--polish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-pl">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--polish -->

<!-- Start: @logos-logotypebelow--portuguese -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-pt">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--portuguese -->

<!-- Start: @logos-logotypebelow--romanian -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-ro">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--romanian -->

<!-- Start: @logos-logotypebelow--slovak -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sk">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--slovak -->

<!-- Start: @logos-logotypebelow--slovene -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sl">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--slovene -->

<!-- Start: @logos-logotypebelow--finnish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-fi">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--finnish -->

<!-- Start: @logos-logotypebelow--swedish -->
<div class="clearfix"> <!-- only required for the style guide -->
  <div class="language-sv">
    
<a href="#top" class="logo logo--logotypebelow " title="Home">
  <span class="sr-only">Home</span>
</a>

  </div>
</div>
<!-- End: @logos-logotypebelow--swedish -->

    </main>
    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

