

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <style>
      body {
        background-image:url(../../assets/alpha.jpg);
        margin: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body class="">
    <main>
      
      <!-- Start: @logos--bulgarian -->

      <div class="clearfix">
        <div class="language-bg">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--bulgarian -->

    

      <!-- Start: @logos--english -->

      <div class="clearfix">
        <div class="language-en">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--english -->

    

      <!-- Start: @logos--czech -->

      <div class="clearfix">
        <div class="language-cs">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--czech -->

    

      <!-- Start: @logos--danish -->

      <div class="clearfix">
        <div class="language-da">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--danish -->

    

      <!-- Start: @logos--german -->

      <div class="clearfix">
        <div class="language-de">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--german -->

    

      <!-- Start: @logos--estonian -->

      <div class="clearfix">
        <div class="language-et">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--estonian -->

    

      <!-- Start: @logos--greek -->

      <div class="clearfix">
        <div class="language-el">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--greek -->

    

      <!-- Start: @logos--spanish -->

      <div class="clearfix">
        <div class="language-es">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--spanish -->

    

      <!-- Start: @logos--french -->

      <div class="clearfix">
        <div class="language-fr">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--french -->

    

      <!-- Start: @logos--irish-gaeilge -->

      <div class="clearfix">
        <div class="language-ga">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--irish-gaeilge -->

    

      <!-- Start: @logos--croatian -->

      <div class="clearfix">
        <div class="language-hr">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--croatian -->

    

      <!-- Start: @logos--italian -->

      <div class="clearfix">
        <div class="language-it">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--italian -->

    

      <!-- Start: @logos--latvian -->

      <div class="clearfix">
        <div class="language-lv">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--latvian -->

    

      <!-- Start: @logos--lithuanian -->

      <div class="clearfix">
        <div class="language-lt">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--lithuanian -->

    

      <!-- Start: @logos--hungarian -->

      <div class="clearfix">
        <div class="language-hu">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--hungarian -->

    

      <!-- Start: @logos--maltese -->

      <div class="clearfix">
        <div class="language-mt">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--maltese -->

    

      <!-- Start: @logos--dutch -->

      <div class="clearfix">
        <div class="language-nl">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--dutch -->

    

      <!-- Start: @logos--polish -->

      <div class="clearfix">
        <div class="language-pl">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--polish -->

    

      <!-- Start: @logos--portuguese -->

      <div class="clearfix">
        <div class="language-pt">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--portuguese -->

    

      <!-- Start: @logos--romanian -->

      <div class="clearfix">
        <div class="language-ro">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--romanian -->

    

      <!-- Start: @logos--slovak -->

      <div class="clearfix">
        <div class="language-sk">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--slovak -->

    

      <!-- Start: @logos--slovene -->

      <div class="clearfix">
        <div class="language-sl">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--slovene -->

    

      <!-- Start: @logos--finnish -->

      <div class="clearfix">
        <div class="language-fi">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--finnish -->

    

      <!-- Start: @logos--swedish -->

      <div class="clearfix">
        <div class="language-sv">

          <a href="#top" class="ecl-logo ecl-logo--logotype" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
          <a href="#top" class="ecl-logo ecl-logo--logotypebelow" title="Home">
            <span class="ecl-sr-only">Home</span>
          </a>
        </div>
      </div>

      <!-- End: @logos--swedish -->

    
    </main>
    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

