

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
  </head>
  <body>
    


<form class="search-form">
  <div class="input-group">
    <label class="search-form__textfield-wrapper">
      <span class="sr-only">Search this website</span>
      <input type="search" class="search-form__textfield form-control" size="60" maxlength="128" title="Search">
    </label>
    <span class="search-form__btn-wrapper input-group-btn">
      <button class="search-form__btn btn btn-primary btn-search" value="Search" type="submit">Search</button>
    </span>
  </div>
</form>


    <script src="../../framework/scripts/europa.js"></script>
    
  </body>
</html>

