<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/ecl-fractal-theme/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/ecl-fractal-theme/css/blue.css?cachebust=0.2.1" type="text/css">


<title>Error rendering component preview-center-transparent | Europa Component Library</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>Error: Template @ec-europa/ecl-_preview-twig not found</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: Error: Template @ec-europa/ecl-_preview-twig not found
    at /Users/yannick/dev/ec-europa/next/node_modules/@frctl/twig/src/adapter.js:131:24
    at TwigAdapter.render (/Users/yannick/dev/ec-europa/next/node_modules/@frctl/twig/src/adapter.js:120:16)
    at ComponentSource._wrapInLayout (/Users/yannick/dev/ec-europa/next/node_modules/@frctl/fractal/src/api/components/source.js:269:43)
    at next (native)
    at onFulfilled (/Users/yannick/dev/ec-europa/next/node_modules/co/index.js:65:19)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/ecl-fractal-theme/js/ecl-fractal-theme.js?cachebust=0.2.1"></script>



</body>
</html>
