<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="#034ea1">
    <meta name="msapplication-TileColor" content="#034ea1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="apple-touch-icon" sizes="144x144" href="../../themes/ecl-fractal-theme/img/favicon/apple-touch-icon-144x144.png">
<meta name="msapplication-square70x70logo" content="../../themes/ecl-fractal-theme/img/favicon/mstile-70x70.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../themes/ecl-fractal-theme/img/favicon/apple-touch-icon-120x120.png">
<meta name="msapplication-square150x150logo" content="../../themes/ecl-fractal-theme/img/favicon/mstile-150x150.png">
<link rel="apple-touch-icon" sizes="57x57" href="../../themes/ecl-fractal-theme/img/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../themes/ecl-fractal-theme/img/favicon/apple-touch-icon-152x152.png">
<meta name="msapplication-square310x310logo" content="../../themes/ecl-fractal-theme/img/favicon/mstile-310x310.png">
<meta name="msapplication-wide310x150logo" content="../../themes/ecl-fractal-theme/img/favicon/mstile-310x150.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../themes/ecl-fractal-theme/img/favicon/apple-touch-icon-114x114.png">
<meta name="msapplication-TileImage" content="../../themes/ecl-fractal-theme/img/favicon/mstile-144x144.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../themes/ecl-fractal-theme/img/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../themes/ecl-fractal-theme/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="../../themes/ecl-fractal-theme/img/favicon/android-chrome-192x192.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../themes/ecl-fractal-theme/img/favicon/apple-touch-icon-60x60.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../themes/ecl-fractal-theme/img/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../themes/ecl-fractal-theme/img/favicon/favicon-96x96.png">
<link rel="shortcut icon" href="../../themes/ecl-fractal-theme/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/ecl-fractal-theme/ecl/ecl.css?cachebust=0.6.2" type="text/css">

<link rel="stylesheet" href="../../themes/ecl-fractal-theme/css/fractal.css?cachebust=0.6.2" type="text/css">


<title>Error rendering component preview-breadcrumbs | Europa Component Library</title>

</head>
<body class="language-en">



<div class="Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>Error: Template @ec-europa/_preview-twig not found</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: Error: Template @ec-europa/_preview-twig not found
    at /Users/yannick/dev/ec-europa/next/node_modules/@frctl/twig/src/adapter.js:131:24
    at TwigAdapter.render (/Users/yannick/dev/ec-europa/next/node_modules/@frctl/twig/src/adapter.js:120:16)
    at ComponentSource._wrapInLayout (/Users/yannick/dev/ec-europa/next/node_modules/@frctl/fractal/src/api/components/source.js:269:43)
    at next (native)
    at onFulfilled (/Users/yannick/dev/ec-europa/next/node_modules/co/index.js:65:19)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/ecl-fractal-theme/js/ecl-fractal-theme.js?cachebust=0.6.2"></script>



</body>
</html>
