

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/europa.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    <ul class="listing--title ">
  <li class="listing__item">
    <a href="#" class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</a>
  </li>
  <li class="listing__item">
    <a href="#" class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</a>
  </li>
</ul>

    <script src="../../framework/scripts/europa.js"></script>
      </body>
</html>

