/**
 * Page header standardised
 * @define page-header-standardised; weak
 */

// Import base
@import '@ecl/ec-base/ec-base';

@include check-imports(('ec-component-breadcrumb', 'ec-layout-grid'));

@mixin ecl-page-header-standardised() {
  .ecl-page-header-standardised {
    margin: 0;
    padding-bottom: $ecl-spacing-xl;

    .ecl-container
      > :first-child:not(.ecl-page-header-standardised__breadcrumb) {
      margin-top: 0;
      padding-top: $ecl-spacing-xl;
    }
  }

  .ecl-page-header-standardised__breadcrumb {
    margin-bottom: $ecl-spacing-xl;
  }

  .ecl-page-header-standardised__meta {
    color: $ecl-color-grey-75;
    font: $ecl-font-m;
    text-transform: uppercase;
  }

  .ecl-page-header-standardised__title {
    color: $ecl-color-grey;
    font: $ecl-font-3-xl;
    font-weight: $ecl-font-weight-bold;
    margin: 0;
  }

  .ecl-page-header-standardised__meta + .ecl-page-header-standardised__title {
    margin-top: $ecl-spacing-m;
  }

  .ecl-page-header-standardised__description {
    color: $ecl-color-grey;
    font: $ecl-font-prolonged-l;
    margin-bottom: 0;
    margin-top: $ecl-spacing-m;
    max-width: 80ch;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('lg') {
    .ecl-page-header-standardised__title {
      font: $ecl-font-4-xl;
      font-weight: $ecl-font-weight-bold;
    }

    .ecl-page-header-standardised__description {
      font: $ecl-font-prolonged-xl;
    }
  }
}

// Use mixin
@include exports('ec-component-page-header-standardised') {
  @include ecl-page-header-standardised;
}
