/**
 * Media container component
 * @define media-container
 */

@use 'sass:map';
@use '@ecl/vanilla-utility-media/media' as uMedia;

// Exposed variables
$theme: null !default;
$media-container: null !default;

.ecl-media-container {
  margin: 0;
}

.ecl-media-container__figure {
  border-radius: map.get($media-container, 'border-radius');
  box-shadow: map.get($media-container, 'shadow');
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.ecl-media-container__media {
  display: block;
  height: auto;
  min-height: 1px; // IE 11 fix
  object-fit: cover;
  width: 100%;

  > iframe {
    display: block;
    height: auto;
    width: 100%;
  }
}

.ecl-media-container__caption {
  background-color: map.get($media-container, 'caption-background-color');
  border: map.get($media-container, 'caption-border');
  color: map.get($media-container, 'caption-color');
  font: map.get($theme, 'font', 'm');
  padding: map.get($media-container, 'caption-padding');
  position: relative;
}

.ecl-media-container__expandable {
  margin-top: map.get($theme, 'spacing', 'xs');
  position: relative;
}

// Manual ratio
.ecl-media-container__media--ratio-16-9 {
  @include uMedia.aspect-ratio(16, 9);
}

.ecl-media-container__media--ratio-4-3 {
  @include uMedia.aspect-ratio(4, 3);
}

.ecl-media-container__media--ratio-3-2 {
  @include uMedia.aspect-ratio(3, 2);
}

.ecl-media-container__media--ratio-1-1 {
  @include uMedia.aspect-ratio(1, 1);
}

// Full width
// We have to substract the scrollbar width, as it is not handled well by vw unit)
.ecl-media-container--full-width {
  left: 50%;
  margin-inline-start: calc(
    -50vw + (#{map.get($media-container, 'scrollbar-width')} / 2)
  );
  width: calc(100vw - #{map.get($media-container, 'scrollbar-width')});
}

@if map-has-key($media-container, 'caption-before') {
  .ecl-media-container__caption {
    &::before {
      background-color: map.get($theme, 'color', 'yellow-100');
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      content: '';
      height: 4px;
      left: map.get($theme, 'spacing', 'l');
      position: absolute;
      top: 0;
      width: 32px;
    }
  }
}
