/**
 * Media container component
 * @define media-container
 */

@use "sass:map";
@use '@ecl/theme-dev/theme';

.ecl-media-container {
  margin: 0;
}

.ecl-media-container__media {
  display: none;
}

.ecl-media-container__caption {
  color: map.get(theme.$color, 'grey');
  font: #{map.get(theme.$font-prolonged-print, 'm')};
}
