/**
 * Media container component
 * @define media-container
 */

@use "sass:map";
@use '@ecl/theme-dev/maps/color';
@use '@ecl/theme-dev/maps/spacing';
@use '@ecl/theme-dev/maps/typography';

@mixin ecl-aspect-ratio($width, $height) {
  position: relative;

  /* stylelint-disable-next-line */
  &::before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  /* stylelint-disable-next-line */
  > iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.ecl-media-container {
  background-color: map.get(color.$color, 'grey-10');
  display: flex;
  flex-direction: column;
  margin: 0;
}

.ecl-media-container__media {
  display: block;
  height: auto;
  min-height: 1px; // IE 11 fix
  object-fit: cover;
  width: 100%;
}

.ecl-media-container__caption {
  color: map.get(color.$color, 'grey');
  font:  map.get(typography.$font-prolonged, 'm');
  padding: map.get(spacing.$spacing, 's');
}

// Ratio
.ecl-media-container__media--ratio-16-9 {
  @include ecl-aspect-ratio(16, 9);
}

.ecl-media-container__media--ratio-4-3 {
  @include ecl-aspect-ratio(4, 3);
}

.ecl-media-container__media--ratio-3-2 {
  @include ecl-aspect-ratio(3, 2);
}

.ecl-media-container__media--ratio-1-1 {
  @include ecl-aspect-ratio(1, 1);
}
