{% set _links = links|default([]) %}

<!-- Button dropdown -->
<div class="ecl-dropdown" id="dropdown1">
  {% include '@ecl/ec-component-button' with {
    'label': 'Create',
    'type_attribute': 'button',
    'extra_classes': 'ecl-expandable__button',
    'extra_attributes': [
      { 'name': 'aria-controls', 'value': 'example-button-dropdown1'},
      { 'name': 'aria-expanded', 'value': 'false'},
      { 'name': 'id', 'value': 'example-expandable-button1' },
    ]
  } %}
  {% include '@ecl/ec-component-link-block' with {
    'extra_classes': 'ecl-dropdown__body',
    'extra_attributes': [
      { 'name': 'id', 'value': 'example-button-dropdown1'},
      { 'name': 'aria-labelledby', 'value': 'example-expandable-button1'},
      { 'name': 'aria-hidden', 'value': 'true'},
    ],
    'links': _links,
  } %}
</div>
