/**
 * list-items
 * @define list-item; weak
 */

// Import base
@import '@ecl/generic-base/generic-base';

@mixin ecl-list-item() {
  .ecl-list-item {
    border-bottom: 1px solid map-get($ecl-colors, 'grey-10');
    list-style-type: none;
    margin: 0;
  }

  .ecl-list-item:first-child {
    border-top: 1px solid map-get($ecl-colors, 'grey-10');
  }

  .ecl-list-item__body {
    flex-grow: 1;
  }

  .ecl-list-item__link {
    color: $ecl-color-shade;
    display: flex;
    flex-direction: row;
    padding-bottom: map-get($ecl-spacing, 's');
    padding-top: map-get($ecl-spacing, 's');
    text-decoration: none;
  }

  .ecl-list-item__meta {
    color: map-get($ecl-colors, 'grey-75');
    margin-bottom: map-get($ecl-spacing, 's');
  }

  .ecl-list-item__detail {
    font-size: map-get($ecl-font-size, 's');
  }

  .ecl-list-item__title {
    color: $ecl-color-primary;
    font-size: map-get($ecl-font-size, 'm');
    margin-bottom: map-get($ecl-spacing, 's');
    margin-top: map-get($ecl-spacing, 's');
  }

  .ecl-list-item--highlight .ecl-list-item__title {
    font-size: map-get($ecl-font-size, 'l');
    height: 2.2em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ecl-list-item__link:hover,
  .ecl-list-item__link:focus {
    .ecl-list-item__title {
      color: $ecl-color-shade;
      text-decoration: underline;
    }
  }

  .ecl-list-item__primary {
    flex-shrink: 0;
    height: auto;
    margin-right: map-get($ecl-spacing, 'm');
    max-height: 5.55rem;
    max-width: 5.55rem;
    width: auto;
  }

  // Highlited item
  .ecl-list-item--highlight .ecl-list-item__link {
    flex-direction: column;
    margin-bottom: map-get($ecl-spacing, 's');
    padding-bottom: 0;
    padding-top: 0;
  }

  .ecl-list-item--highlight .ecl-list-item__primary {
    margin-right: 0;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  .ecl-list-item--highlight .ecl-list-item__body {
    background-color: map-get($ecl-colors, 'grey-10');
    padding-left: map-get($ecl-spacing, 's');
    padding-right: map-get($ecl-spacing, 's');
  }

  // Block item
  .ecl-list-item--block {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 0 map-get($ecl-spacing, 's') 0;
    padding: 0;

    .ecl-list-item__detail {
      color: inherit;
    }

    .ecl-list-item__link {
      background-color: map-get($ecl-colors, 'blue-100');
      color: inherit;
      padding: map-get($ecl-spacing, 's');
      text-decoration: none;
    }

    .ecl-list-item__link:hover,
    .ecl-list-item__link:focus {
      color: #fff;
    }

    .ecl-list-item__link:hover .ecl-list-item__title,
    .ecl-list-item__link:focus .ecl-list-item__title {
      color: #fff;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .ecl-list-item__title {
      color: inherit;
      font-size: map-get($ecl-font-size, 'm');
      margin: map-get($ecl-spacing, 'xxxs') 0 map-get($ecl-spacing, 'xxs');
    }
  }

  // Block item, add the ">" icon
  .ecl-list-item--block .ecl-list-item__title::after {
    @include ecl-icon--after();
    @include ecl-icon('right');

    width: 1rem;
  }

  // Navigation item
  .ecl-list-item--navigation {
    margin-bottom: map-get($ecl-spacing, 's');
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .ecl-list-item--navigation .ecl-list-item__link {
    border-top: 3px solid map-get($ecl-colors, 'yellow-100');
    padding: 0;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .ecl-list-item--navigation .ecl-list-item__title {
    font-size: map-get($ecl-font-size, 's');
    margin: 0;
    padding: map-get($ecl-spacing, 'xs') 0;
  }
  .ecl-list-item--navigation .ecl-list-item__detail {
    margin: 0 0 map-get($ecl-spacing, 'xs');
  }

  .ecl-list-item--navigation .ecl-list-item__link:hover {
    border-top-color: map-get($ecl-colors, 'blue-100');

    .ecl-list-item__title {
      color: map-get($ecl-colors, 'blue-100');
      text-decoration: none;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(lg) {
    .ecl-list-item--navigation .ecl-list-item__title {
      font-size: map-get($ecl-font-size, 'm');
      padding: map-get($ecl-spacing, 'xs') 0 map-get($ecl-spacing, 'm');
    }
  }
}
