/**
 * Site header
 * @define site-header ; weak
 */

// Import base
@import '@ecl/eu-base/eu-base';

@mixin ecl-site-header-print() {
  .ecl-site-header__logo-image {
    height: 1.5cm;
    width: 8.7cm;
  }

  .ecl-site-header__selector {
    display: none;
  }
}

// Use mixin
@include exports('eu-component-site-header-print') {
  @include ecl-site-header-print;
}
